{extend name="public/base" /}
{block name="css-customize"}
{/block}
{block name="content"}
<!--缩略图-->
<section id="uploadSingleImgHtml" style="display: none;">
	<p class="f20 upload_st_logo"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
	<form>
		<div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" name="">
					<img class="upload_img" src="" alt="">
					<input type="hidden" class="layer-thumbnail-picture img" data-src="" value=""/>
				</div>
				<!--<p>企业营业执照</p>-->
			</div>
		</div>
	</form>
</section>

<section id="editGoodsLabel" style="display:none;">
	<ul class="vendorInfoList">
		<li data-id="1">标签1</li>
		<li data-id="2">标签2</li>
		<li data-id="3">标签3</li>
	</ul>
</section>
<!--编辑商品参数-->
<section id="editGoodsParameter" style="display: none;">
	<div>
		<textarea class="editGoodsText" name="" id="" cols="30" rows="10" val=""></textarea>
	</div>
</section>
<!--设置商品的检索品类-->
<section id="categoryContent" style="display:none;">
    <div class="category-wrapper">
        <div class="category-left-menu">
            <ul class="category-tab">
                <li class="current">
                    <a href="javascript:void(0);">大类1</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类2</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类3</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类4</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类5</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类6</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类7</a>
                </li>
                <li>
                    <a href="javascript:void(0);">大类8</a>
                </li>
            </ul>
        </div>
        <div class="category-content-wrapper">
            <!--<p>设置商品的检索品类标签<br/>方法：点击左边大类，右边</p>-->
            <div class="category-content">
                <ul class="category-type columns_flex">
                    <li>
                        <a>分类1111</a>
                    </li>
                    <li>
                        <a>分类1111</a>
                    </li>
                    <li>
                        <a>分类1111</a>
                    </li>
                    <li>
                        <a>分类2222</a>
                    </li>
                    <li>
                        <a>分类22222</a>
                    </li>
                    <li>
                        <a>分类22222</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<article class="f24">
	<section>
		<form class="addProductContent">
			<ul>
				<li>
					<span class="form-title">商品名称</span>
					<input type="text" name="name" value="" placeholder="商品名称,字数限18字" class="goods-name input-text">
				</li>
				<li>
					<span class="form-title">商品特点</span>
					<textarea rows="" cols="" name="trait" placeholder="商品简要说明,字数限28字" class="goods-character input-text"></textarea>
				</li>
				<li>
					<span class="form-title">商品价格</span>
                    <span class="price-flex">
                        <label for="">结算价￥</label>
                        <input type="text" name="settle_price" value="" placeholder="68.00" class="settle-price">
                    </span>
                    <span class="price-flex">
                        <label for="">零售价￥</label>
                        <input type="text" name="retail_price" value="" placeholder="688.00" class="retail-price">
                    </span>
				</li>
				<li >
					<a href="javascript:void(0);" class="upload-thumbnail right-arrow" >上传商品缩略图</a>
					<input type="hidden" class="hidden_img" value="" name="thumb_img">
				</li>
				<li class="">
					<a href="javascript:void(0);" class="uploadFocusPicture right-arrow">上传商品首焦图</a>
					<input type="hidden" class="hidden_img" value=""  name="main_img">
				</li>
				<li class="">
                    <a href="javascript:void(0);" class="uploadGoodsVideo right-arrow">上传商品视频(可选项)</a>
                    <input type="hidden" class="goods-video" value="" data-src="" name="goodsVideo">
                </li>
				<li class="">
					<a href="javascript:void(0);" class="editGoodsLabel right-arrow" >归属店铺分类(系列)</a>
					<input type="hidden" class="goods-tag" data-id="" value="" name="tag">
				</li>
				<li class="">
                    <a href="javascript:void(0);" class="set-category right-arrow">设置检索品类</a>
                    <input type="hidden" class="select-category" data-src="" value="" name="selectCategory">
                </li>
				<li class="">
					<a href="javascript:void(0);" class="editGoodsParameter right-arrow">编辑商品参数</a>
					<input type="hidden" class="goods-parameter" value="" name="parameters">
				</li>
				<li class="">
					<a href="javascript:void(0);" class="editDetail right-arrow">编辑商品详情</a>
					<input type="hidden" class="goods-detail" data-echoed_src="" data-src="" value="" name="goods_detail">
				</li>
			</ul>
		</form>
	</section>
</article>
<a href="javascript:void(0);" class="identifyNewGoods foot-btn f24">确定</a>
{/block}
{block name="common"}
{include file="template/right_side_bar.html" /}
{include file="template/upload-multi_img.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="factory_js/goods.js"></script>
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script type="text/javascript">
</script>
{/block}