{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<!--缩略图-->
<section id="uploadSingleImgHtml" style="display: none;">
	<p class="f20 picture-tipc-box"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
	<form>
		<div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleImg" name="">
					<img class="upload_img" src="" alt="">
					<input type="hidden" class="layer-thumbnail-picture img" data-src="" value=""/>
				</div>
				<!--<p>企业营业执照</p>-->
			</div>
		</div>
	</form>
	<div class="error_tipc"></div>
</section>
<!--单视频-->
<section id="uploadSingleVideoHtml" style="display: none;">
	<p class="f20 picture-tipc-box"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
	<form>
		<div class="upload-picture-module f24">
			<div>
				<div class="picture-module">
					<input type="file" class="uploadImg uploadSingleVideo" name="">
					<video class="upload_img upload-video" src="" autoplay="autoplay"></video>
					<input type="hidden" class="layer-thumbnail-picture img" data-src="" value=""/>
				</div>
			</div>
		</div>
	</form>
	<div class="error_tipc"></div>
</section>
<section id="editGoodsLabel" style="display:none;">
	<ul class="vendorInfoList">
		{volist name="seriesList" id="vo"}
			<li data-id="{$vo.id}">{$vo.name}</li>
		{/volist}
	</ul>
</section>
<!--编辑商品参数-->
<section id="editGoodsParameter" style="display: none;">
	<div>
		<textarea class="editGoodsText" name="" id="" cols="30" rows="10" val="" placeholder="请输入商品参数"></textarea>
	</div>
</section>

<article class="f24 app-content">
	<section class="app-shell">
		<div class="app-view-wrapper">
			<div class="app-view">
				<div class="bottomLine">
					<div class="top_bar top-title">
						{notempty name="goodsInfo"}
						<h2>编辑商品</h2>
						{else /}
						<h2>增加商品</h2>
						{/notempty}
						<div class="">
							<a class="home top_icon" href="/index.php/factory/Index/index.html">首页</a>
						</div>
					</div>
				</div>
				<div>
					<form class="addProductContent">
						<ul>
							{notempty name="goodsInfo"}
							<input type="hidden" class="goods-id" value="{$goodsInfo['id']|default=''}"  name="id"/>
							{/notempty}

							<li>
								<span class="form-title">商品名称</span>
								<input type="text" name="name" value="{$goodsInfo['name']|default=''}" placeholder="商品名称,字数限18字" class="goods-name input-text">
							</li>
							<li>
								<span class="form-title">商品特点</span>
								<textarea rows="" cols="" name="trait" placeholder="商品简要说明,字数限28字" class="goods-character input-text">{$goodsInfo['trait']|default=''}</textarea>
							</li>
							<li>
								<span class="left">商品分类</span>
								<div class="form_goods_type">
									{notempty name="goodsInfo"}
										{if $goodsInfo.type == 1}
										<a href="javascript:void(0);" class="goods-type current" data-type="1">产品类</a>
										<a href="javascript:void(0);" class="goods-type" data-type="2">服务类</a>
										{elseif $goodsInfo.type == 2}
										<a href="javascript:void(0);" class="goods-type" data-type="1">产品类</a>
										<a href="javascript:void(0);" class="goods-type current" data-type="2">服务类</a>
										{else /}
										{/if}
									{else /}
									<a href="javascript:void(0);" class="goods-type" data-type="1">产品类</a>
									<a href="javascript:void(0);" class="goods-type" data-type="2">服务类</a>
									{/notempty}

								</div>
							</li>
							<li>
								<span class="form-title">展示价格</span>
								<span class="price-flex">
									<label for="">优惠价￥</label>
									<input type="text" name="sale_price" value="{$goodsInfo['sale_price']|default=''}" placeholder="688.00" class="retail-price f24">
								</span>
								<span class="price-flex">
									<label for="">零售价￥</label>
									<input type="text" name="retail_price" value="{$goodsInfo['retail_price']|default=''}" placeholder="688.00" class="retail-price f24">
								</span>
							</li>

							<!--<li class="columns_flex">-->
								<!--<span class=form-title ><font color="#FF0000">*</font>包装单位：</span>-->
								<!--<select name="package_unit" class="selectbox">-->
									<!--<option value="1">55</option>-->
									<!--<option value="5">66</option>-->
									<!--<option value="4">77</option>-->
									<!--<option value="6">88</option>-->
									<!--<option value="7">99</option>-->
								<!--</select>-->
								<!--&lt;!&ndash;<select name="package_unit" class="selectbox">&ndash;&gt;-->
									<!--&lt;!&ndash;<notempty name="unitList">&ndash;&gt;-->
										<!--&lt;!&ndash;<volist name="unitList" id="vo">&ndash;&gt;-->
											<!--&lt;!&ndash;<option value="{$vo.key}">{$vo.value}</option>&ndash;&gt;-->
										<!--&lt;!&ndash;</volist>&ndash;&gt;-->
									<!--&lt;!&ndash;</notempty>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
							<!--</li>-->

							<!--<li class="columns_flex">-->
								<!--<span class=form-title ><font color="#FF0000">*</font>采购单位：</span>-->
								<!--<select name="package_unit" class="selectbox">-->
									<!--<option value="1">55</option>-->
									<!--<option value="5">66</option>-->
									<!--<option value="4">77</option>-->
									<!--<option value="6">88</option>-->
									<!--<option value="7">99</option>-->
								<!--</select>-->
								<!--&lt;!&ndash;<select name="package_unit" class="selectbox">&ndash;&gt;-->
								<!--&lt;!&ndash;<notempty name="unitList">&ndash;&gt;-->
								<!--&lt;!&ndash;<volist name="unitList" id="vo">&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="{$vo.key}">{$vo.value}</option>&ndash;&gt;-->
								<!--&lt;!&ndash;</volist>&ndash;&gt;-->
								<!--&lt;!&ndash;</notempty>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
							<!--</li>-->

							<li >
								<a href="javascript:void(0);" class="upload-thumbnail right-arrow" >上传商品缩略图(1张)</a>
								<input type="hidden" class="hidden_img" value="{$goodsInfo['thumb_img']|default=''}" name="thumb_img">
							</li>
							<li class="">
								<a href="javascript:void(0);" class="uploadFocusPicture right-arrow">上传商品首焦图(最多6张)</a>
								<input type="hidden" class="main_img" value="" data-src="{$goodsInfo['main_img']|default=''}" data-picture-num="6" name="main_img">
							</li>
							<li class="">
								<a href="javascript:void(0);" class="uploadVideo right-arrow">上传商品视频(可选项)</a>
								<input type="hidden" class="hidden_video" value="{$goodsInfo['goods_video']|default=''}" data-src="{$goodsInfo['goods_video']|default=''}" name="goods_video">
							</li>

							<li class="">
								<a href="javascript:void(0);" class="set-category right-arrow">设置检索品类</a>
								<input type="hidden" class="select-category" data-category-id="{$goodsInfo['categoryArray']|default=''}" value="" name="selectCategory">
							</li>

							<li class="">
								<a href="javascript:void(0);" class="editGoodsParameter right-arrow">编辑商品参数</a>
								<input type="hidden" class="goods-parameter" value="{$goodsInfo['parameters']|default=''}" name="parameters">
							</li>
							<li class="">
								<a href="javascript:void(0);" class="editDetail right-arrow">编辑商品详情</a>
								<input type="hidden" class="goods-detail" data-echoed_src="" data-src="{$goodsInfo['details_img']|default=''}" data-picture-num="0" value="" name="goods_detail">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
		<a href="javascript:void(0);" class="identifyNewGoods foot-btn f24">确定</a>
	</section>
</article>

{/block}
{block name="common"}
{include file="template/upload-multi_img.html" /}
{include file="template/category.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="factory_js/goodsEdit.js"></script>
<script type="text/javascript" src="api_common_js/uploadImgToTemp.js"></script>
<script type="text/javascript"> 
</script>
{/block}