
{notempty name='list'}
{volist name="list" id="vo"}
<li>
    <a class="product-square-box">
        {notempty name='vo.thumb_img'}
        <img src="public_uploads/{$vo.thumb_img}" alt="" class="product-square-img">
        {else /}
        <img src="public_img/default/no_pic_100.jpg" alt="" class="product-square-img">
        {/notempty}
    </a>
    <p class="product-title">{$vo.name}</p>
    <div class="columns_flex two-flex">
        <div class="pink">
            ￥<price>5.00</price>
        </div>
        {if $vo.shelves == 1 }
        <a href="javascript:void(0);" class="shelf small-btn apply-shelf" disabled="disabled">已申请</a>
        {elseif $vo.shelves == 2 /}
        <a href="javascript:void(0);" class="shelf small-btn down-shelf" data-shelf="0">下架</a>
        {else /}
        <a href="javascript:void(0);" class="shelf small-btn up-shelf"  data-shelf="1">上架</a>
        
        {/if}

    </div>
</li>
{/volist}
{/notempty}