
<div class="columns_flex l-r-sides all-goods-list">
    <a href="javascript:void(0);" data-id="1">
        <img src="public/static/common/img/base_info.png" alt="" class="">
        <span class="goods-name">111</span>
    </a>
    <a href="javascript:void(0);" data-id="2">
        <img src="public/static/common/img/base_finish.png" alt="">
        <span class="goods-name">222</span>
    </a>
    <a href="javascript:void(0);" data-id="3">
        <img src="public/static/common/img/base_address.png" alt="">
        <span class="goods-name">333</span>
    </a>
    <a href="javascript:void(0);" data-id="4">
        <img src="public/static/common/img/base_address.png" alt="">
        <span class="goods-name">444</span>
    </a>
</div>