<div class="columns_flex l-r-sides all-goods-list" >
{notempty name='list'}
{volist name="list" id="vo"}
<a href="javascript:void(0);" data-id="{$vo.id}" class="goods">
    {notempty name='vo.thumb_img'}
    <img src="public_uploads/{$vo.thumb_img}" alt="" class="">
    {else /}
    <img src="public_img/default/no_pic_100.jpg" alt="" class="product-square-img">
    {/notempty}
    <span class="goods-name">{$vo.name}</span>
</a>
{/volist}
{else/}
<div class='loading'>没有符合条件的记录！</div>
{/notempty}
</div>
{$list|raw}

<div class="classify-label-content ">
    {notempty name='list'}
        {volist name="list" id="vo"}
            <div class="columns_flex tag-item first-tag">
                <span class="classify-tag-name" data-series-id="{$vo.id}" data-sort="{$vo.sort}">{$vo.name}</span>
                        <span class="classify-operate-btn">
                            <a href="javascript:void(0);" class="edit-icons">编辑</a>
                            <a href="javascript:void(0);" class="del-icons">删除</a>
                            <a href="javascript:void(0);" class="move-btn move-icons move-disabled-icons" data-move="0">上移</a>
                            <a href="javascript:void(0);" class="down-btn  down-icons" data-move="1">下移</a>
                        </span>
            </div>
        {/volist}
    {else/}
    <div class='loading'>没有符合条件的记录！</div>
    {/notempty}
</div>
{$list|raw}
