{notempty name='list'}
{volist name="list" id="vo"}
<li data-id="{$vo.id}">
    <a href="javascript:void(0);" data-id="{$vo.id}" class="goods">
        {notempty name='vo.thumb_img'}
        <img src="public_uploads/{$vo.thumb_img}" alt="" class="product-square-img">
        {else /}
        <img src="public_img/default/no_pic_100.jpg" alt="" class="product-square-img">
        {/notempty}
    </a>
    <p class="product-title goods-name">{$vo.name}</p>
    <div class="columns_flex two-flex">
        <div class="pink">
            ￥<price>{$vo.sale_price}</price>
        </div>
    </div>
</li>
{/volist}
{else /}
{if $page == 1}
<li class='tag-item'>没有符合条件的记录！</li>
{else /}
{/if}
{/notempty}