{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="">
		<nav class="columns_flex channel_nav manufacturer_nav supply-nav">
			<a href="javascript:void(0);" class="current" data-type="purchases_store">
				<span class="exclusive"></span>
				采购供应联营
			</a>
			<a href="javascript:void(0);" data-type="commission_store">
				<span class="classify" ></span>
				分成供应联营
			</a>
			<a href="javascript:void(0);" data-type="retail_store">
				<span class="purchasers" ></span>
				零售供应联营
			</a>
		</nav>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex subNav3 f22">
			<a class="column_type current" data-page-type="manage">商品管理</a>
            <a class="column_type" data-page-type="sort">商品排序</a>
			<a class="column_type  " data-page-type="shelf">上架管理</a>
		</div>
	</section>
	<section>
		<div>
            企业名称:
            <span>{$factory.name}</span>
        </div>
		<p>采购店铺提供产品给美容店家进行B2F联合采购</p>
		<div class="content-wrapper">
			<ul class="columns_flex flex-both-side" id="list">

			</ul>
		</div>
	</section>
</article>
<a href="{:url('goods/edit')}" class="increase-commodity foot-btn f24">增加商品</a>
{/block}
{block name="common"}
{include file="template/loading.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="factory_js/goodsManage.js"></script>
<script type="text/javascript">

</script>
{/block}