{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="">
		<nav class="columns_flex channel_nav manufacturer_nav supply-nav">
			<a href="javascript:void(0);" class="current" data-type="purchases_store">
				<span class="exclusive"></span>
				采购供应联营
			</a>
			<a href="javascript:void(0);" data-type="commission_store">
				<span class="classify" ></span>
				分成供应联营
			</a>
			<a href="javascript:void(0);" data-type="retail_store">
				<span class="purchasers" ></span>
				零售供应联营
			</a>
		</nav>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex subNav3 f22">
			<a class="column_type current" data-page-type="manage">商品管理</a>
            <a class="column_type" data-page-type="sort">商品排序</a>
			<a class="column_type  " data-page-type="shelve">上架管理</a>
		</div>
	</section>
	<section>
		<div>
            企业名称:
            <span>达安有限公司</span>
        </div>
		<p>采购店铺提供产品给美容店家进行B2F联合采购</p>
		<div class="content-wrapper">
			<ul class="columns_flex flex-both-side" id="list">

			</ul>
		</div>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/loading.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<!--<script type="text/javascript" src="factory_js/goods.js"></script>-->
<script type="text/javascript">
	$(function () {
		var storeType=$('.channel_nav a.current').data('type');
        var pageType = $('.subNav3 a.current').data('page-type');
        if(pageType == 'shelve' || pageType == 'manage'){
            var config = {
                pageSize:4,
				storeType:storeType,
                pageType:pageType,
            };
			var url = module+'goods/getList';
            getPage(url,config);
        }
		$('.channel_nav a').on('click',function(){
            var _this=$(this);
                _this.addClass('current').siblings().removeClass('current');
			var pageType=$('.subNav3 a.current').data('page-type');
            var storeType=_this.data('type');
            if(pageType == 'shelve' || pageType == 'manage'){
                var config = {
                    pageSize:4,
					storeType:storeType,
                    pageType:pageType,
                };
				currentPage=1;
				requestEnd=false;
				var url = module+'goods/getList';
				getPage(url,config);
            }
        });
        $('.subNav3 a').on('click',function(){
            var _this=$(this);
                _this.addClass('current').siblings().removeClass('current');
            var pageType =_this.data('page-type');
			 var storeType=$('.channel_nav a.current').data('type');
            if(pageType == 'shelve' || pageType == 'manage'){
                var config = {
                    pageSize:4,
					storeType:storeType,
                    pageType:pageType,
                };
				currentPage=1;
				requestEnd=false;
				var url = module+'goods/getList';
				getPage(url,config);
            }
        });
		$('body').on('click','.shelf',function(){
			var shelfStatus=$(this).data('shelf');
			if(shelfStatus==1){
				$(this).data('shelf',0);
				$(this).removeClass('shelf').addClass('apply-shelf').text('已申请');
			}else{
				$(this).data('shelf',1);
				$(this).addClass('up-shelf').text('上架');
			}
		})
	});

	//上拉加载更多
	var loadTrigger = false;//加载触发器
	$(window).on('scroll',function(){
		if(loadTrigger && $(document).scrollTop()+$(window).height()>=$(document).height()){
			loadTrigger = false;
            var pageType = $('.subNav3 a.current').data('page-type');
            var storeType = $('.channel_nav a.current').data('type');
            if(pageType == 'shelve' || pageType == 'manage'){
                var config = {
                    pageSize:4,
					storeType:storeType,
                    pageType:pageType,
                };
				var url = module+'goods/getList';
				getPage(url,config);
            }
		}
	});

	//获取列表
	var currentPage = 1;//记录当前页
	var requestEnd = false;//请求结束标记
	function getPage(url,config) {
		console.log(config);
		var postData = $.extend({},config);
		postData.page = currentPage ? currentPage : 1;
		postData.pageSize = postData.pageSize?postData.pageSize:4;
		//请求结束标志
		if(requestEnd){
			dialog.error('没有更多啦');
			loadTrigger = true;
			return false;
		}
		$.ajax({
			url: url,
			data: postData,
			type: 'get',
			dataType:'json',
			beforeSend: function(){
				$('.loading').show();
			},
			error:function (xhr) {
				$('.loading').hide();
				dialog.error('AJAX错误');
			},
			success: function(data){
				$('.loading').hide();
				if(currentPage == 1){ 
					$('#list li').remove();
					$('#list').append(data);
				}else{
					$('#list li:last').after(data);
				}
				if($($.parseHTML(data)).length<postData.pageSize){
					requestEnd = true;
				}
				currentPage ++;
				loadTrigger = true;
			}
		});

	}
	

</script>
{/block}