{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<section id="goodsvideoLayer" style="display: none;">
	<div class="video-layer">
		<video width="" height="" src="public/static/common/video1.mp4" autoplay="autoplay"></video>
	</div>
</section>
<article class="f24">
	<section class="top_nav_fixed">
		<div class="top_bar top columns_flex">
			<div class="each_column">
				<a href="javascript:void(0);" class=" goods-video">视频</a>
			</div>
			<div class="each_column">
				<a href="javascript:void(0);" class=" qr-code">店铺二维码</a>
			</div>
			<div class="each_column top_search_module">
				<input type="button" class="search_btn"/>
				<input type="text" class="search_text" placeholder="搜索"/>
			</div>
			<div class="each_column">
				<a class="personal_center">我的</a>
			</div>
			<div class="each_column">
				<a class="home">首页</a>
			</div>
		</div>
	</section>
	<section class="">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public/static/common/img/banner/home-banner1.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public/static/common/img/banner/home-banner2.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public/static/common/img/banner/home-banner3.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public/static/common/img/banner/home-banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>
	</section>
	<section class="">
		<ul class="list-item">
			<li>
				<div class="row-item-mgl">
					<div class="columns_flex l-r-sides">
						<div >
                            <span class="retail-price pink f28">￥
                                <price>500.00</price>
                            </span>
							<del>￥800</del>
						</div>
						<div>
							<a>赞</a>
							<a>分享</a>
						</div>
					</div>
					<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
					<div>12g*20条 /盒</div>
					<p>产品富含小分子活性多肽以及多种医药级成分，较小的分子，极高的肌肤亲活力，有效调节肌肤油脂分泌，抑制肌肤脂肪酶、蛋白酶活性，预防肌肤粉刺、青春痘的产生。</p>

				</div>
				<div class="row-item-mgl">
					<span class="content-label">促销活动</span>
					<p class="text-color-ef">大优惠，路过不要错过大优惠，路过不要错过大优惠，路过不要错过大优惠，路过不要错过</p>
				</div>
				<div class="row-item-mgl">
					<div class="columns_flex l-r-sides">
						<div>采购箱规格<span>50</span>盒/箱</div>
						<div>
							<span class="pink">￥<price>5</price>/箱</span>
						</div>
					</div>
				</div>
				<div class="row-item-mgl columns_flex l-r-sides">
					<span>采购数量(箱)</span>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="1" class="f24 gshopping_count">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
			<li>
				<div class="columns_flex l-r-sides">
					<div class="">
						<span class="count-down-icons left"></span>
						<div class="right">
							<p>本周联合采购截止日还剩</p>
							<div>
								<span>8</span>小时
								<span>8</span>分
								<span>8</span>秒
							</div>
						</div>
					</div>
					<a class="text-color-gr invite-friends">
						<span></span>
						邀好友参加
					</a>
				</div>
			</li>
			<li>
				<div class="columns_flex l-r-sides">
					<div>
						<div>
							<img src="" alt="">
							<span>供应商简称</span>
						</div>
						<div>
							<img src="" alt="">
							<span>官方旗舰店</span>
						</div>
					</div>
					<div>
						<a href="javascript:void(0);" class="text-color-gr">+关注供应商</a>
						<a class="text-color-gr go-shopping"><span></span>进店逛逛</a>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<div class="detail-nav columns_flex floor-nav">
		<a href="javascript:void(0);" class="scroll-nav current" id="c">商品参数</a>
		<!--<a href="javascript:void(0);" class="scroll-nav" id="s">商品视频</a>-->
		<a href="javascript:void(0);" class="scroll-nav" id="x">商品详情</a>
		<a href="javascript:void(0);" class="scroll-nav" id="f">评分评论</a>
	</div>
	<div class="floor-content">
		<section class="scroll-floor floor1">
			<h3>商品参数</h3>
		</section>
		<!--<section class="scroll-floor floor2">
            <h3>商品视频</h3>
        </section>-->
		<section class="scroll-floor floor2">
			<h3>商品详情</h3>
		</section>
		<section class="scroll-floor floor3">
			<h3>评分评论</h3>
			<div class="goods_star_score comment_star_module">
				<div class="five_star">
					<div class="star_img">
						<img src="public/static/common/img/starred.png">
						<img src="public/static/common/img/starred.png">
						<img src="public/static/common/img/starred.png">
						<img src="public/static/common/img/star.png">
						<img src="public/static/common/img/star.png">
					</div>
					<span class="fraction" data-score="0">0分</span>
				</div>
				<a href="javascript:void(0);" class="comment_num">0人评论</a>
			</div>
		</section>
	</div>
</article>
<a href="http://192.168.1.101:8008/demo/joint-deployment.4.html" class="foot-btn f24">确定预览</a>

{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}


<script type="text/javascript">

</script>
{/block}