{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<article class="f24">
	{include file="public/store_operation_head" /}
	<section class="bottomLine">
		<nav class="columns_flex channel_nav manufacturer_nav">
			<a href="{:url('Operation/index')}">
				店铺提醒
			</a>
			<a href="javascript:void(0);" class="current">
				店铺管理
			</a>
			<a href="{:url('Promotion/manage')}">
				营销推广
			</a>
			<a href="javascript:void(0);">
				官方活动
			</a>
		</nav>
	</section>
	<section class="specific_type store-manage-type bottomLine">
		<div class="columns_flex f20">
			<a href="{:url('Operation/set')}">设置</a>
			<a class="" href="{:url('Goods/manage')}">商品</a>
			<a class="column_type current">排序</a>
			<a href="{:url('Goods/setInventory')}">入仓</a>
			<a href="{:url('Goods/setShelf')}">上架</a>
			<a>卡券</a>
		</div>
	</section>
	<section class="content-marginLeft">
		<p class="columns_flex l-r-sides sort-title">
			<span>数字排序法(数字大排前)</span>
			<span>位移排序法</span>
		</p>
		<div class="classify-label-content">
			<ul class="" id="list"></ul>
		</div>
	</section>
</article>
<a href="javascript:void(0)" class="increase-commodity foot-btn f24">保存排序</a>
{/block}
{block name="common"}
{include file="template/loading.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/paging.js"></script>

<script type="text/javascript">
	var config = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:6,
		pageType:'sort'
	};
	$(function () {
		//没有默认店铺
		var notDefaultStore = "{$notDefaultStore|default=0}";
		if(notDefaultStore == 0){
			//初始化商品列表
			getPagingList(config,postData);
		}
		 //上移
        $('body').on('click','.up-btn',function(){
            var _this=$(this);
            var _thisLi = _this.parents('li');
            //交换排序值
            var _thisSortVal = _thisLi.find('input.sort').val();
            _thisLi.find('input.sort').val(_thisLi.prev().find('input.sort').val());
            _thisLi.prev().find('input.sort').val(_thisSortVal);
            //交换位置
            _thisLi.insertBefore(_thisLi.prev());
            //禁用移动按钮
            disableBtn();
        });
        //下移
        $('body').on('click','.down-btn',function(){
            var _this=$(this);
            var _thisLi = _this.parents('li');
            //交换排序值
            var _thisSortVal = _thisLi.find('input.sort').val();
            _thisLi.find('input.sort').val(_thisLi.next().find('input.sort').val());
            _thisLi.next().find('input.sort').val(_thisSortVal);
            //交换位置
            _thisLi.insertAfter(_thisLi.next());
            disableBtn();
        });
		//排序
		$('body').on('click','.increase-commodity',function(){
			var postData ={};
			var dataArray=[];
			var dataOjb={};
			$.each($('.classify-label-content li'),function(i,val){
				var _this = $(this);
				var id = _this.data('id');
				var sort = _this.find('.sort').val();
				dataOjb={
					id:id,
					sort:sort,
					line_num : i
				};
				dataArray.push(dataOjb);
			});
			postData.sortData = dataArray;
			var url = module+'goods/setSort';
			$.ajax({
				url: url,
				data: postData,
				type: 'post',
				dataType:'json',
				beforeSend: function(){
				},
				success: function(data){
                  if(data.status == 0){
					  dialog.error(data.info);
					  return false;
				  }
					dialog.success(data.info,location.reload());
				},
				error:function (xhr) {
					dialog.error('AJAX错误');
				},
			});
		})
	});
	//下拉加载
	$(window).on('scroll',function(){
		if(config.loadTrigger && $(document).scrollTop()+$(window).height()>=$(document).height()){
			config.loadTrigger = false;
			getPagingList(config,postData);
		}
	});


</script>
{/block}