{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<article class="f24 app-content">
	<section class="app-shell">
		<div class="app-view-wrapper">
			<div class="app-view">
				<div class="bodys-header">
					{include file="public/switch_factory_store" /}
					<div class="store_deploy_nav specific_type">
						<nav class="columns_flex channel_nav manufacturer_nav store_deploy_bar">
							<a href="{:url('Operation/index')}">
								店铺提醒
							</a>
							<a href="javascript:void(0);" class="current">
								店铺管理
							</a>
							<a href="{:url('Promotion/manage')}">
								营销推广
							</a>
							<a href="javascript:void(0);">
								官方活动
							</a>
						</nav> 
					</div>
					<div class="specific_type store-manage-type ">
						<div class="columns_flex f20">
							<a href="{:url('Operation/set')}">设置</a>
							<a class="" href="{:url('Goods/manage')}">商品</a>
							<a class="column_type current">排序</a>
							<a href="{:url('Goods/setInventory')}">入仓</a>
							<a href="{:url('Goods/setShelf')}">上架</a>
							<a>卡券</a>
						</div>
					</div>
				</div>
				<div class="page-wrap">
					<div class="bodys" id="bodys">
						<div class="content-wrapper">
							<div class="scroller-wrapper" id="scroller-wrapper">
								<p class="columns_flex l-r-sides sort-title">
									<span>数字排序法(数字大排前)</span>
									<span class="s-r">位移排序法</span>
								</p>
								<ul class="" id="list"></ul>
								{include file="template/loading.html" /}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<a href="javascript:void(0)" class="increase-commodity foot-btn f24">保存排序</a>
</article>

{/block}
<!--{block name="common"}

{/block}-->
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/paging.js"></script>

<script type="text/javascript">
	var config = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		type:'sort',
		disableBtn:disableBtn //头尾上下移图标变灰色函数
	};
	var postData = {
		pageSize:10,
		pageType:'sort'
	};
	$(function () {
		//有默认店铺
		var store ={:json_encode($store.id)};
		if (!store) {
			switchManagerStore(location.href);
		} else {
			getPagingList(config,postData);
		}
		 //上移
        $('body').on('click','.up-btn',function(){
            var _this=$(this);
            var _thisLi = _this.parents('li');
            //交换排序值
            var _thisSortVal = _thisLi.find('input.sort').val();
            _thisLi.find('input.sort').val(_thisLi.prev().find('input.sort').val());
            _thisLi.prev().find('input.sort').val(_thisSortVal);
            //交换位置
            _thisLi.insertBefore(_thisLi.prev());
            //禁用移动按钮
            disableBtn();
        });
        //下移
        $('body').on('click','.down-btn',function(){
            var _this=$(this);
            var _thisLi = _this.parents('li');
            //交换排序值
            var _thisSortVal = _thisLi.find('input.sort').val();
            _thisLi.find('input.sort').val(_thisLi.next().find('input.sort').val());
            _thisLi.next().find('input.sort').val(_thisSortVal);
            //交换位置
            _thisLi.insertAfter(_thisLi.next());
            disableBtn();
        });
		//排序
		$('body').on('click','.increase-commodity',function(){
			var postData ={};
			var dataArray=[];
			var dataOjb={};
			$.each($('.scroller-wrapper li'),function(i,val){
				var _this = $(this);
				var id = _this.data('id');
				var sort = _this.find('.sort').val();
				dataOjb={
					id:id,
					sort:sort,
					line_num : i
				};
				dataArray.push(dataOjb);
			});
			postData.sortData = dataArray;
			var url = module+'goods/setSort';
			var _this = $(this);
			_this.addClass("nodisabled");//防止重复提交
			$.ajax({
				url: url,
				data: postData,
				type: 'post',
				dataType:'json',
				beforeSend: function(){
				},
				success: function(data){
					_this.removeClass("nodisabled");//防止重复提交
                  if(data.status == 0){
					  dialog.error(data.info);
					  return false;
				  }
					dialog.success(data.info,location.reload());
				},
				error:function (xhr) {
					dialog.error('AJAX错误');
				},
			});
		})
	});
	//下拉加载
	$('#scroller-wrapper').on('scroll',function(){
		console.log(1);
		$('.app-view').css({overflowX:'initial',overflowY:'initial'});
		var listHeight=document.getElementById('scroller-wrapper').scrollHeight;
		if(config.loadTrigger &&  $('#scroller-wrapper').scrollTop()+ $('#scroller-wrapper').height()>=listHeight){
			config.loadTrigger = false;
			config.disableBtn();
			getPagingList(config,postData);
		}
	});


</script>
{/block}