<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title><block name="title">{$Think.config.WEB_NAME}</block></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="PUBLIC_CSS/common/public.css">
	<link rel="stylesheet" href="PUBLIC_CSS/common/weui.css">
	<block name="css-customize"></block>
	<script type="text/javascript" src="PUBLIC_JS/common/jquery-1.9.1.min.js"></script>
</head>

<body>
<!-- 基础内容模块，子页面可覆盖 -->
<block name="content"></block>
<!-- 返回顶部-->
<block name="backTop">
	<div class="right_sidebar">
		<a href="/index.php/Mall/Index/index.html" class="f24">首页</a>
		<a href="javascript:void(0);" class="f24 backTop">顶部</a>
	</div>
</block>
<block name="UserDialog">
	<include file="UserDialog/loginDialog" />
	<include file="UserDialog/registerDialog" />
	<include file="UserDialog/forgetPasswdDialog" />
	<include file="UserDialog/platformNotes" />
</block>
<!-- 基础页脚模块，子页面可覆盖 -->
<block name="footer">
	<footer class="f24">
		<span class="icp_icon">Copyright 2017 维雅生物科技 粤ICP备14021421号</span>
	</footer>
</block>

<!--js基本插件-->
<script type="text/javascript" src="PUBLIC_JS/common/layer.mobile/layer.js"></script>
<script type="text/javascript" src="PUBLIC_JS/common/public.js"></script>
<script type="text/javascript" src="PUBLIC_JS/common/common.js"></script>
<script type="text/javascript" src="PUBLIC_JS/common/dialog.js"></script>
<script type="text/javascript" src="PUBLIC_JS/mall/loginDialog.js"></script>

<script type="text/javascript">
    var MODULE = '__MODULE__';
    var ACTION = '__ACTION__';
    var CONTROLLER = '__CONTROLLER__';
    var APP = '__APP__';
    var PUBLIC = '__PUBLIC__';
    var ROOT = '__ROOT__';
    var UPLOAD = ROOT+'/Uploads/';
</script>
<block name="script">

</block>

</body></html>