html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,a,blockquote,th,td,form,label,table{margin:0;padding:0;}
ol,ul,li,dd,dt,dl{ list-style:none;}
img{border:0;}
a{text-decoration: none;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer;  }
button,input,textarea{border: none;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);-webkit-appearance: none;}
body{font-family: '微软雅黑',Verdana,Arial,Helvetica,sans-serif; color: #333;background: #fff;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
.f06c{color:#06c;}
.fl{float:left;}
.fr{float:right;}
.f12{font-size:0.12rem;}
.f14{font-size:0.14rem;}
.f16{font-size:0.16rem;}
.f20{font-size:0.20rem;}
.f24{font-size:0.24rem;}
.f28{font-size:0.28rem;}
body.modal-show {
  position: fixed;
  width: 100%;
}
/*头部样式*/
.header{
    width: 100%;
    color: #ffffff;
    background: #3D3A39;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    letter-spacing: 0.2em;
    margin: 0 auto;
    /*头部定位*/
    /*position: fixed;*/
    top: 0px;
    z-index: 9999;
    display:none;
}
.back{
    width: 40px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 5px;
    background: url("../img/img/back.png") no-repeat center;
    background-size: 35px;
}
.set{
    width: 40px;
    height: 42px;
    display: block;
    float: right;
    margin-right: 8px;
    background: url("../img/img/setting.png") no-repeat center;
    background-size: 35px;
}

/******轮播样式***********/
#slider,#slider1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
.swipe-wrap img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.position{
    display: block;
    text-align: center;
    list-style: none;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 0.50rem;
    width: auto;
    height: 8px;
    color: #697279;
    overflow: hidden;
    margin: 0 auto;
    margin-left: -18px;
    padding: 0;
}
.position li{
    width: 6px;
    height: 6px;
    background: #B2B2B2;
    float: left;
    margin-right: 4px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
}
.position li.on{
    background: white;
}
.position img{
    display: block;
}
i{
    color:red;
    margin-right: 4px;
    font-weight: bold;
}
.icp_icon{text-align: center;display: block;padding:0 0 0.15rem 0;font-size:0.16rem;color:#999;}
.group_cart_nav{
    height:0.8rem;
    line-height:0.8rem;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    display:flex;
    display:-webkit-flex;
    z-index: 18;
}
.group_cart_nav a{color:#fff;text-align: center;display: block;}
.group_btn25{width:25%;box-sizing: border-box;}
.group_btn50{width:50%;}
.group_btn100{width:100%;}
.group_cart_nav .bfff{border-top:1px solid #d9d9d9;}
.bfff{background:#fff;}
.bff6482{background: #ff6482;}
.bff1d25{background:#ff1d25;}
.dark_green{background:#0f9143;}
.goods_total_price,.twitter_total_price{color:#ff6482;;padding-left: 0.18rem;font-size:0.32rem;}
.group_cart_nav .share_column{
    color:#0f9143;
    position:relative;
    border-right:1px solid #0f9143;
}
.group_cart_nav .shopping_cart_column{border-right:0;}
.group_cart_nav .share_column span{
    width:28px;
    height:40px;
    display: inline-block;
    background-image:url(../../img/common/share_ico.png);
    background-repeat: no-repeat;
    background-size:20px 49px;
    vertical-align: middle;
}
.group_cart_nav .share_column span.s_i{ background-position:0 9px;}        
.group_cart_nav .share_column span.s_c{ background-position:0 -22px;position:relative;}
.group_cart_nav .share_column span.s_c i{
    position:absolute;
    top:-12px;
    right:-2px;
}
/*分享朋友圈*/
.mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
.mcover img {
    position: fixed;
    right: 18px;
    top:40px;
    width: 260px;
    height: 180px;
    z-index: 999;
}
.weixinShare_btn{
    position: fixed;
    right:6px;
    top:-12px;
    color:#fff;
    font-size:0.62rem;
    width: 20px;
    height: 42px;
    z-index: 999;
}
.weixin_pay_nav{background: #ff6482;}
.loading{
    width:32px;
    height:32px;
    position:fixed;
    left:50%;
    top:88%;
    margin:0 0 0 -16px;
    z-index:16;
}
/*登录方式*/
.loginLayer .layui-m-layercont,
.registerLayer .layui-m-layercont,
.forgetPasswdLayer .layui-m-layercont,
.notesLayer .layui-m-layercont{padding:0 0.15rem;text-align:left;}
.loginLayer .layui-m-layerbtn,
.registerLayer .layui-m-layerbtn
.forgetPasswdLayer .layui-m-layerbtn{border-top:none;}
.login_wrap.hide{display:none;}
.loginNav {height:.8rem;line-height:.8rem;border-bottom:1px solid #d9d9d9;}
.loginNav li{width:50%;display:inline-block;float: left;text-align: center;}
.loginNav li.current{border-bottom:2px solid #f23030;}
.login_item,
.register_item,
.forgetPasswd_item{
    position: relative;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    overflow: hidden;
    padding: 0 .05rem;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login_item>span,
.register_item>span,
.forgetPasswd_item>span{
    position: absolute;
    width: .6rem;
    display: inline-block;
    font-family: PingFang-SC-Regular;
    text-align: left;
}
.forgetPasswd_item>span.txt3,.login_item>span.txt3{width:1.2rem;}
.register_item>span.new_password,.forgetPasswd_item>span.new_password{width:1.6rem;}
.register_item .n_pass,.forgetPasswd_item .n_pass{padding-left:.8rem;}
.register_item .cofirm_password,.forgetPasswd_item .cofirm_password{padding-left:1.2rem;}
.username {
    width: 100%;
    padding: 0 .3rem 0 .6rem;
    height:.8rem;
    background:#fff;
}
.forgetPasswd_item .input_txt3,.login_item .input_txt3{padding-left:1rem;}
.mesg_code {
    position: absolute;
    width: 1.3rem;
    height: .43rem;
    line-height: .43rem;
    right: 0;
    top: 0;
    background-color: #fff;
    font-size: .24rem;
    border: 0;
    outline: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px #f23030;
    box-shadow: 0 0 0 1px #f23030;
}
.login_item .mesg_code,
.register_item .mesg_code,
.forgetPasswd_item .mesg_code{
    width: 1.48rem;
    border-left: 1px solid #d7d7d7;
    padding: 0;
    color:#333;
    /*height: .23rem;
    line-height: .23rem;*/
    top: .15rem;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*.login_item:last-child{border-bottom:none;}*/
.loginBtn {
    height: .45rem;
    line-height: .46rem;
    background-color: #eee;
    border-radius: 2px;
    border: 0;
    display: block;
    text-align: center;
    color:#333;
}
.error_tipc{display:none;color:#ff0000;padding:0.12rem 0;}
.friend_tipc{
    height:0.45rem;
    padding:0.12rem 0;
    display: -webkit-flex;
    justify-content: space-between;
    position:relative;
}
.friend_tipc a{color:#3fa9f5;}
.forgetPasswd_back,.register_back{display: block;position:absolute;right:0;}
.register_dialog{}
.register_explain{padding:0 0 0.10rem 0;border-bottom:1px solid #d9d9d9;}
.guide_friendly_tipc{padding:0.18rem 0;}
.notice{color:#3fa9f5;}
.platform_notice{margin:0 0 0.15rem 0;}
.platform_notice .notice{font-style: normal;}
.ucenter_logo{text-align:center;}
.ucenter_logo img{width:25%;display: block;margin:0 auto;}
.platformNoteText p{line-height:0.5rem;}
.agreem_marquee{padding:0.15rem 0;}
.address_list_title{
    text-align:center;
    padding:0.12rem 0;
    font-size:0.28rem;
    border-bottom:6px solid #f2f2f2;
}
.detail_intro_common p img{
    width:100%;
    vertical-align: middle;
}
.bottomLine{
    border-bottom:6px solid #f2f2f2;
    padding:0 0 0 0.12rem;
}
.detail_common_module{
     padding:0 0.12rem 0 0.12rem;
}
.save_money{
    color:#f5911e;
}
.separation_line{
    margin: 0 0.10rem;
    vertical-align: 1px;
    color:#0066cc;
}
.bottomLine{
    border-bottom:8px solid #f2f2f2;
    padding:0 0 0 0.12rem;
}
.pink{
    color:#ff6482;
}
.header_title{
    padding:0.15rem 0;
    text-align:center;
    font-weight:normal;
}
.friend_tipc_text{
    margin:1.2rem 0 0 0.12rem;
}
.scroll-x{
    overflow: hidden;
}
.headlines{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    font-size:0.20rem;
}

.right_sidebar{
    width:50px;
    /*height:50px;
    line-height:50px;*/
    text-align: center;
    position:fixed;
    right:10px;
    bottom:54px;
    display: none;
    z-index:18;
}
.right_sidebar a{
    display: block;
    width:50px;
    height:50px;
    line-height:50px;
    margin:0 0 5px 0;
    /*border:1px solid #d9d9d9;*/
    color:#0066cc;
    border-radius:100%;
    background:#fff;
    color:#fff;
}
.right_sidebar a:first-child{
   background: #be9c34;
}
.right_sidebar a.backTop{
   background: #3f3a39;
}
.bomb_box{
    position:relative;
}
.bomb_box .layer_close{
    right: -22px;
    top: -16px;
    background: #fff;
    color: #999;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.invite_group_buy.group_buy_end{
    background: #727272;
}
.sigle_checkbox{
    border:1px solid #d9d9d9;
    -webkit-appearance:checkbox;
    width:18px;
    height:18px;
    float:left;
}
.select_checkbox_box{
    padding:0.20rem 0 0 0.15rem;
}
.clear_cart{
    text-align: right;
    color:#333;
    display: block;
    padding:10px 0 0;
}