/*公共样式*/
body,div,ul,li{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","宋体", arial, System;
    color: #727171;
    font-size: 14px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*清除浮动*/
.clear{
    width: 0;
    height: 0;
    clear: both;
}
/*轮播图*/
#slider{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
/***采购平台***/
.content_box{
    width: 100%;
    padding: 0 3px;
    box-sizing: border-box;
}
.title{
    width: 96%;
    display: block;
    color: #595757;
    margin: 8px auto;
    font-weight: bold;
}
.content_wrap{
    width: 98%;
    margin: 0 auto;
}
.cgLeft{
    width: 32.8%;
    height: 115px;
    float: left;
    background: linear-gradient(135deg, #4E9CF0, #336E8D);
    border-radius: 3px;
    text-align: center;
}
.cgLeft a{
    display: block;
    background: url("../../img/common/icon/tg1.png") no-repeat 50%;
    background-size: 50px;
}
.aText{
    display: block;
    color: #ffffff;
    padding-top: 80px;
    box-sizing: border-box;
    font-size: 16px;
}
.cgMiddle{
    margin: 0 33.8%;
    height: 115px;
    background: linear-gradient(135deg, #01B1D2, #1F798F);
    border-radius: 3px;
    text-align: center;
}
.cgMiddle a{
    display: block;
    background: url("../../img/common/icon/tg2.png") no-repeat 50%;
    background-size: 50px;
}
.cgRight{
    width: 32.8%;
    height: 115px;
    float: right;
    background: linear-gradient(135deg, #60A9CB, #4783AB);
    border-radius: 3px;
    text-align: center;
}
.cgRight a{
    display: block;
    background: url("../../img/common/icon/cg3.png") no-repeat 50%;
    background-size: 50px;
}
/***分成平台***/
.fcLeft{
    width: 32.8%;
    height: 115px;
    float: left;
    background: linear-gradient(135deg, #DC583E, #A6422F);
    border-radius: 3px;
    text-align: center;
}
.fcLeft a{
    display: block;
    background: url("../../img/common/icon/zn4.png") no-repeat 50%;
    background-size: 50px;
}
.fcMiddle{
    margin: 0 33.8%;
    height: 115px;
    background: linear-gradient(135deg, #E6911E, #AB5C15);
    border-radius: 3px;
    text-align: center;
}
.fcMiddle a{
    display: block;
    background: url("../../img/common/icon/fc2.png") no-repeat 50%;
    background-size: 50px;
}
.fcRight{
    width: 32.8%;
    height: 115px;
    float: right;
    background: linear-gradient(135deg, #F8C11E, #B47215);
    border-radius: 3px;
    text-align: center;
}
.fcRight a{
    display: block;
    background: url("../../img/common/icon/fc_r.png") no-repeat 50%;
    background-size: 65px;
}
/***智能运营***/
.znLeft{
    width: 32.8%;
    height: 115px;
    float: left;
    background: linear-gradient(135deg, #009245, #004C25);
    border-radius: 3px;
    text-align: center;
}
.znLeft a{
    display: block;
    background: url("../../img/common/icon/zn1.png") no-repeat 50%;
    background-size: 50px;
}
.znMiddle{
    margin: 0 33.8%;
    height: 115px;
    background: linear-gradient(135deg, #39B54A, #268033 );
    border-radius: 3px;
    text-align: center;
}
.znMiddle a{
    display: block;
    background: url("../../img/common/icon/fc1.png") no-repeat 50%;
    background-size: 50px;
}
.znRight{
    width: 32.8%;
    height: 115px;
    float: right;
    background: linear-gradient(135deg, #83B93B, #638A2C );
    border-radius: 3px;
    text-align: center;
}
.znRight a{
    display: block;
    background: url("../../img/common/icon/fc3.png") no-repeat 50%;
    background-size: 50px;
}
/***底部空白***/
.footer_space{
    width: 100%;
    height: 30px;
}