<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
    <link rel="stylesheet" href="{$Think.config.PUBLIC_CSS}/common/mobiscroll.css">
</block>
<block name="content">
    <!--店销活动拟开展的项目-->
    <div id="storeSalesProject">
        <div class="f24 storeSales_wrapper">
            <notempty name="pojectSelf">
                <span class="sales_project_t">美容机构自有的项目</span>
                <volist name="pojectSelf" id="vo">
                    <a href="javascript:void(0);" class="store_sales_project" data-id="{$vo.id}">
                        <empty name="vo.home_focus_img">
                            <img src="__PUBLIC__/images/sellerCompany/default/default_sales_p.jpg" alt="">
                            <else/>
                            <img src="/Uploads/{$vo.home_focus_img}" alt="">
                        </empty>
                    </a>
                </volist>
            </notempty>
            <notempty name="projectRecommend">
                <span class="sales_project_t">美尚平台推荐的项目</span>
                <volist name="projectRecommend" id="vo">
                    <a href="javascript:void(0);" class="store_sales_project" data-id="{$vo.id}">
                        <empty name="vo.home_focus_img">
                            <img src="__PUBLIC__/images/sellerCompany/default/default_sales_p.jpg" alt="" >
                            <else/>
                            <img src="/Uploads/{$vo.home_focus_img}" alt="" >
                        </empty>
                    </a>
                </volist>
            </notempty>
        </div>
    </div>
    <!--店销合作双方分成约定-->
    <div id="salesBothParties">
        <div class="f24 salesCooperation">
            <div class="salesCooper_item">卖手(团队)是否有出场费?如有金额 ￥
                <input type="text" placeholder="填写数字" class="divided_amount sales_appearance_fee">
            </div>
            <div class="salesCooper_item">店家对店销现金业绩给卖手的分成比例 %
                <input type="text" placeholder="填写数字" class="divided_amount sales_divided_proportion">
            </div>
            <div class="salesCooper_item">结款方式（选择1种）
                <a href="javascript:void(0);" class="checkout" data-type="1">日结</a>
                <a href="javascript:void(0);" class="checkout"  data-type="2">活动结束当天结</a>
            </div>
            <div class="salesCooper_item">
                <p class="sales_agreement">合作双方主要条款说明（可修改）</p>
                <textarea name="" id="abc" cols="30" rows="10" class="agree_edit_box sales_agreement_text f24" >店家：
1、负责准备项目开展的产品、仪器、耗材、配送等；
2、负责准备布置活动必须的X展架等布置，铺垫提供
合适的店内项目顾客；
3、负责卖手的往返旅程费、活动举办地住宿费用。

卖手：
1、负责对顾客进行项目销售收现（业绩经双方确认）;
2、协助店家美容师进行必要的顾客护理操作;
3、协助店家美容师对顾客进行必要的售后服务。
        </textarea>
            </div>
        </div>
    </div>
    <!--我要指派给已收藏的卖手-->
    <div id="salesAssignhand">
        <ul class="f24 salesassignhand_wrap">
            <include file="Public/sellerList" />
        </ul>
    </div>
    <section class="msy_sign_title f20">
        <h2>找店销高手销售分成任务单</h2>
    </section>
    <article class="seller_sales_wrapper f24">
        <section>
            <form id="form1">
            <nav>
                <li class="seller_sales_item">
                    <span class="s_t"><i class="f28 required">*</i>任务单标题</span>
                    <input type="text" placeholder="填写任务单标题" name="name" class="task_title" value="{$taskOrder.name}"/>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">店销开展项目</span>
                    <a href="javascript:void(0);" data-projectIds="" class="s_task Launchedprojects">店销活动拟开展的项目</a>
                </li>
                <li class="seller_sales_item seller_sales_date">
                    <span class="s_t">店销日程安排</span>
                    <input name="expect_date" id="appDate" readonly="" class="s_task salesschedule f24" type="text"
                           placeholder="店销活动举行日程安排" value=""/>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">店销活动预计举行天数</span>
                    <input name="expect_days" class="s_task f24 days_held" type="text" placeholder="填写数字(天数)" />
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">需要卖手数量</span>
                    <div>
                        允许卖手 自行组团，需要卖手数量
                        <input type="text" name="seller_quantity" class="seller_number f24" placeholder="填写数字"/>
                    </div>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">销售分成约定</span>
                    <a href="javascript:void(0);" data-salesappointment="" class="s_task cooperativeagreement">店销合作双方分成约定</a>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">任务分派模式</span>
                    <div>默认为供卖手公开抢单
                        <a href="javascript:void(0);" data-assignhand="" class="s_task already_collection salesassignhand">
                            我要指派给已收藏的卖手</a>
                    </div>
                </li>
            </nav>
            </form>
        </section>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary seller_orders_btn" href="javascript:void(0);">确定</a>
    </div>
</block>
<block name="mjs-customize">
    <script src="{$Think.config.PUBLIC_JS}/common/mobiscroll.js"></script>

    <script type="text/javascript">
        $(function () {
            var storeSalesProject=$('#storeSalesProject').html();
            var salesBothParties=$('#salesBothParties').html();
            var salesAssignHand=$('#salesAssignhand').html();

            //初始化页面
            var taskOrder = {:json_encode($taskOrder)};
            var taskOrderProject = {:json_encode($taskOrderProject)};
            if(taskOrder){
                $("#appDate").val(taskOrder.expect_date?taskOrder.expect_date:'');
                $("[name=expect_days]").val(parseInt(taskOrder.expect_days)?taskOrder.expect_days:'');
                $("[name=seller_quantity]").val(parseInt(taskOrder.seller_quantity)?taskOrder.seller_quantity:'');

                //店销合作双方分成约定
                var salesCooperation = $('.cooperativeagreement_layer').find('.salesCooperation');
                var salesCooperationOptions={
                    seller_appearance_fee:parseFloat(taskOrder.seller_appearance_fee)?taskOrder.seller_appearance_fee:'',
                    seller_share_proportion:parseFloat(taskOrder.seller_share_proportion)?taskOrder.seller_share_proportion:'',
                    payment_way:taskOrder.payment_way
                };
                if(taskOrder.stipulation_instructions){
                    salesCooperationOptions.stipulation_instructions = taskOrder.stipulation_instructions;
                }
                $('.cooperativeagreement').data('salesappointment',salesCooperationOptions);
                //指派给收藏的卖手
                $('.salesassignhand').data('seller_id',taskOrder.seller_id);
            }
            if(taskOrderProject){
                //店销活动拟开展的项目
                $('.Launchedprojects').data('projectIds',taskOrderProject);
            }

            //确定
            $('.seller_orders_btn').on('click',function(){
                var content='';
                var taskTitle=$('.task_title').val();
                if(!taskTitle){
                    content='请填写任务单标题';
                }

                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();
                var salesappointment = $('.cooperativeagreement').data('salesappointment');
                if(salesappointment){
                    postData.salesappointment = salesappointment;
                }
                var seller_id = $('.salesassignhand').data('seller_id');
                if(seller_id){
                    postData.seller_id = seller_id;
                }
                var projectIds = $('.Launchedprojects').data('projectIds');
                if(projectIds){
                    postData.projectIds = projectIds;
                }
                if(taskOrder && taskOrder.id){
                    postData.taskOrderId = taskOrder.id;
                }
                postData.type = '{$sellerType}';


                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        history.go(-1);
                    }
                });
            });
            //店销活动拟开展的项目(多选)
            $('body').on('click','.Launchedprojects_layer .store_sales_project',function(i,val){
                $(this).toggleClass('current');
            });
            //店销活动拟开展的项目弹窗
            $('body').on('click','.Launchedprojects',function(){
                layer.open({
                    title:['店销活动拟开展的项目（可多选）','border-bottom:1px solid #d9d9d9;'],
                    className:'Launchedprojects_layer',
                    content:storeSalesProject,
                    btn:['确定','取消'],
                    success:function(){
                        var projectIds=$('.Launchedprojects').data('projectIds');
                        $.each($('.Launchedprojects_layer .store_sales_project'),function(i,val){
                            if(projectIds){
                                for(var i=0;i<projectIds.length;i++){
                                    if(projectIds[i] == $(this).data('id')){
                                        $(this).addClass('current');
                                    }
                                }
                            }
                        });
                    },
                    yes:function(index){
                        var projectArray=[];
                        $.each($('.Launchedprojects_layer .store_sales_project'),function(i,val){
                            if($(this).hasClass('current')){
                                projectArray.push($(this).data('id'));
                            }
                        });
                        $('.Launchedprojects').data('projectIds',projectArray);
                        layer.close(index);
                    }
                });
            });

            //店销合作双方分成约定结算时间
            $('body').on('click','.salesCooper_item .checkout',function(){
                $(this).addClass('current').siblings().removeClass('current');
            });
            //店销合作双方分成约定-弹窗
            $('body').on('click','.cooperativeagreement',function(){
                layer.open({
                    title:['店销合作双方分成约定','border-bottom:1px solid #d9d9d9;'],
                    className:'cooperativeagreement_layer',
                    content:salesBothParties,
                    btn:['确定','取消'],
                    success:function(){
                        var salesappointment = $('.cooperativeagreement').data('salesappointment');

                        $('.sales_appearance_fee').val(salesappointment.seller_appearance_fee);
                        $('.sales_divided_proportion').val(salesappointment.seller_share_proportion);
                        $.each($('.cooperativeagreement_layer .checkout'),function(){
                            if(salesappointment.payment_way == $(this).data('type')){
                                $(this).addClass('current');
                            }
                        });
                        if(salesappointment.stipulation_instructions){
                            $('.sales_agreement_text').val(salesappointment.stipulation_instructions);
                        }
                    },
                    yes:function(index){
                        var salesCooperation = $('.cooperativeagreement_layer').find('.salesCooperation');
                        var salesCooperationOptions={
                            seller_appearance_fee:salesCooperation.find('.sales_appearance_fee').val(),
                            seller_share_proportion:salesCooperation.find('.sales_divided_proportion').val(),
                            payment_way:salesCooperation.find('.checkout.current').data('type'),
                            stipulation_instructions:salesCooperation.find('.sales_agreement_text').val()
                        };

                        $('.cooperativeagreement').data('salesappointment',salesCooperationOptions);
                        layer.close(index);
                    }
                })
            });

            //选择已收藏的卖手
            $('body').on('click','.assignhand_list',function(){
                $(this).toggleClass('current').siblings().removeClass('current');
            });
            //--我要指派给已收藏的卖手--
            $('body').on('click','.salesassignhand',function(){
                layer.open({
                    title:['我要指派给已收藏的卖手','border-bottom:1px solid #d9d9d9;'],
                    className:'salesassignhand_layer',
                    content:salesAssignHand,
                    btn:['确定','取消'],
                    success:function(){
                        var sellerLi = $('.salesassignhand_layer .assignhand_list');

                        $.each(sellerLi,function(i,o){
                            if($('.salesassignhand').data('seller_id') == $(this).data('id') ){
                                $(this).addClass('current');
                            }
                            //星星评分等级
                            $(this).find('.five_star').setStar($(this).data('grade'));
                        });
                    },
                    yes:function(index){
                        $.each($('.salesassignhand_layer .assignhand_list'),function(i,val){
                            if($(this).hasClass('current')){
                                $('.salesassignhand').data('seller_id',$(this).data('id'));
                            }
                        });
                        layer.close(index);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var currYear = (new Date()).getFullYear();
            var opt={};
            opt.datetime = {preset : 'datetime'};
            opt.default = {
                theme: 'android-ics light', //皮肤样式
                display: 'modal', //显示方式
                mode: 'scroller', //日期选择模式
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:ii',
                lang: 'zh',
                showNow: false,
                nowText: "今天",
                startYear: currYear - 100, //开始年份
                endYear: currYear + 100 //结束年份
            };
            $("#appDate").mobiscroll($.extend(opt['datetime'],opt['default']));
        });
    </script>
</block>