<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="bottomLine">
            <h2 class="header_title">授权我的代理商</h2>
        </section>
        <section class="bottomLine">
            <div class="agent_places">
                <p>我可授权代理商名额剩余：<span>100</span>名</p>
                <p>我已授权代理商：<span>40</span>名</p>
            </div>
            <a href="" class="my_agent">我的代理商</a>
        </section>
        <section class="bind_agent_info">
            <form>
                <div class="register_data_item">
                    <p>绑定代理商关系(为用户授权代理资格和绑定关系)</p>
                    <input type="text" name="" value="" placeholder="代理商姓名" class="agent_name">
                </div>
                <div class="register_data_item">
                    <p>代理商的手机号码(请核对手机号码准确误会)</p>
                    <div class="agent_mobile">
                        <span>中国(+86)</span>
                        <input type="tel" name="" value="" placeholder="代理商手机号码" class="agent_phone">
                    </div>
                </div>
                <div class="register_data_item">
                    <p>请输入代理商发回的手机验证码(验证码15分钟有效)</p>
                    <div class="mobile_verification_code">
                        <input type="text" name="" value="" placeholder="验证码" class="verification_code">
                        <a href="javascript:void(0);" class="send_verify_code" >发送手机验证码</a>
                    </div>
                </div>
            </form>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //验证码
            $('body').on('click','.send_verify_code',function(){
                var _this=$(this);
                if($(this).attr('disabled')){
                    return false;
                }
                var time=60;
                var content='';
                _this.prev('.verification_code').val('');
                clearInterval(timer);
                var timer=setInterval(CountDown,1000);
                function CountDown(){
                    _this.attr('disabled',true);
                    _this.text('重新发送'+time+'s');
                    if(time==0){
                        _this.text("获取验证码").removeAttr("disabled");
                        _this.prev('.verification_code').val('');
                        clearInterval(timer);
                    }
                    time--;
                }
            });

            //授权代理商
            $('body').on('click','.authorized_agent',function(){
                var agentName=$('.agent_name').val();
                var agentPhone=$('.agent_phone').val();
                var verificationCode=$('.verification_code').val();
                var content='';
                if(!agentName){
                    content='请输入代理商姓名';
                }else if(!register.phoneCheck(agentPhone)){
                    content='请输入正确的手机号码';
                }else if(!register.vfyCheck(verificationCode)){
                    content = "请输入正确的验证码";
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                layer.open({
                    content:'已成功授权代理商<br/>并绑定从属关系',
                    btn:'确定'
                })
            });
        });
    </script>
</block>