<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <include file="PersonalCenter/loginTpl" />
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <span class="my_business icon"></span>
                <a href="javascript:void(0);" class="agent right-arrow">完善我的商务档案</a>
            </div>
            <div class="person_center_item">
                <span class="see_service icon"></span>
                <a href="javascript:void(0);" class="agent right-arrow">授权我的代理商</a>
            </div>
            <div class="person_center_item">
                <span class="see_service icon"></span>
                <a href="javascript:void(0);" class="agent right-arrow">查看我的代理商</a>
            </div>
        </section>
        <section>
            <div class="agent_purchase_list ">
                <div class="agent_head_bar">
                    <span>优选适合礼品采购商的采购专供</span>
                    <a><i></i>采购车</a>
                </div>
                <div class="readme_tipc">
                    <div class="r_t">
                        <i class="ag"></i>
                        <span>按代理商采购价结算</span>
                    </div>
                    <div class="r_t">
                        <span class="th_r">3000+</span>
                        <span>每次采购额折后3000元起</span>
                    </div>
                    <div class="r_t">
                        <span class="th_p">产品赋码</span>
                        <span>每款产品赋码专属二维码标签</span>
                    </div>
                    <div class="r_t">
                        <i class="am"></i>
                        <span>享受代理商待遇推广返点</span>
                    </div>
                </div>
                <ul class="agent_list_wrapper">
                    <li>
                        <a href="">
                            <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="" class="c_img">
                        </a>
                        <p class="">XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                        <div class="agent_list_c">
                            <div class="a_c">
                                <span class="pink">￥<price class="twitter_price">200.00</price></span>
                                <del>￥888</del>
                                <span class="pink">礼品券￥<price>50000</price></span>
                            </div>
                            <div class="a_c">10盒起订</div>
                        </div>
                        <div class="agent_list_item">
                            <span>采购数量</span>
                            <div class="quantity_wrapper business_count">
                                <a href="javascript:void(0);" class="greduce">-</a>
                                <input type="text" value="1" class="f24 gshopping_count">
                                <a href="javascript:void(0);" class="gplus">+</a>
                            </div>
                            <a href="javascript:void(0);" class="add_cart">加入采购车</a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="" class="c_img">
                        </a>
                        <p class="">XXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                        <div class="agent_list_c">
                            <div class="a_c">
                                <span class="pink">￥<price class="twitter_price">200.00</price></span>
                                <del>￥888</del>
                                <span class="pink">礼品券￥<price>50000</price></span>
                            </div>
                            <div class="a_c">10盒起订</div>
                        </div>
                        <div class="agent_list_item">
                            <span>采购数量</span>
                            <div class="quantity_wrapper business_count">
                                <a href="javascript:void(0);" class="greduce">-</a>
                                <input type="text" value="1" class="f24 gshopping_count">
                                <a href="javascript:void(0);" class="gplus">+</a>
                            </div>
                            <a href="javascript:void(0);" class="add_cart">加入采购车</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>