<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="bottomLine">
            <h2 class="header_title">查看我的代理商</h2>
        </section>
        <section class="search_bar">
            <div class="search_agent_part ">
                <input type="text" placeholder="请输入手机号码/姓名查询" class="search_epy search_text f24" value=""/>
                <input type="button" class="search_btn"/>
            </div>
        </section>
        <section class="agentList">
            <include file="Agent/agentListTpl" />
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //查询代理商
            $('.search_btn').on('click',function(){
                var keyword =$('.search_text').val();
                console.log(keyword);
            });
        });
    </script>
</block>