{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">
{/block}
{block name="content"}
<article class="f24 app-content">
	<section class="app-shell">
		<div class="app-view-wrapper">
			<div class="app-view">
				{include file="public/switch_factory_store" /}
				<div class="bottomLine store_deploy_nav specific_type">
					<nav class="columns_flex channel_nav manufacturer_nav store_deploy_bar">
						<a href="{:url('Operation/index')}">
							店铺提醒
						</a>
						<a href="javascript:void(0);" class="current">
							店铺管理
						</a>
						<a href="{:url('Promotion/manage')}">
							营销推广
						</a>
						<a href="javascript:void(0);">
							官方活动
						</a>
					</nav>
				</div>
				<div class="specific_type store-manage-type bottomLine">
					<div class="columns_flex f20">
						<a href="{:url('Operation/set')}" class="column_type current">设置</a>
						<a href="{:url('Goods/manage')}">商品</a>
						<a href="{:url('Goods/setSort')}">排序</a>
						<a href="{:url('Goods/setInventory')}">入仓</a>
						<a href="{:url('Goods/setShelf')}">上架</a>
						<a href="javascript:void(0)">卡券</a>
					</div>
				</div>
				<div class="content-box">
					<div class="logo-license">
						<div class="half">
							<a class="logo" id="logox">
								{notempty name="store.logo_img"}
								<img  src="public_uploads/{$store.logo_img}">
								{/notempty}
								<input type="hidden" class="logo-src" name="logoSrc">
							</a>
							<p class="f24 optimize_img">点击优化</p>
						</div>
						<div class="clear"></div>
					</div>
					<span>品牌宣言:</span>
					<textarea class="textarea-box" rows="" cols="" placeholder="品牌宣言文字..."></textarea>
				</div>
			</div>
		</div>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/clip_img.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/hammer.js"></script>
<script type="text/javascript" src="public_js/iscroll-zoom.js"></script>
<script type="text/javascript" src="public_js/jquery.photoClip.js"></script>
<script type="text/javascript">
	$(function () {
		$('body').on('click','.optimize_img',function () {
			var logo_img = $('.logo-src').val();
		    if(!logo_img){
				dialog.error('还是原来的图片，没有图片优化');
				return false;
			}
			if(!uploadsClipImgFlag){
				dialog.error('图片还没有上传完毕');
				return false;
			}
			var _this = $(this);
			_this.addClass("nodisabled");//防止重复提交
			$.post(controller + 'set',{logo_img:logo_img},function (data) {
				_this.removeClass("nodisabled");
				if(!data.status){
					dialog.error(data.info);
					return false;
				}
				dialog.success(data.info,location.reload());
			})
		})
	})
</script>
{/block}