<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture purchase_mall_wrapper">
        <section class="goods_picture">
            <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="">
        </section>
        <section class="hot_detail f24">
            <div class="hot_detail_info">
                <div class="hot_title">
                    <p>{$goodsCategory1Info.name}项目产品专场</p>
                </div>
                <div class="hot_tags_type">
                    <span>正品保障</span>
                    <span>激素依赖</span>
                </div>
            </div>
            <p class="purchasing_intro_text">{$goodsCategory1Info.explain}</p>
            <a class="Purchase_instruction public_arrow">美尚采购平台联合采购说明</a>
        </section>
        <section class="buyer_activity f24">
            <div class="hot_count_down">
                <i></i>
                <div>
                    <p>本周联合采购结算日倒计时</p>
                    <div class="countDownBox" class="count_down_box">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </div>
                </div>
            </div>
            <div class="hot_detail_info">
                <p>提示：采购商可随时参与每周联合采购活动，联合采购结算日为每周四晚上12：00，平台核准订单后进行备货发货。</p>
            </div>
            <div class="goods_star_score">
                <div class="five_star">
                    <div class="star_img">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                    </div>
                    <span class="fraction" data-score=""></span>
                </div>
                <a href="javascript:void(0);" class="comment_num">145人评论</a>
            </div>
        </section>
        <div class="goodsListDiv">
            <ul id="content"></ul>
        </div>
    </article>
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_IMG/home/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>
<block name="footer">
    <include file="Public/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/purchase/goods.js"></script>
    <script type="text/javascript">
        var category_id_1 = '{$category_id_1}';
        $(function(){
            //初始化页面
            var config = {};
            config.url = CONTROLLER+'/goodsPage';
            config.category_id_1 = category_id_1;
            getPage(config);

            //加载更多
            $('body').on('click','.view_more',function () {
                var url = CONTROLLER+'/goodsList';
                getPhotoList($(this),url);
            });

            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:3.9,
                star:'PUBLIC_IMG/home/star.png',
                starRed:'PUBLIC_IMG/home/starred.png'
            });
            console.log($('.five_star').getStar());

            //结算倒计时
            countDown('{$settlementTime}',$(".countDownBox"));
        });
    </script>
</block>