<notempty name="goodsInfo">
    <ul class="goods_list">
        <li>
            <div class="purchase_goods_detail">
                <img class="purchase_gs_img" src="PUBLIC_IMG/common/default/no_pic_40.jpg" alt="">
                <div class="purchase_gs_r">
                    <p>{$goodsInfo.name}</p>
                    <p>{$goodsInfo.remark}</p>
                    <a href="javascript:void(0);" class="closeBtn">X</a>
                </div>
            </div>
            <div class="purchase_goods_detail">
                <div class="purchase_packing">
                    <div>单品规格：<span>{$goodsInfo.single_specification}/{$goodsInfo.package_unit|getUnitCN}</span></div>
                    <div class="purchase_packing_r">
                        <span class="market level_price">￥<price>{$levelPrice}</price></span>
                        <del>￥{$goodsInfo.price}</del>
                    </div>
                </div>
                <div class="purchase_packing">
                    <div>采购包装：<span>{$goodsInfo.package_num}{$goodsInfo.package_unit|getUnitCN}/{$goodsInfo.purchase_unit|getUnitCN}</span></div>
                    <div class="purchase_packing_r">
                        <span class="market purchase_price">￥<price>{$goodsInfo['package_num']*$levelPrice}</price></span>
                    </div>
                </div>
            </div>
            <div class="purchase_goods_detail purchase_goods_num">
                <span>采购数量(单位：{$goodsInfo.purchase_unit|getUnitCN})</span>
                <div class="quantity_wrapper">
                    <a href="javascript:void(0);" class="greduce">-</a>
                    <input type="text" value="0" class="f24 gshopping_count">
                    <a href="javascript:void(0);" class="gplus">+</a>
                </div>
            </div>
        </li>
    </ul>
</notempty>