<notempty name="goodsCategory2List">
    <volist name="goodsCategory2List" id="vv">
        <notempty name="vv.goodsList">
            <div class="commodity_category commodity_category_s category_1_goods">
                <div class="promotion_mode">
                    <empty name="vv.img">
                        {$vv.name}
                        <else/>
                        <img src="UPLOADS_IMG/{$vv.img}" alt="" class="c_img">
                    </empty>
                </div>
                <ul>
                    <volist name="vv.goodsList" id="vo">
                        <li data-id="{$vo['id']}">
                            <a href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id']))}">
                                <div class="goods_img">
                                    <empty name="vo.img">
                                        <img src="PUBLIC_IMG/common/default/goods_default.png" alt="" class="c_img">
                                    <else/>
                                        <img src="UPLOADS_IMG/{$vo.img}" alt="" class="c_img">
                                    </empty>
                                </div>
                                <p class="f24 commodity_name">{$vo.name}</p>
                            </a>
                            <div class="commodity_price f24">
                                <empty name="user"><span class="price">仅限采购商</span>
                                    <else />
                                    <span class="price">￥<price>{$vo.price}</price></span>
                                    <a href="javascript:void(0);" class="shopping_cart">购物车</a>
                                </empty>
                            </div>
                        </li>
                    </volist>
                </ul>
                <a class="view_more" href="javascript:void(0);" data-page="{$currentPage}" data-category_id_2="{$vv.id}"
                   data-request_end="0">
                    查看更多<i></i>
                </a>
            </div>
        </notempty>
    </volist>
</notempty>