<volist name="goodsList" id="vo">
    <li data-id="{$vo['id']}">
        <a  href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id']))}"class="purchase_goods_img">
            <empty name="vo.img">
                <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="" class="c_img">
                <else/>
                <img src="UPLOADS_IMG/{$vo.img}" alt="" class="c_img">
            </empty>
        </a>
        <div class="orderDetail_r">
            <if condition="$pageType eq 'goodsManage' ">
                <a href="javascript:void(0);" class="order_del_btn goodsDel">删除</a>
            </if>
            <p>{$vo.name}</p>
            <div>单品规格：<span>{$vo.single_specification}</span></div>
            <div>采购包装：<span>{$vo.package_num}{$vo.package_unit|getUnitCN}/{$vo.purchase_unit|getUnitCN}(整{$vo.purchase_unit|getUnitCN}采购)</span></div>
            <div>采购单价(元/{$vo.package_unit|getUnitCN})：<span>￥{$vo.price}</span><del>￥{$vo.price}</del></div>
        </div>
        <div class="order_purchase_count">采购数量(单位:{$vo.purchase_unit|getUnitCN})：<span>{$vo.num|default='0'}</span></div>
        <a href="javascript:void(0);" class="shopping_cart">购物车</a>
        <div class="purchase_goods_num">
            <span>采购数量({$vo.purchase_unit|getUnitCN})</span>
            <div class="quantity_wrapper">
                <a href="javascript:void(0);" class="greduce">-</a>
                <input type="text" value="{$vo.num|default='0'}" class="f24 gshopping_count">
                <a href="javascript:void(0);" class="gplus">+</a>
            </div>
        </div>
    </li>
</volist>