<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture">
        <section class="goods_picture goods_detail_banner" >
            <empty name="goodsInfo.main_img">
                <img src="PUBLIC_IMG/common/default/goods_default.png" alt="">
                <else/>
                <img src="UPLOADS_IMG/{$goodsInfo.main_img}" alt="">
            </empty>

        </section>
        <section class="hot_detail f24">
            <div class="hot_detail_info">
                <div class="hot_title">
                    <p>{$goodsInfo.name}</p>
                </div>
                <div class="hot_tags_type">
                    <volist name="goodsInfo.tag" id="vo">
                        <span>{$vo}</span>
                    </volist>
                    <a href="javascript:void(0);" class="collection_product">收藏商品</a>
                </div>
            </div>
            <div class="hot_detail_info">
                <div class="packing_specification">
                    <span>商品规格：</span>
                    <span>{$goodsInfo.specification|htmlspecialchars_decode}</span>
                </div>
                <div class="purchasing_price">
                    <span>价格：</span>
                        <span>{$goodsInfo.price}</span>
                </div>
            </div>
            <div class="purchasing_intro_text">{$goodsInfo.intro|htmlspecialchars_decode}</div>
        </section>
        <section class="hot_detail hot_countdown_detail f24">
            <div class="hot_count_down">
                <i></i>
                <div>
                    <p>本周联合采购结算日倒计时</p>
                    <div class="countDownBox" class="">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </div>
                </div>
            </div>
            <div class="hot_detail_info">
                <p>提示：采购商可随时参与每周联合采购活动，联合采购结算日为每周四晚上12：00，平台核准订单后进行备货发货。</p>
            </div>
            <div class="goods_star_score">
                <div class="five_star">
                    <div class="star_img">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                        <img src="PUBLIC_IMG/home/star.png">
                    </div>
                    <span class="fraction" data-score="{$goodsInfo.evaluation_good_stars}"></span>
                </div>
                <a href="javascript:void(0);" class="comment_num">2人评论</a>
            </div>
        </section>
        <section class="hot_detail f24">
            <h2>商品参数</h2>
            <div class="commodity_parameter">
                {$goodsInfo.param|htmlspecialchars_decode}
            </div>
        </section>
        <section class="hot_detail f24">
            <h2>商品详情</h2>
            <ul>
                <li>
                    <volist name="goodsInfo.detail_img" id="vo">
                        <p>
                            <notempty name="vo">
                                <img src="UPLOADS_IMG/{$vo}" alt="">
                            </notempty>
                        </p>
                </volist>
                </li>
            </ul>
        </section>
    </article>

    <footer class="shopping_nav f24">
        <a href="javascript:void(0);"><i class="smile_face"></i>客服</a>
        <a href="{:U('Cart/myCart')}">
            <i class="commodity_quantity cart_d_num">{$goodsCount}</i>
        </a>
        <a class="add_cart" href="javascript:void(0);">加入购物车</a>
        <input class="goods_id" name="" type="hidden" value="{$goodsInfo.id}">
        <a href="{:U('Order/addOrder',array('goodsId'=>$goodsInfo['id']))}" class="buyNow">立即购买</a>
    </footer>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:3,
                star:'PUBLIC_IMG/home/star.png',
                starRed:'PUBLIC_IMG/home/starred.png'
            });
            //console.log($('.five_star').getStar());
            countDown('{$settlementTime}',$(".countDownBox"));

           //加入购物车
            $('.add_cart').click(function () {
                var goodsId = $('.goods_id').val();
                $.post(MODULE + '/Cart/addCart', {id: goodsId}, function (msg) {
                    if(msg.status == 0){
                        var url = APP+'/UserCenter/User/login';
                        dialog.confirm(msg.info,url);

                    }
                    if (msg.status == -1) {
                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        $('.commodity_quantity').text(msg.info.count);
                    }
                }, 'json')
            });
        });
    </script>
</block>