<volist name="goodsList" id="vo">
    <li data-id="$vo['id']">
        <a href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id']))}">
            <div class="goods_img">
                <empty name="vo.img">
                    <img src="PUBLIC_IMG/common/default/goods_default.png" alt="" class="c_img">
                <else/>
                    <img src="UPLOADS_IMG/{$vo.img}" alt="" class="c_img">
                </empty>
            </div>
        </a>
        <p class="f24 commodity_name">{$vo.name}</p>
        <div class="commodity_price f24">
            <empty name="user"><span class="price">仅限采购商</span>
                <else />
                <span class="price">￥<price>{$vo.price}</price></span>
                <a href="javascript:void(0);" class="shopping_cart">购物车</a>
            </empty>
        </div>
    </li>
</volist>