<volist name="sellerList" id="vo">
    <notempty name="sellerList">
        <volist name="sellerList" id="vo">
            <li class="assignhand_list" data-id="{$vo.seller_id}" data-grade="{$vo.grade}">
                <a href="javascript:void(0);">
                    <div class="cs_item_wrapper">
                        <div class="item-img-wrapper">
                            <empty name="vo.avatar">
                                <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="" class="cs_item_img">
                                <else/>
                                <img src="/Uploads/{$vo.avatar}" alt="" class="cs_item_img">
                            </empty>
                        </div>
                        <div class="cs_item_description">
                            <p>昵称:<span class="assignhand_nickname">{$vo.nickname}</span></p>
                            <p>姓名:<span class="assignhand_name">{$vo.name}</span></p>
                            <p>性别:<span class="assignhand_sex">{$vo.sex|sex}</span></p>
                            <p>类型:<span>{$vo.type|sellerType}</span></p>
                            <div class="five_star">
                                <div class="star_img" >
                                    <img src="__PUBLIC__/images/sellerCompany/star.png">
                                    <img src="__PUBLIC__/images/sellerCompany/star.png">
                                    <img src="__PUBLIC__/images/sellerCompany/star.png">
                                    <img src="__PUBLIC__/images/sellerCompany/star.png">
                                    <img src="__PUBLIC__/images/sellerCompany/star.png">
                                </div>
                                <span class="fraction"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </volist>
    </notempty>
</volist>