<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="content">
    <article class="task_management_wrapper">
        <section class="task_management_head f24 clearfix">
            <img src="__PUBLIC__/images/sellerCompany/msy_logo.png" alt="">
            <div class="task_manage_text">
                <span class="Recruitment_hand">招募卖手</span>
                <span class="task_order_m">任务单管理</span>
            </div>
        </section>
        <div class="message_list_module my_message_list f28">
            <a href="__CONTROLLER__/myMessage" class="message_list">我的消息列表<span class="my_message">{$count.messageListCount}</span></a>
        </div>
    </article>
    <article>
        <section class="message_list_module f28">
            <a href="javascript:void(0);" data-online="0" class="message_list">违规下架任务单<span class="cancle_task">{$count.taskOrderOffLineCount}</span></a>
            <a href="javascript:void(0);" data-sign-status="0" class="message_list">未签约的任务单<span class="cancle_task">{$count.taskOrderUnsignedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="1" class="message_list">已签约的任务单<span class="completed_task">{$count.taskOrderSignedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="2" class="message_list">已完成的任务单<span class="completed_task">{$count.taskOrderCompletedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="3" class="message_list">已取消的任务单<span class="cancle_task">{$count.taskOrderCanceledCount|default='0'}</span></a>
        </section>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $('.message_list_module').find('a').click(function(){
            var online = $(this).data('online');
            var signStatus = $(this).data('sign-status');

            var url = CONTROLLER + '/taskOrderList';
            if(online==0){
                location.href = url + '?online=' + online;
            }else{
                location.href = url + '?signStatus=' + signStatus;
            }
        });
    </script>
</block>