<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>卖手招募管理处</h2>
    </section>
    <article class="f24 seller_recruit_module">
        <ul>
            <li class="task_pipeline_item">
                <div><span class="task_p_tit">订单号码：</span><span>{$taskOrder.no}</span></div>
                <div><span class="task_p_tit">下单时间：</span><span>{$taskOrder.create_time|date='Y年m月d日 H:i',###}</span></div>
                <div><span class="task_p_tit">订单状态：</span><span>{$taskOrder.sign_status|taskOrderSignStatu}</span></div>
                <div><span class="task_p_tit">活动标题：</span><span>{$taskOrder.name}</span></div>
                <div><span class="task_p_tit">下单店家：</span><span>{$taskOrder.companyName}</span></div>
                <div>
                    <span class="task_p_tit">地址：</span>
                    <span>{$taskOrder.companyProvinceCityArea|province_city_area}{$taskOrder.companyAddress}</span>
                </div>
                <div><span class="task_p_tit">联系人：</span><span>{$taskOrder.companyRegistrant}</span></div>
                <div><span class="task_p_tit">联系电话：</span><span>{$taskOrder.companyRegistrantMobile}</span></div>
                <div><span class="task_p_tit">服务类型：</span><span>{$taskOrder.type|taskOrderType}</span></div>
                <if condition="$taskOrder.type neq 3">
                    <notempty name="taskOrder.project">
                        <div><span class="task_p_tit">服务项目：</span><span>{$taskOrder.project}</span></div>
                    </notempty>
                </if>
                <div><span class="task_p_tit">活动日期：</span><span>{$taskOrder.scheduleDate}</span></div>
            </li>
        </ul>
        <section class="recruit_rules">
            <span>★服务签约流程</span>
            <p>店家下任务单——卖手抢单应征——店家向合适的卖手发出合作邀请——店家选择一位接受邀请的卖手进行服务签约
            </p>
        </section>
        <section class="recruit_rules">
            <span>★招募管理说明</span>
            <p>任务单的合作邀请有次数限制，普通采购商有3次机会，普通VIP采购商有5次，高级VIP采购商有8次，金牌VIP采购商有10次机会。签约后店家和卖手才能查看对方联系方式。
            </p>
        </section>
    </article>
    <nav class="f24">
        <ul class="recruit_nav">
            <li class="current">已应征的卖手</li>
            <li>已同意签约的卖手</li>
        </ul>
    </nav>
    <div class="recruit_list_wrapper">
        <div class="f24 invitation_times">
            <p>目前应征的卖手人数<span>{$taskOrder.enlistCount}</span></p>
            <p>本任务单已发出合作邀请<span>{$taskOrder.invite}</span>次，剩余
                <span class="residue">{$taskOrder['invite'] * (-1) + getInvitesFromCompanyLevel($taskOrder['companyLevel'])}</span>次</p>
        </div>
        <ul class="f24 salesassignhand_wrap">
            <notempty name="taskOrder.enList">
                <volist name="taskOrder.enList" id="vo">
                    <li class="assignhand_list seller_recruit_list" data-id="{$vo.id}" data-grade="{$vo.grade}">
                        <a href="javascript:void(0);" class="enlist">
                            <div class="cs_item_wrapper">
                                <div class="item-img-wrapper">
                                    <empty name="vo.avatar">
                                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="" class="cs_item_img">
                                        <else/>
                                        <img src="/Uploads/{$vo.avatar}" alt="" class="cs_item_img">
                                    </empty>
                                </div>
                                <div class="cs_item_description">
                                    <p>昵称:<span class="assignhand_nickname">{$vo.nickname}</span></p>
                                    <p>姓名:<span class="assignhand_name">{$vo.name}</span></p>
                                    <p>性别:<span class="assignhand_sex">{$vo.sex|sex}</span></p>
                                    <p>类型:<span>{$vo.type|sellerType}</span></p>
                                    <div class="five_star">
                                        <div class="star_img">
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                        </div>
                                        <span class="fraction"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </volist>
            </notempty>
        </ul>
    </div>
    <div class="recruit_list_wrapper hide">
        <div class="f24 invitation_times">
            <p>目前同意签约的卖手人数<span>{$taskOrder.signingCount}</span></p>
        </div>
        <ul class="f24 salesassignhand_wrap">
            <notempty name="taskOrder.signingList">
                <volist name="taskOrder.signingList" id="vo">
                    <li class="assignhand_list seller_recruit_list" data-id="{$vo.id}" data-grade="{$vo.grade}">
                        <a href="javascript:void(0);" class="signing">
                            <div class="cs_item_wrapper">
                                <div class="item-img-wrapper">
                                    <empty name="vo.avatar">
                                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="" class="cs_item_img">
                                        <else/>
                                        <img src="/Uploads/{$vo.avatar}" alt="" class="cs_item_img">
                                    </empty>
                                </div>
                                <div class="cs_item_description">
                                    <p>昵称:<span class="assignhand_nickname">{$vo.nickname}</span></p>
                                    <p>姓名:<span class="assignhand_name">{$vo.name}</span></p>
                                    <p>性别:<span class="assignhand_sex">{$vo.sex|sex}</span></p>
                                    <p>类型:<span>{$vo.type|sellerType}</span></p>
                                    <div class="five_star">
                                        <div class="star_img">
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                        </div>
                                        <span class="fraction"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </volist>
            </notempty>
        </ul>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //已应征的卖手-已同意签约的卖手-切换
            tab_down(".recruit_nav>li", ".recruit_list_wrapper", "click");

            //初始化星星
            $.each($('.salesassignhand_wrap').find('li'),function(){
                var grade = $(this).data('grade');
                $(this).find('.five_star').setStar(grade);
            });

            //卖手档案
            $('.seller_recruit_list').find('a').on('click',function(){
                var _thisLi = $(this).parent();
                var sellerId = _thisLi.data('id');
                var taskOrderId = '{$taskOrder.id}';
                var type = $(this).attr('class');
                if(type=='enlist'){
                    var residue = $('.residue').text();
                    if(residue <= 0){
                        layer.open({
                            content:'发出合作邀请的次数已用完，请联系系统管理员，谢谢！',
                            time:2
                        });
                        return false;
                    }
                }

                location.href = CONTROLLER + '/sellerDetail?sellerId=' + sellerId + '&taskOrderId=' + taskOrderId +
                '&type=' + type ;
            });
        })
    </script>
</block>