<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="content">
    <section class="seller_base_wrapper">
        <div class="seller_base_info f24" data-grade="{$seller.grade}">
            <div class="item-img-wrapper">
                <empty name="seller.avatar">
                    <img src="__PUBLIC__/images/sellerCompany/default/default_s_picture.jpg" alt="" class="cs_item_img">
                    <else/>
                    <img src="/Uploads/{$seller.avatar}" alt="" class="cs_item_img">
                </empty>
            </div>
            <div class="cs_item_description">
                <p>昵称:<span>{$seller.nickname}</span></p>
                <p>姓名:<span>{$seller.name}</span></p>
                <p>性别:<span>{$seller.sex|sex}</span></p>
                <p>类型:<span>{$seller.type|sellerType}</span></p>
                <div class="five_star">
                    <div class="star_img">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" id="0">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" id="1">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" id="2">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" id="3">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" id="4">
                    </div>
                    <span class="fraction"></span>
                </div>
            </div>
        </div>
    </section>
    <div class="dividing_line"></div>
    <section class="seller_skill_wrapper">
        <div class="f24 seller_skill_type">
            <span>卖手简介</span>
            <p class="seller_txt">{$seller.intro}</p>
        </div>
        <div class="f24 seller_skill_type">
            <span>擅长技能</span>
            <p class="seller_txt">{$seller.goods_skills}</p>
        </div>
    </section>
    <section class="personal_image_wrapper">
        <div class="personal_image f24">
            <span>形象照片</span>
            <ul class="personal_item clearfix">
                <li>
                    <empty name="seller.figure_url_0">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_0}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_1">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_1}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_2">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_2}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_3">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_3}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_14">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_4}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_5">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_5}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_6">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_6}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_7">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_7}" alt="">
                    </empty>
                </li>
            </ul>
        </div>
    </section>
    <footer class="seller_bottom_menu">
        <if condition="$type eq 'enlist' ">
            <a href="javascript:void(0);" class="signing_invitation" data-url="sendSignedInvite">发出签约邀请</a>
            <elseif condition="$type eq 'signing' "/>
            <a href="javascript:void(0);" class="signing_invitation" data-url="signedWithSeller">我确认与卖手进行合作签约</a>
        </if>
    </footer>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化星星
            var seller_base_info = $('.seller_base_info');
            seller_base_info.find('.five_star').setStar(seller_base_info.data('grade'));

            //卖手简介技能文字缩略
            $(".seller_skill_type").moreText({
                maxLength: 50, //默认最大显示字数，超过...
                mainCell: '.seller_txt' //文字容器
            });

            //发出签约邀请
            $('footer').find('a').on('click',function(){
                var postData = {
                    sellerId: '{$seller.id}',
                    taskOrderId: '{$taskOrderId}'
                };

                var url = $(this).data('url');
                $.post(url,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        var content='签约成功';
                        layer.open({
                            title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                            content:content,
                            btn:['确定','取消'],
                            yes:function(index){
                                history.go(-1);
//                                location.href = CONTROLLER + '/taskOrderList?signStatus=1';
                            }
                        });
                    }
                });
            });
        });
    </script>
</block>