<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="content">
    <article class="seller_sales_wrapper f24">
        <section>
            <div class="salescooperation_task">
                <span class="each_clause">任务单名称</span>
                <div class="sales_task_name" data-id="{$taskOrder.id}">{$taskOrder.name}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">下单的店家</span>
                <div class="each_clause_detail">
                    <p class="">机构名称：<span>{$taskOrder.companyName}</span></p>
                    <p class="">地址：<span>{$taskOrder.companyAddress}</span></p>
                    <p class="">联系人：<span>{$taskOrder.companyRegistrant}</span></p>
                    <p class="">手机：<span>{$taskOrder.companyRegistrantMobile}</span></p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">拟开展的项目</span>
                <div class="">{$taskOrder.project}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">计划日程</span>
                <div class="each_clause_detail"><span>{$taskOrder.expect_days}</span>天</div>
                <div>{$taskOrder.scheduleDate}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">本单分成约定</span>
                <div class="each_clause_detail">
                    <p class="">需要卖手（团队）：<span>{$taskOrder.seller_quantity}</span>人</p>
                    <p class="">卖手（团队）出场费：<span>{$taskOrder.seller_appearance_fee}</span>元</p>
                    <p class="">店家对店销现金业绩给卖手（团队）的分成比例 ：<span>{$taskOrder.seller_share_proportion}%</span></p>
                    <p class="">结款方式：<span>{$taskOrder.payment_way|paymentWay}</span></p>
                    <p class="Cooperation_agreement_terms">{$taskOrder.stipulation_instructions}</p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">任务指派方式</span>
                <div class="sales_task_name">{$taskOrder.seller_id|grabOrAssigned}</div>
            </div>
        </section>
    </article>
    <div class="service_list_btn">
        <if condition="$taskOrder.sign_status eq 0">
            <a href="javascript:void(0);" class="del">删除任务单</a>
            <a href="javascript:void(0);" class="edit">修改任务单</a>
            <if condition="$taskOrder.online eq 1">
                <a href="javascript:void(0);" class="manage">卖手招募管理</a>
            </if>
        </if>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function () {
            //删除
            $('.service_list_btn .del').on('click',function(){
                layer.open({
                    title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                    content:'确定删除服务单？',
                    btn:['确定','取消'],
                    yes:function(){
                        var taskOrderId = $('.sales_task_name').data('id');
                        var postData = {
                            taskOrderId:taskOrderId
                        };
                        $.post(CONTROLLER + '/delTaskOrder',postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin: 'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                history.go(-1);
                            }
                        });
                    }
                });
            });

            //修改
            $('.service_list_btn .edit').on('click',function(){
                var sellerType = '{$taskOrder.type}';
                var taskOrderId = $('.sales_task_name').data('id');

                location.href = MODULE + '/PlaceTaskOrder/taskOrder?sellerType=' + sellerType +
                    '&taskOrderId=' + taskOrderId;
            });

            //卖手招募管理
            $('.service_list_btn .manage').on('click',function(){
                var sellerType = '{$taskOrder.type}';
                var taskOrderId = $('.sales_task_name').data('id');

                location.href = CONTROLLER + '/sellerRecruitManage?sellerType=' + sellerType +
                    '&taskOrderId=' + taskOrderId;
            });
        });
    </script>
</block>