<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/promotion.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-js/My97DatePicker/skin/default/datepicker.css ">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/pageAjax.css">
</block>
<block name="content">
    <div id="layoutRight" class="ncsc-layout-right">
        <div class="ncsc-path">
            <a href="{:U('PurchasePromotion/bundlingList')}" class="current"></i>平台套餐促销</a>
            <a href="#">拓客特惠</a>
            <a href="{:U('PurchaseTheme/addThemePurchase1')}"></i>主题采购</a>
        </div>
        <div class="main-content" id="mainContent">
            <div class="tabmenu">
                <ul class="tab pngFix">
                    <li class="">
                        <span>新增套餐抢购促销</span>
                    </li>
                </ul>
                 <div class="add_purchase_btn">
                     <a href="{:U('PurchasePromotion/bundlingList')}" class="ncsc-btn ncsc-btn-green">套餐抢购促销列表</a>
                </div>
            </div>
            <div class="ncsc-form-default">
                <form id="add_form" action="#" method="post" enctype="multipart/form-data">
                    <input name="bundling_id" id="bundling_id" class="bundling_id" value="{$bundlingGoodsList.id}" type="hidden">
                    <dl>
                        <dt><i class="required">*</i>套餐名称：</dt>
                        <dd>
                            <input class="w400 text" name="name" id="groupbuy_name" value="{$bundlingGoodsList.name}" maxlength="30" type="text">
                            <span></span>
                            <p class="hint">套餐标题名称长度最多可输入30个字符</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>套餐副标题：</dt>
                        <dd>
                            <input class="w400 text" name="remark" id="remark" value="{$bundlingGoodsList.remark}" maxlength="30" type="text">
                            <span></span>
                            <p class="hint">套餐活动副标题最多可输入30个字符</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>开始时间：</dt>
                        <dd>
                            <empty name="bundlingGoodsList.start_time">
                                <input  name="start_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="" type="text" onclick="WdatePicker()">
                                <else />
                                <input id="start_time" name="start_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="{$bundlingGoodsList.start_time|date='Y-m-d',###}" type="text" onclick="WdatePicker()">
                            </empty>

                            <em class="add-on"><i class="icon-calendar"></i></em><span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>结束时间：</dt>
                        <dd>
                            <empty name="bundlingGoodsList.end_time">
                                <input  name="end_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="" type="text" onclick="WdatePicker()">
                                <else />
                                <input id="end_time" name="end_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="{$bundlingGoodsList.end_time|date='Y-m-d',###}" type="text" onclick="WdatePicker()">
                            </empty>
                            <em class="add-on"><i class="icon-calendar"></i></em><span></span>
                            <p class="hint"></p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>套餐商品：</dt>
                        <dd>
                            <p>
                                <span></span>
                            </p>
                            <table class="ncsc-default-table mb15">
                                <thead>
                                <tr>
                                    <th class="w70">指定优惠</th>
                                    <th class="tl" colspan="2">商品名称</th>
                                    <th class="w90">原价</th>
                                    <th class="w90">优惠价格</th>
                                    <th class="w90">数量</th>
                                    <th class="w90">操作</th>
                                </tr>
                                </thead>
                                <tbody nctype="bundling_data" class="bd-line tip ui-sortable" >
                                </tbody>
                            </table>
                            <a id="bundling_add_goods" href="JavaScript:void(0);" class="ncsc-btn ncsc-btn-acidblue selected addbundling_ncsc_btn" style="display: inline-block;">添加商品</a>
                            <div class="div-goods-select-box">
                                <div id="bundling_add_goods_ajaxContent">
                                    <div class="div-goods-select">
                                        <table class="search-form search_product_type">
                                            <tbody>
                                            <tr>
                                                <!--<td>&nbsp;</td>-->
                                                <th>商品分类</th>
                                                <td class="w160 addbundling_type">

                                                    <select name="parent_id_1" id="parent_id_1" onchange="get_category(this.value,'parent_id_2','0');" class="w150">
                                                        <option value="">顶级分类</option>
                                                        <foreach name="goodsCategoryList" item="v" >
                                                            <option value="{$v.id}">{$v.name}</option>
                                                        </foreach>
                                                    </select>
                                                    <select id="parent_id_2" class="w150" name="parent_id_2" onchange="get_category(this.value,'parent_id_3','0');">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                    <select id="parent_id_3" class="w150" name="parent_id_3">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                </td>

                                                <th>商品名称</th>
                                                <td class="w160"><input type="text"  id="keyword" class="text" value=""></td>
                                                <td class="tc w70"><a id="search_a" href="javascript:void(0);" nctype="search_a" class="ncs-btn addbundling_type_btn" onclick="getPage(1)"><i class="icon-search"></i>搜索</a></td>
                                                <td class="w10"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="content" id="ajax_lists"></div>
                                    </div>
                                </div>
                                <a id="bundling_add_goods_delete" class="close" href="javascript:void(0);" style="right: -10px; display: none;">X</a></div>
                        </dd>
                    </dl>
                    <dl nctype="groupbuy_goods_info" style="display:none;">
                        <dt>店铺价格：</dt>
                        <dd> ¥<span nctype="groupbuy_goods_price"></span><input id="input_groupbuy_goods_price" type="hidden"></dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>套餐价格：</dt>
                        <dd>
                            <input class="w70 text" id="bundling_price" name="bundling_price" value="{$bundlingGoodsList.bundling_price}" type="text"><em class="add-on"><i class="icon-renminbi"></i></em> <span></span>
                            <p class="hint">套餐抢购价格为该商品参加活动时的促销价格<br>必须是0.01~1000000之间的数字(单位：元)</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>套餐抢购活动图片：</dt>
                        <dd>
                            <div class="ncsc-upload-thumb groupbuy-pic">
                                <p><i class="icon-picture"></i>
                                    <empty name="bundlingGoodsList">
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="">
                                        <else />
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="__ROOT__/Uploads/{$bundlingGoodsList.bundling_image}">
                                    </empty>
                                    </p>
                            </div>
                            <input nctype="groupbuy_image" class="img_url" name="bundling_image" value="{$bundlingGoodsList.bundling_image}" type="hidden">
                            <div class="ncsc-upload-btn">
                                <a href="javascript:void(0);">
                            <span>
                                <input hidefocus="true" size="1" class="uploadImgBtn input-file" name="groupbuy_image" nctype="btn_upload_image" type="file">
                            </span>
                                    <p><i class="icon-upload-alt"></i>图片上传</p>
                                </a>
                            </div>
                            <span></span>
                            <p class="hint">用于套餐抢购活动页面的图片,请使用宽度440像素、高度293像素、大小1M内的图片，<br>支持jpg、jpeg、gif、png格式上传。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>套餐抢购推荐位图片：</dt>
                        <dd>
                            <div class="ncsc-upload-thumb groupbuy-commend-pic">
                                <p><i class="icon-picture"></i>
                                    <empty name="bundlingGoodsList">
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="">
                                        <else />
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="__ROOT__/Uploads/{$bundlingGoodsList.bundling_image1}">
                                    </empty>

                                </p>
                            </div>
                            <input nctype="groupbuy_image" name="bundling_image1" class="img_url" value="{$bundlingGoodsList.bundling_image1}" type="hidden">
                            <div class="ncsc-upload-btn">
                                <a href="javascript:void(0);">
                                <span>
                                    <input hidefocus="true" size="1" class="uploadImgBtn input-file" name="groupbuy_image" nctype="btn_upload_image" type="file">
                                 </span>
                                        <p><i class="icon-upload-alt"></i>图片上传</p>
                                </a>
                            </div>
                            <p class="hint">用于抢购页侧边推荐位，首页推荐位的图片,请使用宽度210像素、高度180像素、大小1M内的图片，<br>支持jpg、jpeg、gif、png格式上传。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>套餐抢购类别：</dt>
                        <dd>
                            <select id="category_id" name="category_id" class="w80">
                                <option value="0">不限</option>
                                <foreach name="goodsCategoryList" item="v" >
                                    <option value="{$v.id}"  <if condition="$v['id'] eq $bundlingGoodsList['category_id']">selected="selected" </if>>{$v.name}</option>
                                </foreach>
                            </select>
                            <span></span>
                            <p class="hint">请选择抢购商品的所属类别</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>虚拟数量：</dt>
                        <dd>
                            <empty name="bundlingGoodsList">
                                <input class="w70 text"  name="virtual_quantity" value="0" type="text">
                                <else />
                                <input class="w70 text"  name="virtual_quantity" value="{$bundlingGoodsList.virtual_quantity}" type="text">
                            </empty>
                            <span></span>
                            <p class="hint">虚拟购买数量，只用于前台显示，不影响成交记录</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>限购数量：</dt>
                        <dd>
                            <empty name="bundlingGoodsList">
                                <input class="w70 text"  name="upper_limit" value="0" type="text">
                                <else />
                                <input class="w70 text"  name="upper_limit" value="{$bundlingGoodsList.upper_limit}" type="text">
                            </empty>

                            <span></span>
                            <p class="hint">每个买家ID可抢购的最大数量，不限数量请填 "0"</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>本套餐介绍：</dt>
                        <dd>
                            <textarea id="groupbuy_intro" name="bundling_intro" style="width: 740px; height: 360px; display: none;">{$bundlingGoodsList.bundling_intro}</textarea>
                            <p id="des_demo" style="display:none;"></p>
                        </dd>
                    </dl>
                    <div class="bottom"><label class="submit-border">
                        <input class="submit" id="submit" value="提交" type="button"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>

</block>
<block name="js-customize">

    <script type="text/javascript" src="__PUBLIC__/admin-js/common/jquery.validate.min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/admin-js/common/My97DatePicker/WdatePicker.js" ></script>
    <script src="__PUBLIC__/admin-js/common/kindeditor-4.1.10/kindeditor-min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/admin-js/zh_CN.js" charset="utf-8"></script>

</block>
<block name="script">
    <script>
        //商品载入
        var url_ajax = CONTROLLER+'/ajaxGoodsList';
        $(function() {
            $("#ajax_lists").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage(page);
            });
            $('#bundling_add_goods').click(function () {
                getPage(1);
            })

        })
        function getPage(page) {
            $("#ajax_lists").html("<div class='loading'><div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'></div>");
            var keyword = $("#keyword").val();
            var parent_id_1 =$('#parent_id_1').val();
            var parent_id_2 =$('#parent_id_2').val();
            var parent_id_3 =$('#parent_id_3').val();
            $.get(url_ajax, {keyword: keyword,parent_id_1:parent_id_1,parent_id_2:parent_id_2,parent_id_3:parent_id_3, p: page}, function(data){
                $('#ajax_lists').html(data);
            })
        }

        var KE;
        KindEditor.ready(function(K) {
            KE = K.create("textarea[name='bundling_intro']", {
                items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', '|', 'selectall', 'clearhtml','quickformat','|',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'table', 'hr', 'emoticons', 'link', 'unlink', '|', 'about'],
                cssPath : "/Public/css/kindeditor/themes/default/default.css",
                allowImageUpload : false,
                allowFlashUpload : false,
                allowMediaUpload : false,
                allowFileManager : false,
                syncType:"form",
                afterCreate : function() {
                    var self = this;
                    self.sync();
                },
                afterChange : function() {
                    var self = this;
                    self.sync();
                },
                afterBlur : function() {
                    var self = this;
                    self.sync();
                }
            });
            KE.appendHtml = function(id,val) {
                this.html(this.html() + val);
                if (this.isCreated) {
                    var cmd = this.cmd;
                    cmd.range.selectNodeContents(cmd.doc.body).collapse(false);
                    cmd.select();
                }
                return this;
            }
        });

        //添加产品
        function bundling_goods_add(obj){
            $(".ncsc-default-table .add_goods_tipc").hide();
            var goodsNumber=6;
            var parentTag=obj.parents('li');
            var parentIndex=parentTag.attr('nctype');
            var goodsTitle=parentTag.find('.goods_title').text();
            var goodsPrice=parentTag.find('.goods_price').text();
            var goodsListLength=$('.ui-sortable').find('tr').length;
            var goodsImg = parentTag.find('.goods_img').attr('src');
            var goods_id=[];
            $.each($('.ui-sortable tr'),function(i,val) {
                goods_id.push($(this).attr('id'));
            });
            if (goods_id.indexOf(parentTag.attr('nctype'))!=-1) {
               dialog.toconfirm('此商品已添加');
                return false;
            }
            var html = '';
            html += '<tr id="' + parentIndex + '">';
            html += '<td>';
            html += '<input type="checkbox" class="goods_selected" checked="checked"/>';
            html += '</td>';
            html += '<td class="w50 ">';
            html += '<div class="pic-thumb"><img src="' + goodsImg + '" width="60" height="60"/></div>';
            html += '</td>';
            html += '<td class="t1">';
            html += '<dl class="goods-name"><dt style="width:300px;">' + goodsTitle + '</dt></dl>';
            html += '</td>';
            html += '<td class="w90 goods-price">' + goodsPrice + '</td>';
            html += '<td class="w90">';
            html += '<input type="text" value="' + goodsPrice + '" class="text w70 goodsPrice"/>';
            html += '</td>';
            html+='<td class="w90">';
            html+='<input type="text" value="1" class="text w70 goodsNum"/>';
            html+='</td>';
            html += '<td>';
            html += '<span>';
            html += '<a href="javascript:void(0);" class="btn-orange goods_del" onclick="bundling_operate_delete(' + parentIndex + ')">移除</a>';
            html += '</span>';
            html += '</td>';
            html += '</tr>'
            obj.attr('onclick', "bundling_operate_delete(" + parentIndex + ")");
            obj.text('从优惠套装移除').addClass('ncsc-btn-orange');
            $('.ncsc-default-table').append(html);
        }
//
//      //删除产品
        function bundling_operate_delete(o){
            $('#'+o).remove();
            // //check_bundling_data_length();   bundling_operate_delete($("#bundling_tr_'+parentIndex+'
            $('li[nctype="'+o+'"]').children(':last').html('<a href="JavaScript:void(0);" onclick="bundling_goods_add($(this))" class="ncsc-btn-mini ncsc-btn-green"><i class="icon-plus"></i>添加到优惠套装</a>');
            // //count_cost_price_sum();
        }

        $(document).ready(function(){
//            $('.goodsPrice').click(function(){
//                alert($('.goodsPrice').val());
//            })
            // 上传图片  
            $('body').on('change','.uploadImgBtn',function(){
                var _this = $(this);
                var img = event.target.files[0];
                var obj=$(this).parents('.ncsc-upload-btn').siblings('.ncsc-upload-thumb');

                // 判断是否图片  
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).find('.groupbuy_image').attr('src',imgUrl);
                    $.post(CONTROLLER+'/uploadImgToTemp', { img: e.target.result},function(ret){
                        if(ret.status == 1){
                            _this.parent().parent().parent().prev().val(TEMP + ret.info);
                        }

                    },'json');
                }
            });


            // 验证表单
            jQuery.validator.methods.greaterThanDate = function(value, element, param) {
                var date1 = new Date(Date.parse(param.replace(/-/g, "/")));
                var date2 = new Date(Date.parse(value.replace(/-/g, "/")));
                return date1 < date2;
            };

            jQuery.validator.methods.lessThanDate = function(value, element, param) {
                var date1 = new Date(Date.parse(param.replace(/-/g, "/")));
                var date2 = new Date(Date.parse(value.replace(/-/g, "/")));
                return date1 > date2;
            };

            jQuery.validator.methods.greaterThanStartDate = function(value, element) {
                var start_date = $("#start_time").val();
                var date1 = new Date(Date.parse(start_date.replace(/-/g, "/")));
                var date2 = new Date(Date.parse(value.replace(/-/g, "/")));
                return date1 < date2;
            };

            $("#add_form").validate({
                errorPlacement: function(error, element){
                    var error_td = element.parent('dd').children('span');
                    error_td.append(error);
                },
                //onfocusout: false,
                //onsubmit:false,
                submitHandler:function(form){
                    //jaxpost('add_form', '', '', 'onerror');
                    // debug:true,
                    form.submit()
                },
                rules : {
                    name: {
                        required : true
                    },
                    start_time : {
                        required : true,
                        greaterThanDate :(new Date()).toLocaleDateString()+' '+(new Date()).toLocaleTimeString()
                    },
                    end_time : {
                        required : true,
                        greaterThanStartDate : true
                    },
                    groupbuy_goods_id: {
                        required : true,
                        checkGroupbuyGoods: true
                    },
//                    bundling_price: {
//                        required : true,
//                        number : true,
//                        lessThanGoodsPrice: true,
//                        min : 0.01,
//                        max : 1000000
//                    },
                    virtual_quantity: {
                        required : true,
                        digits : true
                    },
                    upper_limit: {
                        required : true,
                        digits : true
                    },
                    bundling_image: {
                        required : true
                    }
                },
                messages : {
                    name: {
                        required : '<i class="icon-exclamation-sign"></i>抢购名称不能为空'
                    },
                    start_time : {
                        required : '<i class="icon-exclamation-sign"></i>抢购开始时间不能为空',
                        greaterThanDate : '<i class="icon-exclamation-sign"></i>抢购开始时间必须大于{0}'
                    },
                    end_time : {
                        required : '<i class="icon-exclamation-sign"></i>抢购结束时间不能为空',
                        greaterThanStartDate : '<i class="icon-exclamation-sign"></i>结束时间必须大于开始时间'
                    },
                    groupbuy_goods_id: {
                        required : '<i class="icon-exclamation-sign"></i>请选择抢购商品',
                        checkGroupbuyGoods: '该商品已经参加了同时段的活动'
                    },
//                    bundling_price: {
//                        required : '<i class="icon-exclamation-sign"></i>请输入正确的抢购价格',
//                        number : '<i class="icon-exclamation-sign"></i>请输入正确的抢购价格',
//                        lessThanGoodsPrice: '<i class="icon-exclamation-sign"></i>抢购价格必须小于商品价格',
//                        min : '<i class="icon-exclamation-sign"></i>请输入正确的抢购价格',
//                        max : '<i class="icon-exclamation-sign"></i>请输入正确的抢购价格'
//                    },
                    virtual_quantity: {
                        required : '<i class="icon-exclamation-sign"></i>虚拟数量不能为空，且必须为整数',
                        digits : '<i class="icon-exclamation-sign"></i>虚拟数量不能为空，且必须为整数'
                    },
                    upper_limit: {
                        required : '<i class="icon-exclamation-sign"></i>限购数量不能为空，其必须为整数',
                        digits : '<i class="icon-exclamation-sign"></i>限购数量不能为空，其必须为整数'
                    },
                    bundling_image: {
                        required : '<i class="icon-exclamation-sign"></i>抢购图片不能为空'
                    }
                }
           });
          //提交表单
            $("#submit").on('click',function(){
                var goods=[];
                var goodsEveryObj={};
                $.each($('.ui-sortable tr'),function(){
                    if($(this).find('.goods_selected').is(':checked')){
                        goodsEveryObj={
                            goodsId:$(this).attr('id'),
                            goodsPrice:$(this).find('.goodsPrice').val(),
                            goodsNum:$(this).find('.goodsNum').val()
                        };
                        goods.push(goodsEveryObj);
                    }
                });

                var postData = $('#add_form').serializeObject();
                 postData.goods = goods;

                $.post(CONTROLLER+'/addEditBundling',postData,function(msg){
                    if(msg.status == 1){
                        dialog.success(msg.info,CONTROLLER+'/bundlingList');
                    }else{
                        dialog.error(msg.info);
                    }
                },'json');

                if($('#add_form').valid()){
                    $('#add_form').submit();
                }
            });

           //修改套餐，套餐产品默认选中
            var allPriceCount=0;
            var bundling_id=$('#bundling_id').val();
            setBundlingGoods();
            function setBundlingGoods() {
                $(".ncsc-default-table .add_goods_tipc").hide();
                $.ajax({
                    type:'post',
                    url:CONTROLLER+'/bundlingGoodsList',
                    data:{bundling_id:bundling_id},
                    dataType:'json',
                    success:function(data){
                        var html='';
                        for(i in data){
                            html+='<tr id="'+data[i].goods_id+'">';
                            html+='<td>';
                            html+='<input type="checkbox" class="goods_selected" checked="checked"/>';
                            html+='</td>';
                            html+='<td class="w50 ">';
                            html+='<div class="pic-thumb"><img src="'+UPLOAD+data[i].goods_image+'" width="60" height="60"/></div>';
                            html+='</td>';
                            html+='<td class="t1">';
                            html+='<dl class="goods-name"><dt style="width:300px;">'+data[i].goods_name+'</dt></dl>';
                            html+='</td>';
                            html+='<td class="w90 goods-price">'+data[i].original_goods_price+'</td>';
                            html+='<td class="w90">';
                            html+='<input type="text" value="'+data[i].bundling_goods_price+'" class="text w70 goodsPrice"/>';
                            html+='</td>';
                            html+='<td class="w90">';
                            html+='<input type="text" value="'+data[i].goods_num+'" class="text w70 goodsNum"/>';
                            html+='</td>';
                            html+='<td>';
                            html+='<span>';
                            html+='<a href="javascript:void(0);" class="btn-orange goods_del" onclick="bundling_operate_delete('+data[i].goods_id+')">移除</a>';
                            html+='</span>';
                            html+='</td>';
                            html+='</tr>'
                        }
                        $('.ncsc-default-table').append(html);

                        //计算套餐总价格
                         $('body').on('blur','.goodsPrice,.goodsNum',function(){
                            var allPriceArr=[];
                            var allPriceCount=0;
                            var toal = 0;
                            $.each($('.ui-sortable tr'),function(){
                                var price = parseFloat($(this).find('.goodsPrice').val());
                                var num  = parseInt($(this).find('.goodsNum').val());
                                toal = price*num;
                                allPriceArr.push(toal);
                            });
                            for(var i=0;i<allPriceArr.length;i++){
                                allPriceCount=parseFloat(allPriceArr[i]) + parseFloat(allPriceCount);
                            }

                             //赋值给套餐价格
                             $('#bundling_price').val(allPriceCount);
                             console.log(allPriceCount)
                        });

                    }
                });

            }
        });

    </script>

</block>