<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/promotion.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-js/common/My97DatePicker/skin/default/datepicker.css ">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/pageAjax.css">
</block>
<block name="content">
    <div id="layoutRight" class="ncsc-layout-right">
        <div class="ncsc-path">
            <a href="{:U('PurchasePromotion/bundlingList')}">平台套餐促销</a>
            <a href="#">拓客特惠</a>
            <a href="{:U('PurchaseTheme/themePurchaseList1')}" class="current">主题采购</a>
        </div>
        <div class="main-content" id="mainContent">
            <div class="tabmenu">
                <ul class="tab pngFix">
                    <li><span>新增二级主题采购信息</span></li>
                </ul>
                <div class="add_purchase_btn">
                    <a href="{:U('PurchaseTheme/themePurchaseList1')}" class="ncsc-btn ncsc-btn-green">主题采购一级信息列表</a>
                    <a href="{:U('PurchaseTheme/addThemePurchase1')}" class="ncsc-btn ncsc-btn-green">新增一级主题采购信息</a>
                    <a href="{:U('PurchasePromotion/secondThemeList')}" class="ncsc-btn ncsc-btn-green">主题采购二级信息列表</a>
                </div>
            </div>
            <div class="ncsc-form-default">
                <form id="add_form" action="#" method="post" enctype="multipart/form-data">
                    <input name="theme_id" id="" class="theme_id" value="{$secondTheme.id}" type="hidden">
                    <dl>
                        <dt><i class="required">*</i>主题采购名称：</dt>
                        <dd>
                            <input class="w400 text" name="name" value="{$secondTheme.name}" maxlength="30" type="text">
                            <span></span>
                            <p class="hint">主题采购名称长度最多可输入30个字符</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>开始时间：</dt>
                        <dd>
                            <empty name="secondTheme.start_time">
                                <input  name="start_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="" type="text" onclick="WdatePicker()">
                                <else />
                                <input id="start_time" name="start_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="{$secondTheme.start_time|date='Y-m-d',###}" type="text" onclick="WdatePicker()">
                            </empty>

                            <em class="add-on"><i class="icon-calendar"></i></em><span></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>结束时间：</dt>
                        <dd>
                            <empty name="secondTheme.end_time">
                                <input  name="end_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="" type="text" onclick="WdatePicker()">
                                <else />
                                <input id="end_time" name="end_time" class="text w130 hasDatepicker Wdate" readonly="readonly" value="{$secondTheme.end_time|date='Y-m-d',###}" type="text" onclick="WdatePicker()">
                            </empty>
                            <em class="add-on"><i class="icon-calendar"></i></em><span></span>
                            <p class="hint"></p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>相关商品：</dt>
                        <dd>
                            <p>
                                <span></span>
                            </p>
                            <table class="ncsc-default-table ncsc-default-table1 mb15">
                                <thead>
                                <tr>
                                    <th class="w70">指定优惠</th>
                                    <th class="tl" colspan="2">商品名称</th>
                                    <th class="w90">原价</th>
                                    <th class="w90">优惠价格</th>
                                    <th class="w90">数量</th>
                                    <th class="w90">操作</th>
                                </tr>
                                </thead>
                                <tbody nctype="secondThemeData" class="bd-line tip ui-sortable" >
                                </tbody>
                            </table>
                            <a id="add_goods" href="JavaScript:void(0);" class="ncsc-btn ncsc-btn-acidblue selected addbundling_ncsc_btn" style="display: inline-block;">添加商品</a>
                            <div class="div-goods-select-box">
                                <div id="add_goods_ajaxContent">
                                    <div class="div-goods-select">
                                        <table class="search-form search_product_type">
                                            <tbody>
                                            <tr>
                                                <!--<td>&nbsp;</td>-->
                                                <th>商品分类</th>
                                                <td class="w160 addbundling_type">

                                                    <select  id="parent_id_1" onchange="get_category(this.value,'parent_id_2','0');" class="w150">
                                                        <option value="">顶级分类</option>
                                                        <foreach name="goodsCategoryList" item="v" >
                                                            <option value="{$v.id}">{$v.name}</option>
                                                        </foreach>
                                                    </select>
                                                    <select id="parent_id_2" class="w150"  onchange="get_category(this.value,'parent_id_3','0');">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                    <select id="parent_id_3" class="w150" >
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                </td>

                                                <th>商品名称</th>
                                                <td class="w160"><input type="text"  id="keyword" class="text" value=""></td>
                                                <td class="tc w70"><a id="search_a" href="javascript:void(0);" nctype="search_a" class="ncs-btn addbundling_type_btn" onclick="getPage(1)"><i class="icon-search"></i>搜索</a></td>
                                                <td class="w10"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="content" id="ajax_lists"></div>
                                    </div>
                                </div>
                                <a id="add_goods_delete" class="close" href="javascript:void(0);" style="right: -10px; display: none;">X</a></div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>耗材商品和仪器：</dt>
                        <dd>
                            <p>
                                <span></span>
                            </p>
                            <table class="ncsc-default-table ncsc-default-table2 mb15">
                                <thead>
                                <tr>
                                    <th class="w70">指定优惠</th>
                                    <th class="tl" colspan="2">商品名称</th>
                                    <th class="w90">原价</th>
                                    <th class="w90">优惠价格</th>
                                    <th class="w90">数量</th>
                                    <th class="w90">操作</th>
                                </tr>
                                </thead>
                                <tbody nctype="bundling_data" class="bd-line tip ui-sortable" title="搭配销售的商品可上下&lt;br/&gt;拖移商品列可自定义显&lt;br/&gt;示排序；编辑、删除、&lt;br/&gt;排序等操作提交后生效。">
                                </tbody>
                            </table>
                            <a id="add_goods2" href="JavaScript:void(0);" class="ncsc-btn ncsc-btn-acidblue selected addbundling_ncsc_btn" style="display: inline-block; ">添加商品</a>
                            <div class="div-goods-select-box">
                                <div id="add_goods_ajaxContent2">
                                    <div class="div-goods-select">
                                        <table class="search-form search_product_type">
                                            <tbody>
                                            <tr>
                                                <!--<td>&nbsp;</td>-->
                                                <th>商品分类</th>
                                                <td class="w160 addbundling_type">

                                                    <select  id="parent_id_12" onchange="get_category(this.value,'parent_id_22','0');" class="w150">
                                                        <option value="">顶级分类</option>
                                                        <foreach name="goodsCategoryList" item="v" >
                                                            <option value="{$v.id}">{$v.name}</option>
                                                        </foreach>
                                                    </select>
                                                    <select id="parent_id_22" class="w150"  onchange="get_category(this.value,'parent_id_32','0');">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                    <select id="parent_id_32" class="w150" >
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                </td>

                                                <th>商品名称</th>
                                                <td class="w160"><input type="text"  id="keyword2" class="text" value=""></td>
                                                <td class="tc w70"><a id="search_a2" href="javascript:void(0);" nctype="search_a" class="ncs-btn addbundling_type_btn" onclick="getPage2(1)"><i class="icon-search"></i>搜索</a></td>
                                                <td class="w10"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="content" id="ajax_lists2"></div>
                                    </div>
                                </div>
                                <a id="add_goods_delete2" class="close" href="javascript:void(0);" style="right: -10px; display: none;">X</a></div>
                        </dd>
                    </dl>
                    <dl nctype="groupbuy_goods_info" style="display:none;">
                        <dt>店铺价格：</dt>
                        <dd> ¥<span nctype="groupbuy_goods_price"></span><input id="input_groupbuy_goods_price" type="hidden"></dd>
                    </dl>
                    <dl>
                        <dt><i class="required">*</i>主题采购二级图片：</dt>
                        <dd>
                            <div class="ncsc-upload-thumb groupbuy-pic">
                                <p><i class="icon-picture"></i>
                                    <empty name="secondTheme.theme_img">
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="">
                                        <else />
                                        <img nctype="img_groupbuy_image" class="groupbuy_image" src="__ROOT__/Uploads/{$secondTheme.theme_img}">
                                    </empty>
                                    </p>
                            </div>
                            <input  class="img_url" name="theme_img" value="{$secondTheme.theme_img}" type="hidden">
                            <div class="ncsc-upload-btn">
                                <a href="javascript:void(0);">
                            <span>
                                <input hidefocus="true" size="1" class="uploadImgBtn input-file" name="img" nctype="btn_upload_image" type="file">
                            </span>
                                    <p><i class="icon-upload-alt"></i>图片上传</p>
                                </a>
                            </div>
                            <span></span>
                            <p class="hint">用于主题采购二级图片图片,请使用宽度440像素、高度293像素、大小1M内的图片，<br>支持jpg、jpeg、gif、png格式上传。</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>主题采购所属类别：</dt>
                        <dd>
                            <select id="category_id" name="category_id" class="w80">
                                <option value="">不限</option>
                                <foreach name="goodsCategoryList" item="v" >
                                    <option value="{$v.id}"  <if condition="$v['id'] eq $secondTheme['category_id']">selected="selected" </if>>{$v.name}</option>
                                </foreach>
                            </select>
                            <span></span>
                            <p class="hint">请选择主题采购所属类别</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>技术原理图片一：</dt>
                        <dd class="theory_img_1">
                            <!-- 加载编辑器的容器 -->
                            <script id="theory_img_1" name="theory_img_1_content" type="text/plain">
                                {$theory_img_1}
                            </script>
                        </dd>
                    </dl>
                    <dl>
                        <dt>技术原理图片二：</dt>
                        <dd class="theory_img_2">
                            <!-- 加载编辑器的容器 -->
                            <script id="theory_img_2" name="theory_img_2_content" type="text/plain">
                                {$theory_img_2}
                            </script>
                        </dd>
                    </dl>

                    <dl>
                        <dt>视频上传：</dt>
                        <dd class="video">
                            <!-- 加载编辑器的容器 -->
                            <script id="video" name="video_content" type="text/plain">

                            </script>
                            <input id="temp" type="hidden" value='{$secondTheme.video_content}'/>
                        </dd>
                    </dl>

                    <div class="bottom"><label class="submit-border">
                        <input class="submit" id="submit" value="提交" type="button"></label>
                    </div>
                </form>
            </div>
        </div>
   </div>

</block>
<block name="js-customize">

    <script type="text/javascript" src="__PUBLIC__/admin-js/common/jquery.validate.min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/admin-js/common/My97DatePicker/WdatePicker.js" ></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/admin-js/common/Ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/admin-js/common/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin-js/common/Ueditor/ueditor.parse.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-js/common/Ueditor/third-party/video-js/video-js.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin-js/common/Ueditor/third-party/video-js/video.js"></script>
    <script src="http://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>

    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue1 = UE.getEditor('theory_img_1');
        var ue2 = UE.getEditor('theory_img_2');
        var ue = UE.getEditor('video');
         ue.ready(function () {
             ue.setContent($('#temp').val());
         });
    </script>

</block>
<block name="script">
    <script>

        //商品载入
        var url_ajax = CONTROLLER+'/ajaxGoodsList';
        $(function() {
            $("#ajax_lists").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage(page);
            });
            $('#add_goods').click(function () {
                getPage(1);
            });


            $("#ajax_lists2").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage2(page);
            });
            $('#add_goods2').click(function () {
                getPage2(1);
            })

        });
        function getPage(page) {
            $("#ajax_lists").html("<div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'>");
            var keyword = $("#keyword").val();
            var parent_id_1 =$('#parent_id_1').val();
            var parent_id_2 =$('#parent_id_2').val();
            var parent_id_3 =$('#parent_id_3').val();
            $.get(url_ajax, {keyword: keyword,parent_id_1:parent_id_1,parent_id_2:parent_id_2,parent_id_3:parent_id_3, p: page}, function(data){
                $('#ajax_lists').html(data);
            });

        }

        function getPage2(page) {
            $("#ajax_lists2").html("<div class='loading'><img src='__PUBLIC__/images/purchase/default/loading.gif' alt='loading'></div>");
            var keyword = $("#keyword2").val();
            var parent_id_1 =$('#parent_id_12').val();
            var parent_id_2 =$('#parent_id_22').val();
            var parent_id_3 =$('#parent_id_32').val();
            $.get(url_ajax, {keyword: keyword,parent_id_1:parent_id_1,parent_id_2:parent_id_2,parent_id_3:parent_id_3, p: page}, function(data){
                $('#ajax_lists2').html(data);
            })
        }


        //添加产品
        function bundling_goods_add(obj){
            $(".ncsc-default-table .add_goods_tipc").hide();
            var goodsNumber=6;
            var parentTag=obj.parents('li');
            var parentIndex=parentTag.attr('nctype');
            var goodsTitle=parentTag.find('.goods_title').text();
            var goodsPrice=parentTag.find('.goods_price').text();
            var goodsListLength=$('.ui-sortable').find('tr').length;
            var goodsImg = parentTag.find('.goods_img').attr('src');
            var goods_id=[];
            $.each($('.ui-sortable tr'),function(i,val) {
                goods_id.push($(this).attr('id'));
            });
            if (goods_id.indexOf(parentTag.attr('nctype'))!=-1) {
               dialog.toconfirm('此商品已添加');
                return false;
            }
            var html = '';
            html += '<tr id="' + parentIndex + '">';
            html += '<td>';
            html += '<input type="checkbox" class="goods_selected" checked="checked"/>';
            html += '</td>';
            html += '<td class="w50 ">';
            html += '<div class="pic-thumb"><img src="' + goodsImg + '" width="60" height="60"/></div>';
            html += '</td>';
            html += '<td class="t1">';
            html += '<dl class="goods-name"><dt style="width:300px;">' + goodsTitle + '</dt></dl>';
            html += '</td>';
            html += '<td class="w90 goods-price">' + goodsPrice + '</td>';
            html += '<td class="w90">';
            html += '<input type="text" value="' + goodsPrice + '" class="text w70 goodsPrice"/>';
            html += '</td>';
            html += '<td>';
            html += '<span>';
            html += '<a href="javascript:void(0);" class="btn-orange goods_del" onclick="bundling_operate_delete(' + parentIndex + ')">移除</a>';
            html += '</span>';
            html += '</td>';
            html += '</tr>'
            obj.attr('onclick', "bundling_operate_delete(" + parentIndex + ")");
            obj.text('从优惠套装移除').addClass('ncsc-btn-orange');
            if(obj.parents('.content').attr('id')=='ajax_lists'){
                $('.ncsc-default-table1').append(html);
            }else{
                $('.ncsc-default-table2').append(html);
            }
            
        }
//
//      //删除产品
        function bundling_operate_delete(o){
            $('#'+o).remove();
            $('li[nctype="'+o+'"]').children(':last').html('<a href="JavaScript:void(0);" onclick="bundling_goods_add($(this))" class="ncsc-btn-mini ncsc-btn-green"><i class="icon-plus"></i>添加到优惠套装</a>');
        }

        $(document).ready(function(){
            // 上传图片  
            $('body').on('change','.uploadImgBtn',function(){
                var _this = $(this);
                var img = event.target.files[0];
                var obj=$(this).parents('.ncsc-upload-btn').siblings('.ncsc-upload-thumb');

                // 判断是否图片  
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).find('.groupbuy_image').attr('src',imgUrl);
                    $.post(CONTROLLER+'/uploadImgToTemp', { img: e.target.result},function(ret){
                        if(ret.status == 1){
                            _this.parent().parent().parent().prev().val(ret.info);
                        }

                    },'json');
                }
            });


          //提交表单
            $("#submit").on('click',function(){

                //获取技术原理图片一
                var theory_img_1=[];
                $.each($('#theory_img_1').find('iframe').contents().find('.view img'),function(){
                    theory_img_1.push($(this).attr('src'));

                });


                //获取技术原理图片二
                var theory_img_2=[];
                $.each($('#theory_img_2').find('iframe').contents().find('.view img'),function(){
                    theory_img_2.push($(this).attr('src'));
                });

                //获取上视频文件的路径
              var video = $('#video').find('iframe').contents().find('.view img').attr('_url');
                var img_2=[];

                console.log(img_2)


                //获得相关商品的信息
                var goods=[];
                var goodsEveryObj={};
                $.each($('.ncsc-default-table1').find('.ui-sortable tr'),function(){
                    if($(this).find('.goods_selected').is(':checked')){
                        goodsEveryObj={
                            goodsId:$(this).attr('id'),
                            salePrice:$(this).find('.goodsPrice').val(),
                        };
                        goods.push(goodsEveryObj);
                    }
                });

                //获得仪器的信息
                var instrument  =[];
                var instrumentEveryObj={};
                $.each($('.ncsc-default-table2').find('.ui-sortable tr'),function(){
                    if($(this).find('.goods_selected').is(':checked')){
                        instrumentEveryObj={
                            goodsId:$(this).attr('id'),
                            salePrice:$(this).find('.goodsPrice').val(),
                        };
                        instrument.push(instrumentEveryObj);
                    }
                });


                var postData = $('#add_form').serializeObject();
                postData.goods = goods;
                postData.instrument = instrument;
                postData.theory_img_1 = theory_img_1;
                postData.theory_img_2 = theory_img_2;
                postData.video = video;
                //console.log(postData)

                $.post(CONTROLLER+'/addEditSecondTheme',postData,function(msg){
                    if(msg.status == 1){
                        dialog.success(msg.info,CONTROLLER+'/secondThemeList');
                    }else{
                        dialog.error(msg.info);
                    }
                },'json');


            });

           //修改主题采购，产品默认选中
           var theme_id=$('.theme_id').val();
          if(theme_id){
              setThemeGoods();
              setInstrumentGoods();
          }
             //相关产品默认选中
            function setThemeGoods() {
                $(".ncsc-default-table .add_goods_tipc").hide();
                $.ajax({
                    type:'post',
                    url:CONTROLLER+'/themeGoodsList',
                    data:{theme_id:theme_id},
                    dataType:'json',
                    success:function(data){
                        var html='';
                        for(i in data){
                            html+='<tr id="'+data[i].id+'">';
                            html+='<td>';
                            html+='<input type="checkbox" class="goods_selected" checked="checked"/>';
                            html+='</td>';
                            html+='<td class="w50 ">';
                            html+='<div class="pic-thumb"><img src="'+UPLOAD+data[i].first_img+'" width="60" height="60"/></div>';
                            html+='</td>';
                            html+='<td class="t1">';
                            html+='<dl class="goods-name"><dt style="width:300px;">'+data[i].name+'</dt></dl>';
                            html+='</td>';
                            html+='<td class="w90 goods-price">'+data[i].price+'</td>';
                            html+='<td class="w90">';
                            html+='<input type="text" value="'+data[i].sale_price+'" class="text w70 goodsPrice"/>';
                            html+='</td>';
                            html+='<td>';
                            html+='<span>';
                            html+='<a href="javascript:void(0);" class="btn-orange goods_del" onclick="bundling_operate_delete('+data[i].id+')">移除</a>';
                            html+='</span>';
                            html+='</td>';
                            html+='</tr>'
                        }
                        $('.ncsc-default-table1').append(html);

                    }
                });

            }
            //相关仪器默认选中
            function setInstrumentGoods() {
                $(".ncsc-default-table .add_goods_tipc").hide();
                $.ajax({
                    type:'post',
                    url:CONTROLLER+'/instrumentList',
                    data:{theme_id:theme_id},
                    dataType:'json',
                    success:function(data){
                        var html='';
                        for(i in data){
                            html+='<tr id="'+data[i].id+'">';
                            html+='<td>';
                            html+='<input type="checkbox" class="goods_selected" checked="checked"/>';
                            html+='</td>';
                            html+='<td class="w50 ">';
                            html+='<div class="pic-thumb"><img src="'+UPLOAD+data[i].first_img+'" width="60" height="60"/></div>';
                            html+='</td>';
                            html+='<td class="t1">';
                            html+='<dl class="goods-name"><dt style="width:300px;">'+data[i].name+'</dt></dl>';
                            html+='</td>';
                            html+='<td class="w90 goods-price">'+data[i].price+'</td>';
                            html+='<td class="w90">';
                            html+='<input type="text" value="'+data[i].sale_price+'" class="text w70 goodsPrice"/>';
                            html+='</td>';
                            html+='<td>';
                            html+='<span>';
                            html+='<a href="javascript:void(0);" class="btn-orange goods_del" onclick="bundling_operate_delete('+data[i].id+')">移除</a>';
                            html+='</span>';
                            html+='</td>';
                            html+='</tr>'
                        }
                        $('.ncsc-default-table2').append(html);

                    }
                });

            }
        });
    </script>
</block>