{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">
{/block}
{block name="content"}
<article class="f24">
	<section class="fixedtop top_nav_fixed">
		{include file="template/header_menu_msy_store.html" /}
	</section>
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/home-banner1.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner2.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner3.jpg" alt="" class="common_default_img">
				</div>
				<div class="swiper-slide ">
					<img src="public_img/banner/home-banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>      
	</section>
	<section class="module-navigation separation-line ">
		<div class="columns_flex f20 channel_nav store_organize_nav">
			<a href="javascript:void(0);" class="deployed-deployment async_login" data-jump_url="{:url('Store/index')}">
				<span class="union_purchase"></span>入驻部署
			</a>
			<a href="javascript:void(0);" class="store_run manager_manage async_login" data-jump_url="{:url('ManagerManage/manage')}">
				<span class="exclusive"></span>店长管理
			</a>
			<a href="javascript:void(0)" class="store-operation async_login" data-jump_url="{:url('Operation/index')}">
				<span class="classify"></span>店铺运营
			</a>
			<a href="javascript:void(0);" class="order-management-change async_login" data-jump_url="{:url('index/CustomerClient/index')}">
				<span class="purchasers"></span>订单客服
			</a>
			<a href="javascript:void(0);" class="my-store async_login" data-jump_url="{:url('index/CustomerClient/index')}">
				<span class="recharge"></span>财务结算
			</a>
		</div>
	</section>
	<section class="message-center-info f20">
		<p>欢迎来到美容机构管理中心</p>
		<p>美尚云平台支持机构多店铺运营管理</p>
		<br/>
		<a href="{:url('index/UserCenter/logout')}">退出</a>
		<br/><br/>
		<a href="javascript:void(0);" class="customer_client">客服测试</a>
		<br/><br/>
		<a href="{:url('LoginTest/index')}">登录测试</a>
	</section>
	<section class="entry_msy">
		<a href="{:url('Deploy/register')}" class="account_entry right-arrow f20">还未入驻？免费入驻美尚云生态圈平台</a>
	</section>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu_msy_store.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
{include file="public/dialog_factory_store" /}
<script type="text/javascript">
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		//客服
//		$('body').on('click','.customer_client',function () {
//			var url = domain + 'index/CustomerClient/index';
//			console.log(url);
//			var postData = {};
//			$.ajax({
//				url: url,
//				data: postData,
//				type: 'post',
//				beforeSend: function(xhr){
//					$('.loading').show();
//				},
//				error:function(xhr){
//					$('.loading').hide();
//					dialog.error('AJAX错误');
//				},
//				success: function(data){
//					$('.loading').hide();
//					if(data.code==0){
//						dialog.error(data.msg);
//					}else if(data.code==1 && data.data=='no_login'){
//						loginDialog();
//					}else{
//						location.href = url;
//					}
//				}
//			});
//		});
//		//入驻部署
//		$('body').on('click','.deployed-deployment',function () {
//			var url = module + 'Store/index';
//			var postData = {};
//			$.ajax({
//				url: url,
//				data: postData,
//				type: 'post',
//				beforeSend: function(xhr){
//					$('.loading').show();
//				},
//				error:function(xhr){
//					$('.loading').hide();
//					dialog.error('AJAX错误');
//				},
//				success: function(data){
//					$('.loading').hide();
//					if(data.status==0){
//						dialog.error(data.info);
//					}else if(data.code==1){
//						if(data.data == 'no_login'){
//							loginDialog();
//						}
//						if(data.data == 'no_factory_register'){
//							layer.open({
//								title:['提示'],
//								content:[data.msg],
//								btn:['确定',' 取消'],
//								yes:function () {
//									location.href= module + 'Deploy/register';
//								}
//							});
//						}
//					}else if(data.status==1){
//						location.href = url;
//					}
//				}
//			});
//		});
		//店长管理
		$('body').on('click','a.manager_manage',function () {
			loginBackFunction = function(){
				$('#storeShopInfo').find('.store_list').empty().append(loginBackFunctionParameter.data);
				switchManagerStore(loginBackFunctionParameter.jump_url);
			};
		});
		//店铺运营
//		$('body').on('click','.store-operation',function () {
//			var url = module + 'Operation/index';
//			var postData = {};
//			$.ajax({
//				url: url,
//				data: postData,
//				type: 'post',
//				beforeSend: function(xhr){
//					$('.loading').show();
//				},
//				error:function(xhr){
//					$('.loading').hide();
//					dialog.error('AJAX错误');
//				},
//				success: function(data){
//					$('.loading').hide();
//					if(data.status==0){
//						dialog.error(data.info);
//					}else if(data.code==1 ){
//						if(data.data == 'no_login'){
//							loginDialog();
//						}
//						if(data.data == 'no_empower'){
//							dialog.error(data.msg);
//						}
//					}else{
//						loginBackFunction();
//					}
//				}
//			});
//		});
	});
</script>
{/block}