{extend name="template/admin_pc/base.html" /}
{block name="content"}
<div class="page-container">
    <div class="main-content mt-20" id="mainContent">
        <div class="navbar-default mb-20">
            <form id="form1" >
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="keyword" value="" placeholder="申请编号"  class="keyword form-control input-order-id">
                    </div>
                </div>
                <!--排序规则-->
                <input type="hidden" name="city_id" value="{$info['id']}">
                <input type="button" id="search" class="btn btn-primary" value="搜索"><i class="fa fa-search"></i>
            </form>
        </div>
        <div class="content" id="list"></div>
    </div>
</div>
<!-- 隐藏区 -->
<div style="display:none">
    <div id="loading">
        <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/javascript" src="index_admin_js/commonCrud.js"></script>
<script type="text/javascript" src="index_admin_js/common.js"></script>
<script type="text/javascript">
    $(function () {
        // 合伙人审核
        $('body').on('click','.apply',function(){
            var _this = $(this);
            var status = _this.data('apply_status');
            var _thisTr = $(this).parents('tr');
            var postData ={};
            postData.id = _thisTr.data('id');
            postData.apply_status = status;
            var url =  controller + 'setApplyStatus';

            var text = _this.html();

            layer.open({
                btn: ['确定','取消'],
                content:text+'该申请 ?',
                yes:function (index) {
                    $.post(url,postData,function(msg){
                        dialog.msg(msg,'',function(){
                            if(msg.status){
                                window.location.reload(true);
                            }
                        });
                    });
                    layer.close(index);
                }
            });
        });

    });
</script>
{/block}