{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en" id="title" title="区域">&gt;</span> 城市合伙人管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray">
            <span>
                <i class="Hui-iconfont"></i>资格款设置：
            </span>
            {volist name="marketList" id="vo"}
            <span>
                <a href="javascript:void(0);" class="market btn btn-primary radius" data-id="{$vo.id}" data-amount="{$vo.amount}" data-earnest="{$vo.earnest}">
                <i class="Hui-iconfont"></i> {$vo.name}类市场</a>
            </span>&nbsp;
            {/volist}
        </div>
        <div class="main-content mt-20" id="mainContent">
            <div class="navbar-default mb-20">
                <form id="form1" >
                    <div class="form-group">
                        <select name="cpmi_id" class="form-control">
                            <option value="" selected="selected">市场分类</option>

                            {volist name="marketList" id="vo"}
                            <option value="{$vo.id}">{$vo.name}类市场</option>
                            {/volist}

                        </select>
                    </div>
                    <div class="form-group">
                        <select name="province_code" class="form-control">
                            <option value="" selected="selected">省份</option>
                            {volist name="provinceList" id="vo"}
                            <option value="{$vo.province_code}">{$vo.province_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="city_status" class="form-control">
                            <option value="" selected="selected">申请状态</option>
                            <option value="0">开放</option>
                            <option value="1">关闭</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="keyword" value="" placeholder="搜索城市"  class="keyword form-control input-order-id">
                        </div>
                    </div>
                    <!--排序规则-->
                    <input type="button" id="search" class="btn btn-primary" value="搜索"><i class="fa fa-search"></i>
                </form>
            </div>
            <div class="content" id="list"></div>
        </div>
    </div>
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>

{/block}
{block name="script"}
    <script type="text/javascript" src="index_admin_js/commonCrud.js"></script>
    <script type="text/javascript" src="index_admin_js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            // 市场设置
            $('body').on('click','.market',function(){
                var _this  = $(this);
                var id     = _this.data('id');
                var name   = _this.text().replace(/^\s*|\s*$/g,"");
                var amount = _this.data('amount');
                var earnest= _this.data('earnest');

                var content = '<article class="page-container"> <form action="" id="fromMarket" method="post" class="form form-horizontal">'+
                        '<div class="row cl"> <label class="form-label col-xs-4 col-sm-3">资格款：</label>'+
                        '<div class="formControls col-xs-8 col-sm-9">'+
                        '<input type="text" class="input-text" value="'+amount+'" placeholder="" name="amount"> </div></div> '+
                        '<div class="row cl"> <label class="form-label col-xs-4 col-sm-3">订金：</label>'+
                        '<div class="formControls col-xs-8 col-sm-9">'+
                        '<input type="hidden" class="input-text" value="'+id+'" name="id">'+
                        '<input type="text" class="input-text" value="'+earnest+'" placeholder="" name="earnest"> </div> </div>'+
                        '<div class="row cl"> <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3"></div> </div> </form> </article>';

                layer.open({
                    title:['编辑'+name,'border-bottom:1px solid #d9d9d9;'],
                    className:'forgetWalletPasswordLayer',
                    content:content,
                    type:1,
                    area: ['400px', '240px'],
                    btn:['保存'],
                    success:function(){

                    },
                    yes:function(index){
                        var postForm = $('#fromMarket');
                        postData = postForm.serializeObject();

                        postData.amount = postData.amount.replace(/^\s*|\s*$/g,"");
                        postData.earnest= postData.earnest.replace(/^\s*|\s*$/g,"");

                        if(!postData.id){
                            dialog.error('类型不能为空');
                            return false;
                        }
                        if(!postData.amount){
                            dialog.error('资格款不能为空');
                            return false;
                        }
                        if(!postData.earnest){
                            dialog.error('订金不能为空');
                            return false;
                        }

                        var url = module+'CityPartner/editMarket';
                        $.post(url,postData,function (data) {
                            if(data.status){
                                layer.close(layer.index);
                                _this.data('amount',postData.amount);
                                _this.data('earnest',postData.earnest);

                                layer.msg(data.info);

                            }else{
                                dialog.success(data.info);
                                return false;
                            }

                        },'JSON');
                    }
                });

            });

            // 申请开放||关闭
            $('body').on('click','.set-city-status',function(){
                var _this = $(this);
                //var text = _this.attr('title');
                var text = _this.text();
                var shelf_status = _this.data('shelf-status');
                var _thisTr = $(this).parents('tr');
                var postData ={};
                postData.id = _thisTr.data('id');
                postData.city_status = shelf_status;
                var url =  controller + 'setField';
                layer.open({
                    btn: ['确定','取消'],//按钮 做到这里
                    content:text+' ?',
                    yes:function (index) {
                        $.post(url,postData,function(msg){
                            dialog.msg(msg,'',function(){
                                if(msg.status){
                                    if(shelf_status == 0){
                                        _thisTr.find(".shelf-status").html('<span class="label label-defaunt radius">关闭申请</span>');
                                        _this.data('shelf-status',1);
                                        _this.attr('title','开放申请');
                                        _this.html('开放申请');

                                    }else{
                                        _thisTr.find(".shelf-status").html('<span class="label label-success radius">开放申请</span>');
                                        _this.data('shelf-status',0);
                                        _this.attr('title','关闭申请');
                                        _this.html('关闭申请');
                                    }
                                }
                            });
                        });
                        layer.close(index);
                    }
                });
            });

            // 申请记录
            $('body').on('click','.record-view',function(){
                var url = controller + 'getInfo/id/' + $(this).parents('tr').data('id');
                var city_name = $(this).parents('tr').find('.city-name').html();
                city_name = city_name.replace(/^\s*|\s*$/g,"");

                layer_show(city_name+'合伙人申请详情',url);
            });

        });
    </script>
{/block}