{notempty name='list'}
{volist name="list" id="vo"}
    <tr class="hover edit" data-level="{$vo.level}" data-id="{$vo.id}" data-parent-id-1="{$vo.parent_id_1}">
        <td class="w10">
            <input type="checkbox" class="checkitem" >
            {if condition="($vo.level eq 1) or ($vo.level eq 2)"}
                <span class="folding" status="open"></span>
            {/if}
        </td>
        <td class="w10 sort">
            <span title="" class="editable">{$vo.sort}</span>
        </td>
        <td class="w50pre name">
            <span title="" class="editable">{$vo.name}</span>
        </td>
        <td class="w96">
            <a class="a-edit" href="javascript:void(0);">编辑</a>
            | <a class="a-del" href="javascript:void(0);">删除</a>
            {if condition="($vo.level eq 1) or ($vo.level eq 2)"}
                | <a class="a-add" href="javascript:void(0);">新增下级</a>
            {/if}
        </td>
    </tr>
{/volist}
{/notempty}