<extend name="Public:base" xmlns="http://www.w3.org/1999/html"/>

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>

<block name="content">
    <!--订单状态-->
    <div class="order_content">
        <div class="order_header">
            <form id="form1">
            <div class="table_cell_l">
                <div class="table_cell">
                    <select class="multiselect" name="logistics_status">
                        <volist name="Think.config.ORDER_TYPE" id="vo">
                            <option value="{$vo.value}">{$vo.name}</option>
                        </volist>
                    </select>
                </div>
                <div class="table_cell table_cell_input">
                    <input type="text" placeholder="请输入订单号/客户名称" class="input_field order_text" name="keyword">
                    <input type="button" class="input_field order_search" value="搜索">
                </div>
                <a href="javascript:void(0);" class="table_cell senior_search">高级搜索</a>
            </div>
            </form>
        </div>
        <div >
            <table class="ant-table-header" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="all_checkbox">
                        <input type="checkbox">
                    </th>
                    <th class="thead_field thead_order_num">
                        <label for="">订单号</label>
                    </th>
                    <th class="thead_field">
                        <span >下单时间</span>
                    </th>
                    <th class="thead_field">
                        <span >客户名称</span>
                    </th>
                    <th class="thead_field">
                        <span >金额</span>
                    </th>
                    <th class="thead_field">
                        <span >出库发货</span>
                    </th>
                    <th class="thead_field">
                        <span >状态</span>
                    </th>
                    <th class="thead_field">
                        <span >付款状态</span>
                    </th>
                    <th class="thead_field">
                        <span >操作</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="content" id="order_list">
        </div>
    </div>
    <!-- 隐藏区 添加物流信息 -->
    <div class="deliverLayerForm" style="display: none">
        <form id="undertake">
            <input type="hidden" name="order_id" value="{}" />
            <div class="deliver_goods_item">
                <span class="d_g">发货时间</span>
                <input id="start_time" name="delivery_time" class="i_p_t text w130 hasDatepicker Wdate" readonly="readonly" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
            </div>
            <div class="deliver_goods_item">
                <span class="d_g">快递</span>
                <select name="undertake_company" id="">
                    <volist name="Think.config.UNDERTAKE_COMPANY" id="vo">
                    <option value="{$key}">{$vo}</option>
                    </volist>
                </select>
            </div>
            <div class="deliver_goods_item">
                <span class="d_g">快递单号</span>
                <input name="sn" class="i_p_t" type="text" placeholder="请输入快递单号">
            </div>
            <div class="deliver_goods_item">
                <span class="d_g">费用</span>
                <input name="fee" class="i_p_t" type="text" placeholder="请输物流费用">
            </div>
            <div class="deliver_goods_item">
                <span class="d_g">订单备注</span>
                <textarea name="comment" rows="" cols=""></textarea>
            </div>
        </form>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_ADMIN_IMG/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>

</block>

<block name="script">
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/private/order.js"></script>
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/common/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">

    </script>
</block>