<extend name="Public:base" xmlns="http://www.w3.org/1999/html"/>

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>

<block name="content">
    <div class="remarksLayerForm" style="display: none;">
        <form>
            <span class="fill_info">填写信息</span>
            <textarea class="remarksLayer" name="" id="" cols="30" rows="10" placeholder="请输入内容"></textarea>
        </form>
    </div>
    <!--订单详情-->
    <div class="order_content">
        <ul class="order_detail_nav">
            <li class="active">订单详情</li>
            <li>出库发货记录</li>
            <li>收款记录</li>
        </ul>
        <div class="audited_header_tipc">
            <span class="fl stay_audited">待审核订单</span>
            <div class="fl order_n">订单号：
                <span>13246579845</span>
            </div>
            <div class="order_n">
                客户:<span>某某公司</span>
            </div>
        </div>
        <div >
            <table class="ant-table-header" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th class="thead_field thead_order_num">
                        <label for="">主图</label>
                    </th>
                    <th class="thead_field">
                        <span >商品Id</span>
                    </th>
                    <th class="thead_field">
                        <span >商品名称</span>
                    </th>
                    <th class="thead_field">
                        <span >规格</span>
                    </th>
                    <th class="thead_field">
                        <span >数量</span>
                    </th>
                    <th class="thead_field">
                        <span >单位</span>
                    </th>
                    <th class="thead_field">
                        <span >参数</span>
                    </th>
                    <th class="thead_field">
                        <span >单价</span>
                    </th>
                    <th class="thead_field">
                        <span >金额小计</span>
                    </th>
                    <th class="thead_field">
                        <span >备注</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div>
            <table class="ant-table-content" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <volist name="orderDetail" id="vo">
                        <tr>
                            <td class="thead_order_num order_d main_img">
                                <div>
                                    <img src="UPLOADS_IMG/{$vo.thumb_img}" alt="">
                                </div>
                            </td>
                            <td class="thead_field order_d">
                                <div>{$vo.goods_id}</div>
                            </td>
                            <td class="thead_field order_d">
                                <div>{$vo.goods_name}</div>
                            </td>
                            <td class="thead_field order_d">
                                <div>{$vo.single_specification}</div>
                            </td>
                            <td class="thead_field order_d">
                                <div class="count">{$vo.num}</div>
                            </td>
                            <td class="thead_field order_d">
                                <div class="">瓶</div>
                            </td>
                            <td class="thead_field order_d">
                                <div >50</div>
                            </td>
                            <td class="thead_field order_d">
                                <div class="unit_price">{$vo.price}</div>
                            </td>
                            <td class="thead_field order_d">
                                <div class="amount">0</div>
                            </td>
                            <td class="thead_field order_d">
                                <div>
                                    <a href="javascript:void(0);" class="remarks">添加备注</a>
                                </div>
                            </td>
                        </tr>
                    </volist>
                     <tr>
                        <td class="thead_order_num order_d main_img"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d"></td>
                        <td class="thead_field order_d">
                            <div class="total_price_box">
                                商品总价:
                                <price class="total_price">0</price>元
                            </div>
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="order_customer_info">
            <div class="fl i_f">[支付信息]</div>
            <div class="fl info">
                钱包:
                <price>{$orderDetail[0]['wallet_pay']}</price>元
            </div>
            <div class="fl info">
                代金券:
                <price>{$orderDetail[0]['coupons_pay']}</price>元
            </div>
            <div class="fl info">
                在线支付:
                <price>{$orderDetail[0]['actually_amount']}</price>元
            </div>
            <div class="fl">
                支付方式
                <if condition="$orderDetail[0]['payment_code'] eq 0">
                    <span>(微信)</span>
                </if>

            </div>
        </div>
        <div class="order_customer_info">
            <div class="fl i_f">[收货信息]</div>
            <div class="fl info">
                收货人:
                <span>{$orderDetail[0]['consignee_name']}</span>
            </div>
            <div class="fl info">
                联系方式:
                <span>{$orderDetail[0]['consignee_mobile']}</span>
            </div>
            <div class="fl info" >
                收货地址:
                <span class="detail_address"></span>
                <span class="">{$orderDetail[0]['detailed_address']}</span>
            </div>
        </div>
    </div>
    <a href="javascript:printDiv();" style="float:center" class="ncap-btn-big ncap-btn-green"><i class="fa fa-print"></i>打印订单</a>
</block>

<block name="script">
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/common/jquery.area.js" ></script>
    <script type="text/javascript">
        function printDiv()
        {
            var oldStr = document.body.innerHTML;
            $('.order_detail_nav').hide();
            $('.ncap-btn-green').hide();
            window.print();
            document.body.innerHTML = oldStr;
        }


        $(function(){
            var totalPrice=0;
            $.each($('.ant-table-content tr'),function(i,val){
                var _this=$(this);
                var count=_this.find('.count').text();
                var unitPrice=_this.find('.unit_price').text();
                var amount=parseInt(count*unitPrice);
                totalPrice=totalPrice+amount;
                _this.find('.amount').text(amount);
                _this.find('.total_price').text(totalPrice.toFixed(2));
            });
            //获得收货地址
            getArea('{$orderDetail[0].province}','{$orderDetail[0].city}','{$orderDetail[0].area}','.detail_address');
        })


    </script>
</block>