{extend name="template/admin_pc/base.html" /}

{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form1">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文案标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="name" value="{$info.name}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>简介：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="intro" type="text/plain">

                </script>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">标签：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="多个标签请用逗号分隔，例如：正品保障,纳晶水光" name="tag" value="{$info.tag}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="sort" value="{$info.sort|default=0}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目主图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="main_img" type="text/plain"></script>
                <input id="mainImg" type="hidden" value="{$info.main_img|formatImg}">
            </div>
        </div>

        <div class="row cl"></div>
        <hr/>
        <div class="row cl"></div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目介绍：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="detail_img" type="text/plain"></script>
                <input id="detailImg" type="hidden" value="{$info.detail_img|formatImg}">
            </div>
        </div>

        <div class="row cl"></div>
        <hr/>
        <div class="row cl"></div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">操作视频：</label>
            <div class="formControls col-xs-8 col-sm-9">
                    <div class="upload-picture-module f24">
                        <div>
                            <div class="picture-module">
                                <input type="file" class="uploadImg uploadSingleVideo" name="">
                                {empty name="$info.video"}
                                <video class="upload_img upload-video" src="" autoplay="autoplay"></video>
                                {else /}
                                <video class="upload_img upload-video" src="public_uploads/{$info.video}" autoplay="autoplay"></video>
                                {/empty}
                                <input type="hidden" class="layer-thumbnail-picture img"  value="{$info.video}" name="video"/>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">操作描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="description" type="text/plain">

                </script>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目流程：</label>
            <div class="formControls col-xs-8 col-sm-9 process">
                <form class="">
                    <ul class="upload-picture-module multi-picture-moduleDes f24"></ul>
                </form>
                <div class="error_tipc"></div>
                <div class="upload-picture-module margin-left f24">
                    <div>
                        <div class="picture-module">
                            <input type="file" class="uploadImg uploadImgDescribe " name="" accept="image/*" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">项目注意事项：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="remarks" type="text/plain">

                </script>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">推荐商品：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <button type="button" class="btn btn-primary radius recommend"><i class="Hui-iconfont"></i> 添加商品</button>
                已选择 <span class="c-red">{$info.recommend_goods_num|default=0}</span> 种商品    <span class="c-red">*</span>只展示前4款商品
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input type="hidden" name='id' value="{$info.id}">
                <button class="btn btn-primary radius button_save_black_4" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                <span class="c-red">*</span>(图片只显示缩略图，不影响原效果)
            </div>
        </div>
    </form>
</div>

{/block}

{block name="script"}
<!-- 配置文件 -->
<script type="text/javascript" src="hui_lib/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="hui_lib/Ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="hui_lib/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="https://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var config_img = {
        toolbars: [
            ['imagenone', 'imageleft', 'imageright', 'imagecenter', 'simpleupload', 'insertimage']
        ],
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        initialFrameWidth: '100%'
    };

    var config_text = {
        toolbars: [
            [
                'undo', //撤销
                'bold', //加粗
                'indent', //首行缩进
                'italic', //斜体
                'underline', //下划线
                'strikethrough', //删除线
                'subscript', //下标
                'fontborder', //字符边框
                'superscript', //上标
                'formatmatch', //格式刷
                'source', //源代码
                'horizontal', //分隔线
                'removeformat', //清除格式
                'fontfamily', //字体
                'fontsize', //字号
                'paragraph', //段落格式
                'spechars', //特殊字符
                'justifyleft', //居左对齐
                'justifyright', //居右对齐
                'justifycenter', //居中对齐
                'justifyjustify', //两端对齐
                'forecolor', //字体颜色
                'backcolor', //背景色
                'imagecenter', //居中
                'lineheight', //行间距
                'customstyle', //自定义标题
                'autotypeset', //自动排版
                'touppercase', //字母大写
                'tolowercase', //字母小写
                'background' //背景
            ]
        ],
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        initialFrameWidth: '100%'
    };

    var main_img   = UE.getEditor('main_img',config_img);
    //var process_img= UE.getEditor('process_img',config_img);
    var detail_img = UE.getEditor('detail_img',config_img);

    var intro      = UE.getEditor('intro',config_text);
    var remarks    = UE.getEditor('remarks',config_text);
    var description= UE.getEditor('description',config_text);

</script>
<script type="text/javascript">
    $(function(){
        //项目主图
        main_img.ready(function() {
            main_img.setContent($('#mainImg').val());
        });
/*        process_img.ready(function() {
            process_img.setContent($('#processImg').val());
        });*/
        detail_img.ready(function() {
            detail_img.setContent($('#detailImg').val());
        });
        // 简介
        intro.ready(function() {
            intro.setContent("{$info['intro']|raw}");
        });
        remarks.ready(function() {
            remarks.setContent("{$info['remarks']|raw}");
        });
        description.ready(function() {
            description.setContent("{$info['description']|raw}");
        });

        // 表单认证
        $('.button_save_black_4').on('click',function(){
            var postData = $('#form1').serializeObject();
            // 多图片
            postData.main_img = '';
            $.each($('#main_img').find('iframe').contents().find('.view img'),function(){
                postData.main_img += $(this).attr('src') + ',';
            });
            postData.detail_img = '';
            $.each($('#detail_img').find('iframe').contents().find('.view img'),function(){
                postData.detail_img += $(this).attr('src') + ',';
            });
/*            postData.process_img = '';
            $.each($('#process_img').find('iframe').contents().find('.view img'),function(){
                postData.process_img += $(this).attr('src') + ',';
            });*/

            postData.intro = intro.getContent();
            postData.remarks = remarks.getContent();
            postData.description = description.getContent();

            var content='';
            if(!postData.name){
                content='名称不能为空';
            }/*else if(!postData.intro){
             content='简介不能为空';
             }else if(!postData.description){
             content='操作描述不能为空';
             }else if(!postData.thumb_img){
             content='缩略图不能为空';
             }else if(!postData.main_img){
             content='主图不能为空';
             }else if(!postData.detail_img){
             content='介绍不能为空';
             }else if(!postData.process_img){
             content='项目流程为空';
             }else if(!postData.video){
             content='项目视频不能为空';
             }*/
/*            if(content){
                dialog.error(content);
                return false;
            }*/

            if(recommendIds){
                postData.recommendIds = recommendIds;
            }

            var url = module +'Project/edit';
            $.post(url,postData,function(msg){
                dialog.msg(msg,'',function () {
                    if(msg.status){
                        // 提交后关闭，然后刷新父窗口
                        window.parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);   //先得到当前iframe层的索引
                        parent.layer.close(index);
                    }
                });
            });

        });
        // 选择单视频
        $('body').on('change','.uploadSingleVideo',function () {
            _this = $(this);
            uploadsSingleVideoFlag = false;
            var video = event.target.files[0];
            var obj=$(this).parent();
            // 判断是否视频
            if(!video){
                return false;
            }

            // 判断视频格式
            var imgRegExp=/\.(?:mp4|rmvb|avi|ts)$/;
            if(!(video.type.indexOf('video')==0 && video.type && imgRegExp.test(video.name)) ){
                dialog.error('只支持：mp4、rmvb、avi、ts格式的视频');
                return false;
            }
            if( (video.size/1024/1024)>30){
                dialog.error('视频大小不能超过10M !');
                return false;
            }

            var reader = new FileReader();
            reader.readAsDataURL(video);
            reader.onload = function(e){
                var postData = {fileBase64: e.target.result};
                var videoUrl=e.target.result;
                $(obj).find('video').attr('src',videoUrl);
                //提交
                var type = _this.data('type');
                if(type == 'notupload'){
                    $(obj).find('.img').val(videoUrl);
                    return false;
                }
                $.post(controller+"uploadFileToTemp",postData,function(msg){

                    if(msg.status == 1){
                        uploadsSingleVideoFlag = true;
                        $(obj).find('.img').val(msg.info);
                    }else{
                        dialog.error(msg.info)
                    }
                })

            }
        });

        // 选择上传的单图片
        $('body').on('change','.uploadSingleImg',function () {
            var _this=$(this);
            uploadsSingleImgFlag = false;
            var img = event.target.files[0];
            var uploadfileSize=img.size/1024/1024;
            var obj=$(this).parent();
            // 判断是否图片
            if(!img){
                return false;
            }

            // 判断图片格式
            var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
            if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                dialog.error('请上传：jpg、jpeg、png、gif格式图片');
                return false;
            }
            if(uploadfileSize>1){
                dialog.error('图片大小不能超过1M');
                return false;
            }
            var reader = new FileReader();
            reader.readAsDataURL(img);
            reader.onload = function(e){
                var imgUrl=e.target.result;
                $(obj).addClass('active');
                var postData = {fileBase64: e.target.result};
                // postData.imgWidth = 145;
                // postData.imgHeight = 100;
                $(obj).find('img').attr('src',imgUrl);
                var type = _this.data('type');
                if(type == 'notupload'){
                    $(obj).find('.img').val(imgUrl);
                    console.log(1);
                    return false;
                }
                //提交
                $.post(controller+"uploadFileToTemp",postData,function(msg){
                    if(msg.status == 1){
                        uploadsSingleImgFlag = true;
                        $(obj).find('.img').val(msg.info);

                    }else{
                        dialog.error(msg.info)
                    }
                })
            }
        });

        //返回
        $('.button_save_black').click(function(){
            location.href = controller + '/manage';
        });

        // 默认值 如果选择就覆盖
        var recommendIds="{$info['recommend_goods']}";
        $("body").on('click','.recommend',function(){

            var id = "{$info['id']}";
            var url =  controller + 'RecommendGoods/id/' + id;

            layer.open({
                type: 2,
                title:'添加推荐商品',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '80%'],
                content: url, //iframe的url
                btn: ['确定添加', '关闭'],
                yes: function(index, layero){

                    var body = layer.getChildFrame('body', index);
                    recommendIds = [];
                    body.find('.selected_goods_list li').each(function () {
                        var goodsSelectedId=$(this).data('goods-id');
                        recommendIds.push(goodsSelectedId);
                    });
                    $(".recommend").next().html(recommendIds.length);

                    layer.close(index);
                },
                no: function(){
                    layer.close(index);
                }
            });

        });
        //上传单图片和描述
        $('body').on('change','.uploadImgDescribe',function () {
            var file = $(this);
            fileList = $(this).get(0).files;
            num=file.data('num');//限制个数
            uploadPicDescribe(fileList[0],0,fileList.length);
        });
        //删除
        $('body').on('click','.delete-picture',function(){
            $(this).parents('li').remove();
            //$('.company-video').data('src','');
        });
});
//上传图片描述
function uploadPicDescribe(fil,i,len){
    console.log(123);
    var img = fil;
    var obj=$(this).parent();
    var fileSize=fil.size/1024/1024;
    // 判断是否图片
    if(!img){
        return false;
    }
    // 判断图片格式
    var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
    if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
        errorTipc('请上传：jpg、jpeg、png、gif格式图片');
    }
    var reader = new FileReader();
    reader.readAsDataURL(img);
    reader.onload = function(e){
        var imgUrl=e.target.result;
        var img=  $('<img src="" class="upload_img">');
        img.attr("src", imgUrl);
        var imgAdd = $('<li><a href="javascript:void(0);" class="edit-describe">编辑照片描述</a><textarea name="" id='+i+' cols="30" rows="5" placeholder="请填写描述" class="edit-text"></textarea><div class="picture-module active"><input type="file" class="uploadImg uploadSingleEditImg" name=""><a class="delete-picture">X</a></div></li>');
        imgAdd.find('.picture-module').append(img);
        $('.multi-picture-moduleDes').append(imgAdd);
        if(i<len-1){
            if(fileList[i+1]){
                uploadPicDescribe(fileList[i+1],i+1,len);
            }
        }
    }
}
</script>
{/block}