{extend name="template/base.html" /}
{block name="content"}

<article class="f24">
	<div class="mod_selection">
		<nav class="nav">
			<!--<div class="mod_selection_more">
				<div class="tab-arrow"></div>
			</div>-->
			<ul class="mod_selection_nav">
				<li>小气泡深层清洁</li>
				<li>水氧仪深层清洁</li>
				<li>亮肤补水</li>
				<li>祛痘修护</li>
			</ul>
		</nav>
	</div>
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/suokefanglue-banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
		</div>
	</section>
	<div id="menu">
		<ul class="columns_flex detail-nav">
			<li data-item="item1"><a href="javascript:;" class="">项目产品</a></li>
			<li data-item="item2"><a href="javascript:;" class="">项目介绍</a></li>
			<li data-item="item3"><a href="javascript:;" class="">项目培训</a></li>
		</ul>
	</div>
	<section class="content-padding content_main project_item">
		<!--产品列表-->
		<ul class="goods_list list">
			<li data-id="{$info.id}" data-buy_type="1" id="li-id-{$key}">
				<a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
					{empty name="info.thumb_img"}
					<img class="left" src="public_img/default/no_pic_100.jpg" alt="">
					{else /}
					<img class="left" src="public_uploads/{$info.thumb_img}" alt="">
					{/empty}
				</a>
				<div class="list_r">
					<p class="text-intro">产品产品产品产品产品产品产品</p>
					<div>
						<span class="red">￥<price>500.00</price></span>
					</div>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="0" class="f24 gshopping_count" >
						<input type="hidden" class="minimum_order_quantity" value="{$info.minimum_order_quantity}">
						<input type="hidden" class="increase_quantity" value="{$info.increase_quantity}">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
			<li data-id="{$info.id}" data-buy_type="1" id="li-id-{$key}">
				<a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
					{empty name="info.thumb_img"}
					<img class="left" src="public_img/default/no_pic_100.jpg" alt="">
					{else /}
					<img class="left" src="public_uploads/{$info.thumb_img}" alt="">
					{/empty}
				</a>
				<div class="list_r">
					<p class="text-intro">产品产品产品产品产品产品产品</p>
					<div>
						<span class="red">￥<price>500.00</price></span>
					</div>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="0" class="f24 gshopping_count" >
						<input type="hidden" class="minimum_order_quantity" value="{$info.minimum_order_quantity}">
						<input type="hidden" class="increase_quantity" value="{$info.increase_quantity}">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<section class="project_item hide">
		<p>
			<img src="" alt="">
		</p>
	</section>
	<section class="project_item hide">
		<div class="content-padding">
			<video width="" height="" controls src="">
				
			</video>
			<p>小气泡深层清洁项目培训</p>
			<p>2019-3-10 18:24</p>
		</div>
		<div>
			<h3>相关视频</h3>
			<ul class="p_video_item">
				<li>
					<video src=""></video>
					<div>
						<p>视频名称</p>
						<p>2019-3-10 18:24</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
</article>

{/block}
{block name="common"}
    {include file="brand/set_brand" /}
	{include file="public/sample_layer" /}
{/block}
{block name="footer"}
	{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		//查看文本
		$('.wk_notice').moreText({
			mainCell:".more-text",
			openBtn:'展开'
		});
		$(".mod_selection_nav li").click(function(){
                    var moveX = $(this).offset().left+$(this).parent().scrollLeft();
                    var pageX = document.documentElement.clientWidth;//设备的宽度
                    var blockWidth = $(this).width();
                    var left = moveX-(pageX/2)+(blockWidth/2);
                    $(".mod_selection_nav").animate({scrollLeft:left},400);
                    $(this).addClass("active").siblings().removeClass("active");
		});
		$('.detail-nav li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.project_item').hide().eq($(this).index()).show();
		})
	});
</script>
{/block}