{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">
{/block}
{block name="content"}
<!--创建登录账号-->
<article id="addLoginAccount" style="display:none;">
    <section class="f24 signIn-wrapper">
        <div class="account-item">
            <input type="text" placeholder="姓名" class="input-filed" name="name">
        </div>
        <div class="account-item">
            <input type="tel" placeholder="手机号码" class="input-filed" name="mobile_phone">
        </div>
        <div class="account-item">
            <a href="javascript:void(0);" class="content-label account-role">角色设置></a>
        </div>
        <div class="account-item">
            <a href="javascript:void(0);" class="content-label organize-set">组织设置></a>
        </div>
    </section>
</article>
<article class="f24">
    {include file="public/switch_factory_head" /}
    <section class="specific_type bottomLine">
        <div class="columns_flex f20 l-r-sides">
            <a href="{:url('')}">订单结算</a>
            <a href="{:url('')}">订单退款</a>
            <a href="{:url('')}">账户充值</a>
            <a href="{:url('')}">账户提现</a>
            <!--<a href="{:url('Account/index')}" class="column_type current">账号授权</a>-->
        </div>
    </section>
    <section class="f24 account-content-wrapper ">
        <div class="search-bar columns_flex">
            <input type="text" class="search-text" name="keyword"  placeholder="输入订单号、手机号码查询订单">
            <input type="button" class="search-btn">
        </div>
        <div class="columns_flex l-r-sides order-list-title">
            <span>自动结算订单列表</span>
            <a href="javascript:void(0);" class="text-color-gr">未结算订单></a>
        </div>
        <ul class="order-list-content">
            <li>
                <a href="">
                    <div>
                        <span>订单号：</span>
                        <span>00000000000000</span>
                    </div>
                    <div>
                        <span>下单时间：</span>

                        <span>2018-7-10日 9:00AM</span>
                    </div>
                    <div>
                        <span>分类：</span>
                        <span>购买商品</span>
                    </div>
                    <div>
                        <span>状态：</span>
                        <span>以自动结算</span>
                    </div>
                    <div>
                        <span>总价：</span>
                        <span>￥<price>5000</price></span>
                    </div>
                    <div>
                        <span>下单用户：</span>
                        <span>张三</span>
                    </div>
                    <div>
                        <span>手机号码：</span>
                        <span>13430369778</span>
                    </div>
                    <div>
                        <span>订单来源：</span>
                        <span>XXXX官方旗舰店.采购/分成/零售</span>
                    </div>
                    <div>
                        <span>支付金额：</span>
                        <span>￥<price>1000</price></span>
                    </div>
                    <div>
                        <span>支付方式：</span>
                        <span>账户钱包/微信支付/支付宝/银联</span>
                    </div>
                    <div>
                        <span>支付备注：</span>
                        <span>全额付清/预售定金</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <span>订单号：</span>
                        <span>00000000000000</span>
                    </div>
                    <div>
                        <span>下单时间：</span>
                        <span>2018-7-10日 9:00AM</span>
                    </div>
                    <div>
                        <span>分类：</span>
                        <span>购买商品</span>
                    </div>
                    <div>
                        <span>状态：</span>
                        <span>以自动结算</span>
                    </div>
                    <div>
                        <span>总价：</span>
                        <span>￥<price>5000</price></span>
                    </div>
                    <div>
                        <span>下单用户：</span>
                        <span>张三</span>
                    </div>
                    <div>
                        <span>手机号码：</span>
                        <span>13430369778</span>
                    </div>
                    <div>
                        <span>订单来源：</span>
                        <span>XXXX官方旗舰店.采购/分成/零售</span>
                    </div>
                    <div>
                        <span>支付金额：</span>
                        <span>￥<price>1000</price></span>
                    </div>
                    <div>
                        <span>支付方式：</span>
                        <span>账户钱包/微信支付/支付宝/银联</span>
                    </div>
                    <div>
                        <span>支付备注：</span>
                        <span>全额付清/预售定金</span>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</article>
<!--角色设置-->
<section id="setRole" style="display: none;">
    <ul>
        {include file="role/list_tpl" /}
    </ul>
</section>
<!--组织设置-->
<section id="setOrganize" style="display: none;">
    {include file='organize/list_tpl' /}
</section>
<div id="organize_tpl" style="display:none;">
    <ul data-id="" data-superior_id="" data-level="">
        <li>
            <span class="content-label"></span>
            <div class="operate-box">
                <a href="javascript:void(0);" class="btn edit">i</a>
                <a href="javascript:void(0);" class="btn reduce">-</a>
                <a href="javascript:void(0);" class="btn add">+</a>
            </div>
        </li>
    </ul>
</div>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="store_js/account.js"></script>
<script type="text/javascript">
    var setOrganize;
    $(function(){
        //页面初始化
        $('#setRole').find('div').remove();
        //定义新增用户角色
        var userFactoryRoleIds = [];
        //定义新增组织
        var userFactoryOrganizeId = 0;
        //获取组织列表
        getOrganizeList();
        //获取员工账号列表
        getAccountList();

        //查询
        $('body').on('click','.search-btn',function(){
            getAccountList();
        });
        //创建采购商员工登录账号
        var addLoginAccount=$('#addLoginAccount').html();
        $('body').on('click','.add-account',function(){
            layer.open({
                title:['新建采购商员工登陆账号','border-bottom:1px solid #d9d9d9;'],
                className:'addCcountLayer',
                type: 1,
                content: addLoginAccount,
                anim: 'up',
                style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
                success:function(){
                    var winHeight=$(window).height();
                    $('.signIn-wrapper').css('height',winHeight-120+'px');
                    //先清空
                    userFactoryRoleIds = [];
                    userFactoryOrganizeId = 0;
                },
                btn:['确定','取消'],
                yes:function(index){
                    var postData = {};
                    var content = '';
                    postData.name = $('.addCcountLayer').find('[name=name]').val();
                    postData.mobile_phone = $('.addCcountLayer').find('[name=mobile_phone]').val();
                    if(!postData.name){
                        content = '请输入姓名';
                    }else if(!isMobilePhone(postData.mobile_phone)){
                        content = '请输入正确的手机号码';
                    }else if(!userFactoryRoleIds.length){
                        content = '请设置角色';
                    }else if(!userFactoryOrganizeId){
                        content = '请设置组织';
                    }
                    if(content){
                        dialog.error(content);
                        return false;
                    }
                    postData.userFactoryRoleIds = userFactoryRoleIds;
                    postData.userFactoryOrganizeId = userFactoryOrganizeId;
                    $.post(action,postData,function(data){
                        if(data.status==0){
                            dialog.error(data.info);
                        }else{
                            $('ul.account-list').prepend(data);
                            $('ul.account-list').find('span.no-data').remove();
                            layer.close(index);
                        }
                    });
                }
            });
        });
        //角色设置
        var setRole = $('#setRole').html();
        $('body').on('click','.account-role',function(){
            layer.open({
                title:['角色设置','border-bottom:1px solid #d9d9d9;'],
                className:'setRoleLayer',
                type: 1,
                content: setRole,
                anim: 'up',
                style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
                success:function(){
                    var winHeight=$(window).height();
                    $('.setRoleLayer ul').css('height',winHeight-140+'px');
                    $.each(userFactoryRoleIds,function(i,o){
                        $.each($('.setRoleLayer li'),function(){
                            if($(this).data('id')==o){
                                $(this).attr('class','current');
                            }
                        });
                    });
                },
                btn:['确定'],
                yes:function(index){
                    //先清空
                    userFactoryRoleIds = [];
                    $.each($('.setRoleLayer li'),function(){
                        if($(this).attr('class')=='current'){
                            userFactoryRoleIds.push($(this).data('id'));
                        }
                    });
                    layer.close(index);
                }
            });
        });
        //组织设置
        $('body').on('click','.organize-set',function(){
            if(!setOrganize){
                dialog.error('加载中，请稍等。。。');
            }
            layer.open({
                title:['组织设置','border-bottom:1px solid #d9d9d9;'],
                className:'setOrganizeLayer',
                type: 1,
                content: setOrganize,
                anim: 'up',
                style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
                success:function(){
                    var winHeight=$(window).height();
                    $('.signIn-wrapper').css('height',winHeight-120+'px');
                    //回写
                    $.each($('.setOrganizeLayer').find('.organize ul'),function(){
                        if($(this).data('id')==userFactoryOrganizeId){
                            $(this).find('span:first').addClass('current');
                        }
                    });
                },
                btn:['确定'],
                yes:function(index){
                    userFactoryOrganizeId = $('.setOrganizeLayer').find('.organize').find('span.current').parent().parent().data('id');
                    layer.close(index);
                }
            });
        });
        //角色多选效果
        $('body').on('click','.setRoleLayer li',function(){
            $(this).toggleClass('current');
        });
        //组织单选效果
        $('body').on('click','.setOrganizeLayer span',function(){
            $(this).parents('.organize').find('span.content-label').removeClass('current');
            $(this).toggleClass('current');
        });
    });
</script>
{/block}