<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/selling.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/mobiscroll.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <!--卖手基本信息-->
    <div id="sellerBaseInfo">
        <form id="form1">
            <div class="seller_base_content f24">
                <div class="seller_base_item">
                    <section class="logo-license">
                        <div class="half">
                            <a class="logo" id="logox">
                                <img id="avatar" src='<empty name="seller.avatar">__PUBLIC__/images/sellerPractitioner/logo_n.png<else/>__ROOT__/Uploads/{$seller.avatar}</empty>'>
                            </a>
                            <p class="f24">上传头像</p>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
                <div class="seller_base_item">
                    <label class="seller_b_field"><i>*</i>姓名</label>
                    <input type="text" class="seller_name" name="name" value="{$seller.name}" placeholder="真实姓名">
                </div>
                <div class="seller_base_item">
                    <label class="seller_b_field">昵称</label>
                    <input type="text" class="seller_nickname" name="nickname" placeholder="卖手昵称" value="{$seller.nickname}">
                </div>
                <div class="seller_base_item">
                    <label class="seller_b_field"><i>*</i></i>手机号码</label>
                    <input type="text" placeholder="手机号码" name="mobile_phone" class="seller_phone" value="{$seller.mobile_phone}">
                </div>
                <div class="seller_base_item">
                    <span class="seller_b_field">卖手性别</span>
                    <div class="seller_b_sex">
                        <input type="radio" name="sex" value="1" <eq name="seller.sex" value="1">checked="checked"</eq> />
                        <label>男</label>
                        <input type="radio" name="sex" value="2" <eq name="seller.sex" value="2">checked="checked"</eq> />
                        <label>女</label>
                    </div>
                </div>
                <div class="seller_base_item">
                    <label for="appDate" class="seller_b_field">出生日期</label>
                    <input value="" class="" readonly="" name="birthday" id="appDate" type="text">
                </div>
                <div class="seller_base_item">
                    <span class="fl seller_multi">类型（可多选）</span>
                    <div class="seller_expert">
                        <input type="checkbox" name="sellerType" value="1" />
                        <label>店销高手</label>
                        <input type="checkbox" name="sellerType" value="2" />
                        <label>技术高手</label>
                        <input type="checkbox" name="sellerType" value="3" />
                        <label>培训高手</label>
                    </div>
                </div>
                <div class="seller_base_item">
                    <label class="seller_b_field">从业年限</label>
                    <input type="text" placeholder="填写数字" name="working_years"
                           value='<neq name="seller.working_years" value="0">{$seller.working_years}</neq>' />
                </div>
                <div class="seller_base_item">
                    <label class="fl seller_b_field">常住地</label>
                    <div class="seller_province_city">
                        <select name="province" class="pca">
                            <option value="">省</option>
                        </select>
                        <select name="city" class="pca">
                            <option value="">市</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--上传头像弹窗-->
    <article class="htmleaf-container" style="display: none;">
        <div id="clipArea">
            <div class="photo-clip-view" >
                <div class="photo-clip-moveLayer" >
                    <div class="photo-clip-rotateLayer"></div>
                </div>
            </div>
            <div class="photo-clip-mask">
                <div class="photo-clip-mask-left"></div>
                <div class="photo-clip-mask-right" ></div>
                <div class="photo-clip-mask-top" ></div>
                <div class="photo-clip-mask-bottom" ></div>
                <div class="photo-clip-area" ></div>
            </div>
        </div>
        <div class="foot-use f28">
            <div class="uploader1 blue">
                <input type="button" name="file" class="button" value="打开图片">
                <input id="file" type="file" onchange="javascript:void(0);" accept="image/*" multiple="" />
            </div>
            <button id="clipBtn">截取</button>
        </div>
        <div id="view" style="background-color: rgb(102, 102, 102); background-size: contain; background-position: 50% 50%; background-repeat: no-repeat;"></div>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary seller_base_btn" href="javascript:void(0);">确定</a>
    </div>
    <!--卖手档案详情-->
</block>
<block name="mjs-customize">
    <script src="{$Think.config.PUBLIC_JS}/common/province_city_area.js"></script>

    <script src="{$Think.config.PUBLIC_JS}/common/iscroll-zoom.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/hammer.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/jquery.photoClip.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/mobiscroll.js"></script>

    <script type="text/javascript">
        $(function(){
            //卖手ID
            var sellerId = '{$seller.id}';

            //裁剪头像
            var clipImg = '';
            $("#clipArea").photoClip({
                width: 199,
                height: 166,
                file: "#file",
                view: "#view",
                ok: "#clipBtn",
                clipFinish: function(img) {
                    clipImg = img;
                    $.post("uploadImgToTemp", { img: clipImg , compress:false },function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else if(msg.status == 1){
                            $('body').data('clipAvatar',msg.info);
                        }
                    },'json');
                }
            });
            $("#logox").click(function(){
                $(".htmleaf-container").show();
            });
            $("#clipBtn").click(function(){
                $("#logox").empty();
                $('#logox').append('<img src="' + clipImg +
                    '" align="absmiddle" style=" width:100%;height:100%;margin-top:0;">');
                $(".htmleaf-container").hide();
            });

            //初始化头像
            var avatar = '{$seller.avatar}';
            if(avatar){
                $("#logox").empty();
                $('#logox').append('<img src="' + UPLOAD + avatar +
                    '" align="absmiddle" style=" width:100%;height:100%;margin-top:0;">');
            }

            //初始化生日
            var birthday = '{$seller.birthday}';
            if(birthday){
                $("#appDate").val(birthday);
            }
            //初始化类型
            var type = '{$seller.type}';
            type = type.split(',');
            $.each(type,function(i,e){
                $.each($('[name=sellerType]'),function(){
                    if($(this).val() == e){
                        $(this).attr('checked','checked');
                    }
                });
            });

            //初始化常住地
            var province = '{$seller.province}';
            var city = '{$seller.city}';
            if(province){
                $('[name=province]').val(province);
                $('[name=province]').change();
                if(city){
                    $('[name=city]').val(city);
                }
            }

            //确定
            $('.seller_base_btn').on('click',function(){
                var content='';
                var sellerName=$('.seller_name').val();
                var sellerPhone=$('.seller_phone').val();

                if(!sellerName){
                    content='请输入真实姓名';
                }else if(!isMobilePhone(sellerPhone)){
                    content='请输入正确的手机号码';
                }

                if(content){
                    layer.open({
                        content:content,
                        skin: 'msg',
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();

                var sellerType = '';
                $.each($('[name=sellerType]'),function(i,e){
                    if($(this).is(':checked')){
                        sellerType += $(this).val() + ',';
                    }
                });
                postData.type = sellerType;

                var clipAvatar = $('body').data('clipAvatar');
                if(clipAvatar){
                    postData.clipAvatar = clipAvatar;
                }

                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        location.href = CONTROLLER + '/editSellerArchiveDetail';
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            var currYear = (new Date()).getFullYear();	
            var opt={};
            opt.date = {preset : 'date'};
            opt.datetime = {preset : 'datetime'};
            opt.time = {preset : 'time'};
            opt.default = {
                theme: 'android-ics light', //皮肤样式 
                display: 'modal', //显示方式 
                mode: 'scroller', //日期选择模式
                dateFormat: 'yy-mm-dd',
                lang: 'zh',
                showNow: false,
                nowText: "今天",
                startYear: currYear - 100, //开始年份
                endYear: currYear + 100 //结束年份
            };

            $("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
        });
    </script>
</block>