<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/selling.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/mobiscroll.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="selling_top_title f20">
        <h2>编辑卖手档案详情</h2>
    </section>
    <!--卖手档案详情-->
    <div id="sellerArchives">
        <form id="form1">
            <div class="seller_archives_content f24">
                <div class="seller_archives_item">
                    <span class="seller_field">卖手简介</span>
                    <textarea placeholder="卖手简介" name="intro" cols="3" rows="6" class="f24 seller_introduction">{$seller.intro}</textarea>
                </div>
                <div class="seller_archives_item">
                    <span class="seller_field">擅长技能</span>
                    <textarea placeholder="卖手擅长技能描述写这..." name="goods_skills" cols="3" rows="6" class="f24 seller_skill">{$seller.goods_skills}</textarea>
                </div>
                <div class="seller_archives_item">
                    <span class="seller_field">个人形象</span>
                    <div>
                        <div class="uploadImg_cell f20">
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_0">
                                    <empty name="seller.figure_url_0">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_0}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_1">
                                    <empty name="seller.figure_url_1">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_1}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_2">
                                    <empty name="seller.figure_url_2">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_2}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_3">
                                    <empty name="seller.figure_url_3">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_3}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_4">
                                    <empty name="seller.figure_url_4">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_4}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_5">
                                    <empty name="seller.figure_url_5">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_5}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_6">
                                    <empty name="seller.figure_url_6">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_6}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                            <div class="upload_item image_photo">
                                <div class="upload_td ">
                                    <input type="file" class="uploadImg" name="figure_url_7">
                                    <empty name="seller.figure_url_7">
                                        <img class="upload_img" src="">
                                        <else />
                                        <img class="upload_img" src="__ROOT__/Uploads/{$seller.figure_url_7}">
                                    </empty>
                                    <span class="upload_pic">上传照片</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary seller_base_btn" href="javascript:void(0);">确定</a>
            </div>
        </form>
    </div>
</block>
<block name="mjs-customize">
    <script src="{$Think.config.PUBLIC_JS}/common/iscroll-zoom.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/hammer.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/jquery.photoClip.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/province_city_area.js"></script>
    <script src="{$Think.config.PUBLIC_JS}/common/mobiscroll.js"></script>

    <script type="text/javascript">
        $(function(){
            //卖手ID
            var sellerId = '{$seller.id}';

            // 上传图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();
                var name = $(this).attr('name');

                // 判断是否图片
                if(!img){
                    return false;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    });
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    var postData = {
                        img: e.target.result,
                        compress: true,
                        uploadType: name
                    };
                    $.post("uploadImgToTemp",postData,function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else{
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                            $('[name='+name+']').data('responseImgUrl',msg.info);
                        }
                    },'json');
                }
            });

            //确定
            $('.seller_base_btn').on('click',function(){
                var content = '';
                var sellerIntroduction=$('.seller_introduction').val();
                var sellerSkill=$('.seller_skill').val();
                if(!sellerIntroduction){
                    content = '请填写卖手简介！';
                }else if(!sellerSkill){
                    content = '请填写卖手擅长技能';
                }

                if(content){
                    layer.open({
                        content: content,
                        skin:'msg',
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();

                $.each($(':file'),function(i,e){
                    if($(this).data('responseImgUrl')){
                        var name = $(this).attr('name');
                        postData[name] = $(this).data('responseImgUrl');
                    }
                });

                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        location.href = MODULE + '/Index/index';
                    }
                });
            });
        });
    </script>
</block>