<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="seller_base_wrapper">
        <div class="seller_base_info f24">
            <div class="item-img-wrapper">
                <empty name="seller.avatar">
                    <img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt="" class="cs_item_img">
                    <else/>
                    <img src="__ROOT__/Uploads/{$seller.avatar}" alt="" class="cs_item_img">
                </empty>

            </div>
            <div class="cs_item_description">
                <p>昵称:<span>{$seller.nickname}</span></p>
                <p>姓名:<span>{$seller.name}</span></p>
                <p>性别:<span>{$seller.sex|sex}</span></p>
                <p>类型:<span>{$seller.type|sellerType}</span></p>
                <div class="five_star">
                    <div class="star_img">
                        <img src="__PUBLIC__/images/sellerPractitioner/star.png">
                        <img src="__PUBLIC__/images/sellerPractitioner/star.png">
                        <img src="__PUBLIC__/images/sellerPractitioner/star.png">
                        <img src="__PUBLIC__/images/sellerPractitioner/star.png">
                        <img src="__PUBLIC__/images/sellerPractitioner/star.png">
                    </div>
                    <span class="fraction"></span>
                </div>
            </div>
        </div>
    </section>
    <div class="dividing_line"></div>
    <section class="seller_skill_wrapper">
        <div class="f24 seller_skill_type">
            <span>卖手简介</span>
            <p class="seller_txt">{$seller.intro}</p>
        </div>
        <div class="f24 seller_skill_type">
            <span>擅长技能</span>
            <p class="seller_txt">{$seller.goods_skills}</p>
        </div>
    </section>
    <section class="personal_image_wrapper">
        <div class="personal_image f24">
            <span>个人形象</span>
            <ul class="personal_item clearfix">
                <empty name="seller.figure_url_0">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_0}" alt=""></li>
                </empty>

                <empty name="seller.figure_url_1">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_1}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_2">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_2}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_3">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_3}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_4">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_4}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_5">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_5}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_6">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_6}" alt=""></li>
                </empty>
                <empty name="seller.figure_url_7">
                    <li><img src="__PUBLIC__/images/sellerPractitioner/default/default_s_picture.jpg" alt=""></li>
                    <else/>
                    <li><img src="__ROOT__/Uploads/{$seller.figure_url_7}" alt=""></li>
                </empty>

            </ul>
        </div>
    </section>
    <div class="seller_contact f24">
        <span>联系方式</span>
        <span>{$seller.mobile_phone}</span>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);">确定预览</a>
    </div>

</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //5星评分
            var sellerAvgScore = '{$sellerAvgScore}';
            $('.five_star').setStar(sellerAvgScore);

            //显示更多
            $(".seller_skill_type").moreText({
                maxLength: 50, //默认最大显示字数，超过...
                mainCell: '.seller_txt' //文字容器
            });
        });
    </script>
</block>