{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <section style="display: none" class="tpl_list">
        <li data-goods-id="">
            <a href="javascript:void(0);" class="close-btn">X</a>           
            <!--<div>
                <img src="" alt="" class="left">
                <p class="goods_name">aaabbb</p>
            </div>-->
        </li>
    </section>
    <section class="recommendGoods_content">
        <!--推荐产品容器-->
        <div id="recommendGoods">
            <span class="content-label">已添加商品分类</span>
            <a href="javascript:void(0);" class="confirm_add">确定添加</a>
            <ul class="selected_goods_list" id="selected_list">

            </ul>
            <div class="error_tipc"></div>
            <form name="form" id="form1">
                <input type="hidden" name="pageType" value="layer"/>
                <div class="search_bar">
                    <span class="left">产品分类:</span>
                    <input type="text" class="search-goods keyword" name="keyword"  placeholder="搜索产品">
                    <input type="button" value="搜索" class="layer-search-btn search" id="searchGoods">
                </div>
            </form>
            <span class="content-label">所有商品分类</span>
            <div class="add_layer_content">
                <div class="thead_title">
                    <span class="list_item">商品分类</span>
                    <span class="list_item">操作</span>
                </div>
                <ul class="scroller-container list" id="list">

                </ul>
            </div>
        </div>
    </section>
    
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>
{/block}

{block name="script"}
    <script type="text/javascript" src="index_admin_js/categoryLinkage.js"></script>
    <script type="text/javascript">
        $(function () {
            var id = {$id};
            //加载第一页
            var config = {
                url:module+'goodsCategory/getList',
            };
            var getData = $('#form1').serializeObject();
            getPagingList(config,getData);
            //分类筛选
            $('body').on('change','[name=category_id_1],[name=category_id_2],[name=category_id_3]',function () {
                var getData = $('#form1').serializeObject();
                getPagingList(config,getData);
            });
            //翻页
            $('body').on('click','.pager2',function(){
                var getData = $('#form1').serializeObject();
                config.currentPage = $(this).data('page');
                getPagingList(config,getData);
            });
            //搜索
            $('#searchGoods').click(function(){
                var getData = $('#form1').serializeObject();
                getPagingList(config,getData);
            });

            //选择产品回显
/*            if(id){
                $.ajax({
                    url: module+'Goods/getSceneGoods',
                    data: {sceneId:id},
                    type: 'get',
                    beforeSend: function(){
                    },
                    error:function (xhr) {
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('#selected_list').html(data)
                    }
                });
            }*/
        });
    </script>
{/block}