{notempty name='list'}
<table class="table tb-type2">
    <thead>
    <tr class="thead">
        <th></th>
        <th>编号</th>
        <th>排序</th>
        <th>场景名称</th>
        <th>归属</th>
        <th>类别</th>
        <th>发布状态</th>
        <th>场景关联</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr class="hover" data-id="{$vo.id}">
        <td class="w48"><input type="checkbox" class="checkitem" name="checkbox">
        <td class="w48">{$vo.id}
        <td class="w48 sort"><span title="" class="editable ">{$vo.sort}</span></td>
        <td class="w50pre name"><span title="" class="editable ">{$vo.name}</span></td>
        <td class="w5">
            {volist name="$Think.config.custom.belong_to" id ='info' key="k"}
                {if (strrev(decbin($vo.belong_to))[$k-1])}
                    {$info},
                {/if}
            {/volist}
        </td>
        <td class="w5">
            {:config('custom.scene_type')[$vo.type]}
        </td>
        <td class="w96 shelf-status">
            {if $vo.shelf_status == 1}
            <span class="label label-defaunt radius">已下架</span>
            <!--  <a href="javascript:void(0);" class="set-shelf-status" data-shelf-status="3">上架</a>-->
            {else /}
            <span class="label label-success radius">已发布</span>
            <!-- <a href="javascript:void(0);" class="set-shelf-status" data-shelf-status="1">下架</a>-->
            {/if}
        </td>
        <td class="w96">
            {switch $vo.type }
            {case 2}
            <a href="javascript:void(0);" class="manageSceneGoodsCategory">关联商品分类</a>
            {/case}
            {case 3}
            <!-- 项目没 -->
            <!-- | <a href="javascript:void(0);" class="addSceneProject">添加项目</a>-->
            {/case}
            {default /}
            <a href="javascript:void(0);" class="addProjectGoods">关联商品</a>
            | <a href="javascript:void(0);" class="addProjectGoods">关联方案</a>
            {/switch}
        </td>
        <td class="w96">
           <!-- 先不做<a href="javascript:void(0);" class="preview">预览</a>-->
            <a href="javascript:void(0);" data-shelf-status="{$vo.shelf_status}" class="set-shelf-status" style="text-decoration:none" title="{$vo.shelf_status==1 ? '发布': '下架';}"><i class="Hui-iconfont"></i></a>
            <a href="javascript:void(0);" class="edit" style="text-decoration:none" title="编辑"><i class="Hui-iconfont"></i></a>
            <a href="javascript:void(0);" class="del"  style="text-decoration:none" title="删除"><i class="Hui-iconfont"></i></a>
            <!-- 暂时不用
                            {if $vo.is_selection == 0}
                            | <a href="javascript:void(0);" class="set_selection" data-is-selection="1">设置为精选</a>
                            {else /}
                            | <a href="javascript:void(0);" class="set_selection" data-is-selection="0">取消为精选</a>
                            {/if}-->
        </td>
    </tr>
    {/volist}
    </tbody>
    <tfoot>
    <tr class="tfoot">
        <td><input type="checkbox" class="checkall" id="checkall_2"></td>
        <td id="batchAction" colspan="15">
            <span class="all_checkbox btn btn-primary radius"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
            <a href="javascript:void(0);" class="btn btn-danger radius batchDel"><i class="Hui-iconfont"></i> 批量删除</a>
        </td>
    </tr>
</table>
{else/}
<div>没有数据</div>
{/notempty}

{$list|raw}



