<extend name="Public:base" />
<block name="title">美容机构实名认证</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/purchase/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构免费实名认证</h2>
    </section>
    <form id="form1">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item active"><span class="base_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item"><span class="base_s_address"></span><em></em>认证资料</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>递交申请</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input value="{$company.name}" name="name" class="weui_input beauty_agency" placeholder="美容机构完整名称（与营业执照相同）" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input value="{$company.shorten_name}" name="shorten_name" class="weui_input beauty_jc" placeholder="美容机构简称" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input value="{$company.registrant}" name="registrant" class="weui_input beauty_name" placeholder="申请人姓名" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input value="{$company.registrant_mobile}" name="registrant_mobile" class="weui_input beauty_phone" placeholder="申请人手机号码" type="tel">
                            </div>
                        </div>
                    </div>
                    <p class="f20 certify_tipc_txt">
                        温馨提示：本栏目仅对美容机构开放，如非美容机构请返回；美容机构名称须与营业执照名称完全相同，申请人可以为美容机构的法人或指定申请人
                    </p>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('.weui_btn').on('click',function(){
                var content='';
                var beautyQc=$('.beauty_agency').val();
                var beautyJc=$('.beauty_jc').val();
                var beautyMobile=$('.beauty_phone').val();
                var beautyName=$('.beauty_name');
                if(!beautyQc){
                    content='请输入机构全称';
                }else if(!beautyJc){
                    content='请输入机构简称';
                }else if(!beautyName){
                    content='请输入你的姓名';
                }else if(!isMobilePhone(beautyMobile)){
                    content='请输入正确的手机号码';
                }

                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();
                postData.companyId = '{$company.id}';
                $.post('authorizeInfo',postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        location.href = 'authorizeData';
                    }
                });
            })
        });
    </script>
</block>
