<extend name="Public:base" />
<block name="title">美容机构实名认证</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/purchase/storeSettings.css">
</block>

<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构免费实名认证</h2>
    </section>
    <form id="">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item "><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item"><span class="base_s_address"></span><em></em>认证资料</li>
                    <li class="weui-flex-item active"><span class="base_finish"></span>递交申请</li>
                </ul>
            </nav>
            <div class="login-items">
                <p class="f20">您的认证资料已经递交</br>
                    美尚平台将在24小时内审核，结果在个人中心查询
                </p>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >确定</a>
                </div>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        $('.weui_btn_primary').on('click',function(){
            $.post(ACTION,function(msg){
                if(msg.status ==0){
                    layer.open({
                        content:msg.info,
                        time:2
                    });
                    return false;
                }else if(msg.status ==1){
                    location.href = APP + '/Home/Index/index';
                }
            },'json');
        });
    </script>
</block>
