<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css?1.0">
</block>
<block name="content">
    <!--微信二维码-->
    <div id="partnerQrCode">
        <div class="partner_intro_t">
            <span class="rec_partner f28">推荐合伙人</span>
            <div class="p_qr_tipc">
                <P>长按图片保存到手机相册然后微信推送给微商好友</P>
            </div>
            <a href="javascript:void(0)" class="close_btn">X</a>
        </div>
        <div class="partner_qr">
            <img src="" alt="">
        </div>
    </div>
    <section class="msy_sign_title f20">
        <h2>管理美容机构的云店商城合伙人</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav manage_partner_nav">
            <a href="javascript:void(0);" class="add_a recommond_a active">
                <span class="recommend_partner"></span>
                推荐合伙人
            </a>
            <a href="javascript:void(0);" class="del_a">
                <span class="del_ad"></span>
                授权合伙人
            </a>
            <a href="javascript:void(0);" class="up_a my_partner">
                <span class="up_ad"></span>
                我的合伙人
            </a>
        </nav>
    </section>
    <div class="managepartner">
        <article class="managing_partner_info f24">
            <section class="managing_p_img">
                <img src="{$Think.config.PUBLIC_IMG}/home/manage_partner.jpg" alt="">
            </section>
            <section class="managing_text">
                <p>美尚会平台是广东美尚网络科技有限公司致力打造的中国领先的美业生态圈平台，针对美容机构提供采购平台、分成平台、智能店务、微商城和预约拓客等平台服务，针对美业相关从业人员提供资源推广、卖手创业和工作室创业等大众创业万众创新等平台服务。</p>
                <p>“我们的平台就是您的平台，帮助您资源转化为财富”，美尚平台邀请您参与共享经济平台发展，把美尚会平台推荐给您的微信好友。</p>
                <p>“我们的平台就是您的平台，帮助您资源转化为财富”，美尚平台邀请您参与共享经济平台发展，把美尚会平台推荐给您的微信好友。</p>
            </section>
        </article>
    </div>
    <div class="managepartner hide">
        <article class="ga_partner_model f24">
            <p>我要对我的云店商城合伙人进行权限内的授权</p>
            <div class="search_employee_part ">
                <input type="text" placeholder="请输入姓名/手机号码搜索" class="search_epy search_partner f24" value=""/>
                <input type="button" class="search_btn authorize_partner_search"/>
            </div>
            <a href="javascript:void(0);" class="partner_program">提升云店商城的权限和业绩分红的合伙人计划</a>
            <div class="partner_s_result">
                <span class="partner_query_top">查询结果</span>
                <div class="partner_query_list">
                    <ul class="authorize_ul"></ul>
                    <div class="upgrade_wrapper">
                        <span class="upgrade_license">升级授权</span>
                        <div class="upgrade_l_partner">
                            <!--<span>哎呀，超出我的权限了！</span>-->
                            <ul class="partner_type">
                                <li>
                                    <a href="javascript:void(0);">金牌合伙人</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">高级合伙人</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">普通合伙人</a>
                                </li>
                            </ul>
                        </div>
                        <p class="partner_access f20">我可以行使金牌合伙人授权机会还剩下3次，高级合伙人授权机会还剩下5次，普通合伙人授权机会还剩下10次</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="privilege_level f24">
            <section class="privilege_l_part">
                <div class="privilege_l_person">我的云店商城权限级别：<span class="glory_partner">某某合伙人</span></div>
                <p>权限说明：金牌级云店商城可授权招募高级、普通级商城合伙人；高级云店商城可招募普通级商城合伙人；普通级云店商城没有招募商城合伙人权限；不同级别商城合伙人享受不同的商城权限和业绩分红政策。美容机构只能查询自己直接推广的云店商城合伙人，为商城合伙人或商城合伙人进行授权升级。用户可申请自动成为云店商城推客，无需审批授权。</p>
            </section>
        </article>
    </div>
    <div class="managepartner hide">
        <article class="ga_partner_model f24">
            <p>我要对我的云店商城合伙人进行权限内的授权</p>
            <div class="search_employee_part ">
                <input type="text" placeholder="请输入姓名/手机号码搜索" class="search_epy search_partner f24" value=""/>
                <input type="button" class="search_btn my_partner_search"/>
            </div>
            <div class="partner_s_result">
                <span class="partner_query_top">查询结果</span>
                <div class="partner_query_list my_partner_list_div"><ul class="partner_append"></ul></div>
            </div>
        </article>
    </div>
    <div style="display:none">
        <div class="partner_query_list_clone">
            <li>
                <div>
                    <span class="partner_n">姓名：</span>
                    <span class="partner_name"></span>
                </div>
                <div>
                    <span class="partner_n">手机号码：</span>
                    <span class="partner_mobile"></span>
                </div>
                <div>
                    <span class="partner_n">目前级别：</span>
                    <span class="partner_level"></span>
                </div>
            </li>
        </div>
        <div class="error_clone">
            <li>
                <span>哎呀，不是我的菜！</span>
                <dl>
                    <dt>可能原因：</dt>
                    <dd>该用户还没关注美尚云平台</dd>
                    <dd>我不是该美尚平台用户最早的推荐人。</dd>
                </dl>
            </li>
        </div>
    </div>
</block>
<block name="mjs-customize">
    <!--<script type="text/javascript" src="{$Think.config.PUBLIC_JS}/common/load.more.js"></script>-->
    <script type="text/javascript">
        $(function(){
            var partnerCode=$('#partnerQrCode').html();

            $('.manage_partner_nav a').on('click',function(){
                $(this).addClass('active').siblings().removeClass('active');
                $('.managepartner').hide().eq($(this).index()).show();
                $('.partner_query_top,.partner_query_list,.search_n_partner').hide();
                $('.partner_program,.privilege_level').show();
                if($(this).hasClass("recommond_a")){
                    layer.open({
                        type:1,
                        className:'partner_qr_layer',
                        content:partnerCode,
                        success:function(){
                            $('.close_btn').on('click',function(){
                                $('.layui-m-layer').remove();
                            });
                        }
                    });
                }else if($(this).hasClass('my_partner')){
                    $('.partner_query_list').show();
                    $('.partner_query_top,.search_n_partner').hide();
                }
            });

            //授权合伙人-搜索合伙人
            $('.authorize_partner_search').on('click',function(){
                var keyword = $(this).parent().find('.search_epy').val();
                if(!keyword){
                    return false;
                }
                $.get('searchPartner',{keyword:keyword},function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            skin:'msg',
                            time:2
                        });
                        return false;
                    }

                    var authorize_partner_list = $('.partner_query_list').find('.authorize_ul').empty();
                    $('.partner_query_list,.partner_query_top,.upgrade_wrapper').show();
                    $('.partner_program,.privilege_level').hide();

                    if(msg.info.length == 0){
                        authorize_partner_list.append($('.error_clone').html());
                        return false;
                    }
                    $.each(msg.info,function(i,o){
                        authorize_partner_list.append($('.partner_query_list_clone').html());
                        var lastLi = authorize_partner_list.find('li:last');
                        lastLi.find('.partner_name').text(o.name?o.name:'');
                        lastLi.find('.partner_mobile').text(o.mobile?o.mobile:'');
                        lastLi.find('.partner_level').text(o.c_name?o.c_name+'合伙人':'');
                    });
                    return false;
                });
            });

            //我的合伙人-搜索合伙人
            $('.my_partner_search').on('click',function(){
                var keyword = $(this).parent().find('.search_epy').val();
                if(!keyword){
                    return false;
                }
                $.get('searchPartner',{keyword:keyword},function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            skin:'msg',
                            time:2
                        });
                        return false;
                    }

                    var my_partner_list = $('.partner_query_list').find('.partner_append').empty();
                    if(msg.info.length == 0){
                        my_partner_list.append($('.error_clone').html());
                        return false;
                    }
                    $.each(msg.info,function(i,o){
                        my_partner_list.append($('.partner_query_list_clone').html());
                        var lastLi = my_partner_list.find('li:last');
                        lastLi.find('.partner_name').text(o.name?o.name:'');
                        lastLi.find('.partner_mobile').text(o.mobile?o.mobile:'');
                        lastLi.find('.partner_level').text(o.c_name?o.c_name+'合伙人':'');
                    });
                    return false;
                });
            });

            //首先加载第一页
            getPartner(postData)
        });

        //上拉加载更多
        var isEnd = false;
        var isAjax= false;
        var bottomHeight = 10;
        var currentPage = 1;
        var pageSize = 5;
        $('.my_partner_list_div').scroll(function(ev){
            /*当滚动到最底部以上多少像素时， 加载新内容，默认为0*/
            if ($(this).height() + $(this).scrollTop() + bottomHeight >= $(this)[0].scrollHeight){
                var content = '';
                if(isEnd){
                    content = '没有更多数据了';
                }else if(isAjax){
                    content = '正在查询，请稍后。。。';
                }

                if(content){
                    layer.open({
                        content: content,
                        skin:'msg',
                        time: 2
                    });
                    return false;
                }
                getPartner(postData);
            }
        });

        var postData = {
            p:currentPage,
            pageSize:pageSize
        };
        function getPartner(postData){
            var loadLayer = 0;
            $.ajax({
                type: 'get',
                url: 'getPartner',
                dataType: 'json',
                data:postData,
                beforeSend:function(xhr){
                    isAjax = true;
                    loadLayer = layer.open({
                        type: 2
                    });
                },
                error:function (xhr, type){
                    layer.close(loadLayer);
                    layer.open({
                        content: 'ajax 错误！',
                        skin:'msg',
                        time: 2
                    });
                    return false;
                },
                success: function (msg){
                    layer.close(loadLayer);
                    isAjax = false;
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin:'msg',
                            time: 2
                        });
                        return false;
                    }else{
                        var data = msg.info.data;
                    }

                    postData.p++;
                    if(data.length < postData.pageSize){
                        isEnd = true;
                    }

                    var my_partner_list = $('.partner_query_list').find('.partner_append');
                    $.each(data,function(i,o){
                        my_partner_list.append($('.partner_query_list_clone').html());
                        var lastLi = my_partner_list.find('li:last');
                        lastLi.find('.partner_name').text(o.name?o.name:'');
                        lastLi.find('.partner_mobile').text(o.mobile?o.mobile:'');
                        lastLi.find('.partner_level').text(o.c_name?o.c_name+'合伙人':'');
                    });
                    return false;
                }
            });
        }
    </script>
</block>