
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloudstore/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <a href=""></a>
        <h2>我的企业组织架构与岗位模型说明</h2>
    </section>
    <section class="msy_sign_title f20">
        <div class="store_type_module">
            <span class="store_title f28">单店类型</span>
            <a scaleType="1" class="weui_btn weui_btn_plain_primary">不设立部门的中小型·单店</a>
            <a scaleType="2" class="weui_btn weui_btn_plain_primary">有设立部门的大型·单店</a>
        </div>
    </section>
    <section class="msy_sign_title f20">
        <div class="store_type_module">
            <span class="store_title f28">连锁店类型</span>
            <a scaleType="3" class="weui_btn weui_btn_plain_primary">不设立分公司的中小型·连锁店</a>
            <a scaleType="4" class="weui_btn weui_btn_plain_primary">有设立分公司的大型·连锁店</a>
        </div>
    </section>
</block>
<block name="js-customize">
    <!--编辑简介弹窗-->
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.weui_btn_plain_primary',function(){
                var scaleType = $(this).attr('scaleType');
                $.post('scaleType',{scaleType:scaleType},function (msg) {
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            time:2,
                            skin:'msg'
                        });
                        return false;
                    }else{
                        location.href = 'positionIllustrate?scaleType='+scaleType;
                    }
                });
            });
        });
    </script>
</block>