<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloudstore/storeSettings.css">
</block>
<block name="content">
    <include file="Public/shopEdit" />
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary inhi bit_btn">确定</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('#shopEdit').show();

            //确定
            $('body').on('click','.weui_btn_primary',function(){
                var form1 = $('#form1');
                var content = '';
                if(!form1.find('[name=name]').val()){
                    content = '请填写门店名称！';
                }else if(!isMobilePhone(form1.find('[name=receptionist_mobile]').val())){
                    content = '请输入正确的手机号码';
                }
                if(content){
                    layer.open({
                        content: content,
                        skin:'msg',
                        time: 2
                    });
                    return false;
                }

                var postData = form1.serializeObject();
                var logo = form1.find('img').attr('src');
                if(logo){
                    postData.logo = logo;
                }

                $.post(ACTION,postData,function(msg){
                    layer.open({
                        content: msg.info,
                        skin:'msg',
                        time: 2
                    });
                });
            });

            // 上传门店形象图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();

                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    var postData = {img: e.target.result};
                    postData.imgWidth = 145;
                    postData.imgHeight = 100;
                    $.post("uploadImgToTemp", postData,function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else{
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                        }
                    },'json');
                }
            });
        });
    </script>
</block>