<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__CSS__/store.css">
</block>
<block name="content">


    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="__IMG__/ms_02.jpg" /></div>
            <div><img src="__IMG__/ms_02.jpg" /></div>
            <div><img src="__IMG__/ms_02.jpg" /></div>
            <div><img src="__IMG__/ms_02.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- nav-->
    <section class="store_m_nav">
        <ul class="store_nav f24">
            <li><a href="{:U('Shop/setstore')} "><img src="__IMG__/store_set.png" alt=""><span>门店设置</span></a></li>
            <li><a href=""><img src="__IMG__/beauty_appoint.png" alt=""><span>美容预约<span></a></li>
            <li><a href=""><img src="__IMG__/beauty_mall.png" alt=""><span>美容商城</span></a></li>
            <li><a href=""><img src="__IMG__/order_management.png" alt=""><span>订单管理</span></a></li>
        </ul>
    </section>
    <section class="store_type_banner">
        <a href="">
            <img src="__IMG__/store_img_1.jpg" alt="">
        </a>
        <a href="">
            <img src="__IMG__/store_img_2.jpg" alt="">
        </a>
        <a href="">
            <img src="__IMG__/store_img_3.jpg" alt="">
        </a>
    </section>

    <!-- JS代码 -->
    <!-- 轮播图 -->
</block>
<block name="js-customize">

</block>
<block name="script">
    <!-- JS代码 -->
    <!-- 轮播图 -->
    <script>
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
            auto: 2500,
            callback: function(index,element){
                //回调函数
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
                function () {
                    mySwipe.slide($(this).index());
                }
        )
    </script>
</block>