<section id="platformNotes" style="display:none;">
    <div class="platformNoteText">
        <p>111111111111111111</p>
        <p>222222222222222222</p>
        <p>333333333333333333</p>
        <p>444444444444444444</p>
        <div class="agreem_marquee">
            <input type="checkbox" class="agreement_consent" id="agreementConsent" >
            <label for="agreementConsent">我已阅读并同意该协议</label>
        </div>
    </div>
</section>
<script type="text/javascript">
    var platformNotes=$('#platformNotes').html();
    var notesDialogLayer=null;
    function platformNotesDialog(){
        notesDialogLayer=layer.open({
            title:['《美尚平台使用须知》','border-bottom:1px solid #d9d9d9;'],
            className:'notesLayer',
            content:platformNotes,
            btn:['下一步'],
            success:function(){},
            yes:function(index){
                if($('.agreement_consent').is(':checked')){
                    registerDialog();
                    layer.close(index);
                }
            }
        });
    }
</script>