<div class="smsForgetPasswd forgetPasswd_wrap hide">
    <div class="login_item">
        <span class="username_txt txt3">用户名：</span>
        <input class="username user_name input_txt3" type="text" placeholder="6-16位数字、字母或下划线" name="name">
    </div>
    <div class="forgetPasswd_item">
        <span class="username_txt new_password">密码：</span>
        <input type="password" class="password username n_pass" placeholder="6-16数字或字母" name="pass_word">
    </div>
    <div class="forgetPasswd_item">
        <span class="username_txt new_password">确认密码：</span>
        <input type="password" class="cofirm_password username" placeholder="请再次确定新密码" name="re_password">
    </div>
    <div class="forgetPasswd_item">
        <span class="username_txt txt3">手机号：</span>
        <input class="username user_phone input_txt3" type="tel" placeholder="请输入手机号" name="mobile_phone">
        <a href="javascript:void(0);" class="mesg_code">获取验证码</a>
    </div>
    <div class="forgetPasswd_item">
        <span class="username_txt txt3">验证码：</span>
        <input type="text" class="tel_code username input_txt3" placeholder="请输入收到的验证码" name="captcha">
    </div>
</div>
