<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <nav class="selling_nav f24">
        <a href="javascript:void(0);">使用帮助</a>
        <a href="__MODULE__/SellerArchive">卖手档案</a>
        <a href="{:U('UserCenter/SellerAuthorise/index')}">卖手认证</a>
    </nav>
    <section class="selling_content f24">
        <div class="selling_img">
            <img src="{$Think.config.PUBLIC_IMG}/common/msy_logo.png" alt="" class="msy_logo">
        </div>
        <p class="agency">免中介费帮助卖手服务型创业</p>
        <h2 class="f36">卖手接单店销分成</h2>
        <div class="sales_plan">
            <p>7x24小时对接店销高手接单需求</p>
            <div>
                <span>销售分成<i></i></span>
                <span>操作分成<i></i></span>
                <span>课程培训</span>
            </div>
        </div>
        <div class="selling_orders"><a href="__MODULE__/RobTaskOrder/index">滴滴卖手开始接单</a></div>
        <div class="selling_m_category">
            <a href="javascript:void(0);">热门项目推介</a>
            <a href="__MODULE__/MyTaskOrderManage/index">我的接单管理</a>
            <a href="javascript:void(0);">我的日程管理</a>
        </div>
    </section>
    <!--<footer>
        <p class="f24 official_copyright">Copyright 2014- 2017 美尚网络</p>
    </footer>-->
</block>
<block name="mjs-customize">
    <script type="text/javascript">

    </script>
</block>