{volist name="goodsList" id="vo"}
    <tr class="checked_good" data-goodsId="{$vo.id}">
        <td class="w50 ">
            <div class="pic-thumb">
                {empty name="vo.main_img"}
                    <img src="public_admin_common_img/default/goods_default.png" width="60" height="60"/>
                    {else/}
                    <img src="public_uploads/{$vo.main_img}" width="60" height="60"/>
                {/empty}
            </div>
        </td>
        <td class="t1"><dl class="goods-name"><dt style="width:300px;">{$vo.name}</dt></dl></td>
        <td class="w90 goods-price">{$vo.bulk_price}</td>
        {empty name="vo.goods_num"}
            <td class="w90"><input type="text" value="1" class="text w70 goodsNum"></td>
            {else /}
            <td class="w90"><input type="text" value="{$vo.goods_num}" class="text w70 goodsNum"></td>
        {/empty}
        <td><span><a href="javascript:void(0);" class="btn-orange goods_del">移除</a></span></td>
    </tr>
{/volist}

