<div class="search-result">
    <notempty name='goodsList'>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th></th>
                    <th>排序</th>
                    <th>商品名称</th>
                    <th>所属分类</th>
                    <th>状态</th>
                    <th>库存</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="goodsList" id="vo">
                    <tr class="hover edit" data-id="{$vo.id}" data-online="{$vo.on_off_line}">
                        <td class="w48"><input type="checkbox" class="checkitem">
                        <td class="w48 sort"><span title="" class="editable ">{$vo.sort}</span></td>
                        <td class="w50pre name"><span title="" class="editable ">{$vo.name}</span></td>
                        <td>
                            <if condition="$vo.category_name_3 neq '' ">{$vo.category_name_3}
                                <elseif condition="$vo.category_name_2 neq '' "/>{$vo.category_name_2}
                                <else />{$vo.category_name_1}
                            </if>
                        </td>
                        <td class="onOff <if condition='$vo.on_off_line eq 1'>up<else/></if> ">{$vo.on_off_line|onOffLine}</td>
                        <td>{$vo.inventory}</td>
                        <td class="w96">
                            <a href="javascript:void(0);" class="online">上架</a>
                            | <a href="javascript:void(0);" class="offline">下架</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                    <td id="batchAction" colspan="15">
                        <span class="all_checkbox"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
                        <a href="JavaScript:void(0);" class="batchDel" ><span>批量下架</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    <else/>
        <table class='loading'>没有符合条件的记录！</table>
    </notempty>
</div>
<div class="pager" style="text-align: center;margin:30px 0 0 0">{$pageList}</div>



