<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myms/mall.css">
</block>


<block name="content">
    <article class="msh_product_picture">
        <section class="goods_picture goods_detail_banner" >
            <notempty name="goodsInfo.main_img">
                <img data-img="" data-isloaded="" src="__ROOT__/Uploads/{$goodsInfo.main_img}" alt="" class="c_img" />
                <else />
                <img data-img="" data-isloaded="" src="__PUBLIC__/images/myms/default/goods_default.png" alt="" class="c_img" />
            </notempty>
        </section>
        <section class="hot_detail f24">
            <p class="goodsinfo_name">{$goodsInfo.name}</p>
            <div class="product_labeling hot_tags_type">
                <volist name="goodsInfo.tag" id="vo">
                    <span>{$vo}</span>
                </volist>
            </div>
            <div class="purchasing_intro_text">{$goodsInfo.intro|htmlspecialchars_decode}</div>
        </section>
        <section class="hot_detail hot_countdown_detail f24">
            <div class="quantity_purchased">
                <div>
                    <div class="concessional_rate">
                        <if condition="$goodsInfo.buy_type eq '1'">
                            <span>优惠价：</span>
                        </if>
                        <if condition="$goodsInfo.buy_type eq '2'">
                            <span>工作室优惠价：</span>
                        </if>
                        <if condition="$goodsInfo.buy_type eq '3'">
                            <span>微团价：</span>
                        </if>
                        <span>￥<i>{$goodsInfo.real_price}</i></span>
                    </div>
                    <div>
                        <span>零售价：</span>
                        <del>￥{$goodsInfo.price}</del>
                    </div>
                </div>
                <div class="express_mode">
                    <span class="current">到店领取</span>
                    <span>快递邮寄</span>
                </div>
            </div>
            <div class="quantity_purchased quantity_product_n">
                <span class="num">购买数量</span>
                <div class="quantity_wrapper">
                    <a href="javascript:void(0);" class="greduce">-</a>
                    <input type="text" value="1" class="f24 gshopping_count">
                    <a href="javascript:void(0);" class="gplus">+</a>
                </div>
            </div>
            <div class="goods_star_score">
                <div class="five_star">
                    <div class="star_img">
                        <img src="__PUBLIC__/images/myms/star.png" id="0">
                        <img src="__PUBLIC__/images/myms/star.png" id="1">
                        <img src="__PUBLIC__/images/myms/star.png" id="2">
                        <img src="__PUBLIC__/images/myms/star.png" id="3">
                        <img src="__PUBLIC__/images/myms/star.png" id="4">
                    </div>
                    <span class="fraction" data-score="{$goodsInfo.evaluation_good_stars}"></span>
                </div>
                <a href="javascript:void(0);" class="comment_num">{$goodsInfo.evaluation_count}人评论</a>
            </div>
        </section>
        <section class="hot_detail f24">
            <h2>商品参数</h2>
            <div class="commodity_parameter">
                {$goodsInfo.param|htmlspecialchars_decode}
            </div>
        </section>
        <section class="hot_detail hot_goods_detail f24">
            <h2>商品详情</h2>
            <ul>
                <li>
                    <notempty name="goodsInfo.detail_img">
                        <volist name="goodsInfo.detail_img" id="vo">
                            <p class="goods_detail_img">
                                <notempty name="goodsInfo.detail_img">
                                    <img data-img="__ROOT__/Uploads/{$vo}" data-isloaded="" src="" alt="" class="c_img" />
                                    <else />
                                    <img data-img="" data-isloaded="" src="__PUBLIC__/images/myms/default/goods_default.png" alt="" class="" />
                                </notempty>
                            </p>
                        </volist>
                        <else />
                    </notempty>
                </li>
            </ul>
        </section>
        <section class="hot_detail hot_goods_detail f24">
            <!--<h2>商品详情</h2>-->
            <ul>
                <li>
                    <notempty name="goodsInfo.common_img">
                        <volist name="goodsInfo.common_img" id="vo">
                            <p class="goods_detail_img">
                                <notempty name="goodsInfo.common_img">
                                    <img data-img="__ROOT__/Uploads/{$vo}" data-isloaded="" src="" alt="" class="c_img" />
                                    <else />
                                    <img data-img="" data-isloaded="" src="__PUBLIC__/images/myms/default/goods_default.png" alt="" class="" />
                                </notempty>
                            </p>
                        </volist>
                        <else />
                    </notempty>
                </li>
            </ul>
        </section>
        <section class="hot_detail hot_goods_detail f24">
            <h2>使用方法</h2>
            <div class="commodity_parameter">
                {$goodsInfo.usage|htmlspecialchars_decode}
            </div>
        </section>
        <section class="hot_detail matters_needing_attention f24">
            <div class="attention_text">
                <span class="at_text">注意事项</span>
                <div class="commodity_parameter">
                    {$goodsInfo.notices|htmlspecialchars_decode}
                </div>
            </div>
        </section>
    </article>

    <footer class="shopping_nav f24">
        <a href="javascript:void(0);"><i class="smile_face"></i>客服</a>
        <a href="javascript:void(0);" class="shop_cart">
            <i class="commodity_quantity cart_d_num">{$cartInfo.count}</i>
        </a>
        <a class="add_cart" href="javascript:void(0);">加入购物车</a>
        <!--<a href="{:U('Order/addOrder',array('goodsId'=>$goodsInfo['id'],'buyType'=>$goodsInfo['buy_type']))}" class="buyNow">立即购买</a>-->
        <a href="javascript:void(0);" class="buyNow">立即购买</a>
    </footer>
    <input class="goods_id" name="" type="hidden" value="{$goodsInfo.id}">
    <input class="buy_type" name="" type="hidden" value="{$goodsInfo.buy_type}">
    <input class="type" name="" type="hidden" value="{$goodsInfo.type}">
    <include file="Public/cart" />
</block>
<block name="js-customize">
    <script type="text/javascript" src="__PUBLIC__/js/myms/cart.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:5,
                star:'__PUBLIC__/images/myms/star.png',
                starRed:'__PUBLIC__/images/myms/starred.png'
            });

            if($('.commodity_quantity').text() == 0){
                $(".shop_cart").addClass("disabled");
            }
           //加入购物车
            $('.add_cart').click(function () {
                $('.aa').val()
                var goodsId = $('.goods_id').val();
                var goodsNum=$('.gshopping_count').val();
                var buyType = $('.buy_type').val();
                var type = $('.type').val();
                var html='';
                $(".shop_cart").removeClass("disabled");
                $('.mask').data('show',0);
                $.post(MODULE + '/Cart/addCart', {goodsId: goodsId,goodsNum:goodsNum,buyType:buyType}, function (msg) {
                    if(msg.status == 0){
                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        html+='<li data-foreignid='+msg.info.info.id+' data-buytype='+msg.info.info.buy_type+' data-type='+msg.info.info.type+' data-cartId='+msg.info.info.cart_id+'>';
                        html+='<span class="shop_product_name">'+msg.info.info.name+'</span>';
                        html+='<span class="shop_product_price">'+msg.info.info.real_price+'</span>';
                        html+='<div class="shop_product_num">';
                        html+='<a href="javascript:void(0);" class="reduce">-</a>';
                        html+='<input type="text" value='+msg.info.info.num+' class="shopping_count">';
                        html+='<a href="javascript:void(0);" class="plus">+</a>';
                        html+='</div>';
                        html+='</li>';
                        if(!$('.cart').find('li').length){
                            $('.cart ul').append(html);
                        }else{
                            var sign = 1;
                            $('.cart').find('li').each(function(){
                                var buyType = $(this).data('buytype');
                                var id = $(this).data('foreignid');
                                var type = $(this).data('type');
                                var num = parseInt($(this).find('.shopping_count').val());
                                if(buyType == msg.info.info.buy_type && id == msg.info.info.id && type == msg.info.info.type){
                                    $(this).find('.shopping_count').val(parseInt(msg.info.info.num)+num);
                                    sign = 0;
                                }
                            });
                            if(sign){
                                $('.cart').find('li:last').after(html);
                            }
                        }
                        $('.commodity_quantity').text(msg.info.count);
                    }
                }, 'json')
            });


            var shopNum=$('.shopping_count').val();
            $('.gplus').on('click',function(){
                shopNum=$(this).siblings('.gshopping_count').val();
                shopNum++;
                $(this).siblings('.gshopping_count').val(shopNum);
            });
            $('.greduce').on('click',function(){
                shopNum=$(this).siblings('.gshopping_count').val();
                if(shopNum<2){
                    return false;
                }
                shopNum--;
                $(this).siblings('.gshopping_count').val(shopNum);

            });
            $(window).on('scroll',function(){
                checkShow($('.goods_detail_img .c_img'));
            });


            //立即购买
            $('body').on('click','.buyNow',function () {
                var goodsId = $('.goods_id').val();
                var buyType = $('.buy_type').val();
                var num = $('.gshopping_count').val();
                var url =  MODULE + '/Order/addOrder/goodsId/'+goodsId+'/buyType/'+buyType+'/num/'+num;
                location.href=url;
            })
        });

    </script>


</block>