<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myms/mall.css">
</block>
<block name="content">
    <div class="myms_type_banner">
        <img src="__PUBLIC__/images/myms/default/goods_default.png" alt="">
    </div>
    <div class="beauty_item_wrapper">
        <div class="commodity_category commodity_category_s">
            <notempty name="groupGoodsList">
                <ul>
                    <volist name="groupGoodsList" id="vo">
                        <li data-buytype="3" data-goodsid="{$vo.id}">
                            <a href="{:U('Goods/goodsInfo',array('goodsId'=> $vo['id'],'buyType'=>'3'))}">
                                <div class="goods_img">
                                    <notempty name="vo.main_img">
                                        <img data-img="__ROOT__/Uploads/{$vo.main_img}" data-isloaded="" src="" alt="" class="c_img" />
                                        <else />
                                        <img data-img="__PUBLIC__/images/myms/default/goods_default.png" data-isloaded="" src="" alt="" class="c_img" />
                                    </notempty>
                                </div>
                            </a>
                            <p class="f24 commodity_name">{$vo.name}</p>
                            <div class="commodity_price f24">
                                <span class="price">￥{$vo.special_price}</span>
                                <a href="javascript:void(0);" class="shopping_cart">购物车</a>
                            </div>
                        </li>
                    </volist>
                </ul>
            </notempty>
        </div>
    </div>
    <include file="Public/footer" />
    <include file="Public/cart" />
</block>
<block name="js-customize">
    <script type="text/javascript" src="__PUBLIC__/js/myms/cart.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        checkShow($('.goods_img .c_img '));
        $(window).on('scroll',function(){
            checkShow($('.goods_img img'));
        });
    </script>

</block>