<tr class="hover edit" data-level="1">
    <td class="w10" width="25%">
        <input type="checkbox" class="checkitem" >
        <span class="folding" status="open"></span>
        <span>第一级</span>
    </td>
</tr>
<tr class="hover" data-level="2">
    <td class="w10" width="25%">
        <input type="checkbox" class="checkitem" >
        <span class="folding" status="open"></span>
        <span>第二级</span>
    </td>
</tr>
<tr class="hover" data-level="3">
    <td class="w10" width="25%">
        <input type="checkbox" class="checkitem" />
        <span>第三级</span>
    </td>
</tr>
<tr class="hover" data-level="3">
    <td class="w10" width="25%">
        <input type="checkbox" class="checkitem" />
        <span>第三级</span>
    </td>
</tr>
    <script type="text/javascript">
        $(function(){
            //折叠
            $('body').on('click','.folding',function(){
                var _this = $(this);
                var status = _this.attr('status');
                var _thisTr = _this.parents('tr');
                if(status == 'open'){
                    _this.attr('status','close');
                        if(_thisTr.data('level') == 1){
                            _thisTr.siblings('tr[data-level="2"]').show();
                        }else if(_thisTr.data('level') == 2){
                        _thisTr.siblings('tr[data-level="3"]').show();
                        }
                }else if(status == 'close'){
                    _this.attr('status','open');
                    if(_thisTr.data('level') == 1){
                        _thisTr.siblings('tr[data-level="2"]').find('.folding').attr('status','open');
                        _thisTr.siblings('tr[data-level="2"]').hide();
                        _thisTr.siblings('tr[data-level="3"]').hide();
                    }else if(_thisTr.data('level') == 2){
                        _thisTr.siblings('tr[data-level="3"]').hide();
                    }
                }
            });
            $('body').on('click','.checkitem',function () {
                var _thisTr=$(this).parents('tr');
                var _thisChecked = $(this).prop("checked");
                if(_thisTr.data('level') == 1){
                    _thisTr.siblings('tr[data-level="2"]').find('.checkitem').prop('checked',_thisChecked);
                    _thisTr.siblings('tr[data-level="3"]').find('.checkitem').prop('checked',_thisChecked);
                }else if(_thisTr.data('level') == 2){
                    _thisTr.siblings('tr[data-level="1"]').find('.checkitem').prop('checked',_thisChecked);
                    _thisTr.siblings('tr[data-level="3"]').find('.checkitem').prop('checked',_thisChecked);
                }else if(_thisTr.data('level') == 3){
                    _thisTr.siblings('tr[data-level="1"]').find('.checkitem').prop('checked',_thisChecked);
                    _thisTr.siblings('tr[data-level="2"]').find('.checkitem').prop('checked',_thisChecked);
                }
            })
            //批量全选
            $('body').on('click','.checkall',function () {
                var _thisChecked = $(this).prop("checked");
                $.each($('.checkitem'),function () {
                    $(this).prop('checked',_thisChecked);
                });
            });
            //批量反选
            $('body').on('click','.checkitem',function () {
                var sign = true;
                //一票否决
                $.each($('.checkitem'),function () {
                    if(!$(this).prop('checked')){
                        sign = false;
                    }
                });
                $('.checkall').prop('checked',sign);
            });
        });
    </script>
