<tbody>
    <tr class="hover" level="1">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" >
            <span class="folding" status="open"></span>
            <span>第一级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" >
            <span>第二级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" />
            <span>第二级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" />
            <span>第二级</span>
        </td>
    </tr>
</tbody>

<tbody>
    <tr class="hover" level="1">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" >
            <span class="folding" status="open"></span>
            <span>第一级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" >
            <span>第二级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" />
            <span>第二级</span>
        </td>
    </tr>
    <tr class="hover" level="2">
        <td class="w10" width="25%">
            <input type="checkbox" class="check_item_2" />
            <span>第二级</span>
        </td>
    </tr>
</tbody>
