<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerPractitioner/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>我要抢任务单</h2>
    </section>
    <section>
        <div class="store_type_module">
            <span class="store_title f28">选择任务单类型</span>
            <a href="javascript:void(0);" class="weui_btn weui_btn_plain_primary" data-task-order-type="1">销售分成类</a>
            <a href="javascript:void(0);" class="weui_btn weui_btn_plain_primary" data-task-order-type="2">操作分成类</a>
            <a href="javascript:void(0);" class="weui_btn weui_btn_plain_primary" data-task-order-type="3">课程培训类</a>
        </div>
    </section>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('.weui_btn').click(function(){
                var taskOrderType = $(this).data('task-order-type');

                location.href = CONTROLLER + '/taskOrderList?taskOrderType=' + taskOrderType;
            });
        });
    </script>
</block>