<extend name="Public:base" />
<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Level/levelManage')}" ><span>管理</span></a></li>
                    <li><a href="{:U('Level/levelEdit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align="right" valign="top">级别标志图：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <p>
                                    <input type="file" class="upload" id="img" name="img">
                                    <label class="uploadbtn" for="img" title="JPG,GIF,PNG"></label>
                                </p>
                                <p class="showimg" id="showimg">图片上传大小请小于50k</p>
                                <notempty name="levelInfo.img">
                                    <img class="img purchase_level_default" src="UPLOADS_IMG/{$levelInfo.img}">
                                <else />
                                    <img class="img purchase_level_default" src="PUBLIC_ADMIN_IMG/common/default/goods_default.png">
                                </notempty>
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align="right" valign="top">级别详情图：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <p>
                                    <input type="file" class="upload" id="detial_img" name="detail_img">
                                    <label class="uploadbtn" for="detial_img" title="JPG,GIF,PNG"></label>
                                </p>
                                <p class="showimg">图片上传大小请小于50k</p>
                                <notempty name="levelInfo.detail_img">
                                    <img class="img purchase_level_default" src="UPLOADS_IMG/{$levelInfo.detail_img}">
                                    <else />
                                    <img class="img purchase_level_default" src="PUBLIC_ADMIN_IMG/common/default/goods_default.png">
                                </notempty>
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align="right" valign="top">级别星级图：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <p>
                                    <input type="file" class="upload" id="star_img" name="star_img">
                                    <label class="uploadbtn" for="star_img" title="JPG,GIF,PNG"></label>
                                </p>
                                <p class="showimg">图片上传大小请小于50k</p>
                                <notempty name="levelInfo.star_img">
                                    <img class="img purchase_level_default" src="UPLOADS_IMG/{$levelInfo.star_img}">
                                    <else />
                                    <img class="img purchase_level_default" src="PUBLIC_ADMIN_IMG/common/default/goods_default.png">
                                </notempty>
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>名称：</td>
                            <td class=dotted_bottom_gray width="40%" align=left>
                                <input style="width: 200px; " class="inputboxadmin" name="name" value="{$levelInfo.name}">
                                <input type="hidden" name="levelId" value="{$levelInfo.id}">
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>星级：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <select name="star" class="selectbox">
                                    <notempty name="levelStarList">
                                        <volist name="levelStarList" id="vo" key="k">
                                            <option value="{$k}">{$vo}</option>
                                        </volist>
                                    </notempty>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right>结算折扣：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <input style="width: 200px; " class="inputboxadmin" name="settlement_discount" value="{$levelInfo.settlement_discount}">
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right>开通费用：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <input style="width: 200px; " class="inputboxadmin" name="fee" value="{$levelInfo.fee}">
                            </td>
                        </tr>
                        <tr>
                            <td width="11%"></td>
                            <td height=60 width="50%" align=center>
                                <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                                <input class="button_save_black" name="add0" value="返回" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/common/uploadImgToTemp.js"></script>
    <script type="text/javascript">
        $(function(){
            //页面初始化
            var star = '{$levelInfo.star}';
            if(star){
                $('[name=star]').val(star);
            }

            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();
                var imgUrl = $('[name=img]').attr('src');
                if(imgUrl){
                    postData.img = imgUrl;
                }
                var detailImgUrl = $('[name=detail_img]').attr('src');
                if(detailImgUrl){
                    postData.detail_img = detailImgUrl;
                }
                var starImgImgUrl = $('[name=star_img]').attr('src');
                if(star_img){
                    postData.star_img = starImgImgUrl;
                }
                $.post(ACTION,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        location.href = CONTROLLER + '/levelEdit';
                    });
                },'JSON');
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = CONTROLLER + '/levelManage';
            });
        });
    </script>
</block>