@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,a,blockquote,th,td,form,label,table{margin:0;padding:0; font-weight:normal;}
ol,ul,li,dd,dt,dl{ list-style:none;}
img{border:0;}
a{text-decoration: none;color:#595757;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer;  }
button,input,textarea{border: none;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font-family: '微软雅黑',Verdana,Arial,Helvetica,sans-serif; color: #333;background: #fff;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
/*公共样式*/
.left{
	float:left;
}
.right{
	float:right;
	}

.overall{ width:375px; margin:0 auto ;}
/*header*/
.nav{
	position:relative; background-color:#333; height:54px;
}
h2{
	text-align:center; color:#FFF; height:54px; line-height:54px; font-size:18px;
	}
.nav a{
	width:20px;    
	height:54px;
	position:absolute;
}
.nav a.left{
	left:20px;
	top:4.5px;
	}
.nav a.right{
	right:40px;
	top:4.5px;
	}
/*content*/
.overall1{  width:375px; margin:0 auto ;height:100px; border-bottom:5px solid #efefef;}
.overall1 p{ font-size:15px; color:#808080; margin:20px 0 0 10px;}
.account{ margin:18px 0 0 33px;}
.account .btn-status{ display:block;font-size:15px; color:#808080;margin-left: -10px;}

h4{ font-size:18px; color:#595757; text-align:center; margin-top:15px;}

.overall2{ height:800px;}
.current{ background-color:#b2e1c5; width:300px; height: 54px; border-radius: 8px;  margin:20px 37.5px;}
.current img{float:left; padding: 12.5px 40px 0px 20px ;}
.current h5{ float:left;color: #595757; font-size: 16px; line-height:54px;}




.rectangle1{ width:300px; height: 52px; border: 1px solid #009a3e; border-radius: 8px; background-color: #efefef;
 margin:20px 37.5px 0px 37.5px;}
.rectangle1 img{ float: left;padding: 12.5px 40px 0px 20px ;}
.rectangle1 h5{ float:left;color: #595757; font-size: 16px; line-height:52px;}

.btn a{ display:block;color: #fff; font-size: 20px; line-height: 50px; text-align: center; width:375px;
 height: 50px; background-color: #ff7bac; position: fixed;right:0px;
    bottom:0px; letter-spacing:10px;
 } 


.content{width: 270px;
    height: 90px;
    background-color: #efefef;
    border: 1px solid #929191;
    border-radius: 5px;
    margin:0 14px;}

.content p{font-size: 15px;
    color: #808080;
    line-height: 20px;
    margin: 13px 0 0 45px;
	text-align: left;}	




