@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,a,blockquote,th,td,form,label,table{margin:0;padding:0; font-weight:normal;}
ol,ul,li,dd,dt,dl{ list-style:none;}
img{border:0;}
a{text-decoration: none;color:#595757;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer;  }
button,input,textarea{border: none;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font-family: '微软雅黑',Verdana,Arial,Helvetica,sans-serif; color: #333;background: #fff;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
/*公共样式*/
.left{
	float:left;
}
.right{
	float:right;
	}
.height{ height:31px;}

.overall{}
/*header*/
.nav{
	position:relative; background-color:#333; height: 3.4rem;
}
h2{
	text-align:center; color:#FFF; height: 3.4rem; line-height: 3.4rem;; font-size:18px;
	}
.nav a{
	width:1.3rem;   
	height: 3.4rem;
	position:absolute;
}
.nav a.left{
	left:20px;
	top:4.5px;
	}
.nav a.right{
	right:40px;
	top:4.5px;
	}
/*nav*/
.fir-nav{height:50px; border-bottom:1px solid #7e7d7d;overflow:hidden;} 

.fir-nav a.home{
	margin: 5px 0 0 23px;
	}
.fir-nav a.circle{
	margin: 5px 0 0 8px;
	}	
.fir-nav a{
	width:40px;    
	height:50px;
}
.supplier{font-size:14px; height:50px; line-height:50px; margin-left:3px;}
h4 { display:block;font-size:14px; margin-right:15px; line-height:50px;}
.gh{ width: 47%;}
/*mainnav*/
.sec-nav{ border-bottom:8px solid #efefef; height:3.3rem; padding:3px;} 
.columns_flex{ display: -webkit-flex;}
.sec-nav li{width: 20%; }
.sec-nav a{ display:block; font-size:14px; margin-left:7.5px; padding:0px 5px 0px 5px;color:#595757;
    height:3.3rem; line-height:3.3rem; font-weight: bold;text-align:center;
}
.sec-nav a.current{color: #ff7bac;} 
.sec-nav a{
	position:relative; 
} 
.sec-nav a.current:before{
	position: absolute;
    left: 50%;
    bottom: -10px;
    height: 30px;
    width: 30px;
    background-color: #ff7bac;
    content: "";
    transform: scale3d(0.5, 0.05, 1);
    transform-origin: center;
    transition: all 0.5s;
    margin-left: -15px;
}
/*content*/
.main{ padding:0px 10px;}
.search{height: 2rem; border:1px solid #8c8c8c; border-radius:5px;margin:20px 10px 0 10px; display: -webkit-flex;}
.search .text{ flex: 4; font-size:13px; color:#b3b3b3; line-height: 2rem; margin-left:20px;}
.search-btn{     flex: 1;
	             border-left: 1px solid #d9d9d9;
	             background: none;
	             background-image:url(../img/search.png);
	             background-repeat: no-repeat;
	             background-position: center;}
h5{ font-size:15px; color:#595757; margin:9px 0 0 10px;}

.list1{
	height:5.7rem;
	border:1px solid #009a3e;
	border-radius:5px;
	margin:14px 10px 0 10px;
    background-color:#efefef;
	display:flex;
	justify-content: space-between;
}
.list1 .box-right {
    padding:17px 5px;font-size:14px;color:#595757;
}
.list1 .box-left{ font-size:14px;color:#595757;padding:36px 15px; 
	border-left:1px solid #727171; }
.list1 .label{
    display: inline-block;
    width:70px;
    text-align: right;
	margin-right: 5px;}

	.list2{ 
        height:5.7rem;
		border:1px solid #009a3e;
		border-radius:5px;
		margin:14px 10px 0 10px;
        background-color:#efefef;
	    display:flex;
	    justify-content: space-between;
}
.list2 .box-right {
    padding:17px 5px;font-size:14px;color:#595757;
}
.list2 .box-left{ font-size:14px;color:#595757;padding:36px 8px;
	 border-left:1px solid #727171; color:#E60012; }
.list2 .label{
    display: inline-block;
    width:70px;
    text-align: right;
	margin-right: 5px;}


.btn {color: #fff; 
	font-size: 15px; 
	line-height: 50px; 
	text-align: center;
	width:100%; 
	height:3.3rem;
	background-color: #ff7bac;
	 position: fixed;
    right: 0px;
    bottom:0px;
	z-index: 2;
 } 

.box{ width:330px; height:500px;}
/*h1{ text-align:center; margin-top: 47px; font-size:18px;}*/
.area-frame{ height:2rem;margin:20px 10px 0px 10px;}
.area-frame .srk{ display:block;font-size:15px; color:#b3b3b3; line-height:2rem; text-align:center; height:2rem; border:1px solid #918b8a; border-radius:5px;width: 100%; }
h6{text-align:center; margin-top: 15px; font-size:15px;}

.area-frame1{margin:16px 10px 0px 10px; border:1px solid #918b8a; border-radius:5px;
	height: 380px;}
.area-frame1 .current{ background-color:#009a3e;}




.rectangle1{height:2.5rem; border: 1px solid #009a3e; border-radius: 8px; 
	background-color: #efefef;
   margin: 10px 15px;}
.rectangle1 img{ float: left;padding:7.5px 33px 0px 15px;}
.rectangle1 h1{ float:left;color: #595757; font-size: 16px; line-height:40px;}