.set_wrap{padding:0.10rem 0 0 0.25rem;margin:0 0 0.25rem;}
.titleImg img{width:100%;}
.setContent{border-bottom:1px solid #d9d9d9;padding:0 0 0.10rem 0;}
.y_fr{margin:0 0.15rem 0 0;}
/*机构登记  background:url(../../images/sign-ico.png) repeat-x center 8px;*/
.login-items{padding:0.30rem 0.28rem;border-top:1px solid #d9d9d9;}
.msy_sign_title{background-color:#f7f8f8;padding: 0 0 0.15rem;}
.msy_sign_title h2{text-align:center;background:#fff;padding:0.25rem 0;}
.page-bd .status{}
.sign_nav{padding: 0.20rem 0.4rem;}
.weui_cells{border:1px solid #d9d9d9;border-radius:0.06rem;}
.login-items .weui_btn_primary{background-color: #F39800;}
.login-items .weui_input{font-size:0.24rem;}
.login-items .msy_cells:before,.login-items .msy_cells:after{border-top:none;border-bottom:none;}
.page-bd .weui-flex {

    align-items: center;
    transition: all 0.3s ease 0s;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
}
.page-bd .weui-flex-item {
    position:relative;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    text-align:center;
    color:#808080;
}
.weui_cell-bd {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}
.page-bd .status .active{color:#0ccaf7;}
.weui-flex-item span{display:block;height:0.6rem;}
.weui-flex-item .base_info{background:#fff url(../../img/purchase/base_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_info{background:#fff url(../../img/purchase/base_s_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_address{background:#fff url(../../img/purchase/base_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_address{background:#fff url(../../img/purchase/base_s_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_finish{background:#fff url(../../img/purchase/base_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_finish{background:#fff url(../../img/purchase/base_s_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_info{background:#fff url(../../img/purchase/certify_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_s_info{background:#fff url(../../img/purchase/certify_s_info.png) no-repeat center 0;background-size:40px auto;}

.weui-flex-item em{position: absolute;
    background: url(../../img/purchase/sign-ico.png) repeat-x;
    left: 76%;
    height: 2px;
    display: block;
    width: 48%;
    top: 14px;
    z-index: 999;
}
.weui_cell .pca{flex:1;-webkit-flex:1;box-sizing:border-box;border: 1px solid #d9d9d9;padding:0.22rem 0 0.22rem 0rem;background:none;}
/*.weui_cell select option{text-align:center;}*/
.weui_cell select:nth-of-type(1){border-right:none;}
.weui_cell select:nth-of-type(2){border-right:none;}
.weui_address{padding:0;border:none;}
.weui_address .weui_cell{padding:0;}
.reg_success{text-align:center;padding:0.8rem 0 0.5rem;}

/*机构认证*/
.certify_title{background: #ff7bac;padding:0.20rem 0.28rem;display:flex;display:-webkit-flex;}
.certify_title img{width:1.2rem;height:1.2rem;}
.certify_title span{padding-left:0.35rem;flex:5;color:#fff;align-items: center;display:flex;}
.certify_intro{padding:0 0.25rem;}
.certify_intro h3{padding:0.35rem 0 0.18rem;}
.certify_items{border-top:none;}
.success_ico{margin:.8rem auto .25rem;width:0.85rem;height:0.85rem;display:block;}
.success_tipc{text-align:center;}
.certify_tipc_txt{color:#595757;margin:0.15rem 0 0;}


.uploadImg_cell{width:100%;overflow:hidden;}
.uploadImg_cell .upload_item{float:left;margin:0 0.1rem 0.1rem 0.1rem;}
.uploadImg_cell .upload_td{position:relative;width:1.65rem;height:1.5rem;background:#e5e5e5;}
.uploadImg_cell .upload_td:after, .uploadImg_cell .upload_td:before,.uploadImg_map .msy_image_map:after,.uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #999;
}
.uploadImg_cell .upload_td:before {
    width: 2px;
    height: 39.5px;
}
.uploadImg_cell .upload_td:after {
    width: 39.5px;
    height: 2px;
}
.upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.upload_img{position:absolute;top:0;left:0;width:100%;height:100%;}

/*机构基本资料和图片*/
#uploadPicture{display:none;}
.uploadImg_map{position:relative;}
.uploadImg_map .msy_image_map{position:relative;width:100%;height:4.5rem;background:#e5e5e5;}
.uploadImg_map .msy_image_map:before {
    width: 2px;
    height: 39.5px;
    top:35%;
}
.uploadImg_map .msy_image_map.active:before,.uploadImg_map .msy_image_map.active:after,.image_photo .upload_td.active:before,.image_photo .upload_td.active:after{width:0;height: 0;}
.uploadImg_map .msy_image_map:after {
    width: 39.5px;
    height: 2px;
    top:35%;
}
.image_photo .upload_td:before{top:36%;}
.image_photo .upload_td:after{top:36%;}
.msy_image_map .uploadImg,.image_photo .upload_td .uploadImg{z-index:2;}
.msy_image_map .upload_img,.image_photo .upload_td .upload_img{z-index:1;}
.uploadImg_map span{position: absolute;width:1rem ;height:1rem ;left:50%;top:56%;margin:-0.5rem 0 0 -0.5rem;color:#999;}
.msy_basis {padding:0 0 0 0.20rem;}
.msy_basis li{border-bottom:1px solid #d9d9d9;}
.msy_basis li input{position:relative;width:100%;display:block;color:#39b54a;font-size:0.24rem;}
.msy_basis li input::after{content:'';display:inline-block; position:absolute;top:22%;right:0.2rem;width:.5em;height:.5em;border-bottom:.12em solid #39b54a;border-left:.12em solid #39b54a;-webkit-transform:translate(-70%) rotateZ(-140deg);-moz-transform:translate(-70%) rotateZ(-45deg);-ms-transform:translate(-70%) rotateZ(-45deg);}
.msy_basis label,.msy_basis input{display:block;padding:0.12rem 0;}
.msy_basis input{width:100%;}
.base_img{width:100%;display:block;padding:0 0 0.12rem 0;position:relative;}
.base_img::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:22%;
    right:0.2rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #999;
    border-left:.12em solid #999;
    -webkit-transform:translate(-70%) rotateZ(-133deg);
    -moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.edit_intro_layer .layui-m-layercont{padding:0 0.15rem 0 0.15rem;text-align:left;max-height:400px;overflow-y:scroll;}
.edit_intro_layer .layui-m-layercont textarea{width: 100%;height: 180px;overflow-y:scroll;border:1px solid #d9d9d9;text-indent: 0.10rem;padding: 0.12rem 0 0 0;}
.uploadImg_cell .image_photo{margin:0.18rem 0.10rem;}
.image_photo .upload_td{width:2.4rem;height:2.4rem;}
.image_photo .upload_pic{position: absolute;left:50%;top:50%;margin:0 0 0 -0.7rem;width:1.4rem;display:block;text-align:center;}

.msy_sign_title{background-color:#f7f8f8;padding: 0 0 0.15rem;}
.msy_sign_title h2{text-align:center;background:#fff;padding:0.25rem 0;}/*在机构登记页面存在，记得删除*/
.store_type_module{background:#fff;padding:0 0.60rem 0.42rem;}
.store_type_module .store_title{display: block;padding: 0.20rem 0;text-align:center;}
.store_type_module .weui_btn{padding:0 0.12rem;}
.organization_model{padding:0 0.25rem;}
.organ_title{display: block;padding:0.25rem 0 0.15rem;}
.organz_level{border:1px solid #d9d9d9;padding: 0.15rem 0.25rem;}
.organz_level ul{display: flex;flex-wrap:wrap;}
.organz_level ul li{border: 1px solid #d9d9d9;position: relative;margin:0 0.12rem 0.14rem 0;background:#F2F2F2;padding: 0.10rem 0.12rem;text-align: center;}
.organz_level ul li:after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /*-webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
    background-color: #d9d9d9;
}
.organz_level ul li:after{width:0.4rem;height: 1px;}
.organz_level ul li:last-child:after{width:0;}
.post_set{padding:0 0 0 0.28rem;border: 1px solid #d9d9d9;}
.post_set ul{padding:0 0 0.20rem 0;border-bottom:1px solid #d9d9d9;overflow:hidden;}
.post_set li{float:left;margin:0 0.18rem 0 0;background: #f2f2f2;border: 1px solid #d9d9d9;padding:0.10rem 0.24rem;}
.post_title{padding:0.12rem 0;display:block;}
.post_set ul:last-child{border-bottom:none;}
.organ_ad_item{padding:0.50rem 0 0;}
.organ_ad_item label,.organ_ad_item input{display:block;}
.organ_ad_item input{background:none;width:100%;padding:0.12rem 0;}
.organ_ad_item li{border-bottom:1px solid #d9d9d9;margin:0 0 0.15rem 0;padding:0.12rem 0;}
.organ_ad_item li:last-child{border-bottom:none;}

/*预览美容机构基本资料*/
.beauty_agency_name,.agency_profile,.cloudstore_address_list{padding:0 0 0.15rem 0;background-color:#f7f8f8;}
.beauty_image{width:100%;background-color:#fff;display: flex;display:-webkit-flex;}
.beauty_image img{width:100%;height: 100%;}
.agency_name,.agency_p_m{padding:0.12rem 0.12rem 0.15rem 0.20rem;background-color:#fff;}
.agency_p_m span,.beauty_agency_slider span{display:block;}
.cloudstore_address_list{padding:0.15rem 0 0;}
.cloudstore_address_list .cs_ad_part{padding:0 0 0 0.25rem;background:#fff;}
.cloudstore_address_list li{padding:0.25rem 0 0.25rem 0;border-bottom:1px solid #d9d9d9;}
.cloudstore_address_list .cs_ad_top{display: block;padding:0.12rem 0 0;}
.beauty_agency_slider span{padding:0.12rem 0 0.12rem 0.18rem;}
.agency_txt .more{color:#0066cc;display:inline-block;}
.cs_item_wrapper{width: 100%;display: flex;display: -webkit-flex;overflow:hidden;}
.item-img-wrapper{width:41%;text-align:center;}
.cs_item_img{width:2.48rem ;height:1.5rem ;vertical-align: middle;}
.cs_item_description{width:46.8%;margin:0 0.20rem;}

/*编辑门店地址*/
.branch_n_f{display:block;}
#storeAddress,#storeBranch,#storeBranchList,#employeeInfo,#branchOffice,#epyPosition,#epyStore{display: none;}
.layui-m-layer .layui-m-layermain .store_ad_layer{width:90%;border-radius:0.05rem;}
.store_ad_layer .layui-m-layercont{padding:0 0 0 0;}
.signshop_edit_info li {
    padding: 0.05rem 0 0.05rem 0.25rem;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}
.signshop_edit_info li:first{padding-left:0;}
.store_ad_layer .layui-m-layercont li{border-bottom:1px solid #d9d9d9;padding:0.12rem 0 0.12rem 0.25rem;position:relative;}
.store_ad_layer .layui-m-layercont .s_t,
.store_ad_layer .layui-m-layercont input,
.store_ad_layer .s_t,.store_ad_layer input,
.signshop_edit_info .s_t,
.signshop_edit_info .store_name{
    display:block;
    width:100%;
    position:relative;
    padding:0.08rem 0 0;
    font-size:0.24rem;
}
.store_ad_layer .layui-m-layercont .map_marker::after,
.signshop_edit_info .map_marker::after,
.store_ad_list .edit_store_ad::after,.edit_s_b::after,
.employee_ad_layer .layui-m-layercont .set_position::after,
.employee_ad_layer .layui-m-layercont .set_store::after,
.employee_ad_layer .layui-m-layercont .set_branch::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:22%;
    right:0.2rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #39b54a;
    border-left:.12em solid #39b54a;
    -webkit-transform:translate(-70%) rotateZ(-133deg);
    -moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.store_ad_layer .layui-m-layercont .map_marker::after{top:43%;}
.store_ad_layer .layui-m-layercont{text-align:left !important;}
.edit_store_address{padding:0 0 0.15rem 0;background-color:#f7f8f8;}
.store_ad_layer ul{padding:0.12rem 0 0 0.25rem;}
.store_ad_layer li{border-bottom:1px solid #d9d9d9;padding:0 0 0.25rem 0;}
.store_ad_layer li:last-child{border-bottom:none;}
.edit_store_address .edit_nav{background-color:#fff;display:flex;display:-webkit-flex;justify-content: center;padding:0.15rem 0 0.20rem;}
.edit_nav a{flex:1;-webkit-flex:1;text-align:center;color:#333;}
.edit_nav a span{margin:0 auto 0.15rem;display:block;width:40px;height:40px;background-image:url(../../img/purchase/store_ad_ico.png);background-repeat: no-repeat;background-size:40px 120px;}
.edit_nav a .add_ad{background-position:0 0;}
.edit_nav a .del_ad{background-position:0 -80px;}
.edit_nav a .up_ad{background-position:0 -40px;}

.store_ad_list li{padding:0.30rem 0.15rem 0.20rem 0.45rem;border-bottom:1px solid #d9d9d9;overflow:hidden;}
.store_ad_list .s_title,.store_ad_list .b_n_title{color:#999;}
.store_ad_list .del_btn,.mod_btn,.employee_ad_list .del_btn,.employee_ad_list .mod_btn{float:right;text-align:right;color:#ff1d25;border: 1px solid #ff1d25;border-radius:0.05rem;display:none;text-align:center;width:1rem;padding:0.08rem 0;}
.employee_ad_list .mod_btn,.store_ad_list .mod_btn{border:1px solid #39b54a;color:#39b54a;}
.edit_ad_tipc{margin:0.6rem 0 0 0.32rem;}
.b_n_title,.branch_name,.edit_store_ad,.edit_s_b{display:block;}
.store_ad_list .branch_name{width:100%;border-bottom:1px solid #d9d9d9;padding: 0.12rem 0;margin:0 0 0.16rem 0;background:#fff;border-radius: 0;}
.store_ad_list .edit_store_ad,.edit_s_b{color:#39b54a;position:relative;border-bottom:1px solid #d9d9d9;}
.store_ad_list .edit_store_ad::after{top:40%;}
.store_ad_list .edit_store_ad.clear::after{border-bottom:.12em solid transparent;border-left:.12em solid transparent;}
.store_ad_list .edit_store_ad{padding:0.08rem 0 0;border:none;}
.store_b_name{margin:0 0 0 0.12rem;}
.edit_s_b{width:100%;margin:0 0 0.12rem 0;padding:0 0 0.12rem 0;}
.branch_store_layer .layui-m-layercont,.epy_store_layer .layui-m-layercont{text-align:left;padding:0;background:#f2f2f2;}
.epy_store_layer .layui-m-layercont{height:400px;overflow-y:auto;}
.branch_store_layer .layui-m-layercont form{background:#f2f2f2;}
.branch_store_layer .layui-m-layercont li,.epy_store_layer .layui-m-layercont li{padding:0.28rem 0 0.20rem 0.25rem;background:#fff;margin-bottom:0.15rem;}
.epy_store_layer .layui-m-layercont li a{color:#999;}
.epy_store_layer .layui-m-layercont li.current{background:#39b54a;}
.epy_store_layer .layui-m-layercont li.current a{color:#fff;}
.branch_store_layer .layui-m-layercont .branch_n_inpt{color:#39b54a;}
.branch_store_layer .branch_n_inpt.current{background: #39b54a;color:#fff;width:100%;display:block;padding:0.12rem 0;}
.branch_store_layer .layui-m-layercont ul{height:400px;overflow-y:auto;}
.store_ad_layer .uploadImg_map .msy_image_map:after,.store_ad_layer .uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #ccc;
}
.store_ad_layer .upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.upload_img{position:absolute;top:0;left:0;width:100%;height:100%;}
.store_ad_layer .uploadImg_map{position:relative;}
.store_ad_layer .uploadImg_map .msy_image_map,.signshop_edit_info .uploadImg_map .msy_image_map{position:relative;width:2.48rem;height:1.5rem;background:#e5e5e5;}
.store_ad_layer .layui-m-layercont .uploadImg_map .msy_image_map:before,.signshop_edit_info .uploadImg_map .msy_image_map:before {
    width: 2px;
    height: 23.5px;
    top:25%;
}
.store_ad_layer .uploadImg_map .msy_image_map.active:before,.store_ad_layer .uploadImg_map .msy_image_map.active:after,.store_ad_layer .image_photo .upload_td.active:before,.store_ad_layer .image_photo .upload_td.active:after{width:0;height: 0;}
.store_ad_layer .uploadImg_map .msy_image_map:after {
    width: 30.5px;
    height: 2px;
    top:25%;
}
.store_ad_layer .image_photo .upload_td:before{top:36%;}
.store_ad_layer .image_photo .upload_td:after{top:36%;}
.store_ad_layer .msy_image_map .uploadImg,.store_ad_layer .image_photo .upload_td .uploadImg{z-index:2;}
.store_ad_layer .msy_image_map .upload_img,.store_ad_layer .image_photo .upload_td .upload_img{z-index:1;}
.store_ad_layer .uploadImg_map span{
    position: absolute;width:2rem ;height:1rem ;left:50%;top:86%;margin:-0.5rem 0 0 -1rem;color:#999;
}
.upload_st_logo{color:#999;margin:0 0 0.10rem 0;}
.upload_st_logo span{color:#ff0000;}
.branch_store_layer .layui-m-layercont .item-img-wrapper,.epy_store_layer .layui-m-layercont .item-img-wrapper{width:42%;}
.branch_store_layer .layui-m-layercont .cs_item_img,.epy_store_layer .layui-m-layercont .cs_item_img{width:2.3rem;}
/*******门店o2o*/
.store_m_nav{padding:0 0 0.18rem;background-color:#f2f2f2;}
.store_nav{display:-webkit-box;display:box;box-align:center;-webkit-box-align:center;background-color:#fff;}
.store_nav li{box-flex:1;-webkit-box-flex:1;width:100%;text-align: center;}
.store_nav li a{display:block;padding: 0.12rem 0;}
.store_nav li span{display:block;}
.store_nav li img{width: 0.8rem;height: 0.8rem;margin:0 auto;}
.store_type_banner a{display:block;width:100%;margin:0 auto 0.08rem;}
.store_type_banner img{width:100%;height: 100%;}
.official_copyright{text-align:center;padding:0.12rem 0;}
/*门店设置*/
.store_set_item{padding:0 0 0.18rem 0 ;background-color:#f2f2f2;}
.store_set_img{width:100%;}
.store_set_img img{width:100%;height:100%;}
.store_list{background:#fff;padding: 0.15rem 0 0.15rem 0.15rem;}
.store_set_item span{color:#39b54a;display: block;}
.store_set_item li{border-bottom:1px solid #d9d9d9;padding:0.20rem 0;}
.store_set_item li a{color:#333;display:block;position: relative;}
.store_set_item li a::after{z-index:2;content:'';display:inline-block; position:absolute;top:34%;right:0.2rem;width:.5em;height:.5em;border-bottom:.12em solid #999;border-left:.12em solid #999;-webkit-transform:translate(-70%) rotateZ(-140deg);-moz-transform:translate(-70%) rotateZ(-45deg);-ms-transform:translate(-70%) rotateZ(-45deg);}
/*编辑员工地址*/
.employee_nav a span{width:40px;height:40px;background-image:url(../../img/purchase/employee_ico.png);background-repeat: no-repeat;
    background-size:40px 120px;}
.edit_nav a .del_ad{background-position:0 -40px;}
.edit_nav a .up_ad{background-position:0 -80px;}
.layui-m-layer .layui-m-layermain .employee_ad_layer,.layui-m-layer .layui-m-layermain .manage_pg_layer{border-radius:0.08rem;width: 90%;}
.employee_ad_layer .layui-m-layercont{padding:0 0 0 0.25rem;text-align:left !important;font-size:0.24rem;}
.employee_ad_layer .layui-m-layercont form,.manage_pg_layer .layui-m-layercont form{padding:0 0 0 0.25rem;}
.employee_ad_layer .layui-m-layercont input[type="tel"],.employee_ad_layer .layui-m-layercont input[type="password"],.employee_ad_layer .layui-m-layercont input[type="text"]{ cursor: pointer; -webkit-appearance: none; }
.employee_ad_layer .layui-m-layercont .epl_item{margin:0.25rem 0;color:#999;}
.employee_ad_layer .layui-m-layercont .epl_n_t{width:1rem;text-align:right;display:inline-block;margin-right:0.05rem;color:#999;}
.employee_ad_layer .layui-m-layercont .epl_pst{color:#999;}
.employee_ad_layer .layui-m-layercont .epl_name,.employee_ad_layer .layui-m-layercont .epl_phone,.employee_ad_layer .layui-m-layercont .epl_password{width: 70%;border:1px solid #d9d9d9;font-size:0.24rem;padding: 0.12rem 0 0.12rem 0.15rem;border-radius:0.05rem;-webkit-border-radius:0.05rem;}
.employee_ad_layer .layui-m-layercont .set_position,.employee_ad_layer .layui-m-layercont .set_branch,.employee_ad_layer .layui-m-layercont .set_store{color:#39b54a;position:relative;border-bottom:1px solid #d9d9d9;width:100%;display:block;padding:0 0 0.15rem;}
.employee_ad_list li{padding:0.25rem 0.18rem 0.25rem 0.38rem;border-bottom:1px solid #d9d9d9;overflow:hidden;}
.employee_ad_list li .layer_epy_name.current,.employee_ad_list li .layer_epy_phone.current{border-bottom:2px solid #0066cc;}
.employee_ad_list .epy_item{margin:0 0 0.05rem 0;}
.employee_ad_list .epy_f_n{width:1.20rem;text-align:right;display: inline-block;margin:0 0.20rem 0 0;color: #808080;}
.employee_pst_layer .layui-m-layercont{text-align:left;padding:0.05rem 0 0 0;}
.employee_pst_layer .post_top{display: block;margin:0.12rem 0 0.10rem 0;}
.employee_pst_layer .layui-m-layercont li{border-bottom:1px solid #d9d9d9;padding:0 0 0.25rem 0.32rem;}
.employee_pst_layer .layui-m-layercont a{display: inline-block;border:1px solid #39b54a;color:#39b54a;padding:0.05rem 0.1rem;margin-right:0.25rem;border-radius: 0.05rem;-webkit-border-radius:0.05rem;}
.employee_pst_layer .layui-m-layercont a.current{background:#39b54a;color:#fff;}
/*员工搜索*/
.search_employee_part{display: flex;display: -webkit-flex;background:#fff;border:1px solid #d9d9d9;margin:0 0.18rem;border-radius:0.05rem;-webkit-border-radius:0.05rem;}
.search_employee_part .search_epy{flex:4;padding:0.18rem 0 0.18rem 0.15rem;background:none;}
.search_employee_part .search_btn{flex:1;border-left:1px solid #d9d9d9;border-radius:0;background:none;background-image:url(../../img/purchase/search.png);background-repeat: no-repeat;background-position:center;background-size:30px 29px;}
.check_n_person{display:block;padding:0.25rem 0 0 0.32rem;}
/*百度地图标示和距离*/
.ditumap{position:relative;}
.ditumap .ditumap_part{width:100%;display:flex;position:fixed;left:0;top:42px;right:0;z-index:2;border:1px solid #d9d9d9; border-radius:0.06rem;}
.ditu_search_text{flex:6;padding:0.20rem 0 0.20rem 0.25rem;border-right:1px solid #d9d9d9;box-sizing:border-box;border-radius:0.06rem 0 0 0.06rem;}
.ditu_search_btn{background:#fff;flex:1;justify-content: center;align-items: center;display:flex;border-radius:0 0.06rem 0.06rem 0;}
.mapBtn{width:0.8rem;display:block;position:fixed;right:0;bottom:0;background:#3d3a39;z-index:9999;color:#fff;height:0.8rem;line-height:0.8rem;text-align: center;}
/*管理合伙人*/
.managepartner.hide{display: none;}
.manage_partner_nav a.active{color:#39b54a;}
.manage_partner_nav a.active span{width:40px;height:40px;background-image:url(../../img/purchase/manage_p_ico.png);background-repeat: no-repeat;background-size:40px 120px;}
.manage_partner_nav a span{width:40px;height:40px;background-image:url(../../img/purchase/manage_n_ico.png);background-repeat: no-repeat;background-size:40px 120px;}
.manage_partner_nav a.active .recommend_partner{background-position:0 0;}
.manage_partner_nav a.active .ga_partner{background-position:0 -40px;}
.manage_partner_nav a.active .my_partner{background-position:0 -80px;}
.managing_partner_info{padding:0.15rem 0.15rem 0;}
.managing_p_img{width:100%;}
.managing_p_img img{width:100%;height:100%;}
.managing_text p,.privilege_l_part p{padding:0.20rem 0 0;line-height:28px;color:#333;}
.ga_partner_model{padding:0.25rem 0 0 0.45rem;}
.ga_partner_model .search_employee_part{margin:0.20rem 0.42rem 0 0;}
.partner_program{display: block;padding:0.20rem 0;color:#39b54a;position:relative;font-weight: bold;}
.ga_partner_model .partner_program::after{top:42%;}
.privilege_level{padding:0.15rem 0 0;background:#f7f8f8;}
.privilege_l_part{background: #fff;padding:0 0 0 0.45rem;}
.privilege_l_person{padding:0.12rem 0 0;}
.privilege_l_person .glory_partner{color:#999;}
.partner_query_top{display: block;color:#ff931e;padding:0 0 0.10rem 0;margin:0.24rem 0;border-bottom:1px solid #ff931e;}
.ga_partner_model .partner_n{color:#999;}
.my_partner_list_div{height:400px;overflow-y:auto;}
.partner_query_list li{padding:0.12rem 0 0.12rem;border-bottom:1px solid #d9d9d9;}
.upgrade_license{display: block;margin:0.15rem 0 0.10rem;}
.upgrade_l_partner{border-radius:0.03rem;border:1px solid #d9d9d9;padding:0.45rem 0.32rem;margin:0 0.42rem 0 0;}
.upgrade_l_partner span{text-align: center;display: block;}
.partner_access{margin:0.15rem 0.28rem 0 0;color:#999;line-height: 24px;}
.ga_partner_model .partner_type{display:flex;display:-webkit-flex;justify-content: center;}
.partner_type li{border:1px solid #39b54a;margin:0 0.08rem;border-radius:0.05rem;}
.partner_type a{display:block;color:#39b54a;padding:0.10rem 0.08rem;}
#partnerQrCode{display: none;}
.layui-m-layer .layui-m-layermain .partner_qr_layer{border-radius:0.05rem;-webkit-border-radius:0.05rem;background:transparent;}
.layui-m-layermain .partner_qr_layer .partner_intro_t{text-align:center;color:#fff;position:relative;}
.layui-m-layermain .partner_qr_layer .partner_qr{background-color:#fff;}
.layui-m-layermain .partner_qr_layer .p_qr_tipc{border-right:1px solid #fff;padding:0.15rem 1.25rem 0.40rem;}
.layui-m-layermain .partner_qr_layer .p_qr_tipc p{width:2.8rem;}
.partner_qr_layer .layui-m-layercont img{display: block;width:2.8rem;height: 2.8rem;margin:0 auto;padding:0.55rem 0;}
.partner_qr_layer .partner_intro_t .close_btn{color:#fff;position:absolute;right:-0.32rem;top:-0.3rem;width:0.65rem;height:0.65rem;line-height:0.65rem;font-size:0.36rem;border:1px solid #fff;border-radius:50%;}
.search_n_partner{display:none;}
.upgrade_wrapper{}

/*管理项目*/
.managepg_nav a span{background-image:url(../../img/purchase/manage_pg_ico.png)}
#manageProject,#serviceProjectgPicture,#serviceProjectContent,#employeeStore{display: none;}
.edit_pgt_layer .layui-m-layercont{padding:0 0.15rem 0 0.15rem;text-align:left;}
.layui-m-layer .layui-m-layermain .manage_pg_layer{width:90%;}
.layui-m-layermain .manage_pg_layer h3{height: 45px;line-height:45px;}
.manage_pg_layer .layui-m-layercont form{padding-right:0.25rem;height: 400px;overflow-y:auto;}
.manage_pg_layer .layui-m-layercont .pg_n_t{display: block;margin:0.14rem 0 0.03rem;}
.manage_pg_layer .layui-m-layercont .project_name,.manage_pg_layer .layui-m-layercont .project_briefly_text{font-size: 0.20rem;border:none;padding:0.14rem 0;text-indent:0.10rem;border:1px solid #d9d9d9;border-radius:0.05rem;-webkit-border-radius:0.05rem;width:100%;}
.manage_pg_layer .layui-m-layercont .pg_item_wrapper{display:flex;width:100%;}
.manage_pg_layer .layui-m-layercont .pg_price_item{width: 50%;margin:0 2% 0 0;border:1px solid #d9d9d9;border-radius:0.03rem;box-sizing: border-box;}
.manage_pg_layer .layui-m-layercont .pg_rate{border-right:1px solid #d9d9d9;display:inline-block;padding:0.08rem 0;width:0.8rem;text-align:center;}
.manage_pg_layer .layui-m-layercont .pg_price{width:1.5rem;font-size: 0.20rem;}
.manage_pg_layer .layui-m-layercont .pg_type{position:relative;color:#39b54a;border-bottom:1px solid #d9d9d9;padding:0 0 0.16rem 0;width:100%;display:block;}
.manage_pg_layer .layui-m-layercont li:last-child .pg_type{border-bottom:none;}
.edit_pgt_layer .layui-m-layercont textarea{width: 100%;border:1px solid #d9d9d9;line-height:24px;padding:0.12rem 0 0 0;text-indent:0.15rem;}
.cs_pg_list{padding:0 0.15rem;}
.cs_pg_list li{padding:0.15rem 0;}
.cs_pg_list .cspg_item{background: #f2f2f2;padding:0.14rem 0.25rem 0.10rem 0.05rem;}
.cs_pg_list .cspg_item_n,.cs_pg_list .cspg_item .pg_status{display: flex;justify-content:space-between;}
.cs_pg_list .cs_pg_img{width:100%;}
.cs_pg_list .cs_pg_img img{width: 100%;height: 100%;vertical-align: middle;}
.cs_pg_list .cspg_item i{width:0.5rem;vertical-align:top;margin-right:0.12rem;border-radius:0.03rem;text-align:center;background: #ff931e;color:#fff;display:inline-block;font-style:normal;}
.cs_pg_list .cspg_item .program_list_name{display:inline-block;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.cs_pg_list .cspg_item .project_price{color:#ff7bac;}
.cs_pg_list .cspg_item .pg_status{margin:0.08rem 0 0;display:none;}
.cs_pg_list .mod_pg{color:#39b54a;border:1px solid #39b54a;width:1.5rem;text-align:center;display: block;border-radius: 0.05rem;}
.on_off_line,mod_pg{display: none;}
.on_off_line a{width:1.2rem;text-align:center;display: inline-block;border-radius:0.05rem;}
.on_off_line .off_line{color:#ff1d25;border:1px solid #ff1d25;}
.on_off_line .on_line{color:#39b54a;border:1px solid #39b54a;}
.uploadImg_map{position:relative;margin:0.18rem 0 0;}
.register_info .uploadImg_map{margin-top:0;}
.upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.uploadImg_map .msy_image_map:after,.uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #999;
    z-index:2;
}
.uploadImg_map .msy_image_map{position:relative;width:100%;height:3.5rem;background:#e5e5e5;}
.uploadImg_map .pg_f_focus{height:4.5rem;}
.uploadImg_map .msy_image_map:before {
    width: 2px;
    height: 39.5px;
    top:35%;
    
}
.uploadImg_map .msy_image_map.active:before,.uploadImg_map .msy_image_map.active:after,.image_photo .upload_td.active:before,.image_photo .upload_td.active:after{width:0;height: 0;}
.uploadImg_map .msy_image_map:after {
    width: 39.5px;
    height: 2px;
    top:35%;
}
.image_photo .upload_td:before{top:36%;}
.image_photo .upload_td:after{top:36%;}
.msy_image_map .uploadImg,.image_photo .upload_td .uploadImg{z-index:3;}
.msy_image_map .upload_img,.image_photo .upload_td .upload_img{z-index:1;}
.uploadImg_map span{position: absolute;width:1rem ;height:1rem ;left:50%;top:56%;margin:-0.5rem 0 0 -0.5rem;color:#999;z-index:2;}
.uploadImg_map .replace_tips{width:;}
.serivce_pg_layer .uploadImg_map span {
    top:60%;
    width: 2.6rem;
    text-align: center;
    margin-left: -1.3rem;
}
.serivce_pg_layer .uploadImg_map .pic_specify {
    top: 70%;
}
.layui-m-layermain .serivce_pg_layer{width: 90%;}
.uploadImg_map .msy_image_map.active .upload_img{z-index:2;}
.uploadImg_map .msy_image_map.active span{z-index:1;}
/*管理项目的美容预览*/
.beauty_picture {width: 100%;}
.beauty_picture img{width:100%;height: 100%;vertical-align: middle;}
.beauty_feature{padding:0 0 0 0.18rem;}
.beauty_feature .beauty_f_item{padding:0.20rem 0;border-bottom:1px solid #d9d9d9;}
/*.beauty_f_item .b_pg_f{display:flex ;}*/
.beauty_f_item .b_pg_f span{float:left;width: 1.3rem;display:inline-block;}
.beauty_f_item .b_pg_price{padding:0 0.18rem 0 0;display: flex;display: -webkit-flex;justify-content:space-between;}
.b_pg_price .b_pg_l,.b_pg_price .b_pg_r{color:#ff7bac;}
.b_pg_price .b_pg_l i{font-style:normal;}
.b_pg_price .b_pg_r{border:1px solid #ff7bac;padding:0 0.15rem;border-radius:0.05rem;display:block;height:22px;line-height:22px;}
.b_pg_price .b_pg_l del{color:#ccc;margin-left:0.15rem;}
.beauty_f_item .b_pg_s{position: relative;width: 100%;display: block;color: #0066cc;}
.beauty_f_item .b_pg_s::after{ content:'';
    display:inline-block;
    position:absolute;
    top:22%;
    right:0.2rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #0066cc;
    border-left:.12em solid #0066cc;
    -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.beauty_evaluation{display: flex;display:-webkit-flex;justify-content: space-between;}
.beauty_evaluation .page-hd{display: flex;display:-webkit-flex;justify-content: space-between;}
.pg_serivce_intro{padding:0.15rem 0 0;background: #f2f2f2;}
.pg_serivce_intro dl{background: #fff;padding:0.18rem 0.18rem 0.15rem;}
.pg_serivce_intro dt{padding:0 0 0.05rem 0;}
.pg_serivce_intro dd{color: #999;}
.location_identify i{
    background-image:url(../../img/purchase/unlabeled-ico.png);
    background-repeat: no-repeat;
    background-size:17px 41px;
    display: inline-block;
    width:0.8rem;
    height:0.34rem;
    vertical-align: middle;
    padding:0 0 0 0.35rem;
    color:#999;
    font-style:normal;
}
.location_identify .unlabeled{background-position:0 0;}
.location_identify .already_marked{background-position:0 -21px;}