<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <!--增加云店拓客项目弹窗-->
    <div id="manageProject">
        <form id="form1">
            <ul>
                <li>
                    <label class="pg_n_t"><i>*</i>项目名称</label>
                    <input type="text" placeholder="美容服务项目名称，字数限18个内" name="name" class="project_name" value="">
                    <input type="hidden" name="project_id" />
                </li>
                <li>
                    <label class="pg_n_t">简要特点</label>
                    <textarea placeholder="美容服务简要特点，字数限28个内" name="brief_trait" class="project_briefly_text"></textarea>
                </li>
                <li>
                    <label class="pg_n_t">服务价格</label>
                    <div class="pg_item_wrapper">
                        <div class="pg_price_item">
                            <span class="pg_rate">特价￥</span>
                            <input type="text" placeholder="680" name="sale_price" class="pg_price project_special_offer" value="">
                        </div>
                        <div class="pg_price_item">
                            <span class="pg_rate">原价￥</span>
                            <input type="text" placeholder="1680" name="original_price" class="pg_price project_original_price" value="">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="pg_n_t">服务耗时</label>
                    <div class="pg_item_wrapper">
                        <div class="pg_price_item">
                            <span class="pg_rate">分钟</span>
                            <input type="text" placeholder="60" name="time_consuming" class="pg_price project_time_consumingm" value="">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="pg_n_t">项目图片</label>
                    <a href="javascript:void(0);" class="pg_type upload_project_picture">上传美容服务项目图片</a>
                </li>
                <li>
                    <label class="pg_n_t">服务内容</label>
                    <a href="javascript:void(0);" class="pg_type edit_project_content">编辑美容服务项目内容</a>
                    <input type="hidden" value="" name="service_content" class="project_service_content">
                </li>
                <li>
                    <label class="pg_n_t">服务说明</label>
                    <a href="javascript:void(0);" class="pg_type edit_project_explain">编辑美容服务项目说明</a>
                    <input type="hidden" value="" name="service_description" class="project_service_explain">
                </li>
                <li>
                    <label class="pg_n_t">服务门店</label>
                    <a href="javascript:void(0);" class="pg_type set_store">选择提供服务的门店(默认为全选)</a>
                </li>
            </ul>
        </form>
    </div>

    <!--服务项目图片上传弹窗-->
    <div id="serviceProjectgPicture">
        <div class="uploadImg_map minImg f20">
            <div class="upload_td msy_image_map">
                <input type="file" class="uploadImg" name="list_view_img">
                <img class="upload_img" src="{$Think.config.PUBLIC_IMG}/home/default/spg_up_default.png" alt="">
                <span>更换美容项目列表图</span>
                <span class="pic_specify">950x500像素</span>
            </div>
        </div>
        <div class="uploadImg_map maxImg f20">
            <div class="upload_td msy_image_map pg_f_focus">
                <input type="file" class="uploadImg" name="home_focus_img">
                <img class="upload_img" src="{$Think.config.PUBLIC_IMG}/home/default/spg_up_default1.png" alt="">
                <span>更换美容项目详情页首焦图</span>
                <span class="pic_specify">1000x1000像素</span>
            </div>
        </div>
    </div>

    <!--服务项目内容弹窗-->
    <div id="serviceProjectContent">
        <div class="service_content">
            <textarea name="service_content" cols="30" rows="10" placeholder="美容服务项目内容" class="layer2_project_service_content"></textarea>
        </div>
    </div>

    <!--服务项目说明弹窗-->
    <div id="serviceProjectDescription" style="display:none">
        <div class="service_description">
            <textarea name="service_description" cols="30" rows="10" placeholder="美容服务项目说明" class="layer2_project_service_content"></textarea>
        </div>
    </div>

    <!--设置美容服务所属门店弹窗-->
    <div class="cs_ad_part" id="employeeStore">
        <ul class="f24">
            <include file="Public/shopListLogo" />
        </ul>
    </div>

    <section class="msy_sign_title f20">
        <h2>管理美容机构的云店拓客项目</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav managepg_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加项目
            </a>
            <a href="javascript:void(0);" class="mod_pg_a">
                <span class="del_ad"></span>
                修改项目
            </a>
            <a href="javascript:void(0);" class="onOff_btn">
                <span class="up_ad"></span>
                上线下线
            </a>
        </nav>
    </section>
    <!--项目库列表-->
    <ul class="f24 cs_pg_list"></ul>
</block>
<block name="mjs-customize">
    <script type="text/javascript" src="{$Think.config.PUBLIC_JS}/common/cloudstore/manage-project.js"></script>
</block>
