<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cloudstore/storeSettings.css">
</block>
<block name="content">
    <!--添加员工账户弹窗-->
    <div id="employeeInfo">
        <form id="form1">
            <ul>
                <li>
                    <div class="epl_item">
                        <label class="epl_n_t">姓名</label>
                        <input type="text" placeholder="姓名" class="epl_name" name="name" value="">
                        <input type="hidden" name="employeeId" value="">
                    </div>
                    <div class="epl_item">
                        <label class="epl_n_t">手机号码</label>
                        <input type="telephone" placeholder="手机号码" class="epl_phone" name="mobile_phone" value="" />
                    </div>
                    <div class="epl_item initialPasswd">
                        <label class="epl_n_t">初设密码</label>
                        <input type="password" placeholder="初设密码" class="epl_password" name="passwd" value="" />
                    </div>
                </li>
                <if condition="$scaleType eq 4">
                    <li>
                        <a href="javascript:void(0);" class="set_branch">设置员工所属分公司</a>
                        <div class="epl_item">
                            <label class="epl_pst">已归属分公司：</label>
                            <span class="epy_i_branch">未设置</span>
                            <input type="hidden" value="" name="company_id" class="epy_i_branch_id"/>
                        </div>
                    </li>
                </if>
                <if condition="$scaleType egt  3">
                    <li>
                        <a href="javascript:void(0);" class="set_store">设置员工所属门店</a>
                        <div class="epl_item">
                            <label class="epl_pst">已归属门店：</label>
                            <span class="epy_i_store">未设置</span>
                            <input type="hidden" value="" name="shop_id" class="epy_i_store_id"/>
                        </div>
                    </li>
                </if>
                <li>
                    <a href="javascript:void(0);" class="set_position">设置员工岗位职务</a>
                    <div class="epl_item">
                        <label class="epl_pst">已设置岗位：</label>
                        <span class="dis_post">未设置</span>
                        <input class="dis_post_id" type="hidden" value="" name="position_id" />
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!--员工动态列表模板-->
    <div id="employeeInfoList" style="display:none;">
        <li>
            <div class='epy_item'>
                <span class='epy_f_n'>姓名</span>
                <span class='layer_epy_name' employeeId=""></span>
            </div>
            <div class='epy_item'>
                <span class='epy_f_n'>手机号码</span>
                <span class='layer_epy_phone'></span>
            </div>
            <div class='epy_item' style="display:none;">
                <span class='epy_f_n'>初设密码</span>
                <span class='layer_epy_psw'></span>
            </div>
            <if condition="$scaleType eq  4">
                <div class='epy_item'>
                    <span class='epy_f_n epy_branch'>所属分公司</span>
                    <span class='layer_epy_branch'></span>
                    <input type="hidden" class="layer_epy_branch_id" />
                </div>
            </if>
            <if condition="$scaleType egt  3">
                <div class='epy_item'>
                    <span class='epy_f_n'>所属门店</span>
                    <span class='layer_epy_store'></span>
                    <input type="hidden" class="layer_epy_store_id" />
                </div>
            </if>
            <div class='epy_item'>
                <span class='epy_f_n'>岗位职务</span>
                <span class='layer_epy_pst'></span>
                <input type="hidden" class="layer_epy_pst_id" />
            </div>
            <a href='javascript:void(0);' class='del_btn'>删除</a>
            <a href='javascript:void(0);' class='mod_btn'>修改</a>
        </li>
    </div>

    <!--编辑门店所属分公司弹窗-->
    <div id="branchOffice">
        <ul class="f24">
            <empty name="companyList">
                <li class="emptyCompany">
                    <span class='branch_n_f'>（暂无数据）</span>
                </li>
            <else />
                <volist name="companyList" id="vo">
                    <li>
                        <span class="branch_n_f">分公司名称</span>
                        <a href="javascript:void(0);" class="branch_n_inpt">{$vo.name}</a>
                        <input type="hidden" class="companyId" value="{$vo.id}" />
                    </li>
                </volist>
            </empty>
        </ul>
    </div>

    <!--设置员工所属门店弹窗-->
    <div class="cs_ad_part" id="epyStore">
        <ul class="f24">
            <include file="Public/shopListLogo" />
        </ul>
    </div>

    <!--员工职位弹窗-->
    <div id="epyPosition">
        <ul>
            <volist name="scale" id="vo">
                <li>
                    <span class="post_top">{$vo.explain}</span>
                    <volist name="vo.position" id="v">
                        <a href="javascript:void(0);" position-id="{$v.id}" class="pst_option">{$v.name}</a>
                    </volist>
                </li>
            </volist>
        </ul>
    </div>
    <section class="msy_sign_title f20">
        <h2>管理美容机构的员工登陆账户</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav employee_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加账号
            </a>
            <a href="javascript:void(0);" class="del_a">
                <span class="del_ad"></span>
                删除账号
            </a>
            <a href="javascript:void(0);" class="up_a">
                <span class="up_ad"></span>
                修改账号
            </a>
        </nav>
    </section>
    <!--员工账户动态列表-->
    <ul class="f24 employee_ad_list" >
        <empty name="employeeList">
            <li class="emptyEmployee">(暂无数据)</li>
            <else/>
            <volist name="employeeList" id="vo">
                <li>
                    <div class='epy_item'>
                        <span class='epy_f_n'>姓名</span>
                        <span class='layer_epy_name' employeeId="{$vo.id}">{$vo.name}</span>
                    </div>
                    <div class='epy_item'>
                        <span class='epy_f_n'>手机号码</span>
                        <span class='layer_epy_phone'>{$vo.mobile_phone}</span>
                    </div>
                    <div class='epy_item' style="display:none;">
                        <span class='epy_f_n'>初设密码</span>
                        <span class='layer_epy_psw'></span>
                    </div>
                    <if condition="$scaleType eq  4">
                        <div class='epy_item'>
                            <span class='epy_f_n epy_branch'>所属分公司</span>
                            <span class='layer_epy_branch'>{$vo.company_name}</span>
                            <input type="hidden" class="layer_epy_branch_id" value="{$vo.company_id}"/>
                        </div>
                    </if>
                    <if condition="$scaleType egt  3">
                        <div class='epy_item'>
                            <span class='epy_f_n'>所属门店</span>
                            <span class='layer_epy_store'>{$vo.shop_name}</span>
                            <input type="hidden" class="layer_epy_store_id" value="{$vo.shop_id}"/>
                        </div>
                    </if>
                    <div class='epy_item'>
                        <span class='epy_f_n'>岗位职务</span>
                        <span class='layer_epy_pst'>{$vo.position_name}</span>
                        <input type="hidden" class="layer_epy_pst_id" value="{$vo.position_id}"/>
                    </div>
                    <a href='javascript:void(0);' class='del_btn'>删除</a>
                    <a href='javascript:void(0);' class='mod_btn'>修改</a>
                </li>
            </volist>
        </empty>
    </ul>
    <p class="f24 edit_ad_tipc">注：编辑完所有账户后再按完成</p>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);">完成</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        var scaleType = '{$scaleType}';
        //完成
        $('.weui_btn_primary').on('click',function(){
            location.href = MODULE+'/Index/storeSettings';
        });
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/cloudstore/manage-account.js"></script>
</block>