<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_IMG/common/style.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="PUBLIC_IMG/common/icon/m1.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/icon/m2.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/icon/m3.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/icon/m4.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- E= 轮播图 -->
    <!-- 采购平台 -->
    <div class="content_box">
        <div class="title">[ 推客平台 ]</div>
        <div class="content_wrap">
            <div class="cgLeft"><a href="javascript:void(0);"class="aText">推荐店家</a></div>
            <div class="cgRight"><a href="javascript:void(0);" class="aText">我的收益</a></div>
            <div class="cgMiddle"><a href="javascript:void(0);" class="aText">推荐创业</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- 卖手平台 -->
    <div class="content_box">
        <div class="title">[ 卖手平台 ]</div>
        <div class="content_wrap">
            <div class="fcLeft"><a href="{:U('SellerPractitioner/Index/index')}" class="aText">卖手平台</a></div>
            <div class="fcRight"><a href="javascript:void(0);" class="aText">培训直播</a></div>
            <div class="fcMiddle"><a href="javascript:void(0);" class="aText">卖手认证</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- 智能运营 -->
    <div class="content_box">
        <div class="title">[ 创客平台 ]</div>
        <div class="content_wrap">
            <div class="znLeft"><a href="javascript:void(0);" class="aText">美尚商城</a></div>
            <div class="znRight"><a href="javascript:void(0);" class="aText">运营设置</a></div>
            <div class="znMiddle"><a href="javascript:void(0);" class="aText">美容工作室</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer_space"></div>
</block>
<block name="js-customize">
    <script type="text/javascript" src='PUBLIC_JS/commonswipe.js'></script>
    <!-- 图片轮播JS -->
    <script type="text/javascript">
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
            auto: 1800,
            callback: function(index,element){
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
            function () {
                mySwipe.slide($(this).index());
            }
        );
    </script>
</block>