{extend name="template/admin_pc/page_base_admin.html" /}
{block name="css-customize"}
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="public_admin_common_css/skin.css" />
{/block}

{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('manage')}" ><span>管理</span></a></li>
                    <li><a href="{:url('edit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>商品主图：</td>
                        <td class=dotted_bottom_gray width="89%" align=left><p>
                            <input type="file" class="upload" id="img">
                            <label class="uploadbtn" for="img" title="JPG,GIF,PNG"></label>
                        </p>
                            <p class="showimg" id="showimg">图片上传大小请小于50k</p>
                            <img  class="main_img" src="">
                            <!--<empty name="goodsInfo.main_img">-->
                               <!---->
                                <!--<else />-->
                                <!--<img class="main_img" src="__ROOT__/Uploads/{$goodsInfo.main_img}">-->
                            <!--</empty>-->
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>所属分类：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            {include file="goods_category/linkage_tpl" /}
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>商品名称：</td>
                        <td class=dotted_bottom_gray width="40%" align=left>
                            <input style="width: 200px; " class="inputboxadmin" name="name" value="{$goodsInfo.name}">
                            <input type="hidden" name="goodsId" value="{$goodsInfo.id}">
                            <span class="dotted_bottom_gray dotted_bottom_c">批量价格：</span>
                            <input style="width: 200px; " class="inputboxadmin" name="bulk_price" value="{$goodsInfo.bulk_price}">
                        </td>
                    </tr>
                    <tr class="radioTypeOption first">
                        <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>样品价格：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px; " class="inputboxadmin" name="sample_price" value="{$goodsInfo.sample_price}">
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>商品规格：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px;" class="inputboxadmin" name="specification" value="{$goodsInfo.specification}">
                            <select name="specification_unit">
                                <option value="">请选择单位</option>
                                {volist name="unitList" id="unit"  key="k"}
                                <option value="{$k}">{$unit}</option>
                                {/volist}
                            </select>
                            <span class="dotted_bottom_gray dotted_bottom_c">商品库存：</span>
                            <input style="width: 200px; " class=inputboxadmin name="inventory"  value="{$goodsInfo.inventory}" >
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>起订数量：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px;" class="inputboxadmin" name="minimum_order_quantity" value="">
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>样品购买限额：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px;" class="inputboxadmin" name="minimum_sample_quantity" value="">
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>排序：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 100px; " class="inputboxadmin" name="sort" value="{$goodsInfo.sort}">
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>标签：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 200px; " class="inputboxadmin" name="tag" value="{$goodsInfo.tag}">
                            多个标签请用逗号分隔，例如：正品保障,纳晶水光
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>商品简介：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <!-- 加载编辑器的容器 -->
                            <script id="intro" type="text/plain">
                                {$goodsInfo.trait|htmlspecialchars_decode}
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>商品参数：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <script id="param" type="text/plain">
                                {$goodsInfo.parameters|htmlspecialchars_decode}
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>商品详情图：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                             <script id="detail" type="text/plain">
                                {$goodsInfo.detail_img|formatImg}
                            </script>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>使用说明：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <script id="usage" type="text/plain">
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>注意事项：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <script id="notices" type="text/plain">
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td width="11%"></td>
                        <td height=60 width="50%" align=center>
                            <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                            &nbsp;&nbsp;
                            <input class="button_save_black" name="add0" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{/block}

{block name="script"}
    <script type="text/javascript" src="public_admin_common_js/Ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="public_admin_common_js/Ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="public_admin_common_js/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="http://cdn.bootcss.com/html5media/1.1.8/html5media.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ueIntro = UE.getEditor('intro');
        var ueParam = UE.getEditor('param');
        var ueDetail = UE.getEditor('detail');
        var ueUsage = UE.getEditor('usage');
        var ueNotices = UE.getEditor('notices');
    </script>

    <script type="text/javascript" src="public_admin_common_js/categoryLinkage.js"></script>
    <script type="text/javascript">
        $(function(){
            //单选商品类型
            $('.radioItem').change(function(){  
                 if($(this).is(":checked")){
                     var radioValue=$(this).data('buy_type');  
                     console.log(radioValue);
                     switch(radioValue){
                        case 1:
                        $('.radioTypeOption').hide();
                        $('.radioTypeOption:first').show();
                        break;
                        case 2:
                        $('.radioTypeOption').hide();
                        $('.radioTypeOption:eq(1)').show();
                        break;
                        case 3:
                        $('.radioTypeOption').hide();
                        $('.radioTypeOption:last').show();
                        break;
                     }
                 }
            });

            $('input[name="discount"]').each(function () {
                if($(this).is(":checked")){
                    var radioValue=$(this).val();
                    switch(radioValue){
                        case '普通产品':
                            $('.radioTypeOption').hide();
                            $('.radioTypeOption:first').show();
                            break;
                        case '促销产品':
                            $('.radioTypeOption').hide();
                            $('.radioTypeOption:eq(1)').show();
                            break;
                        case '微团购产品':
                            $('.radioTypeOption').hide();
                            $('.radioTypeOption:last').show();
                            break;
                    }
                }
            })


            //初始化所属分类
            var category_id_1 = '{$goodsInfo.category_id_1}';
            if(category_id_1){
                $('[name=category_id_1]').val(category_id_1);
                $('[name=category_id_1]').change();
            }
            var category_id_2 = '{$goodsInfo.category_id_2}';
            if(category_id_2){
                $('[name=category_id_2]').val(category_id_2);
                $('[name=category_id_2]').change();
            }
            var category_id_3 = '{$goodsInfo.category_id_3}';
            if(category_id_3){
                $('[name=category_id_3]').val(category_id_3);
            }

            // 选择图片
            $('#img').on('change',function(){
                var img = event.target.files[0];
                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                if(!(img.type.indexOf('image')==0 && img.type && /\.(?:jpg|png|gif|jpeg)$/.test(img.name)) ){
                    alert('图片只能是jpg,jpeg,gif,png');
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);

                reader.onload = function(e){
                    $(".main_img").attr("src",e.target.result);
                    //提交
                    $.post(controller + 'uploadFileToTemp',{ fileBase64: e.target.result},function(msg){
                        if(msg.status == 1){
                            $(".main_img").attr("src",uploads + msg.info)
                        }else{
                            parent.layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }
                    });
                }
            });

            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();

                //主图
                postData.main_img = $('img.main_img').attr('src');
                //详情图
                postData.detail_img = '';
                $.each($('iframe').contents().find('.view img'),function () {
                    postData.detail_img += $(this).attr('src') + ',';
                });
                //简介
                postData.intro = ueIntro.getContent();
                postData.parameters = ueParam.getContent();
                postData.usage = ueUsage.getContent();
                postData.notices = ueNotices.getContent();
                $.post(action,postData,function(data){
                    dialog.msg(data,'',function () {
                        location.href = controller + 'edit';
                    });
                });
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = controller + '/manage';
            });
        });
    </script>
{/block}