<div class="search-result">
    {notempty name='list'}
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th></th>
                    <th>排序</th>
                    <th>商品名称</th>
                    <th>所属分类</th>
                    <th>原价</th>
                    <th>工作室特惠价</th>
                    <th>团购价</th>
                    <th>库存</th>
                    <th>操作</th>
                    <th>上下架设置</th>
                </tr>
            </thead>
            <tbody>
                {volist name="list" id="vo"}
                    <tr class="hover" data-id="{$vo.id}">
                        <td class="w48"><input type="checkbox" class="checkitem" name="checkbox">
                        <td class="w48 sort"><span title="" class="editable "></span></td>
                        <td class="w50pre name"><span title="" class="editable ">{$vo.name}</span></td>
                        <td class="w10">
                            11111
                        </td>
                        <td class="w10"></td>
                        <td class="w10"></td>
                        <td class="w5"></td>
                        <td class="w5"></td>
                        <td class="w96">
                            <a href="javascript:void(0);" class="edit">编辑</a>
                            | <a href="javascript:void(0);" class="del">删除</a>
                            | <a href="javascript:void(0);" class="addRecommendGoods">添加推荐产品</a>
                            <input type="hidden" value="" class="selectedTplList">
                        </td>
                        <td class="w96">
                            <a href="javascript:void(0);" class="online">上架</a>
                            | <a href="javascript:void(0);" class="offline">下架</a>
                        </td>
                    </tr>
                {/volist}
            </tbody>
            <tfoot>
                <tr class="tfoot">
                    <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                    <td id="batchAction" colspan="15">
                        <span class="all_checkbox"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
                        <a href="JavaScript:void(0);" class="batchDel" ><span>批量删除</span></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    {else/}
    <div>没有数据</div>
    {/notempty}
</div>
{$list|raw}

