
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" orderState="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class=" f24">
        <section class="promotion_income_top">
            <div>我的推广收益账户余额为<span>￥</span><price>9000.00</price></div>
            <p>注：推客收益账户余额可用于美妍美社购物，也可申请提现</p>
        </section>
        <section class="promotion_income_top">
            <div class="promotion_income_th">
                <span>余额</span>
                <span>收益</span>
                <span>支出/提现</span>
                <span>日期</span>
            </div>
            <ul class="promotion_income_item">
                <li>
                    <span>￥<price>9800.00</price></span>
                    <span>￥<price>8800.00</price></span>
                    <span>￥<price>1500.00</price></span>
                    <span>2017-10-20</span>
                </li>
                <li>
                    <span>￥<price>9800.00</price></span>
                    <span>￥<price>8800.00</price></span>
                    <span>￥<price>1500.00</price></span>
                    <span>2017-10-20</span>
                </li>
                <li>
                    <span>￥<price>9800.00</price></span>
                    <span>￥<price>8800.00</price></span>
                    <span>￥<price>1500.00</price></span>
                    <span>2017-10-20</span>
                </li>
            </ul>
        </section>
        <a class="withdrawalsBtn" href="{:U('IntroduceClient/introduceClientCash')}">我要申请提现</a>
    </article>
</block>
<block name="script">
</block>