<section id="areaLayer" class="express-area-box cart" style="display:none;">
    <div class="shoppingCart_form f24 shopping_cart_list">
        <div class="shoppingCart_title">
            <span class="cart">购物车</span>
            <a href="javascript:void(0);" class="empty_cart"><i></i>清空购物车</a>
        </div>
        <ul>
            <volist name="cartList" id="vo">
                <li  data-foreignid="{$vo.foreign_id}" data-cartid="{$vo.id}" data-buytype="{$vo.buy_type}" data-type="{$vo.type}">
                    <span class="shop_product_name">{$vo.foreign_name}</span>
                    <span class="shop_product_price">￥{$vo.price}</span>
                    <div class="shop_product_num">
                        <input type="hidden" value="{$vo.goods_id}" class="goodsId">
                        <a href="javascript:void(0);" class="reduce">-</a>
                        <input type="text" value="{$vo.num}" class="shopping_count">
                        <a href="javascript:void(0);" class="plus">+</a>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
</section>
<div id="areaMask" class="mask" data-show="0"></div>
<script>
    window.onload=function(){
        $('body').on('click','.shop_cart',function(){
            if(!$('.mask').data('show')){
                $('html,body').css({"height":"100%","overflow":"hidden"});//动态阻止body页面滚动
                $('.mask').show().css({position:'fixed'});
                $('.mask').data('show',1);
                $('.express-area-box').css({bottom:0+'px',display:'block',position:'fixed'});
                if($('.shoppingCart_form ul').height()>420){
                    $('.shoppingCart_form ul').css({"max-height":4.5+'rem'});
                }
            }else{
                $('html,body').css({"overflow":"auto"});
                $('.mask').hide();
                $('.express-area-box').css({bottom:'-100%',display:'none'});
                $('.mask').data('show',0);
            }
        });

        $('.mask').on('click',function(){
            $('html,body').css({"overflow":"auto"});
            $(this).hide();
            $('.express-area-box').css({bottom:'-100%',display:'none'});
            $(this).data('show',0);
        });
    };
</script>