<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/myms/mall.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="__PUBLIC__/images/myms/banner1.jpg" /></div>
            <div><img src="__PUBLIC__/images/myms/banner_02.jpg" /></div>
            <div><img src="__PUBLIC__/images/myms/banner_01.jpg" /></div>
            <div><img src="__PUBLIC__/images/myms/banner_02.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="f24">
        <ul class="myms_top_nav">
            <volist name="pCatList" id="vo">
                <li class="categoryId" value="{$vo.id}">{$vo.name}</li>
            </volist>
            <input class="checkedId" type="hidden" value="{$categoryId}">
        </ul>
    </nav>
    <input type="hidden" class="project_position" value="project_index">
    <div class="content" ></div>
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>
    <include file="Public/footer" />
    <include file="Public/cart" />
</block>
<block name="js-customize">
    <script type="text/javascript" src="__PUBLIC__/js/myms/cart.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        //加载总商品列表
        function getPage(obj,currentPage,pageSize) {
            var url = MODULE+'/Project/projectList';
            var postData = {};
            postData.p = currentPage ?  currentPage : 1;
            postData.pageSize = pageSize ?  pageSize : 4;
            if(obj){
                postData.categoryId = $(obj).prev().find('li:first').data('categoryid');
                postData.buyType = $(obj).prev().find('li:first').data('buytype');
            }else{
                postData.position=$('.project_position').val();
            }

            $.ajax({
                url: url,
                data: postData,
                type: 'get',
                beforeSend: function(){
                    $(obj).html($('#loading').html());
                },
                success: function(data){
                    if(data.status == 0){
                        dialog.error(data.info);
                    }else{
                        if(obj){
                            $(obj).prev().find('li:last').after(data);
                            var page = $(obj).data('page')+1;
                            $(obj).data('page',page);
                        }else{
                            $('.content').html(data);
                        }
                    }
                },
                complete: function(){
                    $(obj).html('查看更多<i></i>')
                }
            });
        }

        //加载单独分类商品列表
        function getCatProjects(catId) {
            var url = MODULE+'/Project/projectList';
            $(".content").html($('#loading').html());
            $.get(url, {catId:catId}, function(data) {
                $('.content').html(data);
            });
        }

        $(function(){
            //初始化
            getPage();

            //查看更多
            $('body').on('click','.view_more',function () {
                var _this = $(this);
                var currentPage = _this.data('page');
                getPage(_this,currentPage)
            });

            //切换分类商品列表
            var categoryId = $('.checkedId').val();
            if(categoryId){
                getCatProjects(categoryId);
            }

            $('.categoryId').click(function () {
                var catId = $(this).val();
                getCatProjects(catId);
            });
            $('.categoryId').each(function(){
                if($(this).val() == categoryId){
                    $(this).addClass('current');
                }
            });

            //滑动轮播
            var elem = document.getElementById('slider');
            window.mySwipe = Swipe(elem, {
                auto: 2500,
                callback: function(index,element){
                    //回调函数
                    $(".position li").eq(index).addClass("on").siblings().removeClass("on");
                }
            });
            $(".position li").click(
                    function () {
                        mySwipe.slide($(this).index());
                    }
            );
            tab_down('.myms_top_nav li','.myms_contents .myms_tablist_wrap','click');
        })
    </script>

</block>