{extend name="template/base.html" /}
{block name="css-customize"}
	<style type="text/css">
		dl{background: white; margin-bottom: 5px; padding:10px; border-radius:10px;}
		.print{background:red; color:white; width:30%; text-align: center;
			padding:3px; font-weight: bold; border-radius:5px;}
		#order_status{background: #ffc6cd;text-align: center;cursor: pointer;}
	</style>
{/block}
{block name="content"}
<article class="f24">
	<section class="top_nav_fixed">
		<div class="top_bar columns_flex">
			<div class="each_column">
				<a class="personal_center">我的</a>
			</div>
			<div class="each_column top_search_module">
				<input type="button" class="search_btn"/>
				<input type="text" class="search_text" placeholder="美尚云搜索"/>
			</div>
			<div class="each_column">
				<a class="home">首页</a>
			</div>
		</div>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex f20 l-r-sides">
			<a href="{:url('Order/beforeSale')}">售前</a>
			<a href="{:url('Order/index')}" class="record">打单</a>
			<a href="{:url('Order/out')}">出仓</a>
			<a href="{:url('Order/delivery')}">发货/完成</a>
			<a href="{:url('Order/bill')}">填单</a>
			<a href="{:url('Order/afterSale')}">售后</a>
		</div>
	</section>
	<section class="f24 account-content-wrapper ">
		<div class="account-top">
			<!--<dl>
				<dt class="role-label"><strong>备货出仓自动检测模式</strong></dt>
				<dd>
					<p style="text-align: center"><img src="/static/factory/img/scan.jpg"  /></p>
				</dd>
			</dl>
			<hr />-->
			<dl>
				<dt class="role-label"><strong>备货出仓人工检测模式</strong></dt>
				<dd>
					<section class="top_nav_fixed">
						<div class="top_bar columns_flex">
							<div class="each_column top_search_module">
								<input type="button" class="search_btn"/>
								<input type="text" id="order" placeholder="手动输入订单号"/>
							</div>
						</div>
					</section>
				</dd>
			</dl>
			<div id="order_detail"></div>
			<div id="data_all" data_order_id="" data_order_sn="" data_status_unpack="" ></div>
			<div id="order_status"></div>
		</div>
	</section>
</article>

{/block}
{block name="common"}
{include file="template/footer_menu_msy_store.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}

<script type="text/javascript">
$(function () {
	$("#order").keydown(function(event) {
		if (event.keyCode == 13) {
			var order_sn = $.trim( $('#order').val() );
			if(!order_sn){
				alert('请输入订单号');
				return false;
			}
			$.ajax({
				type: 'POST',
				url: "{:url('Order/isOwnOrder')}",
				data:{order_sn:order_sn},
				dataType:'json',
				success:function(e){
					if(e.status==1){
						$('#data_all').attr('data_order_id', e.order_id);
						$('#data_all').attr('data_order_sn', e.order_sn);
						$('#data_all').attr('data_status_unpack', e.status_unpack);
						status.getStatus(e.status_unpack);
						$('#order_detail').empty().append(e.data);
					}else{
						alert(e.info);
					}

				}
			});
		}
	});

	var status = {
		order_status:$('#order_status'),
		order_detail:$('#order_detail'),
		data_all:$('#data_all'),
		getStatus:function(status_value){
			if(!this.order_detail){
				this.order_status.empty();
				return false;
			}
			switch(status_value){
				case 1:
					var html ="<span id='reset_pick'>重新拣货</span>&nbsp;<span id='pick'>仓库拣货</span>";
					this.order_status.empty().append(html).on('click', '#pick', function(){
						status.data_all.empty().append("<span id='aa'>手动拣货&nbsp;&nbsp;</span></span><input id='compare' type='text' placeholder='商品条码'>").on(
								'click', '#aa', function(){
									alert($('#compare').val());
								}
						)
						//alert(status.data_all.attr('data_order_id'));
						//status.setStatusUnpack(2);
					}).on('click', '#reset_pick', function(){
						alert(33);
					});
					break;
				case 2:
					this.order_status.empty().text('填写物流单号');
					break;
				case 3:
					this.order_status.empty().text('交付发货');
					break;
				case 4:
					this.order_status.empty().text('已发货');
					break;
				default:
					this.order_status.empty();break;
			}
		},
		setExpress:function(order_id, express_id, express){
			$.ajax({ //填写物流单号
				url: "{:url('Order/setExpress')}",
				type: 'POST',
				data:{ order_id:order_id, express_id:express_id, express:express},
				dataType: 'json',
				success: function(e){
					if(e.status==1){
						alert(e.info);
						return false;
					}
					alert(e.info);
				}
			});
		},
		pick:function(){
			alert('动态变动sd ');
		},
		setStatusUnpack:function(status_unpack){
			$.ajax({ //设置订单状态
				url: "{:url('Order/setStatusUnpack')}",
				type: 'POST',
				data: {status_unpack:status_unpack, order_id:148},
				dataType: 'json',
				success: function(e){
					if(e.status==1){
						status.getStatus(e.status_unpack);
					}
					alert(e.info);
				}
			});
		}
	}

});
</script>
{/block}