<section id="userForgetPasswdForm" style="display:none;">
    <div class="f24">
        <div class="ucenter_logo">
            <img src="PUBLIC_IMG/common/ucenter_logo.png" alt="">
            <p>重置通行证登陆密码</p>
        </div>
        <form class="registerTab" id="formReset">
            <include file="PersonalCenter/userTmpl" />
            <input type="hidden" name="captcha_type" value="reset" />
        </form>
        <div class="error_tipc" ></div>
        <div class="friend_tipc">
            <a href="javascript:void(0);" class="forgetPasswd_back">返回登录</a>
        </div>
    </div>
</section>
<script type="text/javascript">
    var userForgetPasswdForm=$('#userForgetPasswdForm').html();
    //注册触发
    var forgetPasswdLayer = null;
    function forgetPasswordDialog(func){
        forgetPasswdLayer = layer.open({
            className:'forgetPasswdLayer',
            content:userForgetPasswdForm,
            btn:['确定'],
            success:function(){
                $('.forgetPasswdLayer .mesg_code').text('获取验证码');
            },
            yes:function(index){
                var $layer=$('.forgetPasswdLayer').find('.forgetPasswd_wrap');
                //验证
                var userName=$layer.find('.user_name').val();
                var password=$layer.find('.password').val();
                var newPassword=$layer.find('.cofirm_password').val();
                var userPhone=$layer.find('.user_phone').val();
                var verifiCode=$layer.find('.tel_code').val();
                var content='';
                if(!checkAccount(userName)){
                    content='请输入正确用户名';
                }else if(!register.pswCheck(password)){
                    content = "请输入正确的密码";
                }else if(password!=newPassword){
                    content = "两次密码输入不一致";
                }else if(!register.phoneCheck(userPhone)){
                    content = "请输入正确的手机号码";
                }else if(!register.vfyCheck(verifiCode)){
                    content = "请输入正确的验证码";
                }
                if(content){
                    errorTipc(content);
                    return false;
                }

                var url = '{:U("/Home/User/forget_password")}';
                var postData = $('.forgetPasswdLayer').find('#formReset').serializeObject();
                $.ajax({
                    url:url,
                    type:'post',
                    data:postData,
                    error:function(xhr){},
                    success:function(data){
                        if(data.status==0){
                            errorTipc(data.info);
                            return false;
                        }else if(data.status==1){
                            if(func && $.isFunction(func)){
                                func();
                            }
                            layer.close(index);
                        }
                    }
                });
            }
        });
    }
    $(function(){
        //返回登录
        $('body').on('click','.forgetPasswd_back',function(){
            loginDialog();
        })
    })
</script>
