<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/common/style.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="__PUBLIC__/img/common/icon/m1.jpg" /></div>
            <div><img src="__PUBLIC__/img/common/icon/m2.jpg" /></div>
            <div><img src="__PUBLIC__/img/common/icon/m3.jpg" /></div>
            <div><img src="__PUBLIC__/img/common/icon/m4.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- E= 轮播图 -->
    <!-- 采购平台 -->
    <div class="content_box">
        <div class="title">[众创空间]</div>
        <div class="content_wrap">
            <div class="cgLeft"><a href="{:U('Purchase/Index/index')}"class="aText">美创会</a></div>
            <div class="cgRight"><a href="javascript:void(0);" class="aText">门店设置</a></div>
            <div class="cgMiddle"><a href="javascript:void(0);" class="aText">创业导师</a></div>

            <div class="clear"></div>
        </div>
    </div>
    <!-- 卖手平台 -->
    <div class="content_box">
        <div class="title">[采购平台]</div>
        <div class="content_wrap">
            <div class="fcLeft"><a href="javascript:void(0);" class="aText">采购商城</a></div>
            <div class="fcRight"><a href="javascript:void(0);" class="aText">培训学院</a></div>
            <div class="fcMiddle"><a href="{:U('SellerCompany/Index/index')}" class="aText">账户充值</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- 智能运营 -->
    <div class="content_box">
        <div class="title">[分成平台]</div>
        <div class="content_wrap">
            <div class="znLeft"><a href="{:U('Cloudstore/Index/index')}" class="aText">健康驿站</a></div>
            <div class="znRight"><a href="javascript:void(0);" class="aText">分成收益</a></div>
            <div class="znMiddle"><a href="{:U('Store/Index/index')}" class="aText">驿站设置</a></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer_space"></div>
</block>
<block name="js-customize">
    <script type="text/javascript" src='PUBLIC_JS/common/swipe.js'></script>
    <!-- 图片轮播JS -->
    <script type="text/javascript">
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
            auto: 1800,
            callback: function(index,element){
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
            function () {
                mySwipe.slide($(this).index());
            }
        );
    </script>
</block>