{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="mall_css/main.css">
{/block}
{block name="content"}
<article class="f24">
	<section class="slider_banner ">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			{empty name="info.main_img"}
				<img class="common_default_img" src="public_img/default/no_pic_1000.jpg" alt="">
			{else /}
				{volist name="info.main_img" id="vo"}
					<div class="swiper-slide swiper-slide-active">
						<img src="public_uploads/{$vo}" alt="" class="common_default_img">
					</div>
				{/volist}
			{/empty}
		</div>
	</section>
	<section class="">
		<div class="columns_flex l-r-sides">
			<p class="store-product-title">{$info.name}</p>
			<div class="">
				<a href="javascript:void(0);">
					<span class="share"></span>
					分享
				</a>
				<a href="javascript:void(0);">
					<span class="ytk"></span>
					云推客
				</a>
			</div>
		</div>
		<ul class="list-item goods_list">
			<li>
				<div class="price-item">
					<span class="text-color-ef">￥<price>{$info.sale_price}</price></span>
					<del>￥</del>
				</div>
				<div class="columns_flex l-r-sides">
					<span>15ml x 6瓶 /盒</span>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="1" class="f24 gshopping_count">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>

		</ul>
		<p class="explain-text content-padding">{$info.parameters}</p>
	</section>
</article>
{include file='public/goods_footer' /}
{/block}
{block name="common"}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">
	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
{block name="script"}
<script type="text/javascript">
	$(function(){
		//加
		$('body').on('click','.gplus',function(){
			//单个商品数量自加
			goodsNumPlus($(this));
			//计算商品列表总价
			calculateTotalPrice();

		});
		//减
		$('body').on('click','.greduce',function(){
			//单个商品数量自减
			goodsNumReduce($(this));
			//计算商品列表总价
			calculateTotalPrice();
		});

	});
	//单个商品数量自加
	function goodsNumPlus(obj) {
		var _li = obj.parents('li');
		var num = _li.find('.gshopping_count').val();
		_li.find('.gshopping_count').val(++num);
	}
	//单个商品数量自减
	function goodsNumReduce(obj) {
		var _li = obj.parents('li');
		var num = _li.find('.gshopping_count').val();
		if(num<2){
			return false;
		}
		_li.find('.gshopping_count').val(--num);
	}
	//计算商品列表总价
	function calculateTotalPrice(){
		var _thisLis = $('ul.goods_list').find('li');
		if(!$('footer').find('price').length){
			return false;
		}
		var isInt = true;
		var amount = 0;
		$.each(_thisLis,function(){
			var _thisLi = $(this);
			var num = _thisLi.find('.gshopping_count').val();
			if(!isPosIntNumberOrZero(num)){
				isInt = false;
				return false;
			}
			amount += _thisLi.find('price').text() * num;
		});
		if(!isInt){
			dialog.error('购买数量为正整数');
			return false;
		}
		$('footer').find('price').html(amount.toFixed(2));
	}
</script>
{/block}