<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/cloudstore/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构免费实名认证</h2>
    </section>
    <form action="" method="">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item active"><span class="certify_info"></span><em></em>认证资料</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>递交申请</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="uploadImg_cell f20">
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="id_url">
                                <empty name="company.id_url">
                                    <img class="upload_img" src="">
                                    <else />
                                    <img class="upload_img" src="__ROOT__/Uploads/{$company.id_url}" />
                                </empty>
                            </div>
                            <p>申请人身份证(正面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="id_reverse_url">
                                <empty name="company.id_reverse_url">
                                    <img class="upload_img" src="">
                                    <else />
                                    <img class="upload_img" src="__ROOT__/Uploads/{$company.id_reverse_url}" />
                                </empty>
                            </div>
                            <p>申请人身份证(反面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="license_url">
                                <empty name="company.license_url">
                                    <img class="upload_img" src="">
                                    <else />
                                    <img class="upload_img" src="__ROOT__/Uploads/{$company.license_url}" />
                                </empty>
                            </div>
                            <p>美容机构营业执照</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="unit_certificate_url">
                                <empty name="company.unit_certificate_url">
                                    <img class="upload_img" src="">
                                    <else />
                                    <img class="upload_img" src="__ROOT__/Uploads/{$company.unit_certificate_url}" />
                                </empty>
                            </div>
                            <p><i>*</i>申请人单位证明信</p>
                        </div>
                    </div>

                    <p class="f20 certify_tipc_txt">
                        温馨提示：美容机构实名认证需在线递交机构营业执照、申请人身份证正面和反面等认证材料（非法人代表申请人还须递交单位证明信），请提前拍照准备上传照片
                    </p>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="js-customize">
    <script type="text/javascript">
        $(function(){
            // 选择图片
            $('.uploadImg').on('change',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();
                var name = $(this).attr('name');

                // 判断是否图片
                if(!img){
                    return false;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|png|gif|jpeg)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'只支持jpg,png,gif文件',
                        time:2
                    });
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    $.post("uploadCompanyImg", { img: e.target.result ,uploadType : name},function(msg){
                        if(msg.status ==0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else if(msg.status ==1){
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                        }
                    },'json');
                }
            });

            //下一步
            $('.weui_btn_primary').on('click',function(){
                var text = '';
                var unit_certificate_url = $('[name=unit_certificate_url]');
                if(!unit_certificate_url.next().attr('src')){
                    text = unit_certificate_url.parent().parent().find('p').text();
                }
                if(text){
                    layer.open({
                        content:'请选择'+text,
                        time:2
                    });
                    return false;
                }else{
                    location.href = 'authorizeSubmit';
                }
            });
        });
    </script>
</block>
