<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/storeSettings.css">
</block>
<block name="content">
    <section class="certify_title">
        <img src="__PUBLIC__/images/cloudstore/logo.png" alt="">
        <span class="f28">美容机构实名认证</span>
    </section>
    <section class="certify_intro f20">
        <img src="__PUBLIC__/images/cloudstore/success_ico.png" alt="" class="success_ico">
        <p class="success_tipc f20">已实名认证的美容机构</p>
    </section>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >确定</a>
    </div>
</block>

<block name="mjs-customize">
    <script type="text/javascript">
        $('.weui_btn_primary').on('click',function(){
            history.go(-1);
        });
    </script>
</block>
