<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/cloudstore/storeSettings.css">
</block>
<block name="content">
    <section class="certify_title">
        <img src="__PUBLIC__/images/cloudstore/logo.png" alt="">
        <span class="f28">美容机构实名认证</span>
    </section>
    <section class="certify_intro f20">
        <h3>美容机构为什么要实名认证？</h3>
        <p>1、根据国家工信部的要求，对接入平台服务的美容机构需实名认证；</p>
        <p>2、美容机构自登记之日起180天为预准开通期（即认证缓冲期），预准开通期内可使用美尚平台所有功能应用；</p>
        <p>3、预准开通期内美容机构应安排进行美容机构实名认证；美容机构逾期不进行实名认证者将在卖手平台、O2O系统和智慧店务等方面的使用局部受限。</p>
        <h3>美容机构怎样进行认证？</h3>
        <p>1、美容机构实名认证需在线递交机构营业执照、申请人身份证正面和反面等认证材料（非法人代表申请人还须递交单位证明信），请提前拍照准备上传照片;</p>
        <p>2、平台在24小时内进行资料审核，认证结果在个人中心通知。</p>
    </section>
    <div class="login-items certify_items">
        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >开始美容机构实名认证</a>
        </div>
    </div>
</block>
<block name="js-customize">
    <script type="text/javascript">
        $(function(){
            $('.weui_btn').on('click',function(){
                location.href = CONTROLLER + '/authorizeInfo';
            });
        });
    </script>
</block>
