<volist name="goodsList" id="vo">
    <li data-buytype="" data-goodsid="{$vo.id}" data-categoryid="">
        <a href="">
            <empty name="$goodsList.main_img">
                <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="" class="c_img">
                <else />
                <img class="img main_img" src="UPLOADS_IMG/{$goodsList.main_img}">
            </empty>
        </a>
        <p class="twitter_product_intro goods_name">{$vo.name}</p>
        <div class="pink">
            推客收益￥<price class="twitter_price">{$vo.commission}</price>
        </div>
        <div class="commodity_purchaser f24">
            <span class="pink">￥<price>{$vo.sale_price}</price></span><del>￥{$vo.price}</del>
        </div>
    </li>
</volist>