<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <input type="hidden" class="groupBuyId" value="{$groupBuyId}"/>
        <section class="goods_picture goods_detail_banner" >
            <empty name="goodsInfo.main_img">
                <img src="PUBLIC_IMG/common/default/no_pic2_1000.jpg" alt="">
                <else/>
                <img src="UPLOADS_IMG/{$goodsInfo.main_img}" alt="">
            </empty>
        </section>
        <section class="bottomLine">
            <div class="myh_detail_item">
                <p class="f24">{$goodsInfo.headlines}</p>
                <p class="f16">{$goodsInfo.single_specification} / {$goodsInfo.package_unit|getUnitCN}</p>
            </div>
            <div class="myh_detail_item myh_product_intro">
                {$goodsInfo.intro|htmlspecialchars_decode}
            </div>
            <ul class="myh_detail_item myh_detail_price goods_list">
                <li data-id="{$goodsInfo.id}">
                    <div class="options">
                        <div class="concessional_rate">优惠价:
                            <span>￥</span><price>{$goodsInfo.sale_price}</price>
                        </div>
                        <div>零售价:
                            <del>￥{$goodsInfo.price}</del>
                        </div>
                        <if condition="$goodsInfo.buy_type eq 2">
                            <div class="save_money">返现:￥{$goodsInfo.cash_back}</div>
                        </if>
                    </div>
                    <div class="myh_detail_item options">
                        <span>购买数量：（{$goodsInfo.package_unit|getUnitCN}）</span>
                        <div class="quantity_wrapper business_count">
                            <a href="javascript:void(0);" class="greduce">-</a>
                            <input type="text" value="1" class="f24 gshopping_count">
                            <a href="javascript:void(0);" class="gplus">+</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <if condition="$goodsInfo.buy_type eq 2">
            <section class="">
                <div class="wt_banner">
                    <div class="wt_f_l">
                        <img src="PUBLIC_IMG/common/wt-banner.png" alt="">
                        <div class="wt_tipc_item wt_detail_tipc">
                            <dl>
                                <dt class="person"></dt>
                                <dd>人数3+</dd>
                            </dl>
                            <dl>
                                <dt class="time"></dt>
                                <dd>限72小时</dd>
                            </dl>
                            <dl>
                                <dt class="money"></dt>
                                <dd>返现兑现</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="wt_f_l wt_d_l">
                        <img src="PUBLIC_IMG/common/wt-code.png" alt="">
                        <span class="txt">长按二维码关注美悦会</span>
                    </div>
                </div>
                <ul class="group_purchase">
                    <!--<volist name="groupBuyDetail" id="vo">-->
                        <!--<if condition="$vo.type eq 1 ">-->
                            <!--<li>-->
                                <!--<empty name="vo.headimgurl">-->
                                    <!--<img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">-->
                                    <!--<else />-->
                                    <!--<img src="{$vo.headimgurl}" alt="">-->
                                <!--</empty>-->
                                <!--<span>团长</span>-->
                            <!--</li>-->
                            <!--<else />-->
                            <!--<li>-->
                                <!--<empty name="vo.headimgurl">-->
                                    <!--<img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">-->
                                    <!--<else />-->
                                    <!--<img src="{$vo.headimgurl}" alt="">-->
                                <!--</empty>-->
                                <!--<span>成员</span>-->
                            <!--</li>-->
                        <!--</if>-->
                    <!--</volist>-->

                    <li>
                        <empty name="groupBuyDetail[0].headimgurl">
                            <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                            <else />
                            <img src="{$groupBuyDetail[0].headimgurl}" alt="">
                        </empty>
                        <span>团长</span>
                    </li>

                    <li>
                        <empty name="groupBuyDetail[1].headimgurl">
                            <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                            <else />
                            <img src="{$groupBuyDetail[1].headimgurl}" alt="">
                        </empty>
                        <span>成员</span>
                    </li>
                    <li>
                        <empty name="groupBuyDetail[2].headimgurl">
                            <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                            <else />
                            <img src="{$groupBuyDetail[2].headimgurl}" alt="">
                        </empty>
                        <span>成员</span>
                    </li>
                </ul>
                <div class="count_down_module">
                    <div class="hot_count_down wt_count_down wt_ct">
                        <i></i>
                        <div>
                            <p>美悦会微团购限时</p>
                            <div class="count_down_box">
                                <span class="day">1</span>天
                                <span class="hour">09</span>小时
                                <span class="minute">01</span>分
                                <span class="second">02</span>秒
                            </div>
                        </div>
                    </div>
                    <div class="wt_ct">
                        <a href="{:U('Mall/Index/index')}"><i></i><span>首页</span></a>
                    </div>
                </div>
            </section>
        </if>
        <section class="bottomLine">
            <div class="goods_star_score comment_star_module">
                <div class="five_star">
                    <div class="star_img">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/star.png">
                        <img src="PUBLIC_IMG/common/star.png">
                    </div>
                    <empty name="aveScore">
                        <span class="fraction" data-score="0">0分</span>
                        <else/>
                        <span class="fraction" data-score=""></span>
                    </empty>
                </div>
                <empty name="userCommentNum">
                    <a href="javascript:void(0);" class="comment_num">0人评论</a>
                    <else/>
                    <a href="javascript:void(0);" class="comment_num">{$userCommentNum}人评论</a>
                </empty>
            </div>
        </section>
        <section class="bottomLine myh_detail_intro scroll-x">
            <h2>商品参数</h2>
            <div>{$goodsInfo.param|htmlspecialchars_decode}</div>
        </section>
        <section class="myh_detail_intro detail_common_module">
            <h2>商品详情图</h2>
            <div class="detail_intro_common">
                {$goodsInfo.detail_img|formatImg}
            </div>
            <div class="detail_intro_common">
                <p>{$commonImg|formatImg}</p>
            </div>
            <div>
                <h2>使用方法</h2>
                <p>{$goodsInfo.usage|htmlspecialchars_decode}</p>
                <dl class="notice_events">
                    <dt>注意事项</dt>
                    <dd>{$goodsInfo.notices|htmlspecialchars_decode}</dd>
                </dl>
            </div>
        </section>
    </article>
    <input type="hidden" value="{$groupBuyEnd}" class="groupBuyEnd"/>
    <section id="codeLayer" class="express-code-box">
        <div class="f24">
            <div class="twitter_code_tipc">
                <h2>推客二维码</h2>
                <P>长按图片保存到手机相册</P>
                <P>然后微信推送给微信好友</P>
                <span class="closeBtn"></span>
            </div>
            <div class="twitter_code_img">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <div id="areaMask2" class="mask QR_codes_mask"></div>
    <div class="mcover">
        <img src="PUBLIC_IMG/common/weixin_share.png" alt="">
        <a href="javascript:void(0);" class="weixinShare_btn">X</a>
    </div>
    <include file="Public/weiXinShare" />
</block>
<block name="backTop">
    <include file="Public/rightSideBar" />
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            var getFractionValue='{$aveScore}';
            $('.five_star').setStar(getFractionValue);
        });
    </script>
    <script type="text/javascript" src="PUBLIC_JS/common/weixin.js"></script>
</block>