<volist name="goodsList" id="vo">
    <li data-id="{$vo['id']}">
        <a  href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id']))}" class="purchase_goods_img">
            <empty name="vo.main_img">
                <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="" class="c_img">
                <else/>
                <img src="UPLOADS_IMG/{$vo.main_img}" alt="" class="c_img">
            </empty>
        </a>
        <div class="orderDetail_r">
            <p>{$vo.name}</p>
            <div>商品规格：<span>{$vo.single_specification} / {$vo.package_unit|getUnitCN}</span></div>
            <div class="commodity_purchaser f24">
                <span class="pink">￥<price>{$vo.sale_price}</price></span><del>￥{$vo.price}</del>
            </div>
        </div>
        <switch name="goodsListOptionType" >
            <case value="withDel">
                <div class="purchase_goods_num purchase_cart_list">
                    <span>购买数量({$vo.package_unit|getUnitCN})</span>
                    <div class="quantity_wrapper">
                        <a href="javascript:void(0);" class="greduce">-</a>
                        <input type="text" value="{$vo.num|default='1'}" class="f24 gshopping_count">
                        <a href="javascript:void(0);" class="gplus">+</a>
                    </div>
                    <a href="javascript:void(0);" class="detele_order goodsDel">删除</a>
                </div>
            </case>
            <case value="withNum">
                <div class="purchase_goods_num purchase_cart_list">
                    购买数量(单位:{$vo.package_unit|getUnitCN})：
                    <input type="text" value="{$vo.num|default='1'}" class="f24 gshopping_count">
                </div>
            </case>
            <default />
        </switch>
    </li>
</volist>