<notempty name="goodsInfo">
    <li data-id="{$goodsInfo.id}">
        <div class="purchase_goods_detail">
            <empty name="vo.thumb_img">
                <img class="purchase_gs_img" src="PUBLIC_IMG/common/default/no_pic_40.jpg" alt="">
                <else/>
                <img src="UPLOAD_IMG/{$vo.thumb_img}" alt="">
            </empty>
            <div class="purchase_gs_r">
                <p>{$goodsInfo.name}</p>
                <p>{$goodsInfo.remark}</p>
                <a href="javascript:void(0);" class="closeBtn">X</a>
            </div>
        </div>
        <div class="purchase_goods_detail">
            <div class="purchase_packing">
                <div>商品规格：<span>{$goodsInfo.single_specification}/{$goodsInfo.package_unit|getUnitCN}</span></div>
                <div class="purchase_packing_r">
                    <span class="market level_price">￥<price>{$goodsInfo.sale_price}</price></span>
                    <del>￥{$goodsInfo.price}</del>
                </div>
            </div>
        </div>
        <div class="purchase_goods_detail purchase_goods_num">
            <span>购买数量(单位：{$goodsInfo.package_unit|getUnitCN})</span>
            <div class="quantity_wrapper">
                <a href="javascript:void(0);" class="greduce">-</a>
                <input type="text" value="0" class="f24 gshopping_count">
                <a href="javascript:void(0);" class="gplus">+</a>
            </div>
        </div>
    </li>
</notempty>