<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="goods_picture goods_detail_banner" >
            <empty name="goodsInfo.main_img">
                <img src="PUBLIC_IMG/common/default/no_pic2_1000.jpg" alt="">
                <else/>
                <img src="UPLOADS_IMG/{$goodsInfo.main_img}" alt="">
            </empty>
        </section>
        <section class="bottomLine">
            <div class="myh_detail_item">
                <p>{$goodsInfo.name}</p>
                <p>{$goodsInfo.single_specification}</p>
            </div>
            <div class="myh_detail_item myh_product_intro">
                {$goodsInfo.intro|htmlspecialchars_decode}
            </div>
            <ul class="myh_detail_item myh_detail_price goods_list">
                <li>
                    <div class="options">
                        <div class="concessional_rate">优惠价:
                            <span>￥</span><price>{$goodsInfo.sale_price}</price>
                        </div>
                        <div>零售价:
                            <del>￥{$goodsInfo.price}</del>
                        </div>
                        <div class="save_money">节省:￥{$goodsInfo['price']-$goodsInfo['sale_price']}</div>
                    </div>
                    <div class="myh_detail_item options">
                        <span>购买数量</span>
                        <div class="quantity_wrapper business_count">
                            <a href="javascript:void(0);" class="greduce">-</a>
                            <input type="text" value="0" class="f24 gshopping_count">
                            <a href="javascript:void(0);" class="gplus">+</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="goods_star_score comment_star_module">
                <div class="five_star">
                    <div class="star_img">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/starred.png">
                        <img src="PUBLIC_IMG/common/star.png">
                        <img src="PUBLIC_IMG/common/star.png">
                    </div>
                    <span class="fraction" data-score="3.9">3.9分</span>
                </div>
                <a href="javascript:void(0);" class="comment_num">145人评论</a>
            </div>
        </section>
        <section class="bottomLine myh_detail_intro">
            <h2>商品参数</h2>
            <div>{$goodsInfo.param|htmlspecialchars_decode}</div>
        </section>
        <if condition="$goodsInfo.buy_type eq 2">
            <section class="bottomLine">
                <div class="wt_banner">
                    <img src="PUBLIC_IMG/common/wt_banner.jpg" alt="">
                </div>
                <ul class="group_purchase">
                    <li>
                        <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                        <span>团长</span>
                    </li>
                    <li>
                        <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                        <span>成员</span>
                    </li>
                    <li>
                        <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                        <span>成员</span>
                    </li>
                </ul>
            </section>
        </if>
        <section class="myh_detail_intro detail_common_module">
            <h2>商品详情图</h2>
            <div class="detail_intro_common">
                <p>{$goodsInfo.detail_img|formatImg}</p>
            </div>
            <div class="detail_intro_common">
                <p>{$commonImg|formatImg}</p>
            </div>
            <div>
                <h2>使用方法</h2>
                <p>{$goodsInfo.usage|htmlspecialchars_decode}</p>
                <dl class="notice_events">
                    <dt>注意事项</dt>
                    <dd>{$goodsInfo.notices|htmlspecialchars_decode}</dd>
                </dl>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            var getFractionValue=3;
            $('.five_star').setStar(getFractionValue);
        });
    </script>
</block>