<volist name="goodsList" id="vo">
    <li data-buytype="" data-goodsid="{$vo.id}" data-categoryid="">
        <a href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id'],'shareType'=>'referrer'))}">
            <empty name="vo.main_img">
                <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="" class="c_img">
                <else />
                <img class="img thumb_img" src="UPLOADS_IMG/{$vo.main_img}">
            </empty>
        </a>
        <p class="headlines">{$vo.headlines}</p>
        <div class="commodity_purchaser f12 pink">
            <span>￥<price class="twitter_price">{$vo.sale_price}</price></span> 
            <span>收益￥<price class="twitter_price">{$vo.referrer_commission}</price></span>
        </div>
        <!--<div class="pink">-->
            <!--收益￥<price class="twitter_price">{$vo.commission}</price>-->
        <!--</div>-->
    </li>
</volist>