<extend name="Public:base" />
<block name="title">联合采购</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="purchase_order_success">
            <div>
                <span></span>
                <p>充值成功</p>
                <p>可在个人中心，账户充值查询</p>
            </div>
            <a href="{:U('Index/index')}" class="order_cofirm_btn">确定</a>
        </section>
    </article>
</block>
<block name="script">
    <script type="text/javascript">
        function bb() {
            $.ajax({
//                            url: 'http://api.map.baidu.com/geocoder/v2/?ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv&callback=renderReverse&location=' + latitude + ',' + longitude + '&output=json&pois=1',
                // url: 'http://api.map.baidu.com/geocoder/v2/?ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv&callback=renderReverse&location=' + latitude + ',' + longitude + '&output=json&pois=1',
                url: 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx9eee7ee8c2ae57dc&redirect_uri=http%3A%2F%2Fmyh.meishangyun.com%2Findex.php%2FMall%2FGoods%2FwxLogin&response_type=code&scope=snsapi_userinfo&state=wxbase#wechat_redirect',
                type: "get",
                dataType: "jsonp",
                jsonp: "callback",
                success: function (data) {
                    console.log(data);
                    var name = (data.result.formatted_address);
                    console.log(name)


                    //var map=JSON.stringify(name);
                    //alert(map);die;
                    //var map1=map.substr(1);
                    //var map1=name(start,stop);
                    //alert(name);die;

                    $("#txt_dw").val(name);

                    if (typeof callback == "function") {

                    }

                }
            });
        }
        $(function(){
            bb();
//            location.href = CONTROLLER + '/wxLogin';

        });
    </script>
</block>