{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<!--<section id="applyNewStore" style="display:none;">-->
	
<!--</section>-->
<article class="f24">
	<section class="bottomLine">
        <div class="top_bar top-title">
            <span></span>
            <h2>申请开新店</h2>
        </div>
    </section>
	<div class="new-store-type applyNewStoreLayer">
		<div id="wizard" class="page-bd ">
			<nav class="apply-data-nav trademark-nav">
				<ul id="status " class="status f24 weui-flex">
					<li class="weui-flex-item switch-item current"><span class="base_info"></span><em></em>店铺类型</li>
					<li class="weui-flex-item switch-item "><span class="upload-prove"></span><em class="last"></em>店铺名称</li>
				</ul>
			</nav>
		</div>
		<div class="error_tipc"></div>
		<div class="stroe-content">
			<div class="new-store-item store-one">
				<span class="content-label">1)选择店铺类型</span>
				<div class="store-type-menu" data-store-type="type">
					<a class="" href="javascript:void(0);" data-type="1">企业官方旗舰店</a>
					<a href="javascript:void(0);" data-type="2">品牌官方旗舰店</a>
				</div>
				<span class="content-label">2)设定经营模式</span>
				<div class="store-type-menu" data-store-pattern="pattern">
					<a class="" href="javascript:void(0);" data-pattern="1">B2B采购商城</a>
					<a href="javascript:void(0);" data-pattern="2">B2B分成商城</a>
					<a href="javascript:void(0);" data-pattern="3">B2B零售商城</a>
				</div>
				<a class="next-step step-btn" href="javascript:void(0);">下一步</a>
			</div>
			<div class="new-store-item store-two hide">
				<ul class="">
					<!--企业旗舰店-->
					{notempty name="factoryStore"}
					<li class="columns_flex store-list factory_store" data-foreign_id="{$factoryStore.id|default=''}">
						{notempty name="factoryStore.img"}
						<img class="small_default_img" src="public_uploads/{$factoryStore.img|default=''}" alt="">
						{else /}
						<img class="small_default_img" src="public_img/default/no_pic_40.jpg" alt="">
						{/notempty}
						<div>
							<p>{$factoryStore.name}官方旗舰店</p>
							<p class="run_type">B2C零售商城</p>
						</div>
					</li>
					<!--品牌旗舰店-->
					{/notempty}
					{notempty name="brandStores"}
					{volist name="brandStores" id="vo"}
					<li class="columns_flex store-list brand_stores" data-foreign_id="{$vo.id|default=''}" >
						{notempty name="vo.img"}
						<img class="small_default_img" src="public_uploads/{$vo.img|default=''}" alt="">
						{else /}
						<img class="small_default_img" src="public_img/default/no_pic_40.jpg" alt="">
						{/notempty}
						<div>
							<p>{$vo.name}品牌旗舰店</p>
							<p class="run_type">B2C零售商城</p>
						</div>
					</li>
					{/volist}
					{/notempty}
				</ul>
				<a class="step-btn apply-new-store" href="javascript:void(0);">申请开通</a>
			</div>
		</div>
	</div>
</article>

{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}

<script type="text/javascript">
	$(function(){
		var storesApplied = '{:json_encode($storesApplied)}';
		storesApplied = JSON.parse(storesApplied);
		var postData={};
		var store_type,run_type;
		//选择类型和模式
		$('body').on('click','.store-type-menu a',function(){
			var _this=$(this);
			var dataTypeId=_this.data('type');
			$(this).addClass('current').siblings().removeClass('current');
			for(var i=0;i<storesApplied.length;i++){
				if(dataTypeId==storesApplied[i].store_type){
					$.each($('div[data-store-pattern="pattern"] a'),function(j,val){
						var _This=$(this);
						var storePatternId=_This.data('pattern');
						if(storePatternId==storesApplied[i].run_type){
							_This.addClass('disabled');
						}
					})
				}
				if(dataTypeId==2){
					$('div[data-store-pattern="pattern"] a').removeClass('disabled');
				}
			}
		});

		//选择店铺
		$('body').on('click','.applyNewStoreLayer .store-list',function(){
			var _this=$(this);
			_this.addClass('current').siblings().removeClass('current');
		});
		//下一步
		$('body').on('click','.next-step',function(){
			var storeType=$('.applyNewStoreLayer div[data-store-type="type"]').find('a');
			store_type=$('.applyNewStoreLayer .store-one').find('a.current').data('type');
			if(store_type ==1 ) {
				var factory_store = $('.factory_store').length;
				if (!factory_store) {
					dialog.success('请完善企业档案', module + 'Record/edit');
					return false;
				}
			}
			if(store_type ==2 ){
				var brand_stores = $('.brand_stores').length;
				if(!brand_stores){
					dialog.success('请完善品牌资料备案',module+'Brand/record');
					return false;
				}
			}
			var storePattern=$('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('a');
			var selectedPLen=$('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('.disabled').length;
			if(storeType.hasClass('current')){
				if(selectedPLen==storePattern.length){
					dialog.success('此店所有经营模式已开过',module+'Store/manage');
					return false;
				}
				if(storePattern.hasClass('current')){
					run_type=$('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('a.current').data('pattern');
					$('.applyNewStoreLayer li').siblings().removeClass('current').eq(1).addClass('current');

					$('.store-one').hide();
					postData={
						store_type:store_type,
						run_type:run_type,
					}
					if(store_type ==1 ){
						$('.applyNewStoreLayer .store-list').addClass('current');
						$('.factory_store').find('li').attr('disabled',false);
						$('.store-two').show();
						var runTypeTxt =  $('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('a.current').text();
						$('.factory_store').find('.run_type').text(runTypeTxt);
						$('.brand_stores').hide();
						$('.factory_store').show();
					}
					if(store_type ==2 ){

						$('.store-two').show();
						var runType =  $('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('a.current').text();
						$('.brand_stores').find('.run_type').text(runType);
						for(var i=0;i<storesApplied.length;i++){
							if(run_type==storesApplied[i].run_type){
								$.each($('.brand_stores'),function(j,val){
									var _This=$(this);
									var foreignId=_This.data('foreign_id');
									if(foreignId==storesApplied[i].foreign_id){
										_This.addClass('disabled');
									}
								})
							}
						}
						$('.factory_store').hide();
						$('.brand_stores').show();
					}
				}else{
					dialog.error('请选择经营模式');
					return false;
				}
			}else{
				dialog.error('请选择店铺类型和经营模式');
			}
		});
		//开店弹窗
		var applyNewStore=$('#applyNewStore').html();
		$('body').on('click','.apply-new-store',function(){
			var storeType=$('.applyNewStoreLayer div[data-store-type="type"]').find('a');
			var storePattern=$('.applyNewStoreLayer div[data-store-pattern="pattern"]').find('a');
			var storeList=$('.applyNewStoreLayer .store-list');
			var brandList=$('.applyNewStoreLayer .brand_stores');
			var selectedLen=$('.applyNewStoreLayer .brand_stores.disabled').length;
				if(selectedLen==brandList.length){
					dialog.success('此店所有经营模式已开过',module+'Store/manage');
					return false;
				}
				if(storeList.hasClass('current')){
					foreign_id=$('.applyNewStoreLayer .store-list.current').data('foreign_id');
					postData.foreign_id = foreign_id;
				}
				else{
					dialog.success('请选择店铺');
					return false;
				}
				$.ajax({
					url: controller + 'edit',
					data: postData,
					type: 'post',
					beforeSend: function(){
						//$('.loading').show();
					},
					success: function(msg){
						if(msg.status == 0){
							dialog.error(msg.info);
							return false;
						}
						if(msg.status == 1){
							dialog.success(msg.info,module+'Store/manage');
							return false;
						}
					},
					complete:function(){

					},
					error:function (xhr) {
						dialog.error('AJAX错误'+xhr);
					},
				});
		});

	})

</script>
{/block}