{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">{/block}
{block name="content"}
<!--设置店长-->
<section id="entryShopInfo" style="display:none;">
	<form class="entryShopForm">
		<div class="account-field">
			<input type="text" class="store_name" placeholder="门店名称" name="store_name">
		</div>
		<div class="account-field">
			<input type="text" class="store_name" placeholder="店长姓名" name="name">
		</div>
		<div class="account-field">
			<input type="tel" class="store_mobile" placeholder="手机号码" name="mobile_phone">
		</div>
	</form>
	<div class="error_tipc"></div>
</section>
<section style="display: none;" id="storeInfoList">
	<li class="columns_flex l-r-sides">
		<div>
			<p>
				<input class="input_size" type="text" value="" name="store_name" readonly="readonly">
				<span>门店</span>
			</p>
			<div>
				<span>店长:</span>
				<input type="text" value="" name="name" readonly="readonly"/>
			</div>
			<div>
				<span>手机号码:</span>
				<input type="tel" value="" name="mobile_phone" readonly="readonly"/>
			</div>
		</div>
		<div class="operate-btn">
			<a href="javascript:void(0);" class="modify-account">
				<span></span>
				修改
			</a>
			<a href="javascript:void(0);" class="delete-account">
				<span></span>
				删除
			</a>
		</div>
	</li>
</section>
<article class="f24">
	{include file="public/switch_factory_head" /}
	<section class="specific_type bottomLine store_deploy_nav">
		<div class="columns_flex f20 l-r-sides store_deploy_bar">
			<a href="{:url('Manager/index')}">管理员</a>
			<a href="{:url('Record/preview')}">档案</a>
			<a href="{:url('Brand/manage')}">商标</a>
			<a href="{:url('Store/manage')}">开店</a>
			<a href="{:url('Store/getList')}">店铺</a>
			<a href="{:url('Shop/index')}" class="current">门店</a>
			<a href="javascript:void(0);">财务</a>
		</div>
	</section>
	<section class="columns_flex l-r-sides content-padding">
		<div>
			<img class="left" src="" alt="" />
			<div>
				<p><span>某某XX</span>机构官方旗舰店</p>
				<div>美尚会云店店铺</div>
			</div>
		</div>
		<div>
			{include file="public/switch_store_head_2" /}
		</div>
	</section>
	<section class="f24 account-content-wrapper">
		<ul class="list"></ul>
	</section>
	<a href="javascript:void(0);" class="foot-btn f24 entry_shop_info">录入线下门店信息</a>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){
		//页面初始化
		var config = {
			url: module + 'Shop/index'
		};
		getList(config);
		//录入门店信息
		var entryShopInfo=$('#entryShopInfo').html();
		$('body').on('click','.entry_shop_info',function(){
			var _this=$(this).parents('.list li');
			layer.open({
				title:['录入线下门店信息','border-bottom:1px solid #d9d9d9;'],
				className:'entryShopInfoLayer',
				content:entryShopInfo,
				btn:['确定','取消'],
				success:function(){
					copyDataByName(_this,$('.setShopAccountLayer .entryShopForm'));
				},
				yes:function(index){
					var postData = $('.entryShopForm').serializeObject();
					var html=$('#storeInfoList').html();
					var listLength=$('.list li').length;
					var content='';
					if(!postData.store_name){
						content='请填写门店名称';
					}else if(!postData.name){
						content='请填写店长姓名';
					}else if(!register.phoneCheck(postData.mobile_phone)){
						content='请填写手机号码';
					}
					if(content){
						errorTipc(content);
						return false;
					}
					var config = {
						url:module + 'Shop/edit',
						postData:postData,
						fromObj:$('.setShopAccountLayer .setShopForm'),
						toObj:_this,
						index:index
					};
					dialogFormAdd(config)
				}
			});
		});
		//修改店长
		$('body').on('click','.modify-account',function(){
			var _this=$(this).parents('.list li');
			layer.open({
				title:['修改线下门店信息','border-bottom:1px solid #d9d9d9;'],
				className:'setShopAccountLayer',
				content:entryShopInfo,
				btn:['确定','取消'],
				success:function(){
					copyDataByName(_this,$('.setShopAccountLayer .entryShopForm'));
				},
				yes:function(index){
					var postData=$('.setShopAccountLayer .setShopForm').serializeObject();
					var content='';
					if(!postData.name){
						content='请填写姓名';
					}else if(!register.phoneCheck(postData.mobile_phone)){
						content='请填写手机号码';
					}
					if(content){
						errorTipc(content);
						return false;
					}
					var config = {
						url:module + 'Shop/edit',
						postData:postData,
						fromObj:$('.setShopAccountLayer .setShopForm'),
						toObj:_this,
						index:index
					};
					dialogFormEdit(config);
				}
			})
		});
		//删除店长
		$('body').on('click','.delete-account',function(){
			var _this=$(this).parents('.list li');
			layer.open({
				title:['删除线下门店信息','border-bottom:1px solid #d9d9d9;'],
				className:'setShopAccountLayer',
				content:entryShopInfo,
				btn:['确定','取消'],
				success:function(){
					copyDataByName(_this,$('.setShopAccountLayer .entryShopForm'));
				},
				yes:function(index){
					var postData = {};
					postData.id = _this.data('id');
					postData.userFactoryId = _this.data('user_factory_id');
					var config = {
						url:module + 'Manager/del',
						postData:postData,
						obj:_this,
						index:index
					};
					dialogFormDel(config);
				}
			});
		});
		$('body').on('click','.list li',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$(this).find('.operate-btn').show();
			$(this).siblings().find('.operate-btn').hide();
		});
	});
</script>
{/block}