{notempty name='info'}
<li class="columns_flex l-r-sides " data-shop_id="{$info.shop_id}"  data-user_shop_id="{$info.user_shop_id}">
	<div class="list_left">
		<div class="list_left_item">
			<span class="list-label">门店名称：</span>
			<input type="text" class="list-admin-name f20" name="shop_name" value="{$info.shop_name|default=''}" unselectable="on" onfocus="this.blur()">
		</div>
		<div class="list_left_item">
			<span class="list-label">店长姓名：</span>
			<input type="text" class="list-admin-name f20" name="name" value="{$info.name|default=''}" unselectable="on" onfocus="this.blur()">
		</div>
		<div class="list_left_item">
			<span class="list-label">手机号码：</span>
			<input type="text" class="list-admin-mobile" name="mobile_phone" value="{$info.mobile_phone|default=''}" unselectable="on" onfocus="this.blur()">
		</div>
	</div>
	<div class="operate-btn">
		<a href="javascript:void(0);" class="modify-account">
			<span></span>
			修改
		</a>
		<a href="javascript:void(0);" class="delete-account">
			<span></span>
			删除
		</a>
	</div>
</li>
{/notempty}