<article class="f24">
    <div class="scrollwrapper">
        <div id="menu">
            <a href="javascript:void(0);" class="back_prev_page" data-jump_url=""></a>
            <ul class="columns_flex detail-nav">
                <li data-item="item1" ><a href="javascript:;" class="">开放日</a></li>
                <li data-item="item2" ><a href="javascript:;" class="">总部简介</a></li>
                <li data-item="item3" ><a href="javascript:;" class="">研发生产</a></li>
                <li data-item="item4" ><a href="javascript:;" class="">团队骨干</a></li>
                <li data-item="item5" ><a href="javascript:;" class="">电话地址</a></li>
            </ul>
        </div>
        <div id="content" class="floor-content">
            <div id="item1" class="floor">
                <div class="floor_item project-list">
                    <div class="">
                        <img src="public_img/activity01.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item2" class="floor">
                <div class="floor_item">
                    <p class="content-label">总部简介</p>
                    <div class="">
                        <img src="public_img/cpy_01.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/cpy_03.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item3" class="floor">
                <div class="floor_item" >
                    <p>研发生产</p>
                    <div class="">
                        <img src="public_img/develp_01.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_02.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_03.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_04.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_05.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_06.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_07.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item4" class="floor">
                <div class="floor_item" >
                    <p>团队骨干</p>
                    <div class="swiper-slide ">
                        <img src="public_img/cpy_04.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item5" class="floor">
                <div class="floor_item" >
                    <p>电话地址</p>
                    <div class="weiya_item " >
                        <div class="content-padding">
                            <div class="head">
                                <img src="public_img/hss-logo.png" alt="" class="left">
                                <div class="h-r">
                                    <p>运营部</p>
                                    <p>黑森森官方</p>
                                </div>
                            </div>
                            <div class="columns_flex l-r-sides">
                                <p>何鑫：<a href="tel:15918567008">13828468086</a></p>
                                <p>胡意元：<a href="tel:15918567008">18165511166</a></p>
                            </div>
                            <div class="columns_flex l-r-sides">
                                <p>申文影：<a href="tel:15918567008">13202029172</a></p>
                                <p>周清萍：<a href="tel:15918567008">13660613163</a></p>
                            </div>
                        </div>
                        <div class="content-padding">
                            <div class="c_top">
                                <p class="f28">广州美尚生物医药研究院有限公司</p>
                                <p class="f28">广东维雅生物科技有限公司</p>
                                <p class="f28">地址：广州市经济技术开发区科学城开源大道206号第2层</p>
                            </div>
                            <!--<div class="c_mobile">
                                <p class="f26">维雅品牌定制服务中心</p>
                                <p>朱田：<a href="tel:15918567008">13059156679</a></p>
                                <p>宫学莹：<a href="tel:13711326631">13711326631</a></p>
                                <p>叶雯雯：<a href="tel:13660613163">18820019781</a></p>
                                <p>监督热线：<a href="tel:18820019781">13710651399</a></p>
                            </div>
                            <div style="padding-right:0.30rem;">
                                <img src="public_img/contact.gif" alt="" style="width:100%;">
                            </div>-->
                        </div>
                        <div class="content-padding">
                            <p>维雅工厂的导航定位</p>
                            <div id="allmap" class="weiya_map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>