{extend name="template/base.html" /}
{block name="content"}
<!--<section class="header_title separation-line">
    <a href="javascript:void(0);" class="back_prev_page" data-jump_url=""></a>
    <h2 class="f24">开放日</h2>
</section>-->
<article class="f24">
    <div class="scrollwrapper">
        <div id="activity-menu" class="scroll-menu">
            <a href="javascript:void(0);" class="back_prev_page" data-jump_url=""></a>
            <ul class="columns_flex detail-nav">
                <li data-item="item1" ><a href="javascript:;" class="">开放日</a></li>
                <li data-item="item2" ><a href="javascript:;" class="">总部简介</a></li>
                <li data-item="item3" ><a href="javascript:;" class="">研发生产</a></li>
                <li data-item="item4" ><a href="javascript:;" class="">团队骨干</a></li>
                <li data-item="item5" ><a href="javascript:;" class="">电话地址</a></li>
            </ul>
        </div>
        <div id="content" class="floor-content">
            <div id="item1" class="floor">
                <div class="floor_item project-list">
                    <div class="">
                        <img src="public_img/activity01.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item2" class="floor">
                <div class="floor_item">
                    <p class="content-label">总部简介</p>
                    <div class="">
                        <img src="public_img/cpy_01.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/cpy_03.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_01.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item3" class="floor">
                <div class="floor_item" >
                    <p>研发生产</p>
                    
                    <div class="">
                        <img src="public_img/develp_02.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_03.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_04.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_05.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_06.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/develp_07.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item4" class="floor">
                <div class="floor_item" >
                    <p>团队骨干</p>
                    <div class="swiper-slide ">
                        <img src="public_img/cpy_04.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
            <div id="item5" class="floor">
                <div class="floor_item" >
                    <p>电话地址</p>
                    <div class="weiya_item " >
                        <div class="content-padding">
                            <div class="head">
                                <img src="public_img/hss-logo.png" alt="" class="left">
                                <div class="h-r">
                                    <p>运营部</p>
                                    <p>黑森森官方</p>
                                </div>
                            </div>
                            <div class="columns_flex l-r-sides">
                                <p>何鑫：<a href="tel:15918567008">13828468086</a></p>
                                <p>胡意元：<a href="tel:15918567008">18165511166</a></p>
                            </div>
                            <div class="columns_flex l-r-sides">
                                <p>申文彰：<a href="tel:15918567008">13202029172</a></p>
                                <p>周清萍：<a href="tel:15918567008">13660613163</a></p>
                            </div>
                        </div>
                        <div class="content-padding">
                            <div class="c_top">
                                <p class="f28">广州美尚生物医药研究院有限公司</p>
                                <p class="f28">广东维雅生物科技有限公司</p>
                                <p class="f28">地址：广州市经济技术开发区科学城开源大道206号第2层</p>
                            </div>
                            <!--<div class="c_mobile">
                                <p class="f26">维雅品牌定制服务中心</p>
                                <p>朱田：<a href="tel:15918567008">13059156679</a></p>
                                <p>宫学莹：<a href="tel:13711326631">13711326631</a></p>
                                <p>叶雯雯：<a href="tel:13660613163">18820019781</a></p>
                                <p>监督热线：<a href="tel:18820019781">13710651399</a></p>
                            </div>
                            <div style="padding-right:0.30rem;">
                                <img src="public_img/contact.gif" alt="" style="width:100%;">
                            </div>-->
                        </div>
                        <div class="content-padding">
                            <p>维雅工厂的导航定位</p>
                            <div id="allmap" class="weiya_map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{/block}
{block name="footer"}

{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/api?v=2.0&ak=Fimtwu6FDRrHWvg3oq44YCw0c0YonNpv"></script>
<script type="text/javascript" src="{:request()->scheme()}://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script>
    $(function(){
        // var html =document.getElementsByTagName('html')[0];
        // html.style.fontSize='';
        // $('.swiper-slide ').css('height',$(window).height()+'px');
        // $('.swiper-slide').find('img').css('paddingBottom',80+'px');
        // $('.nav_menu li').on('click',function(){
        //     $(this).addClass('current').siblings().removeClass('current');
        //     $('.swiper-container').hide().eq($(this).index()).show();
        // })
        var height=$('.detail-nav').height();
		var offsetHeight=$('.detail-nav').offset().top;
		$(window).on('scroll',function(){
			var scrollHeight=$(document).scrollTop();

			if(scrollHeight>offsetHeight){
				$('.scroll-menu').addClass('top-fixed');
			}else {
				$('.scroll-menu').removeClass('top-fixed');
			}
		});
		//楼层

		var menu = $('#activity-menu');
		var items = $('#content').find('.floor');
		var height=$('.detail-nav').height();
		var offsetHeight=$('.detail-nav').offset().top;

		var _screenHight = window.screen.availHeight;
		$("#item3").css("min-height",_screenHight+"px");


		$(window).scroll(function() {
			//滚动
			var top = $(document).scrollTop();
			var currentId = '';
			if(top>offsetHeight){
				$('.scroll-menu').addClass('top-fixed');
			}else {
				$('.scroll-menu').removeClass('top-fixed');
			}
			items.each(function(){
				var m = $(this);
				var itemTop = m.offset().top;

				if(top + 43>= itemTop ){
					//currentId = '#' + m.attr('id');
					currentId = m.attr('id');
				} else {
					return false;
				}

			});

			// 给相应楼层的a 设置 current, 取消其他链接的current
			var currentLink = menu.find('.active');
			if(currentId && currentLink.data('item') != currentId) {
				// currentLink.removeClass('active');
				menu.find("[data-item='"+ currentId +"']").addClass('active').siblings().removeClass('active');
                //menu.find("[data-item='"+ currentId +"']").addClass('active');
			}
		});
		// 项目信息切换
		$('#activity-menu li').on('click',function(){
		//$(document).ready(function(){
			var _this=$(this);
			var id=_this.data('item');
			items.each(function(){
				var m = $(this);
				if(m.attr('id')==id){
				    var itemTop = m.offset().top;
					_this.addClass('active').siblings().removeClass('active');
                    var scrollY=itemTop-40;
					$('html, body').animate({
						scrollTop: scrollY
					},500);

				}else{
					m.removeClass('active');
				}
			});
			
		});
    })
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    var content=$('.activitycontent').html();
    $('body').on('click','.activity',function(){
        layer.open({
            title:['开放日参观预约','border-bottom:1px solid #d9d9d9'],
            className:'activityLayer',
            content:content,
            btn:['确定']
        })
    });
    // 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	// 初始化地图,设置中心点坐标和地图级别
	//map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  
	
	//map.centerAndZoom("广州",12); 
	function setPlace(targetCity){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp,12);
			//偏移中心居中
			map.panBy(205,165);
			//添加标注
			map.addOverlay(new BMap.Marker(pp));    
			//设置地图显示的城市 此项是必须设置的
			//map.setCurrentCity("广州市经济技术开发区科学城开源大道206号"); 
		}
		

		var local = new BMap.LocalSearch(map, { //智能搜索
		onSearchComplete: myFun
		});
		local.search(targetCity);	
	}
	// var geolocation = new BMap.Geolocation(); 
    // 	geolocation.getCurrentPosition(function(r){ 
	// 		if(this.getStatus() == BMAP_STATUS_SUCCESS){ 
	// 			var mk = new BMap.Marker(r.point); 
	// 			map.addOverlay(mk); 
	// 			//map.panTo(r.point);//地图中心点移到当前位置 
	// 			var latCurrent = r.point.lat; 
	// 			var lngCurrent = r.point.lng; 
	// 			alert('我的位置：'+ latCurrent + ',' + lngCurrent);
	
	// 			location.href="{:request()->scheme()}://api.map.baidu.com/direction?origin="+latCurrent+","+lngCurrent+"&destination=39.89778,116.709684&mode=driving&region=广州市经济技术开发区科学城开源大道&output=html"; 
	
	// 		} 
	// 		else { 
	// 			alert('failed'+this.getStatus()); 
	// 		}         
	// 	},{enableHighAccuracy: true}) 

	// 	map.addOverlay(marker);   
	// 	var licontent="<b>健龙森羽毛球馆</b><br>";   
	// 		licontent+="<span><strong>地址：</strong>北京市通州区滨河中路108号</span><br>";   
	// 		licontent+="<span><strong>电话：</strong>(010)81556565 / 6969</span><br>";           
	// 	var opts = {  
	// 		width : 200, 
	// 		height: 80, 
	// 	};          
	// 	var  infoWindow = new BMap.InfoWindow(licontent, opts);   
	// 	marker.openInfoWindow(infoWindow);   
	// 	marker.addEventListener('click',function(){ 
	// 		marker.openInfoWindow(infoWindow); 
	// 	});
	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
			BMAP_NORMAL_MAP,
			BMAP_HYBRID_MAP
		]}));	  
	
	//开启鼠标滚轮缩放
	map.enableScrollWheelZoom(true); 
	//window.onload=function(){
	var addr="广州市经济技术开发区科学城开源大道206号";
		setPlace(addr);
	//}

</script>
{/block}