{extend name="template/base.html" /}
{block name="content"}
     <section>
         <div>
             <img src="public_img/01.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/02.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/03.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/04.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/05.jpg" alt="" class="common_default_img">
         </div>
     </section>
{/block}
{block name="footer"}

{/block}
{block name="script"}

{/block}