{extend name="template/base.html" /}
{block name="content"}
     <section>
         <section class="header_title separation-line">
            <a href="javascript:void(0);" class="back_prev_page" data-jump_url=""></a>
            <h2 class="f24">项目优势</h2>
        </section>
         <div>
             <img src="public_img/01.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/02.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/03.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/04.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/05.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/06.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/07.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/08.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/09.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/10.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/11.jpg" alt="" class="common_default_img">
         </div>
         <div>
             <img src="public_img/12.jpg" alt="" class="common_default_img">
         </div>
     </section>
{/block}
{block name="footer"}

{/block}
{block name="script"}

{/block}