
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" orderState="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_certification">
            <div class="weChat_avatar_info">
                <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="" class="weChat_avatar">
                <div class="weChat_av_r">
                    <h2 class="person">个人中心</h2>
                    <span>微信昵称/注册实名</span>
                    <span>13679898888</span>
                </div>
            </div>
        </section>
        <section class="person_center_list">
            <div class="person_center_item">
                <span>订单管理</span>
            </div>
            <div class="person_center_item">
                <ul class="person_pending">
                    <li>
                        <a href="{:U('Cart/index')}">
                            <i class="cart"></i>
                            购物车
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderList',array('orderState'=>'10'))}">
                            <i class="pay"></i>
                            待付款
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderList',array('orderState'=>'20','orderState2' =>'30'))}">
                            <i class="receipt"></i>
                            待收货
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderList',array('orderState'=>'40'))}">
                            <i class="evaluate"></i>
                            待评价
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderList',array('orderState'=>'0'))}">
                            <i class="cancle"></i>
                            已取消
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderList',array('orderState'=>'50'))}">
                            <i class="customer_service"></i>
                            售后
                        </a>
                    </li>
                </ul>
            </div>
            <div class="person_center_item">
                <a href="{:U('Address/addressList')}" class="consignee_address right-arrow">收货人地址</a>
            </div>
            <div class="person_center_item person_collect">
                <div class="collect">
                    <span>40</span>
                    商品收藏
                </div>
                <div class="collect">
                    <span>40</span>
                    项目收藏
                </div>
                <div class="collect">
                    <span>40</span>
                    门店收藏
                </div>
            </div>
        </section>
        <section class="person_center_list">
            <div class="person_center_item">
                <a href="{:U('Coupons/coupons')}" class="cash_coupon right-arrow">代金券</a>
            </div>
            <div class="person_center_item">
                <a href="{:U('IntroduceClient/IntroduceClientIncome')}" class="pushing_income right-arrow">推客收益</a>
            </div>
        </section>
        <section class="person_center_list">
            <div class="person_center_item">
                <a href="javascript:void(0);" class="pushing_income right-arrow">账户管理</a>
            </div>
        </section>
    </article>
</block>
