<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>推广收益</title>
    <link rel="stylesheet" href="PUBLIC_CSS/common/public.css">
	<link rel="stylesheet" href="PUBLIC_CSS/common/weui.css">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
    <link rel="stylesheet" href="PUBLIC_JS/common/layer.mobile/need/layer.css">
</head>
<body>
<article class=" f24">
    <section class="promotion_income_top">
        <div>我的推广收益账户余额为<span>￥</span><price>9000.00</price></div>
        <p>注：推客收益账户余额可用于美妍美社购物，也可申请提现</p>
    </section>
    <section class="promotion_income_top">
        <div class="promotion_income_th">
            <span>余额</span>
            <span>收益</span>
            <span>支出/提现</span>
            <span>日期</span>
        </div>
        <ul class="promotion_income_item">
            <li>
                <span>￥<price>9800.00</price></span>
                <span>￥<price>8800.00</price></span>
                <span>￥<price>1500.00</price></span>
                <span>2017-10-20</span>
            </li>
             <li>
                <span>￥<price>9800.00</price></span>
                <span>￥<price>8800.00</price></span>
                <span>￥<price>1500.00</price></span>
                <span>2017-10-20</span>
            </li>
             <li>
                <span>￥<price>9800.00</price></span>
                <span>￥<price>8800.00</price></span>
                <span>￥<price>1500.00</price></span>
                <span>2017-10-20</span>
            </li>
        </ul>
    </section>
    <a class="withdrawalsBtn">我要申请提现</a>
</article>

<script src="PUBLIC_JS/common/jquery-1.11.3.min.js"></script>
<script src="PUBLIC_JS/common/layer.mobile/layer.js"></script>
<script src="PUBLIC_JS/common/public.js"></script>
<script src="PUBLIC_JS/common/common.js"></script>
</body>
</html>