{extend name="public/base" /}
{block name="css-customize"}

{/block}
{block name="content"}
<article class="f24">
	<section class="bottom_nav_fixed">
		<nav class=" foot_nav_bar">
			<ul class="columns_flex">
				<li class="each_column ">
					<a>
						<span class="store"></span>
						店家
					</a>
				</li>
				<li class="each_column">
					<a>
						<span class="practitioners"></span>
						从业人员
					</a>
				</li>
				<li class="each_column current">
					<a href="{:url('factory/Index/index')}">
						<span class="manufacturer"></span>
						厂商
					</a>
				</li>
			</ul>
		</nav>
	</section>
</article>
{/block}
{block name="backTop"}
{include file="public/rightSideBar" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swipe.js"></script>
<script type="text/javascript">
	$(function(){
		//滑动轮播
		var elem = document.getElementById('slider');
		swipe(elem);
	});
</script>
{/block}