<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>
<block name="nav">我的订单管理</block>
<block name="content">
    <article class="f24 order_management_wrapper">
        <section class="order_management_title">
            <img src="__PUBLIC__/images/purchase/mall/msy_logo.png" alt="">
            <h2>我的订单管理</h2>
        </section>
        <section>
            <div class="order_manage_item">
                <a href="{:U('Order/addressList')}">
                    <span class="customer_info"></span>
                    收货人信息管理
                </a>
            </div>
            <div class="order_manage_item">
                <a href="{:U('Cart/myCart')}">
                    <span class="customer_cart"></span>
                    采购车管理
                </a>
            </div>
            <div class="order_manage_item">
                <a href="">
                    <span class="customer_purchase_order"></span>
                    新增加的采购单
                </a>
            </div>
            <div class="order_manage_item">
                <a href="">
                    <span class="customer_order_complete"></span>
                    已完成的采购单
                </a>
            </div>
        </section>
    </article>
</block>
<block name="js-customize">
    <script src="__PUBLIC__/js/jquery.area.js"></script>

</block>
<block name="script">
    <script type="text/javascript">

    </script>

</block>