<extend name="Public:base" />

<block name="css-customize">
    <link href="{$Think.config.PUBLIC_ADMIN_CSS}/myms/skin.css" rel="stylesheet" type="text/css" />
    <link href="{$Think.config.PUBLIC_ADMIN_CSS}/myms/public.css" rel="stylesheet" type="text/css" />
</block>

<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('ProjectCategory/projectCategoryManage')}" class="current"><span>管理</span></a></li>
                    <li><a href="{:U('ProjectCategory/projectCategoryEdit')}" ><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div class="fixed-empty"></div>
        <table class="table tb-type2" id="prompt">
            <tbody>
                <tr><td><ul><li class="friendly_tipc">
                    <span>*</span>请注意：删除分类时，（1）如果分类存在子分类，也会把子分类删除，（2）如果分类存在项目，删除分类会有可能导致项目无法正常显示
                </li></ul></td></tr>
            </tbody>
        </table>
        <table class="table tb-type2">
            <thead>
                <tr class="thead">
                    <th></th>
                    <th>排序</th>
                    <th>分类名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <include file="projectCategoryList"/>
            </tbody>
            <tfoot>
                <notempty name="projectCategoryList">
                    <tr class="tfoot">
                        <td>
                            <input type="checkbox" class="checkall" id="checkall_2">
                            <label for="checkall_2" class="all_checkbox">全选</label>
                        </td>
                        <td id="batchAction" colspan="15">
                            <a href="JavaScript:void(0);" class="a-del-batch">批量删除</a>
                        </td>
                    </tr>
                </notempty>
            </tfoot>
        </table>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="{$Think.config.PUBLIC_ADMIN_JS}/myms/projectCategoryManage.js"></script>
</block>