<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/manageprogram.css">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <!--增加云店拓客项目弹窗-->
    <div id="manageProgram">
        <form name="" id="form1">
            <ul>
                <li>
                    <label class="pg_n_t">项目名称</label>
                    <input name="" type="text" placeholder="美容服务项目名称，字数限18个内"  class="pg_name" value="">
                    <input type="hidden" value="" class="project_id">
                </li>
                <li>
                    <label class="pg_n_t">简要特点</label>
                    <textarea placeholder="美容服务简要特点，字数限28个内" class="pg_cr_text" ></textarea>
                </li>
                <li>
                    <label class="pg_n_t">服务价格</label>
                    <div class="pg_item_wrapper">
                        <div class="pg_price_item">
                            <span class="pg_rate">特价￥</span>
                            <input type="text" placeholder="680" class="pg_price pg_t_price" value="">
                        </div>
                        <div class="pg_price_item">
                            <span class="pg_rate">原价￥</span>
                            <input type="text" placeholder="1680" class="pg_price pg_y_price" value="">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="pg_n_t">服务耗时</label>
                    <div class="pg_item_wrapper">
                        <div class="pg_price_item">
                            <span class="pg_rate">分钟</span>
                            <input type="text" placeholder="60" class="pg_price pg_t_consum" value="">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="pg_n_t">项目图片</label>
                    <a href="javascript:void(0);" class="pg_type upload_pg_pic">上传美容服务项目图片</a>
                    <input type="hidden" value="" class="uploadListViewImg"/>
                    <input type="hidden" value="" class="uploadHomeFocusImg"/>
                </li>
                <li>
                    <label class="pg_n_t">服务内容</label>
                    <a href="javascript:void(0);" class="pg_type edit_pg_t">编辑美容服务项目内容</a>
                    <input type="hidden" value="" class="pg_s_c">
                </li>
                <li>
                    <label class="pg_n_t">服务说明</label>
                    <a href="javascript:void(0);" class="pg_type edit_pg_ex">编辑美容服务项目说明</a>
                    <input type="hidden" value="" class="pg_s_e">
                </li>
                <li>
                    <label class="pg_n_t">服务门店</label>
                    <a href="javascript:void(0);" class="pg_type set_store">选择提供服务的门店(默认为全选)</a>
                    <input type="hidden" class="pg_m_store" value="" data-store="{$shop_names}"/>
                    <input type="hidden" class="shopId" value="" data-store="{$shop_ids}"/>
                    <input type="hidden" class="companyId" value="" data-store="{$company_ids}"/>

                </li>
            </ul>
        </form>
    </div>
    <!--服务项目图片上传弹窗-->
    <div id="serivcePgPic">
        <div class="uploadImg_map minImg f20">
            <div class="upload_td msy_image_map">
                <input type="file" class="uploadImg " name="uploadListViewImg">
                <img class="upload_img" src="__IMG__/default/spg_up_default.png" alt="">
                <span>更换美容项目列表图</span>
                <span class="pic_specify">950X500像素</span>
            </div>
        </div>
        <div class="uploadImg_map maxImg f20">
            <div class="upload_td msy_image_map pg_f_focus">
                <input type="file" class="uploadImg " name="uploadHomeFocusImg">
                <img class="upload_img" src="__IMG__/default/spg_up_default1.png" alt="">
                <span>更换美容项目详情页首焦图</span>
                <span class="pic_specify">1000X1000像素</span>
            </div>
        </div>
    </div>
    <!--服务项目内容弹窗-->
    <div id="serivePgContent">
        <textarea name="" cols="30" rows="10" placeholder="美容服务项目内容" class="pg_c_layer"></textarea>
    </div>
    <!--美容服务项目动态列表模板-->
    <div id="cloudsPgList" style="display:none;">
        <li>
            <div class='cs_pg_img'>
                <a href="javascript:void(0);">
                    <img src="__IMG__/default/store_img_1.jpg" alt="">
                </a>
            </div>
            <div class='cspg_item'>
                <div class="cspg_item_n">
                    <input type="hidden" value="" class="pg_tc">
                    <input type="hidden" value="" class="pg_ts">
                    <input type="hidden" value="" class="pg_jy">
                    <input type="hidden" value="" class="pg_yj">
                    <input type="hidden" value="" class="pg_hs">
                    <input type="hidden" value="" class="pg_src">
                    <p><i>热</i><span class="y_pg_n">维观生物项目分子胎多肽基因面膜</span></p>
                    <div class="project_price">￥<span class="pg_pr">344.00</span></div>
                </div>
                <div class="pg_status">
                    <div>
                        当前状态：
                        <span>上线</span>
                    </div>
                    <div>
                        <a href='javascript:void(0);' class='mod_pg'>修改项目</a>
                        <div class="on_off_line">
                            <a href='javascript:void(0);' data-v="0" class='off_line'>下线</a>
                            <a href='javascript:void(0);' data-v="1"  class='on_line'>上线</a>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </div>
    <!--设置美容服务所属门店弹窗-->

    <div class="cs_ad_part" id="epyStore">
        <ul class="f24">

            <empty name="shopList">
                <li>（暂无数据）</li>
                <else/>
                <volist name="shopList" id="vo">
                    <li companyId="{$vo.company_id}"  shop_id="{$vo.id}" class="">
                        <a href="javascript:void(0);">
                            <div class="cs_item_wrapper">
                                <div class="item-img-wrapper">
                                    <empty name="vo.logo_url">
                                        <img src="__IMG__/default/cs_ad_default.png" alt="" class="cs_item_img">
                                        <else/>
                                        <img src="__ROOT__/{$vo.logo_url}" alt=""/>
                                    </empty>
                                </div>
                                <div class="cs_item_description">
                                    <p>门店名称:<span class="epy_store_n">{$vo.storename}</span></p>
                                    <input class="shopId" type="hidden" name="shopId" value="{$vo.id}"/>
                                    <p>地址:<span>{$vo.address}</span></p>
                                    <p>{$vo.fixed_phone}</p>
                                    <p><i></i><span>距离你3.0km</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </volist>
            </empty>

        </ul>
    </div>

    <section class="msy_sign_title f20">
        <h2>管理美容机构的云店拓客项目</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav managepg_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加项目
            </a>
            <a href="javascript:void(0);" class="mod_pg_a">
                <span class="del_ad"></span>
                修改项目
            </a>
            <a href="javascript:void(0);" class="onOff_btn">
                <span class="up_ad"></span>
                上线下线
            </a>
        </nav>
    </section>
    <!--项目库列表-->
    <ul class="f24 cs_pg_list" >
        <empty name="projectList">
            <li>（暂无数据）</li>
            <else/>
            <volist name="projectList" id="vo">
        <li>
            <div class='cs_pg_img'>
                <a href="javascript:void(0);">
                    <img src="__ROOT__{$vo.list_view_img}" alt="">
                </a>
            </div>
            <div class='cspg_item'>
                <div class="cspg_item_n">
                    <input type="hidden" value="{$vo.content}" class="pg_tc">
                    <input type="hidden" value="{$vo.explain}" class="pg_ts">
                    <input type="hidden" value="{$vo.description}" class="pg_jy">
                    <input type="hidden" value="{$vo.price}" class="pg_yj">
                    <input type="hidden" value="{$vo.takes}" class="pg_hs">
                    <input type="hidden" value="{$vo.list_view_img}" class="list_view_img">
                    <input type="hidden" value="{$vo.home_focus_img}" class="home_focus_img">
                    <input type="hidden" value="{$vo.shop_ids}" class="shop_ids">
                    <input type="hidden" value="{$vo.id}" class="project_id">


                    <p><i>热</i><span class="y_pg_n">{$vo.name}</span></p>
                    <div class="project_price">￥<span class="pg_pr">{$vo.sale}</span></div>
                </div>
                <div class="pg_status">
                    <div>
                        当前状态：
                        <if condition="$vo.status eq 0 "> <span class="current_online">上线</span>
                            <else /><span class="current_online">下线</span>
                        </if>
                    </div>
                    <div>
                        <a href='javascript:void(0);' class='mod_pg'>修改项目</a>
                        <div class="on_off_line">
                            <a href='javascript:void(0);'  data-v="1" class='off_line'>下线</a>
                            <a href='javascript:void(0);'  data-v="0" class='on_line'>上线</a>
                        </div>
                    </div>
                </div>
            </div>

        </li>
            </volist>
        </empty>
    </ul>

</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">

        $(function(){
            var mgProgram=$('#manageProgram').html();
            var sPgeContent=$('#serivePgContent').html();
            var sPgPic=$('#serivcePgPic').html();
            var epyIStore=$('#epyStore').html();

            //增加云店拓客项目
            $('body').on('click','.add_a',function(){
                $('.branch_n_inpt').removeClass('current');
                $('.pg_status').css('display','none');
                layer.open({
                    type:1,
                    btn:['确定','取消'],
                    title:['增加云店拓客项目','border-bottom:1px solid #d9d9d9;'],
                    className:'manage_pg_layer',
                    content:mgProgram,
                    success:function(){
                        $('.pg_name').on('input propertychange',function(){
                            ObjMaxLength.MaximumWord(this,18);
                            return false;
                        });
                        $('.pg_cr_text').on('input propertychange',function(){
                            ObjMaxLength.MaximumWord(this,28);
                            return false;
                        })
                    },
                    yes: function(index){
                        var layerForm=$('.manage_pg_layer').find('#form1');
                        var addPgInfo={
                            name:layerForm.find('.pg_name').val(),
                            description:layerForm.find('.pg_cr_text').val(),
                            sale:layerForm.find('.pg_t_price').val(),
                            price:layerForm.find('.pg_y_price').val(),
                            takes:layerForm.find('.pg_t_consum').val(),
                            content:layerForm.find('.pg_s_c').val(),
                            explain:layerForm.find('.pg_s_e').val(),
                            shop_names:layerForm.find('.pg_m_store').data('store'),
                            shop_ids:layerForm.find('.shopId').data('store'),
                            company_ids:layerForm.find('.companyId').data('store'),
                            list_view_img:layerForm.find('.uploadListViewImg').val(),
                            home_focus_img:layerForm.find('.uploadHomeFocusImg').val()
                        };
                        console.log(layerForm.find('.pg_m_store').val());
                        var content = '';
                        if(!addPgInfo.name){
                            content = '请填写项目名称！';
                        }else if(!addPgInfo.description){
                            content = '请填写项目简要特点';
                        }else if(!addPgInfo.price){
                            content = '请填写项目原价';
                        }else if(!addPgInfo.takes) {
                            content = '请填写项目服务耗时时间';
                        } else if(!addPgInfo.content){
                            content = '请编辑服务项目内容';
                        } else if(!addPgInfo.explain){
                            content = '请编辑服务项目说明';
                        }


                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }


                        $.post('projectManagement',addPgInfo,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                var csPgList=$('#cloudsPgList');
                                csPgList.find('.y_pg_n').text(addPgInfo.name);
                                csPgList.find('.pg_pr').text(addPgInfo.sale);
                                csPgList.find('.pg_tc').val(addPgInfo.content);
                                csPgList.find('.pg_ts').val(addPgInfo.explain);
                                csPgList.find('.pg_jy').val(addPgInfo.description);//
                                csPgList.find('.pg_yj').val(addPgInfo.price);
                                csPgList.find('.pg_hs').val(addPgInfo.takes);
                                csPgList.find('img').attr('src',addPgInfo.list_view_img);
                                $('.cs_pg_list').prepend(csPgList.html());
                            }
                        },'JSON');
                        layer.close(index);
                    }
                });
            });

            //上传美容服务项目图片
            $('body').on('click','.upload_pg_pic',function(){
                layer.open({
                    type:1,
                    btn:['确定','取消'],
                    title:['上传美容服务项目图片','border-bottom:1px solid #d9d9d9;'],
                    className:'serivce_pg_layer',
                    content:sPgPic
                })
                $('.serivce_pg_layer').find("input[name='uploadListViewImg']").next().attr('src',$('.manage_pg_layer').find('.uploadListViewImg').val());
                $('.serivce_pg_layer').find("input[name='uploadHomeFocusImg']").next().attr('src',$('.manage_pg_layer').find('.uploadHomeFocusImg').val());


            })
            //编辑美容服务项目内容
            $('body').on('click','.edit_pg_t,.edit_pg_ex',function(){
                var editTitle=$(this).text();
                var _this=$(this);
                layer.open({
                    btn:['确定','取消'],
                    title:[editTitle],
                    className:'edit_pgt_layer',
                    content:sPgeContent,
                    success:function(){
                        if(_this.hasClass('edit_pg_t')){
                            $(".pg_c_layer").val($('.pg_s_c').val());
                        }
                        if(_this.hasClass('edit_pg_ex')){
                            $(".pg_c_layer").val($('.pg_s_e').val());
                        }
                        $('.edit_pgt_layer textarea').attr('placeholder',editTitle);
                    },
                    yes:function(index){
                        var tarea=$('.edit_pgt_layer textarea').attr('placeholder',editTitle).val();
                        if(_this.hasClass('edit_pg_t')){
                            $(".pg_s_c").val(tarea);
                        }
                        if(_this.hasClass('edit_pg_ex')){
                            $(".pg_s_e").val(tarea);
                        }
                        layer.close(index);
                    }
                });
            });

            //设置服务线下所属门店
            $('body').on('click','.epy_store_layer li',function(){
                $(this).toggleClass('current');
            });


            $('body').on('click','.set_store',function(){
                var storeArr=[];
                var storeidArr=[];
                var companyids=[];

                layer.open({
                    btn:['确定','取消'],
                    title:['设置员工所属门店','border-bottom:1px solid #d9d9d9;'],
                    className:'epy_store_layer',
                    content:epyIStore,
                    success:function(){
                        var shop_ids = $('.shop_ids').val();
                        var project_id=$('.project_id').val();
                        var storeLength=$('.pg_m_store').data('store').length;

                            $.each($('.epy_store_layer li'), function(i,val){
                                for(var i=0;i<storeLength;i++){
                                    if($('.pg_m_store').data('store')[i]==$(this).find('.epy_store_n').text()){
                                        $(this).addClass('current');
                                    }
                                    //显示之前已选择的门店
                                    if(project_id){
                                            if($.inArray($(this).attr("shop_id"), shop_ids.split(",")) != -1){
                                                $(this).addClass('current');
                                          }
                                    }
                                }
                            });

                    },
                    yes:function(index){

                        $.each($('.epy_store_layer li'), function(i,val){
                            if($(this).hasClass('current')){
                                storeArr.push($(this).find('.epy_store_n').text());
                                $('.pg_m_store').data('store',storeArr);
                                storeidArr.push($(this).find('.shopId').val());
                                $('.shopId').data('store',storeidArr);
                                companyids.push($(this).attr("companyId"));
                                $('.companyId').data('store',companyids);
                            }
                        });
                        if(storeArr.length==0){
                            layer.open({
                                content:'至少选择一个所属门店',
                                time:2
                            })
                        }
                        layer.close(index);
                    }
                });
            });

            //上下线
            $('.onOff_btn').on('click',function(){
                $('.pg_status').css('display','flex');
                $('.on_off_line').css('display','block');
                $('.mod_pg').css('display','none');
            });

            $('body').on('click','.on_line,.off_line',function(){
                var _this = $(this);
                var _thisLi = _this.parent().parent().parent().parent().parent();
                var project_id = _thisLi.find('.project_id').val();
                var status = _this.attr('data-v');
                $.post('onOffLine',{project_id:project_id,status:status},function(msg){
                    if(msg.status == 1){
                        if(msg.data == '0'){
                            _thisLi.find('.current_online').text('上线');
                        }
                        if(msg.data == '1'){
                            _thisLi.find('.current_online').text('下线');
                        }
                    }
                },'JSON');
            });

            //修改拓客项目
            $('.mod_pg_a').on('click',function(){
                $('.pg_status').css('display','flex');
                $('.on_off_line').css('display','none');
                $('.mod_pg').css('display','block');
            });
            $('body').on('click','.mod_pg',function(){
                var _this=$(this);
                var parentSiblings=_this.parent().parent().siblings();
                layer.open({
                    type:1,
                    title:'修改云店拓客项目',
                    className:'manage_pg_layer',
                    btn:['确定','取消'],
                    content:mgProgram,
                    yes:function(index){
                        var layerForm=$('.manage_pg_layer').find('#form1');
                        parentSiblings.find('.y_pg_n').text(layerForm.find('.pg_name').val());
                        parentSiblings.find('.pg_pr').text(layerForm.find('.pg_t_price').val());
                        parentSiblings.find('.pg_tc').val(layerForm.find('.pg_s_c').val());
                        parentSiblings.find('.pg_ts').val(layerForm.find('.pg_s_e').val());
                        parentSiblings.find('.pg_jy').val(layerForm.find('.pg_cr_text').val());
                        parentSiblings.find('.pg_yj').val(layerForm.find('.pg_y_price').val());
                        parentSiblings.find('.pg_hs').val(layerForm.find('.pg_t_consum').val());


                        var savePgInfo={
                            name:layerForm.find('.pg_name').val(),
                            description:layerForm.find('.pg_cr_text').val(),
                            sale:layerForm.find('.pg_t_price').val(),
                            price:layerForm.find('.pg_y_price').val(),
                            takes:layerForm.find('.pg_t_consum').val(),
                            content:layerForm.find('.pg_s_c').val(),
                            explain:layerForm.find('.pg_s_e').val(),
                            shop_names:layerForm.find('.pg_m_store').data('store'),
                            shop_ids:layerForm.find('.shopId').data('store'),
                            company_ids:layerForm.find('.companyId').data('store'),
                            list_view_img:layerForm.find('.uploadListViewImg').val(),
                            home_focus_img:layerForm.find('.uploadHomeFocusImg').val(),
                            project_id:layerForm.find('.project_id').val(),
                        };
                           layer.close(index);
                        $.post('projectManagement',savePgInfo,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                   location.href='__MODULE__/project/projectManagement';

                            }
                        },'JSON')

                    }
                });
                //列表值赋值给弹层对应的值
                $('.pg_name').val(parentSiblings.find('.y_pg_n').text());
                $('.pg_t_price').val(parentSiblings.find('.pg_pr').text());
                $('.pg_s_c').val(parentSiblings.find('.pg_tc').val());
                $('.pg_s_e').val(parentSiblings.find('.pg_ts').val());
                $('.pg_cr_text').val(parentSiblings.find('.pg_jy').val());
                $('.pg_y_price').val(parentSiblings.find('.pg_yj').val());
                $('.pg_t_consum').val(parentSiblings.find('.pg_hs').val());
                $('.pg_pic_src').val(parentSiblings.find('.pg_src').val());
                $('.project_id').val(parentSiblings.find('.project_id').val());
                $('.uploadListViewImg').val(parentSiblings.find('.list_view_img').val());
                $('.uploadHomeFocusImg').val(parentSiblings.find('.home_focus_img').val());
                $('.old_shop_ids').val(parentSiblings.find('.old_shop_ids').val());
                $('.old_shop_names').val(parentSiblings.find('.old_shop_names').val());
                $('.old_company_ids').val(parentSiblings.find('.old_company_ids').val());

            });

            // 上传图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();
                var name=$(this).attr("name");

                // 判断是否图片
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    console.log(e.target.result);
                    $(obj).addClass('active');
                    $(obj).find('img').attr('src',imgUrl)

                    $.post("projectManagement", { img: e.target.result,name:name},function(ret){
                        if(ret.status == 1){
                            if(name=='uploadListViewImg'){
                                $('.serivce_pg_layer').find("input[name='uploadListViewImg']").next().attr('src',ret.data);
                                $('.uploadListViewImg').val(ret.data);
                            }
                            if(name=='uploadHomeFocusImg'){
                                $('.serivce_pg_layer').find('[name=uploadHomeFocusImg]').next().attr('src',ret.data);
                                $('.uploadHomeFocusImg').val(ret.data);
                            }
//
                        }
                        if(ret.status == 0){
                            dialog.error(ret.message);
                        }

                    },'json');
                }
            });

        });

    </script>

</block>