
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" orderState="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_head_title">
            <h2>代金券</h2>
        </section>
        <section class="purchase_voucher voucher_manage">
            <p class="vch_money">待领的代金券</p>
            <notempty name="couponsUnReceive">
                <volist name="couponsUnReceive" id="vo">
                    <div class="purchase_voucher_item yq_voucher">
                        <input type="hidden" class="coupons_id" value="{$vo.id}">
                        <div class="p_v_l">
                            <span class="p_voucher">{$vo.amount}元</span>
                            <span>预约代金券</span>
                        </div>
                        <div class="p_v_r">
                            <span>失效日期</span>
                            <span>{$vo.failure_time|date="Y-m-d",###}</span>
                            <a href="javascript:void(0);" class="voucher_receive">立即领取</a>
                        </div>
                    </div>
                </volist>
                <else />
                <p>(暂无新的代金券发布)</p>
            </notempty>
        </section>
        <section class="purchase_voucher">
            <p class="vch_money">可用的代金券</p>
            <notempty name="couponsReceiveList">
                <volist name="couponsReceiveList" id="vo">
                    <div class="purchase_voucher_item cp_voucher">
                        <input type="hidden" class="coupons_id" value="{$vo.id}">
                        <div class="p_v_l">
                            <span class="p_voucher">{$vo.amount}元</span>
                            <span>{$vo.type|couponsType}代金券</span>
                        </div>
                        <div class="p_v_r">
                            <span>获得日期</span>
                            <span>{$vo.acquire_time|date="Y-m-d",###}</span>
                            <span>失效日期</span>
                            <span>{$vo.failure_time|date="Y-m-d",###}</span>
                        </div>
                    </div>
                </volist>
                <else />
                <p>(暂无可用代金券)</p>
            </notempty>
            <p>注：失效的代金券将自行删除</p>
        </section>
    </article>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.voucher_receive',function(){
                var _This=$(this);
                var couponsId =  $(this).parents('.yq_voucher').find('.coupons_id').val();
                var url = MODULE+'/Coupons/CouponsReceive';
                $.ajax({
                    type : 'post',
                    data: {couponsId:couponsId},
                    url:url,
                    beforeSend: function(){

                    },
                    success: function(data)
                    {
                        if(data.status == 0){
                            dialog.error(data.info)
                        }else{
                            layer.open({
                                content:'已领取代金券<br/>请在有效期内使用',
                                btn:['确定'],
                                yes:function(index){
                                    var voucherLength=$('.yq_voucher').length;
                                    _This.parents('.purchase_voucher_item').remove();
                                    $('.purchase_voucher').eq(1).find('.vch_money').after(data);
                                    if(voucherLength==1){
                                        $('.purchase_voucher').eq(0).find('.vch_money').after('<p>(暂无新的代金券发布)</p>');
                                    }
                                    layer.close(index)
                                }
                            })
                        }
                    },
                    complete:function(){

                    }
                });
              
            })
        });
        //活动倒计时
    </script>
</block>