<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="title">评分评论</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_head_title ">
            <h2>我的评分评论</h2>
        </section>
        <div id="sellerScoringReview">
            <div class="score_review_content f24">
                <div class="score_review_item">
                    <span class="my_scoring">请选择评分</span>
                    <div class="my_score_star">
                        <div class="star_score star_img">
                            <a href="javascript:void(0);" data-show="">
                                <img src="PUBLIC_IMG/common/star.png" />
                            </a>
                            <a href="javascript:void(0);" data-show="">
                                <img src="PUBLIC_IMG/common/star.png" />
                            </a>
                            <a href="javascript:void(0);" data-show="">
                                <img src="PUBLIC_IMG/common/star.png" />
                            </a>
                            <a href="javascript:void(0);" data-show="">
                                <img src="PUBLIC_IMG/common/star.png" />
                            </a>
                            <a href="javascript:void(0);" data-show="">
                                <img src="PUBLIC_IMG/common/star.png" />
                            </a>
                        </div>
                        <span class="fraction my_fraction" data-score=""></span>
                    </div>
                </div>
                <div class="score_review_item">
                    <span class="my_scoring">我的评论（可不填）</span>
                    <form id="form1">
                        <input type="hidden" name="order_id" value="{$orderId}"/>
                        <input type="text" name="title" placeholder="评论标题" class="business_record_title seller_comment_title" value="">
                        <textarea name="content"  cols="30" rows="10" placeholder="评论内容" class="business_record_content seller_comment_text"></textarea>
                    </form>
                    <a href="javascript:void(0);" class="pink rating_review">递交评分评论</a>
                </div>
            </div>
        </div>
        <section class="f24 seller_scoring_review">
            <div>
                <div class="store_score_title">
                    <span>购买用户评分</span>
                    <p><span>{$userCommentNum}</span>份购买用户评分</p>
                </div>
                <div class="store_score_star five_star">
                    <div class="star_img empty_star">
                        <span class="real_star"></span>
                    </div>
                    <span class="fraction" data-score=""></span>
                </div>
                <volist name="scoreBase" id="vo">
                    <div class="score_star_item">
                        <div class="store_score_star five_star store_score_progress">
                            <div class="star_img empty_star" data-id="{$vo.score}" data-percent="{$vo.percent}">
                                <span class="real_star"></span>
                            </div>
                            <div class="star_progress_bar">
                                <span class="real_star_progress"></span>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
            <div>
                <div class="store_score_title">
                    <span>购买用户评论</span>
                    <p><span>{$userCommentNum}</span>份购买用户评论</p>
                </div>
                <div class="sales_comment_wrapper"></div>
            </div>
        </section>
    </article>
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/mall/comment.js"></script>
    <script type="text/javascript">
        $(function(){
            //星星评分等级(定位)
            $('.star_img').classStar({$aveScore});
            $.each($('div[data-id]'),function(i,obj){
                var starParentId=$(this).data('id');
                var percent=$(this).data('percent');
                $(this).classStar(starParentId);
                $(this).next().getProgressBar(percent);

            });
            
            //点击星星评分
            $('body').on('click','.star_score a',function(){
                var star='PUBLIC_IMG/common/star.png';
                var starRed='PUBLIC_IMG/common/starred.png';
                var prompt=['1分','2分','3分','4分','5分'];
                var starId=$(this).index();
                $.each($('.star_score img'),function(){
                    $(this).attr('src',star);//遍历img元素为空心星
                })
                $(this).find('img').attr('src',starRed);
                $(this).prevAll().find('img').attr('src',starRed);
                $(this).parent().next('.fraction').text(prompt[starId]);
                $(this).parent().next('.fraction').attr('data-score',starId+1);
            });
            //提交评论
            $('body').on('click','.rating_review',function(){
                var postData = $('#form1').serializeObject();
                postData.score = $('.fraction').attr('data-score');
                var url = MODULE + '/Comment/CommentEdit';
                var commentext=$('.seller_comment_text').val();
                var content='';
                    if(!postData.score ){
                        content='请选择评分';
                        dialog.error(content);
                        return false;
                    }else if(!commentext){
                        content='请评论内容';
                        dialog.error(content);
                        return false;
                    }
                $.ajax({
                    url: url,
                    data: postData,
                    type: 'post',
                    beforeSend: function(){
                        $('.loading').show();
                    },
                    error:function(){
                        $('.loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('.loading').hide();
                        if(data.status == 0){
                            dialog.error(data.info);
                        }else if(data.status == 1){
                            dialog.success('谢谢您的评论！',MODULE+'/Order/orderManage');
                        }
                    }
                });
            });
            var config = {
                pageSize:4,
                templateType:'list'
            };
            //初始化
            getCommentList(config);
            $('html,body').animate({scrollTop:0+'px'});
            //上拉加载更多
           
        });
        window.onload=function(){
             $(window).on('scroll',function(){
                console.log($(document).scrollTop());
                console.log($(window).height());
                console.log($(document).height());
                if($(document).scrollTop()+$(window).height()==$(document).height()){
                    console.log(1);
                    getCommentList(config);
                }
            });
        }
    </script>
</block>