{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="title"}开店部署{/block}
{block name="content"}
<section id="groupRole" style="display: none;">
	<div class="groupRole-box">
		<input class="role-name input-filed" type="text" value="" placeholder="请输入角色名称">
	</div>
</section>
<section id="rolePower" style="display: none;">
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
	</ul>
</section>
<article class="f24">
	<section class="top_nav_fixed">
		<div class="top_bar top-switch-bar columns_flex l-r-sides">
			<div class="">
				<a class="home">首页</a>
			</div>
			<div class="">
				<img class="left" src="public_img/default/no_pic_40.jpg" alt="">
				<span>爱国宾</span>
			</div>
			<div class="">
				<a class="switch-account">切换供应商账号></a>
			</div>
		</div>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex f20">
			<a>企业档案</a>
			<a>商标备案</a>
			<a>开店申请</a>
			<a class="column_type current">组别角色</a>
			<a>账号授权</a>
		</div>
	</section>
	<section class="f24 ">
		<div class="page-bd">
			<nav class="apply-data-nav">
				<ul id="status " class="status f24 weui-flex group-role-nav">
					<li class="weui-flex-item "><a href="{:url('Organize/index')}"><span class="ogranzi"></span><em></em>组织</a></li>
					<li class="weui-flex-item "><a href="javascript:void(0);"><span class="group"></span><em></em>组别</a></li>
					<li class="weui-flex-item current"><a href="{:url('Organize/role')}"><span class="role"></span><em></em>角色</a></li>
					<li class="weui-flex-item "><a href="javascript:void(0);"><span class="juris"></span>权限</a></li>
				</ul>
			</nav>
		</div>
	</section>
	<section>
		<ul class="account-role-list role-list">
			<li>
				<span>总经理</span>
				<div class="operate-box">
					<a class="power btn">f</a>
					<a class="edit btn">i</a>
					<a class="reduce btn">-</a>
				</div>
			</li>
			<li>
				<span>运营总监</span>
				<div class="operate-box">
					<a class="power btn">f</a>
					<a class="edit btn">i</a>
					<a class="reduce btn">-</a>
				</div>
			</li>
		</ul>
		<div class="add-role">
			<a href="javascript:void(0);" class="add">+</a>
		</div>
	</section>
	<p class="f20 content-box group-role-tipc">提示：选择角色进行默认权限的设定，全部角色默认权限设定后再按确定。</p>
	<!--<a href="javascript:void(0);" class="add-account foot-btn">下一步</a>-->
</article>
{/block}
{block name="common"}
{include file="template/footer_menu_msy.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
$(function () {
	//初始化
	getRoleList();
	var groupRole=$('#groupRole').html();
	$('body').on('click','.add-role .add',function(){
		layer.open({
			title:['新增角色','border-bottom:1px solid #d9d9d9;'],
			className:'',
			content:groupRole,
			btn:['确定','取消']
		});
	});
	var rolePower=$('#rolePower').html();
	$('body').on('click','.power',function(){
		layer.open({
			title:['角色赋权','border-bottom:1px solid #d9d9d9;'],
			className:'rolePowerLayer',
			content:rolePower,
			btn:['确定','取消']
		});
	});
	$('body').on('click','.rolePowerLayer li',function(){
		$(this).toggleClass('current');
	});
});
//获取组织列表
function getRoleList() {
	var postData = {};
	var url = controller + 'getRoleList';
	$.get(url,postData,function(data){
	});
}
</script>
{/block}