<extend name="Public:base" />

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="{$Think.config.PUBLIC_ADMIN_CSS}/myms/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="{$Think.config.PUBLIC_ADMIN_CSS}/myms/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Goods/goodsManage')}"><span>管理</span></a></li>
                    <li><a href="{:U('Goods/goodsEdit')}"><span>编辑</span></a></li>
                    <li><a href="{:U('Goods/goodsOnoffLine')}"><span>上下架</span></a></li>
                    <li><a href="{:U('Goods/commonImageEdit')}"><span>公共图片编辑</span></a></li>
                    <li><a href="{:U('Goods/commonImageManage')}"  class="current"><span>公共图片管理</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <div class="search-result">
                <notempty name='goodsList'>
                    <table class="table tb-type2">
                        <thead>
                        <tr class="thead">
                            <th></th>
                            <th>商品名称</th>
                            <th>工作室特惠价</th>
                            <th>团购价</th>
                            <th>库存</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="goodsList" id="vo">
                            <tr class="hover edit" data-id="{$vo.id}">
                                <td class="w48"><input type="checkbox" class="checkitem">
                                <td class="w48 sort"><span title="" class="editable ">{$vo.sort}</span></td>
                                <td class="w50pre name"><span title="" class="editable ">{$vo.name}</span></td>
                                <td>
                                    <if condition="$vo.category_name_3 neq '' ">{$vo.category_name_3}
                                        <elseif condition="$vo.category_name_2 neq '' "/>{$vo.category_name_2}
                                        <else />{$vo.category_name_1}
                                    </if>
                                </td>
                                <td>{$vo.price}</td>
                                <td>{$vo.special_price}</td>
                                <td>{$vo.group_price}</td>
                                <td>{$vo.inventory}</td>
                                <td class="w96">
                                    <a href="javascript:void(0);" class="editGoods">编辑</a>
                                    | <a href="javascript:void(0);" class="delGoods">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        <tr class="tfoot">
                            <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                            <td id="batchAction" colspan="15">
                                <span class="all_checkbox"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
                                <a href="JavaScript:void(0);" class="batchDel" ><span>批量删除</span></a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <else/>
                    <table class='loading'>没有符合条件的记录！</table>
                </notempty>
            </div>
            <div class="pager" style="text-align: center;margin:30px 0 0 0">{$pageList}</div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='{$Think.config.PUBLIC_ADMIN_IMG}/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="{$Think.config.PUBLIC_ADMIN_JS}/common/categoryLinkage.js"></script>
    <script type="text/javascript">
        //商品列表
        function getPage(currentPage) {
            $("#goodsList").html($('#loading').html());
            var url = CONTROLLER+'/goodsList';
            var postData = $('#form1').serializeObject();
            postData.p = currentPage ? currentPage : 1;
            postData.pageSize = 10;

            $.get(url, postData , function(data){
                $('#goodsList').html(data);
            });
        }

        $(function () {
            //加载第一页
            getPage();

            //分类筛选
            $('body').on('change','[name=category_id_1],[name=category_id_2],[name=category_id_3]',function () {
                getPage();
            });

            //翻页
            $('body').on('click','.pager a',function(){
                getPage($(this).data('page'));
            });

            //搜索
            $('#searchGoods').click(function(){
               getPage();
            });

            //编辑
            $('body').on('click','.editGoods',function(){
                var _thisTr = $(this).parents('tr');
                var url =  CONTROLLER + '/goodsEdit/goodsId/' + _thisTr.data('id');
                location.href = url;
            });

            //删除
            $('body').on('click','.delGoods',function(){
                var _thisTr = $(this).parents('tr');
                var postData = {};
                postData.goodsId = _thisTr.data('id');
                var url =  CONTROLLER + '/goodsDel';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function(){
                        _thisTr.remove();
                    });
                });
            });

            //批量删除
            $('body').on('click','.batchDel',function(){
            });
        });
    </script>
</block>