<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>


<block name="content">
    <article class="msh_product_picture">
        <section class="goods_picture goods_detail_banner" >
            <img src="__ROOT__/Uploads/{$goodsInfo.first_img}" alt="">
        </section>
        <section class="hot_detail f24">
            <div class="hot_detail_info">
                <div class="hot_title">
                    <span class="hot_tags_tipc">热销</span>
                    <p>{$goodsInfo.name}</p>
                </div>
                <div class="hot_tags_type">
                    <volist name="goodsInfo.tag" id="vo">
                    <span>{$vo}</span>
                    </volist>
                    <a href="javascript:void(0);" class="collection_product">收藏商品</a>
                </div>
            </div>
            <div class="hot_detail_info">
                <div class="packing_specification">
                    <span>包装规格：</span>
                    <span>{$goodsInfo.norms}</span>
                </div>
                <div class="purchasing_price">
                    <span>价格：</span>
                        <span>{$goodsInfo.price}</span>
                </div>
            </div>
            <div class="purchasing_intro_text">{$goodsIntro}</div>
        </section>
        <section class="hot_detail hot_countdown_detail f24">
            <div class="hot_count_down">
                <i></i>
                <div>
                    <p>本周联合采购结算日倒计时</p>
                    <div id="countDownBox" class="">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </div>
                </div>
            </div>
            <div class="hot_detail_info">
                <p>提示：采购商可随时参与每周联合采购活动，联合采购结算日为每周四晚上12：00，平台核准订单后进行备货发货。</p>
            </div>
            <div class="goods_star_score">
                <div class="five_star">
                    <div class="star_img">
                        <img src="__PUBLIC__/images/purchase/mall/star.png" id="0">
                        <img src="__PUBLIC__/images/purchase/mall/star.png" id="1">
                        <img src="__PUBLIC__/images/purchase/mall/star.png" id="2">
                        <img src="__PUBLIC__/images/purchase/mall/star.png" id="3">
                        <img src="__PUBLIC__/images/purchase/mall/star.png" id="4">
                    </div>
                    <span class="fraction" data-score="{$goodsInfo.evaluation_good_stars}"></span>
                </div>
                <a href="javascript:void(0);" class="comment_num">{$goodsInfo.evaluation_count}人评论</a>
            </div>
        </section>
        <section class="hot_detail f24">
            <h2>商品参数</h2>
            <div class="commodity_parameter">
                {$goodsParameter}
            </div>
        </section>
        <section class="hot_detail f24">
            <h2>商品详情</h2>
            <ul>
                <li>
                    <volist name="goodsInfo.detail_imgs" id="vo">
                    <p>
                        <img src="__ROOT__/Uploads/{$vo}" alt="">
                    </p>
                </volist>
                </li>
            </ul>
        </section>

    </article>

    <footer class="shopping_nav f24">
        <a href="javascript:void(0);"><i class="smile_face"></i>客服</a>
        <a href="{:U('Cart/myCart')}">
            <i class="commodity_quantity cart_d_num">{$goodsCount}</i>
        </a>
        <a class="add_cart" href="javascript:void(0);">加入购物车</a>
        <input class="goods_id" name="" type="hidden" value="{$goodsInfo.id}">
        <a href="{:U('Order/addOrder',array('goodsId'=>$goodsInfo['id']))}" class="buyNow">立即购买</a>
    </footer>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:3,
                star:'/public/images/purchase/mall/star.png',
                starRed:'/public/images/purchase/mall/starred.png'
            });
            //console.log($('.five_star').getStar());
            countDown("2017/06/20 16:56:00","#countDownBox");

           //加入购物车
            $('.add_cart').click(function () {
                var goodsId = $('.goods_id').val();
                $.post(MODULE + '/Cart/addCart', {id: goodsId}, function (msg) {
                    if(msg.status == 0){
                        var url = APP+'/UserCenter/User/login';
                        dialog.confirm(msg.info,url);

                    }
                    if (msg.status == -1) {
                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        console.log(msg.info.count)
                        $('.commodity_quantity').text(msg.info.count);
                    }
                }, 'json')
            });


        });
        //活动倒计时
        function countDown(time,id){
            var day_elem = $(id).find('.day');
            var hour_elem = $(id).find('.hour');
            var minute_elem = $(id).find('.minute');
            var second_elem = $(id).find('.second');
            var end_time = new Date(time).getTime(),//月份是实际月份-1
                    sys_second = (end_time-new Date().getTime())/1000;

            var timer = setInterval(function(){
                //console.log(sys_second);
                if (sys_second > 1) {
                    sys_second -= 1;
                    var day = Math.floor((sys_second / 3600) / 24);
                    var hour = Math.floor((sys_second / 3600) % 24);
                    var minute = Math.floor((sys_second / 60) % 60);
                    var second = Math.floor(sys_second % 60);
                    day_elem && $(day_elem).text(day);//计算天
                    $(hour_elem).text(hour<10?"0"+hour:hour);//计算小时
                    $(minute_elem).text(minute<10?"0"+minute:minute);//计算分
                    $(second_elem).text(second<10?"0"+second:second);//计算秒
                } else {
                    clearInterval(timer);
                }
            }, 1000);
        }
    </script>


</block>