<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>
<block name="content">
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="__PUBLIC__/images/purchase/mall/banner1.jpg" /></div>
            <div><img src="__PUBLIC__/images/purchase/mall/banner_02.jpg" /></div>
            <div><img src="__PUBLIC__/images/purchase/mall/banner_01.jpg" /></div>
            <div><img src="__PUBLIC__/images/purchase/mall/banner_02.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="f28 beauty_classification_nav">
        <div class="beauty_menu">
            <input type="hidden" class="categoryId" value="{$categoryId}">
            <notempty name='catList'>
                <ul class="beauty_classification">
                    <volist name="catList" id="vo">
                        <if condition="$vo['id'] eq $categoryId ">
                            <li class="catClick current " categoryId="{$vo.id}">{$vo.name}</li>
                            <else />
                            <li class="catClick" categoryId="{$vo.id}">{$vo.name}</li>
                        </if>

                    </volist>
                </ul>
                <else/>
                <ul class='loading'>没有符合条件的记录！</ul>
            </notempty>
        </div>
    </nav>
    <div class="beauty_contents">
        <div class="contents-tablist clearfix">
            <volist name="catList" id="vo">
                <div class="contents-tablist-wrap fl active">
                    <div class="content" ></div>
                </div>
            </volist>
        </div>
    </div>
    <footer class="f24 shopping_cart_nav">
        <div class="shopping_cart_l">
            <a href="{:U('Cart/myCart')}" class="shop_cart"><i class="commodity_quantity">{$cartInfo.count}</i></a>
            <input type="hidden" class="cartIds" value="{$cartIds}">
            <div class="s_total_price">
                <span class="total_price">{$cartInfo.total}</span>
            </div>
        </div>
        <a href="javascript:void(0);" class="payment"><i class="collect"></i>去结算</a>
    </footer>

</block>
<block name="js-customize">


</block>
<block name="script">
    <script>
        //切换分类商品列表
        var url_ajax = CONTROLLER+'/ajaxGoodsList';
        $(function() {

            var categoryId = $('.categoryId').val();
            $('.catClick').click(function () {
                var categoryId =$(this).attr('categoryId');
                getPage(categoryId);
            });
            getPage(categoryId)

        });
        function getPage(categoryId) {
            $(".content").html("<div class='loading'><img src='__PUBLIC__/images/purchase/default/loading.gif' alt='loading'></div>");
            $.get(url_ajax, {categoryId:categoryId}, function(data) {
                $('.content').html(data);
            })
        }

        $(function() {
            var tabLength=$('.contents-tablist-wrap').length;
            //var oLiWidth=$('.beauty_classification li').width();
            var oLiLength=$('.beauty_classification li').length;
            var wWidth=$(window).width();
            var wHeight=$(window).height();
            var bMenuWidth=$('.beauty_menu').width();
            var bNavWidth=$('.beauty_classification_nav').width();

            $('.contents-tablist').css({
                'width':wWidth*tabLength+'px'
            });
            $.each($('.contents-tablist-wrap'),function(i,val){
                $(this).css({
                    'width':wWidth+'px',
                    'minHeight':wHeight+'px'
                })
            });
            //点击滑动
            $('.beauty_classification li').on('click',function(){
                var _this=$(this).index();
                var tabLeftW=_this*wWidth;
                oLiWidth=$(this).width();

                $(this).addClass('current').siblings().removeClass('current');
                $('.contents-tablist').css({
                    'width':wWidth*tabLength+'px',
                    'transition-duration': '0.5s',
                    'transform':'translate3d(-'+tabLeftW+'px,0,0)'
                });
                $('.contents-tablist-wrap').eq(_this).addClass('active').siblings().removeClass('active');
                var bAverageWidth = ($(".beauty_classification_nav").width() - oLiWidth) / 2;
                var mLeftValue;
                var oLiCLeft = parseInt($(this).position().left);
                if (oLiCLeft <= bAverageWidth) {
                    mLeftValue = 0;
                } else if (bAverageWidth - oLiCLeft <= bNavWidth - bMenuWidth) {
                    mLeftValue = bNavWidth - bMenuWidth;
                } else {
                    mLeftValue = bAverageWidth - oLiCLeft;
                }
                $(".beauty_menu").animate({
                    "left" : mLeftValue
                }, 300);
            });

            //滑动
            $(".beauty_menu").on('touchstart', function (e) {
                var touch1 = e.originalEvent.targetTouches[0];
                x1 = touch1.pageX;
                y1 = touch1.pageY;
                bm_left = parseInt($(this).css("left"));
            });
            $(".beauty_menu").on('touchmove', function (e) {
                e.preventDefault();
                var touch2 = e.originalEvent.targetTouches[0];
                var x2 = touch2.pageX;
                var y2 = touch2.pageY;
                if(bm_left + x2 - x1>=0){
                    $(this).css("left", 0);
                }else if(bm_left + x2 - x1<=bNavWidth-bMenuWidth){
                    $(this).css("left", bNavWidth-bMenuWidth);
                }else{
                    $(this).css("left", bm_left + x2 - x1);
                }
                if(Math.abs(y2-y1)!==0){
                    e.preventDefault();
                }
            });

            var elem = document.getElementById('slider');
            window.mySwipe = Swipe(elem, {
                auto: 2500,
                callback: function(index,element){
                    //回调函数
                    $(".position li").eq(index).addClass("on").siblings().removeClass("on");
                }
            });
            $(".position li").click(
                    function () {
                        mySwipe.slide($(this).index());
                    }
            );
            tab_down(".beauty_item_category>li", ".beauty_item_wrapper", "click");

            //加入购物车
            $('body').on('click','.shopping_cart',function() {
                var id = $(this).attr('goodsId');
                $.post(MODULE + '/Cart/addCart', {id: id}, function (msg) {
                    if(msg.status == 0){
                        dialog.confirm(msg.info,msg.url);
                    }
                    if (msg.status == -1) {
                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        $('.commodity_quantity').text(msg.info.count);
                        $('.total_price').text('￥' + msg.info.total);
                        $('.cartIds').val( msg.info.cartIds);
                    }
                }, 'json')
            });
        });

        //去结算
        $('body').on('click','.payment',function(){
            var cartIds =  $('.cartIds').val();
            window.location.href= MODULE + '/Order/addOrder/cartIds/'+cartIds;
        });

    </script>
</block>