{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<section id="accountInfo" style="display: none;">
	<div class="account-info">
		<div>
			<span class="r-t">姓名</span>
			<span>cccc</span>
		</div>
		<div>
			<span class="r-t">手机号码</span>
			<span>cccc</span>
		</div>
		<div>
			<span class="r-t">角色类型</span>
			<span>客服部客服专员</span>
		</div>
	</div>
</section>
<article class="f24">
	<section class="separation-line">
		<div class="columns_flex l-r-sides content-padding account-header">
			<div>
				<div>
					<span class="r-t">姓名</span><span>{$info.name}</span>
				</div>
				<div>
					<span class="r-t">手机号码</span><span>{$info.mobile_phone}</span>
				</div>
				<div>
					<span class="r-t">角色类型</span><span>客服部客服专员</span>
				</div>
			</div>
			<div class="account-edit-btn columns_flex">
				<a>
					<span class="activate-icon ic"></span>
					<span class="btn-status">激活账号</span>
				</a>
				<a>
					<span class="stop-icon ic"></span>
					<span class="btn-status">停用账号</span>
				</a>
				<a>
					<span class="del-icon ic"></span>
					<span class="btn-status">删除账号</span>
				</a>
			</div>
		</div>
	</section>
	<section class="f24 signIn-wrapper">
		<div class="account-item">
			<span class="content-label">修改账号角色</span>
			<ul class="account-role-list role-list"></ul>
		</div>
	</section>
</article>
<a href="javascript:void(0);" class="foot-btn f24">确定</a>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="factory_js/account.js"></script>
<script type="text/javascript">
	$(function(){
		$('body').on('click','.account-role-list li',function(){
			$(this).toggleClass('current');
		});
		$('body').on('click','.account-edit-btn a',function(){
			var status=$(this).find('.btn-status').text();
			var accountInfo=$('#accountInfo').html();
			manageAccount(status,accountInfo);
		});
	});
	function manageAccount(title,content){
		layer.open({
			title:[title,'border-bottom:1px solid #d9d9d9;'],
			className:'accountInfoLayer',
			content:content,
			btn:['确定','取消']
		})
	}
</script>
{/block}