{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<!--创建登录账号-->
<article id="addLoginAccount" style="display:none;">
	<section class="f24 signIn-wrapper">
		<div class="account-item">
			<input type="text" placeholder="姓名" class="input-filed" value="">
		</div>
		<div class="account-item">
			<input type="tel" placeholder="手机号码" class="input-filed" value="">
		</div>
		<div class="account-item">
			<a href="javascript:void(0);" class="content-label account-role">角色设置></a>
		</div>
		<div class="account-item">
			<a href="javascript:void(0);" class="content-label organize-set">行政组织设置></a>
		</div>
	</section>
</article>
<article class="f24">
	<section class="top_nav_fixed">
		<div class="top_bar columns_flex l-r-sides">
			<div class="">
				<a class="home">首页</a>
			</div>
			<div class="">
				<img src="public_img/default/no_pic_40.jpg" alt="">
				<span>爱国宾</span>
			</div>
			<div class="">
				<a class="switch-account">切换供应商账号</a>
			</div>
		</div>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex f20">
			<a >企业档案</a>
			<a>商标备案</a>
			<a>开店申请</a>
			<a href="{:url('Organize/index')}">组别角色</a>
			<a href="{:url('Account/index')}" class="column_type current">账号授权</a>
		</div>
	</section>
	<section class="f24 account-content-wrapper ">
		<div class="search-bar columns_flex">
			<input type="text" class="search-text" name="" value="" placeholder="输入姓名、手机号码查询账号">
			<input type="button" class="search-btn">
		</div>
		<div class="account-list-content">
			<span class="title">供应商员工登陆账号列表</span>

			<span class="title">暂无数据</span>
			<span class="title">搜索结果</span>
			<span class="title">查无此人</span>
			<ul class="account-list ">
				<li>
					<div>
						<a href="">
							<div>
								<span class="list-label">姓名</span>
								<span>XXXXXX</span>
							</div>
							<div>
								<span class="list-label">手机号码</span>
								<span>13430363587</span>
							</div>
							<div>
								<span class="list-label">角色类型</span>
								<span>管理员</span>
							</div>
						</a>
					</div>
					<div class="account-status">
						<span>账号正常</span>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<a href="javascript:void(0);" class="add-account foot-btn">新建供应商员工登陆账户</a>
</article>
<!--角色设置-->
<section id="setRole" style="display: none;">
	<ul>
		{include file="role/list_tpl" /}
	</ul>
</section>
<!--行政组织设置-->
<section id="setOrganize" style="display: none;">
	{include file='organize/list_tpl' /}
</section>
<div id="organize_tpl" style="display:none;">
	<ul data-id="" data-superior_id="" data-level="">
		<li>
			<span class="content-label"></span>
			<div class="operate-box">
				<a class="btn edit">i</a>
				<a class="btn reduce">-</a>
				<a class="btn add">+</a>
			</div>
		</li>
	</ul>
</div>
{/block}
{block name="common"}
<!--{include file="template/footer_menu_msy.html" /}-->
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	var setOrganize;
</script>
<script type="text/javascript" src="factory_js/organize.js"></script>
<script type="text/javascript">
	$(function(){
		//页面初始化
		$('#setRole').find('div').remove();
		//定义新增用户角色
		var addUserRoleIds = [];
		getOrganizeList();

		//创建供应商员工登录账号
		var addLoginAccount=$('#addLoginAccount').html();
		$('body').on('click','.add-account',function(){
			layer.open({
				title:['新建供应商员工登陆账号','border-bottom:1px solid #d9d9d9;'],
				className:'addCcountLayer',
				type: 1,
				content: addLoginAccount,
				anim: 'up',
				style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
				success:function(){
					var winHeight=$(window).height();
					$('.signIn-wrapper').css('height',winHeight-120+'px');
				},
				btn:['确定'],
				yes:function(index){
					layer.close(index);
				}
			});
		});
		//角色设置
		var setRole = $('#setRole').html();
		$('body').on('click','.account-role',function(){
			layer.open({
				title:['角色设置','border-bottom:1px solid #d9d9d9;'],
				className:'setRoleLayer',
				type: 1,
				content: setRole,
				anim: 'up',
				style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
				success:function(){
					var winHeight=$(window).height();
					$('.signIn-wrapper').css('height',winHeight-120+'px');
					$.each(addUserRoleIds,function(i,o){
						$.each($('.setRoleLayer li'),function(){
							if($(this).data('id')==o){
								$(this).attr('class','current');
							}
						});
					});
				},
				btn:['确定'],
				yes:function(index){
					//先清空
					addUserRoleIds = [];
					$.each($('.setRoleLayer li'),function(){
						if($(this).attr('class')=='current'){
							addUserRoleIds.push($(this).data('id'));
						}
					});
					layer.close(index);
				}
			});
		});
		//行政组织设置
		$('body').on('click','.organize-set',function(){
			if(!setOrganize){
				return false;
			}
			layer.open({
				title:['行政组织设置','border-bottom:1px solid #d9d9d9;'],
				className:'setOrganizeLayer',
				type: 1,
				content: setOrganize,
				anim: 'up',
				style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;',
				success:function(){
					var winHeight=$(window).height();
					$('.signIn-wrapper').css('height',winHeight-120+'px');
				},
				btn:['确定'],
				yes:function(index){
					layer.close(index);
				}
			});
		});
		$('body').on('click','.setRoleLayer li',function(){
			$(this).toggleClass('current');
		});
		$('body').on('click','.setOrganizeLayer li',function(){
			$(this).toggleClass('current');
			$(this).addClass('current').siblings().removeClass('current');
			$(this).parents('li').removeClass('current')
		});
		
	});
</script>
{/block}