{extend name="template/base.html" /}
{block name="title"}购物车{/block}
{block name="content"}
<section class="no_cart_data" style="display:none;">
	<li class="no_data"><img src="https://www.worldview.com.cn/static/common/img/no-cart.png" alt=""></li>
</section>
<article class="f24">
	<section class="header_title separation-line">
		<a href="javascript:void(0);" class="back_prev_page"></a>
		<h2 class="f24">购物车</h2>
	</section>
	<!--产品列表-->
	<ul class="cart_goods_list list" id="product-select">
		<product-select
				v-for="productInfo in productList"
				:key="productInfo.id"
				:product_id="productInfo.id"
				:deal_price="Number(productInfo.bulk_price)"
				:init_quantity="parseInt(productInfo.num)"
				:step_quantity="parseInt(step_quantity)"
				:product_name="productInfo.name"
				:product_src="productInfo.thumb_img"
				:specification="productInfo.specification"
				:type="type"
		></product-select>
		<button class="btn" @click="btn1Click()">点我试试</button><br/>
	</ul>
</article>
{/block}
{block name="footer"}
{if type}
{include file="template/footer_project.html" /}
{/if}

{include file="../../api/public/vue/components/footer-cart-menu.html" /}
<div id="foot_cart_menu">
	<footer-cart-menu
			:cart_init_num="cart_init_num"
	></footer-cart-menu>
</div>
<script type="text/javascript">
	$(function(){
		//数据库里购物车里商品数量
		let total_num = parseInt("{$total_num|default=0}");
		//localStorage里商品信息
		if(localStorage.cartList){
			let goodsList = (JSON.parse(localStorage.cartList)).goodsList;
			$.each(goodsList,function(i,goods){
				total_num += goods['num'];
			});
		}
		let param = {
			cart_init_num:total_num
		};
		new Vue({
			el: '#foot_cart_menu',
			data:function(){
				return param;
			}
		});
	});
</script><script type="text/javascript">
	$(function(){
		let param = {
			'type':4,
			'step_quantity':1,
			'productList':[]
		};
		new Vue({
			el: '#product-select',
			data:function(){
				return param;
			},methods:{
				btn1Click:function(){
					this.productList.push({message:"动态新增"});
				}
			}
		});
		var getJsonListParam = {
			url:module+'Goods/getCartGoodsList',
			requestEnd:false,
			loadTrigger:false,
			postData:{
				cartList:localStorage.cartList,
				pageSize:4,
				page:1
			},
			callBack:getJsonListCallBack
		};
		getJsonList(getJsonListParam);
		//下拉加载
		$(window).on('scroll',function(){
			if(getJsonListParam.loadTrigger
					&& $(document).scrollTop()+$(window).height()+200>$(document).height()){
				getJsonListParam.loadTrigger = false;
				getJsonList(getJsonListParam);
			}
		});
	});
	function getJsonListCallBack(data){
		console.log(data.data.data);
		if(data.status==0){
			dialog.error(data.info);
			return false;
		}
		return data.data.data;
	}
</script>
{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){

	});
</script>
{/block}