{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="public_css/project_public.css">
<style>
.group_cart_nav{
	bottom:0.88rem;
}
</style>
{/block}
{block name="content"}
<section class="no_cart_data" style="display:none;">
	<li class="no_data">
		<img src="https://www.worldview.com.cn/static/common/img/no-cart.png" alt="">
	</li>
</section>
<article class="f24">
	<!--<ul class="cart_goods_list" id="list">-->
	<!--</ul>-->
	<!--产品列表-->
	<ul class="cart_goods_list list" id="list">
		<div id="product-select">
			<product-select
					v-for="productInfo in productList"
					:key="productInfo.id"
					:product_id="productInfo.id"
					:deal_price="Number(productInfo.bulk_price)"
					:product_name="productInfo.headline"
					:product_src="productInfo.thumb_img"
					:init_quantity="parseInt(productInfo.num)"
					:step_quantity="parseInt(step_quantity)"
					:type="type"
			></product-select>
		</div>
	</ul>
<!--	<section id="no_data">
		<div class="cart_data_empty">
			<p>注：采购车里超过7天未结算的商品会被系统自动清理</p>
		</div>
	</section>-->
	<div class="project_wrapper content_main content-padding">
		<div class="mod-part-title">
			<div class="mod-part-title-wrap">
				<span class="icon-title left"></span>
				<span class="title">新零售精选</span>
				<span class="icon-title right"></span>
			</div>
		</div>
		<div id="scroller-wrapper" class="list_wrapper">
			<ul class="columns_flex flex-both-side goods-content-list" id="goodsList">

			</ul>
		</div>
	</div>
</article>
{/block}
{block name="common"}
{include file="template/wallet_pay_dialog.html" /}
{/block}
{block name="footer"}
{include file="template/footer_project.html" /}
{include file="../../api/public/vue/components/footer-cart-menu.html" /}
<div id="foot_cart_menu">
	<footer-cart-menu
			:cart_init_num="cart_init_num"
	></footer-cart-menu>
</div>
<script type="text/javascript">
	function getJsonListCallBack(data){
		console.log(data);
		if(data.status==0){
			dialog.error(data.info);
			return false;
		}
		let param = {
			'type':4,
			'step_quantity':1,
			'productList':data.data.data
		};
		new Vue({
			el: '#product-select',
			data:function(){
				return param;
			}
		});
	}
	$(function(){
		//数据库里购物车里商品数量
		let total_num = parseInt("{$total_num|default=0}");
		//localStorage里商品信息
		if(localStorage.cartList){
			let goodsList = (JSON.parse(localStorage.cartList)).goodsList;
			$.each(goodsList,function(i,goods){
				total_num += goods['num'];
			});
		}
		let param = {
			cart_init_num:total_num
		};
		new Vue({
			el: '#foot_cart_menu',
			data:function(){
				return param;
			}
		});
	});
</script>
{/block}
{block name="script"}
<script type="text/javascript" src="index_js/footerCart.js"></script>
<!--<script type="text/javascript" src="index_js/cart.js"></script>-->
<script type="text/javascript">
	var config = {
		url:module+'Goods/getCartGoodsList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:20,
		pageType:'index'
	};

	// 新零售商品获取配置
	var config_1 = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		container:$("#goodsList")
	};
	var postData_1 = {
		pageSize:10,
		pageType:'index',
		is_selection:1
	};

	$(function(){
		// // 初始化购物车商品
		// if(user_id){
		// 	getJsonList(config,postData);
		// }else {
		// 	config.url = module+'Goods/getCartGoodsList';
		// 	var cartList = localStorage.cartList;//获取存储购物车商品信息
		// 	postData.cartList = cartList;
		// 	getPagingList(config,postData);
		// }

		var cartList = localStorage.cartList;//获取存储购物车商品信息
		postData.cartList = cartList;
		getJsonList(config,postData);

		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				var cartList = localStorage.cartList;//获取存储购物车商品信息
				postData.cartList = cartList;
				getPagingList(config,postData);
				// if(user_id){
				// 	getPagingList(config,postData);
				// }else {
				// 	config.url = module+'Goods/getCartGoodsList';
				// 	var cartList = localStorage.cartList;//获取存储购物车商品信息
				// 	postData.cartList = cartList;
				// 	getPagingList(config,postData);
				// }
			}
		});

		//初始化零售商品
		var type = '{$type}';
		getPagingList(config_1,postData_1);
		//下拉加载
		$(window).on('scroll',function(){
			if(config_1.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config_1.loadTrigger = false;
				getPagingList(config_1,postData_1);
			}
		});
	});
</script>
{/block}