{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="public_css/project_public.css">
<style>
.group_cart_nav{
	bottom:0.88rem;
}
</style>
{/block}
{block name="content"}
<section class="no_cart_data" style="display:none;">
	<li class="no_data">
		<img src="https://www.worldview.com.cn/static/common/img/no-cart.png" alt="">
	</li>
</section>
<article class="f24">
	<ul class="cart_goods_list" id="list">
	</ul>
<!--	<section id="no_data">
		<div class="cart_data_empty">
			<p>注：采购车里超过7天未结算的商品会被系统自动清理</p>
		</div>
	</section>-->
	<div class="project_wrapper content_main content-padding">
		<div class="mod-part-title">
			<div class="mod-part-title-wrap">
				<span class="icon-title left"></span>
				<span class="title">新零售精选</span>
				<span class="icon-title right"></span>
			</div>
		</div>
		<div id="scroller-wrapper" class="list_wrapper">
			<ul class="columns_flex flex-both-side goods-content-list" id="goodsList">

			</ul>
		</div>
	</div>
</article>
{/block}
{block name="common"}
{include file="template/wallet_pay_dialog.html" /}
{/block}
{block name="footer"}
{include file="template/footer_project.html" /}
{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="index_js/footerCart.js"></script>
<!--<script type="text/javascript" src="index_js/cart.js"></script>-->
<script type="text/javascript">
	var config = {
		url:module+'Cart/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:20,
		pageType:'index'
	};

	// 新零售商品获取配置
	var config_1 = {
		url:module+'Goods/getList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		container:$("#goodsList")
	};
	var postData_1 = {
		pageSize:10,
		pageType:'index',
		is_selection:1
	};

	$(function(){
		// 初始化购物车商品
		if(user_id){
			getPagingList(config,postData);
		}else {
			config.url = module+'Goods/getCartGoodsList';
			var cartList = localStorage.cartList;//获取存储购物车商品信息
			postData.cartList = cartList;
			getPagingList(config,postData);
		}

		//下拉加载
		$(window).on('scroll',function(){
			if(config.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config.loadTrigger = false;
				if(user_id){
					getPagingList(config,postData);
				}else {
					config.url = module+'Goods/getCartGoodsList';
					var cartList = localStorage.cartList;//获取存储购物车商品信息
					postData.cartList = cartList;
					getPagingList(config,postData);
				}
			}
		});

		//初始化零售商品
		getPagingList(config_1,postData_1);
		//下拉加载
		$(window).on('scroll',function(){
			if(config_1.loadTrigger && $(document).scrollTop()+$(window).height()+200>$(document).height()){
				config_1.loadTrigger = false;
				getPagingList(config_1,postData_1);
			}
		});
	});
</script>
{/block}