<empty name="agentList">
    <if condition="$searchSign eq 'isSearch' ">
        <div class="result_tipc">
            <p >查询结果：</p>
            <span>无数据</span>
        </div>
    <else/>
        <p>暂无代理商</p>
    </if>
<else/>
    <div class="result_tipc">
        <p >查询结果：</p>
        <ul class="f24 agent_item_list" >
            <volist name="agentList" id="agentInfo">
                <li>
                    <div class="epy_item">
                        <span class="epy_f_n ">姓名:</span>
                        <span class=" agent-name">{$agentInfo.name}</span>
                    </div>
                    <div class="epy_item">
                        <span class="epy_f_n">手机号码:</span>
                        <span class=" agent-mobile">{$agentInfo.mobile_phone}</span>
                    </div>
                    <div class="epy_item">
                        <span class="epy_f_n">类型:</span>
                        <span class=" agent-type">礼品采购商</span>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
</empty>