<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="bottomLine">
            <h2 class="header_title">查看所在城市美悦会服务中心</h2>
        </section>
        <section class="partner_contact_info">
            <div class="partner_info_item">
                <span class="h_t">所在城市美悦会服务中心</span>
                <p>你所在的区域暂时没有建立美悦会城市服务中心，如有咨询请联系平台客服部</p>
                <p>你所在的区域暂时没有建立美悦会城市服务中心，如有咨询请联系你的推荐人或平台客服部</p>
                <div class="partner_info_module">
                    <p>推荐人：<span>XXX</span></p>
                    <p>负责人：<span>XXX</span></p>
                    <p>手机号码：<span>XXX</span></p>
                    <p>企业名称：<span>XXX</span></p>
                    <p>地址：<span>XXX</span></p>
                    <p>电话：<span>XXX</span></p>
                </div>
            </div>
            <div class="partner_info_item">
                <span class="h_t">美悦会平台客服部</span>
                <div class="platform_leader">
                    <p>周清萍 客服总监</p>
                    <p>手机号码：<span>13430362888</span></p>
                </div>
                <p>广东维观生物科技有限公司</p>
                <p>地址：广州市经济技术开发区科学城开源大道206号第2层</p>
                <p>热线：400-877-1389</p>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>