<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
	<title>产品详情页</title>
	<link rel="stylesheet" href="public_css/base.css">
	<style type="text/css">
		body{
			font-size:14px;
		}
		.detail_content{
			width:1200px;
			margin:0 auto;
		}
		.pay{
			background:#ff0000;
			color:#fff;
		}
	</style>
</head>
<body>
<div class="detail_content">
	<div class="d_left">
		<img src="" />
	</div>
	<div class="d_right">
		<p>产品详情介绍111111</p>
		<div>
			<span>价格：</span>
			<price>500</price>元
		</div>
		<a href="javascript:;" class="pay">立即结算</a>
	</div>
</div>
</body>
</html>