.msy-register{padding:0 0.3rem;}
.msy-logo{width:1.5rem;height:1.5rem;display: block;margin:0 auto;}
.msy-register li{border-bottom:1px solid #d5d5d5;}
.msy-register h2{text-align:center;padding:0.2rem 0 0.5rem;}
.msy_yzm{padding:0.28rem 0 0;}
.area-code{display:block;padding:0 0 0.2rem 0;}
.reg-item{width:100%;padding:0.28rem 0;display:block;}
.verify{text-indent:10px;box-sizing:border-box;width:50%;padding:0.28rem 0;border:1px solid #d5d5d5;}
.verify-btn{width:45%;padding:0.28rem 0;border-radius: 0.1rem;background-color:#F39800;color:#fff;}
.short-message{color:#d5d5d5;padding:0.2rem 0.2rem 0.2rem 0;}
.set-password{display:inline-block;padding:0.2rem 0;}
.regis-password,.reset-password{display:inline-block;padding:0.2rem 0;text-indent:2%;width:70%;background:none;}
.msy-register .no-border{border-bottom:none;}
.agm-clause{padding:0.4rem 0;}
.agm{width:0.32rem;height:0.32rem;margin-right:0.1rem;vertical-align: middle;}
/*.agm-item span{color:#0066cc;}*/
.register-btn{width:100%;margin:0.5rem auto 0.5rem;display:block;text-align:center;border-radius:0.15rem;
    background: #F39800;border:none;padding:0.28rem 0;color:#fff;}
.ftipc{border-top:1px solid #d5d5d5;padding:0.15rem;}
