<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/user.css">
</block>
<block name="nav"></block>
<block name="content">
    <section class="msy-register">
        <form id="forgetForm">
            <h2 class="tc f28">重置用户密码</h2>
            <ul>
                <li>
                    <span class="area-code f28">中国（+86）</span>
                </li>
                <li>
                    <input placeholder="手机号码" class="reg-item f28 phone" type="tel" name="mobile"/>
                </li>
                <li class="msy_yzm no-border clearfix">
                    <input type="number" placeholder="验证码" name="captcha" class="fl f28 verify">
                    <input type="button" value="获取验证码" class="verify-btn fr f28" />
                </li>
                <li class="clearfix no-border">
                    <span class="fr f20 short-message">接收短信大概需要60秒</span>
                </li>
                <li class="clearfix">
                    <label class="f28 set-password">设置密码:</label>
                    <input type="password" placeholder="密码必须是数字和字母组合" class="f28 regis-password" name="passwd">
                </li>
                <li class="clearfix">
                    <label class="f28 set-password">确认密码:</label>
                    <input type="password" placeholder="再次输入密码" class="f28 reset-password" name="repasswd">
                    <input type="hidden" name="type" value="forget_password">
                </li>
            </ul>
            <a class="register-btn f28" style="">确定</a>
        </form>
        <div class="f24 ftipc clearfix">
            <a href="__CONTROLLER__/register" class="fr f06c">新用户注册</a>
        </div>
    </section>
</block>
<block name="js-customize">
    <script type="text/javascript">
        $(function(){
            var timer;
            //获取验证码
            $('.verify-btn').on('click',function(){
                var phone=$('.phone').val();
                var time=60;
                if(!register.phoneCheck(phone)){
                    layer.open({
                        content:"请输入正确的手机号码",
                        btn: '我知道了'
                    });
                    return false;
                }
                $('.verify').val('');
                timer=setInterval(CountDown,1000);
                function CountDown(){
                    $('.verify-btn').attr('disabled',true);
                    $('.verify-btn').val(time+'s');
                    if(time==0){
                        $('.verify-btn').val("获取验证码").removeAttr("disabled");
                        $('.verify').val('');
                        clearInterval(timer);
                    }
                    time--;
                }
                $.post('send_sms',{mobilePhone:phone,type:'forget_password'},function(msg){
                    if(msg.status == 0){
                        $('.phone').val('').removeAttr("disabled");
                        $('.verify-btn').val("获取验证码").removeAttr("disabled");
                        $('.verify').val('');
                        clearInterval(timer);

                        layer.open({
                            content:msg.info,
                            time:3
                        });
                        return false;
                    }else if(msg.status == 1){
                        layer.open({
                            content:"验证码已发送至手机:"+phone+' ，请查看。',
                            time:3
                        });
                        return false;
                    }
                });
            })

            //重置密码
            $('.register-btn').on('click',function(){
                var phone=$('.phone').val();
                var vfyCode=$('.verify').val();
                var psw=$('.regis-password').val();
                var resetPsw=$('.reset-password').val();

                var content = '';
                if(!register.phoneCheck(phone)){
                    content = "请输入正确的手机号码";
                }else if(!register.vfyCheck(vfyCode)){
                    content = '请输入6位数字的验证码';
                }else if(!register.pswCheck(psw)){
                    content = '请输入数字和字母组合的密码';
                }else if(psw!=resetPsw){
                    content = '两次输入的密码不一致';
                }

                if(content){
                    layer.open({
                        content:content,
                        time:3
                    });
                    return false;
                }

                $.post('forget_password',$('#forgetForm').serialize(),function(msg){
                    if(msg.status == 0){
                        $('.phone').val('').removeAttr("disabled");
                        $('.verify-btn').val("获取验证码").removeAttr("disabled");
                        $('.verify').val('');
                        clearInterval(timer);

                        layer.open({
                            content:msg.info,
                            time:3
                        });
                    }else if(msg.status == 1){
                        layer.open({
                            content: '重置密码成功，现在登录？'
                            ,btn: ['确定', '取消']
                            ,yes: function(index){
                                location.href = 'login';
                            }
                            ,no: function(index){
                                layer.close(index);
                            }
                        });
                    }
                });
            })
        })
    </script>
</block>
