<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/user.css">
</block>
<block name="nav"></block>
<block name="content">
    <section class="msy-register">
        <img src="__PUBLIC__/images/img/logo.png" alt="" class="msy-logo">
        <form id="loginForm">
            <h2 class="tc f28">已注册用户登录</h2>
            <ul>
                <li>
                    <label class="f28">手机号码:</label>
                    <input placeholder="手机号码" class="phone f28 phone" type="tel"  name="mobile" />
                </li>
                <li class="clearfix">
                    <label class="f28 set-password">登录密码:</label>
                    <input type="password" placeholder="输入密码" class="f28 regis-password" name="passwd" />
                </li>
            </ul>
            <a class="register-btn f28">登录</a>
        </form>
        <div class="f24 ftipc clearfix">
            <a href="__CONTROLLER__/register" class="fl f06c">注册</a>
            <a href="__CONTROLLER__/forget_password" class="fr f06c">忘记密码？</a>
        </div>
    </section>
</block>
<block name="footer"></block>
<block name="js-customize">
    <script type="text/javascript">
        $(function(){
            $('.register-btn').on('click',function(){
                var phone=$('.phone').val();
                var psw=$('.regis-password').val();

                var content='';
                if(!register.phoneCheck(phone)){
                    content='请输入正确手机号码';
                }else if(!register.pswCheck(psw)){
                    content = "6-16数字或字母";
                }

                if(content){
                    layer.open({
                        content:content,
                        time: 3
                    });
                    return false;
                }

                $.post('login',$('#loginForm').serialize(),function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            time: 3
                        });
                        return false;
                    }

                    location.href = msg.info;
                });
            })
        })
    </script>
</block>
