{notempty name="list"}
    {volist name="list" id="info"}
        <li class="columns_flex l-r-sides">
            <span>{$info.amount}</span>

            <!-- 支付方式 -->
            <span>
                {switch $info.pay_code}
                    {case 1}微信支付{/case}
                    {case 2}支付宝{/case}
                    {case 3}中国银联{/case}
                    {case 4}线下支付{/case}
                    {default /}
                {/switch}
            </span>

            <!-- 充值时间 -->
            <span>
                {if $info.payment_time}
                    {$info.payment_time|date='Y-m-d'}
                {else /}
                    {$info.create_time|date='Y-m-d'}
                {/if}
            </span>

            <!-- 充值状态 -->
            {switch $info.recharge_status}
                {case 0}<span>待支付</span>{/case}
                {case 1}<span class="audited">待核实</span>{/case}
                {default /}<span>成功</span>
            {/switch}
        </li>
    {/volist}
{/notempty}