{extend name="template/base.html" /}
{block name="title"}项目详情{/block}
{block name="content"}
<article class="f24">
	<!-- 项目信息 -->
	<div id="menu">
		<ul class="columns_flex detail-nav">
			<li data-item="item1"><a href="javascript:;" class="">项目产品</a></li>
			<li data-item="item2"><a href="javascript:;" class="">项目详情</a></li>
			<li data-item="item3"><a href="javascript:;" class="">项目操作</a></li>
		</ul>
	</div>
	<!-- 项目产品 -->
	<section class="content-padding content_main project_item">
		{include file="template/scene_detail.html" /}
		<!-- 内容 -->
		<section class="content-padding content_main wy_list">
			<!--采购方案列表-->
			{notempty name="promotionList"}
			{volist name="promotionList" id="vo"}
			<a href="{:url('Promotion/detail',['id'=>$vo.id])}" data-id="{$vo.id}" class="">
				<div class="applay_p_item columns_flex l-r-sides">
					<div>
						<div>¥<price>{$vo.price}</price></div>
						<p>{$vo.name}</p>
						<p>立即进入</p>
					</div>
					<div class="group_btn50">
						<img class="common_default_img" src="{:show_img_handle($vo.thumb_img)}" alt="{$vo.name}">
					</div>
				</div>
			</a>
			{/volist}
			{/notempty}
			<!--产品列表-->
			<ul class="goods_list list" id="list">
				<div id="product-select">
					<product-select
							v-for="productInfo in productList"
							:key="productInfo.id"
							:product_id="productInfo.id"
							:deal_price="parseFloat(productInfo.bulk_price)"
							:product_name="productInfo.headline"
							:init_quantity="parseInt(init_quantity)"
							:step_quantity="parseInt(step_quantity)"
					></product-select>
				</div>
			</ul>
		</section>
	</section>
	<!-- 项目详情 -->
	<section class="project_item hide">
		<p>
			{volist name="$info.detail_img" id="vo"}
			<img src="{:show_img_handle($vo)}" alt="" class="common_default_img">
			{/volist}
		</p>
	</section>
	<!-- 项目操作 -->
	<section class="project_item hide">

		{notempty name="$info.video"}
		<div class="content-padding">
			<video width="" height="" controls src="{:show_img_handle($info.video)}"></video>
		</div>
		{/notempty}
		<div class="content-padding description">

		</div>

		{notempty name="$info.process"}
		<div class="content-padding">
			<p class="content-label">项目流程</p>
			<section class="slider_banner">
				<div class="swiper-container swiper-container-horizontal swiper-container-ios">
					<div class="swiper-wrapper">
						{volist name="$info.process" id="vo"}
						<div class="swiper-slide swiper-slide-active" style="text-align: left;margin-right: 10px;">
							<img src="{:show_img_handle($vo.img)}" alt="" class="common_default_img">
							{$vo.desc}
						</div>
						{/volist}
					</div>
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
						<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
						<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
						<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 3"></span>
						<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
					</div>
				</div>
			</section>
		</div>
		{/notempty}

		{notempty name="$info.recommend_goods"}
		<div class="content-padding content_main ">
			<p class="content-label">推荐搭配居家产品</p>
			<ul class="columns_flex flex-both-side goods-content-list">
				{volist name="$info.recommend_goods" id="vo"}
				<li>
					<a href="{:url('Index/Goods/detail',['id'=>$vo.id])}">
						<img src="{:show_img_handle($vo.thumb_img)}" alt="{$vo.headline}">
					</a>
					<p>{$vo.headline}</p>
					<p>规格：{$vo.specification}</p>
				</li>
				{/volist}
			</ul>
		</div>
		{/notempty}
		<div class="content-padding">
			<p class="remarks"></p>
		</div>

	</section>
</article>
{/block}
{block name="common"}
{/block}
{block name="footer"}
{include file="../../api/public/vue/components/footer-cart-menu.html" /}
<div id="foot_cart_menu">
	<footer-cart-menu
			:add_cart_call_back="add_cart_call_back"
	></footer-cart-menu>
</div>
<script type="text/javascript">
	function getJsonListCallBack(data){
		param = {
			'init_quantity':1,
			'step_quantity':1,
			'productList':data.data.data
		};
		new Vue({
			el: '#product-select',
			data:function(){
				return param;
			}
		});
	}
</script>
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">
	// 获取该场景下的商品
	var config = {
		url:module+'Goods/getRelationGoods',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		callBack:getJsonListCallBack
	};
	var postData = {
		pageSize:10,
		relation:'{$relation}'
	};
	$(function(){

		//初始化场景商品页面
		postData.id = '{$info.id}';
		//getJsonList(config,postData);
	});
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		// 后加载简介
		$('document').ready(function(){
			$('.intro').html("{$info.intro|raw}");
			$('.remarks').html("{$info.remarks|raw}");
			$('.description').html("{$info.description|raw}");
		});
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		// 项目信息切换
		$('.detail-nav li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.project_item').hide().eq($(this).index()).show();
		});

	});
</script>
{/block}