{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<div class="f24 content-padding">
    <div class="msy-logo">
        <img src="api_common_img/ucenter_logo.png" alt="">
        <p>向美尚云支付</p>
    </div>
    <div class="money-box">
        <span>金额</span>
        <div class="f28">¥<price>{$orderInfo.actually_amount}</price></div>
    </div>
    {if $isWxBrowser}
    <a href="javascript:void(0);" class="pay_btn">支付</a>
    {else /}
    <form action="{:url('Payment/orderPayment')}" method="post" class="pay_form" id="pay_info">
        <input type="hidden" name="order_sn" value="{$orderInfo.sn}"/>
        <input type="hidden" name="pay_code" value="" class="pay_code"/>
        <input type="hidden" name="system_id" value="{$system_id}" class="system_id"/>
        <input type="submit" value="立即支付" class="pay_btn"/>
    </form>
    {/if}


</div>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">

    $(function(){
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', JSON.parse('{:json_encode($jsApiParameters)}'),
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                        dialog.success('支付成功！',"{$payInfo['success_url']}");
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        window.history.go(-1);
                        return false;
                        dialog.success('取消支付！', window.history.go(-1));
                    }else{
                        dialog.success('支付失败！',"{$payInfo['fail_url']}");
                    }
                }
            );
        }
        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
        $('body').on('click','.pay_btn',function () {
            if(isWeiXin()){
                callpay();
            }else{
                $.ajax({
                    url: action,
                    data: {},
                    type: 'post',
                    beforeSend: function(){
                        $('.loading').show();
                    },
                    error:function(){
                        $('.loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('.loading').hide();
                        if(data.status){
                            location.reload();
                        }
                    }
                });
            }

        })
    });
</script>
{/block}