<!--<script type="text/javascript" src="/static/common/js/jquery/jquery-1.9.1.min.js"></script>-->
<!--<script type="text/javascript" src="/static/common/js/layer.mobile/layer.js"></script>-->
<!--<script type="text/javascript" src="/static/common/js/dialog.js"></script>-->
<script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',$jsApiParameters,
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok"){
                    dialog.success('支付成功！',"{$payInfo['success_url']}");
                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                    window.history.go(-1);
                    return false;
                    dialog.success('取消支付！', window.history.go(-1));
                }else{
                    dialog.success('支付失败！',"{$payInfo['fail_url']}");
                }
            }
        );
    }
    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
    callpay();
</script>

