<a href="javascript:void(0);" class="pay pay_btn">支付</a>
<script type="text/javascript">
    var payInfo = JSON.parse('{$payInfo|raw}');
    //微信内部浏览器
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',JSON.parse('{$jsApiParameters|raw}'),
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok"){
                    dialog.success('支付成功！',payInfo.success_url);
                }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                    window.history.go(-1);
                    return false;
                    dialog.success('取消支付！', window.history.go(-1));
                }else{
                    dialog.success('支付失败！',payInfo.$fail_url);
                }
            }
        );
    }
    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }

    //微信pc端扫码支付
    function payGQcode(){
        var code_url = "{$jsApiParameters}";
        if(code_url){
            var imgSrc=uploads+code_url;
            var scrollTop;
            layer.open({
                title:['微信支付二维码','border-bottom:1px solid #d9d9d9'],
                skin:'shareqrCodeLayer',
                content:'<img src='+imgSrc+' />',
                btn:['X'],
                success:function(){
                    fixedLayer();
                },
                yes:function(index){
                    cancleFixedLayer();
                    layer.close(index);
                }
            })
        }
    }
    $(function(){
        $('body').on('click','.pay_btn',function () {
            var browser_type = '{$browser_type}';
            if(browser_type == 1){
                payGQcode();
            }else if(browser_type == 3){
                callpay();
            }else {

            }
        })
    });
</script>

