<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="title">采购商</block>
<block name="content">
    <!-- Address start -->
    <section class="section-address bg-eae pt-5">
        <div class="">
            <h2 class="address_list_title">收货人信息</h2>
        </div>
        <form id="form1" class="bg-fff">
            <div class="form-group box-flex clearfixed">
                <label class="form-label">收货人：</label>
                <input type="text" name="consignee_name" value="{$consigneeAddressInfo.consignee_name}" class="input-flex recipient_name" placeholder="请输入姓名">
            </div>
            <div class="form-group box-flex clearfixed">
                <label class="form-label">联系电话：</label>
                <input type="text" name="consignee_mobile" value="{$consigneeAddressInfo.consignee_mobile}" class="input-flex recipient_mobile" placeholder="请输入收件人电话">
            </div>
            <!--<div class="form-group box-flex clearfixed">
                <label class="form-label">配送区域：</label>
                <div id="address" class="flex address"></div>
                <i class="icon icon-trangle"></i>
            </div>-->
            <div class="express-area ">
                <a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
                    <label class="form-label">所在地区：</label>
                    <div class="area_address">省 &gt; 市 &gt; 区/县</div>
                    <input type="hidden" value="" class="detail_address" data-key="">
                </a>
            </div>
            <div class="form-group box-flex">
                <label class="form-label">详细地址：</label>
                <input type="text" name="detailed_address" value="{$consigneeAddressInfo.detailed_address}" class="input-flex location_number" placeholder="详细地址需填写楼栋楼层或房间号信息">
            </div>
        </form>
    </section>
    <div class="pay-btn">
        <a href="javascript:void(0);" class="f24 address_save btn1 addAddress">确定</a>
    </div>
    <!--选择地区弹层-->
    <section id="areaLayer" class="express-area-box" style="display:none;">
        <header>
            <h3>选择地区</h3>
            <a id="backUp" class="back" href="javascript:void(0)" title="返回" style="display: none;"></a>
            <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
        </header>
        <article id="areaBox">
            <ul id="areaList" class="area-list">
            </ul>
        </article>
    </section>
    <!--遮罩层-->
    <div id="areaMask" class="mask"></div>
    <!-- Address end -->
</block>
<block name="footer"></block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
    $(function(){
        //省市区初始化
        var arr = [];
        arr.push('{$consigneeAddressInfo.province}');
        arr.push('{$consigneeAddressInfo.city}');
        arr.push('{$consigneeAddressInfo.area}');
        if(arr.length){
//            $('.detail_address').setArea(arr);
        }

        $('.myswitch').on('click',function(){
            if($(this).hasClass('myswitched')){
                $(this).removeClass('myswitched');
            }else{
                $(this).addClass('myswitched');
            }
        });

        //确定
        $('body').on('click','.address_save',function(){
            var content='';
            var recipientName=$('.recipient_name').val();
            var recipientMobile=$('.recipient_mobile').val();
            var areaAddress=$('.detail_address').val();
            var locationNumber=$('.location_number').val();
            if(!recipientName){
                content='请填写收货人姓名';
            }else if(!register.phoneCheck(recipientMobile)){
                content='请填写正确的手机号码';
            }else if(!areaAddress){
                content='请选择所在地区：';
            }else if(!locationNumber){
                content='请填写详细地址';
            }
            if(content){
                dialog.error(content);
                return false;
            }
            var postData = $('#form1').serializeObject();
            postData.region = $('.detail_address').getArea();
            var consigneeAddressId = '{$consigneeAddressInfo.id}';
            if(consigneeAddressId){
                postData.consigneeAddressId = consigneeAddressId;
            }
            $.ajax({
                url: ACTION,
                data: postData,
                type: 'post',
                beforeSend: function(){
                    $('.loading').show();
                },
                error:function(){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    if(data.status==0){
                        dialog.error(data.info);
                    }else {
                        dialog.success(data.info,CONTROLLER + '/addressList');
                    }
                }
            });
        });
    })
    </script>
</block>