<notempty name="consigneeAddressList">
    <volist name="consigneeAddressList" id="vo">
        <li class="consignee_item" data-id="{$vo.id}" data-province="{$vo.province}" data-city="{$vo.city}" data-area="{$vo.area}">
            <a>
                <p>收货人信息</p>
                <div class="c_w_item">
                    姓名：<span>{$vo.consignee_name}</span>
                </div>
                <div class="c_w_item">
                    手机号：<span>{$vo.consignee_mobile}</span>
                </div>
                <div class="c_w_item">
                    地址：<span class="detailed_address"></span><span>{$vo.detailed_address}</span>
                </div>
            </a>
            <div class="consignee_addr_btn">
                <if condition="$vo.type eq 1">
                    <a href="javascript:void(0);" class="set_default set_default_light">设为默认</a>
                    <else/>
                    <a href="javascript:void(0);" class="set_default">设为默认</a>
                </if>
                <a href="javascript:void(0);" class="modify_address">修改地址</a>
                <a href="javascript:void(0);" class="del_address">删除地址</a>
            </div>
        </li>
    </volist>
</notempty>