<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="title">采购商</block>
<block name="content">
    <article class=" f24">
        <section class="purchase_vip_banner">
            <h2 class="address_list_title">收货人地址</h2>
        </section>
        <section>
            <ul class="consignee_wrapper address_list">
                <include file="addressListTpl" />
            </ul>
        </section>
        <div class="pay-btn">
            <a href="javascript:void(0);" class="btn1 tip-btn addAddress"><i class="plus">+</i>添加地址</a>
        </div>
    </article>
    <section id="areaLayer" class="express-area-box" style="display:none;">
        <header>
            <h3>选择地区</h3>
            <a id="backUp" class="back" href="javascript:void(0);" title="返回" style="display: none;"></a>
            <a id="closeArea" class="close" href="javascript:void(0);" title="关闭"></a>
        </header>
        <article id="areaBox">
            <ul id="areaList" class="area-list"></ul>
        </article>
    </section>
    <div id="areaMask" class="mask address_mask"></div>
</block>
<block name="footer"></block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){
            //设置省市区
            $('ul.address_list').find('li').each(function(){
                var _this = $(this);
                var arr = [];
                if(_this.data('province') && _this.data('city') && _this.data('area')){
                    arr.push(_this.data('province'));
                    arr.push(_this.data('city'));
                    arr.push(_this.data('area'));
                    _this.find('.detailed_address').setArea(arr);
                }
            });

            //选择了某个地址
            $('body').on('click','ul.address_list area',function(){
                var orderId = '{$orderId}';
                var returnUrl = '{$returnUrl}';
                if(orderId && returnUrl){
                    location.href = returnUrl + '/consigneeAddressId/' + $(this).parents('li').data('id');
                }
            });

            //设为默认
            $('body').on('click','.set_default',function(){
                $(this).addClass('set_default_light');
                $(this).parents('.consignee_item').siblings().find('.set_default').removeClass('set_default_light');
                var _this=$(this);
                var postData = {
                    id:_this.parents('li').data('id')
                };
                $.ajax({
                    url: CONTROLLER + '/setDefaultAddress',
                    data: postData,
                    type: 'post',
                    beforeSend: function(){
                        $('.loading').show();
                    },
                    error:function(){
                        $('.loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('.loading').hide();
                        if(data.status==0){
                            dialog.error(data.info);
                        }else {
                            dialog.success(data.info);
                        }
                    }
                });
            });

            //删除地址
            $('body').on('click','.del_address',function(){
                var _this=$(this);
                var postData = {
                    consigneeAddressId:_this.parents('li').data('id')
                };
                layer.open({
                    content:'确定删除收货人地址？',
                    btn:['确定','取消'],
                    yes:function(index){
                        _this.parents('.consignee_item').remove();
                        $.ajax({
                            url: CONTROLLER + '/addressDel',
                            data: postData,
                            type: 'post',
                            beforeSend: function(){
                                $('.loading').show();
                            },
                            error:function(){
                                $('.loading').hide();
                                dialog.error('AJAX错误');
                            },
                            success: function(data){
                                $('.loading').hide();
                                if(data.status==0){
                                    dialog.error(data.info);
                                }else {
                                    dialog.success(data.info);
                                }
                            }
                        });
                    }
                });
            });

            //修改地址
            $('body').on('click','.modify_address',function(){
                var _this=$(this);
                location.href = CONTROLLER + '/addressEdit/consigneeAddressId/' + _this.parents('li').data('id');
            });

            //添加地址
            $('body').on('click','.addAddress',function(){
                location.href = 'addressEdit';
            });
        });
    </script>
</block>