<extend name="Public:base" />
<block name="title">采购商</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_certification">
            <div class="weChat_avatar_info">
                <if condition="$user.avatar neq '' ">
                    <img src="UPLOAD_IMG/{$user.id_url}" alt="" class="weChat_avatar" />
                <elseif condition="$wxUser.headimgurl neq '' " />
                    <img src="{$wxUser.headimgurl}" alt="" class="weChat_avatar" />
                <else />
                    <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="" class="weChat_avatar" />
                </if>
                <div class="weChat_av_r">
                    <h2 class="purchase_center">采购商用户中心</h2>
                    <if condition="$user.nickname neq '' ">
                        <span>{$user.nickname}</span>
                    <elseif condition="$wxUser.nickname neq '' "/>
                        <span>{$wxUser.nickname}</span>
                    <else /><span>nobody</span>
                    </if>
                    <if condition="$user.mobile_phone neq '' "><span>{$user.mobile_phone}</span></if>
                </div>
            </div>
            <div class="certified_avatar_r">
                <if condition="$company.auth_status eq 2">
                    <i></i>
                    <span>已认证</span>
                <else />
                    <i class="not_certified"></i>
                    <span>未认证</span>
                </if>
            </div>
        </section>
        <section class="purchase_order_management usercenter_management">
            <ul>
                <li>
                    <a href="{:U('Home/User/login')}">
                        <span class="regs_login"></span>
                        注册登录
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/CompanyRegister/registerInfo')}">
                        <span class="orang"></span>
                        机构登记
                    </a>
                </li>
                <li>
                    <a href="{:U('Home/CompanyAuthorise/index')}">
                        <span class="real_name"></span>
                        实名认证
                    </a>
                </li>
            </ul>
        </section>
        <section class="purchase_order_management usercenter_management">
            <ul>
                <li>
                    <a href="{:U('upgrade')}">
                        <span class="vip"></span>
                        升级VIP
                    </a>
                </li>
                <li>
                    <a href="{:U('Recharge/index')}">
                        <span class="charnge"></span>
                        采购充值
                    </a>
                </li>
                <li>
                    <a href="{:U('Cart/index')}">
                        <span class="purchase_cart"></span>
                        <span class="purchase_cart_count">采购车<i>1</i></span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Order/purchaseOrder')}">
                        <span class="order_purchase"></span>
                        <span class="purchase_cart_count">采购订单<i>1</i></span>
                    </a>
                </li>
                <li>
                    <a href="{:U('ConsigneeAddress/addressList')}">
                        <span class="person_address"></span>
                        收货人地址
                    </a>
                </li>
            </ul>
        </section>
        <section class="purchase_order_management usercenter_management">
            <ul>
                <li>
                    <a href="{:U('Coupons/couponsList')}">
                        <span class="coupon"></span>
                        代金券
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="icome"></span>
                        <span class="purchase_cart_count">推客收益<i>1</i></span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="purchase_order_management usercenter_management">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <span class="management"></span>
                        通行证账号
                    </a>
                </li>
            </ul>
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>