<extend name="Public:base" />
<block name="title">升级VIP采购商</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class=" f24">
        <section class="purchase_vip_banner">
            <empty name="levelInfo.detail_img">
                <img src="PUBLIC_IMG/common/default/goods_default.png" alt="">
                <else/>
                <img src="UPLOADS_IMG/{$levelInfo.detail_img}" alt="">
            </empty>
        </section>
        <section class="purchaseVip_customer_item purchaser_qualification">
            <div>
                <h2>{$levelInfo.name}采购商资格</h2>
                <div class="member_recharge">充值<span>￥{$levelInfo.fee}</span></div>
                <div class="v_qualification">
                    <span>资格获得</span>
                    <p>采购账户充值￥{$levelInfo.fee}获得资格（用于采购结算），或累计采购额达￥{$levelInfo.fee}可自动获得资格；</p>
                </div>
                <div class="v_qualification">
                    <span>采购结算</span>
                    <p>结算低至{$levelInfo.settlement_discount}，特价产品、美容仪器等按个性规定价结算</p>
                </div>
                <div class="v_qualification">
                    <span>推客收益</span>
                    <p>{$levelInfo.name}级推客收益，{$levelInfo.star|getStarCN}级科技美肤抗衰管理中心牌匾</p>
                </div>
            </div>
        </section>
        <section class="purchaseVip_customer_item purchaser_qualification">
            <div class="qualification_img">
                <empty name="levelInfo.star_img">
                    <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="">
                    <else/>
                    <img src="UPLOADS_IMG/{$levelInfo.star_img}" alt="">
                </empty>
            </div>
        </section>
        <section class="purchaseVip_customer_item">
            <p class="bank_transfer">银行转账支付</p>
            <div class="bank_transfer">
                <p>收款单位：<span>广东美尚网络科技有限公司</span></p>
                <p>开户银行：<span>广州市华景新城支行</span></p>
                <p>银行账户：<span>广东美尚网络科技有限公司</span></p>
            </div>
            <a href="javascript:void(0);" class="bank_transfer_pay">银行转账支付后将凭证发给平台客服通知账户充值</a>
        </section>
    </article>
    <footer class="f24 group_cart_nav weixin_pay_nav">
        <div class="group_btn50 ">
            <span class="recharge_price">￥<price>{$levelInfo.fee}</price></span>
        </div>
        <div class="group_btn50 bff1d25 wxPay">
            <a>微信支付</a>
        </div>
    </footer>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.star_img').classStar(2.1);
            console.log($('.five_star').getStar());

            //微信支付
            $('.wxPay').click(function(){
                var levelId = '{$levelInfo.id}';
                location.href = MODULE + '/Order/payment/id' + levelId;
            });
        });
    </script>
</block>