<div class="top_bar columns_flex">
    <!--<div class="each_column">
        <a class="qr-code">二维码</a>
    </div>-->
    <div class="each_column">
        <!--<a class="home">首页</a>-->
    </div>
    <div class="each_column top_search_module">
        <input type="button" class="search_btn"/>
        <input type="text" class="search_text" placeholder="美尚云搜索"/>
    </div>
    <div class="each_column">
        <a class="shopping_cart">购物车</a>
    </div>
    <div class="each_column">
        <a class="personal_center">我的</a>
    </div>
</div>
<div class="columns_flex flex-both-side store-focus-num">
    <div>
        <img src="public_img/default/no_pic_40.jpg" alt="" class="left">
        <div>
            <p><span>某某</span>官方旗舰店</p>
            <span>美尚联营</span>
        </div>
    </div>
    <div>
        <a href="javascript:void(0);" class="store-focus">关注</a>
        <p><span>1500</span>人</p>
    </div>
</div>