<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/user.css">
</block>
<block name="nav"></block>
<block name="content">
    <section id="userRegisterForm" class="userInfoWrapper">
        <h2 class="tc f28">新用户注册</h2>
        <div class="f24">
            <form class="registerTab" id="formRegister">
                <include file="./Public/userTmpl" />
                <input type="hidden" name="captcha_type" value="register" />
            </form>
            <div class="agreem_marquee">
                <input type="checkbox" class="agreement_consent">
                <label>
                    阅读并同意<a href="platformNotes">《美尚平台使用须知》</a>
                </label>
            </div>
            <a class="registerBtn f28" >注册</a>
            <div class="guide_friendly_tipc">
                <p class="register_explain">说明：美尚通行证适用于集团旗下美尚云、美尚会、美创会等平台</p>
            </div>
            <div class="f24 ftipc clearfix">
                <a href="login" class="fl f06c">登录</a>
                <a href="forget_password" class="fr f06c">忘记密码？</a>
            </div>
        </div>
    </section>

</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.registerBtn',function(){
                var $layer=$('.forgetPasswd_wrap');
                //验证
                var userName=$layer.find('.user_name').val();
                var password=$layer.find('.password').val();
                var newPassword=$layer.find('.cofirm_password').val();
                var userPhone=$layer.find('.user_phone').val();
                var verifiCode=$layer.find('.tel_code').val();
                var content='';
                if(!checkAccount(userName)){
                    content='请输入正确用户名';
                }else if(!register.pswCheck(password)){
                    content = "请输入正确的密码";
                }else if(password!=newPassword){
                    content = "两次密码输入不一致";
                }else if(!register.phoneCheck(userPhone)){
                    content = "请输入正确的手机号码";
                }else if(!register.vfyCheck(verifiCode)){
                    content = "请输入正确的验证码";
                }else if(!$('.agreement_consent').is(':checked')){
                    content="请阅读协议并勾选复选框";
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                var url = ACTION;
                var postData = $('#formRegister').serializeObject();
                $.ajax({
                    url:url,
                    type:'post',
                    data:postData,
                    error:function(xhr){},
                    success:function(data){
                        if(data.status==0){
                            dialog.error(data.info);
                            return false;
                        }else if(data.status==1){
                            layer.close(index);
                        }
                    }
                });
            });
        });
    </script>
</block>
