{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<!--商标截图-->
<section class="htmleaf-container" style="display: none;">
	<div id="clipArea">
		<div class="photo-clip-view" >
			<div class="photo-clip-moveLayer" >
				<div class="photo-clip-rotateLayer"></div>
			</div>
		</div>
		<div class="photo-clip-mask">
			<div class="photo-clip-mask-left"></div>
			<div class="photo-clip-mask-right" ></div>
			<div class="photo-clip-mask-top" ></div>
			<div class="photo-clip-mask-bottom" ></div>
			<div class="photo-clip-area" ></div>
		</div>
		<a href="javascript:void(0);" class="photoClip-close ">X</a>
	</div>
	<div class="foot-use f28">
		<div class="uploader1 blue">
			<input type="button" name="file" class="button" value="打开图片">
			<input id="file" type="file" onchange="javascript:void(0);" accept="image/*" multiple="" />
		</div>
		<button id="clipBtn">截取</button>
	</div>
	<div id="view" class="photoview" ></div>
</section>
<!--商标所属分类-->
<section id="edittradeMark" style="display:none;">
	<p><span class="friend-tipc">*注意</span>：商标分类至少选择1个,最多只能选择3个</p>
	<ul class="vendorInfoList">
		{volist name="categoryList" id="vo"}
		<li data-id="{$vo.id}">{$vo.name}</li>
		{/volist}
	</ul>
</section>
<article class="f24">
	<section class="bottomLine">
		<div class="top_bar top-title">
			<span></span>
			<h2>进行商标备案</h2>
			<a href="" class="home">首页</a>
		</div>
	</section>
	<section>
		<div id="wizard" class="page-bd">
			<nav class="apply-data-nav trademark-nav">
				<ul id="status " class="status f24 weui-flex">
					<li class="weui-flex-item current"><span class="base_info"></span><em></em>商标名称</li>
					<li class="weui-flex-item "><span class="upload-prove"></span><em></em>上传资料</li>
				</ul>
			</nav>
			<div class="apply-data-content">
				<div class="apply-module">
					<form class="trademarkform">
						{notempty name = 'brandInfo'}

						{/notempty}
						<input type="hidden" name="brand_id" value="{$brandInfo.id}">
						<div class="apply-items">
							<input type="text" class="trademark-name" name="name" value="{$brandInfo.name}" placeholder="商标名称">
						</div>
						<div class="logo-license">
							<div class="half">
								<a class="logo" id="logox">
									<img id="" src='public_uploads/{$brandInfo.brand_img}' />
									<input type="hidden" class="logo-src" name="brand_img" value="{$brandInfo.brand_img}">
								</a>
								<p class="f24">上传商标</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="">
							<a href="javascript:void(0);" class="trademark-type right-arrow">商标所属分类</a>
							<input type="hidden" class="trademark-info"  value="" data-trademark="{$brandInfo.cat_id_1}"/>
						</div>
						<a href="javascript:void(0);" class="one-step step">下一步</a>
					</form>
				</div>
				<div class="apply-module hide">
					<p class="f20 upload_st_logo"><span class="friend-tipc">*注意</span>：必须上传图片(格式为jpg、jpeg、png、gif)</p>
					<form class="trademarkform">
						<ul class="upload-picture-module f24">
							<li>
								<div class="picture-module">
									<input type="file" class="uploadImg uploadSingleImg" name="">
									<img class="upload_img" src="public_uploads/{$brandInfo.certificate}" alt="">
									<input type="hidden" class="trademark-certificate img" value="{$brandInfo.certificate}" name="certificate"/>
								</div>
								<p>商标证书</p>
							</li>
							<li>
								<div class="picture-module">
									<input type="file" class="uploadImg uploadSingleImg" name="">
									<img class="upload_img" src="public_uploads/{$brandInfo.authorization}" alt="">
									<input type="hidden" class="trademark-authorization img" value="{$brandInfo.authorization}" name="authorization"/>
								</div>
								<p>商标授权书<br/>(非所有权者需递交)</p>
							</li>
						</ul>
						<a href="javascript:void(0);" class="two-step step">确定递交</a>
					</form>
				</div>
			</div>
		</div>
		<p class="trademark-tipc">商标备案需递交商标证书(已注册或受理的通知书),非商标所有权申请方还需商标授权书,请准备好材料提前拍照以备上传</p>
	</section>
</article>

{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/hammer.js"></script>
<script type="text/javascript" src="public_js/iscroll-zoom.js"></script>
<script type="text/javascript" src="public_js/jquery.photoClip.js"></script>
<script type="text/javascript" src="factory_js/brand.js"></script>
<script type="text/javascript" src="public_js/uploadImgToTemp.js"></script>
<script type="text/javascript">

</script>
{/block}