<notempty name="cartInfo">
    <footer class="f24 shopping_cart_nav">
        <div class="shopping_cart_l">
            <a href="javascript:void(0);" class="shop_cart"><i class="commodity_quantity">{$cartInfo.count}</i></a>
            <input type="hidden" class="cartIds" value="{$cartInfo.cartIds}">
            <div class="s_total_price">
                <span class="total_price">{$cartInfo.total}</span>
            </div>
        </div>
        <a href="javascript:void(0);" class="payment allPay"><i class="collect"></i>去结算</a>
    </footer>
</notempty>



