<extend name="Public:base" />

<block name="title">{$Think.get.pay_status|getPayStatusCN}的采购单</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!--指定收货人模板-->
    <div id="consigneeInfoList" style="display: none;">
        <ul class="consigneeList">
            <li class="current" data-address="">
                <span class="default_address">[默认地址]</span>
                <div>收货人姓名：<span class="consigneeName">李四</span></div>
                <div>收货人手机号：<span class="consigneePhone">13688888887</span></div>
                <div>收货人地址：<span class="consigneeAddress">广东省广州市海珠7区</span></div>
            </li>
            <li data-address="">
                <span class="default_address">[可选地址]</span>
                <div>收货人姓名：<span class="consigneeName">李四1</span></div>
                <div>收货人手机号：<span class="consigneePhone">13688888888</span></div>
                <div>收货人地址：<span class="consigneeAddress">广东省广州市海珠8区</span></div>
            </li>
            <li data-address="">
                <span class="default_address">[可选地址]</span>
                <div>收货人姓名：<span class="consigneeName">李四2</span></div>
                <div>收货人手机号：<span class="consigneePhone">13688888889</span></div>
                <div>收货人地址：<span class="consigneeAddress">广东省广州市海珠9区</span></div>
            </li>
        </ul>
    </div>
    <article class="msh_product_picture f24">
        <section class="purchase_order_list">
            <ul>
                <include file="orderInfoTpl" />
            </ul>
        </section>
        <div class="purchase_package_wrapper f24">
            <div class="purchase_package_list">
                <ul>
                    <notempty name="orderDetaiList">
                        <volist name="orderDetaiList" id="orderDetail">
                            <li>
                                <a class="purchase_goods_img">
                                    <empty name="orderDetail.main_img">
                                        <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                                        <else/>
                                        <img src="PUBLIC_IMG/{$orderDetail.main_img}" alt="">
                                    </empty>
                                </a>
                                <div class="purchase_goods_info">
                                    <p>{$orderDetail.goods_name}</p>
                                    <p>采购箱每箱含60单品盒 每盒装12g*20条</p>
                                    <div>
                                        <span class="purchase_price">￥<price>{$orderDetail.price}</price> /{$orderDetail.unit|getUnitCN}</span>
                                        <del>￥<price>{$orderDetail.price}</price> /{$orderDetail.unit|getUnitCN}</del>
                                    </div>
                                    <div class="purchase_goods_num">
                                        <span>{$orderDetail.num}{$orderDetail.unit|getUnitCN}</span>
                                    </div>
                                </div>
                            </li>
                        </volist>
                    </notempty>
                </ul>
            </div>
        </div>
    </article>
    <footer class="bottom-fxied bottom-fxied-flex f24">
        <a href="javascript:void(0);" class="bottom_btn50 modify">修改收货人</a>
        <a href="javascript:void(0);" class="bottom_btn50">通知已收货</a>
    </footer>
</block>
<block name="footer"></block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){
            //页面初始化
            var arr = [];
            var province = '{$orderInfo.province}';
            var city = '{$orderInfo.city}';
            var area = '{$orderInfo.area}';
            arr.push(province);
            arr.push(city);
            arr.push(area);
            if(arr['province'] && arr['city'] && arr['area']){
                $('li.orderInfo').find('.detailConsigneeAddress').setArea(arr);
            }

            var consigneeInfoList=$('#consigneeInfoList').html();
            $('body').on('click','.modify',function(){
                var consigneeInfoObject={};
                layer.open({
                    btn:['确定','取消'],
                    title:['指定收货人','border-bottom:1px solid #d9d9d9;'],
                    className:'consigneeInfoList_layer',
                    content:consigneeInfoList,
                    success:function(){
                        $('.consigneeList li').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');
                            consigneeInfoObject={
                                consigneeName:$(this).find('.consigneeName').text(),
                                consigneePhone:$(this).find('.consigneePhone').text(),
                                consigneeAddress:$(this).find('.consigneeAddress').text()
                            };
                            $(this).data('address',consigneeInfoObject);
                            console.log(consigneeInfoObject);
                        });
                        $.each($('.consigneeList li'), function(i,val){
                            // if(tBranchText==$(this).text()){
                            //     $(this).addClass('current');
                            //     $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
                            //     return false;
                            // }
                        });
                    },
                    yes:function(index){
                        $('.detailConsigneeName').text(consigneeInfoObject.consigneeName);
                        $('.detailConsigneePhone').text(consigneeInfoObject.consigneePhone);
                        $('.detailConsigneeAddress').text(consigneeInfoObject.consigneeAddress);
                        layer.close(index);
                    }
                });
            });
        });
    </script>
</block>