<extend name="Public:base" />
<block name="title">我的订单管理</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="orderInfo" data-id="{$orderInfo.id}">
            <include file="orderInfoTpl" />
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){
            //页面初始化
            var arr = [];
            var province = '{$orderInfo.province}';
            var city = '{$orderInfo.city}';
            var area = '{$orderInfo.area}';
            if( province && city && area ){
                arr.push(province);
                arr.push(city);
                arr.push(area);
                $('span.consignee_address').setArea(arr);
            }

            //收货人地址
            $('a.select_address').click(function () {
                var url = MODULE + '/ConsigneeAddress/addressList?orderId='+ '{$orderInfo.id}' +
                        '&returnUrl=' + encodeURIComponent(location.href);
                location.href = url;
            });
        });
    </script>
</block>