<li class="orderInfo">
    <div>
        订单号码：
        <span>{$orderInfo.sn}</span>
    </div>
    <div>
        下单时间：
        <span>{$orderInfo.create_time|date='Y-m-d g:iA',###}</span>
    </div>
    <div>
        订单金额：
        <span>￥<price>{$orderInfo.amount}</price></span>
    </div>
    <div>
        订单状态：
        <span class="order_in_stock">{$orderInfo.pay_status|orderStatus}</span>
    </div>
    <div>
        收货人姓名：
        <span class="detailConsigneeName">{$orderInfo.consignee_name}</span>
    </div>
    <div>
        收货人手机号：
        <span class="detailConsigneePhone">{$orderInfo.consignee_mobile}</span>
    </div>
    <div>
        收货人地址：
        <span class="detailConsigneeAddress"></span>{$orderInfo.detailed_address}
    </div>
</li>