<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>审核店销业绩报告</h2>
    </section>
    <article class="f24">
        <section class="my_message_wrapper service_record_wrapper">
            <ul>
                <li class="my_message_item service_record_item">
                    <span>业绩报告</span>
                    <p>{$message.content}</p>
                </li>
                <li class="my_message_item service_record_item">
                    <span>递交人</span>
                    <p>{$message.source_name}</p>
                </li>
                <li class="my_message_item service_record_item">
                    <span>递交日期</span>
                    <p>{$message.create_time|date='Y年m月d日 H:i',###}</p>
                </li>
            </ul>
        </section>
        <div class="perform_report_btn" data-id="{$message.id}">
            <a href="javascript:void(0);" class="report">通知对方修改报告</a>
            <a href="javascript:void(0);" class="audit">通过业绩报告审核</a>
        </div>
    </article>
    <article class="objection_modify_wrapper">
        <section class="f24 proposed_amendment">
            <span class="">我对店销业绩有异议，建议修改</span>
            <textarea id="modify_advice" cols="30" rows="10" class="f24" placeholder="修改建议"></textarea>
        </section>
    </article>
    <div class="weui_btn_area amendment_proposed_area">
        <a class="weui_btn weui_btn_primary amendment_proposed" href="javascript:void(0);" data-id="{$message.id}">确定</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //通知对方修改报告
            $('body').on('click','.report',function () {
                $(this).parent().hide();
                $('.objection_modify_wrapper,.amendment_proposed_area').show();
            });

            //通过业绩报告审核
            $('body').on('click','.audit',function () {
                var postData = {};
                postData.messageId = $(this).parent().data('id');
                postData.modify_advice = $('#modify_advice').val();

                $.post(CONTROLLER + '/passPerformanceAudit',postData,function(msg){
                    layer.open({
                        content: msg.info,
                        skin: 'msg',
                        time: 2
                    });
                    return false;
                });
            });
            
            //确定
            $('body').on('click','.amendment_proposed',function () {
                var postData = {};
                postData.messageId = $(this).data('id');
                postData.modify_advice = $('#modify_advice').val();

                $.post(CONTROLLER + '/modifyAdvice',postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        var content='好的，已通知对方';
                        layer.open({
                            title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                            content:content,
                            btn:['确定'],
                            yes:function(index){
                                layer.close(index);
                            }
                        });
                    }
                });
            });
        });
    </script>
</block>