<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>
            <if condition="$messageType eq 1">
                查看业务往来记录
                <elseif condition="$messageType eq 2"/>
                查看店销日记
                <elseif condition="$messageType eq 3"/>
                审核店销业绩报告
            </if>
        </h2>
    </section>
    <article class="f24">
        <section class="my_message_wrapper service_record_wrapper">
            <ul>
                <notempty name="messageList">
                    <volist name="messageList" id="vo">
                        <li data-id="{$vo.id}" data-from-type="{$vo.from_type}" class="my_message_item service_record_item service_record_list">
                            <a href="javascript:void(0);">
                                <div>标题：<span class="record_title">{$vo.name}</span></div>
                                <div>日期：<span>{$vo.create_time|date='Y年m月d日 H:i',###}</span></div>
                            </a>
                        </li>
                    </volist>
                </notempty>
            </ul>
        </section>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.service_record_list',function(){
                var messageId = $(this).data('id');
                var messageType = '{$messageType}';
                var fromType = $(this).data('from-type');

                if(messageType == 1 || messageType ==2){
                    location.href = CONTROLLER + '/viewMessage?messageId=' + messageId +
                        '&messageType=' + messageType + '&fromType=' + fromType;
                }else if(messageType == 3){
                    location.href = CONTROLLER + '/auditPerformanceReport?messageId=' + messageId +
                        '&messageType=' + messageType + '&fromType=' + fromType;
                }
            });
        });
    </script>
</block>