<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>我的消息列表</h2>
    </section>
    <article class="f24">
        <section class="my_message_wrapper">
            <ul>
                <notempty name="messageList">
                    <volist name="messageList" id="vo">
                        <li class="my_message_item" data-id="{$vo.id}" data-type="{$vo.type}">
                            <a href="javascript:void(0);">
                                <div>标题：<span>{$vo.name}</span><em class="read_message"></em></div>
                                <div>日期：<span>{$vo.create_time|date='Y年m月d日 H:i',###}</span></div>
                            </a>
                        </li>
                    </volist>
                </notempty>
            </ul>
        </section>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function () {
           $('body').on('click','li',function(){
               var messageType = $(this).data('type');

               var postData = {};
               postData.messageId = $(this).data('id');
               
               $.post(CONTROLLER + '/readSellerMessage',postData,function (msg) {
                   if(msg.status ==0){
                       layer.open({
                           content: msg.info,
                           skin: 'msg',
                           time: 2
                       });
                       return false;
                   }else if(msg.status == 1){
                       if(messageType == 1 || messageType ==2){
                           location.href = CONTROLLER + '/viewMessage?messageId=' + postData.messageId + '&messageType=' + messageType;
                       }else if(messageType == 3){
                           location.href = CONTROLLER + '/auditPerformanceReport?messageId=' + postData.messageId;
                       }
                   }
               });
           });
        });
    </script>
</block>