<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/mobiscroll.css">
</block>
<block name="content">
    <!--增加业务往来记录-->
    <include file="Public/addBusinessRecord"/>
    <!--增加店销日记-->
    <include file="Public/addSellDiary"/>
    <!--增加业绩报告-->
    <include file="Public/addPerformanceReport"/>

    <article class="f24 order_processing_wrapper">
        <include file="Public/taskOrderInfo" />
        <span class="order_p_title">订单管理工作台</span>
        <section class="message_list_module order_process_list f28">
            <a href="javascript:void(0);" class="message_list viewBusinessRecord" data-message-type="1">查看业务往来记录<span class="my_message businessRecordCount">{$taskOrder.businessRecordCount|default='0'}</span></a>
            <if condition="$taskOrder.sign_status eq 1">
                <a href="javascript:void(0);" class="message_list service_record" data-servicerecord="">我要写业务往来记录</a>
            </if>
        </section>

        <if condition="($taskOrder.type eq 1) or ($taskOrder.type eq 2)">
            <section class="message_list_module order_process_list f28">
                <a href="javascript:void(0);" class="message_list viewSellDiary" data-message-type="2">查看店销日记<span class="my_message sellDiaryCount">{$taskOrder.sellDiaryCount|default='0'}</span></a>
                <if condition="$taskOrder.sign_status eq 1">
                    <a href="javascript:void(0);" class="message_list shop_diary" data-shopdiary="">我要写店销日记</a>
                </if>
            </section>
            <section class="message_list_module order_process_list f28">
                <a href="javascript:void(0);" class="message_list auditPerformanceReport" data-message-type="3">
                    <if condition="$taskOrder.sign_status eq 1">
                        审核店销业绩报告
                        <else />
                        查看店销业绩报告
                    </if>
                    <span class="my_message performanceReport">{$taskOrder.performanceReportCount|default='0'}</span>
                </a>
                <if condition="$taskOrder.sign_status eq 1">
                    <a href="javascript:void(0);" class="message_list performance_report_btn">递交店销业绩报告</a>
                </if>
            </section>
        </if>

        <section class="message_list_module order_process_list f28">
            <a href="javascript:void(0);" class="message_list viewSellerComments">查看我的评分评论</a>
        </section>

        <if condition="$taskOrder.sign_status eq 1">
            <section class="message_list_module order_process_list f28">
                <a href="javascript:void(0);" class="message_list terminateCooperationApply">如需单方面终止合作协议请进入协商程序</a>
                <a href="javascript:void(0);" class="message_list complainInform">如遇合作欺诈可投诉举报店家</a>
            </section>
        </if>
    </article>
</block>
<block name="mjs-customize">
    <script src="{$Think.config.PUBLIC_JS}/common/mobiscroll.js"></script>

    <script type="text/javascript">
        $(function () {
            var sellerServiceRecord=$('#sellerServiceRecord').html();
            var salesShopDiary=$('#salesShopDiary').html();
            var performanceReport=$('#performanceReport').html();

            //消息给谁单选
            $('body').on('click','.message_push a',function(){
                $(this).addClass('current').siblings().removeClass('current');
            });

            //查看业务往来记录|查看店销日记|递交业绩报告
            $('body').on('click','.viewBusinessRecord,.viewSellDiary,.auditPerformanceReport',function(){
                var messageType = $(this).data('message-type');
                location.href = CONTROLLER + '/messageList?taskOrderId=' + '{$taskOrder.id}' +'&messageType=' + messageType;
            });

            //查看我的评分评论
            $('body').on('click','.viewSellerComments',function(){
                location.href = CONTROLLER + '/viewMyComments';
            });

            //单方面终止合作协议申请
            $('body').on('click','.terminateCooperationApply',function(){
                var taskOrderId = '{$taskOrder.id}';
                location.href = CONTROLLER + '/terminateCooperationApply?taskOrderId=' +taskOrderId;
            });

            //投诉举报
            $('body').on('click','.complainInform',function(){
                var taskOrderId = '{$taskOrder.id}';
                var sellerId = '{$taskOrder.seller_id}';
                location.href = CONTROLLER + '/complainInform?taskOrderId=' +taskOrderId + '&sellerId=' +sellerId;
            });

            //我要写业务往来记录
            $('body').on('click','.service_record',function(){
                layer.open({
                    title:['增加业务往来记录','border-bottom:1px solid #d9d9d9;'],
                    className:'sellerServiceRecord_layer',
                    content:sellerServiceRecord,
                    btn:['确定','取消'],
                    yes:function(index){
                        var sellerServiceRdLayer = $('.sellerServiceRecord_layer').find('.service_record_main');
                        var postData = {
                            name:sellerServiceRdLayer.find('.business_record_title').val(),
                            content:sellerServiceRdLayer.find('.business_record_content').val(),
                            type:1
                        };
                        postData.task_order_id = '{$taskOrder.id}';

                        postData.from_id = '{$sellerId}';
                        postData.from_type = 2;
                        var sellerId = sellerServiceRdLayer.find('.message_push a.current').data('seller-id');
                        postData.to_id = sellerId ? sellerId : '{$sellerId}';
                        postData.to_type = 2;

                        $.post(ACTION,postData,function(msg){
                            if(msg.status == 1){
                                var tmp = Number($('.businessRecordCount').text());
                                $('.businessRecordCount').text(++tmp);
                            }
                            layer.open({
                                content: msg.info,
                                skin: 'msg',
                                time: 2
                            });
                            return false;
                        });
                    }
                });
            });

            //写店销日记
            $('body').on('click','.shop_diary',function(){
                layer.open({
                    title:['写店销日记','border-bottom:1px solid #d9d9d9;'],
                    className:'salesShopDiary_layer',
                    content:salesShopDiary,
                    btn:['确定','取消'],
                    success:function(){
                    },
                    yes:function(index){
                        var shopDiaryLayer=$('.salesShopDiary_layer').find('.shop_diary_main');
                        var postData={
                            content:shopDiaryLayer.find('.shop_diary_text').val(),
                            type:2
                        };
                        var title = shopDiaryLayer.find('.shop_diary_title').val();
                        postData.name = title ? title : '店销日记';

                        postData.task_order_id = '{$taskOrder.id}';

                        postData.from_id = '{$sellerId}';
                        postData.from_type = 2;
                        postData.to_id = '{$sellerId}';
                        postData.to_type = 2;

                        $.post(ACTION,postData,function(msg){
                            if(msg.status ==1){
                                var tmp = Number($('.sellDiaryCount').text());
                                $('.sellDiaryCount').text(++tmp);
                            }
                            layer.open({
                                content: msg.info,
                                skin: 'msg',
                                time: 2
                            });
                            return false;
                        });
                    }
                });
            });

            //提交业绩报告
            $('body').on('click','.performance_report_btn',function(){
                layer.open({
                    title:['递交店销业绩报告','border-bottom:1px solid #d9d9d9;'],
                    className:'performanceReport_layer',
                    content:performanceReport,
                    btn:['提交','取消'],
                    yes:function(index){
                        var performance_report_main=$('.performanceReport_layer').find('.performance_report_main');
                        var postData={
                            content:performance_report_main.find('.performance_report_text').val(),
                            name:'业绩报告',
                            type:3
                        };
                        postData.task_order_id = '{$taskOrder.id}';

                        postData.from_id = '{$sellerId}';
                        postData.from_type = 2;
                        postData.to_id = '{$sellerId}';
                        postData.to_type = 2;

                        $.post(ACTION,postData,function(msg){
                            if(msg.status ==1){
                                var tmp = Number($('.performanceReport').text());
                                $('.performanceReport').text(++tmp);
                            }
                            layer.open({
                                content: msg.info,
                                skin: 'msg',
                                time: 2
                            });
                            return false;
                        });
                    }
                });
            });
        });
    </script>
</block>