<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
</block>
<block name="content">
    <!--我给该卖手评分模板-->
    <div id="sellerScoringReview">
        <div class="score_review_content f24">
            <div class="score_review_item">
                <span class="my_scoring">请选择我的评分</span>
                <div class="my_score_star myScore">
                    <div class="star_score star_img">
                        <img src="__PUBLIC__/images/sellerCompany/star.png" />
                        <img src="__PUBLIC__/images/sellerCompany/star.png" />
                        <img src="__PUBLIC__/images/sellerCompany/star.png" />
                        <img src="__PUBLIC__/images/sellerCompany/star.png" />
                        <img src="__PUBLIC__/images/sellerCompany/star.png" />
                    </div>
                    <span class="fraction" data-score=""></span>
                </div>
            </div>
            <div class="score_review_item">
                <span class="my_scoring">我对该卖手的评论（可不填）</span>
                <input type="text" placeholder="评论标题" name="name" class="business_record_title seller_comment_title"
                       value="">
                <input type="hidden" name="sellerCommentsId"/>
                <textarea name="content" cols="30" rows="10" placeholder="评论内容"
                          class="business_record_content seller_comment_text"></textarea>
            </div>
        </div>
    </div>
    <section class="msy_sign_title f20">
        <h2>查看我的评分评论</h2>
    </section>
    <article class="f24 seller_scoring_review">
        <ul class="f24 salesassignhand_wrap">
            <li class="assignhand_list seller_recruit_list">
                <a href="javascript:void(0);">
                    <div class="cs_item_wrapper">
                        <div class="item-img-wrapper">
                            <empty name="seller.avatar">
                                <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="" class="cs_item_img">
                                <else/>
                                <img src="/Uploads/{$seller.avatar}" alt="" class="cs_item_img">
                            </empty>
                        </div>
                        <div class="cs_item_description">
                            <p>昵称:<span class="assignhand_nickname">{$seller.nickname}</span></p>
                            <p>姓名:<span class="assignhand_name">{$seller.name}</span></p>
                            <p>性别:<span class="assignhand_sex">{$seller.sex|sex}</span></p>
                            <p>类型:<span>{$seller.type|sellerType}</span></p>
                            <div class="five_star avgStar1">
                                <div class="star_img">
                                    <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                    <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                    <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                    <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                    <img src="__PUBLIC__/images/sellerCompany/star.png" >
                                </div>
                                <span class="fraction" data-score=""></span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div>
            <div class="store_score_title">
                <span>店家评分</span>
                <p><span>{$sellerScoreCount}</span>个店家评分</p>
            </div>
            <div class="store_score_star five_star">
                <div class="star_img empty_star avgStar2">
                    <span class="real_star"></span>
                </div>
                <span class="fraction" data-score=""></span>
            </div>
            <notempty name="sellerScoreList">
                <volist name="sellerScoreList" id="vo">
                    <div class="score_star_item">
                        <div class="store_score_star five_star store_score_progress">
                            <div class="star_img empty_star" data-id="{$vo.score}" data-percent="{$vo.percent}">
                                <span class="real_star"></span>
                            </div>
                            <div class="star_progress_bar">
                                <span class="real_star_progress"></span>
                            </div>
                        </div>
                    </div>
                </volist>
            </notempty>
        </div>
        <div class="comments_div">
            <div class="store_score_title">
                <span>店家评论</span>
                <p><span>{$sellerCommentsCount}</span>个店家评论</p>
            </div>
            <notempty name="sellerCommentsList">
                <volist name="sellerCommentsList" id="vo">
                    <div class="sales_comment_list">
                        <div class="store_score_star five_star">
                            <div class="star_img empty_star" data-score="{$vo.score}">
                                <span class="real_star"></span>
                            </div>
                            <div><span>{$vo.user_name}</span><em>—</em><span>{$vo.create_time|date='Y年m月d日 H:i',###}</span></div>
                        </div>
                        <p>{$vo.content}</p>
                    </div>
                </volist>
            </notempty>
        </div>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化
            var sellerScoreAvg = '{$sellerScoreAvg}';
            $('.avgStar1').setStar(sellerScoreAvg);
            $('.avgStar2').setclassStar(sellerScoreAvg);
            var mySellerComment = {
                score:'{$mySellerComments.score}',
                name:'{$mySellerComments.name}',
                content:'{$mySellerComments.content}'
            };
            $('.myScore').setStar(mySellerComment.score);
            $('.scoring_review').data('sellerscore',mySellerComment);
            $('.comments_div').find('.empty_star').each(function(){
                $(this).setclassStar($(this).data('score'));
            });

            //设置店家评分比例
            $.each($('div[data-id]'),function(i,obj){
                var starParentId = $(this).data('id');
                $(this).setclassStar(starParentId);
                var percent = $(this).data('percent');
                $(this).next().setProgressBar(percent);

            });

            //点击星星评分
            $('body').on('click','.star_score img',function(){
                var star='__PUBLIC__/images/sellerCompany/star.png';
                var starRed='__PUBLIC__/images/sellerCompany/starred.png';
                var prompt=['1分','2分','3分','4分','5分'];
                var starId=$(this).index();
                $.each($('.star_score img'),function(){
                    $(this).attr('src',star);//遍历img元素为空心星
                });
                $(this).attr('src',starRed);
                $(this).prevAll().attr('src',starRed);
                $(this).parent().next('.fraction').text(prompt[starId]);
                $(this).parent().next('.fraction').data('value',starId+1);
            });

            //卖手评分评论弹窗
            var sellerScoringReview=$('#sellerScoringReview').html();
            $('body').on('click','.scoring_review',function(){
                layer.open({
                    title:['我给该卖手的评分','border-bottom:1px solid #d9d9d9;'],
                    className:'sellerScoringReview_layer',
                    content:sellerScoringReview,
                    btn:['确定','取消'],
                    success:function(){
                        var sellerScoreObject=$('.scoring_review').data('sellerscore');
                        if(sellerScoreObject.score){
                            $('.my_score_star').setStar({
                                getFractionValue:sellerScoreObject.score,
                                mainCell:'.star_score img'
                            });
                        }
                        $('.seller_comment_title').val(sellerScoreObject.name);
                        $('.seller_comment_text').val(sellerScoreObject.content);
                    },
                    yes:function(index){
                        var sellerScoreLayer=$('.sellerScoringReview_layer').find('.score_review_content');
                        var sellerScoreOption={
                            score:sellerScoreLayer.find('.fraction').data('value'),
                            name:sellerScoreLayer.find('.seller_comment_title').val(),
                            content:sellerScoreLayer.find('.seller_comment_text').val()
                        };
                        $('.scoring_review').data('sellerscore',sellerScoreOption);

                        var postData = $('.scoring_review').data('sellerscore');
                        postData.seller_id = '{$seller.id}';
                        postData.taskOrderId = '{$taskOrderId}';
                        postData.sellerCommentsId = '{$mySellerComments.id}';

                        $.post(ACTION,postData,function(msg){
                            layer.open({
                                content: msg.info,
                                skin: 'msg',
                                time: 2
                            });
                            return false;
                        });
                    }
                });
            });
        });
    </script>
</block>