@charset "utf-8";
/* CSS Document */
/* ======================================== */
/* 商家中心相关样式表单						*/
/* ======================================== */

body {
	color: #666;
	background-color: #F9F9F9;
}
html, body {
	height: 100%;
}
h2 {
	font: 24px/40px "microsoft yahei";
	color: #27A9E3;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "microsoft yahei";
	font-weight: normal;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 22px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
.lighter {
	font-weight: lighter;
}
.bolder {
	font-weight: bolder;
}
h1.smaller {
	font-size: 31px;
}
h2.smaller {
	font-size: 24px;
}
h3.smaller {
	font-size: 21px;
}
h4.smaller {
	font-size: 17px;
}
h5.smaller {
	font-size: 14px;
}
h6.smaller {
	font-size: 12px;
}
h1.bigger {
	font-size: 33px;
}
h2.bigger {
	font-size: 26px;
}
h3.bigger {
	font-size: 23px;
}
h4.bigger {
	font-size: 19px;
}
h5.bigger {
	font-size: 16px;
}
h6.bigger {
	font-size: 14px;
}
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
	margin-bottom: 16px;
}
i {
	font-size: 1.2em;
}
a:focus, a:active {
	text-decoration: none;
}
a {
	color: #0579C6;
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
a:hover {
	text-decoration: underline;
	color: #F60;
}
.hidden {
	display: none;
}
.center {
	text-align: center;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.dark {
	color: #333333 !important;
}
.white {
	color: #FFFFFF !important;
}
.red {
	color: #DD5A43 !important;
}
.light-red {
	color: #FF7777 !important;
}
.blue {
	color: #27A9E3 !important;
}
.light-blue {
	color: #93CBF9 !important;
}
.green {
	color: #69AA46 !important;
}
.light-green {
	color: #B6E07F !important;
}
.orange {
	color: #FF892A !important;
}
.purple {
	color: #A069C3 !important;
}
.pink {
	color: #C6699F !important;
}
.pink2 {
	color: #D6487E !important;
}
.brown {
	color: #A52A2A !important;
}
.grey {
	color: #777777 !important;
}

/* 表单项属性
------------------------------------------- */
input[type="text"], input[type="password"], input.text, input.password {
	font: 12px/20px Arial;
	color: #777;
	background-color: #FFF;
	vertical-align: top;
	display: inline-block;
	height: 20px;
	padding: 8px;
	border: solid 1px #CCC;
	outline: 0 none;
}
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.password:focus, textarea:focus {
	color: #333;
	border-color: #75B9F0;
	box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
	outline: 0 none;
}
input[type="text"].error, input[type="password"].error, textarea.error {
	border-color: #ED6C4F;
	box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15);
	outline: 0 none;
}
textarea, .textarea {
	font: 12px/20px Arial;
	color: #777;
	background-color: #FFF;
	vertical-align: top;
	display: inline-block;
	height: 60px;
	padding: 4px;
	border: solid 1px #CCC;
	outline: 0 none;
}
select {
	color: #777;
	background-color: #FFF;
	height: 30px;
	vertical-align: middle;
*display: inline;
	padding: 4px;
	border: solid 1px #CCC;
*zoom:1;
}
select option {
	line-height: 20px;
	display: block;
	height: 20px;
	padding: 4px;
}
.editinput{
	line-height: 20px;
	background-color: #FBFBFB;
	height: 20px;
	border: solid 1px #D8D8D8;
	cursor: default;
}
.add-on {
	line-height: 28px;
	background-color: #E6E6E6;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 28px;
	height: 28px;
	border: solid #CCC;
	border-width: 1px 1px 1px 0
}
.add-on {
*display: inline/*IE6,7*/;
	zoom: 1;
}
.add-on i {
	font-size: 14px;
	color: #666;
	text-shadow: 1px 1px 0 #FFFFFF;
*margin-top: 8px/*IE7*/;
}

/* 弹出框体 */
#dialog_manage_screen_locker {
	opacity: 0!important;
}
.dialog_wrapper {
	box-shadow: 0 0 0 2px rgba(153,153,153,0.25) !important;
	padding: 0!important;
	border-radius: 0!important;
}

/* 按钮样式 */
.nscs-table-handle {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
}
.nscs-table-handle span {
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: center;
	display: inline-block;
	padding: 0 4px;
	border-left: solid 1px #E6E6E6;
}
.nscs-table-handle span {
*display: inline/*IE6,7*/;
}
.nscs-table-handle span:first-child {
	border-left: none 0;
}
.nscs-table-handle span a {
	color: #777;
	background-color: #FFF;
	display: block;
	padding: 3px 7px;
	margin: 1px;
}
.nscs-table-handle span a i {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}
.nscs-table-handle span a p {
	font: 12px/16px arial;
	height: 16px;
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}
.nscs-table-handle span a:hover {
	text-decoration: none;
	color: #FFF;
	margin: 0;
	border-style: solid;
	border-width: 1px;
}
a.ncsc-btn-mini {
	font: normal 12px/20px arial;
	color: #777;
	background-color: #F5F5F5;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	padding: 0 10px;
	margin-right: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
	cursor: pointer;
}
a:hover.ncsc-btn-mini {
	text-decoration: none;
	color: #333;
	background-color: #E6E6E6;
	border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
}
a.ncsc-btn {
	font: normal 12px/20px "microsoft yahei";
	text-decoration: none;
	color: #777;
	background-color: #F5F5F5;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	padding: 4px 10px;
	border: solid 1px;
	border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
	cursor: pointer;
}
a:hover.ncsc-btn {
	text-decoration: none;
	color: #333;
	background-color: #E6E6E6;
	border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
}

.ncsc-edit-btn {
	vertical-align: top;
	display: inline-block;
*display: inline/*IE7*/;
	width: 55px;
	height: 30px;
	z-index: 9999;
	position: absolute;
	left: 70px;
	top: 140px;
*zoom:1;
}
.ncsc-edit-btn a {
	display: block;
	position: relative;
	z-index: 1;
}
.ncsc-edit-btn span {
	width: 60px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	cursor: pointer;
}
.ncsc-edit-btn .input-file {
	width: 55px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: none 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.ncsc-edit-btn p {
	font-size: 12px;
	line-height: 20px;
	background-color: #F5F5F5;
	color: #999;
	text-align: center;
	color: #666;
	width: 60px;
	height: 20px;
	padding: 4px 0;
	border: solid 1px;
	border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.ncsc-edit-btn p i {
	vertical-align: middle;
	margin-right: 4px;
}
.ncsc-edit-btn a:hover p {
	background-color: #E6E6E6;
	color: #333;
	border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
}
.ncsc-upload-btn{
	position: absolute;
	width: 140px;
	height: 180px;
	z-index: 1;
	top:0;
	left: 0;
}
.ncsc-upload-btn input{
	position: absolute;
	font-size: 20px;
	width: 140px;
	height: 180px;
	left: 0;
	top: 0;
	display: none;
}

.show-album {
	font-size: 12px;
	color: #666;
	line-height: 20px;
	background-color: #F5F5F5;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	padding: 4px 8px;
	border: solid 1px;
	border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
}
.show-album i {
	margin-right: 4px;
}
.show-album:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF
}
.submit-border {
	display: inline-block;
*display: inline/*IE6,7*/;
	border: solid 1px;
	border-color: #52A452 #52A452 #448944 #52A452;
	zoom: 1;
}
input[type="submit"], input.submit, a.submit {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	background-color: #5BB75B;
	display: block;
	height: 30px;
	padding: 0 20px 2px 20px;
	border: 0;
	cursor: pointer;
}
.submit-border:hover {
	borderd-color: #499249 #499249 #3D7A3D #499249;
}
input[type="submit"]:hover, input.submit:hover, a.submit:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #51A351;
}
.order .buyer {
	color: #555;
	position: relative;
	display: block;
}
.order .buyer-info {
	display: none;
}
.order .buyer:hover .buyer-info {
*width:250px/*IE7*/;
	display: block;
	position: absolute;
	z-index: 8;
	top: -40px;
	left: 90px;
	border: solid 1px #FEC500;
	background-color: #FFF9D4;
	padding: 4px;
	border-radius: 5px;
}
.order .buyer-info em {
	background: url(../images/seller/ncsc_bg_img.png) no-repeat -40px -460;
	width: 8px;
	height: 14px;
	position: absolute;
	z-index: 9;
	top: 37px;
	left: -8px;
}
.order .buyer-info .con {
	display: block;
	overflow: hidden;
	background: #FFF;
	padding: 5px;
}
.order .buyer-info h3 {
	font-size: 1em;
	font-weight: 700;
	color: #C33700;
	padding: 5px 0;
	overflow: hidden;
}
.order .buyer-info h3 i {
	background: url(../images/seller/ncsc_bg_img.png) no-repeat scroll -40px -476px;
	width: 17px;
	height: 11px;
	float: left;
	margin: 5px 5px 4px 12px;
}
.order .buyer-info h3 span {
	float: left;
}
.order .buyer-info dl {
	color: #777;
	padding: 2px 0;
	width: 220px;
	overflow: hidden;
	clear: both;
}
.order .buyer-info dt {
	float: left;
	width: 50px;
	text-align: right;
}
.order .buyer-info dd {
	float: left;
	width: 140px;
	text-align: left;
}
/* 商品发布页面相关样式
------------------------------------------- */


/* 发布商品-上传主图 */
.ncsc-goods-default-pic {
	overflow: hidden;
}
.ncsc-goods-default-pic .goodspic-uplaod {
	float: left;
}
.ncsc-goods-default-pic .goodspic-uplaod .upload-thumb {
	line-height: 0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 160px;
	height: 160px;
	border: solid 1px #F5F5F5;
	overflow: hidden;
}
.ncsc-goods-default-pic .goodspic-uplaod .upload-thumb img {
	max-width: 160px;
	max-height: 160px;
margin-top:expression(160-this.height/2);
*margin-top:expression(80-this.height/2)/*IE6,7*/;
}
.ncsc-goods-default-pic .goodspic-uplaod .handle {
	height: 30px;
	margin: 10px 0;
}
.ncsc-goods-default-pic .faq {
	width: 300px;
	float: right;
}
.ncsc-form-goods-pic {
	min-height: 480px;
	overflow: hidden;
}
.ncsc-form-goods-pic .container {
	width: 708px;
	float: left;
}
.ncsc-form-goods-pic .sidebar {
	width: 228px;
	float: right;
}
.sticky #uploadHelp {
	width: 178px;
	position: fixed;
	z-index: 10;
	top: 75px;
}
.ncsc-form-goods-pic .ncsc-goodspic-list {
	margin-bottom: 20px;
	border: solid 1px #E6E6E6;
	overflow: hidden;
}
.ncsc-goodspic-list:hover {
	border-color: #AAA;
}
.ncsc-goodspic-list .title {
	background-color: #F5F5F5;
	height: 20px;
	padding: 5px 0 5px 12px;
	border-bottom: solid 1px #E6E6E6;
}
.ncsc-goodspic-list:hover .title {
	background-color: #CCC;
	border-color: #AAA;
}
.ncsc-goodspic-list .title h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #555;
}
.ncsc-goodspic-list:hover .title h3 {
	color: #000;
}
/* 发布与编辑商品-AJAX图片上传及控制删除 */

.ncsc-goodspic-list ul {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	margin-left: -1px;
}
.ncsc-goodspic-list ul li {
	font-size: 12px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
*display: inline/*IE6,7*/;
	width: 140px;
	height: 180px;
	border-left: solid 1px #E6E6E6;
	position: relative;
	z-index: 1;
	zoom: 1;
	float: left;
}
.ncsc-goodspic-list:hover ul li {
	border-color: #CCC;
}
/*.ncsc-goodspic-list ul li .upload-thumb {*/
	/*line-height: 0;*/
	/*background-color: #FFF;*/
	/*text-align: center;*/
	/*vertical-align: middle;*/
	/*display: table-cell;*/
/**display: block;*/
	/*width: 120px;*/
	/*height: 120px;*/
	/*border: solid 1px #F5F5F5;*/
	/*position: absolute;*/
	/*z-index: 2;*/
	/*top: 10px;*/
	/*left: 10px;*/
	/*overflow: hidden;*/
/*}*/
.ncsc-goodspic-list ul li .upload-thumb img {
	max-width: 120px;
	max-height: 120px;
margin-top:expression(120-this.height/2);
*margin-top:expression(60-this.height/2)/*IE6,7*/;
}
.ncsc-goodspic-list ul li .label1{
	width: 140px;
	height: 180px;
	z-index: 999;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ncsc-goodspic-list ul li .show-default {
	display: block;
	width: 120px;
	height: 30px;
	padding: 90px 0 0;
	border: solid 1px #F5F5F5;
	position: absolute;
	z-index: 3;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.ncsc-goodspic-list ul li .show-default:hover {
	border-color: #27A9E3;
}
.ncsc-goodspic-list ul li .show-default.selected, .ncsc-goodspic-list ul li .show-default.selected:hover {
	border-color: #28B779;
}
.ncsc-goodspic-list ul li .show-default p {
	color: #28B779;
	line-height: 20px;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');
	background: rgba(255,255,255,0.9);
	display: none;
	height: 20px;
	padding: 5px;
}
.ncsc-goodspic-list ul li .show-default:hover p {
	color: #27A9E3;
	display: block;
}
.ncsc-goodspic-list ul li .show-default.selected p {
	color: #28B779;
	display: block;
}
input[type="hidden"] {
	font-size: 14px;
	margin-right: 4px;
}
.ncsc-goodspic-list ul li a.del {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	font-weight: lighter;
	background-color: #FFF;
	line-height: 14px;
	text-align: center;
	display: none;
	width: 14px;
	height: 14px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	position: absolute;
	z-index: 3;
	top: -8px;
	right: -8px;
}
.ncsc-goodspic-list ul li .show-default:hover a.del {
	color: #27A9E3;
	display: block;
}
.ncsc-goodspic-list ul li .show-default.selected:hover a.del {
	color: #28B779;
}
.ncsc-goodspic-list ul li .show-default:hover a.del:hover {
	text-decoration: none;
}
.ncsc-goodspic-upload .show-sort {
	line-height: 20px;
	color: #999;
	width: 55px;
	height: 20px;
	padding: 4px 0 4px 4px;
	border-style: solid;
	border-color: #E6E6E6;
	border-width: 1px 0 1px 1px;
	position: absolute;
	z-index: 9999;
	left: 10px;
	top: 140px;
}
.ncsc-goodspic-upload .show-sort .text {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	vertical-align: middle;
	width: 10px;
	height: 20px;
	padding: 0;
	border: none 0;
}
.ncsc-goodspic-upload .show-sort .text:focus {
	color: #28B779;
	text-decoration: underline;
	box-shadow: none;
}
.ncsc-goodspic-upload .ncsc-upload-btn {
	width: 140px;
	height: 180px;
	margin: 0;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
}
.ncsc-goodspic-upload .ncsc-upload-btn span {
	width: 60px;
	height: 30px;
}
.ncsc-goodspic-upload .ncsc-upload-btn .input-file {
	width: 55px;
	height: 30px;
}
.ncsc-goodspic-upload .ncsc-upload-btn p {
	width: 53px;
	height: 20px;
}
.ncsc-select-album {
	background-color: #FFF;
	border-top: solid 1px #E6E6E6;
	padding: 10px;
}
.ncsc-goodspic-list:hover .ncsc-select-album {
	border-color: #CCC;
}
/* E 提示的样式*/
.sort_info {
	color: #f50;
	position: relative;
	font-size: 12px;
	font-family: "宋体"
}
.sort_info .title {
	color: #404040;
	float: left;
	width: 60px;
	line-height: 18px;
	display: block;
}
.sort_info .info {
	float: left;
	width: 860px;
	line-height: 18px;
	display: block;
}
.add_link {
	margin: 0 3px 0 10px;
}
.add_done {
	color: #093
}
.wp_launch {
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
}
.wp_launch input {
	width: 21px;
	height: 21px;
	vertical-align: middle;
	padding: 0;
	outline: none;
	margin: -2px 0;
	margin: -4px 0\9;
}
.current_sort {
	margin-top: 0px;
}
.current_sort .msg0-icon-help {/*margin-top:-2px\9;*/
}
.current_sort .help_tips {
	position: absolute;
	background-color: #FFF9CC;
	border: 1px solid #F4CB48;
	z-index: 20;
	display: block;
	width: 263px;
	color: #404040;
	padding: 2px 5px;
	text-align: left;
	left: 188px;
	top: 25px;
}
/* 提交表单 */
.ncsc-flow-container .ncsc-form-default dl dt {
	width: 19%;
}
.ncsc-flow-container .ncsc-form-default dl dd {
	width: 79%;
}
/* 举证图片列表 */
.ncsc-evidence-pic {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
}
.ncsc-evidence-pic li {
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
*display: inline/*IE7*/;
	width: 60px;
	height: 60px;
	padding: 4px;
	margin-right: 10px;
	border: solid 1px #F5F5F5;
*zoom: 1/*IE7*/;
}
.ncsc-evidence-pic li a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 100px;
	height: 60px;
	overflow: hidden;
}
.ncsc-evidence-pic li a img {
	max-width: 60px;
	max-height: 60px;
margin-top:expression(60-this.height/2);
*margin-top:expression(30-this.height/2);
}
/*返回顶部*/
* {
	padding: 0px;
	margin: 0px;
}
*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}/*解决IE6下滚动抖动的问题*/
#tbox {
	width: 52px;
	_margin-bottom: 5px;
	float: right;
	position: fixed;
	_position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	_bottom: auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}/*解决IE6下不兼容 position:fixed 的问题*/
#tbox .btn {
	background-color: #FFF;
	text-align: center;
	height: 44px;
	padding: 6px 0 2px 0;
	margin-bottom: 5px;
}
#tbox .btn i {
	background: url(../images/seller/ncsc_bg_img.png) no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#tbox .btn i em {
	font: 10px/12px Arial;
	color: #FFF;
	background-color: #27A9E3;
	height: 12px;
	padding: 0 2px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: -6px;
	right: -6px;
}
#tbox .btn i.im {
	background-position: -260px -420px;
}
#tbox .btn i.top {
	background-position: -260px -450px;
}
#tbox .btn i.msg {
	background-position: -260px -480px;
}
#tbox .btn a {
	font: 11px/20px "microsoft yahei";
	color: #27A9E3;
	text-decoration: none;
	display: block;
}
#tbox .btn:hover {
	background-color: #27A9E3;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}
#tbox .btn:hover i em {
	color: #27A9E3;
	background-color: #FFF;
}
#tbox .btn:hover i.im {
	background-position: -290px -420px;
}
#tbox .btn:hover i.top {
	background-position: -290px -450px;
}
#tbox .btn:hover i.msg {
	background-position: -290px -480px;
}
#tbox .btn:hover a, #tbox .btn a:hover {
	color: #FFF;
}
#footer {
	font-size: 12px!important;
	line-height: 20px;
	color: #999;
	background: #E6E6E6;
	text-align: center;
	display: block;
	width: 100%;
	clear: both;
	margin: 0;
	padding-bottom: 10px;
	border-top: 1px solid #CCC;
	overflow: hidden;
}
#footer p {
	color: #666;
	word-spacing: 5px;
	padding: 10px 0;
}
#footer a {
	color: #666;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .vol {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 600;
	font-style: oblique;
	font-size: 12px;
}
#footer .vol .b {
	color: #00F;
}
#footer .vol .o {
	color: #F60;
}
#footer .vol em {
	font-family: Georgia, Arial;
	font-weight: 600;
	font-style: italic;
	color: #000;
	margin-left: 2px;
}
