{extend name="template/base.html" /}
{block name="content"}

<article class="f24">
	<ul class="nav_menu">
		<li data-category-id="51">
			<a href="javascript:void(0);" class="category_nav">轻松拓客</a>
		</li>
		<li data-category-id="44">
			<a href="javascript:void(0);" class="category_nav">留客实操</a>
		</li>
		<li data-category-id="45" class="current">
			<a href="javascript:void(0);" class="category_nav">锁客方略</a>
		</li>
	</ul>
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<!--{notempty name="info.goods_video"}
				<div class="swiper-slide swiper-slide-active">
					<video  src="public_uploads/{$info.goods_video}" autoplay="autoplay"></video>
				</div>
				{/notempty}
				{volist name="info.main_img" id="main_img"}
				<div ssssclass="swiper-slide swiper-slide-active">
					<img src="public_img/banner/cy_top_banner.jpg" alt="" class="common_default_img">
				</div>
				{/volist}-->
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/suokefanglue-banner.jpg" alt="" class="common_default_img">
				</div>
			</div>
		</div>
	</section>
	<section class="content-padding content_main wy_list" style="background:#A70000;">
		<div>
			<a>
				<img src="public_img/skfl-coupn.jpg" alt="" class="common_default_img">
			</a>
		</div>
		<div class="">
			<div class="columns_flex l-r-sides count_down_module">
				<div class="mid_module_left">
					<img src="public_img/mcs_dz.png" alt="">
					<div>
						<span class="left count-down-icons"></span>
						<div class="d-r">
							<p class="friday_end">每周采购<span>.</span>周五截止</p>
							<div id="countDownBox" class="count_down_box">
								<span class="day"></span>天
								<span class="hour"></span>小时
								<span class="minute"></span>分
								<span class="second"></span>秒
							</div>
						</div>
					</div>
				</div>
				<div class="mid_module_right">
					<span><span class="item end_time"></span>周五结单</span>
					<span><span class="item factory"></span>品质工厂</span>
				</div>
			</div>
		</div>
		<!--产品列表-->
		<ul class="goods_list list">
			<li data-id="{$info.id}" data-buy_type="1" id="li-id-{$key}">
				<a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
					{empty name="info.thumb_img"}
					<img class="left" src="public_img/default/no_pic_100.jpg" alt="">
					{else /}
					<img class="left" src="public_uploads/{$info.thumb_img}" alt="">
					{/empty}
				</a>
				<div class="list_r">
					<p class="text-intro">产品产品产品产品产品产品产品</p>
					<div>
						<span class="red">￥<price>500.00</price></span>
					</div>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="0" class="f24 gshopping_count" >
						<input type="hidden" class="minimum_order_quantity" value="{$info.minimum_order_quantity}">
						<input type="hidden" class="increase_quantity" value="{$info.increase_quantity}">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
			<li data-id="{$info.id}" data-buy_type="1" id="li-id-{$key}">
				<a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
					{empty name="info.thumb_img"}
					<img class="left" src="public_img/default/no_pic_100.jpg" alt="">
					{else /}
					<img class="left" src="public_uploads/{$info.thumb_img}" alt="">
					{/empty}
				</a>
				<div class="list_r">
					<p class="text-intro">产品产品产品产品产品产品产品</p>
					<div>
						<span class="red">￥<price>500.00</price></span>
					</div>
					<div class="quantity_wrapper selected-number">
						<a href="javascript:void(0);" class="greduce">-</a>
						<input type="text" value="0" class="f24 gshopping_count" >
						<input type="hidden" class="minimum_order_quantity" value="{$info.minimum_order_quantity}">
						<input type="hidden" class="increase_quantity" value="{$info.increase_quantity}">
						<a href="javascript:void(0);" class="gplus">+</a>
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>

{/block}
{block name="common"}
    {include file="brand/set_brand" /}
	{include file="public/sample_layer" /}
{/block}
{block name="footer"}
	{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		//查看文本
		$('.wk_notice').moreText({
			mainCell:".more-text",
			openBtn:'展开'
		});
	});
</script>
{/block}