<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>查看美容机构的员工账号</h2>
        <div class="search_employee_part ">
            <input type="text" placeholder="请输入姓名/手机号码搜索" class="search_epy f24" value=""/>
            <input type="button" class="search_btn"/>
        </div>
    </section>

    <!--员工账户动态列表-->
    <ul class="f24 employee_ad_list" >
        <empty name="employeeList">
            <li>(暂无数据)</li>
        <else />
            <volist name="employeeList" id="vo">
                <li>
                    <div class="epy_item">
                        <span class="epy_f_n">姓名</span>
                        <span class="layer_epy_name">{$vo.name}</span>
                    </div>
                    <div class="epy_item">
                        <span class="epy_f_n">手机号码</span>
                        <span class="layer_epy_phone">{$vo.mobile_phone}</span>
                    </div>
                    <if condition="$scaleType eq  4">
                        <div class="epy_item">
                            <span class="epy_f_n">所属公司</span>
                            <span class="layer_epy_pst">{$vo.company_name}</span>
                        </div>
                    </if>
                    <if condition="$scaleType egt  3">
                        <div class="epy_item">
                            <span class="epy_f_n">所属门店</span>
                            <span class="layer_epy_pst">{$vo.shop_name}</span>
                        </div>
                    </if>
                    <div class="epy_item">
                        <span class="epy_f_n">岗位职务</span>
                        <span class="layer_epy_pst">{$vo.positon_name}</span>
                    </div>
                </li>
            </volist>
        </empty>
    </ul>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        //搜索员工账户
        $('.search_btn').on('click',function(){

            var nameNumber=$('.search_epy').val();
            var oLiLength=$('.employee_ad_list li').length;
            if(!nameNumber){
                $('.employee_ad_list li').not('.check_n_person').show();
                return false;
            }

            $.each($('.employee_ad_list li'),function(i,val){
                var epy_name=$(this).find('.layer_epy_name').text();
                var epy_phone=$(this).find('.layer_epy_phone').text();
                if(nameNumber==epy_name||nameNumber==epy_phone){
                    $(this).show().siblings('li').hide();
                    $('.check_n_person').remove();
                    return false;
                }

                if(i==oLiLength-1){
                    if($('body').find('.check_n_person')){
                        $('.check_n_person').remove();
                    }
                    $('body').find('.employee_ad_list li').hide();
                    $('body').append("<span class='check_n_person f24'>查无此人</span>");
                    return false;
                }
            });

        })
    </script>
</block>