{notempty name='info'}
<li data-id="{$info.id}" data-consignee_province="{$info.consignee_province}"
	data-consignee_city="{$info.consignee_city}" data-consignee_area="{$info.consignee_area}">
	{empty name="info.logo_img"}
	<img src="public_img/default/no_pic_100.jpg" alt="" class="left">
	{else /}
	<img src="public_uploads/{$info.logo_img}" alt="" class="left">
	{/empty}
	<div class="info_r">
		<div>
			<input type="text" value="{$info.name}" name="shop_name" readonly="readonly"/>
		</div>
		<div>
			<span class="left">收货人地址：</span>
			<input type="text" value="{$info.consignee_address}" name="consignee_address" readonly="readonly"/>
		</div>
		<div>
			<span class="left">收货人姓名：</span>
			<input type="text" value="{$info.consignee_name}" name="consignee_name" readonly="readonly"/>
		</div>
		<div>
			<span class="left">收货人手机号码：</span>
			<input type="tel" value="{$info.consignee_mobile_phone}" name="consignee_mobile_phone" readonly="readonly"/>
		</div>
	</div>
</li>
{/notempty}