
<footer class="f24 group_cart_nav">
    <if condition="($orderInfo.order_state eq 10)">
        <div class=" group_btn50 bfff">
            <span class="goods_total_price totalPrice">￥{$orderInfo.order_amount}</span>
        </div>
        <a href="javascript:void(0);" class="bff6482 group_btn50 payNow">立即结算</a>
    </if>
    <!--已支付订单-->
    <if condition="($orderInfo.order_state eq 20)">
        <if condition="($orderGoods[0]['buy_type'] eq 3 ) and ($groupBuy.shipments eq 0)">
            <a href="javascript:void(0);" class="ff931e group_btn50 editAddress">修改收货人</a>
            <a href="javascript:void(0);" class="bff6482 group_btn50 share">分享给好友</a>
            <else />
            <a href="javascript:void(0);" class="bff6482 group_btn100 editAddress">修改收货人</a>
        </if>
    </if>
    <if condition="($orderInfo.order_state eq 30)">
        <a href="javascript:void(0);" class="bff6482 group_btn100 inform">通知平台已收货</a>
    </if>
    <if condition="($orderInfo.order_state eq 40)">
        <a href="javascript:void(0);" class="bff6482 group_btn100 evaluate">去评分评价</a>
   </if>
</footer>





