
{notempty name='list'}
{volist name="list" id="vo"}
<div class="columns_flex tag-item first-tag">
    <span class="classify-tag-name">{$vo.name}</span>
    <span class="classify-operate-btn" data-id="{$vo.id}" data-sort="{$vo.sort}">
            <a href="{:url('Promotion/edit',['id'=>$vo.id])}" class="edit-icons">编辑</a>
            <a href="javascript:void(0);" class="del-icons">删除</a>
			<a href="javascript:void(0);" class="move-btn move-icons move-disabled-icons" data-move="0">上移</a>
			<a href="javascript:void(0);" class="down-btn  down-icons" data-move="1">下移</a>
    </span>
</div>
{/volist}
{else/}
{if $page == 1}
<div class='tag-item'>没有符合条件的记录！</div>
{else /}
{/if}
{/notempty}