{extend name="template/base.html" /}
{block name="css-customize"}

{/block}
{block name="content"}
<!--新建标签-->
<section id="addTagForm" style="display:none;">
	<form>
		<input type="text" placeholder="填写排序号" class="layer-tag-num" value=""/>
		<input type="text" placeholder="填写标签名称" class="layer-tag-name" value=""/>
	</form>
	<div class="error_tipc"></div>
</section>

<article class="f24">
	<section class="">
		<nav class="columns_flex channel_nav top-nav-bar">
			<a class="personal_center">我的</a>
			<a href="javascript:void(0);" class="current store-type" data-type="purchases_store">
				采购
			</a>
			<a href="javascript:void(0);" class="store-type" data-type="commission_store">
				分成
			</a>
			<a href="javascript:void(0);" class="store-type" data-type="retail_store">
				零售
			</a>
			<a class="home">首页</a>
		</nav>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex f20">
			<a class="">店铺首页</a>
			<a>限时抢购</a>
			<a>新品尝鲜</a>
		</div>
	</section>
	<section class="content-marginLeft separation-line">
		<div>
			企业名称:
			<span>达安有限公司</span>
		</div>
		<p>采购店铺提供产品给美容店家进行B2F联合采购</p>
		<a href="javascript:void(0);" class="stroe-preview">采购店铺预览></a>
		<a href="javascript:void(0);" class="addSalesPromotion text-color-gr right-arrow">新建促销活动</a>
	</section>
	<section class="separation-line sales-promotion-content">
		<p class="content-label">促销活动的修改、删除和排序</p>
		<div class="classify-label-content ">
			<input type="hidden" value="1" class="isClick">
			<div class="columns_flex tag-item first-tag">
				<span class="classify-tag-name">1</span>
                <span class="classify-operate-btn">
                    <a href="javascript:void(0);" class="edit-icons">编辑</a>
                    <a href="javascript:void(0);" class="del-icons">删除</a>
                    <a href="javascript:void(0);" class="move-btn move-icons move-disabled-icons" data-move="0">上移</a>
                    <a href="javascript:void(0);" class="down-btn  down-icons" data-move="1">下移</a>
                </span>
				<input type="hidden" value="" class="sort" data-tag-id="113">
				<input type="hidden" value="" class="series_id" data-series-id="112">
			</div>
			<div class="columns_flex tag-item first-tag">
				<span class="classify-tag-name">2</span>
                <span class="classify-operate-btn">
                    <a href="javascript:void(0);" class="edit-icons">编辑</a>
                    <a href="javascript:void(0);" class="del-icons">删除</a>
                    <a href="javascript:void(0);" class="move-btn move-icons move-disabled-icons" data-move="0">上移</a>
                    <a href="javascript:void(0);" class="down-btn  down-icons" data-move="1">下移</a>
                </span>
				<input type="hidden" value="" class="sort" data-tag-id="113">
				<input type="hidden" value="" class="series_id" data-series-id="112">
			</div>
		</div>
	</section>
	<section class="separation-line sales-promotion-content">
		<p>已结束的促销活动</p>
		<ul>
			<li class="columns_flex l-r-sides">
				<span>aaaaaaaaaaaaaaaaaa</span>
				<div>
					<p>开始<span>2018-4-23</span></p>
					<p>结束<span>2018-4-25</span></p>
				</div>
			</li>
		</ul>
	</section>
</article>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
<!--<script type="text/javascript" src="factory_js/promotion.js"></script>-->
<script type="text/javascript">
	$(function () {
		var storeType=$('.store-type.current').data('type');
		//选择店铺类型
		$('body').on('click','.store-type',function () {
			var _this=$(this);
			_this.addClass('current').siblings().removeClass('current');
		});
		$('body').on('click','.addSalesPromotion',function () {
			storeType=$('.store-type.current').data('type');
			location.href = module + 'promotion/edit/storeType/'+storeType;
		})
	})
</script>
{/block}