{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="factory_css/main.css">
{/block}
{block name="content"}
<!--新建标签-->
<section id="addTagForm" style="display:none;">
	<form>
		<input type="text" placeholder="填写排序号" class="layer-tag-num" value=""/>
		<input type="text" placeholder="填写标签名称" class="layer-tag-name" value=""/>
	</form>
	<div class="error_tipc"></div>
</section>

<article class="f24">
	<!--店铺运营头部-->
	{include file="public/store_operation_head" /}
	<section class="bottomLine">
		<nav class="columns_flex channel_nav manufacturer_nav">
			<a href="{:url('Operation/index')}">
				店铺提醒
			</a>
			<a href="{:url('Goods/manage')}">
				店铺管理
			</a>
			<a href=""  class="current">
				营销推广
			</a>
			<a href="javascript:void (0)">
				官方活动
			</a>
		</nav>
	</section>
	<section class="specific_type store-manage-type bottomLine">
		<div class="columns_flex f20">
			<a  href="javascript:void (0)" class="column_type current">场景</a>
			<a >云推客</a>
			<a href="javascript:void (0)">线上</a>
			<a href="javascript:void (0)">线下</a>
			<a href="javascript:void (0)">视频</a>
			<a href="javascript:void (0)">直播</a>
		</div>
	</section>
	<section class="content-marginLeft separation-line">
		<div>
			企业名称:
			<span>达安有限公司</span>
		</div>
		<p>采购店铺提供产品给美容店家进行B2F联合采购</p>
		<a href="javascript:void(0);" class="stroe-preview">采购店铺预览></a>
		<a href="javascript:void(0);" class="addSalesActivity text-color-gr right-arrow">新建促销活动</a>
	</section>
	<section class="separation-line sales-promotion-content">
		<div class="category-wrapper">
			<div class="category-left-menu sort-left-menu">
                <ul class="category-tab">
                    <li class="current">
                        <a href="javascript:void(0);" data-activity-status="1" class="activity-status">未结束</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-activity-status="0" class="activity-status">已结束</a>
                    </li>
                </ul>
            </div>
			<input type="hidden" value="1" class="isClick">
			<div class="promotion-item" >
				<p class="content-label">促销活动的修改、删除和排序</p>
				<div class="classify-label-content " id="list">

				</div>
			</div>
		</div>
	</section>
	<section class="separation-line sales-promotion-content">
		
	</section>
</article>
{/block}
{block name="common"}
{include file="template/loading.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/paging.js"></script>
<script type="text/javascript">
	var config = {
		url:module+'promotion/getList',
		type:true,
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		callBack:callBack,
		container1:$('.promotion-item .content-label')
	};
	var postData = {
		pageSize:10
	};
	$(function () {
		//没有默认店铺
		var notDefaultStore = "{$notDefaultStore|default=0}";
		if(notDefaultStore == 0){
//			//初始化
			postData.activityStatus = $('.category-tab li.current a').data('activity-status');
			getPagingList(config,postData);
		}

		//点击新建促销活动
		$('body').on('click','.addSalesActivity',function () {
			location.href = module + 'promotion/edit'
		});

		//根据促销活动状态获取活动列表
		$('body').on('click','.category-tab li',function () {
			$(this).addClass('current').siblings().removeClass('current');
			postData.activityStatus = $(this).find('a').data('activity-status');
			config.currentPage = 1;
			config.requestEnd = false;
			getPagingList(config,postData);
		})

		//删除促销活动
		$('body').on('click','.del-icons',function () {
			var _this = $(this);
			var postData = {};
			postData.id = _this.parent().data('id');
			$.post(module+'Promotion/del',postData,function (msg) {
				if(msg.status == 0){
					dialog.error(msg.info);
					return false;
				}
				_this.parents('.tag-item').remove();
				dialog.success(msg.info);
			})
		})
	});

	//获取分页列表-商品页回调函数
	function callBack(config,data){
		$('.loading').hide();
		if(config.currentPage == 1){
			if(config.activityStatus == 1){
				config.container1.text('促销活动的修改、删除和排序');
			}
			if(config.activityStatus==0){
				config.container1.text('已结束的促销活动');
			}
			config.container.find('.tag-item').remove();
			config.container.append(data);
		}else{
			config.container.find('.tag-item:last').after(data);
		}
	}
</script>
{/block}