<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section >
            <div class="business_module_intro bottomLine page-bd">
                <nav class="sign_nav">
                    <ul id="status " class="status f24 weui-flex">
                        <li class="weui-flex-item active">
                            <a href="{:U('citySearch')}"><span class="city_inquiries"></span><em></em>城市查询</a></li>
                        <li class="weui-flex-item">
                            <a href="{:U('register')}"><span class="register_info"></span><em></em>登记资料</a></li>
                        <li class="weui-flex-item">
                            <a href="{:U('seatDeposit')}"><span class="seat_deposit"></span><em></em>席位订金</a></li>
                        <li class="weui-flex-item">
                            <a href="{:U('seniority')}"><span class="qualify_money"></span>资格完款</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="city_search_module">
            <p>请选择你要申请的城市，然后查询是否有空位</p>
            <form>
                <div class="express-area ">
                    <a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
                        <label class="form-label">所在地区：</label>
                        <div class="province_city">省 &gt; 市 </div>
                        <input type="hidden" value="" class="province_city" data-key="" data-area="0">
                    </a>
                </div>
            </form>
        </section>
    </article>
    <section id="areaLayer" class="express-area-box" style="display:none;">
        <header>
            <h3>选择地区</h3>
            <a id="backUp" class="back" href="javascript:void(0)" title="返回" style="display: none;"></a>
            <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
        </header>
        <article id="areaBox">
            <ul id="areaList" class="area-list"></ul>
        </article>
    </section>
    <div id="areaMask" class="mask"></div>
</block>
<block name="footer">
    <include file="./Application/Business/View/Cart/footerCartMenu.html" />
</block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.city.js"></script>
    <script type="text/javascript">
        $(function(){
            var provinceList = {:json_encode($provinceList)};
            $('div.province_city').cityInit(provinceList);

            var areaArr=[];
            var province=2;
            var city=12;
            areaArr.push(province);
            areaArr.push(city);
            console.log(areaArr);
            $('div.province_city').setArea(areaArr);
            var aaa=$('input.province_city').getArea();
            console.log(aaa);

            //登记资料
            $('body').on('click','.city_search',function(){
                var content='';
                if(!detailAddress){
                    content="请选择申请城市";
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
            });

            //申请查询
            $('body').on('click','.city_search',function () {
                location.href = CONTROLLER + '/register';
            });
        });
    </script>
</block>
