<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section >
            <div class="header_banner">
                <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="">
            </div>
            <div class="business_module_intro bottomLine page-bd">
                <nav class="sign_nav">
                    <ul id="status " class="status f24 weui-flex">
                        <li class="weui-flex-item">
                            <a href="javascript:void(0);"><span class="city_inquiries"></span><em></em>城市查询</a></li>
                        <li class="weui-flex-item">
                            <a href="javascript:void(0);"><span class="register_info"></span><em></em>登记资料</a></li>
                        <li class="weui-flex-item">
                            <a href="javascript:void(0);"><span class="seat_deposit"></span><em></em>席位订金</a></li>
                        <li class="weui-flex-item">
                            <a href="javascript:void(0);"><span class="qualify_money"></span>资格完款</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="./Application/Business/View/Cart/footerCartMenu.html" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //申请美悦会城市合伙人
            $('body').on('click','.apply_partner',function () {
                location.href = CONTROLLER + '/citySearch';
            });
        });
    </script>
</block>
