<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section >
            <div class="business_module_intro bottomLine page-bd">
                <nav class="sign_nav">
                    <ul id="status " class="status f24 weui-flex">
                        <li class="weui-flex-item">
                            <a href="{:U('citySearch')}"><span class="city_inquiries"></span><em></em>城市查询</a></li>
                        <li class="weui-flex-item">
                            <a href="{:U('register')}"><span class="register_info"></span><em></em>登记资料</a></li>
                        <li class="weui-flex-item">
                            <a href="{:U('seatDeposit')}"><span class="seat_deposit"></span><em></em>席位订金</a></li>
                        <li class="weui-flex-item active">
                            <a href="{:U('seniority')}"><span class="qualify_money"></span>资格完款</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="city_search_module">
            <p>你所申请的城市为:<span></span>线城市</p>
            <p>城市合伙人资格门槛为:￥<price>1688.00</price></p>
            <p>已交订金:￥<price>1680.00</price></p>
            <p>需要补交城市合伙人资格款:￥<price>XXXXX</price></p>
            <p class="explain_intro">
                *城市合伙人资格款作为采购预存款用于采购进货结算
            </p>
        </section>
    </article>
    <section id="areaLayer" class="express-area-box" style="display:none;">
        <header>
            <h3>选择地区</h3>
            <a id="backUp" class="back" href="javascript:void(0)" title="返回" style="display: none;"></a>
            <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
        </header>
        <article id="areaBox">
            <ul id="areaList" class="area-list"></ul>
        </article>
    </section>
</block>
<block name="footer">
    <include file="./Application/Business/View/Cart/footerCartMenu.html" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>
