<!--店家店铺模板-->
<section id="storeShopInfo" style="display:none;">
    <div class="store_list">
        {volist name="managerFactoryList" id="factory"}
        <div><span>{$factory.name}</span>供应商</div>
        <ul data-id="{$factory.factory_id}">
            {volist name="factory.store_list" id="store"}
            <li data-id="{$store.id}">
                <img class="left" src="" />
                <div>
                    <p>
                        <span>{$store.store_name}</span>旗舰店
                    </p>
                    <p>
                        <span>美尚会</span>
                        <span>.</span>
                        美尚联营
                    </p>
                </div>
            </li>
            {/volist}
        </ul>
        {/volist}
    </div>
</section>
<script type="text/javascript">
    $(function(){
        //如果没有默认店铺，则设置默认店铺
        var managerFactoryList='{:json_encode($managerFactoryList)}';
        console.log(managerFactoryList);
        if(managerFactoryList === 'null'){
            return false;
        } 
    });
    //切换店铺
    $('body').on('click','.switch-store',function(){
        switchManagerStore();
    });
    //选择管理店铺
    function switchManagerStore(){
        var storeShopInfoList = $('#storeShopInfo').html();
        layer.open({
            title:['选择店家店铺进入','border-bottom:1px solid #d9d9d9;'],
            className:'storeShopListLayer',
            type: 1,
            fixed:true,
            // top:100,
            shadeClose:false,
            content:storeShopInfoList,
            anim: 'up',
            style: '',
            success:function(){
                var winHeight=$(window).height();
                $('.storeShopListLayer .store_list').css('height',winHeight-120+'px');
                $('.layui-m-layer .layui-m-layermain').addClass('arrow-bottom');
                $('.layui-m-layermain .layui-m-layersection').addClass('bottom-layer');
            },
            btn:['确定','取消'],
            yes:function(index){
                var postData = {};
                postData.storeShopId = $('.storeShopListLayer li.current').data('id');
                if(!postData.storeShopId){
                    dialog.error('请选择店家店铺');
                    return false;
                }
                $.post(url,postData,function(data){
                    if(data.status==0){
                        dialog.error(data.info);
                    }else if(data.status==1){
                        layer.close(index);
                        location.reload();
                    }
                });
            }
        });
    }
</script>