<section id="vendorInfoList" style="display:none;">
    <div class="vendorInfoList">
        {include file="public/factory_store_list_tpl" /}
    </div>
</section>
<script type="text/javascript">
    var vendorInfoList=$('#vendorInfoList').html();
    $(function(){
        var no_empower = '{:json_encode($no_empower)}';
        if(no_empower!=='null'){
            dialog.success('未授权',module+'index/index');
            return false;
        }
        //如果没有默认店铺，则设置默认店铺
        var store='{:json_encode($store)}';
        if(store=== 'null'){
            switchStore();
            //return false;
        }
        //切换店铺
        $('body').on('click','.switch-store',function(){
            switchStore();
        });
        //选择管理店铺-样式
        $('body').on('click','.vendorInfoLayer li',function(){
            alert(111);
            $(this).addClass('current').siblings().removeClass('current');
            $(this).parent().siblings().find('li').removeClass('current');
        });
    });
    //弹层 店铺
    function switchStore(){
        layer.open({
            type: 1,
            title:['请选择关联的店铺','border-bottom:1px solid #d9d9d9'],
            className:'vendorInfoLayer',
            content:vendorInfoList,
            anim: 'up',
            btn:['确定','取消'],
            success:function(){
                var winH=$(window).height();
                var storeId='{:json_encode($store.store_id)}';
                storeId = JSON.parse( storeId );
                $('html,body').addClass('scrollStyle');
                $('.layui-m-layermain .layui-m-layersection').addClass('bottom-layer');
                $('.vendorInfoLayer .vendorInfoList').css('height',(winH-115)+'px');
               
                $.each($('.vendorInfoLayer li'),function(){
                    var currentId=$(this).data('id');
                    if(storeId==currentId){
                        $(this).addClass('current');
                    }
                })
            },
            yes:function(index){
                var isCurrent=$('.vendorInfoLayer li.current');
                layerName=isCurrent.text();
                layerId  =isCurrent.data('id');
                $('.factoryId').val(layerId);
                $('.vendor-name').text(layerName);
                if(!layerId){
                    dialog.error('请选择一个店铺');
                    return false
                }
                var postData = {};
                postData.store_id = layerId;
                $.ajax({
                    url: module + 'store/selectStore',
                    data: postData,
                    type: 'post',
                    beforeSend: function(){
                        //$('.loading').show();
                    },
                    success: function(info){
                        if(info.status == 0){
                            dialog.error(info.msg);
                            return false;
                        }
                        if(info.status == 1){
                            dialog.success(info.msg, location.reload());
                        }
                    },
                    complete:function(){

                    },
                    error:function (xhr) {
                        dialog.error('AJAX错误'+xhr);
                    }
                });
                $('html,body').removeClass('scrollStyle');
                layer.close(index);
            }
        });
    }

</script>