<section class="top_nav_fixed top_nav_store">
    <div class="top_bar top-switch-bar columns_flex l-r-sides">
        <!--{include file="public/home_page" /}-->
        <div class="">
            <img src="" />
            <span>{$store.name}</span>
        </div>
        <div class="">
            <div class="top_bar columns_flex">
                <a href="javascript:void(0);" class="shopping_cart"></a>
                <a href="javascript:void(0);" class="personal_center"></a>
                <a href="" class="home"></a>
            </div>
            <a class="switch-account">切换美容机构账号></a>
        </div>
    </div>
</section>
{include file="public/store_list_tpl" /}
<script type="text/javascript">
    $(function(){
        $('body').on('click','.switch-account',function(){
            setDefaultStore();
        });
    });
</script>