<section class="message-center-info f20" style="display:none;" id="storeList">
    <ul class="vendorInfoList">
        {volist name='storeList' id='vo'}
        <li data-id="{$vo.id}" class="{eq name='vo.is_default' value='1'}current{/eq}">
            <span>{$vo.name}</span>
        </li>
        {/volist}
    </ul>
</section>
<script type="text/javascript">
    //设置默认美容机构
    function setDefaultStore() {
        var storeList = $('#storeList').html();
        layer.open({
            title:['选择美容机构','border-bottom:1px solid #d9d9d9;'],
            className:'storeListLayer',
            type: 1,
            content: storeList,
            anim: 'up',
            style: '',
            success:function(){
                var winHeight=$(window).height();
                $('.storeListLayer .vendorInfoList').css('height',winHeight-120+'px');
            },
            btn:['确定'],
            yes:function(index){
                var postData = {};
                postData.storeId = $('.storeListLayer li.current').data('id');
                if(!postData.storeId){
                    dialog.error('请选择美容机构');
                    return false;
                }
                var url = 'setDefaultStore';
                $.post(url,postData,function(data){
                    if(data.status==0){
                        dialog.error(data.info);
                    }else if(data.status==1){
                        layer.close(index);
                        location.reload();
                    }
                });
            }
        });
    }
    $(function () {
        var store = '{:json_encode($store)}';
        //如果是多美容机构
        if(store === 'null'){
            setDefaultStore();
        }
        //选择效果
        $('body').on('click','.storeListLayer li',function(){
            $('.storeListLayer li').removeClass('current');
            $(this).toggleClass('current');
        });
    });
</script>