html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,a,blockquote,th,td,form,label,table{margin:0;padding:0;}
ol,ul,li,dd,dt,dl{ list-style:none;}
img{border:0;}
a{text-decoration: none;color:#595757;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer;  }
button,input,textarea{border: none;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font-family: '微软雅黑',Verdana,Arial,Helvetica,sans-serif; color: #333;background: #fff;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
.f06c{color:#06c;}
.fl{float:left;}
.fr{float:right;}
.f12{font-size:0.12rem;}
.f20{font-size:0.20rem;}
.f24{font-size:0.24rem;}
.f28{font-size:0.28rem;}
/*头部样式*/
.header{
    width: 100%;
    color: #ffffff;
    background: #3D3A39;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    letter-spacing: 0.2em;
    margin: 0 auto;
    /*头部定位*/
    /*position: fixed;*/
    top: 0px;
    z-index: 9999;
    display:none;
}
.back{
    width: 40px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 5px;
    background: url("../img/img/back.png") no-repeat center;
    background-size: 35px;
}
.set{
    width: 40px;
    height: 42px;
    display: block;
    float: right;
    margin-right: 8px;
    background: url("../img/img/setting.png") no-repeat center;
    background-size: 35px;
}

/******轮播样式***********/
#slider,#slider1{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
.swipe-wrap img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.position{
    display: block;
    text-align: center;
    list-style: none;
    border: none;
    position: absolute;
    left: 50%;
    bottom: 0.50rem;
    width: auto;
    height: 8px;
    color: #697279;
    overflow: hidden;
    margin: 0 auto;
    margin-left: -18px;
    padding: 0;
}
.position li{
    width: 6px;
    height: 6px;
    background: #B2B2B2;
    float: left;
    margin-right: 4px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
}
.position li.on{
    background: white;
}
.position img{
    display: block;
}
i{
    color:red;
    margin-right: 4px;
    font-weight: bold;
}
.icp_icon{text-align: center;display: block;padding:0 0 0.15rem 0;font-size:0.16rem;color:#999;}
.group_cart_nav{height:0.8rem;line-height:0.8rem;position:fixed;left:0;bottom:0;width:100%;display:flex;display:-webkit-flex;}
.group_cart_nav a{color:#fff;text-align: center;display: block;}
.group_btn30{width:33.3%;box-sizing: border-box;}
.group_btn50{width:50%;}
.group_btn75{width:85%;}
.group_btn100{width:100%;}
.group_cart_nav .bfff{border-top:1px solid #d9d9d9;}
.bfff{background:#fff;}
.bff6482{background: #ff6482;}
.bff1d25{background:#ff1d25;}
.dark_green{background:#0f9143;}
.goods_total_price{color:#ff6482;;padding-left: 0.18rem;font-size:0.32rem;}
.right-arrow{color:#333;position:relative;display:block;}
.right-arrow::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:35%;
    right:0.15rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #999;
    border-left:.12em solid #999;
    -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.weixin_pay_nav{background: #ff6482;}
/*评分评论*/
.goods_star_score{display: flex;display: -webkit-flex;padding:0.15rem 0;justify-content:space-between;}
.five_star img,.five_star1 img{width:18px;height:auto;}
.five_star .star_img,.star_img1{float:left;}
.five_star .fraction{width:42px;display:inline-block;text-align:center;margin-top:0.04rem;}
.goods_star_score .comment_num{color:#f5911e;position:relative;margin-right:0.25rem;}
.goods_star_score .comment_num::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:26%;
    right:-0.25rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #f5911e;
    border-left:.12em solid #f5911e;
    -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.address_list_title{
    text-align:center;
    padding:0.12rem 0;
    font-size:0.28rem;
    border-bottom:6px solid #f2f2f2;
}
 .group_cart_nav{
            height:0.8rem;
            line-height:0.8rem;
            position:fixed;
            left:0;
            bottom:0;
            width:100%;
            display:flex;
            display:-webkit-flex;
            z-index: 18;
        }
        .group_cart_nav a{color:#fff;text-align: center;display: block;}
        .group_btn30{width:33.3%;box-sizing: border-box;}
        .group_btn50{width:50%;}
        .group_btn100{width:100%;}
        .group_cart_nav .bfff{border-top:1px solid #d9d9d9;}
        .bfff{background:#fff;}
        .bff6482{background: #ff6482;}
        .bff1d25{background:#ff1d25;}
        .dark_green{background:#0f9143;}
        .goods_total_price{color:#ff6482;;padding-left: 0.18rem;font-size:0.32rem;}
        .group_cart_nav .share_column{
            color:#0f9143;
            position:relative;
            border-right:1px solid #0f9143;
        }
        .group_cart_nav .shopping_cart_column{border-right:0;}
        .group_cart_nav .share_column span{
            width:28px;
            height:40px;
            display: inline-block;
            background-image:url(../../img/common/share_ico.png);
            background-repeat: no-repeat;
            background-size:20px 49px;
            vertical-align: middle;
        }
        .group_cart_nav .share_column span.s_i{ background-position:0 9px;}        
        .group_cart_nav .share_column span.s_c{ background-position:0 -22px;position:relative;}
        .group_cart_nav .share_column span.s_c i{
            position:absolute;
            top:-12px;
            right:-2px;
        }
.bottomLine{
    border-bottom:8px solid #f2f2f2;
    padding:0 0 0 0.12rem;
}
.pink{
    color:#ff6482;
}
.header_title{
    padding:0.15rem 0;
    text-align:center;
    font-weight:normal;
}
.customer_service_bar{
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    display: flex;
    display: -webkit-flex;
    border-top:1px solid #d9d9d9;
    justify-content: space-between;
}
.customer_service_bar .text_in{
    display: block;
    width:80%;
    padding:0.18rem 0;
    border-right:1px solid #d9d9d9;
    text-indent: 10px;
}
.send_out{
    display: block;
    width:20%;
    text-align: center;
    padding:0.18rem 0;
    color:#fff;
    background:#0f9143;
}
.dialogue_list li{
    padding:5px;
    margin:10px 10px 0;
    border-radius:5px;
    text-align:right;
}
.dialogue_list li span{
    background:#ff7bac;
    color:#fff;
    padding:0.06rem 0.05rem;
    border-radius:5px 0 0 5px;
}
.dialogue_list li.system_answer{
    text-align:left;
}
.dialogue_list li.system_answer span{
     background:#d9d9d9;
     color:#333;
     border-radius:0 5px 5px 0;
    
}
.columns_flex{
    display:flex;
    display:-webkit-flex;
}
.each_column{
    flex:1;
}
.bottom_nav_fixed{
    background: #efefef;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}
.common_default_img{
    width:100%;
}
