<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/mall.css">
</block>


<block name="content">
    <article class="msh_product_picture">
        <section class="goods_picture goods_detail_banner" >
            <notempty name="projectInfo.main_img">
                <img data-img="" data-isloaded="" src="__ROOT__/Uploads/{$projectInfo.main_img}" alt="" class="c_img" />
                <else />
                <img data-img="" data-isloaded="" src="__PUBLIC__/img/home/default/goods_default.png" alt="" class="c_img" />
            </notempty>
        </section>
        <section class="hot_detail f24">
            <p>{$projectInfo.name}</p>
            <!--<div class="product_labeling hot_tags_type">-->
            <!--<volist name="projectInfo.tag" id="vo">-->
            <!--<span>{$vo}</span>-->
            <!--</volist>-->
            <!--</div>-->
            <div class="purchasing_intro_text">{$projectInfo.intro|htmlspecialchars_decode}</div>
        </section>
        <section class="hot_detail hot_countdown_detail f24">
            <div class="quantity_purchased">
                <div class="concessional_rate concessional_price">
                    <!--<if condition="projectInfo.type eq 'group'">-->
                    <!--<span>￥<i>{$projectInfo.price}</i></span>-->
                    <!--<else />-->
                    <!--<span>￥<i>{$projectInfo.group_price}</i></span>-->
                    <!--</if>-->
                    <span>￥<i>{$projectInfo.real_price}</i></span>
                    <del>￥{$projectInfo.price}</del>
                </div>
                <div class="express_mode project_payment_method">
                    <span class="current">到店支付</span>
                    <span>充值卡耗</span>
                </div>
            </div>
            <div class="quantity_purchased project_quantity_purchased">
                <span class="num">购买服务项目份额数量</span>
                <div class="quantity_wrapper">
                    <a href="javascript:void(0);" class="greduce">-</a>
                    <input type="text" value="1" class="f24 gshopping_count">
                    <input type="hidden" value="{$projectInfo.id}" class="projectId">
                    <a href="javascript:void(0);" class="gplus">+</a>
                </div>
            </div>
            <div class="goods_star_score">
                <span><i></i>耗时{$projectInfo.consume_time}分钟</span>
                <div class="five_star">
                    <div class="star_img">
                        <img src="__PUBLIC__/img/home/star.png" id="0">
                        <img src="__PUBLIC__/img/home/star.png" id="1">
                        <img src="__PUBLIC__/img/home/star.png" id="2">
                        <img src="__PUBLIC__/img/home/star.png" id="3">
                        <img src="__PUBLIC__/img/home/star.png" id="4">
                    </div>
                    <span class="fraction" data-score="{$projectInfo.evaluation_good_stars}"></span>
                </div>
            </div>
        </section>
        <section class="hot_detail project_detail f24">
            <h2>项目产品</h2>
            <div id="slider">
                <div class='swipe-wrap f24'>
                    <notempty name="projectGoods">
                        <volist name="projectGoods" id="vo">
                            <div>
                                <notempty name="projectGoods.main_img">
                                    <img src="__ROOT__/Uploads/{$vo.main_img}" />
                                    <else />
                                    <img  src="__PUBLIC__/img/home/default/goods_default.png"  />
                                </notempty>
                                <div class="project_products_name">{$vo.name}</div>
                            </div>
                        </volist>
                    </notempty>
                </div>
            </div>
        </section>
        <section class="hot_detail f24">
            <ul>
                <li>
                    <notempty name="projectInfo.explain_img[]">
                        <volist name="projectInfo.explain_img" id="vo">
                            <p>
                                <img src="__ROOT__/Uploads/{$vo}" alt="">
                            </p>
                        </volist>
                        <else />
                        <img data-img="" data-isloaded="" src="__PUBLIC__/img/home/default/goods_default.png" alt="" class="c_img" />
                    </notempty>
                </li>
            </ul>
        </section>
        <section class="hot_detail project_detail f24">
            <h2>项目流程</h2>
            <div id="slider1">
                <div class='swipe-wrap'>
                    <notempty name="projectInfo.flow_img[0]">
                        <volist name="projectInfo.flow_img" id="vo">
                            <div><img src="__ROOT__/Uploads/{$vo}" /></div>
                        </volist>
                        <else />
                        <img data-img="" data-isloaded="" src="__PUBLIC__/img/home/default/goods_default.png" alt="" class="c_img" />
                    </notempty>
                </div>
            </div>
        </section>
        <section class="hot_detail f24">
            <ul>
                <li>
                    <notempty name="projectInfo.detail_img[0]">
                        <volist name="projectInfo.detail_img" id="vo">
                            <p>
                                <img src="__ROOT__/Uploads/{$vo}" alt="">
                            </p>
                        </volist>
                        <else />
                        <img data-img="" data-isloaded="" src="__PUBLIC__/img/home/default/goods_default.png" alt="" class="c_img" />
                    </notempty>
                </li>
            </ul>
        </section>
        <section class="hot_detail project_detail f24">
            <h2>项目推荐</h2>
            <div class="commodity_category_s">
                <ul>
                    <li>
                        <a href="/index.php/Purchase/Goods/goodsInfo/id/34.html">
                            <div class="goods_img">
                                <img data-img="/Uploads/purchase/goods/first/1501487152.png" data-isloaded="true" src="/Uploads/purchase/goods/first/1501487152.png" alt="" class="c_img">
                            </div>
                            <p class="f24 commodity_name">日日</p>
                        </a>
                        <div class="commodity_price f24">
                            <span class="price">￥7.00</span>
                            <del>￥50</del>
                        </div>
                    </li>
                    <li>
                        <a href="/index.php/Purchase/Goods/goodsInfo/id/34.html">
                            <div class="goods_img">
                                <img data-img="/Uploads/purchase/goods/first/1501487152.png" data-isloaded="true" src="/Uploads/purchase/goods/first/1501487152.png" alt="" class="c_img">
                            </div>
                            <p class="f24 commodity_name">日日</p>
                        </a>
                        <div class="commodity_price f24">
                            <span class="price">￥7.00</span>
                            <del>￥50</del>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
    <footer class="shopping_nav f24">
        <a href="javascript:void(0);"><i class="smile_face"></i>客服</a>
        <a href="javascript:void(0);" class="shop_cart">
            <i class="commodity_quantity cart_d_num">{$cartInfo.count}</i>
        </a>
        <a class="add_cart" href="javascript:void(0);">加入购物车</a>
        <input class="project_id" name="" type="hidden" value="{$projectInfo.id}">
        <input class="buy_type" name="" type="hidden" value="{$projectInfo.buy_type}">
        <a href="javascript:void(0);" class="buyNow">立即购买</a>
    </footer>
    <include file="Public/cart" />
</block>
<block name="js-customize">
    <script type="text/javascript" src="{$Think.config.PUBLIC_JS}/home/cart.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:3,
                star:'__PUBLIC__/img/home/star.png',
                starRed:'__PUBLIC__/img/home/starred.png'
            });
            if($('.commodity_quantity').text() == 0){
                $(".shop_cart").addClass("disabled");
            }
            //加入购物车
            $('.add_cart').click(function () {
                var projectId = $('.projectId').val();
                var goodsNum=$('.gshopping_count').val();
                var buyType = $('.buy_type').val();
                var html='';
                $(".shop_cart").removeClass("disabled");
                $('.mask').data('show',0);
                $.post(MODULE + '/Cart/addCart', {projectId: projectId,goodsNum:goodsNum,buyType:buyType}, function (msg) {
                    if(msg.status == 0){
                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        html+='<li data-foreignid='+msg.info.info.id+' data-buytype='+msg.info.info.buy_type+' data-type='+msg.info.info.type+' data-cartId='+msg.info.info.cart_id+'>';
                        html+='<span class="shop_product_name">'+msg.info.info.name+'</span>';
                        html+='<span class="shop_product_price">'+msg.info.info.real_price+'</span>';
                        html+='<div class="shop_product_num">';
                        html+='<a href="javascript:void(0);" class="reduce">-</a>';
                        html+='<input type="text" value='+msg.info.info.num+' class="shopping_count">';
                        html+='<a href="javascript:void(0);" class="plus">+</a>';
                        html+='</div>';
                        html+='</li>';
                        if(!$('.cart').find('li').length){
                            $('.cart ul').append(html);
                        }else{
                            var sign = 1;
                            $('.cart').find('li').each(function(){
                                var buyType = $(this).data('buytype');
                                var id = $(this).data('foreignid');
                                var type = $(this).data('type');
                                var num = parseInt($(this).find('.shopping_count').val());
                                if(buyType == msg.info.info.buy_type && id == msg.info.info.id && type == msg.info.info.type){
                                    $(this).find('.shopping_count').val(parseInt(msg.info.info.num)+num);
                                    sign = 0;
                                }
                            });
                            if(sign){
                                $('.cart').find('li:last').after(html);
                            }
                        }

                        $('.commodity_quantity').text(msg.info.count);
                    }
                }, 'json')
            });


            var shopNum=$('.shopping_count').val();
            $('.gplus').on('click',function(){
                shopNum=$(this).siblings('.gshopping_count').val();
                shopNum++;
                $(this).siblings('.gshopping_count').val(shopNum);
            });
            $('.greduce').on('click',function(){
                shopNum=$(this).siblings('.gshopping_count').val();
                if(shopNum<2){
                    return false;
                }
                shopNum--;
                $(this).siblings('.gshopping_count').val(shopNum);

            });

            //立即购买
            $('body').on('click','.buyNow',function () {
                var projectId = $('.projectId').val();
                var num=$('.gshopping_count').val();
                var buyType = $('.buy_type').val();
                var url =  MODULE + '/Order/addOrder/projectId/'+projectId+'/buyType/'+buyType+'/num/'+num;
                location.href=url;
            })

            $(window).on('scroll',function(){
                checkShow($('.goods_detail_img .c_img'));
            });

            //滑动轮播
            var elem = document.getElementById('slider');
            var elem1 = document.getElementById('slider1');
            swipe(elem);
            swipe(elem1);

        });
    </script>


</block>