/*美尚云厂商入驻*/
.top_nav_store{
    padding:10px 0 0;
    background:#666;
}
.store_deploy_nav{
    border-top:1px solid #fff;
    background:#666;
}
.top_nav_store span,
.top_nav_store a,
.store_deploy_nav a{
    color:#fff;
}
.top_nav_store div:nth-child(2){
    /*width:35%; */
    margin-right:.25rem;   
}

.top_nav_store .top_bar{
    height:auto;
    padding-top:0;
}
.top_nav_store .top_bar a:last-child{
    margin:0 auto;
}
.manufacturer_nav a span{
    background-image:url(../../factory/img/manufacturer_type.png);
}
.vendor_logon{
    padding:0.50rem 0.50rem .1rem;
}
.vendor_logon span{
    display: block;
    text-align:center;
    margin:0 0 0.15rem 0;
}
.v_l_item{
    margin:0 0 0.25rem 0;
}
.v_l_item input{
    width:100%;
    padding:8px 0;
    border:1px solid #d9d9d9;
    border-radius:5px;
    text-align:center;
}
.vendor_logon .sign_in{
    display: block;
    width:120px;
    margin:50px auto 0;
    background: #ff7bac;
    color:#fff;
    text-align:center;
    border-radius:3px;
    padding:8px 0;
}
.account_entry{
    /*position:relative;
    display: block;
    margin:1.10rem 0 0 0.35rem;
    border-top:1px solid #d9d9d9;
    padding:0.20rem 0;*/
    /*text-align: center;*/
}
.account_entry::after{
    top:38%;
}
.explain_nav{
    padding:0.15rem 0.20rem;
    background: #727171;
    margin:0 0 4rem 0;
}
.explain_nav a{
    display: block;
    margin:0 0 0.12rem 0;
    color:#fff;
    font-size:0.20rem;
}
.message-center-info{
    /*padding:0.25rem 0 0.25rem 0.15rem;*/
}
.message-center-info p{
    line-height: 24px;
}
.message-center-info p:last-child{
    /*margin:20px 0 0;*/
}
.vendor-settled-list{
    padding:0 0.15rem 0 0.15rem;
}
.vendor-settled-list li{
    padding:0.12rem 0 0.12rem 0.15rem;
    border:1px solid #ff7aab;
    margin:0 0 0.15rem 0;
    border-radius:3px;
    background: #ff7aab;
}
.vendor-settled-list li a{
    position:relative;
    display: block;
    color:#fff;
}
.relation-vendor{
    display: block;
    text-align:right;
    margin:0.12rem 0.15rem 0 0;
}
.vendorInfoList{
    /*height:8rem;*/
    position:static;
    padding:0.15rem 0.15rem 0 .15rem;
    overflow-x:hidden;
    overflow-y:auto;
    /*-webkit-overflow-scrolling: touch;*/
}
.vendorInfoList li{
    position:relative;
    margin:0 0 0.15rem 0;
    padding:0.15rem 0 .15rem .10rem;
    border:1px solid #ff7aab;
    border-radius:4px;
    color:#ff7aab;
    text-align: center;
    cursor:pointer;
}
.vendorInfoList li.current{
    background: #ff7aab;
    color:#fff;
}
.vendorInfoList li input{
    display: inline-block;
    width:15px;
    height:15px;
    -webkit-appearance: radio;
}
.add-type-tag {
    display: block;
    padding:0.20rem 0 0.10rem 0;
    margin:0 0 0.12rem 0.15rem;
    border-bottom:1px solid #d9d9d9;
}
.add-type-tag .add-icons{
    display: block;
    width:200px;
    height:32px;
    line-height:32px;
    padding:0 0 0 38px;
    background-image:url(../../common/img/icons/operate-icons.png);
    background-repeat: no-repeat;
    background-size:32px 250px;
    color:#39b54a;

}
.factory-store-list{
    height:5rem;
    padding:.22rem;
    overflow-y:auto;
}
.factory-store-list li{
    padding:.12rem .15rem;
    margin:0 0 .25rem 0;
    border:1px solid #009A3E;
    border-radius:4px;
}
.set-tag-tipc{
    padding:0 0 0 0.15rem;
}
.scroller-container .tag-item:first-child{
    border-top:1px solid #d9d9d9;
}
.scroller-container .tag-item{
    padding:0.12rem 0.10rem;
    border-bottom:1px solid #d9d9d9;
}
.scroller-container .columns_flex{
    justify-content: space-between;
}
.tag-item .td{
    width:15%;
    padding:10px 0;
}
.tag-item .td .classify-tag-name{
    /*width:2.8rem;*/
    font-size:.10rem;
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.tag-item div:nth-of-type(1) input{
    width:100%;
    padding:5px 0;
    border:1px solid #009A3E;
    border-radius:4px;
    text-align:center;
}
.tag-item div:nth-of-type(2){
    width:45%;
    margin:0 0 0 5%;
}
.tag-item div:nth-of-type(2) img{
    max-width:32%;
}
.tag-item div:nth-of-type(3){
    width:28%;
}
.classify-operate-btn a,
.classify-operate-btn .move-btn{
    display:inline-block;
    width:32px;
    height:32px;
    margin:0 0 0 12px;
    background-image:url(../../common/img/icons/operate-icons.png);
    background-repeat: no-repeat;
    background-size:32px 250px;
    text-indent:-9999rem;
}
.classify-operate-btn .move-btn{
    background-color:transparent;
}
.classify-operate-btn a.add-icons{
    background-position:0 0;
}
.classify-operate-btn a.edit-icons{
    background-position:0 -35px;
}
.classify-operate-btn a.del-icons{
    background-position:0 -71px;
}
.classify-operate-btn a.move-icons,
.classify-operate-btn .up-btn.move-icons{
    background-position:0 -214px;
}
.classify-operate-btn a.down-icons,
.classify-operate-btn .down-btn.down-icons{
    background-position:0 -106px;
}
.classify-operate-btn a.move-disabled-icons,
.scroller-wrapper li:first-child .move-icons{
    background-position:0 -142px;
}
.classify-operate-btn a.down-disabled-icons,
.scroller-wrapper li:last-child .down-disabled-icons{
    background-position:0 -178px;
}
.scroller-wrapper li:first-child .up-btn.disabled,
.scroller-wrapper li:last-child .down-btn.disabled{
    pointer-events:none;
}
.content-marginLeft{
    padding-bottom:1rem;
}
.addTagLayer .layui-m-layercont{
    padding:0.20rem;
}
.addTagLayer .layui-m-layercont form{
    display: -webkit-flex;
    display:flex;
    justify-content: space-between;
}
.addTagLayer form .layer-tag-num{
    width:40%;
    margin:0 20px 0 0;
    background: #efefef;
    border-radius:5px;
    text-align:center;
}
.addTagLayer .layer-tag-name{
    width:100%;
    padding:10px 0;
    background: #efefef;
    border-radius:5px;
    text-align:center;
    
}
.sort-title{
    padding:.1rem 0 0;
}
.sort-title .s-r{
    margin-right:0.15rem;
}
.addProductContent {
    padding:0.25rem 0.15rem 1rem;
}
.addProductContent li{
    margin:0 0 .12rem 0;
}
.addProductContent .right-arrow{
    position:relative;
    display: block;
    width:100%;
    padding:0.18rem 0 0.18rem 0;
    border-bottom:1px solid #d9d9d9;
    color:#39b54a;
}
.addProductContent .right-arrow::after{
    border-bottom: .12em solid #39b54a;
    border-left: .12em solid #39b54a;
    /*margin:0 0 0.15rem 0;*/
}
.release-options{
    padding:.15rem 0;
    border-bottom:1px solid #d9d9d9;
}
.release-options a{
    margin:0 10px;
    border:1px solid #999;
    border-radius:4px;
}
.release-options a.current{
    color:#ff7aab;
    border:1px solid #ff7aab;
}
.price-options.hide{
    display: none;
}
.price-flex{
    display: inline-block;
    width:48%;
    border:1px solid #d9d9d9;
    border-radius:3px;
}
.price-flex label,
.price-flex input{
    height:38px;
    float:left;
}
.price-flex label{
    line-height: 38px;
    border-right:1px solid #d9d9d9;
}
.price-flex input{
    width:100px;
    box-sizing:border-box;
    text-indent: 10px;
}
.editDetailLayer .layui-m-layercont{
    /*height:6.5rem;*/
    overflow: hidden;
    overflow-y: scroll;
}
.editParameterLayer textarea{
    width:100%;
    box-sizing: border-box;
}
.delete-picture{
    position:absolute;
    right:0;
    top:0;
    z-index:5;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    background:#ff7aab;
    color:#fff;
    cursor:pointer;
}
/*设置商品的检索品类*/
.category-wrapper{
    /*height:auto;*/
    height:450px;
    min-height:100%;
}
.category-left-menu{
    float:left;
    min-width:80px;
    /*height:auto;*/
    height:400px;
    overflow-y:auto;
    /*min-height:100%;*/
    background: #f8f8f8;
}
.sort-left-menu{
    border-right:1px solid #d9d9d9;
}
.category-tab li{
    height:46px;
    line-height: 46px;
    text-align:center;
    position:relative;
}
.category-tab li.current{
    background: #fff;
}
.category-tab li.current a{
    color:#ff0000;
}
.category-content-wrapper{
    padding:10px 20px;
    margin:0 0 0 80px;
}
.category-type{
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}
.category-type li{
    width:30%;
    margin:0 0 25px 0;
}
.category-type li.current a{
    background:#ff0000;
    color:#fff;
    border-radius:3px;
}
.trademark-module{
    padding:0 0 0 0.35rem;
}
.trademark-info li{
    position:relative;
    border-bottom:1px solid #d9d9d9;
    padding:0.12rem 0;
    overflow:hidden;
}
.trademark-info .trade-logo{
    max-width:50px;
    vertical-align: middle;
}
.trademark-info .trade-name{
    margin:0 0.50rem 0 0;
}
.trademark-info .recordation{
    margin:0 0 0 1.5rem;
}
.trademark-type{
    display: block;
    padding:0 0 0.15rem 0;
    margin:0.20rem 0 0;
    border-bottom:1px solid #d9d9d9;
}
.trademark-nav li:last-child em{
    width:0;
    background:none;
}
.trademark-tipc{
    width:90%;
    margin:0 auto;
}
.trademarkTypeLayer .vendorInfoList li{
    text-align: center;
}
/*档案资质*/
.qualificationContent{
    padding:0 0 0.8rem 0;
   
}
.qualificationContent .upload-picture-module{
    display: block;
    margin:0;
}
.qualificationContent .upload-company-map .picture-module.active{
    height:4rem;
}
.company-n{
    margin:0.18rem 0;
}
.content-marginLeft .detail-address{
    width:100%;
    padding:0.15rem 0;
    margin:0 0 0.15rem 0;
    border-radius:4px;
    border:1px solid #d9d9d9;
    box-sizing: border-box;
    text-indent: 0.15rem;
}
.editCompanyPicLayer .layui-m-layercont{
    /*height:4.5rem;*/
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.company-preview-top .columns_flex{
    padding:0 0 0.15rem 0;
    justify-content: space-between;
}
.company-preview-top .enter{
    border-radius:3px;
    background: #ff7bac;
    color:#fff;
}
.address-label{
    display: block;
    float:left;
}
/*账号授权*/ 
.admin-account-wrapper{
    background: #efefef;
}
.admin-account-list li{
    /*padding: .15rem;*/
    background: #fff;
}
.admin-account-list li.current{
    border: 1px solid #0066cc;
}
.addAdminLayer form{
    padding:0.20rem 0.35rem;
}
.account-field{
    margin:0 0 0.20rem 0;
    
}
.account-field input{
    width:100%;
    padding:0.12rem 0;
    text-align: center;
    border:1px solid #d9d9d9;
    border-radius:4px;
    box-sizing: border-box;
}
.account-item .select-role{
    width:78%;
    padding:0.15rem 0;
    border-radius:4px;
    border:1px solid #d9d9d9;
    background:none;
}
.account-item .content-label{
    text-align: center;
}
.account-item .role-list{
    padding-bottom:0.6rem;
}
.account-role-list{
    padding:.18rem;
    border:1px solid #d9d9d9;
}
.account-role-list li
,.group-list li{
    height:35px;
    line-height: 35px;
    padding:0 0 0 1rem;
    margin:0 0 18px 0;
    background:url('../../common/img/icons/group-icons.png') no-repeat 0 center;
    border:1px solid #009a3e;
    border-radius:5px;
}
.account-role-list li.current {
    background: #009A3E;
}
.rolePower-content{
    position:relative;
    padding:28px 0 10px 15px;
    margin:36px 10px 0;
    border:1px solid #d9d9d9;
    border-radius:4px;
}
.role-head{
    position:absolute;
    top:-10px;
    left:50%;
    width:200px;
    margin:0 0 0 -100px;
    background:#fff;
    z-index:4;
}
.role-head .hd-icon{
    display: block;
    width:20px;
    height:20px;
    margin:0 auto;
    background:url(../../common/img/icons/role-icons.png) no-repeat center;
}
.role-head div:nth-of-type(2){
    padding:6px 20px 0;
    margin:-15px 0 0;
    border:1px solid #333;
}
.role-list li{
    position:relative;
    background:url('../../common/img/icons/role-icons.png') no-repeat 0 center;
    cursor:pointer;
}
.range-list li{
    margin:0 0.20rem 0.15rem 0;
    padding:0 0.10rem;
    border:1px solid #009A3E;
    border-radius:4px;
    color:#009A3E;
    cursor:pointer;
}
.range-list .columns_flex{
    flex-wrap: wrap;
}
.range-list li.current{
    background: #009A3E;
    color:#fff;
}
.range-list .range-label{
    display: block;
    margin:0.20rem 0;
}
.responsible-area,
.modify-role{
    position:relative;
    display: block;
    padding:0 0 0.15rem 0;
    border-bottom:1px solid #d9d9d9;
}
.account-edit-btn {
    width:40%;
}
.account-edit-btn a {
    margin:0 0 0 10px;
}
.account-edit-btn a span.ic{
    display: block;
    width:25px;
    height:25px;
    margin:0 auto;
    background-image:url(../../common/img/icons/account-icons.png);
    background-repeat: no-repeat;
    background-size:25px 55px;
}
.account-edit-btn a span.stop-icon{
    background-position:0 0;
}
.account-edit-btn a span.del-icon{
    background-position:0 -30px;
}
.account-edit-btn a activate.del-icon{
    background-position:0 -30px;
}
.account-header{
    padding:10px 0 0;
}
.accountInfo{
    flex:5;
}
#accountInfo{
    width:70%;
}
.account-header .r-t,
.account-info .r-t,
.accountInfoLayer .r-t{
    display: inline-block;
    width:82px;
    text-align: right;
    /*margin:0 10px 0 0;*/
}
#accountInfo .ac-item{
    overflow:hidden;
}
.account-info .r-t-m{
    display:inline-block;
    margin:0 0 0 82px;
}
.accountInfoLayer .layui-m-layercont{
    padding:10px;
}
.accountInfoLayer .account-info{
    padding:15px;
    margin:15px;
    background:#ccc;
    border:1px solid #999;
    border-radius:4px;
}
.accountInfoLayer h3{
    color:#ff0000;
}
.modify-role span{
    display:inline-block;
    width:10px;
    height:10px;
    background-image:url(../../common/img/icons/arrow-icons.png);
    background-repeat: no-repeat;
    background-size:9px 25px;
    background-position:0 0;
}
.signIn-wrapper{
    padding:0.12rem 0 0 0.25rem;
    /*overflow:hidden;
    overflow-y:auto;*/
}
.addCcountLayer .signIn-wrapper{
    
}
.range-list-wrapper{
    /*display: none;
    */
}

.range-list-wrapper.current{
    display: block;
    background: #fff;
    animation: wrapper-gradient 0.5s linear;
}
@keyframes wrapper-gradient {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.region-box li{
    float:left;
    margin:0 10px;
}
.price_item{
    padding:0.15rem 0.15rem 0.15rem 0;
    justify-content: space-between;
}
.detail-nav{
    padding:0.18rem 0;
    border-bottom:1px solid #d9d9d9;
    background:#fff;
}
.detail-nav.top-fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.detail-nav a{
    position:relative;
    width:25%;
    text-align:center;
    box-sizing:border-box;
    
}
.detail-nav a.active{
    color:#ff7bac;
}
.detail-nav a.active:before{
    bottom:-20px;
    background-color: #ff7bac;
}
.real-price{
    color:#ff1d25;
}
.real-price price{
    font-size:0.28rem;
}
.price_item del{
    color:#808080;
}
.abcd{
    height:500px;
}
.floor-item{
    display: block;
}
.floor-content{
    padding:0 0 .8rem 0;
    /*margin:42px 0 0;*/
}
.scroll-floor{
    padding:.12rem;
    /*height:500px;*/
}
.scroll-floor h3{
    margin:0 0 .12rem 0;
}
/*区域市场*/
.pca{
    width:30%;
    padding:0.12rem 0;
    margin:0 0 .12rem 0;
    border-radius:4px;
    border:1px solid #d9d9d9;
    /*background:none;*/
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:url('../../common/img/icons/arrow_drop_down.png')
no-repeat scroll 
right center 
transparent;
}
.addTo{
    display: block;
    width:1rem;
    padding:.08rem;
    border:1px solid #d9d9d9;
    border-radius:3px;
    text-align:center;
}
/*供应商店铺*/
.top-row-bar .columns_flex{
    justify-content: space-between;
}
.top-row-bar img{
    width:30%;
    vertical-align: top;
}
.top-row-bar div:first{
    width:30%;
}
.top-row-bar .col-left{
    width:125px;
}
.brand-store-info{
    background-image:url(../../common/img/banner/home-banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;

}
.brand-series a{
    margin:0 0 20px 0;
}
.brand-series img{
    width:50%;
}
.store-qr-code{
    margin:40px 0 15px 0;
    overflow: hidden;
}
.store-qr-code a{
    display: block;
    width:1.4rem;
    background: #009a3e;
    color:#fff;
    float:right;
    text-align:center;
}
.brand-bottom-flex img{
    float:left;
    width:20%;
}
.brand-bottom-flex{
    justify-content: space-between;
}
.coorperation-model{
    display: block;
    width:1.4rem;
    background: #e60012;
    color:#fff;
    font-style: normal;
    font-weight:normal;
    text-align:center;
}
.follow-store{
    display: block;
    width:1.4rem;
    background: #e60012;
    text-align: center;
    color:#fff;
}
.brand-store-name{
    margin:0 0 0 .8rem;
}
.brand-store-nav a{
    position:relative;
    box-sizing: border-box;
}
.brand-store-nav{
    padding:0.18rem 0;
}
.brand-store-nav li{
    flex:1;
    text-align: center;
}
.brand-store-nav li.current a{
    color:#ff7aab;
}
.brand-store-nav li.current a:before{
    bottom:-18px;
    background-color:#ff7aab;
}
.flagship-store-goods li{
    margin:0 0 0.25rem 0;
    overflow:hidden;
}
.flagship-store-goods .flag-intro{
    margin:0 0 0 1.8rem;
}
.qr-code-layer{
    justify-content: space-between;
}
.role-label{
    padding:.12rem 0 0;
    margin:.15rem 0 0;
    /*border-top:1px solid #d9d9d9;*/
    /*color:#39b54a;*/
}
.stroe-preview{
    display: block;
    padding:0 0 0.15rem 0;
    margin:0.15rem 0 0;
    border-bottom:1px solid #d9d9d9;
    text-align:right;
}
.l-r-sides a{
    display: block;  
}
.top_nav_fixed .l-r-sides a{
    /*display:inline-block;  */
}
.top_nav_fixed .l-r-sides a.top_icon{
    /*width: 0.64rem;*/
}
.promotional-goods-list a{
    position:absolute;
    right:0;
    top:0;
}
.special-price{
    display:block;
}
input.special{
    width:36%;
    padding:.10rem 0;
    border:1px solid #d9d9d9;
}
.row-item-mgl .collect{
    display: flex;
    width:150px;
    height:30px;
    line-height: 30px;
    margin:.15rem 0 0;
    text-align:right;
}
.row-item-mgl .collect span,
.invite-friends .icons,
.go-shopping .icons{
    display: inline-block;
    width:26px;
    height:28px;
    background-image:url(../../common/img/icons/detail-icons.png);
    background-position:0 -130px;
    background-size:30px 325px;
}
.invite-friends span.icons{
    background-position:0 -160px;
    vertical-align: middle;
}
.go-shopping span.icons{
    background-position:0 -192px;
    vertical-align: middle;
}
.l-r-sides .invite-friends,
.l-r-sides .go-shopping{
    /*display: flex;*/
    width:110px;
    height:30px;
    line-height: 30px;
}
.l-r-sides li{
    position:relative;
    width:48%;
    margin:0 0 .25rem 0;
    /*display: flex;*/
}
.addsalesgoodsLayer .promotional-goods-list{
    height:100px;
    overflow-y:auto;
    flex-wrap:wrap;
}
.promotional-goods-list li{
    position:relative;
    padding:0 0 .15rem 0;
    margin:0 0 .12rem 0;
}
.promotional-g-right{
    margin:0 0 0 35px;
}
.l-r-sides li:last-child{
    /*margin:0 0.16rem 0 0;*/
}
.all-goods-list a{
    display: block;
    width:33%;
    float:left;
}
.search-goods{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.layer-search-btn{
    width:70px;
    background:none;
    border:1px solid #d9d9d9;
    border-left:none;
    text-align:center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.addsalesgoodsLayer .content-box{
    padding-right:0;
    padding-bottom:60px;
    /*overflow-y:auto;*/
}
.promotion-img-item{
    width:48%;
}
.addsalesgoodsLayer .content-label{
    padding:0 0 .10rem 0;
    margin-top:.10rem;
    border-bottom:1px solid #d9d9d9;
}
.addsalesgoodsLayer .promotional-close-btn{
    width:22px;
    height:22px;
    line-height: 22px;
    text-align:center;
    background: #ff7aab;
    color:#fff;
}
.search-row-flex{
    margin:.5rem 0 0;
}
.all-goods-list a.current span{
    color:#ff7aab;
}
.all-goods-list img,
.promotional-goods-list img{
    max-width:40px;
    height:28px;
    vertical-align: middle;
}
.addSalesActivity{
    display: block;
    /*padding:.18rem 0;*/
}
/*.sales-promotion-content{
    padding:.12rem 0 0 .25rem;
}
.store-goods-sort img{
    float:left;
}*/
.down-shelf{
    background: #ccc;
}
.up-shelf{
    background: #009a3e;
}
.apply-shelf{
    background: #C7AA53;
}
/*促销活动*/
.addSalesPromotionForm{
    padding-bottom:.5rem;
}
.sales-marginLeft{
    margin:0 0 0 .15rem;
}
.scroller-container{
    /*height:400px;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;*/
    /*border-bottom:1px solid #d9d9d9;*/
}
.promotion-item .scroller-container {
    height:328px;
   
}
.scroller-container a.goods{
    display: block;
    height:125px;
    overflow:hidden;
}
.scroller-container a.goods img{
    margin:0 auto;
    max-width:50%;
}
.promotion-item.hide{
    display: none;
}
.promotion-item .classify-tag-name{
    width:92px;
}
/*推客圈*/
.release-news{
    flex:1;
    position:relative;
    /*width:100px;*/
    /*height:100px;*/
    /*background: #DCDDDE;*/
}
.release-news .news-item{
    margin:0 0 18px 0;
    overflow:hidden;
}
.release-news .camera-btn{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    opacity: 0;
    cursor:pointer;
}
.release-news .video-camera{
    position:absolute;
    display: block;
    width:50px;
    height:40px;
    left:50%;
    top:50%;
    margin:-20px 0 0 -25px;
    background-image:url(../../common/img/icons/camera.png);
    background-repeat: no-repeat;
    background-size: 50px 40px;
    background-position:center;
}
.twitter-release-content .twitter_flex{
    display:flex;
    display:-webkit-flex;
    margin:0 0 18px 0;
}
.twitter-release-content .twitter_flex:first-child .release-news{
    width:100px;
    height:100px;
    flex:none;
    background: #DCDDDE;  
}
.twitter-release-content div{
    /*flex:2;*/
}
.twitter-release-content .release-date{
    width:65px;
}
.photo-frame{
    float:left;
    width:100px;
    height:88px;
    overflow:hidden;
}
.photo-frame img{
    width:50%;
    float:left;
}
.twitter-release-content{
    padding:.15rem .15rem 0 .15rem;
}
.cloudTwitterLayer .twitter-text,
.editDetailLayer .twitter-text{
    width:100%;
    height:2rem;
    border:1px solid #d9d9d9;
    resize:none;
}
.cloudTwitterLayer .layui-m-layerbtn span[yes],
.editDetailLayer .layui-m-layerbtn span[yes]{
    /*background: #ff7bac;*/
    /*color:#fff;*/
}
.cloudTwitterLayer .multi-picture-module li{
    width:30%;
}
/*申请开店*/
.apply-store-content{
    padding:0 0 0 .20rem;
}
.apply-store-content ul{
    padding:0 0 0.8rem 0;
}
.thead-td{
    padding:.18rem 0;
    overflow:hidden;
    border-bottom:1px solid #d9d9d9;
}
.thead-td .store-type {
    margin:0 0 0 15%;
}
.thead-td .cols,
.trademark-module .cols{
    float:left;
}
.thead-td .cols:nth-of-type(1){
    width:60%;
}
.trademark-module .cols:nth-of-type(1){
    width:25%;
}
.thead-td .cols:nth-of-type(2){
    width:15%;
}
.trademark-module .cols:nth-of-type(2){
    width:25%;
}
.thead-td .cols:nth-of-type(3){
    width:25%;
}
.trademark-module .cols:nth-of-type(3){
    width:25%;
}
.apply-new-store{
    display: block;
    /*padding:.12rem 0;*/
    background: #ff7aab;
    color:#fff;
    text-align:center;
}
.apply-new-store.disabled{
    pointer-events: none;
}
.new-store-type{
    padding:.20rem .20rem 1rem .20rem;
}
.new-store-item.hide{
    display:none;
}
.store-type-menu{
    margin:0 0 15px 0;
}
.store-type-menu a{
    padding:.10rem .05rem;
    margin:0 10px 0 0;
    border:1px solid #009A3E;
    border-radius:3px;
    color:#009A3E;
}
.store-type-menu a.current{
    background: #009A3E;
    color:#fff;
}
.store-type-menu a.disabled{
    background: #999;
    border:1px solid #999;
    color:#333;
    pointer-events: none; 
}
.goods-database-nav li.disabled{
    pointer-events: none; 
}
.new-store-item .content-label{
    margin-bottom:20px;
}
.new-store-type .next-step{
    /*display: block;
    width:2rem;
    text-align:center;
    margin:1rem auto 0;
    background:#ff7aab;
    color:#fff;*/
}
.applyNewStoreLayer .store-list{
    margin:0 0 .15rem 0;
    cursor: pointer;
}
.applyNewStoreLayer .store-list.current{
    background: #ff7aab;
    color:#fff;
}
.applyNewStoreLayer .store-list.disabled{
    background: #999;
    color: #333;
    pointer-events: none;
}
.weui-flex .weui-flex-item.disabled{
    pointer-events: none;
}
/*店铺运营*/
.store-manage-type a{
    width:15%;
}
.backups-content{
    padding:0 .05rem .20rem;
    margin:.05rem 0 0;
}
.func-icons{
    display: block;
    width:0.42rem;
    height:0.42rem;
    margin:0 auto;
    background: url(../../common/img/icons/copy-icons.png) no-repeat;
    background-size:0.42rem 0.42rem;
}
.backups-content .gr{
    border:1px solid #009A3E;
    border-radius:5px;
    color:#009a3e;
}
.backups-right{
    margin:0 0 0 .35rem;
}
.library-th.l-r-sides{
    margin-bottom:0;
}
.library-th span{
    display: block;
    width:25%;
    padding:10px 0;
    text-align:center;
    border-left:1px solid #d9d9d9;
}
.library-tr li{
    border-top:1px solid #d9d9d9;
}
.library-tr li.l-r-sides{
    margin:0;
}
.library-tr .td{
    width:25%;
    padding:20px 0;
    text-align:center;
    border-left:1px solid #d9d9d9;
    box-sizing:border-box;
}
.library-tr .td input{
    width:100%;
    text-align:center;
}
.library-tr .td img{
    max-width:50%;
}
.goods-database-nav{
    /*margin:20px 0 10px;*/
    /*padding:20px 0 20px 0;*/
    height:60px;
    line-height:60px;
    border-bottom:1px solid #d9d9d9;
}
.goods-database-nav li{
    width:50%;
    position:relative;
    text-align: center;
}
.goods-database-nav li.current{
    color:#009A3E;
}
.goods-database-nav li:first-child:before{
    position: absolute;
    z-index: 1;
    left: 86%;
    bottom: 15px;
    display: inline-block;
    height: 30px;
    width: 80px;
    background-color: #999;
    content: "";
    transform: scale3d(1, 0.05, 1);
    transform-origin: center;
    transition: all 0.5s;
    margin-left: -15px;
}
.databaseLayer .scroll-list-content{
    height:300px;
    overflow-y:scroll;
}
.goods-database-content,
.goods-store-content{
    padding:0 3px;
    /*margin:0 12px;*/
}
.goods-database-content li,
.goods-store-content li{
    padding:.12rem;
    margin:0 0 20px 0;
    border:1px solid #009a3e;
    border-radius:5px;
    overflow:hidden;
    box-sizing:border-box;
}
.goods-database-content li.current,
.goods-store-content li.current{
    background: #009a3e;
}
.goods-database-content .database-r{
    margin:0 0 0 1.8rem;
}
.database-r .p-r{
    color:#E60012;
}
.database-item.hide{display: none;}
.goods-store-content li div:first-child,
.goods-database-content li img{
    width:20%;
}
.goods-store-content li img{
    width:100%;
}
.columns_flex .rows.rows-l{
    display:flex;
}
.rows.rows-l div:first-child{
    width:40px;
}
.rows.rows-l div:first-child .store_logo{
     width:100%;       
}
.follow-right{
    /*width:112px;*/
}
.store_mall_status .store-logo-img,.factory-log-img{
    /*max-width:30px;*/
}
.store-type-item{
    margin:0 0 0 30px;
}
/*云推客圈(美尚云和美尚会)*/
.scroll-wrapper {
    padding:0 0 .8rem 0;
}
.fixedtop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 29;
    /*max-width: 640px;*/
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.fixedtop.active{
    background: #FF6482;
}
.twitter-nav{
    background:transparent;
}
.twitter-nav nav{
    position:relative;
    background: #F7F8F8;
    border:1px solid transparent;
    border-radius:30px 30px 0 0;
    margin-top:-.5rem;
    z-index:5;
}
.cells_auto_fill{
    position:relative;
    height:5.5rem;
}
.cells_auto_fill .items{
    position:absolute;
    display:block;
    height:auto;
}
.cells_auto_fill .items img{
    width:100%;
}
.cells_auto_fill a:nth-of-type(1){
    width:3rem;
}
.cells_auto_fill a:nth-of-type(2){
    width:3rem;
    height:2.5rem;
    left:3.1rem;
}
.cells_auto_fill a:nth-of-type(2) img,
.cells_auto_fill a:nth-of-type(3) img{
    height:2.5rem;
}
.cells_auto_fill a:nth-of-type(3){
    width:3rem;
    left:3.1rem;
    top:2.6rem;
}
.care-slide-item{
    padding:5px;
    border:1px solid #d9d9d9;
    border-radius:5px;
}
.care-slide-item img{
    border-radius:100%;
}
.focus-hot{
    height:40px;
    line-height: 40px;
    border-bottom:1px solid #d9d9d9;
}
.focus-hot a{
    position:relative;
    width:50%;
    text-align:center;
}
.focus-hot a.current{
    color:#ff7bac;
}
.focus-hot a.current:before{
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color:#ff7bac;
    content: "";
    transform: scale3d(1, 0.05, 1);
    transform-origin: center;
    transition: all 0.5s;
    margin-left: -15px;
}
.activity-c-entry{
    margin:.15rem 0 0;
}
.activity-c-entry li{
    width:48%;
    margin:0 1%;
}
.follow{
   
    font-size:.22rem;
    color:#FF1D25;
}
.care-slide-item .follow{
    border:1px solid #d9d9d9;
    border-radius:3px;
}
.focus-hot-head div:first-child{
    flex:3;
}
.focus-hot-head a{
    display: inline-block;
}
.close-btn{
    padding:0 .12rem;
    margin:0 0 0 .15rem;
    border:1px solid #d9d9d9;
    border-radius:3px;
}
.follow-msg-item{
    padding:.12rem .15rem;
    border-bottom:6px solid #d9d9d9;
}
.article-msg div{
    flex:3;
}
.follow-video-msg{
    width:100%;
}
.store-top-nav{
    background: #666;
}
.store-focus-num{
    margin:.25rem 0 .1rem;
}
.store-focus-num div:first-child{
    flex:3;
}
.store-focus{
    background: #E60012;
    color:#fff;
}
.goods-list{
    padding:.12rem 0 0;
    flex-wrap: wrap;
}
.wt_banner{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    background: #FF6482;
}
.wt_tipc_item{
    /*display: flex;
    display: -webkit-flex;*/
    
}

.wt_f_l{
    background-image:url(../../common/img/home/wt_f_l.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color:#fff;
    width:75%;
    padding:8px;
}
.wt_f_l .txt{
    display: block;
    text-align: center;
}
.wt_f_l:last-child{
    width:25%;
    /*margin:0 0 0 2%;*/
    border-left:1px solid #fff;
}
.wt_banner .wt_home{
    width:100%;
    margin-left:0;
}
.wt_banner img{
    vertical-align: middle;
    /*width:80%;*/
}
.wt_d_l img{
    margin:0 auto;
    display: block;
}
.wt_tipc_item dl {
    margin-right:6px;
    /*flex:1;*/
    /*width:80px;*/
    text-align:center;
    float:left;
}
.wt_detail_tipc dl{
    margin-right:12px;
}
.wt_tipc_item dl dt{
    width:42px;
    height:42px;
    margin:14px auto 8px;
    background-image:url(../../common/img/wt-icon.png);
    background-repeat: no-repeat;
    background-size:42px 176px;
}
.wt_tipc_item dt.person{
    background-position:0 0;
}
.wt_tipc_item dt.factory{
    background-position:0 -45px;
}
.wt_tipc_item dt.time{
    background-position:0 -89px;
}
.wt_tipc_item dt.money{
    background-position:0 -134px;
}
.wt_tipc_item dl dd{
    /*width:66px;*/
   
    /*box-sizing: border-box;*/
    color:#666;
}
.cloudTwitterLayer .release-news,
.editDetailLayer .release-news{
    width:100px;
    height:100px;
    background: #DCDDDE;
}
.twitter-release-content{
    overflow-y:scroll;
}
.article-list-content{
    padding:0.35rem 0 .15rem 0;
}
.article-list-content li{
    margin:0 0 .25rem 0;
    border-bottom:1px solid #d9d9d9;
}
.release-file a{
    display: block;
    padding:.15rem 0;
    border-bottom:1px solid #d9d9d9;
    text-align: center;
}
.link-store-goods{
    display: block;
    padding:.10rem 0;
    margin:.15rem 0 0;
    background:#ff7aab;
    color:#fff;
}
.release-file-module{
    
}
.release-file-module .upload-picture-module{
     margin:0;
}
.release-file-module .picture-module{
    width:1.8rem;
    height:1.8rem;
   
}
.release-file-module div:last-child{
    flex:3;
    margin:0 0.20rem 0 .20rem;
}
.release-file-module div:last-child textarea{
    height:1.8rem;
    border-radius:4px;
}
.paragraph-module{
    padding:.15rem;
    margin:.15rem .15rem .25rem;
    background: #ccc;    
}
.insert-button{
    padding:.10rem;
    background: #ff7bac;
    color:#fff;
}
.editCompanyPicLayer .edit-text{
    margin-bottom:0.10rem;
}
.scroller-wrapper .content-marginLeft{
    padding-left:0;
}

.set_top_info{
    text-align: center;
}

