<extend name="Public:base" />

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Goods/goodsManage')}" class="current"><span>管理</span></a></li>
                    <li><a href="{:U('Goods/goodsBaseEdit')}" ><span>编辑</span></a></li>
                    <li><a href="javascript:void(0);" class="current" ><span>设置产品购买类型</span></a></li></li>
                    <li><a href="{:U('Goods/goodsOnoffLine')}"><span>上下架</span></a></li>
                    <li><a href="{:U('Goods/commonImageEdit')}"><span>公共图片编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <form id="form1">
                <table class="search-form search_product_type">
                    <tbody>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                            <td class=dotted_bottom_gray width="58%" align=left>
                                <include file="Public/categoryLinkage"/>
                            </td>
                            <th>商品名称</th>
                            <td class="w160">
                                <input class="text product_management_name" type="text" name="keyword" value="">
                            </td>
                            <td class="w70 tc">
                                <label class="submit-border">
                                    <input type="button" id="searchGoods" class="submit product_search_btn" value="搜索">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="content" id="goodsBaseList"></div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_ADMIN_IMG/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="PUBLIC_ADMIN_JS/common/categoryLinkage.js"></script>
    <script type="text/javascript">
        //商品列表
        function getPage(currentPage) {
            $("#goodsBaseList").html($('#loading').html());
            var url = CONTROLLER+'/goodsBaseList';

            var postData = $('#form1').serializeObject();
            postData.p = currentPage ? currentPage : 1;
            postData.pageSize = 10;

            $.get(url, postData , function(data){
                $('#goodsBaseList').html(data);
            });
        }

        $(function () {
            //加载第一页
            getPage();

            //分类筛选
            $('body').on('change','[name=category_id_1],[name=category_id_2],[name=category_id_3]',function () {
                getPage();
            });

            //翻页
            $('body').on('click','.pager a',function(){
                getPage($(this).data('page'));
            });

            //搜索
            $('#searchGoods').click(function(){
                getPage();
            });

            //编辑
            $('body').on('click','.editGoods',function(){
                var _thisTr = $(this).parents('tr');
                var url =  CONTROLLER + '/goodsBaseEdit/goodsBaseId/' + _thisTr.data('id');
                location.href = url;
            });

            //删除
            $('body').on('click','.delGoods',function(){
                var _thisTr = $(this).parents('tr');
                var postData = {};
                postData.goodsBaseId = _thisTr.data('id');
                var url =  CONTROLLER + '/goodsBaseId';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function(){
                        _thisTr.remove();
                    });
                });
            });

            //编辑
            $('body').on('click','.setPurchaseType',function(){
                var _thisTr = $(this).parents('tr');
                var url =  CONTROLLER + '/setPurchaseType/goodsBaseId/' + _thisTr.data('id');
                location.href = url;
            });

            //批量删除
            $('body').on('click','.batchDel',function(){
            });
        });
    </script>
</block>