<extend name="Public:base" />

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>

<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Goods/goodsManage')}" ><span>管理</span></a></li>
                    <li><a href="{:U('Goods/goodsEdit')}" ><span>编辑</span></a></li>
                    <li><a href="{:U('Goods/setPurchaseType')}" class="current" ><span>设置产品购买类型</span></a></li></li>
                    <li><a href="{:U('Goods/goodsOnoffLine')}"><span>上下架</span></a></li>
                    <li><a href="{:U('Goods/commonImageEdit')}"><span>公共图片编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <div class="buy_fields">
                    <span>{$goodsBaseInfo.name}</span>产品的购买类型
                </div>
                <div class="buy_fields">
                    零售价格：<span class="opt_type retail_price">{$goodsBaseInfo.price}</span>
                </div>
                <input class="buy_fields" type="hidden" value="{$goodsBaseInfo.id}">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr class="radioProductType">
                        <td class="dotted_bottom_gray product_type_field" height=40 width="11%" align=right>
                                <font color="#FF0000">*</font>商品购买类型设置：
                        </td>
                        <td class="dotted_bottom_gray city_part_module" width="89%" align=left>
                            <!--商品还没有设置类型-->
                            <empty name="goodsInfo">

                                <div>
                                    <input type="checkbox" name="discount"  class="radioItem" value="促销" data-buy_type="1" ><label for="">促销</label>
                                </div>
                                <div class="productPrice_type_item">
                                    <span class="opt_type"><font color="#FF0000">*</font>商品优惠价：</span>
                                    <input style="width: 200px; " class="inputboxadmin promotion_price" name="discount_price" value="">
                                </div>

                                <div>
                                    <input type="checkbox" name="discount"  class="radioItem" value="微团购" data-buy_type="2" ><label for="">微团购</label>
                                </div>
                                <div class="productPrice_type_item">
                                    <span class="opt_type"><font color="#FF0000">*</font>微团价：</span>
                                    <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                </div>

                                <div>
                                    <input type="checkbox" name="discount"  class="radioItem" value="城市合伙人" data-buy_type="3" ><label for="">城市合伙人</label>
                                </div>
                                <div class="productPrice_type_item">
                                    <span class="opt_type"><font color="#FF0000">*</font>城市合伙人价格:</span>
                                    <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                </div>

                                <div>
                                    <input type="checkbox" name="discount"  class="radioItem" value="代理商" data-buy_type="4" ><label for="">代理商</label>
                                </div>
                                <div class="productPrice_type_item">
                                    <span class="opt_type"><font color="#FF0000">*</font>代理商价格：</span>
                                    <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                </div>
                                <else />
                                <!--设置的类型-->
                                      <volist name="goodsInfo" id="vo">
                                          <if condition="$vo.buy_type eq 1">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="促销" data-buy_type="1" ><label for="">促销</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>商品优惠价：</span>
                                                  <input type="hidden" name="goods_id" value="{$vo.id}">
                                                  <input style="width: 200px; " class="inputboxadmin promotion_price" name="discount_price" value="{$vo.sale_price}">
                                              </div>
                                          </if>

                                          <if condition="$vo.buy_type eq 2">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="微团购" data-buy_type="2" ><label for="">微团购</label>

                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>微团价：</span>
                                                  <input type="hidden" name="goods_id" value="{$vo.id}">
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="{$vo.sale_price}">
                                              </div>
                                          </if>

                                          <if condition="$vo.buy_type eq 3">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="城市合伙人" data-buy_type="3" ><label for="">城市合伙人</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>城市合伙人价格:</span>
                                                  <input type="hidden" name="goods_id" value="{$vo.id}">
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="{$vo.sale_price}">
                                              </div>
                                          </if>

                                          <if condition="$vo.buy_type eq 4">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="代理商" data-buy_type="4" ><label for="">代理商</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>代理商价格：</span>
                                                  <input type="hidden" name="goods_id" value="{$vo.id}">
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="{$vo.sale_price}">
                                              </div>
                                          </if>
                                      </volist>

                                    <!--没有设置的类型-->
                                      <volist name="noBuyTypeArray" id="vv">
                                          <span class=""><font color="#FF0000">*</font>没有设置购买类型</span>
                                          <if condition="$vv eq 1">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="促销" data-buy_type="1" ><label for="">促销</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>商品优惠价：</span>
                                                  <input style="width: 200px; " class="inputboxadmin promotion_price" name="discount_price" value="">
                                              </div>
                                          </if>

                                          <if condition="$vv eq 2">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="微团购" data-buy_type="2" ><label for="">微团购</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>微团价：</span>
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                              </div>
                                          </if>

                                          <if condition="$vv eq 3">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="城市合伙人" data-buy_type="3" ><label for="">城市合伙人</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>城市合伙人价格:</span>
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                              </div>
                                          </if>

                                          <if condition="$vv eq 4">
                                              <div>
                                                  <input type="checkbox" name="discount"  class="radioItem" value="代理商" data-buy_type="4" ><label for="">代理商</label>
                                              </div>
                                              <div class="productPrice_type_item">
                                                  <span class="opt_type"><font color="#FF0000">*</font>代理商价格：</span>
                                                  <input style="width: 200px;" class="inputboxadmin promotion_price" name="group_price" value="">
                                              </div>
                                          </if>
                                      </volist>
                            </empty>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </form>

            <tr>
                <td width="11%"></td>
                <td height=60 width="50%" align=center>
                    <div class="upload_finish_btn">
                        <input class="button_save_black_4" value="确定" type="button">
                        &nbsp;&nbsp;
                        <input class="button_save_black" name="add0" value="返回" type="button">
                    </div>
                </td>
            </tr>
        </div>
    </div>
</block>



<block name="script">

    <script type="text/javascript">
        $(function(){
            $('.promotion_price').on('keyup',function(){
                var _this=$(this);
                var promotionPrice=parseFloat($(this).val());
                var retailPrice=$('.retail_price').text();
                // alert(typeof promotionPrice);
                if(!isMoney(promotionPrice)){
                    if($('.error_tipc_txt').length>0){
                        return false;
                    }
                    _this.after('<span class="error_tipc_txt">请输入正确的金额</span>');
                    $(this).val('');
                    _this.focus();
                    return false;
                }else {
                    $('.error_tipc_txt').remove();
                    if(promotionPrice>retailPrice){
                        // alert(123);
                        _this.after('<span class="error_tipc_txt">输入的价格不能大于零售价</span');
                        return false;
                    }else{
                        $('.error_tipc_txt').remove();
                    }
                }
            })
            //确定
            $('.button_save_black_4').on('click',function(){

                var postData=[];
                var sigleArr={};
                $.each($('.productPrice_type_item'),function(i,val){
                    var _this=$(this);
                    var optionCheck=_this.prev().find('.radioItem');
                    var promotionPrice=parseFloat(_this.find('.promotion_price').val());
                    var goods_Id=_this.find('input[name="goods_id"]').val();
                    if(optionCheck.is(":checked")){
                        var buyType=optionCheck.data('buy_type');
                        sigleArr={
                            typeVal:buyType,
                            priceVal:promotionPrice,
                            goodsId:goods_Id
                        }
                        postData.push(sigleArr);
                        console.log(postData);
                    }
                })

                $.post(CONTROLLER + '/setPurchaseType1',postData,function(msg){

                },'JSON');
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = CONTROLLER + '/goodsManage';
            });
        });
    </script>
</block>