<extend name="Public:base" />
<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Goods/goodsManage')}" ><span>管理</span></a></li>
                    <li><a href="{:U('Goods/goodsBaseEdit')}" ><span>新增</span></a></li>
                    <li><a href="javascript:void(0);" class="current" ><span>设置产品购买类型</span></a></li></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <div class="buy_fields">
                    <span class="product_name">{$goodsBaseInfo.name}</span>产品的购买类型
                </div>
                <div class="buy_fields">
                    零售价格：<span class="opt_type retail_price">{$goodsBaseInfo.price}</span>
                </div>
                <input class="buy_fields goods_base_id" type="hidden" value="{$goodsBaseInfo.id}">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr class="radioProductType">
                        <td class="dotted_bottom_gray product_type_field set_product_type" height=40 width="11%" >
                                <span class="buy_typeSet_title">商品购买类型设置：</span>
                        </td>
                    </tr>
                    <tr class="radioProductType">
                        <td class="dotted_bottom_gray city_part_module set_product_type" width="89%" align=left>
                            <!--商品还没有设置类型-->
                            <empty name="goodsInfo">
                                <foreach name="Think.config.BUY_TYPE" item="vo"  key="k">
                                    <div class="set_type_list">
                                        <input type="checkbox" name="discount"  class="radioItem" value="{$vo.name}" data-buy_type="{$vo.buy_type}" ><label for="">{$vo.name}</label>
                                        <span class="opt_type"><font color="#FF0000">*</font>{$vo.price_name}：</span>
                                        <input style="width: 200px; " class="inputboxadmin discount_price" name="discount_price" value="">
                                        <span class="opt_type"><font color="#FF0000">*</font>{$vo.commission}：</span>
                                        <input style="width: 200px; " class="inputboxadmin commission_price" name="commission_price" value="">
                                        <if condition="$vo.buy_type eq 2">
                                            <span class="opt_type"><font color="#FF0000">*</font>{$vo.cash_back}：</span>
                                            <input style="width: 200px; " class="inputboxadmin cash_back" name="cash_back" value="">
                                        </if>
                                        <if condition="$vo.buy_type eq 1">
                                            <span class="opt_type"><font color="#FF0000">*</font>{$vo.big_order_price}：</span>
                                            <input style="width: 200px; " class="inputboxadmin big_order_price" name="big_order_price" value="">
                                            <span class="opt_type"><font color="#FF0000">*</font>{$vo.small_order_price}：</span>
                                            <input style="width: 200px; " class="inputboxadmin small_order_price" name="small_order_price" value="">
                                        </if>
                                    </div>
                                </foreach>
                            <else />
                                <!--设置的类型-->
                                <foreach name="goodsInfo" item="vo">
                                     <div class="set_type_list">
                                        <foreach name="Think.config.BUY_TYPE" item="vv"  key="kk">
                                                <if condition="$vo.buy_type eq ($vv['buy_type'])">
                                                    <input type="hidden" name="goods_id" value="{$vo.id}">
                                                    <input type="checkbox" name="discount"  class="radioItem" value="{$vv['name']}" data-buy_type="{$vv['buy_type']}" checked=""><label for="">{$vv['name']}</label>
                                                    <span class="opt_type"><font color="#FF0000">*</font>{$vv['price_name']}：</span>
                                                    <input style="width: 200px; " class="inputboxadmin discount_price" name="discount_price" value="{$vo.sale_price}">
                                                    <span class="opt_type"><font color="#FF0000">*</font>{$vv['commission']}：</span>
                                                    <input style="width: 200px; " class="inputboxadmin commission_price" name="commission_price" value="{$vo.commission}">
                                                    <if condition="$vo.buy_type eq 2">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['cash_back']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin cash_back" name="cash_back" value="{$vo.cash_back}">
                                                    </if>
                                                    <if condition="$vv['buy_type'] eq 1">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['big_order_price']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin big_order_price" name="big_order_price" value="{$vo.big_order_price}">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['small_order_price']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin small_order_price" name="small_order_price" value="{$vo.small_order_price}">
                                                    </if>
                                                </if>
                                        </foreach>
                                    </div>
                                </foreach>
                                <!--没有设置的类型-->
                                <span class=""><font color="#FF0000">*</font>没有设置购买类型</span>
                                    <volist name="noBuyTypeArray" id="vo">
                                        <div class="set_type_list">
                                            <foreach name="Think.config.BUY_TYPE" item="vv"  key="kk">
                                                <if condition="$vo eq ($vv['buy_type'])">
                                                    <input type="checkbox" name="discount"  class="radioItem" value="{$vv['name']}" data-buy_type="{$vv['buy_type']}" ><label for="">{$vv['name']}</label>
                                                    <span class="opt_type"><font color="#FF0000">*</font>{$vv['price_name']}：</span>
                                                    <input style="width: 200px; " class="inputboxadmin discount_price" name="discount_price" value="">
                                                    <span class="opt_type"><font color="#FF0000">*</font>{$vv['commission']}：</span>
                                                    <input style="width: 200px; " class="inputboxadmin commission_price" name="commission_price" value="{$vo.commission}">
                                                    <if condition="$vo eq 2">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['cash_back']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin cash_back" name="cash_back" value="">
                                                    </if>
                                                    <if condition="$vo eq 1">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['big_order_price']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin big_order_price" name="big_order_price" value="">
                                                        <span class="opt_type"><font color="#FF0000">*</font>{$vv['small_order_price']}：</span>
                                                        <input style="width: 200px; " class="inputboxadmin small_order_price" name="small_order_price" value="">
                                                    </if>
                                                </if>
                                            </foreach>
                                        </div>
                                    </volist>
                            </empty>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <tr>
                <td width="11%"></td>
                <td height=60 width="50%" align=center>
                    <div class="upload_finish_btn">
                        <input class="button_save_black_4" value="确定" type="button">
                        &nbsp;&nbsp;
                        <input class="button_save_black" name="add0" value="返回" type="button">
                    </div>
                </td>
            </tr>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('.discount_price').on('keyup',function(){
                var _this=$(this);
                var promotionPrice=parseFloat($(this).val());
                var retailPrice=$('.retail_price').text();
                if(!isMoney(promotionPrice)){
                    if($('.error_tipc_txt').length>0){
                        return false;
                    }
                    _this.after('<span class="error_tipc_txt">请输入正确的金额</span>');
                    $(this).val('');
                    _this.focus();
                    return false;
                }else {
                    $('.error_tipc_txt').remove();
                    if(promotionPrice>retailPrice){
                        _this.after('<span class="error_tipc_txt">输入的价格不能大于零售价</span>');
                        return false;
                    }else{
                        $('.error_tipc_txt').remove();
                    }
                }
            });
            $('.discount_price').on('blur',function(){
                $('.error_tipc_txt').remove();
            });
            //确定
            $('.button_save_black_4').on('click',function(){
                var editData=[];
                var editArr={};
                var addData=[];
                var addArr={};
                var delData=[];
                var goodsBaseId=$('.goods_base_id').val();
                $.each($('.set_type_list'),function(i,val){
                    var _this=$(this);
                    var optionCheck=_this.find('.radioItem');
                    var promotionPrice=_this.find('.discount_price').val();
                    var goods_Id=_this.find('input[name="goods_id"]').val();
                    var commissionPrice =_this.find('input[name="commission_price"]').val();
                    var cashBack =_this.find('input[name="cash_back"]').val();
                    var big_order_price =_this.find('input[name="big_order_price"]').val();
                    var small_order_price =_this.find('input[name="small_order_price"]').val();
                    if(optionCheck.is(":checked")){
                        var buyType=optionCheck.data('buy_type');
                        if(goods_Id){
                            editArr={
                                goods_base_id:goodsBaseId,
                                buy_type:buyType,
                                sale_price:promotionPrice,
                                goods_id:goods_Id,
                                commission:commissionPrice,
                                cash_back:cashBack,
                                big_order_price:big_order_price,
                                small_order_price:small_order_price
                            };
                            editData.push(editArr);
                        }else{
                            addArr={
                                goods_base_id:goodsBaseId,
                                buy_type:buyType,
                                sale_price:promotionPrice,
                                goods_id:goods_Id,
                                commission:commissionPrice,
                                cash_back:cashBack,
                                big_order_price:big_order_price,
                                small_order_price:small_order_price
                            };
                            addData.push(addArr);
                        }
                    }else{
                        delData.push(goods_Id);
                    }
                });
                $.post(CONTROLLER + '/setPurchaseType',{addData:addData,editData:editData,delData:delData},function(msg){
                    if(!msg.status){

                    }else{
                        var url = CONTROLLER + '/goodsManage';
                        dialog.success('',url);
                    }
                },'JSON');
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = CONTROLLER + '/goodsManage';
            });
        });
    </script>
</block>