<extend name="Public:base" />
<block name="title">联合采购</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
     <a class="weixin_pay_h5" href="javascript:void(0);"></a>
     <input type="hidden" class="url" value="{$code_str}">
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
           var url =$('.url').val();
//            location.href=url;
        })
    </script>
</block>