<div id="address_info">
    {notempty name="defaultAddress"}
    <div class="item_addr address_info" >
        <div class="ia-l"></div>
        <div class="item_info">
            <input type="hidden" value=" {$defaultAddress.id}" class="address_id">
            <div class="mt_new">
                <span class="consignee">{$defaultAddress.consignee}</span>
                <span class="mobile">{$defaultAddress.mobile}</span>
            </div>
            <p class=""><span class="list_area_address"></span><span class="detail_address">{$defaultAddress.detail_address}</span></p>
            <!--<input type="hidden" class="area-address-name" value="" data-province=" {$defaultAddress.province}" data-city="{$defaultAddress.city}" data-area="{$defaultAddress.area}">-->
            <form style="display:none;" class="consigneeInfo">
                <input type="hidden" class="" name="province" value="{$defaultAddress.province}" />
                <input type="hidden" class="" name="city" value="{$defaultAddress.city}" />
                <input type="hidden" class="" name="area" value="{$defaultAddress.area}" />
                <input type="hidden" class="" name="layer_id" value="{$defaultAddress.id}" />
                <input type="hidden" class="" name="layer_consignee" value="{$defaultAddress.consignee}" />
                <input type="hidden" class="" name="layer_mobile" value="{$defaultAddress.mobile}" />
                <input type="hidden" class="" name="layer_detail_address" value="{$defaultAddress.detail_address}" />
                <input type="hidden" class="" name="is_default" value="{$defaultAddress.is_default}" />
            </form>
        </div>
        <div class="edit_operate">
            <a href="javascript:void(0);" class="select_address">选择地址></a>
            <a href="javascript:void(0);" class="ia-r address_edit">
                <span class="iar-icon"></span>
            </a>
        </div>
    </div>
    {else /}
    <a href="javascript:void(0);" class="add_address"><span>+</span>添加收货地址</a>
    {/notempty}
</div>