{extend name="../../api/public/template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="public_css/project_public.css">
{/block}
<!-- 项目公共模块-->
{block name="common-base"}{/block}
{block name="pre-script"}
<script type="text/javascript">
    //用于后面判断是否登录
    var user_id = "{$user.id}";
    /**获取json格式列表数据
     */
    function getJsonListDefaultCallBack(data){
        return data.data.data;
    }
    function getJsonList(config){
        //提交路径
        config.url = config.url?config.url:action;
        //要提交的数据
        config.postData = config.postData?config.postData:{};
        config.postData.page = config.postData.page ? config.postData.page : 1;
        config.postData.pageSize = config.postData.pageSize ? config.postData.pageSize:4;
        //请求结束标志
        if(config.requestEnd){
            config.loadTrigger = true;
            return false;
        }
        $.ajax({
            url: config.url,
            data: config.postData,
            type: 'get',
            beforeSend: function(){
                $('.loading').show();
            },
            error:function (xhr) {
                $('.loading').hide();
                dialog.error('AJAX错误');
            },
            success: function(data){
                $('.loading').hide();
                console.log(data);
                console.log(data.data);
                if(data.data.length && (data.data.data.length<config.postData.pageSize)){
                    config.requestEnd = true;
                }
                config.postData.page ++;
                config.loadTrigger = true;
                config.callBack?config.callBack(data):getJsonListDefaultCallBack(data);
            }
        });
    }
</script>
{/block}
<!-- 自定义js -->
{block name="suffix-script"}
<script type="text/javascript" src="api_common_js/dialog.js"></script>
<script type="text/javascript" src="api_common_js/paging.js"></script>
<script type="text/javascript">
    function asyncVerify(config){
        let jump_url = config.clickObj.data('jump_url');
        if(!config.clickObj || !jump_url){
            dialog.error('参数错误！');
            return false;
        }
        //异步验证
        $.ajax({
            url: jump_url,
            data: config.postData,
            type: 'post',
            beforeSend: function(xhr){
                $('.loading').show();
            },
            error:function(xhr){
                $('.loading').hide();
                dialog.error('AJAX错误');
            },
            success: function(data){
                $('.loading').hide();
                //异步验证判断
                let param = {
                    data:data,
                    postData:config.postData,
                    componentFooterCartMenu:config.componentFooterCartMenu,
                    clickObj:config.clickObj,
                    reduce:config.reduce,
                    jump_url:data.data && data.data.url?data.data.url:jump_url,
                    func:config.func
                };
                async_verify_judge(param);
            }
        });
    }
    //异步验证判断
    function async_verify_judge(param){
        //失败回调
        if(param.data.status==0){
            if(param.data.data.code == '1000'){ //默认
                dialog.error(param.data.info);
                return false;
            }else if(param.data.data.code == '1001'){ //登录
                if(param.clickObj.attr('class').indexOf('add_cart')!==-1 && param.postData){ //加入购物车
                    editLocalStorageCartList(param);
                }else{
                    loginDialogTrigger();
                }
                return false;
            }else if(param.data.data.code=='1002'){ //授权
                return false;
            }
            dialog.error(param.data.info);
        }else if(param.data.status==1){ //成功回调
            if(param.data.data.code == '2000'){ //默认
                if(param.clickObj.attr('class').indexOf('add_cart')!==-1 && param.componentFooterCartMenu){ //加入购物车
                    $.each(param.postData.goodsList,function(i,o){
                        param.componentFooterCartMenu.cart_num += o.num;
                    });
                }
                dialog.error(param.data.info);
                return false;
            }else if(param.data.data.code == '2001'){ //登录
                if(param.func && $.isFunction(param.func)){
                    param.func();
                }
                return false;
            }else if(param.data.data.code=='2002'){ //授权
                return false;
            }else if(param.data.data.code=='2003'){ //跳转
                location.href = param.jump_url;
                return false;
            }
            dialog.success(param.data.info);
        }else{ //返回页面
            param.func();
        }
    }
    //编辑cookie里的购物车商品列表
    function editLocalStorageCartList(param){
        if(!param.postData.goodsList.length){
            dialog.error('请选择商品！');
            return false;
        }
        if(!localStorage.cartList){
            localStorage.cartList = JSON.stringify({'goodsList':param.postData.goodsList});
        }else{
            let goodsListOld = (JSON.parse(localStorage.cartList)).goodsList;
            $.each(param.postData.goodsList,function(i,o){
                let find = false;
                $.each(goodsListOld,function(ii,oo){
                    if(o.goods_id == oo.goods_id){
                        if(param.reduce && param.reduce==='true'){
                            oo.num -= o.num;
                        }else{
                            oo.num += o.num;
                        }
                        find = true;
                    }
                });
                if(!find){
                    goodsListOld.unshift(o);
                }
            });
            //保存购物车
            localStorage.cartList = JSON.stringify({'goodsList':goodsListOld});
        }
        if(param.clickObj.attr('class')=='add_cart' && param.componentFooterCartMenu){ //加入购物车
            $.each(param.postData.goodsList,function(i,o){
                param.componentFooterCartMenu.cart_num += o.num;
            });
            dialog.success('加入购物车成功！');
            return false;
        }
    }
    //删除cookie里的购物车商品列表
    function delLocalStorageCartList(goodsList){
        if(!localStorage.cartList){
            return false;
        }
        let goodsListOld = (JSON.parse(localStorage.cartList)).goodsList;
        let goodsListNew = [];
        $.each(goodsListOld,function(i,o){
            let find = false;
            $.each(goodsList,function(ii,oo){
                if(o.goods_id == oo.goods_id){
                    find = true;
                }
            });
            if(find){
                goodsListNew.push(o);
            }
        });
        if(goodsListNew.length){
            //保存购物车
            localStorage.cartList = JSON.stringify({'goodsList':goodsListNew});
        }else{
            //保存购物车
            localStorage.cartList = '';
        }
    }
</script>
{/block}