{extend name="../../api/public/template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="public_css/project_public.css">
{/block}
{block name="header"}
<section class="header_title separation-line">
    <a href="javascript:void(0);" class="back_prev_page async_login" data-jump_url="{:url('Mine/index')}"></a>
    <h2 class="f24">{block name="title"}{$Think.config.custom.title}{/block}</h2>
</section>
{/block}
<!-- 公共模块-->
{block name="common"}{/block}
{block name="pre-script"}
<script type="text/javascript">
    var user_id = "{$user.id}";
</script>
{/block}
<!-- 自定义js -->
{block name="suffix-script"}
<script type="text/javascript" src="api_common_js/dialog.js"></script>
<script type="text/javascript" src="api_common_js/paging.js"></script>
<script type="text/javascript">
    //异步验证判断
    function async_verify_judge(param){
        if(param.data.status==0){
            if(param.data.data.code == '1001'){
                loginBackFunction = param.func;
                loginDialog();
            }else if(param.data.data.code=='1002'){
            }else if(param.data.data.code=='1003'){
            }else{
                dialog.error(param.data.info);
            }
        }else if(param.data.status==1){
            if(param.data.data.code == '1001'){
            }else if(param.data.data.code=='1002'){
            }else if(param.data.data.code=='1003'){
            }else{
                return true;
            }
        }else{
            return true;
        }
    }
    //登录-弹窗触发
    function loginDialogTrigger(){
        var content=$('.userInfoWrapper').html();
        window.scrollTo(0,0);
        layer.open({
            className:'loginLayer',
            type:1,
            shadeClose:false,
            content:content,
            btn:[''],
            success:function(index,i){
                console.log(index);
                console.log(i);
            },
            yes:function(index){
                layer.close(index);
            }
        });
    }
</script>
{/block}