{extend name="../../api/public/template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="public_css/project_public.css">
{/block}
<!-- 项目公共模块-->
{block name="common-base"}{/block}
{block name="pre-script"}
<script type="text/javascript">
    //用于后面判断是否登录
    var user_id = "{$user.id}";
    var total_num = "{$total_num}";
</script>
{/block}
<!-- 自定义js -->
{block name="suffix-script"}
<script type="text/javascript" src="api_common_js/dialog.js"></script>
<script type="text/javascript" src="api_common_js/paging.js"></script>
<script type="text/javascript">
    //异步验证判断
    function async_verify_judge(param){
        if(param.data.status==0){
            if(param.data.data.code == '1001'){
                //未登录
                loginDialogTrigger();
                return false;
            }else if(param.data.data.code=='1002'){
                return false;
            }
            dialog.error(param.data.info);
        }else if(param.data.status==1){
            if(param.data.data.code == '1001'){
                //已登录
                param.func();
                return false;
            }else if(param.data.data.code=='1002'){
                return false;
            }else if(param.data.data.code=='1003'){
                location.href=param.jump_url;
                return false;
            }
            dialog.success(param.data.info);
        }
    }
    //编辑cookie里的购物车商品列表
    function editLocalStorageCartList(goodsList,operator){
        let cartList = localStorage.cartList?JSON.stringify(localStorage.cartList):{};
        if($.isEmptyObject(cartList)){
            localStorage.cartList = goodsList;
            return false;
        }
        $.each(cartList,function(i,o){
            $.each(goodsList,function(ii,oo){
                if(o.goods_id == oo.goods_id){
                    if(operator){
                        o.num -= oo.num;
                    }else{
                        o.num += oo.num;
                    }
                }else{
                    cartList.unshift(oo);
                }
            });
        });
        //保存购物车
        localStorage.setItem('cartList',cartList);
        console.log(localStorage);
    }
    //删除cookie里的购物车商品列表
    function delLocalStorageCartList(goodsList){
        let cartList = localStorage.cartList?JSON.stringify(localStorage.cartList):{};
        if($.isEmptyObject(cartList)){
            return false;
        }
        $.each(cartList,function(i,o){
            $.each(goodsList,function(ii,oo){
                if(o.goods_id == oo.goods_id){
                    //删除购物车
                    localStorage.removeItem(o);
                }
            });
        });
        console.log(localStorage);
    }
</script>
{/block}