<!--会员预登记模板-->
<section class="member-register-tpl" style="display:none;">
    <div id="wizard" class="page-bd">
        <nav class="apply-data-nav">
            <ul id="status " class="status f24 weui-flex">
                <li class="weui-flex-item switch-item current"><span class="base_info"></span><em></em>用户资料</li>
                <li class="weui-flex-item "><span class="opening"></span>登记完成</li>
            </ul>
        </nav>
        <div class="apply-data-content">
            <div class="apply-module ">
                <form class="applicant_form">
                    {notempty name="factoryInfo"}
                    <input type="hidden" name="store_id" class="store_id" value="{$factoryInfo.id|default=''}">
                    {/notempty}
                    <div class="apply-items">
                        <input type="text" class="name " name="organizationName" value="" placeholder="机构名称(选填)">
                    </div>
                    <!--<div class="apply-items">
                        <input type="text" class="applicant " name="applicant" value="" placeholder="你的姓名(必填)">
                    </div>-->
                    <div class="apply-items">
                        <input type="tel" class="mobile " name="mobile" value="" placeholder="备用手机号码(选填)">
                    </div>
                    <div class="apply-items">
                        <input type="text" class="applicant consignee" name="consignee" value="" placeholder="收件人姓名(必填)">
                    </div>
                    <div class="apply-items">
                        <input type="tel" class="mobile " name="mobile" value="" placeholder="收件人手机号码(必填)">
                    </div>
                    <div class="express-area ">
                        <a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
                            <label class="form-label">选择地区：</label>
                            {empty name="address"}
                            <div class="area_address">省 &gt; 市 &gt; 区/县(必填)</div>
                            {else /}
                            <div class="area_address"></div>
                            {/empty}
                            <input type="hidden"  data-key="" value="" class="area-address-name" >
                        </a>
                    </div>
                    <div class="apply-items">
                        <input type="text" class="detail_address" name="detail_address" value="" placeholder="详细地址(必填)">
                    </div>
                    <a href="javascript:void(0);" class="next-step step">下一步</a>
                </form>
            </div>
            <div class="apply-module hide">
                <div class="success-tipc">
                    <p>已完成会员预登记!</p>
                </div>
                <a href="javascript:void(0);" class="three-step cofirm-btn step">确定</a>
            </div>
        </div>
    </div>
</section>