<!--结算方式模板-->
<section id="WalletPasswordHtml" style="display:none;">
    <div class="f24 bomb_box">
        <form class="" id="ForgetWalletPassword">
            <div class="login_item">
                <div class="columns_flex">
                    <span>中国(+86)</span>
                    <input class="username user_phone input-filed" readonly="readonly" type="tel" placeholder="请输入手机号码" name="mobile_phone" value="{$user.mobile_phone}">
                </div>
            </div>
            <div class="smsLogin login_wrap">
                <div class="login_item">
                    <div class="columns_flex l-r-sides">
                        <input type="text" class="tel_code input-filed" placeholder="请输入收到的验证码" name="captcha">
                        <a href="javascript:void(0);" class="send_sms">获取验证码</a>
                    </div>
                </div>
            </div>
            <div class="login_item">
                <div class="columns_flex">
                    <ul class="payment_password_list" id="wrap">
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                    </ul>
                    <!--<input class="input-filed password" autocomplete="new-password" type="password" placeholder="设置密码" name="password">-->
                    <!--<a href="javascript:void(0);" class="hidden view-password" ></a>-->
                </div>
            </div>
        </form>
    </div>

</section>
<section class="settlementMethod" style="display:none;">
    <div class="f24 pay_wrapper">
        <section class="header_title separation-line">
            <h2 class="f24">选择结算方式</h2>
        </section>
        <section>
            <div>
                <ul class="pay_nav">
                    <!-- 待优化 -->

                    {if empty($walletInfo) || $walletInfo.amount<$orderInfo['amount']}
                        <li data-paycode="4" class="disabled">
                            <span class="selected"></span>
                            钱包支付
                            <span class="wx">余额：￥<price>{$walletInfo.amount|default=0}</price></span>
                        </li>
                    {else /}
                        <li data-paycode="4">
                            <span class="selected"></span>
                            钱包支付
                            <span class="wx">余额：￥<price>{$walletInfo.amount|default=0}</price></span>

                            <section id="walletPay" style="display:none;">
                                <div class="payment_password">
                                    <ul class="payment_password_list" id="wrap">
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                        <li class=""><input class="password_item" type="password" name="key" placeholder="-" data-index=""></li>
                                    </ul>
                                    <div class="login_item">
                                        <a href="javascript:void(0);" class="forget_wallet_password">忘记支付密码/设置密码</a>
                                    </div>
                                </div>
                            </section>
                        </li>
                    {/if}

                    <li data-paycode="1">
                        微信支付
                        <span class="selected"></span>
                        <span class="wx"></span>
                    </li>
                    <li data-paycode="2" id="alipay">
                        支付宝支付
                        <span class="selected"></span>
                        <span class="wx"></span>
                    </li>
                    <!--<li data-paycode="3">
                        银联支付
                        <span class="selected"></span>
                        <span class="wx"></span>
                    </li>-->
                </ul>
            </div>
            <form  method="post" class="pay_form" id="pay_info">
                <input type="hidden" name="pay_code" value="" class="pay_code"/>
                <input type="button" value="立即结算" class="settlement_btn"/>
            </form>
        </section>
    </div>
</section>