{include file='public/_meta' /}
<title>H-ui.admin v3.1</title>
<link rel="stylesheet" href="public_admin_common_js/layer.mobile/need/layer.css">
{block name="css-customize"}{/block}
</head>

<body>
<!-- 基础内容模块，子页面可覆盖 -->
{block name="content"}{/block}
<!-- 返回顶部-->
{block name="backTop"}{/block}
<!-- 加载更多-->
{block name="load"}{/block}
{block name="UserDialog"}
{/block}
<!-- 基础页脚模块，子页面可覆盖 -->
{block name="footer"}
<footer class="f24">
	<span class="icp_icon">Copyright 2017 维雅生物科技 粤ICP备14021421号</span>
</footer>
{/block}

<!--js基本插件-->
{include file='public/_footer' /}
<script src="public_admin_common_js/public.js"></script>
<script src="public_admin_common_js/common.js"></script>
<script src="public_admin_common_js/dialog.js"></script>
<script type="text/javascript" src="public_admin_common_js/layer.mobile/layer.js"></script>


{block name="script"}{/block}
</body></html>