  <div class="search-result">
     <notempty name='goodsList'>
        <ul class="goods-list" nctype="bundling_goods_add_tbody" style=" width:1235px;">
            <volist name="goodsList" id="vo">
            <li data-goodsid="{$vo.id}">
                <div class="goods-thumb">
                    <empty name="vo.main_img">
                        <img src="PUBLIC_ADMIN_IMG/common/default/goods_default.png" class="goods_img"/>
                        <else/>
                        <img src="UPLOADS_IMG/{$vo.main_img}" class="goods_img"/>
                    </empty>
                </div>
                <dl class="goods-info">
                    <dt><a href="#" target="_blank" title="{$vo.name}" class="goods_title">{$vo.name}</a></dt>
                    <dd>价格¥<span class="goods_price">{$vo.price}</span></dd>
                    <dd>库存{$vo.inventory}件</dd>
                </dl>
                <div data-param="">
                    <a href="JavaScript:void(0);" class="ncsc-btn-mini ncsc-btn-green add-goods"><i class="icon-plus"></i>添加</a>
                </div>
            </li>
           </volist>
          </ul>
		   <else/>
        <div class='loading'>没有符合条件的记录！</div>
    </notempty>
   </div>
   <div class="pager">{$pageList}</div>


