<li data-id="{$project.id}">
    <div class='cs_pg_img'>
        <a href="javascript:void(0);">
            <empty name="project.home_focus_img">
                <img src="{$Think.config.PUBLIC_IMG}/home/store_img_1.jpg" class="project_list_image" alt="">
                <else/>
                <img src="__ROOT__/Uploads/{$project.home_focus_img}" class="project_list_image" alt="">
            </empty>
        </a>
    </div>
    <div class='cspg_item'>
        <div class="cspg_item_n">
            <p><i>热</i>
                <span class="project_list_name">{$project.name}</span>
            </p>
            <div class="project_price">￥<span class="project_list_special_offer">{$project.sale_price}</span></div>
        </div>
        <div class="pg_status">
            <div>
                当前状态：
                <span class="current_online">上线</span>
            </div>
            <div>
                <a href='javascript:void(0);' class='mod_pg'>修改项目</a>
                <div class="on_off_line">
                    <a href='javascript:void(0);' data-v="0" class='off_line'>下线</a>
                    <a href='javascript:void(0);' data-v="1" class='on_line'>上线</a>
                </div>
            </div>
        </div>
    </div>
    <select style="display:none" name="shopIdArr">
        <volist name="project.shopIdArr" id="v">
            <option value="{$v}"></option>
        </volist>
    </select>
    <input type="hidden" name="project_id" value="{$project.id}"/>
    <input type="hidden" name="name" value="{$project.name}"/>
    <input type="hidden" name="brief_trait" value="{$project.brief_trait}"/>
    <input type="hidden" name="original_price" value="{$project.original_price}"/>
    <input type="hidden" name="sale_price" value="{$project.sale_price}"/>
    <input type="hidden" name="time_consuming" value="{$project.time_consuming}"/>
    <input type="hidden" name="online" value="{$project.online}"/>
    <input type="hidden" name="list_view_img" value="{$project.list_view_img}"/>
    <input type="hidden" name="home_focus_img" value="{$project.home_focus_img}"/>
    <input type="hidden" name="service_content" value="{$project.service_content}"/>
    <input type="hidden" name="service_description" value="{$project.service_description}"/>
</li>
