{extend name="template/base.html" /}
{block name="content"}

<article class="f24">
	<ul class="nav_menu">

		{volist name="sceneList" id="info"}
			<li data-scene-id="{$info.id}" class="{if $info.id==$scene_id}current{/if}">
				<a href="{:url(request()->controller().'/'.$info.template,['id'=>$info.id])}" class="category_nav">{$info.name}</a>
			</li>
		{/volist}

	</ul>

	<section class="content-padding content_main wy_list">
		<!--方案列表-->
		{notempty name="schemeList"}
			{volist name="schemeList" id="info"}
				<div class="apply_item">
					{if $info.show_name==1}
						<span class="content-label">{$info.name}</span>
					{/if}
					<a data-id="{$info.id}">
						<img src="{:show_img_handle($info.thumb_img)}" alt="{$info.name}">
					</a>
				</div>
			{/volist}
		{/notempty}
		<!--产品列表-->
		<ul class="goods_list list" id="list">

		</ul>

	</section>
</article>

{/block}
{block name="common"}
    {include file="brand/set_brand" /}
	{include file="public/sample_layer" /}
{/block}
{block name="footer"}
	{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		//查看文本
		$('.wk_notice').moreText({
			mainCell:".more-text",
			openBtn:'展开'
		});
	});
	// 获取该场景下的商品
	var config = {
		url:module+'Goods/getRelationGoods',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:10,
		relation:'{$relation}'
	};

	$(function(){
		//初始化场景商品页面
		postData.id = '{$scene.id}';

		getPagingList(config,postData);
	});
</script>
{/block}