{extend name="template/base.html" /}
{block name="title"}{$Think.config.custom.tag_category[$info.tag_category]}{/block}
{block name="content"}
<article class="f24">
	<!-- 标题导航 -->
	<nav style="position:relative;">
		<a href="javascript:void(0);" class="back_prev_page" data-jump_url=""><</a>
		<ul class="nav_menu">
			{volist name="sceneList" id="vo"}
				<li data-scene-id="{$vo.id}" class="{if $vo.id==$info.id}current{/if}">
					<a href="{:url(request()->controller().'/'.$vo.display_type,['id'=>$vo.id])}" class="category_nav">{$vo.name}</a>
				</li>
			{/volist}
		</ul>
	</nav>
	{include file="template/scene_detail.html" /}
	<!-- 内容 -->
	<section class="content-padding content_main wy_list">
		<div class="">
			<a href="javascript:;" class="project_details right-arrow">黑森森门店{$info.name}参考方案</a>
		</div>
		<!--采购方案列表-->
		{notempty name="promotionList"}
			{volist name="promotionList" id="vo"}
			<a href="{:url('Promotion/detail',['id'=>$vo.id])}" data-id="{$vo.id}" class="">
				<div class="applay_p_item columns_flex l-r-sides">
		<!--			<div>
						<div class="red">¥<price>{$vo.price}</price></div>
						<p>{$vo.name}</p>
						<p class="once-enter">立即进入></p>
					</div>
					<div class="group_btn50">
						<img class="common_default_img" src="" alt="{$vo.name}">
					</div>-->
					<img class="common_default_img" src="{:show_img_handle($vo.thumb_img)}" alt="{$vo.name}">
				</div>
			</a>
			{/volist}
		{/notempty}
		<!--产品列表-->
		<ul class="goods_list list" id="product-list">
			<product-select
					v-for="(productInfo,index) in productList"
					:key="index"
					:product_id="productInfo.id"
					:deal_price="parseFloat(productInfo.bulk_price)"
					:product_name="productInfo.headline"
					:product_src="productInfo.thumb_img"
					:init_quantity="parseInt(init_quantity)"
					:step_quantity="parseInt(step_quantity)"
					:specification="productInfo.specification"
					:type="type"
			></product-select>
		</ul>
	</section>
	
</article>

{/block}
{block name="common"}{/block}
{block name="footer"}
{include file="../../api/public/vue/components/footer-menu.html" /}
<div class="bg"></div>
	<div class="dialogCart">
		<div class="close" onclick="close">×</div>
		<div id="product-list2">
			<product-select
					v-for="(productInfo,index) in productList"
					:key="index"
					:product_id="productInfo.id"
					:deal_price="parseFloat(productInfo.bulk_price)"
					:init_quantity="parseInt(init_quantity)"
					:step_quantity="parseInt(step_quantity)"
					:type="type"
			></product-select>
		</div>
		<div id="foot_cart_menu">
			<footer-menu></footer-menu>
		</div>
	</div>
<script type="text/javascript">
	$(function(){
		new Vue({
            el:'#foot_cart_menu',
            data:function(){
                return {};
            }
        });
	})
</script>
{include file="../../api/public/vue/components/product-select.html" /}
<script type="text/javascript">
	$(function(){
		let param = {
			type:0,
			init_quantity:1,
			step_quantity:1,
			productList:[],
			getJsonListParam:{
				url:module+'Goods/getRelationGoods',
				requestEnd:false,
				loadTrigger:false,
				postData:{
					id:'{$info.id}',
					relation:'{$relation}',
					pageSize:10,
					page:1
				}
			}
		};
		new Vue({
			el: '#product-list',
			data:function(){
				return param;
			},methods:{
				getJsonListCallBack:function(data){
					if(data.status==0){
						dialog.error(data.info);
						return false;
					}
					let _this = this;
					$.each(data.data.data,function(i,o){
						_this.productList.push(o);
					});
				}
			},created:function(){
				let _thisVue = this;
				_thisVue.getJsonListParam.callBack = _thisVue.getJsonListCallBack;
				vueVersionGetJsonList(_thisVue);
				//下拉加载
				$(window).on('scroll',function(){
					if(_thisVue.getJsonListParam.loadTrigger
							&& $(document).scrollTop()+$(window).height()+200>$(document).height()){
						//停止触发，去其他地方重新放开
						_thisVue.getJsonListParam.loadTrigger = false;
						vueVersionGetJsonList(_thisVue);
					}
				});
			}
		});
	});
</script><script type="text/javascript">
	$(function(){
		let param = {
			type:3,
			init_quantity:1,
			step_quantity:1,
			productList:[
				{
					product_id:1,
					bulk_price:299
				}
			]
		};
		new Vue({
			el: '#product-list2',
			data:function(){
				return param;
			}
		});
	});
</script>
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">
$('.close').click(function(){
	console.log(00);
	$('.bg').toggle()
	$('.dialogCart').slideUp(500)
})
$('.bg').click(function(){
	console.log(00);
	$('.bg').toggle()
	$('.dialogCart').slideUp(500)
})
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		// 后加载简介
		$('document').ready(function(){
			$('.intro').html("{$info.intro|raw}");
		});
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
<style scoped>
	@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
		.product_specs{
			margin-top: 0;
		}
}
	.red{
		font-size: 18px;
	}
	.quantity_wrapper div:nth-of-type(2){
		margin-right: 14px;
	}
	.bg{
		width: 100vw;
		height: 100vh;
		background: #000;
		opacity: 0.5;
		z-index: 998;
		position: fixed;
		top: 0;
		display: none
	}
	.close{
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border:1px solid #fff;
		color: #fff;
		text-align: center;
		line-height: 16px;
		font-size: 16px;
		position: absolute;
		right: 14px;
		top: -24px;
	}
	.dialogCart{
		width: 100%;
		height: 200px;
		background: #fff;
		position: fixed;
		bottom: 0;
		z-index: 999;
		display: none
	}
	.group_cart_nav a:nth-of-type(1){
		width: 60%
	}
	.group_cart_nav a:nth-of-type(3){
		width: 60%
	}
	.group_cart_nav a:nth-of-type(4){
		width: 60%
	}
	</style>
{/block}
