{extend name="template/base.html" /}

{block name="title"}
{$Think.config.custom.tag_category[$scene.tag_category]}
{/block}

{block name="content"}
<article class="f24">
	<ul class="nav_menu">
		{volist name="sceneList" id="info"}
		<li data-scene-id="{$info.id}" class="{if $info.id==$scene.id}current{/if}">
			<a href="{:url(request()->controller().'/'.$info.display_type,['id'=>$info.id])}" class="category_nav">{$info.name}</a>
		</li>
		{/volist}
	</ul>
	<section class="slider_banner">
		<div class="swiper-container swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					{volist name="$scene.main_img" id="info"}
					<img src="{:show_img_handle($info)}" alt="" class="common_default_img">
					{/volist}
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 2"></span>
				<span class="swiper-pagination-bul let " tabindex="0" role="button" aria-label="Go to slide 3"></span>
				<span class="swiper-pagination-bullet " tabindex="0" role="button" aria-label="Go to slide 4"></span>
			</div>
		</div>
	</section>
	<section class="module-navigation ">
		<div >
			<ul>
				<li>
					<div class="top_radius f20 top_module">
						<div>
							<div class="title">
								{$scene.title}
							</div>
							<div class="intro"></div>
						</div>
						<div class="tags_item columns_flex l-r-sides">
							<div>
								{volist name="$scene.tag" id="tag"}
								<span>{$tag}</span>
								{/volist}
							</div>
							<div class="tags_item_r">
								<a class="collection" href="javascript:;"><span class="icon"></span><span class="text">收藏</span></a>
								<a class="share" href="javascript:;"><span class="icon"></span>分享</a>
							</div>
						</div>
						<div class="">
							<a href="javascript:;" class="project_details right-arrow">领代金券<span>(0/0)</span></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="content-padding content_main wy_list">
		<!--信息列表-->
		<ul class="goods_list list" id="list">

		</ul>
	</section>
</article>
{/block}

{/block}
{block name="common"}
    {include file="brand/set_brand" /}
	{include file="public/sample_layer" /}
{/block}
{block name="footer"}

{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));

		// 后加载简介
		$('document').ready(function(){
			$('.intro').html("{$scene.intro|raw}");
		})

		$(".mod_selection_nav li").click(function(){
                    var moveX = $(this).offset().left+$(this).parent().scrollLeft();
                    var pageX = document.documentElement.clientWidth;//设备的宽度
                    var blockWidth = $(this).width();
                    var left = moveX-(pageX/2)+(blockWidth/2);
                    $(".mod_selection_nav").animate({scrollLeft:left},400);
                    $(this).addClass("active").siblings().removeClass("active");
		});
		// 项目信息切换
		$('.detail-nav li').on('click',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$('.project_item').hide().eq($(this).index()).show();
		})
		// 项目切换
	});

	// 获取项目下的商品
	var config = {
		url:module+'Project/getSceneProjectList',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:10,
		scene_id:'{$scene.id}'
	};
	$(function(){
		//初始化项目列表
		getPagingList(config,postData);
	});
</script>
{/block}