<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>投诉举报</h2>
    </section>
    <article class="f24 complaints_report">
        <span class="c_r_t">投诉举报</span>
        <include file="Public/sellerInfo"/>
        <div class="complaints_report_matter">
            <span>投诉原因</span>
            <textarea id="reason" cols="30" rows="10" placeholder="请写原因">{$complainInform.reason}</textarea>
            <span>举报证据</span>
            <div class="uploadImg_cell">
                <div class="upload_item image_photo complaints_item">
                    <div class="upload_td ">
                        <input type="file" class="uploadImg" name="">
                        <empty name="complainInform.evidence_url">
                            <img class="upload_img" src="">
                            <else/>
                            <img class="upload_img" src="/Uploads/{$complainInform.evidence_url}">
                        </empty>
                        <span class="upload_pic">上传照片</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary submit_application" href="javascript:void(0);">递交</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化
            var avgScore = '{$avgScore}';
            $('.five_star').setStar(avgScore);
            var evidence_url = '{$complainInform.evidence_url}';

            // 上传图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var uploadImgParent=$(this).parent();

                // 判断是否图片
                if(!img){
                    return false;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    });
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    uploadImgParent.addClass('active');
                    var postData = {
                        img: e.target.result,
                        compress: true,
                        imgWidth: 350,
                        imgHeight: 350
                    };
                    $.post("uploadImgToTemp",postData,function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else{
                            uploadImgParent.find('img').attr('src',imgUrl);
                            evidence_url = msg.info;
                        }
                    },'json');
                }
            });

            //递交
            $('body').on('click','.weui_btn',function(){
                var postData = {};
                postData.evidence_url = evidence_url;
                postData.reason = $('#reason').val();
                postData.taskOrderId = '{$taskOrderId}';
                postData.to_id = '{$seller.id}';
                postData.complainInformId = '{$complainInform.id}';

                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content:msg.info,
                            time:2
                        });
                        return false;
                    }else{
                        history.go(-1);
                    }
                },'json');
            });
        });
    </script>
</block>