{notempty name="list"}
{volist name="list" id="info"}
<li data-id="{$info.id}">
    <div class="product-select">
        <div class=""><p></p></div>
        <div class="columns_flex l-r-sides">
            <div class="left">
                <a class="p_img" href="{:url('Goods/detail',['id'=>$info.id])}">
                    <img class="left" src="{:show_img_handle($info.thumb_img)}" alt="{$info.headline}">
                </a>
            </div>
            <div  class="right">
                <div class="product_name">
                    <p class="two-line-omit">{$info.headline}</p>
                </div>
                <div class="product_specs">
                    <p class="two-line-omit">{$info.specification}</p>
                </div>
                <div class="quantity_wrapper columns_flex l-r-sides">
                    <div class="red">￥<span class=" deal_price">{$info.retail_price}</span></div>
                    <div>X {$info.goods_num}</div>
                </div>
            </div>
        </div>
    </div>
</li>
{/volist}
{/notempty}
