<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link href="__PUBLIC__/admin-css/purchase/skin.css" rel="stylesheet" type="text/css"  />
    <link href="__PUBLIC__/admin-css/purchase/fenlei.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/admin-css/purchase/font-awesome.min.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('PurchaseGoods/goodsList')}" ><span>管理</span></a></li>
                    <li><a href="{:U('PurchaseGoods/addGoods')}" class="current" ><span>新增</span></a></li>
                    <li><a href="{:U('PurchaseGoods/upDownGoods')}" ><span>上下架</span></a></li>
                </ul>
            </div>
        </div>
        <div align=center style="margin-top:15px;">
            <table id=table5 border=0 cellspacing=0 cellpadding=0 width="100%">
                <tbody>
                <tr>
                    <td height=10 align=center></td>
                </tr>
                <tr>
                    <empty name="goodsInfo">
                    <td class="box_top box_border" height=35 align=center>添加新商品</td>
                        <else />
                        <td class="box_top box_border" height=35 align=center>修改商品</td>
                    </empty>
                </tr>
                <tr>
                    <td class="box_content box_border_left box_border_bottom box_border_right" height=25><div align=center>
                        <table id=table85 border=0 cellspacing=0 cellpadding=0 width="98%">
                            <tbody>
                            <tr>
                                <td valign=middle width="100%"><div align=center>
                                    <form method="post" id="form1" name="form2"  >

                                        <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                                            <tbody>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>产品图片：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><p>
                                                    <input type="file" class="upload" id="img">
                                                    <label class="uploadbtn" for="img" title="JPG,GIF,PNG"></label>
                                                </p>
                                                    <p class="showimg" id="showimg">图片上传大小请小于50k</p>
                                                    <empty name="goodsInfo.first_img">
                                                        <img  class="first_img" src="">
                                                        <else />
                                                        <img class="first_img" src="__ROOT__/Uploads/{$goodsInfo.first_img}">
                                                    </empty>
                                                </empty>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>所属分类：</td>
                                                <input id="goods_category_id_1" type="hidden" value="{$goodsInfo.goods_category_id_1}">
                                                <input id="goods_category_id_2" type="hidden" value="{$goodsInfo.goods_category_id_2}">
                                                <input id="goods_category_id_3" type="hidden" value="{$goodsInfo.goods_category_id_3}">
                                                <input type="hidden"   value="{$goodsInfo.id}" name="goodsId">
                                                <td class=dotted_bottom_gray width="89%" align=left>
                                                    <select id="parent_id_1" name="goods_category_id_1"  onchange="get_category(this.value,'parent_id_2','0');" class="selectbox">
                                                    <option value="">顶级分类</option>
                                                    <foreach name="catList" item="v" >
                                                        <option value="{$v.id}">{$v.name}</option>
                                                    </foreach>
                                                </select>
                                                    <select id="parent_id_2" class="selectbox" name="goods_category_id_2" onchange="get_category(this.value,'parent_id_3','0');">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                    <select id="parent_id_3" class="selectbox" name="goods_category_id_3">
                                                        <option value="0">请选择商品分类</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>商品名称：</td>
                                                <td class=dotted_bottom_gray width="40%" align=left><input style="width: 200px; "  class="inputboxadmin" name="name" value="{$goodsInfo.name}"></td>

                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>排序：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 100px; "  class="inputboxadmin" name="sort" value="{$goodsInfo.sort}"></td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>商品原价：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 200px; "  class="inputboxadmin" name="price" value="{$goodsInfo.price}"  onkeyup="value=value.replace(/[^\d]/g,'')"></td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>商品采购价：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 200px; "  class="inputboxadmin" name="disprice" onkeyup="value=value.replace(/[^\d]/g,'')" value="{$goodsInfo.promotion_price}"></td>
                                            </tr>

                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>商品规格：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 200px; "  class="inputboxadmin" name="norms" value="{$goodsInfo.norms}"></td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>商品库存：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 200px; "  class=inputboxadmin name="storage"  value="{$goodsInfo.storage}" onkeyup="value=value.replace(/[^\d]/g,'')"></td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>标签：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><input style="width: 200px; " class="inputboxadmin" name="tag" value="{$goodsInfo.tag}">
                                                    多个标签请用逗号分隔，例如：正品保障,纳晶水光</td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>商品简介：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><textarea style="width:500px; height: 100px"  class="inputboxadmin intro" name="intro">{$goodsInfo.intro}</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>商品参数：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><textarea style="width: 500px; height: 100px"  class="inputboxadmin parameter" name="parameter">{$goodsInfo.parameter}</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=dotted_bottom_gray height=40 width="11%" align=right>产品详情：</td>
                                                <td class=dotted_bottom_gray width="89%" align=left><textarea style="width:500px; height: 100px"  class="inputboxadmin details" name="goods_content">{$connt}</textarea>

                                            </tr>
                                            <tr>
                                                <td height=20 width="100%" colspan=2 align=right></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div></td>
                            </tr>
                            <tr>
                                <td height=60 width="100%" align=center>
                                    <a href='javascript:;'>
                                        <input class="button_save_black_4" value="确定添加" type="button"></a>
                                    &nbsp;&nbsp;
                                    <input class="button_save_black" onclick="javascript:history.go(-1)" name="add0" value="返回上一层" type="button"></td>
                            </tr>
                            <tr>
                                <td height=60 width="100%" align=center></td>
                            </tr>
                            </tbody>
                        </table>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</block>
<block name="js-customize">
    <script src="__PUBLIC__/admin-js/common/kindeditor-4.1.10/kindeditor-min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/admin-js/common/kindeditor-4.1.10/lang/zh_CN.js" charset="utf-8"></script>
</block>
<block name="script">
    <script type="text/javascript">

var KE;

KindEditor.ready(function(K) {
    KE = K.create("textarea[class='intro'],textarea[class='parameter']", {
        height : "280px",
        items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
            'superscript', '|', 'selectall', 'clearhtml','quickformat','|',
            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'table', 'hr', 'emoticons', 'link', 'unlink', '|', 'about'],
        cssPath : "/Public/css/kindeditor/themes/default/default.css",
        allowImageUpload : false,
        allowFlashUpload : false,
        allowMediaUpload : false,
        allowFileManager : false,
        syncType:"form",
        afterCreate : function() {
            var self = this;
            self.sync();
        },
        afterChange : function() {
            var self = this;
            self.sync();
        },
        afterBlur : function() {
            var self = this;
            self.sync();
        }
    });
    KE.appendHtml = function(id,val) {
        this.html(this.html() + val);
        if (this.isCreated) {
            var cmd = this.cmd;
            cmd.range.selectNodeContents(cmd.doc.body).collapse(false);
            cmd.select();
        }
        return this;
    };



    var editor = K.create('textarea[class="details"]', {
        height : "420px",
        uploadJson : "{:U('PurchaseGoods/uploads')}",
        fileManagerJson : '../php/file_manager_json.php',
        allowFileManager : true,
        afterCreate : function() {
            var self = this;
            K.ctrl(document, 13, function() {
                self.sync();
                K('form[name=p_details]')[0].submit();
            });
            K.ctrl(self.edit.doc, 13, function() {
                self.sync();
                K('form[name=p_details]')[0].submit();
            });
        },

        afterUpload: function (data) {

        },

        afterBlur: function () {  //同时设置这里
            this.sync();
        },
        items:
                [
                    'justifyleft', 'justifycenter', 'justifyright', 'justifyfull',
                    'emoticons', 'multiimage', 'baidumap', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'formatblock', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat'
                ]

});

});
        $(function(){

            // 选择图片
            $('#img').on('change',function(){
                var img = event.target.files[0];
                // 判断是否图片
                if(!img){
                    return ;
                }
                // 判断图片格式
                if(!(img.type.indexOf('image')==0 && img.type && /\.(?:jpg|png|gif|jpeg)$/.test(img.name)) ){
                    dialog.error('图片只能是jpg,jpeg,gif,png');
                    return false;
                }

                var reader = new FileReader();
                reader.readAsDataURL(img);

                reader.onload = function(e){
                    $(".first_img").attr("src",e.target.result);
                    //提交
                    $.post(CONTROLLER+'/uploadImgToTemp', { img: e.target.result},function(ret){
                        if(ret.status == 1){
                            dialog.success('上传成功');
                            $(".first_img").attr("src",UPLOAD + ret.info)
                        }else{
                            dialog.error('上传失败');
                       }
                    },'json');
                }
            });


            $('.button_save_black_4').on('click',function(){
                var urls=[];
                $.each($('iframe').contents().find('.ke-content img'),function(){;
                    urls.push($(this).attr('src'));
                    $('#img_url').data('urls',urls);
                });

                var postdata = {
                name:$('#p_name').val(),
                sort:$('#p_no').val(),
                price:$('#p_price').val(),
                promotion_price:$('#p_disprice').val(),
                norms:$('#p_norms').val(),
                storage :$('#p_stock').val(),
                tag:$('#p_tag').val(),
                info:$('#p_infor').val(),
                parameter:$('#p_parameter').val(),
                goods_category_id_1:$('#parent_id_1 option:selected').val(),
                goods_category_name_1:$('#parent_id_1 option:selected').text(),
                goods_category_id_2:$('#parent_id_2 option:selected').val(),
                goods_category_name_2:$('#parent_id_2 option:selected').text(),
                goods_category_id_3:$('#parent_id_3 option:selected').val(),
                goods_category_name_3:$('#parent_id_3 option:selected').text(),
                first_img:$(".first_img").attr("src"),
                detail_imgs: $('#img_url').data('urls'),
                goods_content:$('#p_details').val(),
                goods_id:$('#goods_id').val()
                };

//                var content='';
//                if(!postdata.goods_category_id_1){
//                    content='请选择分类';
//                }else if(!postdata.name){
//                    content='请输入商品名称';
//                }else if(!postdata.price){
//                    content='请输入商品名价格';
//                }

//                if(content){
//                    layer.open({
//                        content:content,
//                        time: 2
//                    });
//                    return false;
//                }

                var postData = $('#form1').serializeObject();
                postData['detail_imgs'] = urls;
                postData['first_img']  = $(".first_img").attr("src");
                if(parseInt(postData.goods_category_id_3)){
                    postData['goods_category_id']= postData.goods_category_id_3;
                }else if(parseInt(postData.goods_category_id_2) && !parseInt(postData.goods_category_id_3)){
                    postData['goods_category_id']= postData.goods_category_id_2;
                }else{
                    postData['goods_category_id']= postData.goods_category_id_1;
                }
                postData['create_time'] = 1454;
                $.post(CONTROLLER+'/addGoods',postData,function(msg){

                    if(msg.status == 0){
                        dialog.error(msg.info);
                    }
                    if(msg.status == 1){
                        dialog.success(msg.info,'/index.php/Admin/PurchaseGoods/goodsList');
                    }
                },'JSON');

            });
        });


        $(function(){
            /**
             * 默认分类选中
             * @type {*|jQuery}
             */
            var goods_category_id_1 = $('#goods_category_id_1').val();
            var goods_category_id_2 = $('#goods_category_id_2').val();
            var goods_category_id_3 = $('#goods_category_id_3').val();
            console.log(goods_category_id_1); console.log(goods_category_id_2); console.log(goods_category_id_3);

            if(goods_category_id_1>0 &&  goods_category_id_2==0 && goods_category_id_3==0){

                $("#parent_id_1").val(goods_category_id_1);
            }
            if(goods_category_id_1>0 &&  goods_category_id_2>0 && goods_category_id_3==0){

                $("#parent_id_1").val(goods_category_id_1);
                get_category(goods_category_id_1,'parent_id_2',goods_category_id_2);
            }
            if(goods_category_id_1>0 &&  goods_category_id_2>0 && goods_category_id_3>0){

                $("#parent_id_1").val(goods_category_id_1);
                get_category(goods_category_id_1,'parent_id_2',goods_category_id_2);
                get_category(goods_category_id_2,'parent_id_3',goods_category_id_3);
            }
        })

    </script>
</block>