<div class="search-result">
    <notempty name='goodsList'>
        <table class="table tb-type2" style="margin-top:50px;">
            <thead>
            <tr class="thead">
                <th></th>
                <th>排序</th>
                <th>商品名称</th>
                <th>所属分类</th>
                <th>状态</th>
                <th>库存</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="goodsList" id="vo">
                <tr class="hover edit">
                    <td class="w48"><input type="checkbox" name="check_gc_id[]" value="{$vo.id}" class="checkitem"></td>
                    <td class="w48 sort"><span title="可编辑" ajax_branch="goods_class_sort" datatype="number" fieldid="{$vo.id}" fieldname="gc_sort" nc_type="inline_edit" class="editable editable1 ">{$vo.sort}</span></td>
                    <td class="w50pre name"><span title="可编辑" required="1" fieldid="{$vo.id}" ajax_branch="goods_class_name" fieldname="gc_name" nc_type="inline_edit" class="editable2 ">{$vo.name}</span></td>
                    <td>{$vo.goods_category_name}</td>
                    <if condition="$vo['state'] eq 1">
                        <td  class="up_dowm up">已上架</td>
                        <else />
                        <td  class="up_dowm down">已下架</td></if>
                    <td>{$vo.storage}</td>
                    <td class="w96"><a class="on_line" data-v="1" goods_id="{$vo.id}" href="JavaScript:void(0);">上架</a> | <a  goods_id="{$vo.id}" class="off_line" data-v="0" href="JavaScript:void(0);">下架</a></td>
                </tr>
            </volist>
            </tbody>

            <tfoot>
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                <td id="batchAction" colspan="15">
          <span class="all_checkbox">
            <label for="checkall_2">全选</label>
            </span>&nbsp;&nbsp;
                    <a href="JavaScript:void(0);" class="btn" onclick="if(confirm('删除该分类将会同时删除该分类的所有下级分类，您确定要删除吗')){$('#submit_type').val('del');$('form:first').submit();}"><span>删除</span></a>
                    <a href="JavaScript:void(0);" data-v="1" class="on_lines" ><span>上架</span></a>
                    <a href="JavaScript:void(0);" data-v="0" class="off_lines" ><span>下架</span></a></td>
            </tr>
            </tfoot>
        </table>
        <else/>
        <table class='loading'>没有符合条件的记录！</table>
    </notempty>
</div>
<div class="pager" style="text-align: center;margin:30px 0 0 0">{$pageList}</div>



