<div class="search-result">
    <notempty name='goodsList'>
        <table class="table tb-type2">
            <thead>
            <tr class="thead">
                <th></th>
                <th>排序</th>
                <th>商品名称</th>
                <th>所属分类</th>
                <th>原价</th>
                <th>采购价</th>
                <th>库存</th>
                <th>操作</th>
            </tr>
            </thead>

            <volist name="goodsList" id="vo">
                <tr class="hover edit">
                    <td class="w48"><input type="checkbox" name="check_gc_id[]" value="{$vo.id}" class="checkitem">
                    <td class="w48 sort"><span title="可编辑" ajax_branch="goods_class_sort" datatype="number" fieldid="1058" fieldname="gc_sort" class="editable ">{$vo.sort}</span></td>
                    <td class="w50pre name"><span title="可编辑" required="1" fieldid="1058" ajax_branch="goods_class_name" fieldname="gc_name"  class="editable ">{$vo.name}</span>
                    <td>{$vo.goods_category_name}</td>
                    <td>{$vo.price}</td>
                    <td>{$vo.promotion_price}</td>
                    <td>{$vo.storage}</td>
                    <td class="w96"> <a  href="{:U('PurchaseGoods/addGoods',array('goodsId'=> $vo['id']))}">编辑</a> | <a class="del_btn"  goods_id="{$vo.id}" href="javascript:void(0);">删除</a></td>
                </tr>
            </volist>
            <tfoot>
            <tr class="tfoot">
                <td><input type="checkbox" class="checkall" id="checkall_2"></td>
                <td id="batchAction" colspan="15"><span class="all_checkbox">
            <label for="checkall_2">全选</label>
            </span>&nbsp;&nbsp;<a href="JavaScript:void(0);" class="btn" ><span>删除</span></a></td>
            </tr>
            </tfoot>
        </table>
        <else/>
        <table class='loading'>没有符合条件的记录！</table>
    </notempty>
</div>
<div class="pager" style="text-align: center;margin:30px 0 0 0">{$pageList}</div>



