<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link href="__PUBLIC__/admin-css/purchase/skin.css" rel="stylesheet" type="text/css" id="cssfile2" />
    <link href="__PUBLIC__/admin-css/purchase/fenlei.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/admin-css/purchase/font-awesome.min.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('PurchaseGoods/goodsList')}" class="current"><span>管理</span></a></li>
                    <li><a href="{:U('PurchaseGoods/addGoods')}" ><span>新增</span></a></li>
                    <li><a href="{:U('PurchaseGoods/upDownGoods')}" ><span>上下架</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
        <table class="search-form search_product_type">
            <tbody>
            <tr>
                <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                <td class=dotted_bottom_gray width="58%" align=left>
                    <select name="parent_id_1" id="parent_id_1" onchange="get_category(this.value,'parent_id_2','0');" class="selectbox">
                        <option value="">顶级分类</option>
                        <foreach name="catList" item="v" >
                            <option value="{$v.id}">{$v.name}</option>
                        </foreach>
                    </select>
                    <select id="parent_id_2" class="selectbox" name="parent_id_2" onchange="get_category(this.value,'parent_id_3','0');">
                        <option value="0">请选择商品分类</option>
                    </select>
                    <select id="parent_id_3" class="selectbox" name="parent_id_3">
                        <option value="0">请选择商品分类</option>
                    </select>
                    <!--&nbsp;<font color="#FF0000">*</font>-->
                    </td>
                <th>商品名称</th>
                <td class="w160"><input id="keyword" class="text product_management_name" type="text" name="keyword" value=""></td>
                <td class="w70 tc"><label class="submit-border"><input type="submit" id="seclect" class="submit product_search_btn" value="搜索"  onclick="getPage(1)"></label></td>
            </tr>
            </tbody>
        </table>
        <div class="content" id="ajax_lists">
        </div>
        </div>

    </div>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        //商品列表
        var url_ajax = CONTROLLER+'/ajaxGoodsList/ajax/list';
        $(function() {
            $("#ajax_lists").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage(page);
            });
            getPage(1);
        });
        function getPage(page) {
            $("#ajax_lists").html("<div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'></div>");
            var keyword = $("#keyword").val();
            var parent_id_1 =$('#parent_id_1').val();
            var parent_id_2 =$('#parent_id_2').val();
            var parent_id_3 =$('#parent_id_3').val();
            $.get(url_ajax, {keyword: keyword,parent_id_1:parent_id_1,parent_id_2:parent_id_2,parent_id_3:parent_id_3, p: page}, function(data){
                $('#ajax_lists').html(data);
            })
        }

        $(function () {
            var iframe = document.getElementById("childFrame");
            //批量删除数据
            $('body').on('click','.btn',function(){
                //var _this=$(this);
                obj = document.getElementsByName("check_gc_id[]");
                goods_ids = [];
                for(k in obj){
                    if(obj[k].checked)
                        goods_ids.push(obj[k].value);
                }

                if(goods_ids.length==0){
                    layer.tips('你还没有选择任何内容！','.btn',{
                        tips:[2,'#0d7eff'],
                        time:1500
                    })
                   return false;
                }else{
                    parent.layer.confirm('删除你选中的商品吗？', {
                    btn: ['确定','取消'],//按钮
                    yes:function (index) {

                        $.post('delGoods',{goods_ids:goods_ids},function(msg){
                            if(msg.status == 0){
                                dialog.error(msg.message);
                            }
                            if(msg.status == 1){
//                                location.href = 'goodsList';
                                 $("input[name='check_gc_id[]']").each(function(){
                                    if($(this).is(':checked')){
                                        $(this).parents('.edit').remove();
                                    } 
                                })
                            }
                        },'JSON');
                        parent.layer.close(index);
                    }
                })
             }

            })

            //单独删除一条数据
            $('body').on('click','.del_btn',function(){
                var _this=$(this);
                var goods_id = $(this).attr('goods_id');
                parent.layer.open({
                    btn: ['确定','取消'],//按钮
                    content:'删除你选中的商品吗？', 
                    yes:function (index) {
                        $.post('delGoods',{goods_id:goods_id},function(msg){
                            if(msg.status == 0){
                                dialog.error(msg.message);
                            }
                            if(msg.status == 1){
                            //    location.href = 'goodsList';
                                _this.parents('.edit').remove();
                            }
                        },'JSON');
                        parent.layer.close(index);
                    }
                })
            })
        });

    </script>
</block>