<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link href="__PUBLIC__/admin-css/purchase/skin.css" rel="stylesheet" type="text/css"  />
    <link href="__PUBLIC__/admin-css/purchase/fenlei.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/admin-css/purchase/font-awesome.min.css" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('PurchaseGoods/goodsList')}" ><span>管理</span></a></li>
                    <li><a href="{:U('PurchaseGoods/addGoods')}" ><span>新增</span></a></li>
                    <li><a href="{:U('PurchaseGoods/upDownGoods')}" class="current"><span>上下架</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <table class="search-form search_product_type">
                <tbody>
                <tr>
                    <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                    <td class=dotted_bottom_gray width="58%" align=left>
                        <select name="parent_id_1" id="parent_id_1" onchange="get_category(this.value,'parent_id_2','0');" class="selectbox ">
                            <option value="">顶级分类</option>
                            <foreach name="catList" item="v" >
                                <option value="{$v.id}">{$v.name}</option>
                            </foreach>
                        </select>
                        <select id="parent_id_2" class="selectbox abc" name="parent_id_2" onchange="get_category(this.value,'parent_id_3','0');">
                            <option value="0">请选择商品分类</option>
                        </select>
                        <select id="parent_id_3" class="selectbox abc" name="parent_id_3">
                            <option value="0">请选择商品分类</option>
                        </select>
                    </td>
                    <th>商品名称</th>
                    <td class="w160"><input id="keyword" class="text product_management_name" type="text" name="keyword" value=""></td>
                    <td class="w70 tc"><label class="submit-border"><input type="button" id="seclect" class="submit product_search_btn" value="搜索" ></label></td>
                </tr>
                </tbody>
            </table>
            <div class="content" id="ajax_lists">
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            var url_ajax = CONTROLLER+'/ajaxGoodsList/ajax/upDown';
            //商品列表
            $(function() {
                $("#ajax_lists").delegate(".pager a", "click", function() {
                    var page = $(this).attr("data-page");
                    getPage(page);
                });
                getPage(1);
            });
            $('body').on('click','#seclect',function () {
                getPage(1);
            });
            function getPage(page) {
                $("#ajax_lists").html("<div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'></div>");
                var keyword = $("#keyword").val();
                var parent_id_1 =$('#parent_id_1').val();
                var parent_id_2 =$('#parent_id_2').val();
                var parent_id_3 =$('#parent_id_3').val();
                $.get(url_ajax, {keyword: keyword,parent_id_1:parent_id_1,parent_id_2:parent_id_2,parent_id_3:parent_id_3, p: page}, function(data){
                    $('#ajax_lists').html(data);
                })
            }


            $('body').on('click','.on_line,.off_line',function(){
                var _this = $(this);
                var online = _this.attr('data-v');
                var goods_id = _this.attr('goods_id');
                $.post('upDownGoods',{goods_id:goods_id,online:online},function(msg){
                    if(msg.status == 0){
                       dialog.error(msg.message);
                    }
                    if(msg.status == 1){
                        if(msg.data == '已上架'){
                            _this.parents('tr').find('.up_dowm').text(msg.data);
                            _this.parents('tr').find('.up_dowm').removeClass('down');
                            _this.parents('tr').find('.up_dowm').addClass('up');
                        }else {
                            _this.parents('tr').find('.up_dowm').text(msg.data);
                            _this.parents('tr').find('.up_dowm').removeClass('up');
                            _this.parents('tr').find('.up_dowm').addClass('down');
                        }

                    }
                },'json');
            });

            $('body').on('click','.on_lines,.off_lines',function(){
                var _this = $(this);
                var online = _this.attr('data-v');
                //jquery获取复选框值
                obj = document.getElementsByName("check_gc_id[]");
                goods_ids = [];
                for(k in obj){
                    if(obj[k].checked)
                        goods_ids.push(obj[k].value);
                }

                if(goods_ids.length==0){
                    layer.tips('你还没有选择任何内容！','.on_lines,.off_lines',{
                        tips:[2,'#0d7eff'],
                        time:1500
                    });
                    return false;
                }

                $.post('upDownGoods',{goods_ids:goods_ids,online:online},function(msg){
                    if(msg.status == 0){
                        dialog.error(msg.message);
                    }
                    if(msg.status == 1){
                        $('.checkitem').each(function(){
                            if($(this).is(':checked')){
                                if(msg.data == '已上架'){
                                    $(this).parents('tr').find('.up_dowm').text(msg.data);
                                    $(this).parents('tr').find('.up_dowm').removeClass('down');
                                    $(this).parents('tr').find('.up_dowm').addClass('up');
                                }else {
                                    $(this).parents('tr').find('.up_dowm').text(msg.data);
                                    $(this).parents('tr').find('.up_dowm').removeClass('up');
                                    $(this).parents('tr').find('.up_dowm').addClass('down');
                                }
                            }
                        })
                    }
                },'json');
            });

        });
    </script>
</block>