{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">{/block}
{block name="content"}
<!--省市区-->
<section id="areaLayer" class="express-area-box" style="display:none;">
	<header>
		<h3>选择地区</h3>
		<a id="backUp" class="back" href="javascript:void(0)" title="返回" style="display: none;"></a>
		<a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
	</header>
	<article id="areaBox">
		<ul id="areaList" class="area-list"></ul>
	</article>
</section>
<article class="f24">
	<form class="consignee_info_form">
		<ul>
			<li>
				<label class="">门店名称：</label>
				<input type="text" value="{$shopInfo.name|default=''}" />
			</li>
			<li>
				<p>设定门店店头</p>
				<div class="upload-picture-module f24">
					<div class="columns_flex l-r-sides">
						<div class="picture-module">
							<input type="file" class="uploadImg uploadSingleImg" name="">
							{empty name="shopInfo.logo_img"}
							<img class="upload_img" src="public_img/default/no_pic_100.jpg" alt="">
							{else /}
							<img class="upload_img" src="public_uploads/{$shopInfo.logo_img}" alt="">
							{/empty}
							<input type="hidden" class="img" data-src="" value="" name="logo_img">
						</div>
						<div>
							<p class="shop_img_r">门店门头/前台照片推荐像素300X225（点击图片上传）</p>
						</div>
					</div>
				</div>
			</li>
			<li class="input_item">
				<input class="input-filed" type="tel" name="operation_fix_phone" value="{$shopInfo.operation_fix_phone|default=''}"
					   placeholder="(区号)固定电话">
			</li>
			<li>
				<input class="input-filed" type="tel" name="operation_mobile_phone" value="{$shopInfo.operation_mobile_phone|default=''}" placeholder="业务手机号码">
			</li>
			<li class="express-area area-box">
				<a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
					<label class="form-label">所在地区：</label>
					<div class="area_address">省 &gt; 市 &gt; 区/县</div>
				</a>
			</li>
			<li class="input_item">
				<input class="input-filed" type="text" name="operation_address" value="{$shopInfo.operation_address|default=''}" placeholder="街道/小区/道/楼/门牌详细地址">
			</li>
			<li>
				<a href="javascript:void(0);" class="upload-thumbnail right-arrow">对门店地址进行地图人工标位（*可用于定位导航）</a>
				<input type="hidden" class="hidden_img" value="" name="thumb_img">
			</li>
			<li>
				<span>未标示</span>
			</li>
		</ul>
		<a href="javascript:void(0);" class="submit foot-btn">确定</a>
	</form>
</article>
<div id="areaMask" class="mask"></div>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/jquery.area.js"></script>
<script type="text/javascript" src="api_common_js/uploadImgToTemp.js"></script>

<script type="text/javascript">
	$(function(){
		//门店经营地址信息
		var shopId = '{$shopInfo.id}';
		//省市区初始化
		var operation_province = '{$shopInfo.operation_province|default=""}';
		var operation_city = '{$shopInfo.operation_city|default=""}';
		var operation_area = '{$shopInfo.operation_area|default=""}';
		var region = [];
		if(operation_province && operation_city && operation_area){
			region.push(operation_province);
			region.push(operation_city);
			region.push(operation_area);
			$('.area_address').setArea(region);
		}
		$('body').on('click','.submit',function(){
			var postData=$('.consignee_info_form').serializeObject();
			var  content ='';
			postData.region = $('.area-address-name').getArea();
			if(!register.phoneCheck(postData.operation_mobile_phone)){
				content='请填写手机号码';
			}else if(!postData.region){
				content='请选择所在地区';
			}else if(!postData.operation_address){
				content='请填写地区详细地址';
			}
			if(content){
				dialog.error(content);
				return false;
			}
			var _this = $(this);
			_this.addClass("nodisabled");//防止重复提交
			if(shopId){
				postData.shopId = shopId;
			}
			$.ajax({
				url:action,
				type:'post',
				data:postData,
				dataType:'json',
				success:function (data) {
					_this.removeClass("nodisabled");
					if(data.status ==0){
						dialog.error(data.info);
						return false;
					}else{
						location.href = controller + 'manage';
						history.go(-1);
					}
				},
				error:function (xhr) {
					dialog.error('Ajax错误'+xhr.status);
				}
			});
		});
	});
</script>
{/block}