<section class="message-center-info f20" style="display:none;" id="factoryList">
    <ul class="vendorInfoList">
        {volist name='factoryList' id='vo'}
        <li data-id="{$vo.id}" class="{eq name='vo.is_default' value='1'}current{/eq}">
            <span>{$vo.name}</span>
        </li>
        {/volist}
    </ul>
</section>
<script type="text/javascript">
    //设置默认供应商
    function setDefaultFactory() {
        var factoryList = $('#factoryList').html();
        layer.open({
            title:['选择供应商','border-bottom:1px solid #d9d9d9;'],
            className:'factoryListLayer',
            type: 1,
            content: factoryList,
            anim: 'up',
            style: '',
            success:function(){
                var winHeight=$(window).height();
                //$('html,body').addClass('scrollStyle');
                ModalHelper.afterOpen();
                $('.factoryListLayer .vendorInfoList').css('height',winHeight-120+'px');
                $('.layui-m-layer .layui-m-layermain').addClass('arrow-bottom');
                $('.layui-m-layermain .layui-m-layersection').addClass('bottom-layer');
            },
            btn:['确定','取消'],
            yes:function(index){
                var postData = {};
                postData.factoryId = $('.factoryListLayer li.current').data('id');
                if(!postData.factoryId){
                    dialog.error('请选择供应商');
                    return false;
                }
                var url = 'setDefaultFactory';
                $.post(url,postData,function(data){
                    if(data.status==0){
                        dialog.error(data.info);
                    }else if(data.status==1){
                        layer.close(index);
                        location.reload();
                    }
                });
                ModalHelper.beforeClose();
                //$('html,body').addClass('scrollStyle');
            }
        });
    }
    $(function () {
        var factory = '{:json_encode($factory)}';
        //如果是多供应商
        if(factory === 'null'){
            setDefaultFactory();
        }
        //选择效果
        $('body').on('click','.factoryListLayer li',function(){
            $('.factoryListLayer li').removeClass('current');
            $(this).toggleClass('current');
        });
    });
    var ModalHelper = (function(bodyCls) {
  var scrollTop; // 在闭包中定义一个用来保存滚动位置的变量

  return {

    afterOpen: function() { //弹出之后记录保存滚动位置，并且给body添加.modal-open

      scrollTop = document.scrollingElement.scrollTop;

      document.body.classList.add(bodyCls);

      document.body.style.top = -scrollTop + 'px';

    },

    beforeClose: function() { //关闭时将.modal-open移除并还原之前保存滚动位置

      document.body.classList.remove(bodyCls);

      document.scrollingElement.scrollTop = scrollTop;

    }

  };

})('modal-open');
</script>