<section class="message-center-info f20" style="display:none;" id="factoryList">
    <ul class="vendorInfoList can-scroll-wrap">
        {volist name='factoryList' id='vo'}
        <li data-id="{$vo.id}" class="{eq name='vo.is_default' value='1'}current{/eq}">
            <span>{$vo.name}</span>
        </li>
        {/volist}
    </ul>
</section>
<script type="text/javascript">
    //设置默认供应商
    function setDefaultFactory() {
        var factoryList = $('#factoryList').html();
        layer.open({
            title:['选择供应商','border-bottom:1px solid #d9d9d9;'],
            className:'factoryListLayer',
            type: 1,
            fixed:true,
            // top:100,
            shadeClose:false,
            content: factoryList,
            anim: 'up',
            style: '',
            success:function(){   
                var winHeight=$(window).height();
                //$('html,body').addClass('scrollStyle');
                app.init();
                $('.factoryListLayer .vendorInfoList').css('height',winHeight-120+'px');
                $('.layui-m-layer .layui-m-layermain').addClass('arrow-bottom');
                $('.layui-m-layermain .layui-m-layersection').addClass('bottom-layer');
            },
            btn:['确定','取消'],
            yes:function(index){
                var postData = {};
                postData.factoryId = $('.factoryListLayer li.current').data('id');
                if(!postData.factoryId){
                    dialog.error('请选择供应商');
                    return false;
                }
                var url = 'setDefaultFactory';
                $.post(url,postData,function(data){
                    if(data.status==0){
                        dialog.error(data.info);
                    }else if(data.status==1){
                        layer.close(index);
                        location.reload();
                    }
                });
                //$('html,body').removeClass('scrollStyle');
            },
            cancle:function(){
                //$('html,body').removeClass('scrollStyle');
            }
        });
    }
    $(function () {
        var factory = '{:json_encode($factory)}';
        //如果是多供应商
        if(factory === 'null'){
            setDefaultFactory();
        }
        //选择效果
        $('body').on('click','.factoryListLayer li',function(){
            $('.factoryListLayer li').removeClass('current');
            $(this).toggleClass('current');
        });
    });
     var app = {
        index: 0,
        // tabOffsetTop: $('.tab')[0].offsetTop,
        forbidScroll:null,
        bindEvent: function () {
            console.log(this);
            var $this = this;
            // $('.show-toast').click(function () {
            //     $('#toast').removeClass('hide');
                $this.forbidScroll = new ForbidScroll();
                $this.forbidScroll.initForbid();
            // });
            // $('.close').click(function () {
                // $('#toast').addClass('hide');
                //$this.forbidScroll.relieveForbid();
            // })

        },

        init: function () {
            console.log(123);
            this.bindEvent();
            // var tabOffsetTop = this.tabOffsetTop;
            // window.onscroll = function () {
            //     var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
            //     if (scrollTop >= tabOffsetTop) {
            //         $('.tab').css('position', 'fixed');
            //     } else {
            //         $('.tab').css('position', 'relative');
            //     }
            // }

        }
    };
   
</script>