<section class="top_nav_fixed">
    <div class="top_bar columns_flex l-r-sides store_operation_head">
        {include file="public/home_page" /}
        <div class="">
            <img class="factory-log-img left" src="" alt="">
            <span class="factory-name"></span>
        </div>
        <div class="">
            <a href="javascript:void(0);" class="switch-account">切换我的店铺></a>
        </div>
    </div>
</section>
<section class="columns_flex l-r-sides store_mall_status">
    <div>
        <input class="storeId" type="hidden" value=""/>
        <img class="left store-logo-img" src="" alt="">
        <div>
            <p><span class="store-name"></span><span class="store-type"></span></p>
            <p><span class="run-type"></span> <span></span></p>
        </div>
    </div>
    <div class="my-store-right">
        <a href="javascript:void(0);" class="personal_center left">我的</a>
        <a href="javascript:void(0);" class="my-store">我的店铺</a>
    </div>
</section>
{include file="public/factory_list_tpl" /}
{include file="store/list_layer" /}
<script type="text/javascript">
    var vendorInfoList=$('#vendorInfoList').html();
    $(function(){
        //切换店铺
        $('body').on('click','.switch-account',function(){
            storeList();
        });
        //获取厂商信息
        $.get(controller+'getFactoryInfo',{},function (msg) {
            if(msg != ''){
                $('.factory-log-img').attr('src',uploads+msg.logo_img);
                $('.factory-name').text(msg.name);
            }
        });
        //获取店铺信息
        $.get(controller+'getStoreInfo',{},function (msg) {
            if(msg != ''){
                $('.storeId').val(msg.id);
                if(msg.logo_img){
                    $('.store-logo-img').attr('src',uploads+msg.logo_img);
                }
                $('.store-name').text(msg.name);
                if(msg.store_type == 1){
                    $('.store-type').text('官方旗舰店');
                }else if(msg.store_type == 2){
                    $('.store-type').text('品牌旗舰店');
                }
                if(msg.run_type == 1){
                    $('.run-type').text('B2B采购商城');
                }else if(msg.run_type == 2){
                    $('.run-type').text('B2B分成商城');
                }else if(msg.run_type == 3){
                    $('.run-type').text('B2C零售商城');
                }
            }
        })
    })
</script>