<section class="top_nav_fixed top_nav_store">
    <div class="top_bar top-switch-bar columns_flex l-r-sides">
        <!--{include file="public/home_page" /}-->
        <div class="">
            <img class="left store-logo-img small_default_img" src="" alt="">
            <span>{$factory.name}</span>
        </div>
        <div class="">
            <div class="top_bar columns_flex">
                <a href="javascript:void(0);" class="shopping_cart"></a>
                <a href="javascript:void(0);" class="personal_center"></a>
                <a href="{:url('Index/index')}" class="home"></a>
            </div>
            <a href="javascript:void(0);" class="switch-account">切换供应商账号></a>
        </div>
    </div>
</section>
{include file="public/factory_list_tpl" /}
<script type="text/javascript">
    $(function(){
        $('body').on('click','.switch-account',function(){
            setDefaultFactory();
        });
    });
</script>