<section class="top_nav_fixed">
    <div class="top_bar top-switch-bar columns_flex l-r-sides">
        <div class="">
            <a class="" href="{:url('factory/Index/index')}">首页</a>
        </div>
        <div class="">
            <img class="left" src="public_img/default/no_pic_40.jpg" alt="">
            <span>爱国宾</span>
        </div>
        <div class="">
            <a class="switch-account">切换供应商账号></a>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function(){

    });
</script>