<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <!--添加员工账户弹窗-->
    <div id="employeeInfo">
        <form name="" id="form1">
            <ul>
                <li>
                    <div class="epl_item">
                        <label class="epl_n_t">姓名</label>
                        <input name="name" type="text" placeholder="姓名" class="epl_name" value="">
                        <input name="employee_id" type="hidden"  class="employee_id" value="">
                    </div>
                    <div class="epl_item">
                        <label class="epl_n_t">手机号码</label>
                        <input name="mobile" type="tel" placeholder="手机号码" class="epl_phone" value="">
                    </div>
                    <div class="epl_item">
                        <label class="epl_n_t">初设密码</label>
                        <input name="password" type="password" placeholder="初设密码" class="epl_password" value="">
                    </div>
                </li>
                <if condition="$scaleType eq  4">
                <li>
                    <a href="javascript:void(0);" class="set_branch">设置员工所属分公司</a>
                    <div class="epl_item"><label class="epl_pst">已归属分公司：</label><span class="epy_i_branch">未设置</span></div>
                    <input name="company_id" type="hidden"  class="company_id" value="">
                    <input name="company_name" type="hidden"  class="company_name" value="">
                </li>
                </if>
                <if condition="$scaleType egt  3">
                <li>
                    <a href="javascript:void(0);" class="set_store">设置员工所属门店</a>
                    <div class="epl_item"><label class="epl_pst">已归属门店：</label><span class="epy_i_store">未设置</span></div>
                    <input name="shop_id" type="hidden"  class="shop_id" value="">
                    <input name="shop_name" type="hidden"  class="shop_name" value="">
                </li>
                </if>
                <li>
                    <a href="javascript:void(0);" class="set_position">设置员工岗位职务</a>
                    <div class="epl_item"><label class="epl_pst">已设置岗位：</label><span class="dis_post">未设置</span></div>
                    <input name="position" type="hidden"  class="position" value="">
                </li>
            </ul>
        </form>
    </div>
    <!--员工动态列表模板-->
    <div id="employeeInfoList" style="display:none;">
        <li>
            <div class='epy_item'>
                <span class='epy_f_n'>姓名</span>
                <span class='layer_epy_name'></span>
            </div>
            <div class='epy_item'>
                <span class='epy_f_n'>手机号码</span>
                <span class='layer_epy_phone'></span>
            </div>
            <div class='epy_item' style="display:none;">
                <span class='epy_f_n'>初设密码</span>
                <span class='layer_epy_psw'></span>
            </div>
            <if condition="$scaleType eq  4">
                <div class='epy_item'>
                    <span class='epy_f_n epy_branch'>所属分公司</span>
                    <span class='layer_epy_branch'></span>
                    <input type="hidden" class="layer_epy_branch_id" />
                </div>
            </if>
            <if condition="$scaleType egt  3">
                <div class='epy_item'>
                    <span class='epy_f_n'>所属门店</span>
                    <span class='layer_epy_store'></span>
                    <input type="hidden" class="layer_epy_store_id" />
                </div>
            </if>
            <div class='epy_item'>
                <span class='epy_f_n'>岗位职务</span>
                <span class='layer_epy_pst'></span>
            </div>
            <a href='javascript:void(0);' class='del_btn'>删除</a>
            <a href='javascript:void(0);' class='mod_btn'>修改</a>
        </li>
    </div>

    <!--编辑门店所属分公司弹窗-->
    <div id="branchOffice">
        <ul class="f24">
            <empty name="companyList">
                <li>
                    <span class='branch_n_f'>无分公司</span>
                </li>
                <else />
                <volist name="companyList" id="vo">
                    <li>
                        <span class="branch_n_f">分公司名称</span>
                        <a href="javascript:void(0);" class="branch_n_inpt">{$vo.name}</a>
                        <input type="hidden" class="companyId" value="{$vo.id}" />
                    </li>
                </volist>
            </empty>
        </ul>
    </div>
    <!--设置员工所属门店弹窗-->
    <div class="cs_ad_part" id="epyStore">
        <ul class="f24">
            <empty name="shopList">
                <li>（暂无数据）</li>
                <else/>
                <volist name="shopList" id="vo">
                    <li companyId="{$vo.company_id}">
                        <a href="javascript:void(0);">
                            <div class="cs_item_wrapper">
                                <div class="item-img-wrapper">
                                    <empty name="vo.logo_url">
                                        <img src="__IMG__/default/cs_ad_default.png" alt="" class="cs_item_img">
                                        <else/>
                                        <img src="__ROOT__/{$vo.logo_url}" alt=""/>
                                    </empty>
                                </div>
                                <div class="cs_item_description">
                                    <p>门店名称:<span class="epy_store_n">{$vo.storename}</span></p>
                                    <input class="shopId" type="hidden" name="shopId" value="{$vo.id}"/>
                                    <p>地址:<span>{$vo.address}</span></p>
                                    <p>{$vo.fixed_phone}</p>
                                    <p><i></i><span>距离你3.0km</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </volist>
            </empty>
        </ul>
    </div>
    <!--员工职位弹窗-->
    <div id="epyPosition">
        <ul>
            <volist name="scale" id="vo">
                <li>
                    <span class="post_top">{$vo.explain}</span>
                    <volist name="vo.position" id="v">
                        <a href="javascript:void(0);" position_id="{$v.id}" class="pst_option">{$v.name}</a>
                    </volist>
                </li>
            </volist>
        </ul>
    </div>
    <section class="msy_sign_title f20">
        <h2>管理美容机构的员工登陆账户</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav employee_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加账号
            </a>
            <a href="javascript:void(0);" class="del_a">
                <span class="del_ad"></span>
                删除账号
            </a>
            <a href="javascript:void(0);" class="up_a">
                <span class="up_ad"></span>
                修改账号
            </a>
        </nav>
    </section>
    <!--员工账户动态列表-->
    <ul class="f24 employee_ad_list" >
        <empty name="empoyeeList">
            <li>(暂无数据)</li>
            <else/>
            <volist name="empoyeeList" id="vo">
                <li>
                    <div class='epy_item'>
                        <span class='epy_f_n'>姓名</span>
                        <span class='layer_epy_name' employeeId="{$vo.id}">{$vo.name}</span>
                        <input name="employeeId" type="hidden"  class="employeeId" value="{$vo.id}">
                    </div>
                    <div class='epy_item'>
                        <span class='epy_f_n'>手机号码</span>
                        <span class='layer_epy_phone'>{$vo.mobile}</span>
                    </div>
                    <div class='epy_item' style="display:none;">
                        <span class='epy_f_n'>初设密码</span>
                        <span class='layer_epy_psw'></span>
                    </div>
                    <if condition="$scaleType eq  4">
                        <div class='epy_item'>
                            <span class='epy_f_n epy_branch'>所属分公司</span>
                            <span class='layer_epy_branch'>{$vo.company_name}</span>
                            <input type="hidden" class="layer_epy_branch_id" value="{$vo.company_id}"/>
                        </div>
                    </if>
                    <if condition="$scaleType egt  3">
                        <div class='epy_item'>
                            <span class='epy_f_n'>所属门店</span>
                            <span class='layer_epy_store'>{$vo.shop_name}</span>
                            <input type="hidden" class="layer_epy_store_id" value="{$vo.shop_id}"/>
                        </div>
                    </if>
                    <div class='epy_item'>
                        <span class='epy_f_n'>岗位职务</span>
                        <span class='layer_epy_pst'>{$vo.position}</span>
                        <input type="hidden" class="layer_epy_pst_id" value="{$vo.position_id}"/>
                    </div>
                    <a href='javascript:void(0);' class='del_btn'>删除</a>
                    <a href='javascript:void(0);' class='mod_btn'>修改</a>
                </li>
            </volist>
        </empty>
    </ul>
    <p class="f24 edit_ad_tipc">注：编辑完所有账户后再按完成</p>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);">完成</a>
    </div>
</block>

</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        var scaleType = '{$scaleType}';
        $(function(){
            var epyInfo=$('#employeeInfo').html();
            var epyPst=$('#epyPosition').html();
            var branchOff=$('#branchOffice').html();
            var epyIStore=$('#epyStore').html();

            //增加员工账户
            $('body').on('click','.add_a',function(){
                $('.branch_n_inpt').removeClass('current');
                layer.open({
                    type:1,
                    btn:['确定','取消'],
                    title:['增加员工账户','border-bottom:1px solid #d9d9d9;'],
                    className:'employee_ad_layer',
                    content:epyInfo,
                    yes: function(index){
                        var layerForm=$('div[index='+index+']').find('#form1');
                        var addEpyInfo={
                            name:layerForm.find('.epl_name').val(),
                            mobile:layerForm.find('.epl_phone').val(),
                            password:layerForm.find('.epl_password').val(),
                            company_name:layerForm.find('.epy_i_branch').text(),
                            shop_name:layerForm.find('.epy_i_store').text(),
                            position:layerForm.find('.dis_post').text(),
                            shop_id:layerForm.find('.shop_id').val(),
                            company_id:layerForm.find('.company_id').val(),
                        };


//                        var content = '';
//                        if(!addEpyInfo.name){
//                            content = '请填写员工姓名！';
//                        }else if(!isMobilePhone(addEpyInfo.mobile)){
//                            content = '请填写正确的手机号码';
//                        }else if(!checkValidPasswd(addEpyInfo.epyPassword)){
//                            content = '请输入6-16数字或字母密码';
//                        }else if(addEpyInfo.company_name=='未设置'){
//                            content = '请设置员工所属分公司';
//                        }else if(addEpyInfo.shop_name=='未设置'){
//                            content = '请设置员工所属门店';
//                        }else if(addEpyInfo.position=='未设置'){
//                            content = '请设置员工岗位职务';
//                        }

//                        if(content){
//                            layer.open({
//                                content: content,
//                                skin:'msg',
//                                time: 2
//                            });
//                            return false;
//                        }

                       $.post('manageAccount',layerForm.serialize(),function(msg){
//                        $.post('manageAccount',{addEpyInfo:addEpyInfo},function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                var epyInfoList=$('#employeeInfoList');
                                epyInfoList.find('.layer_epy_name').text(addEpyInfo.name);
                                epyInfoList.find('.layer_epy_phone').text(addEpyInfo.mobile);
                                epyInfoList.find('.layer_epy_psw').text(addEpyInfo.password);
                                epyInfoList.find('.layer_epy_branch').text(addEpyInfo.company_name);
                                epyInfoList.find('.layer_epy_store').text(addEpyInfo.shop_name);
                                epyInfoList.find('.layer_epy_pst').text(addEpyInfo.position);
                                $('.employee_ad_list').prepend(epyInfoList.html());
                                $('.del_btn,.mod_btn').css('display','none');
                            }
                        },'JSON');

                        layer.close(index);
                    }
                });
            });

            //设置门店所属分公司
            $('body').on('click','.set_branch',function(){
                layer.open({
                    btn:['确定','取消'],
                    title:['设置门店所属分公司','border-bottom:1px solid #d9d9d9;'],
                    className:'branch_store_layer',
                    content:branchOff,
                    success:function(){
                        var tBranchText=$('#form1').find('.epy_i_branch').text();
                        $.each($('.branch_store_layer .branch_n_inpt'), function(i,val){
                            if(tBranchText==$(this).text()){
                                $(this).addClass('current');
                                $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
                                return false;
                            }
                        });
                    },
                    yes:function(index){
                       $(".epy_i_branch").text($('.branch_n_inpt.current').text());
                       $(".company_name").val($('.branch_n_inpt.current').text());///////
                       $('.company_id').val($('.current').next('.companyId').val());///////
                        layer.close(index);
                    }
                });
            });

            //选中门店所属分公司（单选）
            $('body').on('click','.branch_n_inpt',function(){
                $(this).addClass('current');
                $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
            });

            //设置员工所属门店
            $('body').on('click','.set_store',function(){
                layer.open({
                    btn:['确定','取消'],
                    title:['设置员工所属门店','border-bottom:1px solid #d9d9d9;'],
                    className:'epy_store_layer',
                    content:epyIStore,
                    success:function(){
                        var epyStoreText=$('#form1').find('.epy_i_store').text();
                        $.each($('.epy_store_layer li'), function(i,val){
                            if(epyStoreText==$(this).find('.epy_store_n').text()){
                                $(this).addClass('current');
                                $(this).siblings().removeClass('current');
                                return false;
                            }
                        });
                    },
                    yes:function(index){
                        $(".epy_i_store").text($('.current').find('.epy_store_n').text());
                        $(".shop_name").val($('.current').find('.epy_store_n').text());
                        $('.shop_id').val($('.current').find('.shopId').val());/////
                        layer.close(index);
                    }
                });
            });

            //选中员工所属门店（单选）
            $('body').on('click','.epy_store_layer li',function(){
                $(this).addClass('current');
                $(this).siblings().removeClass('current');
            });

            //设置员工岗位职务
            $('body').on('click','.set_position',function(){
                layer.open({
                    btn:['确定','取消'],
                    title:['设置员工岗位职务','border-bottom:1px solid #d9d9d9;'],
                    className:'employee_pst_layer',
                    content:epyPst,
                    success:function(){
                        var epyPostText=$('#form1').find('.dis_post').text();
                        $.each($('.employee_pst_layer .pst_option'),function(i,val){
                            if(epyPostText==$(this).text()){
                                $(this).addClass('current').siblings().removeClass('current');
                                $(this).parent().siblings('li').find('.pst_option').removeClass('current');
                                return false;
                            }
                        });
                    },
                    yes:function(index){
                        $(".dis_post").text($('.current').text());
                        $(".position").val($('.current').text());

                        layer.close(index);
                    }
                });
            });

            //选中员工岗位职务（单选）
            $('body').on('click','.pst_option',function(){
                $(this).addClass('current').siblings().removeClass('current');
                $(this).parent().siblings('li').find('.pst_option').removeClass('current');
            });

            //删除员工账户
            $('.del_a').on('click',function(){
                $('.del_btn').css('display','block');
                $('.mod_btn').css('display','none');
            });
            $('body').on('click','.del_btn',function(){
                var _this=$(this);
                layer.open({
                    content:'确定删除选定的员工账户？',
                    btn:['确定','取消'],
                    yes:function(index){
                        _this.parent().remove();
                        var employee_id = _this.parent().find('.employeeId').val();//找到员工的id
                        $.post('delEmployee',{employee_id:employee_id},function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
//
                            }

                        },'JSON');
                        layer.close(index);
                    }
                });
            });

            //修改员工账户
            $('.up_a').on('click',function(){
                $('.mod_btn').css('display','block');
                $('.del_btn').css('display','none');
            });
            $('body').on('click','.mod_btn',function(){
                var _this=$(this);

                layer.open({
                    type:1,
                    title:'修改员工账户',
                    className:'employee_ad_layer',
                    btn:['确定','取消'],
                    content:epyInfo,
                    yes:function(index){
                        var layerForm=$('div[index='+index+']').find('#form1');


                        _this.parent().find('.layer_epy_name').text(layerForm.find('.epl_name').val());
                        _this.parent().find('.layer_epy_phone').text(layerForm.find('.epl_phone').val());
                        _this.parent().find('.layer_epy_psw').text(layerForm.find('.epl_password').val());
                        _this.parent().find('.layer_epy_branch').text(layerForm.find('.epy_i_branch').text());
                        _this.parent().find('.layer_epy_store').text(layerForm.find('.epy_i_store').text());
                        _this.parent().find('.layer_epy_pst').text(layerForm.find('.dis_post').text());

                        $.post('manageAccount',layerForm.serialize(),function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
//
                            }

                        },'JSON');

                        layer.close(index);
                    }
                });
                //列表值赋值给弹层对应的值
                $('.epl_name').val(_this.parent().find('.layer_epy_name').text());
                $('.epl_phone').val(_this.parent().find('.layer_epy_phone').text());
                $('.epl_password').val(_this.parent().find('.layer_epy_psw').text());
                $('.epy_i_branch').text(_this.parent().find('.layer_epy_branch').text());
                $('.epy_i_store').text(_this.parent().find('.layer_epy_store').text());
                $('.dis_post').text(_this.parent().find('.layer_epy_pst').text());
                $('.employee_id').val(_this.parent().find('.employeeId').val());


            })
        });
    </script>



</block>