
<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/studio.css">
</block>
<block name="content">
    <!--工作室模板-->
    <section class="studio_module f24" id="studioInfoList" style="display: none;" >
        <p class="binding_studio">已绑定的美妍美社皮肤管理工作室</p>
        <ul class="studio_info_list">
            <li data-id="1">
                <img src="PUBLIC_IMG/common/default/purchase100_default.jpg" alt="">
                <div class="studio_info_r">
                    <p class="studio_name">美妍美社皮肤管理工作室1111</p>
                    <p class="studio_address">广州市海珠区</p>
                    <p>13430393456</p>
                    <div class="studio_distance_info">
                        <div>
                            <i></i>
                            <span>距离你0.5km</span>
                        </div>
                    </div>
                </div>
            </li>
            <li data-id="2">
                <img src="PUBLIC_IMG/common/default/purchase100_default.jpg" alt="">
                <div class="studio_info_r">
                    <p class="studio_name">美妍美社皮肤管理工作室2222</p>
                    <p class="studio_address">广州市海珠区</p>
                    <p>13430393456</p>
                    <div class="studio_distance_info">
                        <div>
                            <i></i>
                            <span>距离你0.5km</span>
                        </div>
                    </div>
                </div>
            </li>
            <li data-id="3">
                <img src="PUBLIC_IMG/common/default/purchase100_default.jpg" alt="">
                <div class="studio_info_r">
                    <p class="studio_name">美妍美社皮肤管理工作室3333</p>
                    <p class="studio_address">广州市海珠区</p>
                    <p>13430393456</p>
                    <div class="studio_distance_info">
                        <div>
                            <i></i>
                            <span>距离你0.5km</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="studio_data_time" id="studioDateTime" style="display: none;" >
        <div>
            <span >1、选日期</span><span class="date-item"></span>
            <ul class="studio_date">
                <volist name="dataArray" id="vo" key="k">
                    <li data-date="{$k+1}">{$vo}</li>
                </volist>
            </ul>
            <span >2、选时段</span><span class="time-item"></span>
            <ul class="studio_time">
                <li data-time="1">09:30</li>
                <li data-time="2">10:30</li>
                <li data-time="3">11:30</li>
                <li data-time="4">12:30</li>
                <li data-time="5">13:30</li>
                <li data-time="6">14:30</li>
                <li data-time="7">15:30</li>
                <li data-time="8">16:30</li>
                <li data-time="9">17:30</li>
                <li data-time="10">18:30</li>
                <li data-time="11">19:30</li>
                <li data-time="12">20:30</li>
            </ul>
        </div>
    </section>
    <article class="studio_wrapper f24">
        <section class="studio_project_img">
            <img src="PUBLIC_IMG/common/default/purchase1000_default.jpg" alt="">
        </section>
        <section class="studio_project_name studio_project_item">
            <div class="s_p_n"><span>项目名称：</span>美容预约预约预约项目</div>
            <div class="s_price">
                <span>￥500</span>
                <del>￥1000</del>
            </div>
            <div class="s_p_intro">
                <span>项目简单说明：</span>预约方便预约方便预约方便预约方便预约方便预约方便预约方便预约方便预约方便预约方便预约方便预约方便
            </div>
            <div class="project_minutes">
                <div>
                    <i></i>耗时60分钟
                </div>
                <div class="five_star">
                    <div class="star_img">
                        <img src="PUBLIC_IMG/home/starred.png" id="0">
                        <img src="PUBLIC_IMG/home/starred.png" id="1">
                        <img src="PUBLIC_IMG/home/starred.png" id="2">
                        <img src="PUBLIC_IMG/home/starred.png" id="3">
                        <img src="PUBLIC_IMG/home/starred.png" id="4">
                    </div>
                    <span class="fraction" data-score="5">5分</span>
                </div>
            </div>
        </section>
        <section class="studio_project_item">
            <div class="s_p_address">
                <p class="project_studio_name" data-id="">美妍美社皮肤管理工作室3333</p>
                <a href="javascript:void(0);" class="change_studio">更改工作室</a>
            </div>
            <div class="project_studio_address">广州市海珠区</div>
            <div class="s_p_address">
                <a href="javascript:void(0);" class="select_date" data-date="" data-time="">选择美容服务日期和时间段</a>
            </div>
            <div class="studiod_time">*未选择</div>
        </section>
        <section class="studio_project_item">
            <span>服务内容</span>
            <div>服务内容服务内容服务内容服务内容服务内容服务内容服务内容服务内容服务内容服务内容</div>
        </section>
        <section class="studio_project_item">
            <span>项目说明</span>
            <div>项目说明项目说明项目说明项目说明项目说明项目说明项目说明项目说明</div>
        </section>
        <section class="studio_project_item">
            <span>项目详情</span>
            <div></div>
        </section>
    </article>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script>
        $(function(){
            //星星评分等级
            $('.five_star').setStar({
                getFractionValue:3,
                star:'PUBLIC_IMG/home/star.png',
                starRed:'PUBLIC_IMG/home/starred.png'
            });

            //更改工作室
            var studioInfoList=$('#studioInfoList').html();
            $('body').on('click','.change_studio',function(){
                var studioListName,studioLayerId,studioId;
                layer.open({
                    title:['选择美妍美社皮肤管理工作室','border-bottom:1px solid #d9d9d9'],
                    btn:['确定','取消'],
                    className:'studioInfoLayer',
                    content:studioInfoList,
                    success:function(){
                        $('.studio_info_list li').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');
                            studioListName=$(this).find('.studio_name').text();
                            studioAddress=$(this).find('.studio_address').text();
                        });
                        $.each($('.studio_info_list li'),function(i,val){
                            studioLayerId=$(this).data('id');
                            studioId=$('.project_studio_name').data('id');
                            if(studioId==studioLayerId){
                                $(this).addClass('current').siblings().removeClass('current');
                            }
                        })
                    },
                    yes:function(index){
                        studioId=$('.studioInfoLayer li.current').data('id');
                        $('.project_studio_name').data('id',studioId);
                        $('.project_studio_name').text(studioListName);
                        $('.project_studio_address').text(studioAddress);
                        layer.close(index);
                    }
                })
            });

            //选择日期时间
            var studioDateTime=$('#studioDateTime').html();
            $('body').on('click','.select_date',function(){
                var studioDate,
                        studioTime,
                        studioLayerDateId,
                        studioDateId,
                        studioLayerTimeId,
                        studioTimeId
                layer.open({
                    title:['选择美容服务日期和时间段','border-bottom:1px solid #d9d9d9'],
                    btn:['确定','取消'],
                    className:'studioDateLayer',
                    content:studioDateTime,
                    success:function(){
                        $('.studio_date li').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');

                        });
                        $('.studio_time li').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');

                        });
                        $.each($('.studio_date li'),function(i,val){
                            studioLayerDateId=$(this).data('date');
                            studioDateId=$('.select_date').data('date');
                            if(studioDateId==studioLayerDateId){
                                $(this).addClass('current').siblings().removeClass('current');
                            }
                        });
                        $.each($('.studio_time li'),function(i,val){
                            studioLayerTimeId=$(this).data('time');
                            studioTimeId=$('.select_date').data('time');
                            if(studioTimeId==studioLayerTimeId){
                                $(this).addClass('current').siblings().removeClass('current');
                            }
                        })
                    },
                    yes:function(index){
                        var data_flag = 0;
                        var time_flag = 0;
                        $.each($('.studioDateLayer .studio_date li'),function(i,val){
                           if($(this).hasClass('current')){
                               var studioDId=$('.studioDateLayer .studio_date').find('li.current').data('date');
                               studioDate=$('.studioDateLayer .studio_date').find('li.current').text();
                               $('.select_date').data('date',studioDId);
                               data_flag = 0;
                               return false;
                           }else {
                               data_flag = 1;
                           }
                        });
                        if(data_flag){
                            $('.date-item').text('请选择日期');
                        }else{
                            $('.date-item').text('');
                        }
                        $.each($('.studioDateLayer .studio_time li'),function(i,val){
                            if($(this).hasClass('current')){
                                var studioTId=$('.studioDateLayer .studio_time').find('li.current').data('time');
                                studioTime=$('.studioDateLayer .studio_time').find('li.current').text();
                                $('.select_date').data('time',studioTId);
                                time_flag = 0;
                                return false;
                            }else{
                                time_flag = 1;
                            }
                        });
                        if(time_flag){
                            $('.time-item').text('请选择时间');
                        }else{
                            $('.time-item').text('');
                        }
                        $('.studiod_time').text(studioDate+''+studioTime);
                        if(data_flag == 0 && time_flag == 0){
                            layer.close(index);
                        }
                    }
                })
            });
        })
    </script>
</block>