html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,a,blockquote,th,td,form,label,table{margin:0;padding:0;}
ol,ul,li,dd,dt,dl{ list-style:none;}
img{border:0;}
a{text-decoration: none;color:#595757;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer;  }
button,input,textarea{border: none;outline: none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font-family: '微软雅黑',Verdana,Arial,Helvetica,sans-serif; color: #333;background: #fff;}
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}


/*三级下拉折叠公共样式*/
.level1-menu li[data-level="1"]{
	border-bottom:2px solid #999;
}
.level1-menu div{
	margin:10px 0 10px 0;
}
.level2-menu li[data-level="2"],
.level3-menu li[data-level="3"]{
	border-top:1px solid #d9d9d9;
}
.level2-menu,.level3-menu{
	display: none;
}
.folding{
	cursor: pointer;
}
.checkitem,.checkall{
    width:20px;
    height:20px;
    vertical-align: -3px;
}
span[status=open]{width:12px;height:12px;display:inline-block;background:url(../../common/img/default/tv-expandable.gif);}
span[status=close]{width:12px;height:12px;display:inline-block;background:url(../../common/img/default/tv-collapsable.gif);}
span[status=none]{width:12px;height:12px;display:inline-block;background:url(../../common/img/default/tv-item.gif);}
tr[data-level="2"],
tr[data-level="3"]{
	display: none;
}

li[data-level="2"] .checkitem{padding-left:0;margin:0 0 0 40px;}
li[data-level="3"] .checkitem{padding-left:0;margin:0 0 0 70px;}
tr[data-level="2"] td:nth-child(3) .editable{
    margin-left:0;
    padding:0 0 0 40px;
    background:url(../../admin-img/purchase/arrow.png) no-repeat 8px center;
}
tr[data-level="3"] td:nth-child(3) .editable{
    margin-left:0;
    padding:0 0 0 70px;
    background:url(../../admin-img/purchase/arrow.png) no-repeat 40px center;
}
.fl{float:left;}
.fr{float:right;}
