<!-- Address start -->
<section class="section-address bg-eae pt-5">
    <div class="">
        <h2 class="address_list_title">收货人信息</h2>
    </div>
    <form id="form1" class="bg-fff">
        <div class="form-group box-flex clearfixed">
            <label class="form-label">收货人：</label>
            <input type="text" name="consignee_name" value="{$consigneeAddressInfo.consignee_name}" class="input-flex recipient_name" placeholder="请输入姓名">
        </div>
        <div class="form-group box-flex clearfixed">
            <label class="form-label">联系电话：</label>
            <input type="text" name="consignee_mobile" value="{$consigneeAddressInfo.consignee_mobile}" class="input-flex recipient_mobile" placeholder="请输入收件人电话">
        </div>
        <div class="express-area ">
            <a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
                <label class="form-label">所在地区：</label>
                <div class="area_address">省 &gt; 市 &gt; 区/县</div>
                <input type="hidden" value="" class="detail_address" data-key="">
            </a>
        </div>
        <div class="form-group box-flex">
            <label class="form-label">详细地址：</label>
            <input type="text" name="detailed_address" value="{$consigneeAddressInfo.detailed_address}" class="input-flex location_number" placeholder="详细地址需填写楼栋楼层或房间号信息">
        </div>
    </form>
</section>