
    <footer class="f24 group_cart_nav goodsInfo_footer_nav">
        <if condition="($goodsInfo.buy_type eq 3)">
            <empty name="shareType">
                <div class=" group_btn50 bfff">
                    <span class="goods_total_price totalPrice">￥50.00</span>
                </div>
                <notempty name="groupBuySn">
                    <a href="javascript:void(0);" class="bff6482 group_btn50 buyNow">确定参加微团购并支付</a>
                    <else />
                    <a href="javascript:void(0);" class="bff6482 group_btn50 buyNow">支付并发微团购</a>
                </notempty>
                <else />
                <a href="javascript:void(0);" class="bff6482 group_btn100 forward_weChat">将本页转发微信好友</a>
            </empty>
            <else />
            <div class="group_btn30 bfff">
                <span class="goods_total_price">￥50.00</span>
            </div>
            <a href="javascript:void(0);" class="bff6482 group_btn30 info_shopping_cart ">加入购物车</a>
            <a href="javascript:void(0);" class="group_btn30 bff1d25 buyNow"><i class="collect"></i>立即购买</a>
        </if>
        
    </footer>
    <div class="mcover">
        <img src="PUBLIC_IMG/common/weixin_share.png" alt="">
    </div>
    <footer class="f24 group_cart_nav signShopping_nav">
        <a href="javascript:void(0);" class="bff6482 group_btn100 add_cart">加入购物车</a>
    </footer>
<script>
    //立即购买
    $('body').on('click','.buyNow',function () {
        var goodsId = $('.goods_id').val();
        var num = $('.gshopping_count').val();
        var groupBuySn = $('.groupBuySn').val();
        var url =  MODULE + '/Order/addOrder/goodsId/'+goodsId+'/num/'+num ;
        if(groupBuySn){
            url += '/groupBuySn/' + groupBuySn ;
        }
        location.href = url;
    });
    //微信分享提示图
    $('body').on('click','.forward_weChat',function(){
        $('.mcover').show();
    });
    $('.weixinShare_btn').on('click',function(){
        $('.mcover').hide();
    })
</script>


