<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>美妍美社</title>
    <link rel="stylesheet" href="Public/css/common/public.css">
	<link rel="stylesheet" href="Public/css/common/weui.css">
    <link rel="stylesheet" type="text/css" href="Public/css/home/studio.css">
    <link rel="stylesheet" href="Public/js/common/layer.mobile/need/layer.css">
</head>
<body>
<article class="studio_wrapper f24">
    <div class="studio_banner_img">
        <img src="Public/img/common/default/purchase1000_default.jpg" alt="">
    </div>
    <section class="studio_module">
        <div class="studio_info_item">
            <p>美妍美社皮肤管理工作室</p>
            <div><span>李四</span>社长</div>
        </div>
        <div class="studio_info_item">
            <div>地址：<span>广东省广州市</span></div>
            <div>手机：<span>13430393576</span></div>
            <div class="studio_distance">
                <div>
                    <i></i>
                    距离你
                    <span>3km</span>
                </div>
                <a class="binding-btn">
                    <i class="binding"></i>绑定
                </a>
            </div>
        </div>
        <div class="goods_star_score">
            <div class="five_star">
                <div class="star_img">
                    <img src="/Public/img/home/starred.png" id="0">
                    <img src="/Public/img/home/starred.png" id="1">
                    <img src="/Public/img/home/starred.png" id="2">
                    <img src="/Public/img/home/starred.png" id="3">
                    <img src="/Public/img/home/starred.png" id="4">
                </div>
                <span class="fraction" data-score="5">5分</span>
            </div>
            <a href="javascript:void(0);" class="comment_num">人评论</a>
        </div>
    </section>
    <div class="slide_banner">
        <span>工作室形象</span>
        <div id="slider">
            <div class='swipe-wrap'>
                <div><img src="Public/img/common/icon/m1.jpg" /></div>
                <div><img src="Public/img/common/icon/m1.jpg" /></div>
                <div><img src="Public/img/common/icon/m1.jpg" /></div>
                <div><img src="Public/img/common/icon/m1.jpg" /></div>
            </div>
            <ul class="position">
                <li class="on"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <section class="f24 studio_module">
        <p>美妍美社工作室，美妍美社工作室美妍美社工作室，美妍美社工作室美妍美社工作室，美妍美社工作室美妍美社工作室，美妍美社工作室</p>
    </section>
</article>

<script src="Public/js/common/jquery-1.11.3.min.js"></script>
<script src="Public/js/common/layer.mobile/layer.js"></script>
<script src="public/js/common/public.js"></script>
<script src="public/js/common/common.js"></script>
<script src="public/js/common/swipe.js"></script>
<script>
$(function(){
    $('.five_star').setStar(4.8);
    console.log($('.five_star').getStar());

    //绑定工作室
    $('body').on('click','.binding-btn',function(){
        layer.open({
            btn:'确定',
            content:'已绑定工作室'
        })
    })
    //滑动轮播
    var elem = document.getElementById('slider');
    mySwipe = Swipe(elem, {
        auto: 2500,
        callback: function(index,element){
            //回调函数
            $(".position li").eq(index).addClass("on").siblings().removeClass("on");
        }
    });
    $(".position li").click(
        function () {
            mySwipe.slide($(this).index());
        }
    );
})
   

</script>
</body>
</html>