body,li,p,ul,h1,h2,h3,input,dd,dl,dt,form{margin: 0;padding: 0;}
ul,li,dd,dl,dt{list-style-type: none}
li,a,div{outline: none}
.clearfix:after{content: "." ;display: block ;height: 0 ;clear: both ;visibility: hidden ;}
.cl{clear: both;}
img{border:0}
a{color:#666666;text-decoration: none;cursor: pointer}
a:hover{color:#1BA358}
table{empty-cells: show;border-collapse: collapse;border-spacing: 0;font-size:12px;}
h1{font-size: 16px}
h2,h3,h4{font-size: 14px}
h5,h6{font-size: 12px}
body{font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";font-size: 12px;overflow-x: hidden;position:relative;}/*background: #E5E5E5;*/
input, button, select, textarea{font-size: 100%;vertical-align: middle;}
.fr{float:right;}
.fl{float:left}
.hide{display: none}
.hidden{visibility: hidden}
.hideZindex{height: 0;position: absolute;z-index: -1;overflow: hidden}
.red{color:#ff3300;}

.pager{text-align:right;}
.pager a{padding:3px 8px;margin-left:3px;line-height:20px;background:#f9f9f9;border:1px solid #DBDBDB;text-decoration: none}
.pager a:hover,
.pager a.current{background-color:#7CD5B1;color:#fff;border:1px solid #7CD5B1;cursor:pointer;}
.orange{color:#FF6600}
.button{text-align: center;color:#FFF;display: inline-block;height:32px;line-height: 32px;padding:0 16px;font-size: 15px;letter-spacing: 2px;background-color: #ec1358;cursor:pointer;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.button:hover{opacity:0.9;filter:alpha(opacity=90);color:#FFF}
.button-yellow{text-align: center;color:#FFF;display: inline-block;background-color: #FF7E00;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.button-yellow:hover{background-color: #e95a00;color:#FFF}
.arrow{width:0;height:0;position: absolute;display: inline-block;}
.container,.w{margin: 0 auto;width: 990px;}
.container{background-color: #FFF;min-height: 635px}
.all_select_checkbox .checkall,.bd-line .checkitem{
    width: 20px;
    height: 20px;
    vertical-align: -3px;
}

.recommend_details{margin:10px 0 0}
.recommend_details .head{border-bottom: 1px solid #1a3150}
.recommend_details .title{width:125px;height:34px;line-height:34px;color:#FFF;font-size: 18px;letter-spacing: 1px;background-color: #1a3150;text-align: center;}
.table_recommend th,.table_recommend td{font-size: 18px;border-bottom: 1px solid #e7e7e7;}
.table_recommend th{color:#212121;font-weight: normal;height:55px;letter-spacing: 1px;}
.table_recommend td{color:#A6A6A6;height:47px;text-align: center}

.page{text-align: center;margin:50px 0}
.page a,.page span.prev_disabled{
    border: 1px solid #ededed;
    color: #3d3d3d;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    margin-left:5px;
    min-width: 9px;
    padding: 0 13px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    font-family: "simsun";display: inline-block
}
.page span.prev_disabled{cursor: default;color:#ccc;margin:0 10px 0 0}

.page a.current{background-color: #f40;
                border-color: #f40;
                color: #fff;
                font-weight: 700;
                position: relative;
                z-index: 1;}
.page .extra {
    display: inline-block;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    color: #656565;
}
.page .page-num {
    border: 1px solid #ededed;
    height: 21px;
    text-align: center;
    width: 35px;
    display: inline-block
}

.page .page-submit {
    background-clip: padding-box;
    border: 1px solid #ededed;
    border-radius: 2px;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    text-align: center;
    width: 43px;
    display: inline-block
}
.page .page-submit:hover {
    border-color: #f40;
    color: #f40;

}
.page a:focus, .page a:hover {
    border-color: #f40;
    z-index: 1;
}
.ncsc-path a {
	font-weight: 700;
	line-height: 20px;
	/*background: #FFF url(../../admin-img/common/bg_position.gif) no-repeat 0px -200px;*/
	height: 30px;
	line-height:30px;
	float: left;
	padding-left: 10px;
    padding-right: 10px;
	margin-right: 5px;
	cursor: pointer;
	background:#ccc;
	color:#fff;
    display:inline-block;
    text-align: center;
}
.ncsc-path a.current, .ncsc-path a:hover.current {
	background-position: 0 -240px;
	cursor: default;
	background:#0d7eff;
	color:#fff;
}
/**/
.goods_selected{
    width: 20px;
    height: 20px;
    vertical-align: -3px;
}