<extend name="Public:base" />
<block name="title">通行证账号</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/user.css">
</block>
<block name="nav"></block>
<block name="content">
    <section id="userForgetPasswdForm" class="userInfoWrapper">
        <h2 class="tc f28">重置密码</h2>
        <div class="f24">
            <form class="registerTab" id="formReset">
                <include file="Public/userTmpl" />
                <input type="hidden" name="captcha_type" value="reset" />
            </form>
            <a class="forgetPasswordBtn f28" >确定</a>
            <div class="f24 ftipc clearfix">
                <a href="__CONTROLLER__/login" class="login_dialog fl f06c">登录</a>
                <a href="__CONTROLLER__/register" class="register_dialog fr f06c">注册</a>
            </div>
        </div>
    </section>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/home/login.js"></script>
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.forgetPasswordBtn',function(){
                var $layer=$('.forgetPasswd_wrap');
                //验证
                var userName=$layer.find('.user_name').val();
                var password=$layer.find('.password').val();
                var newPassword=$layer.find('.cofirm_password').val();
                var userPhone=$layer.find('.user_phone').val();
                var verifiCode=$layer.find('.tel_code').val();
                var content='';
                if(!checkAccount(userName)){
                    content='请输入正确用户名';
                }else if(!register.pswCheck(password)){
                    content = "请输入正确的密码";
                }else if(password!=newPassword){
                    content = "两次密码输入不一致";
                }else if(!register.phoneCheck(userPhone)){
                    content = "请输入正确的手机号码";
                }else if(!register.vfyCheck(verifiCode)){
                    content = "请输入正确的验证码";
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
                var url = ACTION;
                var postData = $('#userForgetPasswdForm').serializeObject();
                $.post(url,postData,function (data) {
                    if(data.status==0){
                        dialog.error(data.info);
                        return false;
                    }else if(data.status==1){
                        location.href = data.info;
                    }
                });
            });
        });
    </script>
</block>
