<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/user.css">
</block>
<block name="content">
    <section id="platformNotes" >
        <h2 class="f24 platform_title">美尚平台使用须知</h2>
        <div class="platformNoteText f24">
            <p>111111111111111111</p>
            <p>222222222222222222</p>
            <p>333333333333333333</p>
            <p>444444444444444444</p>
        </div>
        <a href="javascript:void(0);" class="registerBtn next_step f24">确定</a>
    </section>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

            var url = '{:U("/Home/User/register")}';
            $('.next_step').on('click',function(){
                window.location.href=url;
            })
        })
    </script>
</block>