{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="practitioner_css/main.css">
{/block}
{block name="content"}
<article class="scroll-wrapper f24">
	<section class="top_nav_fixed store-top-nav">
		<div class="top_bar columns_flex">
			<!--<div class="each_column">
				<a class="qr-code">二维码</a>
			</div>-->
			<div class="each_column">
				<!--<a class="home">首页</a>-->
			</div>
			<div class="each_column top_search_module">
				<input type="button" class="search_btn"/>
				<input type="text" class="search_text" placeholder="美尚云搜索"/>
			</div>
			<div class="each_column">
				<a class="shopping_cart">购物车</a>
			</div>
			<div class="each_column">
				<a class="personal_center">我的</a>
			</div>
		</div>
		<div class="columns_flex flex-both-side store-focus-num">
			<div>
				<img src="public/static/common/img/default/no_pic_40.jpg" alt="" class="left">
				<div>
					<p><span>某某</span>官方旗舰店</p>
					<span>美尚联营</span>
				</div>
			</div>
			<div>
				<a href="javascript:void(0);" class="store-focus">关注</a>
				<p><span>1500</span>人</p>
			</div>
		</div>
		<div class="top_menu_box">
			<div class="top_menu_list columns_flex flex-both-side">
				<a href="javascript:void(0);" >首页</a>
				<a href="javascript:void(0);">商品</a>
				<a href="javascript:void(0);">消息</a>
				<a href="javascript:void(0);">文章</a>
				<a href="javascript:void(0);">小视频</a>
				<a href="javascript:void(0);" class="current">视频</a>
				<a href="javascript:void(0);">直播</a>
			</div>
		</div>
	</section>
	<div class="content-wrapper">
		<ul class="columns_flex flex-both-side goods-list">
			<li>
				<!--<a class="product-square-box">-->
				<!--<video class="product-square-img" controls="controls" type="video/mp4">
                     <source src="http://vjs.zencdn.net/v/oceans.mp4">
                </video>-->
				<video class="product-square-img" id="video" controls="controls" autoplay src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="portraint">
					您的浏览器不支持。
				</video>
				<!--</a>-->
				<p class="product-title">商品11111111111111111</p>
				<div class="columns_flex two-flex">
					<div class="pink">
						￥<price>5.00</price>
					</div>
				</div>
			</li>
			<li>
				<!--<a class="product-square-box">-->
				<!--<video class="product-square-img" controls="controls" type="video/mp4">
                     <source src="http://vjs.zencdn.net/v/oceans.mp4">
                </video>-->
				<video class="product-square-img" id="video" controls="controls" autoplay src="http://vjs.zencdn.net/v/oceans.mp4">
					您的浏览器不支持。
				</video>
				<!--</a>-->
				<p class="product-title">商品11111111111111111</p>
				<div class="columns_flex two-flex">
					<div class="pink">
						￥<price>5.00</price>
					</div>
				</div>
			</li>
		</ul>
	</div>
</article>
{/block}
{block name="common"}
{include file="template/footer_menu_msy_practitioner.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="public_js/swiper.min.js"></script>
<script type="text/javascript">
	$(function(){
		//轮播
        var swiper1 = new Swiper('.swiper-container', {
			spaceBetween: 30,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
		swiper('.swiper-focus-container');
        $('.more-text-box').moreText({
            mainCell:".more-text",
            openBtn:'全部>'
        });
	});
</script>
{/block}