<extend name="Public:base" />

<block name="css-customize">
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/h-ui.admin/static/h-ui/css/H-ui.min.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/h-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/h-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/h-ui.admin/static/h-ui.admin/skin/default/skin.css" id="skin" />-->
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/h-ui.admin/static/h-ui.admin/css/style.css" />-->
    <link href="__PUBLIC__/h-ui.admin/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />

</block>
<block name="content">
    <input type="hidden" id="TenantId" name="TenantId" value="" />
    <div class="header"></div>
    <div class="loginWraper">
        <div id="loginform" class="loginBox">
            <form class="form form-horizontal" action="{:U('User/login')}" method="post">
                <div class="row cl">
                    <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                    <div class="formControls col-xs-8">
                        <input id="" name="" type="text" placeholder="账户" class="input-text size-L">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                    <div class="formControls col-xs-8">
                        <input id="" name="" type="password" placeholder="密码" class="input-text size-L">
                    </div>
                </div>
                <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                        <input class="input-text size-L" type="text" placeholder="验证码"  name="code" value="" style="width:150px;">
                        <img src="{:U('Admin/User/verify')}" alt="验证码" onclick="reloadcode(this)" title="点击刷新"/>
                    </div>

                </div>


                <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                        <label for="online">
                            <input type="checkbox" name="online" id="online" value="">
                            使我保持登录状态</label>
                    </div>
                </div>
                <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                        <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                        <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                    </div>
                </div>
            </form>
        </div>
    </div>

</block>

<block name="script">
    <script type="text/javascript">
        // 刷新验证码
        function reloadcode(obj) {
            obj.src="{:U('Admin/User/verify')}";
        }
    </script>
</block>