<!--弹窗公共布局-->
<div id="storeBranch">
    <form id="form1">
        <ul>
            <li>
                <input type="text" placeholder="分公司名称" name="name" class="store_name" value="">
                <input type="hidden" name="companyId" value="" />
                <input type="hidden" name="companyType" value=""/>
            </li>
        </ul>
    </form>
</div>
<div id="storeBranchList">
    <li>
        <span class='b_n_title'>分公司名称</span><span class='b_n_val'></span>
        <a href='javascript:void(0);' class='edit_store_ad'>编辑该分公司所属的门店地址</a>
        <input type="hidden" name="companyId" value="" />
        <input type="hidden" name="companyType" value="" />
        <a href='javascript:void(0);' class='del_btn'>删除</a>
        <a href='javascript:void(0);' class='mod_btn'>修改</a>
    </li>
</div>
