<empty name="projectList">
    <li class="empty">（暂无数据）</li>
    <else/>
    <volist name="projectList" id="vo">
        <li data-id="{$vo.id}">
            <div class='cs_pg_img'>
                <a href="javascript:void(0);">
                    <empty name="vo.home_focus_img">
                        <img src="__PUBLIC__/images/cloudstore/store_img_1.jpg" class="project_list_image" alt="">
                        <else/>
                        <img src="__ROOT__/Uploads/{$vo.home_focus_img}" class="project_list_image" alt="">
                    </empty>
                </a>
            </div>
            <div class='cspg_item'>
                <div class="cspg_item_n">
                    <p><i>热</i>
                        <span class="project_list_name">{$vo.name}</span>
                    </p>
                    <div class="project_price">￥<span class="project_list_special_offer">{$vo.sale_price}</span></div>
                </div>
                <div class="pg_status">
                    <div>
                        当前状态：
                        <span class="current_online">上线</span>
                    </div>
                    <div>
                        <a href='javascript:void(0);' class='mod_pg'>修改项目</a>
                        <div class="on_off_line">
                            <a href='javascript:void(0);' data-v="0" class='off_line'>下线</a>
                            <a href='javascript:void(0);' data-v="1" class='on_line'>上线</a>
                        </div>
                    </div>
                </div>
            </div>
            <select style="display:none" name="shopIdArr">
                <volist name="vo.shopIdArr" id="v">
                    <option value="{$v}"></option>
                </volist>
            </select>
            <input type="hidden" name="project_id" value="{$vo.id}"/>
            <input type="hidden" name="name" value="{$vo.name}"/>
            <input type="hidden" name="brief_trait" value="{$vo.brief_trait}"/>
            <input type="hidden" name="original_price" value="{$vo.original_price}"/>
            <input type="hidden" name="sale_price" value="{$vo.sale_price}"/>
            <input type="hidden" name="time_consuming" value="{$vo.time_consuming}"/>
            <input type="hidden" name="online" value="{$vo.online}"/>
            <input type="hidden" name="list_view_img" value="{$vo.list_view_img}"/>
            <input type="hidden" name="home_focus_img" value="{$vo.home_focus_img}"/>
            <input type="hidden" name="service_content" value="{$vo.service_content}"/>
            <input type="hidden" name="service_description" value="{$vo.service_description}"/>
        </li>
    </volist>
</empty>