<!--动态追加列表模板-->
<li>
    <p>
        <span class='s_title'><i>*</i>门店名称：</span>
        <span class='s_n_val'>{$shop.name}</span>
    </p>
    <p>
        <span class='s_title'><i>*</i>手机号码：</span>
        <span class='s_ph_val'>{$shop.receptionist_mobile}</span>
    </p>
    <p>
        <span class='s_title'>地址：</span>
        <span class='s_ad_val'>{$shop.address}</span>
    </p>
    <p>
        <span class='s_title'>电话：</span>
        <span class='s_m_val'>{$shop.fixed_phone}</span>
    </p>
    <a href='javascript:void(0);' class='del_btn'>删除</a>
    <a href='javascript:void(0);' class='mod_btn'>修改</a>
    <input type="hidden" name="shopId" value="{$shop.id}" />
    <input type="hidden" name="name" value="{$shop.name}" />
    <input type="hidden" name="receptionist_mobile" value="{$shop.receptionist_mobile}" />
    <input type="hidden" name="address" value="{$shop.address}" />
    <input type="hidden" name="fixed_phone" value="{$shop.fixed_phone}" />
    <input type="hidden" name="company_id" value="{$shop.company_id}" />
    <input type="hidden" name="logo" value="{$shop.logo}" />
</li>