<!-- 上传图片 -->
<div id="shopEdit" style="display:none">
    <form id="form1">
        <ul class="f24 signshop_edit_info">
            <li>
                <p class="f20 upload_st_logo"><span>*注意</span>：请上传jpg、jpeg、png、gif格式图片{$shop.logo}</p>
                <div class="uploadImg_map f20">
                    <div class="upload_td msy_image_map">
                        <input type="file" class="uploadImg" name="">
                        <empty name="shop.logo">
                            <img class="upload_img" src="" alt="">
                            <else/>
                            <img class="upload_img" src="/Uploads/{$shop.logo}" alt="">
                        </empty>
                        <span class="f20">点击上传门店形象图</span>
                    </div>
                </div>
            </li>
            <li>
                <label class="s_t"><i>*</i>门店名称</label>
                <input type="text" name="name" placeholder="门店名称" class="store_name" value="{$shop.name}">
            </li>
            <li>
                <label class="s_t"><i>*</i>美容预约对接人手机号码</label>
                <input type="tel" name="receptionist_mobile" placeholder="手机号码" class="store_phone" value="{$shop.receptionist_mobile}">
            </li>
            <li>
                <label class="s_t">地址</label>
                <input type="text" name="address" placeholder="地址" class="store_address" value="{$shop.address}">
            </li>
            <li>
                <label class="s_t">固定业务电话</label>
                <input type="tel" name="fixed_phone" placeholder="(区号)固定电话" class="store_fixed" value="{$shop.fixed_phone}">
            </li>
            <li class="map_marker">
                <input type="text" placeholder="对门店地址进行人工地图标位" class="store_map"/>
            </li>
            <li>
                <span class="location_identify"><i class="unlabeled">未标示</i></span>
            </li>
            <input type="hidden" name="shopId" value="{$shop.id}" />
        </ul>
    </form>
</div>
