<empty name="shopList">
    <li class="emptyShop">（暂无数据）</li>
    <else/>
    <volist name="shopList" id="vo">
        <li companyId="{$vo.company_id}" data-id="{$vo.id}">
            <a href="javascript:void(0);">
                <div class="cs_item_wrapper">
                    <div class="item-img-wrapper">
                        <empty name="vo.logo">
                            <img src="__PUBLIC__/images/cloudstore/default/cs_ad_default.png" alt="" class="cs_item_img">
                            <else/>
                            <img src="__ROOT__/Uploads/{$vo.logo}" alt=""/>
                        </empty>
                    </div>
                    <div class="cs_item_description">
                        <p>门店名称:<span class="epy_store_n">{$vo.name}</span></p>
                        <input type="hidden" name="shopId" value="{$vo.id}"/>
                        <p>地址:<span>{$vo.address}</span></p>
                        <p>{$vo.fixed_phone}</p>
                        <p><i></i><span>距离你3.0km</span></p>
                    </div>
                </div>
            </a>
        </li>
    </volist>
</empty>