<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="title">采购账户充值</block>
<block name="content">
    <article class=" f24">
        <section class="purchaser_member_module">
            <img src="PUBLIC_IMG/common/logo.png" alt="">
            <div>亲爱的采购商会员<span>{$name}</span></div>
            <div>您的采购账户余额为 <span>￥</span><price>{$amount}</price></div>
        </section>
        <section class="purchaser_member_module">
            <p>[微信支付方式]</p>
            <div class="purchase_weixin_icon">
                <span></span>微信支付
            </div>
            <a href="{:U('amount_input')}" class="balance_pay weixin_pay">微信支付充值</a>
        </section>
        <section class="purchaser_member_module">
            <div>
                <p>[银行转账方式]</p>
                <div>收款单位：<span>{$Think.config.RECEIVING_UNIT}</span></div>
                <div>开户银行：<span>{$Think.config.DEPOSIT_BANK}</span></div>
                <div>银行账户：<span>{$Think.config.BANK_ACCOUNT}</span></div>
                <a href="javascript:void(0);" class="bank_transfer_recharge right-arrow">银行转账支付后将凭证发给平台客服通知账户充值</a>
            </div>
        </section>
        <section class="purchaser_member_module">
            <a href="javascript:void(0);" class="right-arrow account_details">查看我的采购账户明细</a>
        </section>
    </article>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>