{extend name="template/base.html" /}

{block name="nav">订单详情{/block}
{block name="content"}
<article class="scroll-wrapper f24">
    <section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page async_login" data-jump_url="{:url('Mine/index')}"></a>
		<h2 class="f24">订单详情</h2>
	</section>
    <div class="order_wrapper">

        <!-- 订单信息 -->
        <div class="separation-line content-padding">
            <div>
                <span>订单号&nbsp;</span>
                <input type="hidden" class="order_sn" value="{$orderInfo.sn}"/>
                <input type="hidden" class="order_id" value="{$orderInfo.id}"/>
                <span>{$orderInfo.sn}</span>
            </div>
            <div>
                <span>下单日期&nbsp;</span>
                <span>{$orderInfo.create_time}</span>
            </div>
            <div>
                <span>商品&nbsp;</span>
                <span>共{$orderInfo.goods_num}件</span>
            </div>
            <div>
                <span>金额&nbsp;</span>
                <span>￥<price>{$orderInfo.amount}</price></span>
            </div>
            <div>
                <span>状态：</span>
                {if $orderInfo.order_status == 1}
                <!--1:待付款-->
                <span>待付款</span>
                {elseif $orderInfo.order_status == 2 }
                <!--2:待收货-->
                <span>待收货</span>
                {elseif $orderInfo.order_status == 3 }
                <!--3:待评价-->
                <span>待评价</span>
                {elseif $orderInfo.order_status == 4 }
                <!--4:已完成-->
                <span>已完成</span>
                {elseif $orderInfo.order_status == 5 }
                <!--5:已取消-->
                <span>已取消</span>
                {elseif $orderInfo.order_status == 6}
                <!--6:售后-->
                <span>售后</span>
                {else /}

                {/if}

            </div>
        </div>

        {if $orderInfo.order_status == 1}
            {include file="template/address_info.html" /}
            {include file="template/settlement_method.html" /}

        {else /}
            <!-- 物流信息 -->
            <div class="separation-line content-padding">
                <div>
                    <span>{$orderInfo.consignee}</span>
                    <span>{$orderInfo.mobile}</span>
                </div>
                <div>
                    <span>收货地址：</span>
                    <span>{$orderInfo.province}{$orderInfo.city}{$orderInfo.area}{$orderInfo.detail_address}</span>
                </div>
                <div>
                    <span>备注：</span>
                    <span>{$orderInfo.remark}</span>
                </div>
            </div>
        {/if}

        <!-- 订单商品信息 -->
        <div class="content-padding bottom_padding">
            <ul>
                <li>
                    {volist name="orderInfo.goods_list" id="goods_info"}
                            <div class="columns_flex order_item" data-id="{$goods_info.goods_id}" data-buy_type="{$goods_info.buy_type}"
                                 data-brand_id="{$goods_info.brand_id}" data-brand_name="{$goods_info.brand_name}">
                                <div class="list_left_img">
                                    <img src="{:show_img_handle($goods_info.thumb_img)}" class="left">
                                </div>
                                <div class="list_right">
                                    <p>{$goods_info.name}</p>
                                    <p>规格：<span>{$goods_info.specification}</span></p>
                                    <p>￥<price>{$goods_info.price}</price> &nbsp;&nbsp;&nbsp;x<span class="num">{$goods_info.num}</span></p>
                                </div>
                            </div>
                    <div class="columns_flex l-r-sides content-padding">
                        <span>共{$goods_info.num}件商品</span>
                        小计：<span class="red">￥<price>{$goods_info.price*$goods_info.num}</price></span>
                    </div>
                    {/volist}
                </li>
            </ul>
        </div>

    </div>
</article>
{/block}
{block name="footer"}
{include file="template/footer_menu.html" /}
{/block}

{block name="script"}

<script type="text/javascript" src="api_common_js/order.js"></script>
<script type="text/javascript" src="index_js/wallet.js"></script>
<script src="api_common_js/jquery.area.js"></script>
<script type="text/javascript" src="api_common_js/address.js"></script>
<script type="text/javascript">
    //初始化订单金额
    amount = "{$orderInfo['amount']}";
    $('footer').find('.amount').text(amount);
</script>
{/block}