<volist name="goodsList" id="vo">
    <li data-id="{$vo.id}">
        <a href="{:U('Goods/goodsDetail',array('goodsId'=>$vo['id']))}">
            <empty name="vo.thumb_img">
                <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" alt="">
                <else/>
                <img src="UPLOADS_IMG/{$vo.thumb_img}" alt="">
            </empty>
        </a>
        <p class="headlines">{$vo.headlines}</p>
        <switch name="goodsListOptionType" >
            <case value="purchaserOnly">
                <div class="agent_list_c">
                    <div class="a_c">
                        <span class="pink">￥<price class="twitter_price">{$vo.sale_price}</price></span>
                        <del>￥{$vo.price}</del>
                        <span class="pink">礼品券￥50000</span>
                    </div>
                    <div class="a_c">10盒起订</div>
                </div>
                <div class="agent_list_item">
                    <span>采购数量</span>
                    <div class="quantity_wrapper business_count">
                        <a href="javascript:void(0);" class="greduce">-</a>
                        <input type="text" value="1" class="f24 gshopping_count">
                        <a href="javascript:void(0);" class="gplus">+</a>
                    </div>
                    <a href="javascript:void(0);" class="add_cart">加入采购车</a>
                </div>
            </case>
            <default /><span>仅限采购商</span>
        </switch>
    </li>
</volist>