<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>

<block name="css-customize">
    <link href="__PUBLIC__/admin-css/purchase/fenlei.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin-css/purchase/skin.css" rel="stylesheet" type="text/css" id="cssfile2" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('PurchaseGoodsCategory/goodsCategoryList')}" ><span>管理</span></a></li>
                    <li><a href="{:U('PurchaseGoodsCategory/editGoodsCategory')}" class="current" ><span>新增分类</span></a></li>
                </ul>
            </div>
        </div>
        <div align=center style="margin-top:15px;">
            <table id=table5 border=0 cellspacing=0 cellpadding=0 width="100%">
                <tbody>
                <tr>
                    <td height=10 align=center></td>
                </tr>
                <tr>
                    <notempty name="goods_category_info">
                        <td class="box_top box_border" height=35 align=center>修改分类</td>
                        <else/>
                        <td class="box_top box_border" height=35 align=center>添加新分类</td>
                        </select>
                    </notempty>

                </tr>
                <tr>
                    <td class="box_content box_border_left box_border_bottom box_border_right" height=25><div align=center>
                        <table id=table85 border=0 cellspacing=0 cellpadding=0 width="98%">
                            <tbody>
                            <tr>
                                <td height=10 width="82%" colspan=3 align=center></td>
                            </tr>
                            <tr>
                                <td valign=middle width="100%">
                                    <div align=center>
                                        <form method="post" id="form1" action="">
                                            <input  class="id" value="{$goods_category_ids.id}" type="hidden">
                                            <input  class="parent_id" value="{$goods_category_ids.parent_id}" type="hidden">
                                            <input  name="goodsCategoryId" value="{$goods_category_info.id}" type="hidden">

                                            <table id=table18 border=0 cellspacing=1 width="100%" height=57>
                                                <tbody>
                                                <notempty name="goods_category_info">
                                                <tr>
                                                    <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                                                    <td class=dotted_bottom_gray width="89%" align=left>
                                                        <select name="parent_id_1" id="parent_id_1" parent_id_1="{$goods_category_info.parent_id_1}" onchange="get_category(this.value,'parent_id_2','0');" class="small form-control">
                                                            <option value="" >顶级分类</option>
                                                            <foreach name="cat_list" item="v" >
                                                                <option value="{$v.id}">{$v.name}</option>
                                                            </foreach>
                                                        </select>

                                                        <if condition="$goods_category_info['parent_id_2'] eq 0 ">
                                                            <else />
                                                            <select  class="selectbox  parent_id_2" id="parent_id_2" parent_id_2="{$goods_category_info.parent_id_2}"  name="parent_id_2" >
                                                                <option value="0" >请选择商品分类</option>
                                                            </select>
                                                        </if>
                                                    </td>
                                                </tr>
                                                    <else />

                                                    <tr>
                                                        <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                                                        <td class=dotted_bottom_gray width="89%" align=left>
                                                            <select name="parent_id_1" id="parent_id_1" parent_id_1="{$goods_category_info.parent_id_1}" onchange="get_category(this.value,'parent_id_2','0');" class="small form-control">
                                                                <option value="" >顶级分类</option>
                                                                <foreach name="cat_list" item="v" >
                                                                    <option value="{$v.id}">{$v.name}</option>
                                                                </foreach>
                                                            </select>
                                                            <empty name="goods_category_ids">
                                                                <select  class="selectbox  parent_id_2" id="parent_id_2" parent_id_2="{$goods_category_info.parent_id_2}"  name="parent_id_2" >
                                                                    <option value="0" >请选择商品分类</option>
                                                                </select>
                                                                <else />
                                                                <if condition="$goods_category_ids['parent_id'] eq 0 ">

                                                                    <else />
                                                                    <select  class="selectbox  parent_id_2" id="parent_id_2" parent_id_2="{$goods_category_info.parent_id_2}"  name="parent_id_2" >
                                                                        <option value="0" >请选择商品分类</option>
                                                                    </select>
                                                                </if>
                                                            </empty>
                                                        </td>
                                                    </tr>

                                                    </notempty>

                                                <tr>
                                                    <td class=dotted_bottom_gray height=40 width="11%" align=right>分类名称：</td>
                                                    <td class=dotted_bottom_gray width="89%" align=left><input class="inputboxadmin"  name="name"  value="{$goods_category_info.name}"></td>
                                                </tr>
                                                <tr>
                                                    <td class=dotted_bottom_gray height=40 width="11%" align=right>排序：</td>
                                                    <td class=dotted_bottom_gray width="89%" align=left><input id=p_no   class="inputboxadmin"  name="sort" value="{$goods_category_info.sort}"></td>
                                                </tr>
                                                <tr>
                                                    <td height=20 width="100%" colspan=2 align=right></td>
                                                </tr>

                                                </tbody>

                                            </table>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height=60 width="100%" align=center><input class="button_save_black_4" name="addnow" value="确定" type="button">
                                &nbsp;&nbsp;
                                <input class="button_save_black" onclick=javascript:history.go(-1) name="add0" value="返回上一层" type="button"></td>
                            </tr>
                            <tr>
                                <td height=60 width="100%" align=center></td>
                            </tr>
                            </tbody>
                        </table>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</block>
<block name="js-customize">
</block>
<block name="script">
    <script>
        $(function(){
            /**
             * 添加/修改分类
             */
            $(".button_save_black_4").click(function(){
                var postData = $('#form1').serializeObject();
                postData.parent_id = 0;
                postData.level = 1;
                if(postData.parent_id_1){
                    postData.level = 2;
                    postData.parent_id = postData.parent_id_1
                }else{
                    postData.parent_id_1 = 0;
                }

                if(parseInt(postData.parent_id_2)){
                    postData.level = 3;
                    postData.parent_id = postData.parent_id_2;
                }


                $.post(CONTROLLER+'/editGoodsCategory',postData,function(msg){
                    if(msg.status == 1){
                        var url = CONTROLLER + '/goodsCategoryList';
                        dialog.success(msg.info,url);
                    }
                    if(msg.status == 0){
                        dialog.error(msg.info)
                    }

                });
            });

            /**
             * 修改分类默认分类选中
             * @type {*|jQuery}
             */
            var parent_id_1 = $('#parent_id_1').attr('parent_id_1');
            var parent_id_2 = $('#parent_id_2').attr('parent_id_2');
            if(parent_id_1>0 ){
                $("#parent_id_1").val(parent_id_1);
            }
            if(parent_id_1>0 &&  parent_id_2>0 ){
                $("#parent_id_1").val(parent_id_1);
                get_category(parent_id_1,'parent_id_2',parent_id_2);
            }

            /**
             *   添加下一级分类默认选中
             * */
            var id = $('.id').val();
            if(id){
                var belong_id = $('.parent_id').val();
                if(belong_id == 0){
                    $("#parent_id_1").val(id);
                }
                if(belong_id > 0){
                    $("#parent_id_1").val(belong_id);
                    get_category(belong_id,'parent_id_2',id);
                }
            }

        });
    </script>
</block>