<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__CSS__/user.css">
</block>
<block name="content">
    <section class="msy-register">
        <img src="__IMG__/logo.png" alt="" class="msy-logo">
        <form action="">
            <h2 class="tc f28">已注册用户登录</h2>
            <ul>
                <li>
                    <label for="" class="f28">手机号码:</label>
                    <input placeholder="手机号码" class="phone f28 phone" type="tel" id="" />
                </li>
                <li class="clearfix">
                    <label for="" class="f28 set-password">登录密码:</label>
                    <input type="password" placeholder="输入密码" class="f28 regis-password">
                </li>
            </ul>
            <a href="javascript:;" class="login-btn f28">登录</a>

        </form>
        <div class="f24 ftipc clearfix">
            <a href="javascript:;" class="fl f06c" id="register">注册</a>
            <a href="javascript:;" class="fr f06c"  id="Reset-password">忘记密码？</a>
        </div>
    </section>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script>
        $(function(){
            /**
             * 跳转到注册页面
             */
            $("#register").click(function () {
                //var pn = $("#Reset-password").val();
                location.href = "register";
            });


            /**
             * 跳转到重置密码页面
             */
            $("#Reset-password").click(function () {
                //var pn = $("#Reset-password").val();
                location.href = "resetpsw";
            });
//    $('#Reset-password').on('click',function(){
//            alert(111111);
//    }


            var content='';
            $('.login-btn').on('click',function(){

                var phone=$('.phone').val();
                //alert(phone);
                var psw=$('.regis-password').val();
                // console.log(psw);
                //alert(psw);
                if(!register.phoneCheck(phone)){
                    content="请输入正确手机号码";
                    layer.open({
                        content:content,
                        time: 3
                    });
                    return false;
                }

                if(!register.pswCheck(psw)){
                    content="密码必须是数字和字母组合";
                    layer.open({
                        content:content,
                        time: 3
                    });
                    return false;
                }




                $.post('ajaxlogin',{phone:phone,passwd:psw},function(result){

                    //console.log(result);
                    if(result.status == 0) {
                        return dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        return dialog.confirm(result.message,"{:U('index/index')}");
                        //return dialog.success(result.message,"{:U('Index/Index')}");
                    }

                },'JSON');

            });


//    注册验证对象
            var register={
                phoneCheck:function(phoneStr){
                    var patrn = /^((?:13|15|18|14|17)\d{9}|0(?:10|2\d|[3-9]\d{2})[1-9]\d{6,7})$/;
                    if(phoneStr!=''&&patrn.test(phoneStr)){
                        return true;
                    }else{
                        return false;
                    }

                },
                pswCheck:function(pswStr){
                    var pswReg = /[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/;
                    if(pswStr !=''&& pswReg.test(pswStr)){
                        return true;
                    }else{
                        return false;
                    }

                }





            }
        });
    </script>
</block>