<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/user.css">
</block>
<block name="content">
    <section class="msy-register">
        <form action="">
            <h2 class="tc f28">重置用户密码</h2>
            <ul>
                <li>
                    <span class="area-code f28">中国（+86）</span>
                </li>
                <li>
                    <input placeholder="手机号码" class="reg-item f28 phone" type="tel" id="" />
                </li>
                <li class="msy_yzm no-border clearfix">
                    <input type="number" placeholder="验证码" name="short" class="fl f28 verify">
                    <input type="button" value="获取验证码" id="" class="verify-btn fr f28" />
                </li>
                <li class="clearfix no-border">
                    <span class="fr f20 short-message">接收短信大概需要60秒</span>
                </li>
                <li class="clearfix">
                    <label for="" class="f28 set-password">设置密码:</label>
                    <input type="password" placeholder="输入密码" class="f28 regis-password">
                </li>
                <li class="clearfix">
                    <label for="" class="f28 set-password">确认密码:</label>
                    <input type="password" placeholder="再次输入密码" class="f28 reset-password">
                </li>
            </ul>
            <a class="register-btn f28"  style="">确定</a>
        </form>
        <div class="f24 ftipc clearfix">
            <a href="javascript:;" class="fr f06c" id="register">新用户注册</a>
        </div>
    </section>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script>
        $(function(){
            /**
             * 跳转到重置密码页面
             */
            $("#register").click(function () {
                //var pn = $("#Reset-password").val();
                location.href = "register";
            });

            //发送验证码
            $('.verify-btn').on('click',function(){

                var phone=$('.phone').val();
                var time=60,timer;
                if(!phone){
                    layer.open({
                        content:"请输入手机号码",
                        // style:'height:500px;',
                        btn: '我知道了',
                        //time:5
                    });
                    return false;
                }
                $('.verify').val('');
                timer=setInterval(CountDown,1000);
                function CountDown(){
                    $('.verify-btn').attr('disabled',true);
                    $('.verify-btn').val('重新发送验证码'+time+'s');
                    if(time==0){
                        $('.verify-btn').val("获取验证码").removeAttr("disabled");
                        $('.verify').val('');
                        clearInterval(timer);
                    }
                    time--;
                }

                /**
                 * 发送验证码
                 */
                $.post('register_verify',{phone:phone},function(result){


                    console.log(result);
                    if(result.status == 0) {
                        return dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        return dialog.toconfirm(result.message);
                    }

                },'JSON');

            })

            $('.register-btn').on('click',function(){
                //alert("aaaaaaaaaaaaaaaa");
                var phone=$('.phone').val();
                var vfyCode=$('.verify').val();
                var psw=$('.regis-password').val();
                var resetPsw=$('.reset-password').val();

                if(!register.phoneCheck(phone)){
                    layer.open({
                        content:"请输入手机号码",
                        // style:'height:500px;',
                        btn: '我知道了',
                        //time:5
                    });
                    return false;
                }
                if(!register.vfyCheck(vfyCode)){
                    layer.open({
                        content:"请输入6位数字的验证码",
                        // style:'height:500px;',
                        btn: '我知道了',
                        //time:5
                    });
                    return false;
                }
                if(!register.pswCheck(psw)){
                    layer.open({
                        content:"请输入数字和字母组合的密码",
                        // style:'height:500px;',
                        btn: '我知道了',
                        //time:5
                    });
                    return false;
                }
                if(psw!=resetPsw){
                    layer.open({
                        content:"两次输入的密码不一致",
                        // style:'height:500px;',
                        btn: '我知道了',
                        //time:5
                    });
                    return false;
                }
                /**
                 * 重置密码
                 */
                $.post('ajaxResetPassword',{phone:phone,vfyCode:vfyCode,passwd:psw,resetPsw:resetPsw},function(result){

                    console.log(result);

                    if(result.status == 0) {
                        return dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        //dialog.success(result.message,"http://www.thinkphp.cn/topic/30866.html");
                        return dialog.confirm(result.message,"{:U('login')}");
                        //location.href = "{:U('login')}";

                    }

                },'JSON');

            });

            //注册验证对象
            var register={

                phoneCheck:function(phoneStr){
                    var patrn = /^((?:13|15|18|14|17)\d{9}|0(?:10|2\d|[3-9]\d{2})[1-9]\d{6,7})$/;
                    if(phoneStr!=''&&patrn.test(phoneStr)){
                        return true;
                    }else{
                        return false;
                    }

                },
                vfyCheck:function(vfyStr){

                    var vfy=/^\d{6}$/;
                    if(vfyStr !='' && vfy.test(vfyStr)){
                        return true;
                    }else{
                        return false;
                    }

                },
                pswCheck:function(pswStr){
                    var pswReg = /[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/;
                    if(pswStr !=''&& pswStr.match(pswReg)){
                        return true;
                    }else{
                        return false;
                    }

                }

            }
        })
    </script>
</block>
