<!--店家档案-->
<section class="f24 store_set_item">
    <div class="store_list">
        <span>店家档案</span>
        <ul>
            <li>
                <a href="{:U('Cloudstore/StoreArchive/editOrganization')}">编辑美容机构的基本资料</a>
            </li>
            <li>
                <a href="{:U('Cloudstore/StoreArchive/previewOrganization')}">预览美容机构的基本资料</a>
            </li>
            <li>
                <a href="{:U('Cloudstore/StoreArchive/scaleType')}">管理美容机构的门店地址</a>
            </li>
            <li>
                <a href="{:U('Cloudstore/StoreArchive/previewOrganizationArchive')}">预览美容机构的店家档案</a>
            </li>
        </ul>
    </div>
</section>
