{extend name="template/base.html" /}
{block name="content"}
<article class="f24 content_main">
	<section class="slider_banner">
		<div class="swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/mch_banner1.jpg" alt="" class="common_default_img">
				</div>
			</div>
		</div>
	</section>
	<section class="module-navigation separation-line ">
		<div class="columns_flex f20 channel_nav store_organize_nav">
			<a href="{:url('registered')}" class="deployed-deployment current"><span class="union_purchase"></span>资格审核</a>
			<a href="" class="store_run"><span class="exclusive"></span>门店管理</a>
			<a href="" class="order-management"><span class="classify"></span>创客管理</a>
			<a href="" class="order-management-change"><span class="purchasers"></span>推文管理</a>
			<a href="javascript:void(0);" class="my-store"><span class="recharge"></span>C端商城</a>
		</div>
	</section>
	<section class="content-padding">
		<div>
			<p>提示：您还不是黑森森城市合伙人，欢迎加入我们！</p>
		</div>
		<div>
			<img src="public_img/default/no_pic_1000.jpg" alt="" class="common_default_img">
			<a>进入申请 ></a>
		</div>
		<dl>
			<dt>成为黑森森城市合伙人的好处</dt>
			<dd>是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵</dd>
		</dl>
	</section>
</article>
{/block}
{block name="footer"}
{include file="template/footer_project.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">

	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
{/block}