{extend name="template/base.html" /}
{block name="content"}
<div class="f24">
	<section class="slider_banner">
		<div class="swiper-container-horizontal swiper-container-ios">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide-active">
					<img src="public_img/banner/mch_banner1.jpg" alt="" class="common_default_img">
				</div>
			</div>
		</div>
	</section>
	<section class="content-padding">
		<div class="columns_flex l-r-sides">
			<div>
                <span></span>
                非黑森森城市合伙人
            </div>
            <div>
                <a href="javascript:void(0)" class="async_login"  data-jump_url="{:url('Franchise/applyFranchise')}">
                    城市合伙人资格申请 
                </a>
                <!--<a href="{:url('Franchise/applyFranchise')}">加盟店资格申请 ></a>-->
            </div>
		</div>
        <ul class="franchise_ul">
            <li>
                <a href="" class="right-arrow">
                    <span class="zh"></span>
                    黑森森城市合伙人区域加盟店管理
                </a>
            </li>
            <li>
                <a href="{:url('Franchise/makersManage')}" class="right-arrow">
                    <span class="ck"></span>
                    黑森森城市合伙人新零售创客管理
                </a>
            </li>
            <li>
                <a href="" class="right-arrow">
                    <span class="zc"></span>
                    黑森森城市合伙人的众创空间管理
                </a>
            </li>
        </ul>
	</section>
</div>
{/block}
{block name="footer"}
{include file="template/footer_project.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">

	$(function(){
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
{/block}