<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="PUBLIC_IMG/home/slide/banner.jpg" /></div>
            <div><img src="PUBLIC_IMG/home/slide/diamond_watches.jpg" /></div>
            <div><img src="PUBLIC_IMG/home/slide/red_wine.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="f24">
        <ul class="common_top_nav">
            <li class="current">美妍商城</li>
            <li>美社预约</li>
        </ul>
    </nav>
    <div class="common_contents">
        <div class="common_tablist_wrap">
            <nav class="mall_function_menu f24">
                <a href="{:U('Goods/goodsIndex')}">
                    <span class="project_class"></span>
                    商品分类
                </a>
                <a href="{:U('Goods/studioSpeList')}">
                    <span class="purchaser_register"></span>
                    工作室特惠
                </a>
                <a href="{:U('Goods/goodsGroup')}">
                    <span class="vip"></span>
                    微团购
                </a>
                <a href="{:U('Goods/goodsGroup')}">
                    <span class="recharge"></span>
                    美容创客
                </a>
                <a href="{:U('PersonalCenter/index')}">
                    <span class="order_manage"></span>
                    个人中心
                </a>
            </nav>
            <div class="promotion_mode_type f24">
                <div class="platform_mode">
                    <!--<h2>特色产品</h2>-->
                    <a href="{:U('Goods/categoryGoods',array('categoryId'=> $gCategoryList[0]['id']))}">
                        <notempty name="gCategoryList[0]['img']">
                            <img src="UPLOADS_IMG/{$gCategoryList[0]['img']}" alt="">
                            <else />
                            <div class='category-left'>
                                {$gCategoryList[0]['name']}
                            </div>
                        </notempty>
                    </a>
                </div>
                <div class="platform_purchase">
                    <div class="platform_toker">
                        <!--<h2>基础产品</h2>-->
                        <a href="{:U('Goods/categoryGoods',array('categoryId'=> $gCategoryList[1]['id']))}">
                            <notempty name="gCategoryList[1]['img']">
                                <img src="UPLOADS_IMG/{$gCategoryList[1]['img']}" alt="">
                                <else />
                                <div class='category-right-top'>
                                    {$gCategoryList[1]['name']}
                                </div>
                            </notempty>
                        </a>
                    </div>
                    <div class="platform_theme">
                        <div class="theme_purchase">
                            <!--<h2>身体产品</h2>-->
                            <a href="{:U('Goods/categoryGoods',array('categoryId'=> $gCategoryList[2]['id']))}">
                                <notempty name="gCategoryList[2]['img']">
                                    <img src="UPLOADS_IMG/{$gCategoryList[2]['img']}" alt="">
                                    <else />
                                    <div class='category-right-l'>
                                        {$gCategoryList[2]['name']}
                                    </div>
                                </notempty>
                            </a>
                        </div>
                        <div class="theme_purchase">
                            <!--<h2>居家产品</h2>-->
                            <a href="{:U('Goods/categoryGoods',array('categoryId'=> $gCategoryList[3]['id']))}">
                                <notempty name="gCategoryList[3]['img']">
                                    <img src="UPLOADS_IMG/{$gCategoryList[3]['img']}" alt="">
                                    <else />
                                    <div class='category-right-r'>
                                        {$gCategoryList[3]['name']}
                                    </div>
                                </notempty>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" class="goods_position" value="index">
            <div class="goods_content " ></div>
        </div>

        <div class="common_tablist_wrap" style="display:none;">
            <nav class="mall_function_menu f24">
                <a href="">
                    <span class="project_class"></span>
                    工作室
                </a>
                <a href="">
                    <span class="purchaser_register"></span>
                    美容预约
                </a>
                <a href="{:U('Project/projectGroup')}">
                    <span class="vip"></span>
                    闺蜜行
                </a>
                <a href="{:U('Project/projectIndex')}">
                    <span class="recharge"></span>
                    美容项目
                </a>
                <a href="">
                    <span class="order_manage"></span>
                    我的预约
                </a>
            </nav>
            <div class="promotion_mode_type f24">
                <div class="platform_mode">
                    <!--<h2>问题管理</h2> -->
                    <a href="{:U('Project/projectIndex',array('categoryId'=> $pCategoryList[0]['id']))}">
                        <notempty name="pCategoryList[0]['img']">
                            <img src="UPLOADS_IMG/{$pCategoryList[0]['img']}" alt="">
                            <else />
                            <div class='category-left'>
                                {$pCategoryList[0]['name']}
                            </div>
                        </notempty>
                    </a>
                </div>
                <div class="platform_purchase">
                    <div class="platform_toker">
                        <!--<h2>基本护理</h2>-->
                        <a href="{:U('Project/projectIndex',array('categoryId'=> $pCategoryList[1]['id']))}">
                            <notempty name="pCategoryList[1]['img']">
                                <img src="UPLOADS_IMG/{$pCategoryList[1]['img']}" alt="">
                                <else />
                                <div class='category-right-top'>
                                    {$pCategoryList[1]['name']}
                                </div>
                            </notempty>
                        </a>
                    </div>
                    <div class="platform_theme">
                        <div class="theme_purchase">
                            <!--<h2>身体护理</h2>-->
                            <a href="{:U('Project/projectIndex',array('categoryId'=> $pCategoryList[2]['id']))}">
                                <notempty name="pCategoryList[2]['img']">
                                    <img src="UPLOADS_IMG/{$pCategoryList[2]['img']}" alt="">
                                    <else />
                                    <div class='category-right-l'>
                                        {$pCategoryList[2]['name']}
                                    </div>
                                </notempty>
                            </a>
                        </div>
                        <div class="theme_purchase">
                            <!--<h2>皮肤档案</h2>-->
                            <a href="{:U('Project/projectIndex',array('categoryId'=> $pCategoryList[3]['id']))}">
                                <notempty name="pCategoryList[3]['img']">
                                    <img src="UPLOADS_IMG/{$pCategoryList[3]['img']}" alt="">
                                    <else />
                                    <div class='category-right-r'>
                                        {$pCategoryList[3]['name']}
                                    </div>
                                </notempty>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" class="project_position" value="index">
            <div class="project_content" ></div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_IMG/home/loading.gif' alt='loading'></div>
        </div>
    </div>
    <block name="footer">
        <include file="Public/footerCartWithAdd" />
    </block>
</block>

<block name="js-customize">
    <script type="text/javascript" src="PUBLIC_JS/home/cart.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        //加载商品列表
        function getPage(url,obj,currentPage) {
            var postData = {};
            postData.p = currentPage ?  currentPage : 1;
            postData.pageSize = 4;
            if(obj){
                postData.categoryId =$(obj).data('categoryid');
                postData.buyType = $(obj).data('buytype');
            }
            if(url == "/index.php/Mall/Project/projectList"){
                var content_obj = $('.project_content');
                postData.position=$('.project_position').val();
            }
            if(url == "/index.php/Mall/Goods/goodsList"){
                var content_obj = $('.goods_content');
                postData.position=$('.goods_position').val();
            }

            $.ajax({
                url: url,
                data: postData,
                type: 'get',
                beforeSend: function(){
                    $(obj).html($('#loading').html());
                },
                success: function(data){
                    if(data.status == 0){
                        dialog.error(data.info);
                    }else{
                        if(obj){
                            $(obj).prev().find('li:last').after(data);
                            var page = $(obj).data('page')+1;
                            $(obj).data('page',page);
                        }else{
                            $(content_obj).html(data);
                        }

                    }
                },
                complete: function(){
                    $(obj).html('查看更多<i></i>')
                }
            });
        }

        $(function(){
            //初始化商品
            var goods_url = MODULE+'/Goods/goodsList';
            getPage(goods_url);

            //初始化项目
            var project_url = MODULE+'/Project/projectList';
            getPage(project_url);
            //查看更多
            $('body').on('click','.view_more',function () {
                var _this = $(this);
                var currentPage = _this.data('page');
                if(_this.data('type')=='project'){
                    getPage(project_url,_this,currentPage)
                }
                if(_this.data('type')=='goods'){
                    getPage(goods_url,_this,currentPage)
                }

            });

            //滑动轮播
            var textWidth=$('.beauty_title').width()+120;
            $('.beauty_title').css({width:textWidth/2+'px'});
            var elem = document.getElementById('slider');
            window.mySwipe = Swipe(elem, {
                auto: 2500,
                callback: function(index,element){
                    //回调函数
                    $(".position li").eq(index).addClass("on").siblings().removeClass("on");
                }
            });
            $(".position li").click(
                function () {
                    mySwipe.slide($(this).index());
                }
            );
            tab_down('.common_top_nav li','.common_contents .common_tablist_wrap','click');

        });
    </script>
</block>