<!--增加业务往来记录-->
<div id="sellerServiceRecord">
    <div class="service_record_main">
        <div class="service_record_item">
            <span class="record_tit">消息标题</span>
            <input type="text" placeholder="消息标题" class="business_record_title">
        </div>
        <div class="service_record_item">
            <span class="record_tit">消息内容</span>
            <textarea name="" id="" cols="30" rows="10" placeholder="消息内容" class="business_record_content"></textarea>
        </div>
        <div class="service_record_item">
            <span class="record_tit">消息给谁</span>
            <div class="message_push">
                <a href="javascript:void(0);" class="current message_for" data-seller-id="{$taskOrder.seller_id}">卖手</a>
                <a href="javascript:void(0);" class="message_for">本人</a>
            </div>
        </div>
    </div>
</div>
