<!--卖手信息信息-->
<ul class="f24 salesassignhand_wrap">
    <li class="assignhand_list seller_recruit_list">
        <a href="javascript:void(0);">
            <div class="cs_item_wrapper">
                <div class="item-img-wrapper">
                    <empty name="seller.avatar">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="" class="cs_item_img">
                        <else/>
                        <img src="/Uploads/{$seller.avatar}" alt="" class="cs_item_img">
                    </empty>
                </div>
                <div class="cs_item_description">
                    <p>昵称:<span class="assignhand_nickname">{$seller.nickname}</span></p>
                    <p>姓名:<span class="assignhand_name">{$seller.name}</span></p>
                    <p>性别:<span class="assignhand_sex">{$seller.sex|sex}</span></p>
                    <p>类型:<span>{$seller.type|sellerType}</span></p>
                    <div class="five_star" id="five_star1">
                        <div class="star_img">
                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                            <img src="__PUBLIC__/images/sellerCompany/star.png" >
                        </div>
                        <span class="fraction"></span>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>

