{extend name="template/base.html" /}
{block name="content"}
<article class="f24 ">
    <section class="header_title separation-line">
        <a href="javascript:void(0);" class="back_prev_page" data-jump_url=""></a>
		<h2 class="f24">充值记录</h2>
	</section>
    <section class="content-padding">
        <div class="record_top_item columns_flex l-r-sides">
            <span>充值金额</span>
            <span>支付方式</span>
            <span>充值日期</span>
            <span>备注说明</span>
        </div>
        <ul class="record_item ">
            <li class="columns_flex l-r-sides">
                <span>8000.00</span>
                <span>线下支付充值</span>
                <span>2019-2-28</span>
                <span>成功</span>
            </li>
             <li class="columns_flex l-r-sides">
                <span>8000.00</span>
                <span>线下支付充值</span>
                <span>2019-2-28</span>
                <span class="audited">待审核</span>
            </li>
        </ul>
    </section>
</article>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/uploadImgToTemp.js"></script>
<script type="text/javascript">
    $(function(){
       
    });
</script>
{/block}