<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="msy_sign_title salesfavorites_title f20">
        <h2>卖手收藏夹</h2>
    </section>
    <!--我要指派给已收藏的卖手-->
    <div class="salesfavorites">
        <ul class="f24 salesassignhand_wrap">
            <include file="Public/sellerList" />
        </ul>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化
            $.each($('.assignhand_list'),function(){
                $(this).find('.five_star').setStar($(this).data('grade'));//星星评分等级
            });

            //卖手详情
            $('body').on('click','.assignhand_list',function () {
                var sellerId = $(this).data('id');
                location.href = CONTROLLER + '/sellerDetail?sellerId=' + sellerId;
            });
        });
    </script>
</block>