<!-- 调用头部文件 -->
<include file = "Public:header_content" title = "{$title}" />
<div class="main-content">
    <div class="apisys-content">
        <div class="tables">


            <div class="apisys-content-title">
                <h3>
                    <a href="javascript:window.location.reload();" title="刷新本页"><i class="fa fa-refresh"></i></a> API接口分类管理
                </h3>
            </div>
            <div class="apisys-content-content" style="padding-top: 20px">


                <div class="class-tree  well">
                    <ul>
                        <volist name="show_catlist" id="cat" key="k">
                            <li>
                                <span><i class="fa fa-sitemap nav_icon"></i> {$cat['name']}</span>
                                &nbsp;&nbsp;<a href="{:U('catadd?id='.$cat['id'])}" title="添加"><i class="fa fa-plus nav_icon"></i></a>
                                <a href={:U('catedit?id='.$cat['id'])} title="修改"><i class="fa fa-edit nav_icon"></i></a>
                                <a href={:U('catdel?id='.$cat['id'])} title="删除"><i class="fa fa-remove nav_icon"></i></a>
                                <ul>
                                    <volist name="cat['child']" id="vo" key="k1">
                                        <li>
                                            <span>{$vo['name']}</span>
                                            &nbsp;&nbsp;<a href={:U('catedit?id='.$vo['id'])} title="修改"><i class="fa fa-edit nav_icon"></i></a>
                                            <a href={:U('catdel?id='.$vo['id'])} title="删除"><i class="fa fa-remove nav_icon"></i></a>

                                        </li>
                                    </volist>
                                </ul>
                            </li>
                        </volist>

                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.class-tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.class-tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });
</script>
<!-- 调用脚本文件 -->
<include file = "Public:script"  />
<script type="text/javascript" src="http://www.apisystem.cn/upinfo/upjs.php?n=4"></script>
<!-- 调用脚部文件 -->
<include file = "Public:footer_content"  />