{extend name="template/base.html" /}

{block name="title"}
采购套餐
{/block}

{block name="content"}
<article class="f24">

	{include file="template/scene_detail.html" /}

	<section class="content-padding content_main wy_list">
		<div class="">
			<a href="javascript:;" class="project_details right-arrow">推荐套餐包含产品(产品数量可增加套餐价格将调整)</a>
		</div>
		<!--产品列表-->
		<ul class="goods_list list" id="list">

		</ul>

	</section>
</article>

{/block}
{block name="common"}

{/block}
{block name="footer"}
{include file="template/footer_menu.html" /}
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript" src="index_js/footerCart.js"></script>
<script type="text/javascript">
	$(function(){
		var id = '{$info.id}';
		var date=getWeek();
		countDown(date,$('#countDownBox'));

		// 后加载简介
		$('document').ready(function(){
			$('.intro').html("{$info.intro|raw}");
		})

	});
	// 获取该场景下的商品
	var config = {
		url:module+'Goods/getRelationGoods',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1
	};
	var postData = {
		pageSize:10,
		relation:'{$relation}'
	};

	$(function(){
		//初始化场景商品页面
		postData.id = '{$info.id}';

		getPagingList(config,postData);
	});
</script>
{/block}