{extend name="template/base.html" /}
{block name="title"}采购套餐{/block}
{block name="header"}{/block}
{block name="content"}
<article class="f24">
	{include file="template/scene_detail.html" /}
	<section class="content-padding content_main wy_list">
		<div class="">
			<span>推荐套餐包含产品(产品数量可增加套餐价格将调整)</span>
		</div>
		<!--产品列表-->
		<!--产品列表-->
		<ul class="goods_list list" id="list">
			<div id="product-select">
				<product-select
						v-for="productInfo in productList"
						:key="productInfo.id"
						:product_id="productInfo.id"
						:deal_price="Number(productInfo.bulk_price)"
						:product_name="productInfo.headline"
						:product_src="productInfo.thumb_img"
						:product_url="String(productInfo.id)"
						:buy_named="buy_named"
						:init_quantity="parseInt(init_quantity)"
						:step_quantity="parseInt(step_quantity)"
						:display_pic="display_pic"
				></product-select>
			</div>
		</ul>
	</section>
</article>
{/block}
{block name="common"}
	{include file="../../api/public/vue/components/footer-cart-menu.html" /}
{/block}
{block name="login_dialog"}
	{include file="../../api/public/vue/components/login.html" /}
	<div id="loginDialogTpl" style="display: none">
		<div id="loginDialogRoot">
			<login
			></login>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			new Vue({
				el:'#loginDialogRoot',
				data:function(){
					return {};
				},methods: {
				}
			});
		});
		//登录-弹窗触发
		function loginDialogTrigger(){
			var content = $('#loginDialogTpl').html();
			layer.open({
				className:'loginLayer',
				type:1,
				shadeClose:false,
				content:content,
				btn:[''],
				success:function(index){
					//注册layer切换当前事件
					$('body').on('click',$('.loginLayer').find('li'),function(){
						//触发-切换当前-事件
						bus.$emit('switchCurrent');
					});
				},yes:function(index){
					layer.close(index);
				}
			});
		}
	</script>
{/block}
{block name="footer"}
<div id="foot_cart_menu">
	<footer-cart-menu
			:buy_now_call_back="buy_now_call_back"
			:cart_init_num="cart_init_num"
	></footer-cart-menu>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swiper.min.js"></script>
<script type="text/javascript">
	function getJsonListCallBack(data){
		if(data.status==0){
			dialog.error(data.info);
			return false;
		}
		param = {
			'buy_named':'采购数量',
			'display_pic':true,
			'init_quantity':1,
			'step_quantity':1,
			'productList':data.data
		};
		new Vue({
			el: '#product-select',
			data:function(){
				return param;
			}
		});
	}
	// 商品
	var config = {
		url:module+'Goods/getPromotionGoods',
		requestEnd:false,
		loadTrigger:false,
		currentPage:1,
		callBack:getJsonListCallBack
	};
	var postData = {
		pageSize:10,
		id:"{$info.id}"
	};
	$(function(){
		let param = {
			cart_init_num:parseInt("{$cartSum|default=0}")
		};
		new Vue({
			el: '#foot_cart_menu',
			data:function(){
				return param;
			},methods: {
				buy_now_call_back:function(param){
					var postData = {};
					postData.goodsList = param.postData.productList;
					$.ajax({
						url: param.jump_url,
						data: postData,
						type: 'post',
						beforeSend: function(){
							$('.loading').show();
						},
						error:function(){
							dialog.error('AJAX错误');
						},
						success: function(data){
							if(data.status){
								location.href = module + 'Order/confirmOrder/order_sn/' + data.order_sn;
							}else{
								dialog.error(data.info);
							}
						}
					});
				}
			}
		});
		//初始化场景商品页面
		postData.id = '{$info.id}';
		getJsonList(config,postData);
	});
	$(function(){
		var date=getWeek();
		countDown(date,$('#countDownBox'));
		// 后加载简介
		$('document').ready(function(){
			$('.intro').html("{$info.intro|raw}");
		});
		//轮播
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			autoplay:true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true
			}
		});
	});
</script>
{/block}