<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_o2o.jpg" /></div>
            <div><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_o2o.jpg" /></div>
            <div><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_o2o.jpg" /></div>
            <div><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_o2o.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- nav-->
    <section class="store_m_nav">
        <ul class="store_nav f24">
            <li><a href="{:U('Home/Index/storeSettings')}"><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_set.png" alt=""><span>云店设置</span></a></li>
            <li><a href="javascript:void(0);"><img src="{$Think.config.PUBLIC_IMG}/home/shopping_mall.png" alt=""><span>我的商城</span></a></li>
            <li><a href="javascript:void(0);"><img src="{$Think.config.PUBLIC_IMG}/home/mall_income.png" alt=""><span>商城收益</span></a></li>
            <li><a href="javascript:void(0);"><img src="{$Think.config.PUBLIC_IMG}/home/cloudstore_toker.png" alt=""><span>云店拓客</span></a></li>
            <li><a href="javascript:void(0);"><img src="{$Think.config.PUBLIC_IMG}/home/toker_admin.png" alt=""><span>拓客管理</span></a></li>
        </ul>
    </section>
    <section class="store_type_banner">
        <a href="javascript:void(0);">
            <img src="{$Think.config.PUBLIC_IMG}/home/store_img_1.jpg" alt="">
        </a>
        <a href="javascript:void(0);">
            <img src="{$Think.config.PUBLIC_IMG}/home/store_img_2.jpg" alt="">
        </a>
        <a href="javascript:void(0);">
            <img src="{$Think.config.PUBLIC_IMG}/home/store_img_3.jpg" alt="">
        </a>
    </section>
</block>
<block name="mjs-customize">
    <!-- 轮播图 -->
    <script>
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
            auto: 2500,
            callback: function(index,element){
                //回调函数
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
            function () {
                mySwipe.slide($(this).index());
            }
        )
    </script>
</block>
