{notempty name='list'}
<table class="table tb-type2">
    <thead>
    <tr class="thead">
        <th></th>
        <th>#</th>
        <th>订单时间</th>
        <th>订单编号</th>
        <th>收货人</th>
        <th>支付方式</th>
        <th>订单状态</th>
        <th>售后</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr class="hover" data-id="{$vo.id}">
        <td class="w48"><input type="checkbox" class="checkitem" name="checkbox">
        <td class="w48 sort">{$vo.id}</td>
        <td class="w48 sort">{$vo.create_time|date='Y-m-d H:i'}</td>
        <td class="w48 sort">{$vo.sn}</td>
        <td class="w48 sort">{$vo.mobile_phone}</td>
        <td class="w48 sort">{$Think.config.custom.pay_code[$vo.order_status]}</td>
        <td class="w48 ">
            {$Think.config.custom.order_status[$vo.order_status]}
        </td>
        <td class="w48">
            {$Think.config.custom.after_sale_status[$vo.after_sale_status]}
        </td>
        <td class="w96">
            <a href="javascript:void(0);" class="info" style="text-decoration:none" title="详情">订单详情</a>
            | <a href="javascript:void(0);" class="edit" style="text-decoration:none" title="打印订单">打印订单</a>
            {if $vo.order_status == 2}
            <!--2:待收货-->
            | <a href="javascript:void(0);" class="ship" style="text-decoration:none" title="发货">发货</a>

            {elseif $vo.order_status == 3 }
            <!--3:待评价-->
            <a href="javascript:void(0);" class="to_evaluate">评价</a>

            {else /}

            {/if}
        </td>
        <td>
            <form style="display:none;" class="consigneeInfo">
                <input type="hidden" class="" name="province" value="{$vo.province}" />
                <input type="hidden" class="" name="city" value="{$vo.city}" />
                <input type="hidden" class="" name="area" value="{$vo.area}" />
            </form>
        </td>
    </tr>
    {/volist}
    </tbody>
    <tfoot>
    <tr class="tfoot">
        <td><input type="checkbox" class="checkall" id="checkall_2"></td>
        <td id="batchAction" colspan="15">
            <span class="all_checkbox btn btn-primary radius"><label for="checkall_2">全选</label></span>&nbsp;&nbsp;
      <!--      <a href="javascript:void(0);" class="btn btn-danger radius batchDel"><i class="Hui-iconfont"></i> 批量删除</a>-->
        </td>
    </tr>
    </tfoot>
</table>
{else/}
<div>没有数据</div>
{/notempty}

{$list|raw}



