{extend name="template/admin_pc/base.html" /}
{block name="content"}

<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <!-- 先不要 -->
      <!--  <span class="r">共有数据：<strong id="count">4</strong> 条</span>-->
    </div>
	<div class="main-content mt-20" id="mainContent">
		<div class="navbar-default mb-20">
			<form id="form1" >
				<div class="form-group">
					<select name="order_status" class="form-control">
						<option value="" selected="selected">订单状态</option>
						<option value="1">待付款</option>
						<option value="2">待收货</option>
						<option value="3">待评价</option>
						<option value="4">已完成</option>
						<option value="5">已取消</option>
						<option value="6">售后申请</option>
					</select>
				</div>
				<div class="form-group">
					<select name="type" class="form-control">
						<option value="">付款方式</option>
						{foreach $Think.config.custom.pay_code as $k => $vo}
						<option value="{$k}">{$vo}</option>
						{/foreach}
					</select>
				</div>
				<div class="form-group">
					<select name="after_sale_status" class="form-control">
						<option value="" selected="selected">售后服务</option>
						<option value="1">待处理</option>
						<option value="2">已完成</option>
					</select>
				</div>
				<div class="form-group">日期范围：
					<input type="text" name="start_time" id="countTimestart" onfocus="selecttime(1)" value="" size="17" class="date" readonly>
					-
					<input type="text" name="end_time" id="countTimeend" onfocus="selecttime(2)" value="" size="17"  class="date" readonly>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input type="text" name="keyword" value="" placeholder="订单号"  class="form-control input-order-id">
					</div>
				</div>
				<!--排序规则-->
				<input type="button" id="search" class="btn btn-primary" value="搜索"><i class="fa fa-search"></i>
			</form>
		</div>
		<div class="content" id="list"></div>
	</div>
</div>

<section id="expressDeliveryHtml" style="display:none;">
	<div class="pd-20">
		<div class="Huiform">
			<form id="fromExpress">
				<table class="table table-bg">
					<tbody>
					<tr>
						<th class="text-r">订单编号：</th>
						<td id="expressOrderSn"></td>
					</tr>
					<tr>
						<th width="100" class="text-r"><span class="c-red">*</span>快递公司：</th>
						<td>
							<select>
								<option value="">请选择</option>
								{volist name="expressList" id="vo"}
								<option value="{$vo.id}">{$vo.name}</option>
								{/volist}
							</select>
						</td>
					</tr>
					<tr>
						<th class="text-r"><span class="c-red">*</span>快递号：</th>
						<td><input type="text" style="width:300px" class="input-text" value="" placeholder="" name="express_sn"></td>
					</tr>
					<tr>
						<th class="text-r">收货信息：</th>
						<td id="express"></td>
					</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</section>

{/block}
{block name="script"}
<script type="text/javascript" src="http://www.hss.cc/static/common/js/jquery.area.js"></script>
<script type="text/javascript" src="hui_lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
	$(function () {

		//加载第一页 这个需要配置公用???
		var config = {
			url:controller+'getList'
		};
		var getData = $('#form1').serializeObject();
		getPagingList(config,getData);

		//翻页
		$('body').on('click','.pager2',function(){
			var curIndex= $(this).parents('ul.pagination').find('li.active span').text();
			var selectedPage=$(this).data('page');
			if(selectedPage=='»'){
				curIndex++;
				selectedPage=curIndex;
			}
			if(selectedPage=='«'){
				curIndex--;
				selectedPage=curIndex;
			}
			config.currentPage = selectedPage;

			var getData = $('#form1').serializeObject();

			getPagingList(config,getData);
		});
		//搜索
		$('#search').click(function(){
			//config.currentPage = 0;
			var getData = $('#form1').serializeObject();
			getPagingList(config,getData);
		});
		$("body").on('click','.ship',function(){



			// 省市id转换成字符地址
			var data=$(this).parents('tr').find(".consigneeInfo").serializeObject();

/*			console.log(data);
			return ;*/
			$("#expressOrderSn").html();
			if(!$.isEmptyObject(data)){
				var region = [];
				region.push(data.province);
				region.push(data.city);
				region.push(data.area);

				$("#express").setArea(region);
				$("#express").append(data.detail_address);
			}

			expressDeliveryHtml();
		});

	});

	// 日期
	function selecttime(flag){
		if(flag==1){
			var endTime = $("#countTimeend").val();
			if(endTime != ""){
				WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:endTime})
			}else{
				WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})
			}
		}else{
			var startTime = $("#countTimestart").val();
			if(startTime != ""){
				WdatePicker({dateFmt:'yyyy-MM-dd',minDate:startTime,maxDate:'%y-%M-%d'})
			}else{
				WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})}
		}
	}

	// 发货
	function expressDeliveryHtml(info){

		var content = $('#expressDeliveryHtml').html();

/*		console.log(content);
		return false;*/
		layer.open({
			className:'loginLayer',
			type:1,
			shadeClose:false,
			content:content,
			btn:[''],
			success:function(){

			},
			yes:function(index){
				var postForm = $('#fromExpress');
				var content='';
				var postData = postForm.serializeObject();
				console.log(postData);
				return false;
				var oLis=$('.forgetWalletPasswordLayer input.password_item');
				var password='';
				for(var i=0;i<oLis.length;i++){
					password=password+$(oLis[i]).val();
				}
				postData.password = password;

				if(!register.vfyCheck(postData.captcha)){
					content = "请输入正确的验证码";
				}else if(!postData.password&&postData.password.length<6){
					content = "请输入6位数字的密码";
				}
				if(content){
					dialog.error(content);
					return false;
				}

				var url = module+'Wallet/forgetPassword';
				$.post(url,postData,function (data) {
					if(data.status){
						layer.closeAll();
						layer.open({
							content : '设置成功',
							time : 1,
							skin: 'msg',
							end : function(){
								if(info.jump_url){
									location.href=info.jump_url;
								}
							}
						});
						return true;
					}
					if(!data.status){
						dialog.success(data.info);
						return false;
					}
				},'JSON');
			}
		});
	}

</script>
{/block}