{extend name="template/admin_pc/base.html" /}

{block name="content"}

<div class="page-container">
    <div class="form form-horizontal" id="form1">
        <div class="row cl">
            <div class="col-xs-4 col-sm-2"><strong>订单信息</strong></div>
        </div>
        <div class="row cl">
            <div class="col-sm-12">订单编号：{$info.sn}</div>
            <div class="col-sm-12">支付方式：{$Think.config.custom.pay_code[$info.pay_code]}</div>
            <div class="col-sm-12">支付时间：{$info.payment_time|date='Y-m-d H:i:s'}</div>
            <div class="col-sm-12">交易流水：{$info.pay_sn}</div>
            <div class="col-sm-12">配送方式：{$info.express_sn}</div>
        </div>
        <div class="row cl">
            <div class="col-sm-12"><strong>收货人信息</strong></div>
        </div>
        <div class="row cl">
            <div class="col-sm-12">收货人：{$info.consignee}</div>
            <div class="col-sm-12">联系电话：{$info.mobile}</div>
            <div class="col-sm-12">收货地址：{$info.complete_address}</div>
        </div>
        <div class="order-box">
            <div class="box-head"><strong>商品清单</strong></div>
            <div class="goods-head">
                <div class="goods">商品</div>
                <div class="number">商品编号</div>
                <div class="price">单价</div>
                <div class="num">数量</div>
                <div class="t-price">总价</div>
            </div>
            <div class="goods-item">
                <div class="goods-list">
                    {volist name="info['goods_info']" id="vo"}
                    <div class="item j-g4">
                        <div class="goods">
                            <div class="img">
                                <a href="{:url('Goods/detail',['id'=>$vo.id])}" target="_blank">
                                    <img src="{:show_img_handle($vo.goods_img)}" width="80" height="80" title="{$vo.goods_name}">
                                </a>                              
                            </div>   
                            <div class="name">{$vo.goods_name}</div>                         
                        </div>
                        
                        <div class="spec"></div>
                        <div class="price">¥{$vo.price}</div>
                        <div class="num">{$vo.num}</div>
                        <div class="t-price">¥{$vo.price*$vo.num}</div>
                        <div class="f-clear"></div>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="goods-footer">
                <div class="goods-summary" style="text-align:right">
                    <div class="summary">商品总金额：¥<span>{$info.amount}</span></div>
                    <div class="summary line">应付总金额：¥<span>{$info.actually_amount}</span></div>
                    <div class="summary">优惠抵扣金额：¥-<span>{$info.coupons_amount}</span></div>
                    <div class="summary">实付总金额：¥<span>{$info.actually_amount}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}