<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_certification">
            <div class="weChat_avatar_info Mall_person_center">
                <div>
                    <if condition="$user.avatar neq '' ">
                        <img src="UPLOAD_IMG/{$user.id_url}" alt="" class="weChat_avatar" />
                        <elseif condition="$wxUser.headimgurl neq '' " />
                        <img src="{$wxUser.headimgurl}" alt="" class="weChat_avatar" />
                        <else />
                        <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="" class="weChat_avatar" />
                    </if>
                    <div class="weChat_av_r">
                        <h2 class="person">商城个人中心</h2>
                        <notempty name="user">
                            <if condition="$user.nickname neq '' ">
                                <span>{$user.nickname}</span>
                                <elseif condition="$wxUser.nickname neq '' "/>
                                <span>{$wxUser.nickname}</span>
                                <else /><span>nobody</span>
                            </if>
                            <if condition="$user.mobile_phone neq '' "><span>{$user.mobile_phone|substr_replace='****',3,4}</span></if>
                            <else/>
                            <a href="{:U('Home/User/login')}">登录</a>
                            <span class="separation_line">|</span>
                            <a href="{:U('Home/User/register')}">注册</a>
                        </notempty>
                    </div>
                </div>
                <div class="weChat_av_home">
                    <a href="{:U('Mall/Index/index')}"><i></i><span>首页</span></a>
                </div>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <ul class="person_pending buy_cart_pending">
                    <li>
                        <a href="{:U('Cart/index')}">
                            <i class="cart"></i>
                            <span class="person_cart">购物车<em>{$cartCount['1']}</em></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <span>我的订单管理</span>
            </div>
            <div class="person_center_item">
                <ul class="person_pending">
                    <li>
                        <a href="{:U('Order/orderManage',array('s'=>1))}">
                            <i class="pay"></i>
                            <span class="person_cart">待付款<em>{$orderStatusCount['1']}</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderManage',array('s'=>2))}">
                            <i class="receipt"></i>
                            <span class="person_cart">待收货<em>{$orderStatusCount['2']}</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderManage',array('s'=>3))}">
                            <i class="evaluate"></i>
                            <span class="person_cart">待评价<em>{$orderStatusCount['3']}</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Order/orderManage',array('s'=>4))}">
                            <i class="success"></i>
                            <span class="person_cart">已完成<em>{$orderStatusCount['4']}</em></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="customer_service"></i>
                            客服
                        </a>
                    </li>
                </ul>
            </div>
            <div class="person_center_item">
                <a href="{:U('ConsigneeAddress/addressList')}" class="consignee_address right-arrow">收货人地址管理</a>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <a href="javascript:void(0);" class="cash_coupon right-arrow">我的代金券</a>
            </div>
            <div class="person_center_item">
                <a href="javascript:void(0);" class="pushing_income right-arrow my_qrcodes">我的推客二维码</a>
            </div>
            <div class="person_center_item">
                <a href="javascript:void(0);" class="pushing_income right-arrow"><span>我的推客收益<em>3</em></span></a>
            </div>
        </section>
    </article>
    <section id="codeLayer" class="express-code-box">
        <div class="f24">
            <div class="twitter_code_tipc">
                <h2>推客二维码</h2>
                <P>长按图片保存到手机相册</P>
                <P>然后微信推送给微信好友</P>
                <span class="closeBtn"></span>
            </div>
            <div class="twitter_code_img">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <div id="areaMask" class="mask QR_codes_mask"></div>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //我的二维码
            $('body').on('click','.my_qrcodes',function(){
                var url = MODULE + '/Referrer/myQRCodes';
                $.ajax({
                    url:url,
                    type: 'post',
                    beforeSend: function(){
                        $('.loading').show();
                    },
                    error:function (xhr) {
                        $('.loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('.loading').hide();
                        console.log(data);
//                        if(data.status == 0){
//                            if(data.url){
//                                location.href = data.url;
//                            }else{
//                                dialog.error(data.info);
//                            }
//                        }else if(data.status == 1){
//                            if(data.info=='isAjax'){
//                                loginDialog(flushPage);
//                            }else{
//                                $('.mask,.express-code-box').fadeIn();
//                                $('.twitter_code_img img').attr('src','/Uploads/'+data.url);
//                            }
//                        }
                    }
                });
            });
            //关闭删除二维码
            $("#areaMask,.closeBtn").click(function() {
                $("#areaMask,.express-code-box").fadeOut();
            });
        });
    </script>
</block>