<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_certification">
            <div class="weChat_avatar_info">
                <div>
                    <if condition="$user.avatar neq '' ">
                        <img src="UPLOAD_IMG/{$user.id_url}" alt="" class="weChat_avatar" />
                        <elseif condition="$wxUser.headimgurl neq '' " />
                        <img src="{$wxUser.headimgurl}" alt="" class="weChat_avatar" />
                        <else />
                        <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="" class="weChat_avatar" />
                    </if>
                    <div class="weChat_av_r">
                        <h2 class="person">商城个人中心</h2>
                        <if condition="$user.nickname neq '' ">
                            <span>{$user.nickname}</span>
                            <elseif condition="$wxUser.nickname neq '' "/>
                            <span>{$wxUser.nickname}</span>
                            <else /><span>nobody</span>
                        </if>
                        <if condition="$user.mobile_phone neq '' "><span>{$user.mobile_phone|substr_replace='****',3,4}</span></if>
                    </div>
                </div>
                <a><i></i><span>首页</span></a>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <ul class="person_pending">
                    <li>
                        <a>
                            <i class="cart"></i>
                            购物车
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <span>我的订单管理</span>
            </div>
            <div class="person_center_item">
                <ul class="person_pending">
                    <li>
                        <a>
                            <i class="pay"></i>
                            待付款
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="receipt"></i>
                            待收货
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="evaluate"></i>
                            待评价
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="cancle"></i>
                            已完成
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="customer_service"></i>
                            客服
                        </a>
                    </li>
                </ul>
            </div>
            <div class="person_center_item">
                <a href="javascript:void(0);" class="consignee_address right-arrow">收货人地址管理</a>
            </div>
        </section>
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <a href="javascript:void(0);" class="cash_coupon right-arrow">我的代金券</a>
            </div>
            <div class="person_center_item">
                <a href="javascript:void(0);" class="pushing_income right-arrow">我的推客收益</a>
            </div>
        </section>
        <section class="person_center_list">
            <div class="person_center_item">
                <a href="javascript:void(0);" class="pushing_income right-arrow">登录账户管理</a>
            </div>
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
        });
    </script>
</block>