<extend name="Public:base" />
<block name="title">升级VIP采购商</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class=" f24">
        <section class="purchase_vip_banner">
            <img src="PUBLIC_IMG/purchase/personal_center/purchase_vip.jpg" alt="">
        </section>
        <section class="purchaseVip_customer_item">
            <ul >
                <notempty name="levelList">
                    <volist name="levelList" id="vo">
                        <li data-id="{$vo.id}">
                            <empty name="vo.img">
                                <img src="PUBLIC_IMG/common/default/no_pic_100.jpg" alt="">
                                <else/>
                                <img src="UPLOADS_IMG/{$vo.img}" alt="">
                            </empty>
                            <div class="ordinary_r">
                                <div class="store_score_star five_star">
                                    <div class="star_img empty_star">
                                        <span class="real_star" style="width: 50px;"></span>
                                    </div>
                                </div>
                                <div>资格充值 <span>￥<price>{$vo.fee}</price></span></div>
                                <div>结算折扣 <span>{$vo.settlement_discount}</span></div>
                                <div>推客收益 <span>{$vo.name}</span></div>
                            </div>
                        </li>
                    </volist>
                </notempty>
            </ul>
            <p>说明：普通采购商结算折扣2.5起，按特约云店推客收益</p>
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //星星评分等级
            $('.star_img').classStar(2.1);
            console.log($('.five_star').getStar());

            //详情
            $('ul>li').click(function(){
                var levelId = $(this).data('id');
                location.href = CONTROLLER + '/levelDetail/levelId/' + levelId;
            });
        });
    </script>
</block>