

<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/registration.css">
</block>
<block name="content">
    <div id="uploadPicture">
        <div class="uploadImg_cell f20">
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl1" type="file" class="uploadImg"  >
                    <input  class="file_upload_image" type="hidden"  name="imgurl1" value="">
                   
                        <img class="upload_img" src="__ROOT__/{$info.imgurl1}" />

                    <img class="upload_img" src="">

                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl2" type="file" class="uploadImg"  >
                    <input  class="file_upload_image" type="hidden"  name="imgurl2" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl2}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl3" type="file" class="uploadImg"  >
                    <input  class="file_upload_image" type="hidden"  name="imgurl3" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl3}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl4" type="file" class="uploadImg" >
                    <input  class="file_upload_image" type="hidden"  name="imgurl4" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl4}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl5" type="file" class="uploadImg" >
                    <input  class="file_upload_image" type="hidden"  name="imgurl5" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl5}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input  name="imgurl6" type="file" class="uploadImg" >
                    <input  class="file_upload_image" type="hidden"  name="imgurl6" value="">

                    <img class="upload_img" src="__ROOT__/{$info.imgurl6}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl7" type="file" class="uploadImg" >
                    <input  class="file_upload_image" type="hidden"  name="imgurl7" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl7}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input name="imgurl8" type="file" class="uploadImg" >
                    <input  class="file_upload_image" type="hidden"  name="imgurl8" value="">
                    <img class="upload_img" src="__ROOT__/{$info.imgurl8}">
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="form" name="">
        <div class="register_info">
            <div class="uploadImg_map f20">
                <div class="upload_td msy_image_map">
                    <input name="imglogourl" type="file" class="uploadImg" >
                    <img class="upload_img" src="__ROOT__/{$info.imglogourl}" alt="">
                    <span>点击可更换机构形象图</span>
                </div>

            </div>
            <section class="f24 msy_basis">
                <ul>
                    <li>
                        <label for="">美容机构全称</label>
                        <input type="text" name="name" value="{$info.name}" placeholder="美容机构全称" class="organiza_name">
                    </li>
                    <li>
                        <label for="">美容机构简称</label>
                        <input type="text" name="organizajc" value="{$info.organizajc}" placeholder="美容机构简称" class="organiza_jc">
                    </li>
                    <li>
                        <label for="">美容机构简介</label>
                        <input type="text" name="description" value="{$info.description}" class="base_intro" placeholder="编辑美容机构简介"/>
                    </li>
                    <li>
                        <label for="">美容机构形象</label>
                        <a href="javascript:" class="base_img">上传美容机构形象照片（最多8张）</a>
                    </li>
                </ul>
                </ul>
            </section>
            <div class="weui_btn_area">
                <!--<a class="weui_btn weui_btn_primary upload_comfirm" href="javascript:;" >确定</a>-->
                <button type="button" class="weui_btn weui_btn_primary upload_comfirm" id="submit">确定</button>
            </div>
        </div>
    </form>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script>
        $(function(){

            // 上传图片
            $('body').on('change','.uploadImg',function(){
                var _this=$(this);
                var img = event.target.files[0];
                var obj=$(this).parent();
                var field=$(this).attr("name");
               /// alert(field);
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    //console.log(e.target.result);
                    $(obj).addClass('active');
                    $(obj).find('img').attr('src',imgUrl);

                    $.post("ajaxupload", { img: e.target.result,field:field},function(ret){
                        if(ret.status==1){

                            _this.siblings('.file_upload_image').attr('value',ret.data);
//                            _this.siblings('.upload_img').attr('value' ,ret.data);
//                            $('.uploadImg').html('<img src="' + ret.img + '">');
                        }else{
                            dialog.error(ret.message);

                        }
                    },'json');



                }
            });

            //编辑简介
            $('.base_intro').on('click',function(){
                var editIntro=$(this).val();
                layer.open({
                    title:['编辑美容机构简介','border-bottom:1px soild #d9d9d9;'],
                    className:'edit_intro_layer',
                    content:'<textarea placeholder="美容机构简介..." value="" class="edit_content">'+editIntro+'</textarea>',
                    btn:'确定',
                    yes: function(index){
                        $('.base_intro').val($('.edit_content').val());
                        layer.close(index);
                    }
                })

            });

            //上传图片弹窗
            $('.base_img').on('click',function(){


                var uploadPic=$('#uploadPicture').html();
                layer.open({
                    title:['上传美容机构形象照片（最多8张）','border-bottom:1px soild #d9d9d9;'],
                    className:'edit_intro_layer',
                    content:uploadPic,
                    btn:'确定'
                })
            });

            //验证机构名称
            $('.upload_comfirm').on('click',function(){
                var content='';
                var organizaName=$('.organiza_name').val();
                var organizaJc=$('.organiza_jc').val();
                var jcTextarea=$('.base_intro').val();




//                var content='';
//                if(!organizaName){
//                    content="请输入机构全称";
//                }else if(!organizaJc){
//                    content="请输入机构简称";
//                }else if(!jcTextarea){
//                    content="请编辑机构简介";
//                }
//
//                if(content){
//                    layer.open({
//                        content:content,
//                        time: 2
//                    });
//                    return false;
//                }

//        var data = $("#form").serializeArray();
//        postData = {};
//        $(data).each(function(i){
//            postData[this.name] = this.value;
//        });
//
//                console.log(postData);

                $.post("editInfo", $('#form').serialize(),function(result){
                    console.log(result);
                    if(result.status == 0) {
                        return dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        return dialog.confirm(result.message,"prestore_base");
                    }


                },'json');


            })

        })
    </script>
</block>