<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <!--弹窗公共布局-->
    <div id="storeBranch">
        <form id="form1">
            <ul>
                <li>
                    <input type="text" placeholder="分公司名称" name="name" class="store_name" value="">
                </li>
            </ul>
        </form>
    </div>
    <!--追加列表公共布局-->
    <div id="storeBranchList">

        <li>
            <span class='s_title'>分公司名称</span><span class='b_n_val' ></span>
            <a href='javascript:void(0);' class='del_btn'>删除</a>
            <a href='javascript:void(0);' class='mod_btn'>修改</a>
        </li>

    </div>
    <section class="msy_sign_title f20">
        <h2>编辑美容机构分公司</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f20 edit_nav">
            <a  href="javascript:;" class="add_a">
                <span class="add_ad"></span>
                增加分公司
            </a>
            <a href="javascript:;" class="del_a">
                <span class="del_ad"></span>
                删除分公司
            </a>
            <a href="javascript:;" class="up_a">
                <span class="up_ad"></span>
                修改分公司
            </a>
        </nav>
    </section>
    <!--编辑地址动态追加列表-->
    <ul class="f24 store_ad_list" >
        <empty name="companyList">
            <li>
                <span class='b_n_title'>无分公司</span>
            </li>
            <else />
            <volist name="companyList" id="vo">
                <li>
                    <span class='b_n_title'>分公司名称</span><span class='b_n_val'>{$vo.name}</span>
                    <a href='javascript:void(0);' id ="edit_store" class='edit_store_ad'>编辑该分公司所属的门店地址</a>
                    <input type="hidden" name="companyId" value="{$vo.id}">
                    <input type="hidden" name="companyType" value="{$vo.type}">
                    <a href='javascript:void(0);' class='del_btn'>删除</a>
                    <a href='javascript:void(0);' class='mod_btn'>修改</a>
                </li>
            </volist>
        </empty>
    </ul>
    <p class="f24 edit_ad_tipc">注：编辑完所有分公司后再按下一步</p>
    <div class="weui_btn_area">
        <a id="next" class="weui_btn weui_btn_primary" href="javascript:void(0);">下一步</a>
    </div>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //添加门店地址
            var branchAdd=$('#storeBranch').html();
            $('body').on('click','.add_a',function(){

                layer.open({
                    btn:['确定','取消'],
                    title:['增加分公司','border-bottom:1px solid #d9d9d9;'],
                    className:'store_ad_layer',
                    content:branchAdd,
                    yes: function(index){
                        var layerForm=$('div[index="'+index+'"]').find('#form1');
                        var addStoreJson={
                            storeCompany:layerForm.find('.store_name').val()
                        }
                        var name = addStoreJson.storeCompany;//分公司名称
                        //alert(name);
                        var html='';
                        html+="<li>";
                        html+="<p><span class='b_n_title'>分公司名称</span><span class='b_n_val'>"+addStoreJson.storeCompany+"</span></p>";
                        html+="<a href='javascript:void(0);' class='del_btn'>删除</a>";
                        html+="<a href='javascript:void(0);' class='mod_btn'>修改</a>";
                        html+="</li>";
                        $('.store_ad_list').prepend(html);
                        $('.del_btn,.mod_btn').css('display','none');
                        layer.close(index);


                        //增加分公司。
                        $.post('bigmultipleshop',{name:name},function (msg) {
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                //alert(msg.data);
                            }
                        },'JSON')

                    }
                });



            });

            //删除分公司
            $('.del_a').on('click',function(){
                $('.del_btn').css('display','block');
                $('.mod_btn').css('display','none');
            });

            $('body').on('click','.del_btn',function(){
                var _this=$(this);
                layer.open({
                    content:'确定删除选定的分公司？',
                    btn:['确定','取消'],
                    yes:function(index){
                        _this.parent().remove();
                        layer.close(index);
                        var companyId = _this.parent().find('[name=companyId]').val();//分公司ID
                        $.post('delCompany',{companyId:companyId},function (msg) {
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                //alert(msg.data);
                            }
                        },'JSON')


                    }
                })
            });

            //修改分公司
            $('.up_a').on('click',function(){
                $('.mod_btn').css('display','block');
                $('.del_btn').css('display','none');


            });

            $('body').on('click','.mod_btn',function(){
                //$(this).parents("tr").find(".id").text();
                var _this=$(this);
               var companyId = _this.parent().find('[name=companyId]').val();
                var companyType = _this.parent().find('[name=companyType]').val();
                var name;
                layer.open({
                    title:'修改公司名称',
                    className:'store_ad_layer',
                    btn:'确定',
                    content:branchAdd,
                    yes:function(index){
                        var layerForm=$('div[index="'+index+'"]');
                        _this.parent().find('.b_n_val').text(layerForm.find('.store_name').val());
                        var name=layerForm.find('.store_name').val();//分公司名
                        layer.close(index);
                        $.post('bigmultipleshop',{companyId:companyId,name:name},function (msg) {
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                //alert(msg.data);
                            }
                        },'JSON')

                    }
                })
                //列表值赋值给弹层对应的值
              $('.store_name').val(_this.parent().find('.b_n_val').text());
            });

            $('body').on('click','#edit_store',function(){
                var companyId = $(this).parent().find('[name=companyId]').val();
                var companyName = $(this).parent().find('.b_n_val').text();
                location.href = '__CONTROLLER__/BranchShopAddress';
          })

            $('.weui_btn_primary').on('click',function(){

                location.href = '__CONTROLLER__/BranchShopAddress';
            })

        })
    </script>
</block>