<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">

</block>
<block name="content">
    <!--编辑分公司门店地址弹窗-->
    <div id="storeAddress">
        <form name="" id="form1">
            <ul class="f24">
                <li>
                    <p class="f20 upload_st_logo"><span>*注意</span>：请上传jpg、jpeg、png、gif格式图片</p>
                    <div class="uploadImg_map f20">
                        <div class="upload_td msy_image_map">
                            <input type="file" class="uploadImg" name="shop_logo">
                            <input  class="file_upload_image" type="hidden"  name="logo_url" value="">
                            <img class="upload_img" src="" alt="">
                            <span class="f20">点击上传门店形象图</span>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="javascript:void(0);" class="edit_s_b">更改门店所属分公司</a>
                    <div  class="t_branch_c">所属分公司<span class="store_b_name"></span>
                        <input name="company_id" type="hidden" placeholder="所属分公司" class="company_id" value="">
                        <input name="company_name" type="hidden" placeholder="所属分公司" class="company_name" value="">
                    </div>

                    <!--<input name="company_id" type="hidden" placeholder="所属分公司" class="company_id" value="">-->
                    <!--<input name="company_name" type="hidden" placeholder="所属分公司" class="company_name" value="">-->
                </li>
                <li>
                    <label class="s_t">门店名称</label>
                    <input name="storename" type="text" placeholder="门店名称" class="store_name" value="">
                </li>
                <li>
                    <label class="s_t">地址</label>
                    <input name="address" type="text" placeholder="地址" class="store_address" value="">
                </li>
                <li>
                    <label class="s_t">固定业务电话</label>
                    <input name="fiex_mobile" type="tel" placeholder="(区号)固定电话" class="store_fixed" value="">
                </li>
                <li>
                    <label class="s_t">美容预约对接人手机号码</label>
                    <input name="mobile" type="tel" placeholder="手机号码" class="store_phone" value="">
                </li>
                <li class="map_marker">
                    <input type="text" placeholder="对门店地址进行人工地图标位" class="store_map"/>
                </li>
                <li>
                    <span>未标示</span>
                </li>
            </ul>
        </form>
    </div>
    <!--编辑门店所属分公司弹窗模板-->
    <div id="branchOffice">

        <ul class="f24">
            <volist name="companyList" id="vo">
            <li>
                <span class="branch_n_f">分公司名称</span>
                <span class="branch_n_inpt">{$vo.name}</span>
                <input type="hidden" class="companyId" name="companyId" value="{$vo.id}">
                <input type="hidden" class="companyType" name="companyType" value="{$vo.type}">
            </li>
            </volist>
        </ul>

    </div>
    <!--动态追加列表模板-->
    <div id="addBranch" style="display:none;">
        <li>
            <p>
                <span class='s_title'>所属分公司：</span>
                <span class='branch_val'></span>
            </p>
            <p>
                <span class='s_title'>门店名称：</span>
                <span class='s_n_val'></span>
            </p>
            <p>
                <span class='s_title'>地址：</span>
                <span class='s_ad_val'></span>
            </p>
            <p>
                <span class='s_title'>电话：</span>
                <span class='s_m_val'></span>
            </p>
            <p>
                <span class='s_title'>手机号码：</span>
                <span class='s_ph_val'></span>
            </p>
            <a href='javascript:void(0);' class='del_btn'>删除</a>
            <a href='javascript:void(0);' class='mod_btn'>修改</a>
        </li>
    </div>
    <section class="msy_sign_title f20">
        <h2>编辑美容机构门店地址</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f24 edit_nav">
            <a href="javascript:;" class="add_a">
                <span class="add_ad"></span>
                增加门店地址
            </a>
            <a href="javascript:;" class="del_a">
                <span class="del_ad"></span>
                删除门店地址
            </a>
            <a href="javascript:;" class="up_a">
                <span class="up_ad"></span>
                修改门店地址
            </a>
        </nav>
    </section>
    <!--编辑地址动态追加列表-->
    <ul class="f24 store_ad_list" >
        <empty name="shopList">
            <li><span>(暂无数据)</span></li>
            <else/>
            <volist name="shopList" id="vo">
                <li>
                    <p>
                        <span class='s_title'>所属分公司：</span>
                        <span class='branch_val'>{$vo.company_name}</span>
                        <input type="hidden" class="company_id" name="company_id" value="{$vo.company_id}">
                        <input type="hidden" class="logo_url" name="logo_url" value="{$vo.logo_url}">

                    </p>
                    <p>
                        <span class='s_title'>门店名称：</span>
                        <span class='s_n_val'>{$vo.storename}</span>
                        <input type="hidden" class="shopId" name="shopId" value="{$vo.id}">
                    </p>
                    <p>
                        <span class='s_title'>地址：</span>
                        <span class='s_ad_val'>{$vo.address}</span>
                    </p>
                    <p>
                        <span class='s_title'>电话：</span>
                        <span class='s_m_val'>{$vo.fiex_mobile}</span>
                    </p>
                    <p>
                        <span class='s_title'>手机号码：</span>
                        <span class='s_ph_val'>{$vo.mobile}</span>
                    </p>
                    <a href='javascript:void(0);' class='del_btn'>删除</a>
                    <a href='javascript:void(0);' class='mod_btn'>修改</a>
                </li>
            </volist>
        </empty>
    </ul>
    <p class="f24 edit_ad_tipc">注：编辑完所有门店地址后再按完成</p>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);">完成</a>
    </div>


</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

            //添加门店地址
            var storeAdd=$('#storeAddress').html();
            var branchOff=$('#branchOffice').html();

            $('body').on('click','.add_a',function(){
                layer.open({
                    type:1,
                    btn:['确定','取消'],
                    title:['增加门店地址','border-bottom:1px solid #d9d9d9;'],
                    className:'store_ad_layer',
                    content:storeAdd,
                    yes: function(index){
                        var layerForm=$('div[index="'+index+'"]').find('#form1');


                       var storeBranchName = layerForm.find('.store_b_name').text();
                       var  storeName=layerForm.find('.store_name').val();
                       var storeAddress=layerForm.find('.store_address').val();
                        var storeFixed=layerForm.find('.store_fixed').val();
                       var  storePhone=layerForm.find('.store_phone').val();
                        var content = '';
                        if(!storeBranchName){
                            content = '请选择分公司';
                        }else if(!storeName){
                            content = '请填门店名称';
                        }else if(!storeAddress){
                            content = '请填门店地址';
                        }else if(!isMobilePhone(storePhone)){
                            content = '请输入正确的美容预约对接人手机号码';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }
                        //增加门店
                       $.post('BranchShopAddress',layerForm.serialize(),function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){
                                var addBranchList=$('#addBranch');

                                addBranchList.find('.branch_val').text(storeBranchName);
                                addBranchList.find('.s_n_val').text(storeName);
                                addBranchList.find('.s_ad_val').text(storeAddress);
                                addBranchList.find('.s_m_val').text(storeFixed);
                                addBranchList.find('.s_ph_val').text(storePhone);
                                $('.store_ad_list').prepend(addBranchList.html());
                                $('.del_btn,.mod_btn').css('display','none');
                            }
                        },'JSON')

                        layer.close(index);
                    }
                })
            });

            //设置门店所属分公司
            $('body').on('click','.edit_s_b',function(){
                layer.open({
                    btn:['确定','取消'],
                    title:['设置门店所属分公司','border-bottom:1px solid #d9d9d9;'],
                    className:'branch_store_layer',
                    content:branchOff,
                    success:function(){
                        var tBranchText=$('#form1').find('.store_b_name').text();
//

                        $.each($('.branch_store_layer .branch_n_inpt'), function(i,val){
                            if(tBranchText==$(this).text()){
                                $(this).addClass('current');
                                $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
                                return false;
                            }
                        });

                    },
                    yes:function(index){
                        $(".store_b_name").text($('.current').text());
                        $(".company_name").val($('.current').text());
                        $('.company_id').val($('.current').next('.companyId').val());
                        layer.close(index);
                    }
                });
            });

            //选中门店所属分公司（单选）
            $('body').on('click','.branch_n_inpt',function(){
                var companyId = $(this).parent().find('[name=companyId]').val();
                $(this).addClass('current');
                $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
            });


            $('.del_a').on('click',function(){
                $('.del_btn').css('display','block');
                $('.mod_btn').css('display','none');
            });

            //删除门店地址
            $('body').on('click','.del_btn',function(){
                var _this=$(this);

                layer.open({
                    content:'确定删除选定的门店地址？',
                    btn:['确定','取消'],
                    yes:function(index){
                        _this.parent().remove();
                        var shopId = _this.parent().find('.shopId').val();//门店id
                        $.post("delShop", {shopId:shopId},function(ret){
                            if(ret.status == 0){

//
                            }

                        },'JSON');

                        layer.close(index);
                    }
                })
            })


            $('.up_a').on('click',function(){
                $('.mod_btn').css('display','block');
                $('.del_btn').css('display','none');
            });

            //修改门店地址
            $('body').on('click','.mod_btn',function(){
                var _this=$(this);
                layer.open({
                    type:1,
                    title:'修改门店地址',
                    className:'store_ad_layer',
                    btn:['确定','取消'],
                    content:storeAdd,
                    yes:function(index){
                        var layerForm=$('div[index="'+index+'"]').find('#form1');
                        _this.parent().find('.branch_val').text(layerForm.find('.store_b_name').text());
                        _this.parent().find('.s_n_val').text(layerForm.find('.store_name').val());
                        _this.parent().find('.s_ad_val').text(layerForm.find('.store_address').val());
                        _this.parent().find('.s_m_val').text(layerForm.find('.store_fixed').val());
                        _this.parent().find('.s_ph_val').text(layerForm.find('.store_phone').val());

                       var shopId = _this.parent().find('.shopId').val();//门店id
                       var company_id = _this.parent().find('.company_id').val();//分公司ID
                       var logo_url_1 = _this.parent().find('.logo_url').val();//原门店LOGO图片
                       var company_name = layerForm.find('.store_b_name').text();//分公司ID
                       var storename = layerForm.find('.store_name').val();//门店名称
                       var fiex_mobile = layerForm.find('.store_fixed').val();//门店固定电话
                       var address = layerForm.find('.store_address').val();//门店地址
                       var mobile = layerForm.find('.store_phone').val();//
                       var logo_url_2 = layerForm.find('.file_upload_image').val();
                        var content = '';
                        if(!storename){
                            content = '请输入门店名称';
                        }else if(!isMobilePhone(mobile)){
                            content = '请输入正确的美容预约对接人手机号码';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }

                        //修改门店地址

                        $.post('BranchShopAddress',
                                {shopId:shopId,company_id:company_id,
                                    company_name:company_name,storename:storename,
                                    fiex_mobile:fiex_mobile,address:address,
                                    mobile:mobile,logo_url_1:logo_url_1,logo_url_2:logo_url_2},
                                function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.message,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }
                            if(msg.status == 1){

                            }
                        },'JSON');


                        layer.close(index);
                    }
                })
                //列表值赋值给弹层对应的值
                $('.store_b_name').text(_this.parent().find('.branch_val').text());
                $('.store_name').val(_this.parent().find('.s_n_val').text());
                $('.store_address').val(_this.parent().find('.s_ad_val').text());
                $('.store_fixed').val(_this.parent().find('.s_m_val').text());
                $('.store_phone').val(_this.parent().find('.s_ph_val').text());
            })
            // 上传门店形象图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();
                var field=$(this).attr("name");
                //alert(field);
                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    $(obj).find('img').attr('src',imgUrl);
//
                    $.post("BranchShopAddress", { img: e.target.result,field:field },function(ret){
                        if(ret.status == 1){
                            $('.file_upload_image').attr('value',ret.data);
//                            $('.upload_img').attr('src',ret.data);

                        }

                    },'JSON');
                }
            });

        })
    </script>

</block>