
<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <section class="beauty_agency_name">
        <div class="beauty_image">
            <empty name="companyInfo.imglogourl">
                <img src="__IMG__/default.png" alt="">
                <else />
                <img src="__ROOT__/{$companyInfo.imglogourl}" alt=""/>
            </empty>
            <!--<img src="__ROOT__/{$companyInfo.imglogourl}" alt=""/>-->
        </div>
        <div class="agency_name f24">
            <div><span>机构名称：</span>{$companyInfo.name}</div>
            <div><span>简称：</span>{$companyInfo.organizajc}</div>
        </div>
    </section>
    <section class="agency_profile">
        <div class="agency_p_m f24">
            <span>美容机构简介</span>
            <p class="f20 agency_txt">{$companyInfo.description}</p>
        </div>
    </section>
    <section class="beauty_agency_slider">
        <span class="f24">机构门店形象</span>
        <div id="slider">
            <div class='swipe-wrap'>
                <notempty name="companyInfo.imgurl1">
                    <div><img src="__ROOT__/{$companyInfo.imgurl1}" /></div>
                </notempty >
                <!--<div><img src="__ROOT__/{$companyInfo.imgurl1}" /></div>-->
                <notempty  name="companyInfo.imgurl2">
                    <div><img src="__ROOT__/{$companyInfo.imgurl2}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl3">
                    <div><img src="__ROOT__/{$companyInfo.imgurl3}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl4">
                    <div><img src="__ROOT__/{$companyInfo.imgurl4}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl5">
                    <div><img src="__ROOT__/{$companyInfo.imgurl5}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl6">
                    <div><img src="__ROOT__/{$companyInfo.imgurl6}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl7">
                    <div><img src="__ROOT__/{$companyInfo.imgurl7}" /></div>
                </notempty >
                <notempty name="companyInfo.imgurl8">
                    <div><img src="__ROOT__/{$companyInfo.imgurl8}" /></div>
                </notempty >
                <notempty name="companyInfo.figureSign">
                    <div><img src="__IMG__/default/organizationFigure.png" /></div>
                </notempty>
            </div>
            <ul class="position">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
            // auto: 1000,
            callback: function(index,element){
                //回调函数
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
                function () {
                    mySwipe.slide($(this).index());
                }
        )

        $(function(){
            $(".agency_p_m").moreText({
                maxLength: 100, //默认最大显示字数，超过...
                mainCell: '.agency_txt' //文字容器
            });
        })
    </script>
</block>