
<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__CSS__/store.css">
</block>
<block name="content">

    <section class="store_set_img">
        <img src="__IMG__/store_set_1.png" alt="">
    </section>
    <section class="f24 store_set_item">
        <div class="store_list">
            <span>店家档案</span>
            <ul>
                <li>
                    <a href="__MODULE__/Shop/base_info">编辑美容机构的基本资料</a>
                </li>
                <li>
                    <a href="__MODULE__/Shop/prestore_base">预览美容机构的基本资料</a>
                </li>
                <li>
                    <if condition="$shopType eq 0 ">
                        <a href="__MODULE__/Shop/shopType">管理美容机构的门店地址</a>
                        <else /> <a href="__MODULE__/shop/shopType_2/shopType/{$shopType}">管理美容机构的门店地址</a>
                    </if>

                </li>
                <li>
                    <a href="__MODULE__/Shop/previewCompanyArchive">预览美容机构的店家档案</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="f24 store_set_item">
        <div class="store_list">
            <span>员工账号</span>
            <ul>
                <li>
                    <a href="__MODULE__/Employee/manageAccount">管理美容机构的员工账号</a>
                </li>
                <li>
                    <a href="__MODULE__/Employee/searchEmployeeAccount">查看美容机构的员工账号</a>
                </li>

            </ul>
        </div>
    </section>
    <section class="f24 store_set_item">
        <div class="store_list">
            <span>门店设置</span>
            <ul>
                <li>
                    <a href="__MODULE__/Project/projectManagement">管理美容机构门店的美容预约项目</a>
                </li>
                <li>
                    <a href="">管理美容机构门店的美容商城商品</a>
                </li>
                <li>
                    <a href="">把美容预约捆绑到美容机构的微信公众号</a>
                </li>
                <li>
                    <a href="">把美容商城捆绑到美容机构的微信公众号</a>
                </li>
            </ul>
        </div>
    </section>
</block>
<block name="js-customize">

</block>
<block name="script">

</block>