<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <a href=""></a>
        <h2>我的美容机构属于单店或连锁店？</h2>
    </section>
    <section class="msy_sign_title f20">
        <div class="store_type_module">
            <span class="store_title f28">单店类型</span>
            <a href="javascript:;" shopType="1" class="weui_btn weui_btn_plain_primary">不设立部门的中小型·单店</a>
            <a href="javascript:;" shopType="2" class="weui_btn weui_btn_plain_primary">有设立部门的大型·单店</a>
        </div>
    </section>
    <section class="msy_sign_title f20">
        <div class="store_type_module">
            <span class="store_title f28">连锁店类型</span>
            <a href="javascript:;" shopType="3"  class="weui_btn weui_btn_plain_primary">不设立分公司的中小型·连锁店</a>
            <a href="javascript:;" shopType="4" class="weui_btn weui_btn_plain_primary">有设立分公司的大中型·连锁店</a>
        </div>
    </section>
    <p class="f20 store_type_tipc">注：正在初始化组织架构，请正确选择最适合你目前美容机构的组织架构，以后可根据实际经营情况进行调整</p>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.weui_btn_plain_primary',function(){
                var shopType = $(this).attr('shopType');
                //alert(shopType);
                $.post('shopType',{shopType:shopType},function (msg) {
                    if(msg.status == 0){
                        layer.open({
                            content:msg.message,
                            time:2,
                            skin:msg.message,
                        });
                        return false;
                    }else{
                        location.href = 'shopFramework?shopType='+shopType;
                    }
                },'JSON');
            });
        });
    </script>
</block>