<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>我的企业组织架构与岗位模型说明</h2>
    </section>
    <section class="organization_model">
        <span class="organ_title f24">组织架构</span>
        <div class="organz_level f24">
            <ul>
                <volist name="scaleInfo" id="vo"><li>{$vo.structure}</li></volist>
            </ul>
        </div>
        <span class="organ_title f24">岗位设置</span>
        <div class="post_set f24">
            <volist name="scaleInfo" id="vo">
                <span class="post_title">{$vo.explain}</span>
                 <ul>
                     <volist name="vo.position" id="position">
                         <li>{$position}</li>
                     </volist>
                </ul>
            </volist>
        </div>
    </section>
    <div class="weui_btn_area">
        <a id="next" class="weui_btn weui_btn_primary inhibit_btn" href="javascript:;" >下一步</a>
    </div>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

              $('#next').click(function () {
                  var shopType = '{$shopType}';
                  var companyId = '{$companyId}';


                  var url = '';
                  if(shopType == 1){
                      url = '__CONTROLLER__/smallShop/shopType/'+shopType;
                  }else if(shopType == 2){
                      url = '__CONTROLLER__/smallShop/shopType/'+shopType;
                  }else if(shopType == 3){
                      url = '__CONTROLLER__/smallMultipleShop';
                  }else if(shopType == 4){
                      url = '__CONTROLLER__/bigMultipleShop/shopType';
                  }

                  location.href = url;

              })
       });
    </script>
</block>