<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/storeaddress.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>编辑美容机构门店地址</h2>
    </section>
    <section class="organization_model">
        <form name="" id="form">
            <input type="hidden"  name="shop_type" value="{$shopType}">
            <ul class="f28 organ_ad_item">

                <li>
                    <label for="">门店名称</label>
                    <input type="text" placeholder="门店名称" name="storename" value="{$shopInfo.storename}">

                </li>
                <li>
                    <label for="">地址</label>
                    <input type="text" placeholder="地址" name="address" value="{$shopInfo.address}">
                </li>
                <li>
                    <label for="">电话</label>
                    <input type="tel" placeholder="(区号)固定电话" name="fiex_mobile" value="{$shopInfo.fiex_mobile}">
                </li>
                <li>
                    <label for="">美容预约对接人手机号码</label>
                    <input type="tel" placeholder="手机号码" name="mobile" value="{$shopInfo.mobile}">
                </li>
                <li>
                    <a href="javascript:;">对门店地址进行人工地图标位</a>
                </li>
                <li>
                <span>
                    <i></i>未标示
                </span>
                </li>
            </ul>
        </form>
    </section>
    <div class="weui_btn_area">
        <a id="complete" class="weui_btn weui_btn_primary" href="javascript:;" >完成</a>
    </div>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

            //完成点击
            $('#complete').click(function () {
                var content = '';
                if(!$("input[name=storename]").val()){
                    content = '请填写门店名称！';
                }else if(!$("input[name=address]").val()){
                    content = '请填写地址';
                }else if(!$("input[name=fiex_mobile]").val()){
                    content = '请填写店固定电话';
                }else if(!$("input[name=mobile]").val()){
                    content = '请填写美容预约对接手机号码';
                }else if(!isMobilePhone($("input[name=mobile]").val())){
                    content = '美容预约对接手机号码格式不对';
                }
                if(content){
                    layer.open({
                        content: content,
                        skin:'msg',
                        time: 2
                    });
                    return false;
                }

                $.post('smallShop',$('#form').serialize(),function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.message,
                            skin:'msg',
                            time: 2
                        });
                    }
                    if(msg.status == 1){
                        location.href = '__CONTROLLER__/previewCompanyArchive';
                    }

                },'JSON');
            });
        });
    </script>
</block>