<script type="text/javascript" src="PUBLIC_JS/common/footerCart.js"></script>
<footer class="f24 group_cart_nav">
    <volist name="unlockingFooterCart" id="vo">
        <notempty name="vo.share">
            <!--分享-->
            <div class="group_btn25 bfff">
                <a href="javascript:void(0);" class="share_column share"><span class="s_i"></span>{$vo.share}</a>
            </div>
        </notempty><notempty name="vo.shopping_basket">
            <!--购物篮-->
            <div class="group_btn25 bfff">
                <a href="{:U('Cart/index')}" class="share_column shopping_cart_column shopping_basket">
                    <span class="s_c"><i>5</i></span></a>
            </div>
        </notempty><notempty name="vo.amount">
            <!--总价-->
            <div class="group_btn50 bfff">
                <span class="goods_total_price amount">￥<price>0.00</price></span>
            </div>
        </notempty><notempty name="vo.add_cart">
            <!--加入购物车-->
            <a href="javascript:void(0);" class="bff6482 group_btn50 add_cart">{$vo.add_cart}</a>
        </notempty><notempty name="vo.clearing_now">
            <!--立即结算-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 clearing_now"><i class="collect"></i>{$vo.clearing_now}</a>
        </notempty><notempty name="vo.business_agent_pay_now">
            <!--商务-代理商-立即结算-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 business_agent_pay_now"><i class="collect"></i>{$vo.business_agent_pay_now}</a>
        </notempty><notempty name="vo.buy_now">
            <!--立即购买-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 buy_now"><i class="collect"></i>{$vo.buy_now}</a>
        </notempty><notempty name="vo.initiate_group_buy">
            <!--支付并发起微团购-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 initiate_group_buy"><i class="collect"></i>{$vo.initiate_group_buy}</a>
        </notempty><notempty name="vo.determine_order">
            <!--确定订单-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 determine_order"><i class="collect"></i>{$vo.determine_order}</a>
        </notempty><notempty name="vo.pay_now">
            <!--立即支付-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 pay_now"><i class="collect"></i>{$vo.pay_now}</a>
        </notempty><notempty name="vo.earnings">
            <!--收益-->
            <div class="group_btn100 bfff">
                <span class="goods_total_price earnings">收益￥{$goodsInfo.commission}</span>
            </div>
        </notempty><notempty name="vo.QR_codes">
            <!--我的二维码-->
            <a href="javascript:void(0);" class="group_btn100 bff6482 QR_codes"><i class="collect"></i>{$vo.QR_codes}</a>
        </notempty><notempty name="vo.forward">
            <!--一键分享转发-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 forward"><i class="collect"></i>{$vo.forward}</a>
        </notempty><notempty name="vo.forward_to_friends">
            <!--将本页转发微信好友-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 forward_to_friends"><i class="collect"></i>{$vo.forward_to_friends}</a>
        </notempty><notempty name="vo.goto_gift_purchase">
            <!--进入礼品采购-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 goto_gift_purchase"><i class="collect"></i>{$vo.goto_gift_purchase}</a>
        </notempty><notempty name="vo.apply_partner">
            <!--申请美悦会城市合伙人-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 apply_partner"><i class="collect"></i>{$vo.apply_partner}</a>
        </notempty><notempty name="vo.city_search">
            <!--申请查询-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 city_search"><i class="collect"></i>{$vo.city_search}</a>
        </notempty><notempty name="vo.next_step">
            <!--下一步-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 next_step"><i class="collect"></i>{$vo.next_step}</a>
        </notempty><notempty name="vo.pay_deposit">
            <!--支付席位订金-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 pay_deposit"><i class="collect"></i>{$vo.pay_deposit}</a>
        </notempty><notempty name="vo.pay_partner_fee">
            <!--支付资格余款-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 pay_partner_fee"><i class="collect"></i>{$vo.pay_partner_fee}</a>
        </notempty><notempty name="vo.pay_agent_fee">
            <!--支付代理商资格款-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 pay_agent_fee"><i class="collect"></i>{$vo.pay_agent_fee}</a>
        </notempty><notempty name="vo.determine">
            <!--确定-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 determine"><i class="collect"></i>{$vo.determine}</a>
        </notempty><notempty name="vo.authorise_agent">
            <!--授权代理商-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 authorise_agent"><i class="collect"></i>{$vo.authorise_agent}</a>
        </notempty>
    </volist>
</footer>