<<<<<<< HEAD
@charset "utf-8";
/* 默认 黑色 */	
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#222}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
	.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.left{
	float:left;
}
/*添加产品弹窗*/
.thead_title{
	border-bottom:1px solid #d9d9d9;
}
.add_goods{
	display:block;
	width:50px;
	background:#4898d5;
	color:#fff;
	text-align:center;
}
.thead_title .list_item,.list_item{
	display:inline-block;
	width:200px;
	vertical-align: top;
}
.list_item img,
.selected_goods_list img{
	max-width:50px;
}
.scroller-container{
	padding:15px 0 0;
}
.add_layer_content .list li{
	border:none;
	border-bottom:1px solid #d9d9d9;
}
.search_bar{
	margin:15px 0;
	overflow:hidden;
}
.search_bar input,.search_bar select{
	float:left;
	height:36px;
	box-sizing: border-box;
}
.search-goods{
	margin-left:15px;
	border:1px solid #d9d9d9;
}
.layer-search-btn{
	width:100px;
	background:#4898d5;
	color:#fff;
	border:1px solid #4898d5;
}
.selected_goods_list li{
	position:relative;
	margin:0 20px 0 0;
}
.selected_goods_list li a{
	position:absolute;
	top:-22px;
	right:0px;
=======
@charset "utf-8";
/* 默认 黑色 */	
/*全站默认字体颜色*/
a{color:#333}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#222}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#333}/*左侧二级导航菜单*/
	.Hui-aside .menu_dropdown dt:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#666;border-bottom: 1px solid #e5e5e5}
	.Hui-aside .menu_dropdown li a:hover{color:#148cf1;background-color:#fafafa}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#b6b7b8}	
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}
.left{
	float:left;
}
/*添加产品弹窗*/
.thead_title{
	border-bottom:1px solid #d9d9d9;
}
.add_goods{
	display:block;
	width:50px;
	background:#4898d5;
	color:#fff;
	text-align:center;
}
.thead_title .list_item,.list_item{
	display:inline-block;
	width:200px;
	vertical-align: top;
}
.list_item img,
.selected_goods_list img{
	max-width:50px;
}
.scroller-container{
	padding:15px 0 0;
}
.add_layer_content .list li{
	border:none;
	border-bottom:1px solid #d9d9d9;
}
.search_bar{
	margin:15px 0;
	overflow:hidden;
}
.search_bar input,.search_bar select{
	float:left;
	height:36px;
	box-sizing: border-box;
}
.search-goods{
	margin-left:15px;
	border:1px solid #d9d9d9;
}
.layer-search-btn{
	width:100px;
	background:#4898d5;
	color:#fff;
	border:1px solid #4898d5;
}
.selected_goods_list li{
	position:relative;
	margin:0 20px 0 0;
}
.selected_goods_list li a{
	position:absolute;
	top:-22px;
	right:0px;
>>>>>>> 7dd0df24183dcac5d54a9a545fc3e594d9df16bf
}