<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/promotion.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/pageAjax.css">
</block>
<block name="content">
    <div id="layoutRight" class="ncsc-layout-right">
        <div class="ncsc-path">
            <a href="{:U('PurchasePromotion/bundlingList')}">平台套餐促销</a>
            <a href="#">拓客特惠</a>
            <a href="{:U('PurchaseTheme/themePurchaseList1')}" class="current">主题采购</a>
        </div>
        <div class="main-content" id="mainContent">
            <div class="tabmenu">
                <ul class="tab pngFix">
                    <li>
                        <span>新增一级主题采购信息</span>
                    </li>
                </ul>
                 <div class="add_purchase_btn">
                     <a href="{:U('PurchaseTheme/themePurchaseList1')}" class="ncsc-btn ncsc-btn-green">主题采购一级信息列表</a>
                   <a href="{:U('PurchasePromotion/secondThemeList')}" class="ncsc-btn ncsc-btn-green">主题采购二级信息列表</a>
                    <a href="{:U('PurchasePromotion/addSecondTheme')}" class="ncsc-btn ncsc-btn-green">新增主题采购二级信息</a>
                 </div>

            </div>
            <div class="ncsc-form-default">
                <form id="add_form" action="#" method="post" enctype="multipart/form-data">
                    <input name="theme_id" id="theme_id" class="theme_id" value="{$themePurchaseList.id}" type="hidden">
                    <dl>
                        <dt><i class="required">*</i>一级主题采购名：</dt>
                        <dd>
                            <input class="w400 text" name="name" id="first_name" value="{$themePurchaseList.name}" maxlength="30" type="text">
                            <span></span>
                            <p class="hint">一级主题采购题名称长度最多可输入30个字符</p>
                        </dd>
                    </dl>

                    <dl>
                        <dt><i class="required">*</i>一级主题采购图片：</dt>
                        <dd>
                            <div class="ncsc-upload-thumb groupbuy-pic">
                                <p><i class="icon-picture"></i>
                                    <empty name="themePurchaseList">
                                        <img  class="theme_img" src="">
                                        <else />
                                        <img class="theme_img" src="__ROOT__/Uploads/{$themePurchaseList.img}">
                                    </empty>
                                    </p>
                            </div>
                            <input  class="img_url" name="img" id="img_url" value="{$themePurchaseList.img}" type="hidden">
                            <div class="ncsc-upload-btn">
                                <a href="javascript:void(0);">
                            <span>
                                <input hidefocus="true" size="1" class="uploadImgBtn input-file" name="img" nctype="btn_upload_image" type="file">
                            </span>
                                    <p><i class="icon-upload-alt"></i>图片上传</p>
                                </a>
                            </div>
                            <span></span>
                            <p class="hint">用于一级主题采购活动页面的图片,请使用宽度440像素、高度293像素、大小1M内的图片，<br>支持jpg、jpeg、gif、png格式上传。</p>
                        </dd>
                    </dl>

                    <dl>
                        <dt>一级主题采购所属类别：</dt>
                        <dd>
                            <select id="category_id" name="category_id" class="w80">
                                <option value="">不限</option>
                                <foreach name="goodsCategoryList" item="v" >
                                    <option value="{$v.id}" <if condition="$v['id'] eq $themePurchaseList['category_id']">selected="selected" </if>>{$v.name}</option>
                                </foreach>
                            </select>
                            <span></span>
                            <p class="hint">请一级主题采购的所属类别</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>一级主题采购介绍：</dt>
                        <dd>
                            <textarea id="fist_theme_intro" name="intro" style="width: 740px; height: 360px; display: none;">{$themePurchaseList.intro}</textarea>
                            <p id="des_demo" style="display:none;"></p>
                        </dd>
                    </dl>
                    <div class="bottom"><label class="submit-border">
                        <input class="submit" id="submit" value="提交" type="button"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>

</block>
<block name="js-customize">
    <script src="__PUBLIC__/css/kindeditor/kindeditor-min.js" charset="utf-8"></script>
    <script src="__PUBLIC__/js/zh_CN.js" charset="utf-8"></script>
    <!--<script src="__PUBLIC__/js/purchase/jquery.ajaxContent.pack.js" ></script>-->
</block>
<block name="script">
    <script type="text/javascript">
        var KE;
        KindEditor.ready(function(K) {
            KE = K.create("textarea[name='intro']", {
                items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', '|', 'selectall', 'clearhtml','quickformat','|',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'table', 'hr', 'emoticons', 'link', 'unlink', '|', 'about'],
                cssPath : "/Public/css/kindeditor/themes/default/default.css",
                allowImageUpload : false,
                allowFlashUpload : false,
                allowMediaUpload : false,
                allowFileManager : false,
                syncType:"form",
                afterCreate : function() {
                    var self = this;
                    self.sync();
                },
                afterChange : function() {
                    var self = this;
                    self.sync();
                },
                afterBlur : function() {
                    var self = this;
                    self.sync();
                }
            });
            KE.appendHtml = function(id,val) {
                this.html(this.html() + val);
                if (this.isCreated) {
                    var cmd = this.cmd;
                    cmd.range.selectNodeContents(cmd.doc.body).collapse(false);
                    cmd.select();
                }
                return this;
            }
        });

        $(document).ready(function(){

            // 上传图片  
            $('body').on('change','.uploadImgBtn',function(){
                var _this = $(this);
                var img = event.target.files[0];
                var obj=$(this).parents('.ncsc-upload-btn').siblings('.ncsc-upload-thumb');

                // 判断是否图片  
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).find('.theme_img').attr('src',imgUrl);
                    $.post(CONTROLLER+'/uploadImgToTemp', { img: e.target.result},function(ret){
                        if(ret.status == 1){
//                            _this.parent().parent().parent().prev().val( ret.info);
                            $('#img_url').val( ret.info);
                        }

                    },'json');
                }
            });


          //提交表单
            $("#submit").on('click',function(){
                var goods=[];
                var goodsEveryObj={};
                $.each($('.ui-sortable tr'),function(){
                    if($(this).find('.goods_selected').is(':checked')){
                        goodsEveryObj={
                            goodsId:$(this).attr('id'),
                            goodsPrice:$(this).find('.goodsPrice').val(),
                            goodsNum:$(this).find('.goodsNum').val()
                        };
                        goods.push(goodsEveryObj);
                    }
                });

                var postData = $('#add_form').serializeObject();

                $.post(CONTROLLER+'/addEditThemePurchase1',postData,function(msg){
                    if(msg.status == 1){
                        dialog.success(msg.info,CONTROLLER+'/addThemePurchase1');
                    }else{
                        dialog.error(msg.info);
                    }
                });

            });

        });
    </script>
</block>