<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/promotion.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin-css/purchase/pageAjax.css">

</block>
<block name="content">
    <div id="layoutRight" class="ncsc-layout-right">
        <div class="ncsc-path">
            <a href="{:U('PurchasePromotion/bundlingList')}">平台套餐促销</a>
            <a href="#">拓客特惠</a>
            <a href="{:U('PurchaseTheme/themePurchaseList1')}" class="current">主题采购</a>
        </div>
        <div class="main-content" id="mainContent">
            <div class="tabmenu">
                <ul class="tab pngFix">
                    <li class="active"><span>主题采购一级信息列表</span></li>
                </ul>
                <div class="add_purchase_btn">
                    <a href="{:U('PurchaseTheme/addThemePurchase1')}" class="ncsc-btn ncsc-btn-green" title="新增主题采购一级信息">
                        <i class="icon-plus-sign"></i>新增主题采购一级信息
                    </a>
                    <a href="{:U('PurchasePromotion/secondThemeList')}" class="ncsc-btn ncsc-btn-green" title="主题采购二级信息列表">
                        <i class="icon-plus-sign"></i>主题采购二级信息列表
                    </a>
                    <a href="{:U('PurchasePromotion/addSecondTheme')}" class="ncsc-btn ncsc-btn-green" title="新增主题采购二级信息">
                        <i class="icon-plus-sign"></i>新增主题采购二级信息
                    </a>
                </div>
            </div>
            <div class="alert alert-block mt10">
                <ul class="mt5">
                    <li>1、点击新增主题采购一级信息按钮可以添加</li>
                </ul>
            </div>
            <form method="get" action="#">
            <table class="search-form search_product_type">
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <th>所属分类</th>
                    <td class="w100">
                        <select name="category_id" id="category_id" class="w90">
                        <option value="">全部</option>
                            <volist name="goodsCategoryList" id="v">
                                <option value="{$v.id}">{$v.name}</option>
                            </volist>
                        </select>
                    </td>
                    <th>主题名称</th>
                    <td class="w160"><input id="keyword" class="text" type="text" name="keyword" value=""></td>
                    <td class="w70 tc"><label class="submit-border"><input type="submit"  class="submit" value="搜索" onclick="getPage(1)"></label></td>
                </tr>
                </tbody>
            </table>
            </form>
            <div class="content" id="ajax_lists"></div>

        </div>
    </div>


</block>
<block name="js-customize">

</block>
<block name="script">
    <script>
        //套餐列表
        var url_ajax = CONTROLLER+'/ajaxThemeList1';
        $(function() {
            $("#ajax_lists").delegate(".pager a", "click", function() {
                var page = $(this).attr("data-page");
                getPage(page);
            });
            getPage(1);
        });
        function getPage(page) {
            $("#ajax_lists").html("<div class='loading'><div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'>");
            var keyword = $("#keyword").val();
            var category_id =$("#category_id").val();
            $.get(url_ajax, {keyword: keyword,category_id:category_id, p: page}, function(data) {
                $('#ajax_lists').html(data);
            })
        }
        $(function () {
            //批量删除数据
            $('body').on('click','.ncsc-btn-mini',function(){
                obj = document.getElementsByName("check_id");
                theme_ids = [];
                for(k in obj){
                    if(obj[k].checked)
                        theme_ids.push(obj[k].value);
                }

                if(theme_ids.length==0){
                    layer.open({
                        content : '你还没有选择任何内容！',
                        icon:2,
                        btn : ['知道了'],
                        title : '提示',
                    });
                    return false;
                }else{
                    layer.confirm('删除你选中的商品吗？', {
                        btn: ['确定','取消'],//按钮
                        yes:function (index) {
                            $.post(CONTROLLER+'/delFirstTheme',{theme_ids:theme_ids},function(msg){
                                if(msg.status == 0){
                                    dialog.error(msg.message);
                                }
                                if(msg.status == 1){
                                    location.href = 'themePurchaseList1';
                                }
                            },'JSON');
                            layer.close(index);
                        }
                    })
                }

            });

            //单独删除一条数据
            $('body').on('click','.btn-red',function(){
                var theme_id = $(this).attr('theme_id');
                layer.confirm('删除你选中的商品吗？', {
                    btn: ['确定','取消'],//按钮
                    yes:function (index) {
                        $.post(CONTROLLER+'/delFirstTheme',{theme_id:theme_id},function(msg){
                            if(msg.status == 0){
                                dialog.error(msg);
                            }
                            if(msg.status == 1){
                                dialog.error(msg.info);
                                location.href = 'themePurchaseList1';
                            }
                        });
                        layer.close(index);
                    }
                })
            })
        })


    </script>

</block>