{extend name="template/base.html" /}
{block name="title"}城市测试3{/block}
{block name="content"}
<div id="province_city_linkage"></div>
	<city_picker></city_picker>
	<test></test>
	<!--&lt;!&ndash;选择地区弹层&ndash;&gt;-->
	<!--<section id="areaLayer" class="express-area-box" style="bottom:0;">-->
		<!--<header>-->
			<!--<h3>选择地区</h3>-->
			<!--<a id="backUp" class="back" href="javascript:void(0);" title="返回" style="display: none;"></a>-->
			<!--<a id="closeArea" class="close" href="javascript:void(0);" title="关闭"></a>-->
		<!--</header>-->
		<!--<article id="areaBox">-->
			<!--<ul id="areaList" class="area-list">-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
				<!--<li onclick="selectP(0);">北京市</li>-->
			<!--</ul>-->
		<!--</article>-->
	<!--</section>-->
	<!--&lt;!&ndash;遮罩层&ndash;&gt;-->
	<!--<div id="areaMask" class="address_mask" style="display: block;"></div>-->
<div id="foot_cart_menu">
	<footer-menu
			:type="type"
			:init_cart_num="init_cart_num"
			:init_menus="init_menus"
	></footer-menu>
</div>
{/block}
{block name="common"}
{include file="../../api/public/vue/components/footer-menu.html" /}
{include file="../../api/public/vue/components/province-city.html" /}
<script type="text/javascript">
	//数据库里购物车里商品数量
	let total_num = parseInt("{$total_num|default=0}");
	//localStorage里商品信息
	if(localStorage.cartList){
		let goodsList = (JSON.parse(localStorage.cartList)).data;
		$.each(goodsList,function(i,goods){
			total_num += goods['num'];
		});
	}
	if(!total_num){
		var html = $('.no_cart_data').html();
		$('#product-list').append(html);
	}
	let unlockingFooterCart = '{$unlockingFooterCart|raw}';
	unlockingFooterCart = JSON.parse(unlockingFooterCart);
	let param = {
		type:4,
		init_cart_num:total_num,
		init_menus:unlockingFooterCart
	};
	new Vue({
		el: '#foot_cart_menu',
		data:function(){
			return param;
		}
	});
	$(function(){
		new Vue({
			el: "#province_city_linkage",
			data: {
				init_provinces:provinces
			}
		});
	});
</script>
{/block}
{block name="footer"}
{/block}
