{extend name="template/base.html" /}
{block name="title"}城市测试{/block}
{block name="content"}
<article class="f24">
	<div id="province_city_linkage">
		<!-- 省 -->
		<select v-model="selectedProvince" @change="updateCity();">
			<option v-for='province in provinces' :value="province.code">{{province.name}}</option>
		</select>
		<!-- 市 -->
		<select v-model="selectedCity" v-show="cities.length">
			<option v-for='city in cities' :value="city.code">{{city.name}}</option>
		</select>
	</div>
</article>
{/block}
{block name="footer"}
{/block}
{block name="script"}
<script type="text/javascript" src="public_js/province_city.js"></script>
<script type="text/javascript">
	$(function(){
		new Vue({
			el: "#province_city_linkage",
			data: {
				provinces: provinces, //所有省份
				selectedProvince: '', //被选择的省
				cities:[], //被选择的省对应的市数据
				selectedCity:''  //被选择的市
			},
			methods: {
				//更新市数据
				updateCity:function(){
					let _this = this;
					_this.provinces.map(function(item,index){
						if(item.code == _this.selectedProvince){
							_this.cities = item.cities;
						}
					});
					//初始化默认值
					_this.selectedCity = _this.cities[0].code;
				}
			},created:function(){
				let _this = this;
			}
		});
	});
</script>
<script type="text/javascript">
	$(function(){
	});
</script>
{/block}