{extend name="template/base.html" /}
{block name="title"}测试{/block}
{block name="content"}
<link rel="stylesheet" type="text/css"  href="index_js/mobileSelector/css/mpicker.css">
<link rel="stylesheet" type="text/css" href="index_js/mobileSelector/css/bootstrap-3.3.4.css">
<style type="text/css">
	/*自定义样式*/
	body,html{
		margin: 0;
		padding: 0;
	}
	html{
		font-size:10px !important;
	}
	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #333;
		background-color: #fff;
	}

	.slide-wapper {
		padding:20px;
		overflow-y: scroll;
		/* background: #eee; */
	}
</style>
	<div class="slide-wapper">
		<div class="slide-item">
			<div class="console"></div>
			<h4>调试查看选择的数据，请打开控制台看输出信息</h4>
			<br>
			<h4>三级城市联动选择</h4>
			<input type="text" class="select-value form-control" value="广东省-东莞市">
			<br>
			<h4>二级城市联动选择</h4>
			<input type="text" class="select-value1 form-control" value="广东省-东莞市">
			<br>
			<h4>二级非联动选择</h4>
			<div class="select-input2">
				<input type="text" class="select-value2 form-control" value="收到额外人 饿的方式度过333" >
			</div>
			<br>
			<h4>单级选择</h4>
			<input type="text" class="select-value3 form-control" value="">

			<br><br>
			<!-- 二级非联动选择 -->
			<!--  <input type="text" class="select-value4" value="饿的方式度过 收到额外人" readonly="true" mpicker='picker4'> -->

			<pre>
        </pre>

		</div>
	</div>

{/block}
{block name="footer"}
{/block}
{block name="script"}
<!--<script src="http://www.jq22.com/demo/mobileSelector201708161250/js/json.js"></script>-->


<!--
<script src="http://www.jq22.com/demo/mobileSelector201708161250/js/jsonExchange.js"></script>
<script src="http://www.jq22.com/demo/mobileSelector201708161250/js/mPicker.min.js"></script>
-->


<script src="index_js/mobileSelector/js/json.js"></script>
<script src="index_js/mobileSelector/js/jsonExchange.js"></script>
<script src="index_js/mobileSelector/js/mPicker.min.js"></script>
<script type="text/javascript">
	$(function() {

		/**
		 * 联动的picker--添加修改后修改数据的效果
		 * 两级
		 */
		$('.select-value1').mPicker({
			level: 2,
			dataJson: dataJson,
			Linkage: true,
			rows: 6,
			idDefault: true,
			splitStr: '-',
			confirm: function (json) {
				//console.info('当前选中json：', json);
				var _this= this;


				var url = module+'Test/jin1';

				var postData = {'data':cityData};

				//console.log(cityData);
				//return false;
				//console.log(postData);
				$.post(url,postData,function (data) {
					console.log(data);
				},'JSON');

				//console.info('【json里有带value的情况】');
				//更新json
				//console.info('3s后更新json...');
				/*setTimeout(function(){
					_this.container.data('mPicker').updateData.call(_this,level3);
					var json = getVal();
					var valArr = json.value;
					console.info(json);
					//console.info(valArr);
					console.info('更新后的value为空', valArr[0], valArr[1]);
					console.info('更新后的value拼接值为空', json.result);
				},3000);*/

			},
			cancel: function (json) {
			}
		});
		//获取value
		function getVal(){
			var value1 = $('.select-value1').data('value1');
			var value2 = $('.select-value1').data('value2');
			var result='';
			value1 = value1 || '';
			value2 = value2 || '';
			if(value1){
				result= value1;
			}
			if(value2){
				result = result+'-'+ value2;
			}
			return {
				value:[value1, value2],
				result: result
			};
		}

	});
</script>
{/block}