{extend name="template/base.html" /}
{block name="title"}弹窗登录测试{/block}
{block name="css-customize"}
<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
{/block}
{block name="content"}
<div id="app">
    <mt-button @click.native="handleClick">按钮</mt-button>
  </div>
{/block}
{block name="footer"}{/block}
{block name="script"}
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script type="text/javascript" src="vue_js/province_city.js"></script>
<script>
	$(function(){
		 new Vue({
			el: '#app',
			methods: {
				handleClick: function() {
				// this.$toast('Hello world!')
					
				}
			},
			created:function(){
				MessageBox('提示', '操作成功');
			}
		})
	})
</script>
{/block}