{extend name="template/base.html" /}
{block name="title"}城市测试{/block}
{block name="css-customize"}
<style>
	.bg {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    z-index: 998;
    position: fixed;
    top: 0;
    cursor: pointer;
    display: none;
}
#testblock{
				background: #00ff00;
				width: 200px;
				height: 200px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin:auto;
				z-index:100;
			}
			
			</style>
			{/block}
{block name="content"}
<div class="bg" style="display: block;"></div>
<div id="testblock">
	<div style="margin:0 0 15px 0;">
    	<input type="tel" name="" value="">
	</div>
	<div style="margin:0 0 15px 0;">
    	<input type="password" name="" value="">
	</div>
</div>
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="vue_js/province_city.js"></script>
{/block}