{extend name="template/base.html" /}
{block name="content"}

<article class="f24">
    <div class="scrollwrapper">
        <div id="content" class="floor-content">
            <div id="item1" class="floor">
                <div class="floor_item project-list">
                    <div class="">
                        <img src="public_img/sign_up1.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/sign_up2.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/sign_up3.jpg" alt="" class="common_default_img">
                    </div>
                    <div class="">
                        <img src="public_img/sign_up4.jpg" alt="" class="common_default_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{/block}
{block name="footer"}
<div class="group_cart_nav f24"><a href="javascript:void(0);" class="bottom_item sign_up">立即报名</a></div>
{/block}
{block name="script"}
<script>
    $(function(){
       
    })
   
    var content=$('.activitycontent').html();
    $('body').on('click','.sign_up',function(){
        layer.open({
            title:['开放日参观预约','border-bottom:1px solid #d9d9d9'],
            className:'activityLayer',
            content:content,
            btn:['确定']
        })
    });

</script>
<style scoped>
.group_cart_nav .sign_up{
    display: block;
    width:100%;
    background:#EC77A3;
    color:#fff;
}
.floor:last-child .floor_item{
    padding-bottom:1rem;
}
</style>
{/block}