<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <div class="common_type_banner">
        <img src="PUBLIC_IMG/home/default/goods_default.png" alt="">
    </div>
    <div class="commodity_category common_contents">
            <div class="content"  >
                <ul> </ul>
            </div>
    </div>
    <input type="hidden" value="1" class="page">
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_IMG/home/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/mall/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:6,
            position:'groupGoods'
        };
        $(function(){
            $(function(){
                //初始化
                getGoodsList(config);
            });

        });
    </script>

</block>

