<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <div class="common_type_banner">
        <img src="PUBLIC_IMG/home/default/goods_default.png" alt="">
    </div>
    <div class="commodity_category commodity_category_s">
        <div class="content common_contents"  >
            <ul> </ul>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/home/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:6,
            position:'speGoods'
        };
        $(function(){
            $(function(){
                //初始化
                getGoodsList(config);
            });

        });
    </script>

</block>

