<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/sellerPractitioner/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>卖手实名认证资料</h2>
    </section>
    <form id="">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item "><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item active"><span class="certify_info"></span><em></em>认证资料</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>递交申请</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="uploadImg_cell f20">
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="id_front_img">
                                <empty name="seller.id_front_img">
                                    <img class="upload_img" src="">
                                    <else/>
                                    <img class="upload_img" src="/Uploads/{$seller.id_front_img}">
                                </empty>
                            </div>
                            <p>申请人身份证(正面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="id_reverse_img">
                                <empty name="seller.id_reverse_img">
                                    <img class="upload_img" src="">
                                    <else/>
                                    <img class="upload_img" src="/Uploads/{$seller.id_reverse_img}">
                                </empty>
                            </div>
                            <p>申请人身份证(反面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="face_front_img">
                                <empty name="seller.face_front_img">
                                    <img class="upload_img" src="">
                                    <else/>
                                    <img class="upload_img" src="/Uploads/{$seller.face_front_img}">
                                </empty>
                            </div>
                            <p>申请人正面脸部照</p>
                        </div>
                    </div>
                    <p class="f20 certify_tipc_txt">
                        温馨提示：卖手实名认证需在线递交认证人的身份证正面照片、反面照片、一张正面脸部照片，请提前拍照准备上传照片。
                    </p>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary" href="javascript:void(0);">下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            // 上传图片
            $('body').on('change','[name=id_front_img],[name=id_reverse_img],[name=face_front_img]',function(){
                var img = event.target.files[0];
                var _this = $(this);
                var obj=_this.parent();
                var updateField = _this.attr('name');

                // 判断是否图片
                if(!img){
                    return false;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    var postData = {
                        img: imgUrl,
                        updateField:updateField
                    };
                    $(obj).addClass('active');
                    $.post(CONTROLLER + '/uploadSellerAuthoriseImg',postData,function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else if(msg.status ==1){
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                        }
                    },'json');
                }
            });
            //下一步
            $('.weui_btn').on('click',function(){
                var postData = {};
                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        location.href = CONTROLLER + '/submitApply';
                    }
                });
            });
        });
    </script>
</block>