<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/sellerPractitioner/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="certify_title">
        <img src="__PUBLIC__/images/sellerPractitioner/msy_logo.png" alt="">
        <span class="f28">卖手实名认证</span>
    </section>
    <section class="certify_intro f20">
        <img src="__PUBLIC__/images/sellerPractitioner/smile_icon.png" alt="" class="success_ico">
        <p class="success_tipc f20">您已是美尚平台认证的卖手</p>
    </section>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >确定</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //确定
            $('.weui_btn').on('click',function(){
                history.go(-1);
            });
        });
    </script>
</block>