<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/sellerPractitioner/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="certify_title">
        <img src="__PUBLIC__/images/sellerPractitioner/msy_logo.png" alt="">
        <span class="f28">卖手实名认证</span>
    </section>
    <section class="certify_intro f20">
        <h3>卖手为什么要实名认证？</h3>
        <p>1、根据国家工信部的要求，对提供平台服务的个人需实名认证；</p>
        <p>2、实名认证后才可以参与美尚卖手平台的抢单服务。</p>
        <h3>卖手怎样进行认证？</h3>
        <p>1、卖手实名认证需在线递交认证人的身份证正面和反面和一张正面脸部照片，请提前拍照准备上传照片;</p>
        <p>2、美尚平台在24小时内进行资料审核，认证结果在“我的接单管理”栏通知。</p>
    </section>
    <div class="login-items certify_items">
        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >开始卖手免费实名认证</a>
        </div>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $('.weui_btn_primary').click(function(){
            window.location.href = MODULE + '/SellerAuthorise/basicInfo';
        });
    </script>
</block>