{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">{/block}
{block name="content"}
<section id="storeLayerTipc" style="display: none;">
	<div>
		<span class=""></span>
		<p class="comfirm-text">确定要<span class="textTipc">激活</span>以下店铺？</p>
	</div>
</section>
<article class="f24">
	{include file="public/store_deploy_head" /}
	<section class="specific_type bottomLine store_deploy_nav">
		<div class="columns_flex f20 l-r-sides store_deploy_bar">
			<a href="{:url('Manager/index')}" class="current">管理员</a>
			<a href="{:url('Record/preview')}">档案</a>
			<a href="{:url('Brand/manage')}">商标</a>
			<a href="{:url('Store/manage')}">开店</a>
			<a href="{:url('Manager/index')}">店铺管理</a>
			<a href="javascript:void(0);">财务</a>
		</div>
	</section>
	<!--添加管理员账号-->
	<section id="addAdminAccount" style="display:none;">
		<form class="addAdminForm">
			<div class="account-field">
				<input type="text" class="admin-name" placeholder="姓名" name="name">
				<!--<input type="hidden" name="id">-->
			</div>
			<div class="account-field">
				<input type="tel" class="admin-mobile" placeholder="手机号码" name="mobile_phone">
			</div>
		</form>
		<div class="error_tipc"></div>
	</section>
	<section class="f24 account-content-wrapper admin-account-wrapper">
		<div class="account-list-content">
			<ul class="account-list admin-account-list list"></ul>
		</div>
	</section>
	<a href="javascript:void(0);" class="addManageAccount foot-btn f24">新增管理员账号</a>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){
		//页面初始化
		var config = {
			url: module + '/Manager/index'
		};
		getList(config);
		//创建管理员账号
		var addAdminAccount=$('#addAdminAccount').html();
		$('body').on('click','.addManageAccount',function(){
			layer.open({
				title:['新增管理员账号','border-bottom:1px solid #d9d9d9;'],
				className:'addAdminLayer',
				content:addAdminAccount,
				btn:['确定','取消'],
				yes:function(index){
					var content='';
					var postData = $('.addAdminForm').serializeObject();
					if(!postData.name){
						content='请填写姓名';
					}else if(!register.phoneCheck(postData.mobile_phone)){
						content='请填写手机号码';
					}
					if(content){
						errorTipc(content);
						return false;
					}
					var url = module + '/Manager/edit';
					$.ajax({
						url: url,
						data: postData,
						type: 'post',
						beforeSend: function(xhr){
							$('.loading').show();
						},
						error:function(xhr){
							$('.loading').hide();
							dialog.error('AJAX错误');
						},
						success: function(data){
							$('.loading').hide();
							if(data.status == 0){
								dialog.error(data.info);
							}else{
								$('ul.list').prepend(data);
								$('ul.list').find('span.no-data').remove();
								layer.close(index);
							}
						}
					});
				}
			});
		});
		//修改管理员账号
		$('body').on('click','.modify-account',function(){
			var _this=$(this).parents('.list li');
			layer.open({
				title:['修改账号','border-bottom:1px solid #d9d9d9;'],
				className:'addAdminLayer',
				content:addAdminAccount,
				btn:['确定','取消'],
				success:function(){
					copyDataByName(_this,$('.addAdminLayer .addAdminForm'));
				},
				yes:function(index){
					var postData=$('.addAdminForm').serializeObject();
					var content='';
					if(!postData.name){
						content='请填写姓名';
					}else if(!register.phoneCheck(postData.mobile_phone)){
						content='请填写手机号码';
					}
					if(content){
						errorTipc(content);
						return false;
					}
					_this.find('.list-admin-name').text(postData.name);
					_this.find('.list-admin-mobile').text(postData.mobile_phone);
					_this.find('.accountInfo').data('account-info',postData);
					layer.close(index);
				}
			});
		});
		//删除管理员账号
		$('body').on('click','.delete-account',function(){
			var _this=$(this).parents('.list li');
			layer.open({
				title:['删除账号','border-bottom:1px solid #d9d9d9;color:#ff0000;'],
				className:'addAdminLayer',
				content:addAdminAccount,
				btn:['确定','取消'],
				success:function(){
					var accountInfo=_this.find('.accountInfo').data('account-info');
					copyDataByName(_this,$('.addAdminLayer .addAdminForm'));
				},
				yes:function(index){
					_this.remove();
					layer.close(index);
				}
			});
		});
		$('body').on('click','.list li',function(){
			$(this).addClass('current').siblings().removeClass('current');
			$(this).find('.operate-btn').show();
			$(this).siblings().find('.operate-btn').hide();
		});
	});
</script>
{/block}