{notempty name='info'}
<li class="columns_flex l-r-sides" data-id="{$info.id}">
	<div>
		<p>
			<span>{$info.factory_name|default=''}</span>机构{$info.store_type|getStoreType}
		</p>
		<p>{$info.run_type|getRunType}</p>
		<div>
			<span>店长:</span>
			<input type="text" value="{$info.nickname|default=''}" name="name" readonly="readonly"/>
		</div>
		<div>
			<span>手机号码:</span>
			<input type="tel" value="{$info.mobile_phone|default=''}" name="mobile_phone" readonly="readonly"/>
		</div>
	</div>
	<div>
		<a href="javascript:void(0);" class="text-color-gr set_shopowner">设置店长</a>
	</div>
</li>
{/notempty}