@charset "utf-8";
/* CSS Document */
/* ======================================== */
/* 商家中心相关样式表单						*/
/* ======================================== */

body { color: #666; }
html,body{ height:100%;}
h2 { font: 24px/40px "microsoft yahei"; color: #27A9E3;}
h1, h2, h3, h4, h5, h6 { font-family:  "microsoft yahei"; font-weight: normal;}
h1 { font-size: 32px;}
h2 { font-size: 25px;}
h3 { font-size: 22px;}
h5 { font-size: 15px;}
h6 { font-size: 13px;}
.lighter { font-weight: lighter;}
.bolder { font-weight: bolder;}
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block { margin-bottom: 16px;}
i { font-size: 1.2em;}
a:focus, a:active { text-decoration: none;}
a { color: #0579C6; text-decoration: none; -webkit-transition-property:color;  -webkit-transition-duration:0.3s; -webkit-transition-timing-function: ease;}
a:hover { text-decoration: underline; color: #F60;}
.hidden { display: none;}
.center { text-align: center;}
.position-relative { position: relative;}
.position-absolute { position: absolute;}

/* ---------------------------------------- */
/* 常用宽度、高度、边距、边框属性				*/
/* ---------------------------------------- */

.wrapper { width: 1200px; margin: auto;}
.row-fluid { width: 100%;}
.row-fluid:before, .row-fluid:after { content: ""; display: table; line-height: 0; }
.row-fluid:after { clear: both;}
.row-fluid [class*="span"] { -moz-box-sizing: border-box; display: block; width: 100%; min-height: 30px; float: left; margin-left: 2.5641%}
.row-fluid [class*="span"]:first-child { margin-left: 0;}
.row-fluid .controls-row [class*="span"] + [class*="span"] { margin-left: 2.5641%;}
/*.row-fluid .span12 { width: 100%;}
.row-fluid .span11 { width: 91.453%;}
.row-fluid .span10 { width: 82.906%;}
.row-fluid .span9 { width: 74.359%;}
.row-fluid .span8 { width: 65.812%;}
.row-fluid .span7 { width: 57.265%;}
.row-fluid .span6 { width: 48.7179%;}
.row-fluid .span5 { width: 40.1709%;}
.row-fluid .span4 { width: 31.6239%;}
.row-fluid .span3 { width: 23.0769%;}
.row-fluid .span2 { width: 14.5299%;}
.row-fluid .span1 { width: 5.98291%;}*/

.fl { float: left;}
.fr { float: right;}

/*.header { border-bottom: 1px solid #CCCCCC; line-height: 28px; padding-bottom: 4px; margin-top: 18px; margin-bottom: 16px;}
.header.blue { border-bottom-color: #27A9E3;}
.header.green { border-bottom-color: #D9E8C6;}
.header.purple { border-bottom-color: #E0D1F1;}
.header.orange { border-bottom-color: #FFD8AB;}
.header.red {  border-bottom-color: #F4C9C1;}
.header.grey { border-bottom-color: #D2D2D2;}
.header.pink { border-bottom-color: #ECCEDF;}
.header.pink2 { border-bottom-color: #F1C3D5;}
.header.light-blue { border-bottom-color: #DBEEFD;}
.header.light-red { border-bottom-color: #FFD2D2;}
.header.light-green {  border-bottom-color: #E7F5D5;}
.header.brown { border-bottom-color: #E1B9B9;}
.header > [class*="icon-"] { margin-right: 2px;}*/

/* 表单项属性
------------------------------------------- */
input[type="text"], input[type="password"], input.text, input.password {color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 36px; padding: 4px; border: solid 1px #CCC; outline: 0 none;}
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.password:focus, textarea:focus { color: #333; border-color: #75B9F0; box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15); outline: 0 none;}
input[type="text"].error, input[type="password"].error, textarea.error { border-color: #ED6C4F; box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15); outline: 0 none;}
textarea, .textarea { font: 12px/20px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 60px; padding: 4px; border: solid 1px #CCC; outline: 0 none;}
select { color: #777; background-color: #FFF; height: 36px; vertical-align: middle; *display: inline; padding: 4px; border: solid 1px #CCC; *zoom:1;}
select option { line-height: 20px; display: block; height: 20px; padding: 4px;}
input[type="file"] { height: 30px; cursor: default;}
.add-on { line-height: 28px;  vertical-align: top; display: inline-block; text-align: center; width: 28px; height: 28px; }
.add-on { *display: inline/*IE6,7*/; zoom:1;}
.add-on i { font-size: 14px; color: #666; text-shadow: 1px 1px 0 #FFFFFF; *margin-top: 8px/*IE7*/;}
/*表单验证错误提示文字*/
label.error { font-size: 12px; color: #E84723; margin-left: 8px;}
label.error i { margin-right: 4px;}

/* 弹出框体 */
#dialog_manage_screen_locker { opacity:0!important;}
.dialog_wrapper { box-shadow: 0 0 0 2px rgba(153,153,153,0.25) !important; padding: 0!important; border-radius: 0!important;}

/* 头部布局 */
.ncsc-head-layout { background-color: #1F262D; width: 100%; height: 72px; zoom: 1;}
.ncsc-head-layout .wrapper { height: 72px;}
/* 头部LOGO、标题 */
.ncsc-head-layout .center-logo { font-size: 0; line-height: 60px; *word-spacing:-1px/*IE6、7*/; display: block; width: 240px; height: 60px; float: left; padding: 6px; _padding: 0 6px/*IE6*/; _margin-top: 12px/*IE6*/; }
.ncsc-head-layout .center-logo img { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; max-width: 160px; max-height: 60px;}
.ncsc-head-layout .center-logo h1 { font: 16px/18px "microsoft yahei"; color: #FFF; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6、7*/; width: 72px; height: 18px; padding-left: 6px; margin-left: 6px; border-left: solid 1px #555;}

/* 头部导航条 */
/* 头部管理员身份 */

/* 商家中心内容区域
------------------------------------------- */
/* 店铺关闭 */
.store-closed { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19DA542E', endColorstr='#19DA542E');background:rgba(218,84,46,0.1); width: 100%; padding: 20px; border-bottom: solid 2px #DA542E;}
.store-closed i { font-size: 48px; color: #DA542E; vertical-align: middle; display: inline-block; margin-right: 20px;}
.store-closed dl { vertical-align: middle; display: inline-block; }
.store-closed dt { font: 20px/20px "microsoft yahei"; color: #000; height: 20px; margin-bottom: 4px;}
.store-closed dd { font: 12px/18px "microsoft yahei"; color: #555; height: 18px;}
/* 布局 */
.ncsc-layout { background: url(../images/seller/bg.png) repeat-y 195px 0; overflow: hidden;}
.ncsc-layout-left { width: 200px; float: left; position: relative; z-index: 2;}
.ncsc-layout-right { background-color: #FFF;min-height: 640px;position: relative; z-index: 1;}/* width: 999px; */
/* 内容其余左侧边栏  float: right; */
.ncsc-layout-left .sidebar { width: 196px;}
.ncsc-layout-left.sticky .sidebar { position:fixed; _position: relative; top: 0; z-index:999;}
.ncsc-layout-left .sidebar .column-title { background-color: #FFF; width: 96px; height: 96px; margin: 15px auto 25px auto; border: solid 1px #DDD; border-radius: 15px; box-shadow: 0 0 0 4px rgba(204,204,204,0.25);}
.ncsc-layout-left .sidebar .column-title span { background: url(../images/seller/ncsc_bg_img.png) no-repeat; display: block; width: 64px; height: 64px; margin: 10px auto 0 auto; }
.ncsc-layout-left .sidebar .column-title .ico-index { background-position:0 -30px;}
.ncsc-layout-left .sidebar .column-title .ico-goods { background-position: -128px -30px;}
.ncsc-layout-left .sidebar .column-title .ico-order { background-position: -128px -170px;}
.ncsc-layout-left .sidebar .column-title .ico-promotion { background-position: -64px -100px;}
.ncsc-layout-left .sidebar .column-title .ico-store { background-position: -64px -30px;}
.ncsc-layout-left .sidebar .column-title .ico-message { background-position: 0 -100px;}
.ncsc-layout-left .sidebar .column-title .ico-consult { background-position: -192px -30px;}
.ncsc-layout-left .sidebar .column-title .ico-service { background-position: -128px -100px;}
.ncsc-layout-left .sidebar .column-title .ico-statistics { background-position: -192px -100px;}
.ncsc-layout-left .sidebar .column-title .ico-account { background-position: 0 -170px;}
.ncsc-layout-left .sidebar .column-title .ico-live { background-position: -64px -170px;}
.ncsc-layout-left .sidebar .column-title h2 { font-size: 12px; line-height: 20px; font-weight: lighter; color: #999; text-align: center; height: 20px; margin: 0 auto;}
.ncsc-layout-left .sidebar .column-menu { position: relative; z-index: 2;}
.ncsc-layout-left .sidebar .column-menu ul { width: 180px; padding: 0 0 0 20px; position: absolute; z-index: 1; top: 0; right: -5px;}
.ncsc-layout-left .sidebar .column-menu li { display: block; clear: both;}
.ncsc-layout-left .sidebar .column-menu li a { font: 14px/24px "microsoft yahei"; color: #666; display: block; height: 28px; padding: 3px 0 2px 40px; margin: 1px 0 1px 4px;}
.ncsc-layout-left .sidebar .column-menu li a:hover { color: #27A9E3; text-decoration: none;}
.ncsc-layout-left .sidebar .column-menu li.current a { font-size: 16px; font-weight: normal; line-height: 28px; color: #27A9E3; background-color: #FFF; padding: 6px 0 5px 40px; margin: 0; border-style: solid; border-color: #CCC transparent #CCC #27A9E3; border-width: 1px 0 1px 4px; box-shadow: 0 4px 0 rgba(0,0,0,0.03);}
.ncsc-layout-left .sidebar .add-quickmenu { padding-top: 15px; margin: 15px 20px 0 0; border-top: dashed 1px #DDD;}
.ncsc-layout-left .sidebar .add-quickmenu a { font-size: 12px; line-height: 28px; color:  #27A9E3; background-color: #FFF; text-align: center; display: block; height: 28px; border: solid 1px #27A9E3; box-shadow: 3px 3px 0 rgba(204,204,204,0.2);}
.ncsc-layout-left .sidebar .add-quickmenu a i { margin-right: 4px;}
.ncsc-layout-left .sidebar .add-quickmenu a:hover { text-decoration: none; color: #FFF; background-color: #27A9E3;}
/* 内容区域右侧当前位置 */
.ncsc-path {overflow:hidden; font-size: 12px; line-height: 20px;  background-color: #FFF; line-height: 20px; color: #555; padding: 14px 10px 10px; border-bottom: solid 1px #F5F5F5;}
.ncsc-path i { font-size: 12px; color: #999; margin: 0 6px;}
/* 内容区域右侧默认内容 */
.ncsc-layout-right .main-content { padding: 20px;}


/* 商家中心首页相关
------------------------------------------- */
/*.ncsc-index { margin: -20px;}
.ncsc-index .top-container { width: 100%; height: 120px; border-bottom: solid 1px #F5F5F5; overflow: hidden;}
.ncsc-index .basic-info { margin: 20px; overflow: hidden; }
.ncsc-seller-info { width: 720px; height: 80px; float: left; position: relative; z-index: 1;}
.ncsc-seller-info dt, .ncsc-seller-info dd { color: #999; position: absolute; z-index: 1;}
.ncsc-seller-info dd strong { font-weight: normal; color: #555; position: relative; z-index: 1;}*/
.ncsc-seller-info dd strong a { line-height: 16px; color: #FFF; background-color: #DA542E; white-space: nowrap; padding: 1px 6px; border-radius: 4px; position: absolute; z-index: 1; top: -20px; right: -10px;}
.ncsc-seller-info .seller-name { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 360px; height: 36px; top: -10px; left: 220px;}
.ncsc-seller-info .seller-name h3 { font: normal 18px/36px "microsoft yahei"; color: #333; vertical-align: bottom; letter-spacing: normal; word-spacing: normal;  display: inline-block; *display: inline/*IE6,7*/;}
.ncsc-seller-info .seller-name h5 { font-size: 12px; line-height: 28px; color: #999; vertical-align: bottom; letter-spacing: normal; word-spacing: normal;  display: inline-block; *display: inline/*IE6,7*/; margin-left: 12px;}
.ncsc-seller-info .store-logo { top: 0; left: 0;}
.ncsc-seller-info .store-logo p { background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 200px; height: 60px; overflow: hidden;}

.ncsc-seller-info .store-logo img { max-width: 200px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}
.ncsc-seller-info .store-logo a { font-weight: normal; color: #999; display: block; text-align: center;}
.ncsc-seller-info .store-logo a:hover { text-decoration: none; color: #DA542E;}
.ncsc-seller-info .store-logo a i { font-size: 14px; margin-right: 4px; vertical-align: middle;}
.ncsc-seller-info .seller-permission { top: 34px; left: 220px;}
.ncsc-seller-info .seller-last-login { top: 34px; left: 420px;}
.ncsc-seller-info .store-name { width: 190px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; top: 60px; left: 220px;  }
.ncsc-seller-info .store-grade { top: 60px; left: 420px;}
.ncsc-seller-info .store-validity { top: 60px; left: 600px;}

.ncsc-index .detail-rate { background-color: #FFF; float: right; padding-left: 20px; margin-top: -5px; border-left: dotted 1px #E6E6E6;}
.ncsc-index .detail-rate h5 { font: normal 12px/20px "microsoft yahei"; color: #777; margin-bottom: 4px;}
.ncsc-index .detail-rate h5 strong { font-weight: 700; margin-right: 30px;}
.ncsc-index .detail-rate ul { margin: 0;}
.ncsc-index .detail-rate li { white-space: nowrap; display: block; padding: 2px 0;}
.ncsc-index .detail-rate .credit { color: #555; display: inline-block; *display: inline/*IE7*/; width: 35px; margin-left: 15px; *zoom: 1;}
.ncsc-index .detail-rate .high { color: #DA542E; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncsc-index .detail-rate .high i { background: url(../images/2014grate.png) no-repeat 0 -40px; vertical-align: middle; display: inline-block;  *display: inline/*IE7*/; zoom: 1; width: 9px; height: 8px; margin-right: 4px;}
.ncsc-index .detail-rate .high em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; *display: inline/*IE7*/; zoom: 1; width: 40px; margin-left: 2px;}
.ncsc-index .detail-rate .equal { color: #DA542E; display: inline-block;}
.ncsc-index .detail-rate .equal i { background: url(../images/2014grate.png) no-repeat -18px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.ncsc-index .detail-rate .equal em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.ncsc-index .detail-rate .low i { background: url(../images/2014grate.png) no-repeat -9px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.ncsc-index .detail-rate .low { color: #28B779; display: inline-block;}
.ncsc-index .detail-rate .low em { color: #FFF; background-color: #28B779; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.ncsc-index .seller-rate-container { padding: 5px 10px;}
.ncsc-index .seller-rate-container dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncsc-index .seller-rate-container dt, .ncsc-index .seller-rate-container dd { font-size: 12px; line-height: 18px; color: #999; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/;}

.ncsc-index .ncsc-mall-news { width: 215px; float: right; padding-left: 20px; border-left: solid 5px #FFF;}


.ncsc-index .seller-cont { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: -1px 0 30px -1px; border-bottom: solid 1px #F5F5F5; }
.ncsc-index .container { font: 12px/20px "microsoft yahei"; color: #333; background-color: #FFF;vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; width: 459px; height: 180px; padding: 25px 19px; overflow:hidden; border: solid #F5F5F5; border-width: 1px 0 0 1px ; zoom:1;}
.ncsc-index .container .hd {}
.ncsc-index .container .hd h3 { font: normal 16px/18px "microsoft yahei"; border-left: solid 3px #28B779; height: 18px; padding-left: 6px; margin-bottom: 4px;}
.ncsc-index .container .hd h5 { font: normal 12px/16px "microsoft yahei"; color: #AAA; margin-left: 8px;}
.ncsc-index .container .hd .shop-level { float:right; color:#6DABDE;}
.ncsc-index .container .hd .shop-level span { margin-left:10px; padding-left:10px; border-left:solid 1px #E8F1FF;}
.ncsc-index .container .content { margin: 20px 0; overflow:hidden;}

.ncsc-index .type-a .content dl { display: block; clear: both; padding: 10px; overflow:hidden;}
.ncsc-index .type-a .content dl dt { color: #777; float:left;}
.ncsc-index .type-a .content dl dd { float:left; margin-right:24px;}
.ncsc-index .type-a .content a strong { color:#F60; font-weight:normal;}
.ncsc-index .type-a .content ul { clear:both; margin:5px 0; overflow:hidden; zoom:1}
.ncsc-index .type-a .content ul li { width:22%; float:left; margin: 16px 0 0 2%; _margin:5px 0 0 1%/* if IE6*/;}
.ncsc-index .type-a .content ul li a { color: #555; display: inline-block; padding: 0 8px 0 4px; border: solid 1px #FFF; border-radius: 3px; position: relative; z-index: 1;}
.ncsc-index .type-a .content ul li a:hover { color: #FFF; text-decoration: none; background-color: #C8C8C8; border-color: #C8C8C8;}
.ncsc-index .type-a .content ul li a.num { color: #28B779; border-color: #28B779;}
.ncsc-index .type-a .content ul li a.num:hover { color: #FFF; background-color: #28B779;}
.ncsc-index .type-a .content ul li a strong { font: normal 10px/14px Tahoma; color: #FFF; background-color: #28B779; text-align: center; display: none; min-width: 16px; height: 14px; padding: 1px 0; border-radius: 8px; position: absolute; z-index: 1; top:-8px; right:-8px;}
.ncsc-index .type-a .content ul li a.num strong { display: block;}
.ncsc-index .type-a .content .focus { background-color: #FCF8E3; border: 1px solid #FBEED5; zoom:1;}
.ncsc-index .type-a .content .focus h2 { font-size: 16px; line-height: 20px; font-weight: lighter; padding-bottom:6px; color:#555;}


.ncsc-index .type-b ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncsc-index .type-b li { font: 12px/20px "microsoft yahei"; background: url(../images/seller/ncsc_bg_img.png) no-repeat -30px 8px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; width: 30%; padding-left: 3%; margin: 0 0 4px 0; zoom:1;}
.ncsc-index .type-b dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 20px;}
.ncsc-index .type-b dt { font: 16px/18px "microsoft yahei"; height: 18px; padding-left: 6px; margin-bottom: 8px; border-left: 3px solid #DA542E; }
.ncsc-index .type-b dd { font: 12px/20px "microsoft yahei"; background: url(../images/seller/ncsc_bg_img.png) no-repeat -30px 8px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; width: 47%; padding-left: 2%; margin-bottom: 4px; zoom:1;}


.ncsc-index .type-d .content { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 20px 0; }
.ncsc-index .type-d .content dl { vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; width: 228px; height: 155px;  margin: -1px 0 0 -1px; border: solid #F7F7F7; border-width: 1px 0 0 1px; position: relative; z-index: 1; overflow: hidden; zoom:1;}
/*.ncsc-index .type-d dl .p-name { font: 16px/20px "microsoft yahei"; color: #333; position: absolute; z-index: 1; top: 24px; left: 80px;}
.ncsc-index .type-d dl .p-name a { color: #555;}
.ncsc-index .type-d dl .p-ico { background: #FFF url(../images/seller/ncsc_bg_img.png) no-repeat scroll; display: block; width: 48px; height: 48px; position: absolute; z-index: 1; top: 18px; left: 20px;}
.ncsc-index .type-d .tghd .p-ico { background-position: -200px -250px;}
.ncsc-index .type-d .xszk .p-ico { background-position: -100px -250px;}
.ncsc-index .type-d .mjs .p-ico { background-position: -50px -300px;}
.ncsc-index .type-d .tjzw .p-ico { background-position: -150px -250px;}
.ncsc-index .type-d .ggfw .p-ico { background-position: -240px -430px;}
.ncsc-index .type-d .zthd .p-ico { background-position: -100px -300px;}
.ncsc-index .type-d .yhq .p-ico { background-position: -50px -250px;}
.ncsc-index .type-d .zhxs .p-ico { background-position: -200px -300px;}
.ncsc-index .type-d .djq .p-ico { background-position: 0 -300px;}*/

.ncsc-index .type-d dl .p-hint { font: 12px/20px "microsoft yahei"; color: #999; position: absolute; z-index: 1; left: 80px; top: 46px;}
.ncsc-index .type-d dl .p-hint i { color: #28B779; margin-right: 4px;}
.ncsc-index .type-d dl .p-hint i.icon-minus-sign { color: #999;}
.ncsc-index .type-d dl .p-info { font: 12px/16px "microsoft yahei"; color: #AAA; width: 200px; height: 32px; padding-top: 8px; border-top: dotted 1px #F5F5F5; position: absolute; z-index: 1; left: 15px; top: 96px; overflow: hidden;}
.ncsc-index .type-d dl .p-point { font: 12px/14px "microsoft yahei"; color: #27A9E3; white-space: nowrap; width: auto; height: 14px;  position: absolute; z-index: 1; left: 34px; top: 76px; overflow: hidden;}

.tabmenu { background-color: #FFF; width:100%; height: 38px; display: block; position: relative; z-index: 99;}
.tabmenu .tab { height: 36px; border-bottom: solid 2px #ddd;}
.tabmenu .tab li { float: left; margin-right: 3px;}
.tabmenu .tab a { font: lighter 14px/33px "microsoft yahei"; color: #FFF; background-color: #AAA; display: inline-block; height: 33px; padding: 0 10px; }
.tabmenu .tab a:hover { text-decoration: none; color:#FFF; background-color: #333; }
.tabmenu .tab .ui-tabs-selected a { height:36px; color: #FFFFFF; background-color: #FFF; display: inline-block; padding: 0px 10px; border:0px; border-radius: 4px 4px 0 0; cursor: default; background-color: #27A9E3;}
.tabmenu .tab .ui-tabs-selected a:hover { text-decoration: none; cursor: default;}
.tabmenu .tab .active a {color: #FFF; background-color: #0d7eff; display: inline-block; height: 36px; padding: 0 20px; cursor: default;}
.tabmenu .tab .active a:hover { text-decoration: none; cursor: pointer;}
.tabmenu .tab .normal a { font: lighter 14px/33px "microsoft yahei"; color: #FFF; background-color: #AAA; display: inline-block; height: 33px; padding: 0 10px; }
.tabmenu .tab .normal a:hover { text-decoration: none; color:#FFF; background-color: #333; }
.tabmenu .text-intro { line-height: 20px; color: #999; position: absolute; z-index: 99; top:5px; right:5px;}
/*.tabmenu a.ncsc-btn { position: absolute; z-index: 1; top: -2px; right: 0px;height:36px;line-height:36px;padding:0 20px;}*/
.add_purchase_btn{position: absolute; z-index: 1; top: -2px; right: 0px;height:36px;line-height:36px;padding:0 20px;}
.add_purchase_btn a.ncsc-btn{}
.sticky .tabmenu { width: 960px; padding-top: 10px; padding-bottom: 10px; position: fixed; top: 0; }
.sticky .tabmenu a.ncsc-btn { top: 8px;}

/* 通用页内表单提交类型样式 促销管理页面*/
.ncsc-form-default {}
.ncsc-form-default h3 { font-size: 12px; font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncsc-form-default dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; border-bottom: dotted 1px #E6E6E6; overflow: hidden;}
.ncsc-form-default dl:hover { background-color: #FCFCFC;}
.ncsc-form-default dl:hover .hint { color: #666;}
.ncsc-form-default dl.bottom { border-bottom-width: 0px;}
.ncsc-form-default dl dt { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width:9%; padding: 10px 1% 10px 0; margin: 0;}
.ncsc-form-default dl dt { *display: inline/*IE6,7*/;}
.ncsc-form-default dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncsc-form-default dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 79%; padding: 10px 0 10px 0; }
.ncsc-form-default dl dd { *display: inline/*IE6,7*/; zoom: 1;}
.ncsc-form-default dl dd span { *line-height: 20px; *display: inline; *height: 20px; *margin-top: 6px; *zoom:1;}
.ncsc-form-default dl dd p { clear: both;}
.ncsc-form-default div.bottom { text-align: center;}
.ncsc-form-default .ncsc-upload-thumb { background-color: #FFF; border: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncsc-form-default .ncsc-upload-thumb:hover { border-style: solid; border-color: #27A9E3;}
.ncsc-form-default .ncsc-upload-thumb p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE6,7*/; width: 100px; height: 100px; overflow: hidden;}
.ncsc-form-default .ncsc-upload-thumb i { font-size: 48px; color: #CCC;}
.ncsc-form-default .ncsc-upload-thumb a { font: 10px/14px Tahoma; background-color: #FFF; text-align: center; vertical-align: middle; display: none; width: 14px; height: 14px; border: 1px solid; border-radius: 8px 8px 8px 8px; position: absolute; z-index: 2; top: -8px; right: -8px;}
.ncsc-form-default .ncsc-upload-thumb:hover a { color: #27A9E3; display: block; border-color: #27A9E3;}
.ncsc-form-default .ncsc-upload-thumb:hover a:hover { text-decoration: none;}
.ncsc-form-default .ncsc-upload-thumb.store-logo,
.ncsc-form-default .ncsc-upload-thumb.store-logo p { width: 200px; height: 60px;}
.ncsc-form-default .ncsc-upload-thumb.store-logo p img { max-width: 200px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.store-banner,
.ncsc-form-default .ncsc-upload-thumb.store-banner p { width: 638px; height: 158px;}
.ncsc-form-default .ncsc-upload-thumb.store-banner p img { max-width: 638px; max-height: 158px; margin-top:expression(158-this.height/2); *margin-top:expression(79-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic,
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic p { width: 160px; height: 160px;}
.ncsc-form-default .ncsc-upload-thumb.store-sns-pic p img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic,
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic p { width: 440px; height: 293px;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-pic p img { max-width: 440px; max-height: 293px; margin-top:expression(293-this.height/2); *margin-top:expression(146-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic,
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic p { width: 210px; height: 180px;}
.ncsc-form-default .ncsc-upload-thumb.groupbuy-commend-pic p img { max-width: 210px; max-height: 180px; margin-top:expression(180-this.height/2); *margin-top:expression(90-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.voucher-pic,
.ncsc-form-default .ncsc-upload-thumb.voucher-pic p { width: 100px; height: 100px;}
.ncsc-form-default .ncsc-upload-thumb.voucher-pic p img { max-width: 100px; max-height: 100px; margin-top:expression(100-this.height/2); *margin-top:expression(50-this.height/2)/*IE6,7*/;}
.ncsc-form-default .ncsc-upload-thumb.watermark-pic,
.ncsc-form-default .ncsc-upload-thumb.watermark-pic p { width: 100px; height: 100px;}
.ncsc-form-default .ncsc-upload-thumb.watermark-pic p img { max-width: 100px; max-height: 100px; margin-top:expression(100-this.height/2); *margin-top:expression(50-this.height/2)/*IE6,7*/;}

.ncsc-form-default .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncsc-form-default .upload-appeal-pic p { padding: 5px;}
.ncsc-form-default .handle { height: 30px; margin: 10px 0;}

/* 内容部分通用搜索样式 */
.search-form { color: #999; width: 100%; border-bottom: solid 1px #E6E6E6;}
.search_product_type{margin:20px 0 20px;}
.search-form th { font-size: 12px; line-height: 22px; text-align: right; width: 50px; padding: 8px 8px 8px 8px;}
.search-form td { text-align: left; padding: 8px 0;}
.w160{width:160px;}
.addbundling_type{width:452px;}
.search-form input.text { vertical-align: middle; width: 148px;height:36px;}
.search-form .add-on { vertical-align: top;}
.search-form .submit-border { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; margin: 0 2px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; zoom:1; }
.search-form .submit-border:hover { border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
.search-form input[type="submit"],
.search-form input.submit,
.search-form a.submit { font: 12px/28px "microsoft yahei"; color: #333; background-color: #F5F5F5; width: 64px; height: 36px; padding: 0; border: 0; cursor: pointer;}
.search-form input[type="submit"]:hover { background-color: #E6E6E6; color: #333; }


/* 内容部分通用表格样式 */
.ncsc-default-table { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncsc-default-table thead th {font-size:14px;line-height: 20px; color: #999; background-color: #FFF; text-align:center; height: 20px; padding: 8px 0; border-bottom: solid 1px #DDD; }
.ncsc-default-table thead td,
.ncsc-default-table tfoot th { background-color: #FFF; height: 22px; padding: 5px 0; border-bottom: solid 1px #E6E6E6;}
.ncsc-default-table tfoot th { border-top: solid 1px #E6E6E6;}
.ncsc-default-table thead td label, .ncsc-default-table tfoot th label { color: #555; display: inline; float: left; margin-right: 10px; cursor: pointer; }
.ncsc-default-table tbody th { background-color: #FAFAFA; border: solid #E6E6E6; border-width: 1px 0; padding: 4px 0;}
.ncsc-default-table tbody th span { display: inline-block; vertical-align: middle; margin-right: 30px;}
.ncsc-default-table tbody th span.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 240px; height: 20px; overflow: hidden;}
.ncsc-default-table tbody td { color: #999; background-color: #FFF; text-align: center; padding: 10px 0;}
.ncsc-default-table tbody td strong { color: #666;}
.ncsc-default-table tfoot td { background-color: #FFF; text-align: center; padding: 10px 0;}
.ncsc-default-table td .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle;display: block; height: 32px;  overflow: hidden;}
.ncsc-default-table td .pic-thumb img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(16-this.height/2)/*IE6,7*/;}
.ncsc-default-table td .goods-name { border: none;width:50px;}
.ncsc-default-table td .goods-name dt { font-size: 12px; color: #333; text-overflow: ellipsis; display: block; text-align: left; max-width: 320px!important; max-height: 32px; padding-bottom: 4px; overflow: hidden;}
.ncsc-default-table td .goods-name dt span { line-height: 16px; color: #FFF; background-color: #999; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 4px; margin-right: 2px; *zoom: 1; box-shadow: inset 1px 1px 0 rgba(255,255,255,0.25); cursor: default;}
.ncsc-default-table td .goods-name dt span.type-virtual { background-color: #3598DC;}
.ncsc-default-table td .goods-name dt span.type-fcode { background-color: #9C59B8;}
.ncsc-default-table td .goods-name dt span.type-presell { background-color: #1ABC9D;}
.ncsc-default-table td .goods-name dt span.type-appoint { background-color:;}
.ncsc-default-table td .goods-name dt a { color: #005EA6;}
.ncsc-default-table td .goods-name dt a:hover { color: #DA542E;}
.ncsc-default-table td .goods-name dd { line-height: 16px; display: block; height: 16px;}
.ncsc-default-table td .goods-name .sale-type { background-color: #DA542E; padding: 1px 4px;color:#FFFFFF}
.ncsc-default-table td .goods-name dd.serve { height: 18px; padding-top: 2px;}
.ncsc-default-table td .goods-name dd.serve span { color: #555; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin-right: 6px; position: relative; z-index: 1; *zoom: 1; cursor: default;}
.ncsc-default-table td .goods-name dd.serve i { font-size: 18px; line-height: 20px;}
.ncsc-default-table td .goods-name dd.serve i.commend { font-size: 12px; background-color: #CCC; color: #FFF !important; line-height: 16px; text-align: center; display: block; width: 16px; height: 16px; border-radius: 2px; }
.ncsc-default-table td .goods-name dd.serve .open i { color: #3598DC;}
.ncsc-default-table td .goods-name dd.serve .open i.commend { background-color: #E84C3D;}
.ncsc-default-table td .goods-name dd.serve span .QRcode { background: #F5F5F5; display: none; width: 160px; padding: 5px; border: solid 1px #CCC; position: absolute; z-index: 99; top: -90px; right: -170px; box-shadow: 0 0 5px rgba(0,0,0,0.15);}
.ncsc-default-table td .goods-name dd.serve span .QRcode a { line-height: 20px; display: block; text-align: right;}
.ncsc-default-table td .goods-name dd.serve span .QRcode p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; overflow: hidden;}
.ncsc-default-table td .goods-name dd.serve span .QRcode img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2);}
.ncsc-default-table td .goods-name dd.serve span:hover .QRcode { display: block;}
/*订单赠品*/
/*.bd-line td { border-bottom: solid 1px #DDD;}
.order tbody tr td.sep-row { height:12px; padding:0; border:0;}
.order tbody tr:hover td.sep-row {background-color: #FFF; border:0; }
.order tbody tr th { border: solid 1px #DDD; }
.order tbody tr th h3 { font-size: 12px; line-height: 20px; font-weight: bold; color: #555; vertical-align: middle; display: inline-block; margin: 0 10px;}
.order tbody tr th time { font-size: 11px; line-height: 20px; color: #999; vertical-align: middle; display: inline-block; margin-right: 20px; -webkit-text-size-adjust:none;}
.order tbody tr th time i { font-size: 12px; margin-right: 4px;}
.order tbody tr td { border-bottom: 1px solid #E6E6E6; vertical-align: top; }
.order tbody tr td.bdl { border-left: 1px solid #E6E6E6; }
.order tbody tr td.bdr { border-right: 1px solid #E6E6E6; }
.order .norecord {border-bottom:0 !important;}
.ncsc-order-amount { font: bold 12px/20px Verdana; color: #C00;}*/

/* 按钮样式 */
.nscs-table-handle { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.nscs-table-handle span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; padding: 0 4px; border-left: solid 1px #E6E6E6;}
.nscs-table-handle span { *display: inline/*IE6,7*/;}
.nscs-table-handle span:first-child { border-left: none 0;}
.nscs-table-handle span a { color: #777; background-color: #FFF; display: block; padding: 3px 7px; margin: 1px;}
.nscs-table-handle span a i { font-size: 14px; line-height: 16px; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.nscs-table-handle span a p { font: 12px/16px arial; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.nscs-table-handle span a:hover { text-decoration: none; color: #FFF; margin: 0; border-style: solid; border-width: 1px;}

a.ncsc-btn-mini { font: normal 12px/20px arial; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 0 10px; margin-right: 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncsc-btn-mini { text-decoration: none; color: #333; background-color: #E6E6E6;border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncsc-btn { font: normal 12px/20px "microsoft yahei"; text-decoration: none; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 4px 10px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncsc-btn { text-decoration: none; color: #333; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncsc-btn-mini i, a.ncsc-btn i { font-size: 14px; vertical-align: middle; margin-right: 4px;}
a.ncsc-btn-blue, a.ncsc-btn-acidblue, a.ncsc-btn-green, a.ncsc-btn-orange, a.ncsc-btn-red, a.ncsc-btn-black,
a:hover.ncsc-btn-blue, a:hover.ncsc-btn-acidblue, a:hover.ncsc-btn-green, a:hover.ncsc-btn-orange, a:hover.ncsc-btn-red, a:hover.ncsc-btn-black, .nscs-table-handle a.btn-orange-current { color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.10);}
a.ncsc-btn-blue,
.nscs-table-handle a:hover.btn-blue  { background-color: #006DCC; border-color: #0062B7 #0062B7 #005299 #0062B7;}
a.ncsc-btn-acidblue,
.nscs-table-handle a:hover.btn-acidblue { background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8;}
a.ncsc-btn-green,
.nscs-table-handle a:hover.btn-green { background-color: #0d7eff; border:1px solid #0d7eff;}
a.ncsc-btn-orange,
.nscs-table-handle a:hover.btn-orange,
.nscs-table-handle a.btn-orange-current { background-color: #FAA732; margin: 0; border-style: solid; border-width: 1px; border-color: #E1962D #E1962D #BB7D25 #E1962D !important;}
a.ncsc-btn-red,
.nscs-table-handle a:hover.btn-red { background-color: #DA4F49; border-color: #C44742 #C44742 #A33B37 #C44742;}
a.ncsc-btn-black,
.nscs-table-handle a:hover.btn-black { background-color: #363636; border-color: #313131 #313131 #282828 #313131;}
a:hover.ncsc-btn-blue{ background-color: #0044CC; border-color: #003DB7 #003DB7 #003399 #003DB7;}
a:hover.ncsc-btn-acidblue { background-color: #2F96B4; border-color: #2A87A2 #2A87A2 #237087 #2A87A2;}
a:hover.ncsc-btn-green { background-color: #51A351; border-color: #499249 #499249 #3D7A3D #499249;}
a:hover.ncsc-btn-orange { background-color: #F89406; border-color: #DF8505 #DF8505 #BA6F04 #DF8505;}
a:hover.ncsc-btn-red { background-color: #BD362F; border-color: #AA312A #AA312A #8E2823 #AA312A;}
a:hover.ncsc-btn-black { background-color: #222222; border-color: #1F1F1F #1F1F1F #191919 #1F1F1F;}

.ncsc-upload-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 80px; height: 30px; margin: 5px 5px 0 0; *zoom:1;}
.ncsc-upload-btn a { display: block; position: relative; z-index: 1;}
.ncsc-upload-btn span { width: 80px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.ncsc-upload-btn .input-file { width: 80px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.ncsc-upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 78px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.ncsc-upload-btn p i { vertical-align: middle; margin-right: 4px;}
.ncsc-upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}

.show-album { font-size: 12px; color: #666; line-height: 20px; background-color: #F5F5F5; vertical-align: middle; display: inline-block; height: 20px; padding: 4px 8px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; }
.show-album i { margin-right: 4px;}
.show-album:hover { color: #333; text-decoration: none; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF}

.submit-border { display: inline-block; *display: inline/*IE6,7*/; border: solid 1px; border-color: #52A452 #52A452 #448944 #52A452; zoom:1;}
input[type="submit"], input.submit, a.submit { font-size: 12px; font-weight: bold; color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); background-color: #5BB75B; display: block; height: 30px; padding: 0 20px 2px 20px; border: 0; cursor: pointer; }
.submit-border:hover { borderd-color: #499249 #499249 #3D7A3D #499249;}
input[type="submit"]:hover, input.submit:hover, a.submit:hover { text-decoration: none; color: #FFF; background-color: #51A351;}



.order .buyer { color: #555; position:relative; display:block; }
.order .buyer-info { display:none; }
.order .buyer:hover .buyer-info { *width:250px/*IE7*/; display:block; position:absolute; z-index:8; top:-40px; left: 90px; border: solid 1px #FEC500; background-color:#FFF9D4; padding:4px; border-radius:5px;}
.order .buyer-info em { background: url(../images/seller/ncsc_bg_img.png) no-repeat -40px -460; width: 8px; height: 14px; position: absolute; z-index: 9; top: 37px; left:-8px;}
.order .buyer-info .con { display:block; overflow:hidden; background: #FFF; padding:5px;}
.order .buyer-info h3 { font-size:1em; font-weight:700; color: #C33700; padding: 5px 0; overflow:hidden;}
.order .buyer-info h3 i {background: url(../images/seller/ncsc_bg_img.png) no-repeat scroll -40px -476px; width: 17px; height: 11px; float:left; margin: 5px 5px 4px 12px;}
.order .buyer-info h3  span { float:left;}
.order .buyer-info dl { color: #777; padding:2px 0; width:220px; overflow:hidden; clear:both;}
.order .buyer-info dt { float:left; width:50px; text-align:right;}
.order .buyer-info dd { float:left; width:140px; text-align:left;}

/*商品列表页-SKU值显示部分*/
td.trigger i { color: #C8C8C8; cursor: pointer; }
td.trigger i:hover { color: #27A9E3;}
.ncsc-goods-sku.ps-container { background-color: #FCFCFC; text-align: left; width: 950px; padding-bottom: 3px; border: solid 1px #E6E6E6;  position: relative; z-index: 1; overflow: hidden; box-shadow: 2px 2px 0 rgba(204,204,204,0.1);}
.ncsc-goods-sku-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; display: inline-block; *display: inline; margin: 10px 0; zoom: 1; overflow: hidden;}
.ncsc-goods-sku-list li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; width: 100px; padding: 0 9px 0 10px; margin-left: -1px; *zoom: 1; border-left: dashed 1px #E6E6E6;}
.ncsc-goods-sku-list .goods-thumb { background-color: #FFF; width: 60px; height: 60px; padding: 1px; border: solid 1px #E6E6E6; margin: 0 auto 5px auto;}
.ncsc-goods-sku-list .goods-thumb a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden;}
.ncsc-goods-sku-list .goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}



.ncsc-goods-sku-list .goods_spec em,
.ncsc-goods-sku-list .goods-price em,
.ncsc-goods-sku-list .goods-storage em { font-weight: 600; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 60px; zoom: 1; overflow: hidden;}
.ncsc-goods-sku-list .goods_spec em { color: #448944;}
.ncsc-goods-sku-list .goods-price em { color: #F30;}
.ncsc-goods-sku-list .goods-storage em { color: #27A9E3}



/*商品规格-规格值添加相关样式*/
.ncsc-goods-spec { margin: 20px 0;}
.ncsc-goods-spec .spec-tabmenu { margin-bottom: -1px;}
.ncsc-goods-spec .spec-tabmenu ul { font-size: 0; *word-spacing: -1px/*IE6、7*/;}
.ncsc-goods-spec .spec-tabmenu ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 20%;}
.ncsc-goods-spec .spec-tabmenu ul li { *display: inline/*IE6,7*/;}
.ncsc-goods-spec .spec-tabmenu ul li a { font-size: 12px; line-height: 30px; color: #999; text-align: center; display: block; height: 30px; padding: 8px 0; border-style: solid; border-color: #FFF; border-width: 1px 1px 0 1px; }
.ncsc-goods-spec .spec-tabmenu ul li a:hover { text-decoration: none;}
.ncsc-goods-spec .spec-tabmenu ul li.selected a { font-size: 16px; font-weight: lighter; color: #27A9E3; background-color: #FFF; border-color: #E6E6E6;}
.ncsc-goods-spec .spec-iframe { }
.ncsc-spec-info { width: 100%; padding: 10px 0; border-bottom: solid 1px #E6E6E6; position: relative; z-index: 1; overflow: hidden;}
.ncsc-spec-info span { line-height: 30px; height: 30px; margin: 0 40px 0 10px;}
.ncsc-spec-info a { position: absolute; z-index: 1; top: 10px!important; right: 10px!important;}

/* 商品发布页面相关样式
------------------------------------------- */

/*发布流程步骤提示*/
.add-goods-step { font-size: 0; background-color: #FFF; *word-spacing:-1px/*IE6、7*/; margin: 0 0 20px 20px; }
.add-goods-step li { color: #CCC; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width:25%; *width: 24%; height: 50px; position: relative; z-index: 1;}
.add-goods-step li { *display: inline/*IE6,7*/; zoom: 1;}
.add-goods-step li .icon { font-size: 32px; line-height: 50px; text-align: center; width: 40px; height: 50px; position: absolute; z-index: 1; top: 0; left: 5px;}
.add-goods-step li h6 { font-size: 11px; line-height: 16px; position: absolute; z-index: 1; top: 0; left: 50px; -webkit-text-size-adjust:none;}
.add-goods-step li h2 { font-size: 22px; font-weight: lighter; line-height: 30px; color: #CCC; position: absolute; z-index: 1; top: 16px; left: 50px;}
.add-goods-step li .arrow { font-size: 20px; line-height: 50px; color: #CCC; text-align: center; width: 20px; height: 50px; position: absolute; z-index: 1; top: 0; right: 0;}
.add-goods-step li.current,
.add-goods-step li.current h2 { color: #27A9E3;}
.sticky .add-goods-step { width: 940px; height: 50px; padding: 10px 0 10px 20px; margin: 0; border-bottom: solid 1px #27A9E3; position: fixed; z-index: 99; top: 0;}

/* 发布商品第一步-选择分类 */
/*.wp_data_loading { font-size:12px; background-color: #FFF; display: none; width:120px; height:16px; padding: 20px; border:1px solid #92AED1; margin-left: -81px; margin-top: -28px; position: absolute; z-index:30; left: 50%; top: 50%; filter: alpha(opacity=75); -moz-opacity: 0.75; opacity: .75;}
.data_loading { line-height: 16px; background: url(../images/loading.gif) no-repeat 0 0; padding-left: 30px;}
.wp_sort { background-color: #FAFAFA; height:318px; padding:15px; margin: 10px auto; border: solid 1px #E6E6E6; position:relative; z-index: 1;}
.sort_title { font-size: 12px; line-height: 30px; color: #777; text-align: center; height: 30px; margin: 0 auto; }
.sort_title .text { font: 12px/20px Arial; color: #777; background-color: #FFF; vertical-align: top; text-align: left; display: inline-block; width: 700px; height: 20px; padding: 4px; border: solid 1px #CCC; outline: 0 none; letter-spacing: normal; word-spacing: normal; *display: inline/*IE6,7*/; cursor:pointer; zoom:1;}*/
.sort_title .text:hover{ color: #333; border-color: #75B9F0; box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15); outline: 0 none;}



.sort_title i { color: #CCC; position: absolute; z-index: 1; top: 20px; left: 870px;}
.sort_title:hover i{ color: #333;}
.select_list{ background-color: #FFF; display: none; width: 708px; height: 200px; border: solid 1px #75B9F0; position: absolute; z-index: 2; top: 44px; left: 179px; overflow-y: scroll; overflow-x: hidden;}
.select_list ul { margin:0; padding:0;}
.select_list ul li { display: block; clear: both; border-bottom: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.select_list ul li span{ line-height: 30px; display: block; height: 30px; padding: 0 10px; margin: 0; cursor: pointer;}
.select_list ul li:hover { color:#06C; background-color: #f4fafe;}
.select_list ul li a { width: 16px; height: 16px; color: #27A9E3; position: absolute; z-index: 2; top: 5px; right: 10px;}
.select_list ul li a:hover { text-decoration: none; color: #DA542E;}
.wp_sort_block{ font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 15px 0 0; overflow: hidden;}
.sort_list { background: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin-right: 15px; border: solid 1px #E6E6E6;}
.sort_list { *display: inline/*IE6,7*/;}
.sort_list_last { margin-right: 0;}
.wp_category_list{ width: 284px; height: 264px; padding: 8px 4px 8px 8px; margin:0;}
.wp_category_list.blank { background-color: #F0F0F0;}
.wp_category_list.blank .category_list{ display:none;}
.category_list { height: 264px; overflow: hidden; position: relative; z-index: 1;}
.category_list ul { margin: 0 15px 0 0 ;}
.category_list ul li { clear: both;}
.category_list ul li a { font-size: 12px; line-height: 20px; color: #666; display: block; height: 20px; padding: 4px 8px; margin: 1px; overflow:hidden; }
.category_list ul li a i { font-size: 12px; display: none;}
.category_list ul li a.classDivClick { color: #3A87AD; background-color: #D9EDF7; display: block; margin: 0; border: solid 1px #BCE8F1;}
.category_list ul li a.classDivClick i { font-size: 14px; display: block; margin-left: 6px; float: right;}
.category_list ul li a:hover {text-decoration: none;}
.category_list ul .hight_light { color:#f50;}
.hover_tips_cont { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align:left; overflow: hidden;}
.hover_tips_cont dt, .hover_tips_cont dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; white-space: nowrap; display: inline-block; *display: inline/*IE6,7*/; zoom:1;}
.hover_tips_cont dt { font-weight: 600;}
.hover_tips_cont dd i { margin: 0 5px;}
.bottom .submit-border { margin: 10px auto;}
.bottom .submit { font: 14px/36px "microsoft yahei"; text-align: center; min-width: 100px; *min-width: auto; height: 36px;}
.bottom a.submit { width: 100px; margin: 0 auto;}
.bottom .submit[disabled="disabled"] { color: #999; text-shadow: none; background-color: #F5F5F5; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: default;}


/*商品添加步骤二售卖区域样式 by hou*/
/* 发布商品-属性 */

/* 电脑端手机端商品详情切换Tab */

/* 手机端商品介绍 */


/* 发布商品-上传主图 */

/* 发布与编辑商品-AJAX图片上传及控制删除 */


/* 发布商品-捆绑赠品 */

/* 发布商品-推荐组合 */

/*运费*/


/* E 提示的样式*/
.sort_info{ color:#f50; position:relative; font-size:12px; font-family:"宋体"}
.sort_info .title{ color:#404040; float:left; width:60px; line-height:18px; display:block;}
.sort_info .info{ float:left; width:860px; line-height:18px; display:block;}
.add_link{ margin:0 3px 0 10px;}
.add_done{ color:#093}

.wp_launch{ height:21px;line-height:21px; vertical-align:middle;}
.wp_launch input{ width:21px; height:21px; vertical-align:middle;  padding:0; outline:none;margin:-2px 0; margin:-4px 0\9;}
.current_sort{ margin-top:0px;}
.current_sort .msg0-icon-help {/*margin-top:-2px\9;*/ }
.current_sort .help_tips{position:absolute;background-color:#FFF9CC;border:1px solid #F4CB48; z-index:20; display:block; width:263px; color:#404040; padding:2px 5px;text-align:left; left:188px; top:25px;}


/*搜索结果*/
/*.wp_search_result { width:978px; padding:10px; height:280px; border:1px solid #d3e5f3; background:#f4fafe; margin-top:10px;}
.wp_search_result .loading { width:100px; height:20px; margin:117px 0 0 414px; line-height:20px;}
.wp_search_result .loading img { width:16px; height:20px; float:left; margin-right:5px;}
.wp_search_result .loading .txt_searching{ display:block; width:75px; height:20px; float:left; line-height:20px;}
.no_result .cont{ max-width:555px; margin:70px auto 0 auto;}
.no_result .cont  p{ height:21px; line-height:21px;}
.no_result .cont .title{ margin-bottom:15px; font-size:14px; display:block;}
.no_result .cont span{ color:#014ccc;}*/


/*商品添加步骤一*/



/*抢购页选中后插入页面中的商品内容*/
.selected-group-goods { background-color: #FFF; width: 162px; padding: 9px; margin-bottom: 10px; border: solid 1px #E6E6E6; box-shadow: 2px 2px 0 rgba(153,153,153,0.1);}
.selected-group-goods .goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 160px; height: 160px; border: solid 1px #F5F5F5; overflow: hidden;}
.selected-group-goods .goods-thumb img { max-width: 160px; max-height: 160px; margin-top:expression(160-this.height/2); *margin-top:expression(80-this.height/2)/*IE6,7*/;}
.selected-group-goods .goods-name, .selected-group-goods .goods-price { line-height: 20px; white-space: normal; text-overflow: ellipsis; display: block; width: 100%; height: 20px; overflow: hidden;}
/* 促销活动-限时折扣-选择商品 */
.div-goods-select-box { position: relative; z-index: 1; zoom: 1;}
.div-goods-select { background-color: #FFF; margin-bottom: 20px; border: solid 1px #E6E6E6; position: relative; z-index: 1; zoom: 1;}
.div-goods-select .close,
.div-goods-select-box .close { font: lighter 18px/18px Verdana; color: #E6E6E6; background-color: #FFF; text-align: center; display: block; width: 20px; height: 20px; border: 1px solid #E6E6E6; border-radius: 22px; position: absolute; z-index: 1; top: -11px; right: -11px; cursor: pointer;}
.div-goods-select .search-result { width: 1236px; margin: 0 auto; overflow: hidden;}
.div-goods-select .search-result .goods-list { font-size: 0; *word-spacing: -1px/*IE6、7*/; width: 950px; border: solid #E6E6E6; border-width: 0 0 1px 0; margin-right: -1px; }
.div-goods-select .search-result .goods-list li { vertical-align: top; letter-spacing: normal; 
word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 149px; 
padding: 10px 20px; margin: 0 0 -1px 0; border-style: solid; 
border-color: #E6E6E6; border-width: 1px 1px 1px 1px; overflow: hidden; zoom: 1;margin:0 10px 10px 0;
}
.div-goods-select .search-result .goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 140px; height: 140px;overflow: hidden;}
.div-goods-select .search-result .goods-thumb img { max-width: 140px; max-height: 140px; margin-top:expression(140-this.height/2); *margin-top:expression(70-this.height/2)/*IE6,7*/;}
.div-goods-select .search-result .goods-info { border: none;}
.div-goods-select .search-result .goods-info dt { 
    text-align: left; 
    width: auto; 
    display: block; 
    line-height: 16px; 
    height: 22px; 
    padding: 0; 
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
}
.div-goods-select .search-result .goods-info dd { 
    line-height: 20px; 
    height: auto !important;
    padding: 2px 0;
    font-size: 12px;
    /*line-height: 32px;*/
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 79%;
}
.div-goods-select .norecord { font-size: 12px; color: #AAA; text-align: center; display: block; padding: 40px 0;}
.dialog_content .selected-goods-info { width: 94%; margin: 10px auto; overflow: hidden;}
.dialog_content .selected-goods-info .goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 118px; height: 118px; float: left; padding: 0; border: solid 1px #E6E6E6; overflow: hidden;}
.dialog_content .selected-goods-info .goods-thumb img { max-width: 118px; max-height: 118px; margin-top:expression(118-this.height/2); *margin-top:expression(59-this.height/2)/*IE6,7*/;}

.selected-goods-info .goods-info { float: right; width: 280px; }
.selected-goods-info .goods-info dt { line-height: 20px !important; font-weight: 600; height: 40px !important; overflow: hidden;}
.selected-goods-info .goods-info dd { line-height: 30px !important; height: 30px !important; display: block; padding: 5px 0; border-top: dotted 1px #F7F7F7; }


/*满送活动规则*/
/*搭配组合-下架商品*/

/* 商品缩略图
-------------------------------------------*/

/* 运单打印
-------------------------------------------*/

/*2017-7-22*/
.addbundling_ncsc_btn{margin:15px 0 15px;}
.addbundling_type_btn{color:#fff;width:100px;height: 36px;line-height:36px;background:#49AFCD;text-align:center;display: block;}
.addbundling_type_btn:hover{
    background-color: #49AFCD;
    color:#fff;
    text-decoration: none;
}
.checked_good td,.checked_good td .goodsNum{text-align:center;}
