span[status=open]{width:12px;height:12px;display:inline-block;background:url(../../admin-img/common/default/tv-expandable.gif);}
span[status=close]{width:12px;height:12px;display:inline-block;background:url(../../admin-img/common/default/tv-collapsable.gif);}
span[status=none]{width:12px;height:12px;display:inline-block;background:url(../../admin-img/common/default/tv-item.gif);}
tr[data-level="2"] td:nth-child(1) .checkitem{padding-left:0;margin:0 0 0 40px;}
tr[data-level="3"] td:nth-child(1) .checkitem{padding-left:0;margin:0 0 0 70px;}
tr[data-level="2"] td:nth-child(3) .editable{
    margin-left:0;
    padding:0 0 0 40px;
    background:url(../../admin-img/purchase/arrow.png) no-repeat 8px center;
}
tr[data-level="3"] td:nth-child(3) .editable{
    margin-left:0;
    padding:0 0 0 70px;
    background:url(../../admin-img/purchase/arrow.png) no-repeat 40px center;
}


