<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!-- S= 轮播图 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="PUBLIC_IMG/home/slide/banner.jpg" /></div>
            <div><img src="PUBLIC_IMG/home/slide/diamond_watches.jpg" /></div>
            <div><img src="PUBLIC_IMG/home/slide/red_wine.jpg" /></div>
            <div><img src="PUBLIC_IMG/home/slide/banner.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="f24">
        <ul class="common_top_nav">
            <volist name="catList" id="vo">
                <li class="categoryId" value="{$vo.id}">{$vo.name}</li>
            </volist>
            <input class="checkedId" type="hidden" value="{$categoryId}">
        </ul>
    </nav>
    <input type="hidden" class="goods_position" value="goods_index">
    <div class="content common_contents"  ></div>
    <input type="hidden" value="1" class="page">
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_IMG/home/loading.gif' alt='loading'></div>
        </div>
    </div>
    <block name="footer">
        <include file="Public/footerCartWithAdd" />
    </block>
</block>
<block name="js-customize">
    <script type="text/javascript" src="PUBLIC_JS/home/cart.js"></script>
</block>

<block name="script">
    <script type="text/javascript">

        /**
         * 继续加载
         * */
        var before_request = 1; // 上一次请求是否已经有返回来, 有才可以进行下一次请求
        var currentCatId = 0;
        function getMoreGoods(catId,type){
            var url = MODULE+'/Goods/goodsList';
            var getData = {};
            if(before_request == 0 && catId == currentCatId ){
                return false;
            }// 上一次请求没回来 不进行下一次请求
            if(catId != currentCatId || type == 1){
                page = 1;
            }
            before_request = 0;
            getData.pageSize = 4;
            getData.p = page++ ;
            getData.catId =  catId;

            $.ajax({
                type : 'get',
                data: getData,
                url:url,

                beforeSend: function(){
                    $('.content').append($('#loading').html());
                },

                success: function(data)
                {
                    if(data.status == 0){
                        dialog.error(data.info);
                        before_request = 0;
                    }else{
                        if(type == 1){
                            $('.content').html(data);
                        }else{
                            if($('.content >div>ul>li').length ){
                                $('.content >div>ul>li:last').after(data);
                            }else {
                                $('.content').html(data);
                            }
                        }
                        before_request = 1;
                    }

                    currentCatId = catId;
                },
                complete:function(){
                    $('.loading').remove();
                }
            });
        }

        $(function(){
            //初始化
            $('.categoryId:first').addClass('current');
            var categoryId =  $('.categoryId:first').val();
            if(categoryId){
                var type = 1;//单个分类产品初始化
                getMoreGoods(categoryId,type);
            }
            //切换分类商品列表
            $('.categoryId').click(function () {
                var catId = $(this).val();
                var type =1;//单个分类产品初始化
                getMoreGoods(catId,type);
            });
            $('.categoryId').each(function(){
                if($(this).val() == categoryId){
                    $(this).addClass('current');
                }
            });
             //上拉加载更多
            $(window).on('scroll',function(){
                if($(document).scrollTop()+$(window).height()>=$(document).height()){
                    $('.categoryId').each(function(){
                        if($(this).hasClass('current')){
                            var catId = $(this).val();
                            getMoreGoods(catId);
                        }
                    });
                }
            });

            //滑动轮播
            var elem = document.getElementById('slider');
            window.mySwipe = Swipe(elem, {
                auto: 2500,
                callback: function(index,element){
                    //回调函数
                    $(".position li").eq(index).addClass("on").siblings().removeClass("on");
                }
            });
            $(".position li").click(
                    function () {
                        mySwipe.slide($(this).index());
                    }
            );
            tab_down('.common_top_nav li','.common_contents .common_tablist_wrap','click');

        });
    </script>

</block>
