{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<article class="f24">
	<section class="top_nav_fixed">
		<div class="top_bar columns_flex">
			<div class="each_column">
				<a class="personal_center">我的</a>
			</div>
			<div class="each_column top_search_module">
				<input type="button" class="search_btn"/>
				<input type="text" class="search_text" placeholder="美尚云搜索"/>
			</div>
			<div class="each_column">
				<a class="home">首页</a>
			</div>
		</div>
	</section>
	<section class="specific_type bottomLine">
		<div class="columns_flex f20">
			<a href="{:url('account/index')}">售前</a>
			<a href="javascript:void(0);" class="record">打单</a>
			<a href="{:url('goods/edit')}">出仓</a>
			<a href="">发货/完成</a>
			<a href="">填单</a>
			<a href="">售后</a>
		</div>
	</section>
	<section class="f24 account-content-wrapper ">
		<div class="account-top">
			<dl>
				<dt class="role-label">订单号：<span>20180507123456</span></dt>
				<dd>
					<p>下单时间：2018-05-07 09:56:57</p>
					<p>分类：购买商品</p>
					<p>状态：新订单</p>
					<p>总价：￥199.56元</p>
					<p>收货人：张生</p>
					<p>收货手机：13662539467</p>
					<p>订单来源：美尚商城</p>
					<p>支付金额：￥199.56元</p>
					<p>支付方式：微信支付</p>
					<p>支付备注：金额付清</p>
				</dd>
			</dl>
			<dl>
				<dt class="role-label">订单号：<span>20180507123456</span></dt>
				<dd>
					<p>下单时间：2018-05-07 09:56:57</p>
					<p>分类：购买商品</p>
					<p>状态：新订单</p>
					<p>总价：￥199.56元</p>
					<p>收货人：张生</p>
					<p>收货手机：13662539467</p>
					<p>订单来源：美尚商城</p>
					<p>支付金额：￥199.56元</p>
					<p>支付方式：微信支付</p>
					<p>支付备注：金额付清</p>
				</dd>
			</dl>
		</div>
	</section>
</article>


{/block}
{block name="common"}
{include file="template/footer_menu_msy.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}

<script type="text/javascript">
$(function () {
	$('.record').click(function () {
		alert(1)
	})
})

</script>
{/block}