<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>

<block name="nav">购物车管理</block>

<block name="content">
    <div id="shoppingCartList" class="f24">
        <div class="shoppingCart_form">
            <notempty name="cartList">
            <a href="javascript:void(0);" class="empty_cart"><i></i>清空购物车</a>
            <ul class="shopping_cart_list">
                <volist name="cartList" id="vo">
                <li>
                    <input type="checkbox" class="single_select" checked="">
                    <input type="hidden" value="{$vo.id}" class="cartId">
                    <a href="{:U('Goods/goodsInfo',array('id'=> $vo['goods_id']))}" class="shoppingcart_product_img"><img src="__ROOT__/Uploads/{$vo.goods_img}" alt="" class="shopping_cart_img"></a>
                    <span class="shop_product_name">{$vo.goods_name}</span>
                    <span class="shop_product_price">￥{$vo.goods_price}</span>
                    <div class="shop_product_num">
                        <input type="hidden" value="{$vo.goods_id}" class="goodsId">
                        <a href="javascript:void(0);" class="reduce">-</a>
                        <input type="text" value="{$vo.goods_num}" class="shopping_count">
                        <a href="javascript:void(0);" class="plus">+</a>
                    </div>
                    <div class="edit_goods_type">
                        <a href="javascript:void(0);">关注</a>
                        <a href="javascript:void(0);" class="edit_delete">删除</a>
                        <a href="javascript:void(0);" class="edit_finish">完成</a>
                    </div>
                    <a href="javascript:void(0);" class="edit_goods">编辑</a>
                </li>
                </volist>
            </ul>
                <else/>
                <div class='loading f24'>暂无数据</div>
                <div class='loading f24'>超过7天未结算的商品会自动清除</div>
            </notempty>
        </div>
    </div>
    <footer class="f24 shopping_cart_nav">
        <div class="shopping_cart_l">
            <div class="shopping_select">
                <input type="checkbox" class="allCheck" id="shoppingSelect" checked="">
                <label for="shoppingSelect">全选</label>
            </div>
            <div class="s_total_price">总价
                <span class="total_price">￥{$cartInfo.total}</span>
            </div>
        </div>
        <a href="javascript:void(0);" class="payment"><i class="collect"></i>去结算</a>
    </footer>
</block>
<block name="js-customize">


</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //选择商品
            $('.single_select').on('click',function(){
                var goods=$(this).parents('.shopping_cart_list').find('.single_select');
                var goodsSelect=$(this).parents('.shopping_cart_list').find('.single_select:checked');
                if (goods.length == goodsSelect.length) { //如果店铺被选中的数量等于所有店铺的数量
                    $(".allCheck").prop('checked', true); //全选按钮被选中
                    TotalPrice();
                } else {
                    $(".allCheck").prop('checked', false); //else全选按钮不被选中
                    TotalPrice();
                }
            });

            //编辑商品
            $('.edit_goods').on('click',function(){
                $(this).hide();
                $(this).siblings('.edit_goods_type').show();
            });
            $('.edit_finish').on('click',function(){
                $(this).parents('.edit_goods_type').hide();
                $(this).parents('.edit_goods_type').siblings('.edit_goods').show();
            });

            $('.shopping_count').on('input propertychange',function(){
                if(!$(this).val()){
                    return false;
                }
                TotalPrice();

            });

            //更改商品数量
            $('.shopping_count').on('blur',function(){
                var goodsNum = $(this).val();
                var id = $(this).parent().find('.goodsId').val();
                $.post(CONTROLLER + '/addCart', {id: id,goodsNum:goodsNum}, function (msg) {
                    if(msg.status == 0){
                        dialog.error(msg.info);
                    }
                })
            });

            //删除某条记录
            $('.edit_delete').on('click',function(){
                var _this=$(this);
                layer.open({
                    content:'确定要删除此购物商品？',
                    btn:['确定','取消'],
                    yes:function(index){
                        _this.parents('li').remove();

                        var cartId = _this.parents().find('.cartId').val();
                        var goodsId = _this.parents().find('.goodsId').val();
                        $.post(CONTROLLER + '/delCart', {cartId: cartId,goodsId:goodsId}, function (msg) {
                            if(msg.status == 1){
                                dialog.success(msg.info,CONTROLLER+'/myCart');
                            }

                            if(msg.status == 0){
                                dialog.error(msg.info);
                            }
                        });
                        layer.close(index);
                    }
                })

            });
            //清空购物车
            $('.empty_cart').on('click',function(){

                layer.open({
                    content:'确定要清空购物车？',
                    btn:['确定','取消'],
                    yes:function(index){
                        var cartIds = [];
                        $.each($('.shopping_cart_list li'),function(){
                            var _this=$(this);
                            var cartId = _this.find('.cartId').val();
                            cartIds.push(cartId);
                        });
                        console.log(cartIds);
                        $.post(CONTROLLER + '/delCart', {cartIds: cartIds}, function (msg) {
                            if(msg.status == 1){
                                dialog.success(msg.info,CONTROLLER+'/myCart');
                            }

                            if(msg.status == 0){
                                dialog.error(msg.info);
                            }
                        });
                        layer.close(index);
                    }
                })
            });

            //购物车全选
            $('.allCheck').on('click',function(){
                console.log($(this).is(':checked'));
                if($(this).is(':checked')){
                    $.each($('.shopping_cart_list li'),function(){
                        $('.single_select').prop('checked',true);
                    });
                    TotalPrice();
                }else{
                    $.each($('.shopping_cart_list li'),function(){
                        $('.single_select').prop('checked',false);
                    });
                    TotalPrice();
                }

            });

            //商品数量加减
            $.each($('.shopping_cart_list li'),function(){
                var _this=$(this);
                var shopNum = _this.find('.shopping_count').val();

                _this.find('.plus').on('click',function(){
                    shopNum = _this.find('.shopping_count').val();
                    shopNum++;
                    $(this).siblings('.shopping_count').val(shopNum);
                    TotalPrice();

                    var id = _this.find('.goodsId').val();
                    $.post(CONTROLLER + '/addCart', {id: id,goodsNum:shopNum}, function (msg) {
                        if(msg.status == 0){
                            dialog.error(msg.info);
                        }
                    })
                });
                _this.find('.reduce').on('click',function(){
                    shopNum = _this.find('.shopping_count').val();
                    if(shopNum==1){
                        return false;
                    }
                    shopNum--;
                    $(this).siblings('.shopping_count').val(shopNum);
                    TotalPrice();

                    var id = _this.find('.goodsId').val();
                    $.post(CONTROLLER + '/addCart', {id: id,goodsNum:shopNum}, function (msg) {
                        if(msg.status == 0){
                            dialog.error(msg.info);
                        }
                    })
                })
            });

            //计算总价
            function TotalPrice(){
                var allPrice=0;
                $.each($('.shopping_cart_list li'),function(){
                    var _this=$(this);
                    if(_this.find('.single_select').is(":checked")){
                        var goodsNum=parseInt(_this.find('.shopping_count').val());
                        var goodsPrice=_this.find('.shop_product_price').text().replace(/[^\d.]/g,"");
                        var total=goodsNum*goodsPrice;
                        allPrice +=total;
                    }
                });
                allPrice = parseFloat(allPrice).toFixed(2);
                $('.total_price').text('￥'+allPrice);
            }



            //去结算
            $('body').on('click','.payment',function () {
                var cartIds = [];
                $.each($('.shopping_cart_list li'),function(){
                    var _this=$(this);
                    if(_this.find('.single_select').is(":checked")){
                        cartIds.push(_this.find('.cartId').val());
                    }
                });
                if(cartIds.length==0){
                    layer.open({
                        content : '你还没有选中购买的商品！',
                        icon:2,
                        btn : ['知道了'],
                        title : '提示',
                    });
                    return false;
                }
                window.location.href = MODULE+'/Order/addOrder/cartIds/'+cartIds;
            })

        })
    </script>
</block>