<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="header_banner">
            <img src="PUBLIC_IMG/common/banner/twitter-banner.jpg" alt="">
        </section>
        <section class="bottomLine f24">
            <p class="header_Adverti">广东维雅生物科技有限公司联合基因工程药物国家工程研究中心致力打造国内领先的科技美肤商城和礼品商务共享平台晶珀秀·美悦会，推客分享可一键转发，轻松助您资源巧赚钱！</p>
        </section>
        <section class="f24 commodity_category  commodity_category_s">
            <ul class="goodsListContent goods_share_List"></ul>
        </section>
    </article>

</block>
<block name="backTop">
    <include file="Public/rightSideBar" />
</block>
<block name="load">
    <include file="Public/load" />
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/mall/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:4,
            buyType:1,
            templateType:'share'
        };
        $(function(){
            //初始化
            getGoodsList(config);
        });
    </script>
</block>