
<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="purchase_head_title">
            <if condition="$orderState eq 10">
                <h2>待付款</h2>
            </if>
            <if condition="$orderState eq 20 || $orderState eq 30 ">
                <h2>待收货/待服务</h2>
            </if>
            <if condition="$orderState eq 40">
                <h2>评分评论</h2>
            </if>
            <if condition="$orderState eq 0">
                <h2>已取消</h2>
            </if>
            <if condition="$orderState eq 50">
                <h2>售后服务</h2>
            </if>

        </section>

        <section class="purchase_order_list">
            <notempty name="orderList">
                <ul>
                    <volist name="orderList" id="vo">
                        <li>
                            <a href="{:U('Order/orderInfo',array('orderSn'=> $vo['order_sn']))}" class="shopping_cart">
                                <div>
                                    订单号码：
                                    <span>[{$vo.order_sn}]</span>
                                </div>
                                <div>
                                    下单时间：
                                    <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span>
                                </div>
                                <div>
                                    订单金额：
                                    <span>￥{$vo.order_amount}</span>
                                </div>
                                <div>
                                    订单状态：
                                    <if condition="$vo.order_state eq 10">
                                        <span class="order_in_stock">未付款</span>
                                    </if>
                                    <if condition="$vo.order_state eq 20">
                                        <if condition="($vo.isGroupBuy eq 0) and ($vo.order_type eq 1)">
                                            <span class="order_in_stock">团购中</span>
                                            <else />
                                            <span class="order_in_stock">备货中</span>
                                        </if>
                                    </if>

                                    <if condition="$vo.order_state eq 30">
                                        <span class="order_in_stock">已发货</span>
                                    </if>
                                    <if condition="$vo.order_state eq 40">
                                        <if condition="$vo.evaluation_state eq 0">
                                            <span class="order_in_stock">未评分评价</span>
                                        </if>
                                        <if condition="$vo.evaluation_state eq 1">
                                            <span class="order_in_stock">已评分评价</span>
                                        </if>
                                        <if condition="$vo.evaluation_state eq 2">
                                            <span class="order_in_stock">评分评价已关闭</span>
                                        </if>
                                    </if>
                                    <if condition="$vo.order_state eq 0">
                                        <span class="order_in_stock">已取消</span>
                                    </if>
                                    <if condition="$vo.order_state eq 50">
                                        <span class="order_in_stock">售后</span>
                                    </if>
                                </div>
                            </a>
                        </li>
                    </volist>
                </ul>
                <else />
                <if condition="$type eq 10">
                    <div class="order_data_null">
                        <p>暂无未付款订单</p>
                        <p>待付款单超过3天未结算的商品会自动清除</p>
                    </div>
                </if>
            </notempty>
        </section>
    </article>

</block>
