@charset "utf-8";
/* 你自己的样式 */
.order-box .goods-head{
  display: flex;
  background: #f8f8f8;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 5px;
  border-top: 2px solid #e2a390;
}
.goods-head .goods{
  flex: 6
}
.goods-head .number{
  flex: 3;
}
.goods-head .price{
  flex: 2;
}
.goods-head .num{
  flex: 2;
}
.goods-head .t-price{
  flex: 2
}
.j-g4{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.j-g4 .goods{
  flex: 6;
}

.j-g4 .spec{
  flex: 3;
}
.j-g4 .price{
  flex: 2;
}
.j-g4 .num{
  flex: 2;
}
.j-g4 .t-price{
  flex: 2;
}
.box-head{
  margin: 15px 0;
}
.upload-picture-module {
  margin: 0; !important;
}
/*登录*/
.loginNav li{
    width:50%;
    display:inline-block;
    float: left;
    text-align: center;
    color:#B3B3B3;
}
.loginNav li.current{
    border-bottom:2px solid #FF7BAC;
    color:#333;
}
.login_item,
.register_item,
.forgetPasswd_item{
    position: relative;
    width: 100%;
    margin:0.25rem 0 .30rem 0;
    /*height: .8rem;
    line-height: .8rem;*/
    overflow: hidden;
    /*padding: 0 .05rem;*/
    background-color: #fff;
    /*border-bottom: 1px solid #d7d7d7;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login_item>span,
.register_item>span,
.forgetPasswd_item>span{
    position: absolute;
    width: .6rem;
    display: inline-block;
    font-family: PingFang-SC-Regular;
    text-align: left;
}
.forgetPasswd_item>span.txt3,.login_item>span.txt3{width:1.2rem;}
.register_item>span.new_password,.forgetPasswd_item>span.new_password{width:1.6rem;}
.register_item .n_pass,.forgetPasswd_item .n_pass{padding-left:.8rem;}
.register_item .cofirm_password,.forgetPasswd_item .cofirm_password{padding-left:1.2rem;}
.username {
    width: 100%;
    /*padding: 0 .3rem 0 .6rem;*/
    /*height:.8rem;*/
    background:#fff;
}

