/*卖手平台主界面*/
.selling_nav{height:0.8rem;display:flex;display:-webkit-flex;align-items:center;justify-content:space-around;background:#e6e6e6;}
.selling_nav a{color:#333;}
.selling_content{text-align:center;padding:0.82rem 0 0.78rem; background: -moz-linear-gradient(top, #f76daf, white); background: -webkit-linear-gradient(top, #fc81bc, white);}
.selling_content .selling_img{width:1.2rem;height:1rem;margin:0 auto 0.8rem;}
.selling_content .selling_img img{width:100%;height:100%;}
.selling_content .agency{color:#f15a24;}
.selling_content h2{color:#ed1c24;}
.sales_plan{width:4rem;margin:0.05rem auto 0.6rem;color:#f15a24;border:1px solid #f15a24;border-radius:0.03rem;}
.sales_plan span{display:inline-block;font-weight:bold;}
.sales_plan span i{margin:0 0.05rem;display:inline-block;width:0.05rem;height:0.05rem;vertical-align:middle;background: #f15a24;}
.selling_orders{border-radius:100%;margin:0 auto 1rem;background:#39b54a;width: 1.5rem;height: 1.5rem;}
.selling_orders a{color:#fff;padding:0.35rem 0.2rem;display:block;text-align: center}
.selling_m_category a{color:#0066cc;display: inline-block;margin:0 0.25rem;}
.selling_top_title{background-color: #f7f8f8;padding: 0 0 0.15rem;}
.selling_top_title h2 {
    text-align: center;
    background: #fff;
    padding: 0.25rem 0;
}
.store_set_item{padding:0 0 0 0.20rem;}
.store_list{background:#fff;padding: 0.15rem 0 0.15rem 0.15rem;}
.store_set_item li{border-bottom:1px solid #d9d9d9;padding:0.20rem 0;}
.store_set_item li a{color:#39b54a;display:block;position: relative;}
.store_set_item li a::after{z-index:2;content:'';display:inline-block; position:absolute;top:34%;right:0.2rem;width:.5em;height:.5em;border-bottom:.12em solid #39b54a;border-left:.12em solid #39b54a;-webkit-transform:translate(-70%) rotateZ(-140deg);-moz-transform:translate(-70%) rotateZ(-45deg);-ms-transform:translate(-70%) rotateZ(-45deg);}
/*预览*/
.seller_base_wrapper{padding:0.20rem;}
.seller_base_info{background:#fff;width: 100%;display: flex;display: -webkit-flex;overflow:hidden;}
.item-img-wrapper{width:36%;text-align:center;}
.cs_item_img{width:2.1rem ;height:2.1rem ;vertical-align: middle;}
.cs_item_description{width:64%;margin:0 0.20rem;}
.dividing_line{height:0.15rem;background:#f2f2f2;}
.five_star img{width:18px;}
.five_star .star_img{float:left;}
.five_star .fraction{width:34px;display:inline-block;text-align:center;}
.seller_skill_wrapper{padding:0 0 0 0.20rem;}
.seller_skill_type{padding:0.24rem 0;border-bottom:1px solid #d9d9d9;}
.seller_skill_type .more{color:#0066cc;}
.personal_image_wrapper{padding:0 0 0 0.10rem;}
.personal_image{padding:0.24rem 0 0;}
.personal_image span{padding:0 0 0.15rem 0.10rem;display:block;}
.personal_item{padding:0 0 0.20rem 0;border-bottom:1px solid #d9d9d9;}
.personal_item li{float:left;width:2.8rem;height:2.8rem;margin:0 0.14rem 0.20rem;}
.personal_item li img{width:100%;height:100%;display:block;}
.seller_contact{padding:0.20rem 0 0 0.20rem;}
.seller_contact span{display:block;}
/*卖手基本信息*/
/*#sellerBaseInfo,#sellerArchives{display:none;}*/
#clipArea {
    margin:0 20px;
    height: 300px;
    -webkit-user-select: none;
    overflow: hidden; 
    position: relative;
}
.layui-m-layer .layui-m-layermain .seller_base_layer,.layui-m-layer .layui-m-layermain .seller_archives_layer{width:90%;border-radius:0.04rem;}
.seller_base_content{padding:0 0 0 0.20rem;}
.seller_base_item:first-child{padding:0.18rem 0.15rem 0.18rem 0;border-bottom:1px solid #d9d9d9;}
.seller_base_item{padding:0.18rem 0.15rem 0.18rem 0;}
.seller_base_item input[type='text'],.seller_base_item input[type='tel']{border-radius:0.03rem;padding:0.15rem 0 0.12rem 0.12rem;border: 1px solid #d9d9d9;}
.seller_base_item .seller_phone{width: 75%;}
.seller_base_item .seller_b_field{float:left;margin:0.08rem 0.2rem 0 0;width:1rem;text-align: right;}
.seller_base_item .seller_b_sex,.seller_base_item .seller_multi{margin:0.10rem 0 0;}
.seller_b_sex label{margin:0 0.15rem 0 0;}
.seller_base_item input[type="radio"]{-webkit-appearance: radio;}
.seller_expert{margin:0.13rem 0 0;}
.seller_expert select,.seller_province_city select{border:1px solid #d9d9d9;padding:0.10rem 0;}
.seller_province_city select[name="province"]{width:1.5rem;}
/*卖手档案*/
.seller_archives_content{padding:0 0.25rem 0 0.25rem;overflow:auto;}
.seller_archives_item .seller_field{display: block;padding:0.22rem 0 0.15rem;}
.seller_archives_item textarea{width:100%;padding:0.15rem 0.10rem 0 0;border:1px solid #d9d9d9;text-indent:0.15rem;}
.uploadImg_cell{width:100%;overflow:hidden;}
.uploadImg_cell .upload_item{float:left;margin: 0 0.15rem 0.20rem 0.15rem;}
.uploadImg_cell .upload_td{position:relative;width:2.6rem;height:2.6rem;background:#e5e5e5;}
.uploadImg_cell .upload_td:after, .uploadImg_cell .upload_td:before,.uploadImg_map .msy_image_map:after,.uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #ccc;
}
.uploadImg_cell .upload_td:before {
    width: 2px;
    height: 28.5px;
}
.uploadImg_cell .upload_td:after {
    width: 28.5px;
    height: 2px;
}
.upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.upload_img{position:absolute;top:0;left:0;width:100%;height:100%;}
.image_photo .upload_pic{position: absolute;left:50%;top:50%;margin:0 0 0 -0.7rem;width:1.4rem;display:block;text-align:center;}
.seller_archives_item .uploadImg_cell .upload_td:before,.seller_archives_item .uploadImg_cell .upload_td:after{top:40%;}
.seller_archives_item .uploadImg_cell .upload_pic{top:55%;}
/*上传头像*/
.half > a {
    position: relative;
    width: 1.5rem;
    display: block;
    background: #18b4ed;
    height: 1.5rem;
    overflow:hidden;
    /*left: 50%;*/
    /*margin-left: -4rem*/
}

.half > a img {
    width: 1rem;
    height: 0.8rem;
   margin:0.35rem auto 0;
   display:block;
}

.half > p {
    position: relative;
    color: #999;
    padding:0.05rem 0 0 0.25rem;
}

.logo {
    border-radius: 100%
}

.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #000;
    display: none;
    z-index: 9999999;
}
.htmleaf-content {
    font-size: 150%;
    padding: 1em 0;
}

.htmleaf-content h2 {
    margin: 0 0 2em;
    opacity: 0.1;
}

.htmleaf-content p {
    margin: 1em 0;
    padding: 5em 0 0 0;
    font-size: 0.65em;
}

/*button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}*/

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#clipArea {
    height: 90%;
}


/*上传图标*/
#file{
    /*float: left;
    height: 100%;*/
}
#clipBtn{
    width:36%;
    display:block;
}
.foot-use{
    /*background: #fff;
    height: 10%;
    width: 100%;*/
    display: flex;
    position: relative;
    justify-content: space-between;
}
.uploader1 {
     width:36%;
     position: relative;
}

.uploader1 input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height:8rem;
    width: 100%;
    cursor: pointer;
   border: solid 1px #ddd;
    opacity: 0;
}
.uploader1 input[type=file] {
  
}
input[type=button]::-moz-focus-inner {
    padding: 0;
    border: 0 none;
    -moz-box-sizing: content-box;
}

input[type=button]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

input[type=text]::-webkit-focus-inner {
    padding: 0;
    border: 0 none;
    -webkit-box-sizing: content-box;
}

.blue .button {
    color: #fff;
    background: #18b4ed;
    width:100%;
    height: 1.2rem;
    display: block;

}
.photo-clip-mask{position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; pointer-events: none;}
.photo-clip-mask-left{position: absolute; left: 0px; right: 50%; top: 50%; bottom: 50%; width: auto; height: 166px; margin-right: 99.5px; margin-top: -83px; margin-bottom: -83px; background-color: rgba(0, 0, 0, 0.498039);}
.photo-clip-mask-right{position: absolute; left: 50%; right: 0px; top: 50%; bottom: 50%; margin-left: 99.5px; margin-top: -83px; margin-bottom: -83px; background-color: rgba(0, 0, 0, 0.498039);}
.photo-clip-mask-top{position: absolute; left: 0px; right: 0px; top: 0px; bottom: 50%; margin-bottom: 83px; background-color: rgba(0, 0, 0, 0.498039);}
.photo-clip-mask-bottom{position: absolute; left: 0px; right: 0px; top: 50%; bottom: 0px; margin-top: 83px; background-color: rgba(0, 0, 0, 0.498039);}
.photo-clip-area{border: 1px dashed rgb(221, 221, 221); position: absolute; left: 50%; top: 50%; width: 199px; height: 166px; margin-left: -100.5px; margin-top: -84px;}
.photo-clip-view{position: absolute; left: 50%; top: 50%; width: 199px; height: 166px; margin-left: -99.5px; margin-top: -83px;}
.photo-clip-moveLayer{transform-origin: 0px 0px 0px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) scale(1) translateZ(0px); touch-action: none; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*卖手认证*/
.certify_title{background: #ff7bac;padding:0.20rem 0.28rem;display:flex;display:-webkit-flex;}
.certify_title img{width:1.2rem;height:1.2rem;}
.certify_title span{padding-left:0.35rem;flex:5;color:#fff;align-items: center;display:flex;}
.certify_intro{padding:0 0.25rem;}
.certify_intro h3{padding:0.35rem 0 0.18rem;}
.certify_items{border-top:none;}
.success_ico{margin:.8rem auto .25rem;width:0.85rem;height:0.85rem;display:block;}
.success_tipc{text-align:center;}
.certify_tipc_txt{color:#595757;margin:0.15rem 0 0;}
/*机构登记  background:url(../images/sign-ico.png) repeat-x center 8px;*/
.login-items{padding:0.30rem 0.28rem;border-top:1px solid #d9d9d9;}
.msy_sign_title{background-color:#f7f8f8;padding: 0 0 0.15rem;}
.msy_sign_title h2{text-align:center;background:#fff;padding:0.25rem 0;}
.data_submission{text-align: center;}
.sign_nav{padding: 0.20rem 0.4rem;}
.weui_cells{border:1px solid #d9d9d9;border-radius:0.06rem;}
.login-items .weui_btn_primary{background-color: #F39800;}
.login-items .weui_input{font-size:0.24rem;}
.login-items .msy_cells:before,.login-items .msy_cells:after{border-top:none;border-bottom:none;}
.page-bd .weui-flex {
 
    align-items: center;
    transition: all 0.3s ease 0s;
    display: -webkit-flex;
     display: -webkit-box;
    display: flex;
}
.page-bd .weui-flex-item {
    position:relative;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    text-align:center;
    color:#808080;
}
.weui_cell-bd {
  -webkit-flex: 1 1 0;
    flex: 1 1 0;
}
.page-bd .status .active{color:#0ccaf7;}
.weui-flex-item span{display:block;height:0.6rem;}
.weui-flex-item .base_info{background:#fff url(../../images/sellerPractitioner/base_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_info{background:#fff url(../../images/sellerPractitioner/base_s_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_address{background:#fff url(../../images/sellerPractitioner/base_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_address{background:#fff url(../../images/sellerPractitioner/base_s_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_finish{background:#fff url(../../images/sellerPractitioner/base_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_finish{background:#fff url(../../images/sellerPractitioner/base_s_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_info{background:#fff url(../../images/sellerPractitioner/certify_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_s_info{background:#fff url(../../images/sellerPractitioner/certify_s_info.png) no-repeat center 0;background-size:40px auto;}

.weui-flex-item em{position: absolute;
    background: url(../../images/sellerPractitioner/sign-ico.png) repeat-x;
    left: 76%;
    height: 2px;
    display: block;
    width: 48%;
    top: 14px;
    z-index: 999;
}
.weui_cell .pca{flex:1;-webkit-flex:1;box-sizing:border-box;border: 1px solid #d9d9d9;padding:0.22rem 0 0.22rem 0rem;background:none;}
/*.weui_cell select option{text-align:center;}*/
.weui_cell select:nth-of-type(1){border-right:none;}
.weui_cell select:nth-of-type(2){border-right:none;}
.weui_address{padding:0;border:none;}
.weui_address .weui_cell{padding:0;}
.reg_success{text-align:center;padding:0.8rem 0 0.5rem;}
/*卖手抢单*/
.store_type_module{background:#fff;padding:0 0.60rem 0.42rem;}
.store_type_module .store_title{display: block;padding: 0.20rem 0;text-align:center;}
.store_type_module .weui_btn{padding:0 0.12rem;}
/*流水号任务单*/
.task_list_wrapper{padding:0 0 0.15rem 0;background:#f2f2f2;}
.task_list_search{padding:0.55rem 0 0.52rem; background: -moz-linear-gradient(top, #f76daf, white); background: -webkit-linear-gradient(top, #fc81bc, white);}
.task_pipeline {overflow:hidden;padding:0 0.18rem;margin:0 0 0.25rem 0;}
.task_pipeline img{width:0.85rem;height:0.85rem;float:left;display: block;}
.task_pipeline p{color:#f15a24 ;margin:0 0 0 1.25rem;font-weight:bold;}
.search_employee_part{display: flex;display: -webkit-flex;background:#fff;border:1px solid #d9d9d9;margin:0 0.18rem;border-radius:0.05rem;-webkit-border-radius:0.05rem;}
.search_employee_part .search_epy{flex:5;padding:0.18rem 0 0.18rem 0.15rem;background:none;}
.search_employee_part .search_btn{flex:1;border-left:1px solid #d9d9d9;border-radius:0;background:none;background-image:url(../../images/sellerPractitioner/task_search.png);background-repeat: no-repeat;background-position:center;background-size:20px 31px;}
.check_n_person{display:block;padding:0.25rem 0 0 0.32rem;}
.task_pipeline_item{padding:0.20rem 0 0.85rem 0.32rem;border-bottom:1px solid #d9d9d9;position:relative;}
.task_pipeline_item .task_p_tit{color:#999;width:1.4rem;text-align: left;display:inline-block;}
.task_pipeline_item div span{color:#333;}
.task_pipeline_detail{width:1.8rem;
border-radius:0.05rem;
padding:0.08rem 0;
text-align:center;
display:block;
background: #f39800;
color:#fff;
position: absolute;
left: 50%;
margin: 0 0 0 -0.9rem;
bottom: 0.12rem;
}
/*卖手平台*/
#storeSalesProject,#salesBothParties,#salesEventDate,#salesAssignhand,#courseRequirements{display:none;}
.seller_help_wrapper{padding:0.32rem 0.15rem;}
.seller_rule dl{padding:0.28rem 0 0 0;}
.seller_service_help{width:100%;margin:0.20rem 0 0;}
.seller_service_help img{width:100%;height:100%;}
.seller_sales_wrapper{padding:0.28rem 0 0 0.25rem;}
.seller_sales_wrapper li{border-top:1px solid #d9d9d9;padding:0.18rem 0;}
.seller_sales_wrapper .seller_type{display:block;padding:0 0 0.18rem 0;}
.seller_sales_wrapper li h2{font-size:0.28rem;}
.seller_sales_wrapper li .split_mode{font-weight:bold;padding:0.12rem 0;border-radius:0.04rem;width:50%;text-align:center;margin:0.15rem auto 0;display:block;border:1px solid #39b54a;color:#39b54a;}
.seller_sales_item .required{color:#ff0000;}
.seller_sales_item .task_title{font-size:0.24rem;width:100%;}
.seller_sales_item .s_t{display: block;margin:0 0 0.08rem 0;}
.seller_sales_item .s_task{position:relative;display:block;color:#39b54a;width:100%;}
.seller_sales_item .salesschedule{padding:0.05rem 0;background-image:url(../../images/sellerCompany/arrow-right.png);background-repeat: no-repeat;background-position:95% center;background-size:7px 12px;}
.seller_sales_date input::-webkit-input-placeholder{
    color:#39b54a;opacity:1;
}
.seller_sales_item .seller_number{margin:0 0 0 0.10rem;border-radius:0.05rem;width:25%;border:1px solid #d9d9d9;display:inline-block;padding:0.10rem 0 0.10rem 0.12rem;}
.seller_sales_item .already_collection{display: inline-block;width:55%;}
.seller_sales_item .s_task::after,.salesschedule ::after{
    content:'';
    display:inline-block;
     position:absolute;
     top:22%;
     right:0.2rem;
     width:.5em;
     height:.5em;
     border-bottom:.12em solid #39b54a;
     border-left:.12em solid #39b54a;
     -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
     -ms-transform:translate(-70%) rotateZ(-45deg);
}
.seller_sales_item .already_collection::after{}
.sales_project_t{position:relative;display:block;text-align: center;padding:0.08rem 0 0;}
.sales_project_t:before,.sales_project_t:after {
content: '';                 /*CSS伪类用法*/
position: absolute;         /*定位背景横线的位置*/
top: 52%;
background: #d9d9d9;       /*宽和高做出来的背景横线*/
width:9%;
height: 2px;
}
.sales_project_t:before{
    left: 20%;        /*调整背景横线的左右距离*/
}
.sales_project_t:after {
    right: 20%;
}
.storeSales_wrapper{padding:0 0.15rem;height:6rem;overflow-y:auto;}
.store_sales_project{display: block;padding:0.10rem;border:1px solid #d9d9d9;margin:0 0 0.15rem 0;}
.store_sales_project.current{background:#39b54a;}
.store_sales_project img{width:100%;height:100%;}
.salesCooperation{padding:0 0 0 0.18rem;}
.salesCooper_item{padding:0.20rem 0;border-bottom:1px solid #d9d9d9;text-align: left;}
.salesCooper_item .divided_amount{font-size:0.24rem;
width:19%;
padding:0.10rem 0 0.10rem 0;
border:1px solid #d9d9d9;
box-sizing:border-box;
}
.salesCooper_item .checkout{margin:0 0.18rem 0 0;
border:1px solid #d9d9d9;
display: inline-block; 
padding:0.08rem 0.13rem;
border-radius:0.05rem;
color:#333;
}
.salesCooper_item .checkout.current{background:#f76daf;color:#fff;border-color:transparent;}
.salesCooperation .sales_agreement{padding:0 0 0.10rem;text-align: left;}
.salesCooperation .agree_edit_box{padding:0.15rem 0 0 2%;border:1px solid #d9d9d9;width:95%;margin:0 0.15rem 0 0;}
.salesEventDate_wrapper{padding:0 0.20rem 0 0.25rem;}
.salesEventDate_wrapper .schedule_date{border:1px solid #d9d9d9;width:100%;padding:0.12rem 0;text-indent: 0.15rem;}
.salesEventDate_wrapper .s_date{padding:0.18rem 0;}
.salesEventDate_wrapper .s_days a{border-radius:0.05rem;display: block;color:#333;height:0.5rem;line-height:0.5rem;float:left;width:1.3rem;margin:0 0.35rem 0.25rem 0;text-align: center;border:1px solid #f76daf;}
.s_days a.current{background: #f76daf;color:#fff;}
.Launchedprojects_layer .layui-m-layercont,
.cooperativeagreement_layer .layui-m-layercont,
.salesSchedule_layer .layui-m-layercont,.salesassignhand_layer .layui-m-layercont,.courserequire_layer .layui-m-layercont{
    padding:0;
}
.salesassignhand_layer .layui-m-layercont{background:#f2f2f2;}
.salesassignhand_layer .salesassignhand_wrap{height:6rem;overflow-y:auto;}
.courserequire_layer .courserequire_wrapper{text-align:left;text-indent: 0.15rem;padding:0.15rem 0.15rem 0 0;}
.courserequire_wrapper textarea{width:100%;}
.salesassignhand_wrap .assignhand_list{padding:0.20rem 0.35rem;margin:0 0 0.15rem 0;background: #fff;}
.salesassignhand_wrap .assignhand_list.current{background:#39b54a;}
.assignhand_list .cs_item_img{width: 1.8rem;height:1.8rem;vertical-align: middle;}
.branch_store_layer .layui-m-layercont li,
.epy_store_layer .layui-m-layercont li{
    padding:0.28rem 0 0.20rem 0.25rem;
    background:#fff;
    margin-bottom:0.15rem;
}
.assignhand_list .cs_item_wrapper{width: 100%;display: flex;display: -webkit-flex;overflow:hidden;background:#fff;}
.branch_store_layer .layui-m-layercont .item-img-wrapper,.epy_store_layer .layui-m-layercont .item-img-wrapper{width:42%;}
.branch_store_layer .layui-m-layercont .cs_item_img, .epy_store_layer .layui-m-layercont .cs_item_img {
    width: 2.3rem;
}
.assignhand_list .item-img-wrapper{width:36%;text-align:center;}
.assignhand_list .cs_item_description{width:64%;margin:0 0.20rem;text-align:left;color:#333;}
.salescooperation_task{padding:0.15rem 0;border-bottom:1px solid #d9d9d9;}
.salescooperation_task .each_clause{font-weight:bold;}
.salescooperation_task .each_clause_detail{color:#999;}
.salescooperation_task .each_clause_detail span{color:#333;}
.salescooperation_task .training_course{word-wrap:break-word;margin:0 0.08rem 0 0;}
.salesfavorites{background: #f2f2f2;}
.salesfavorites_title h2{background: #eb6100;color:#fff;}
.seller_bottom_menu{position:fixed;left:0;bottom:0;display:flex;display: -webkit-flex;width: 100%;}
.seller_bottom_menu a{color:#fff;width: 50%;font-size: 0.24rem;padding:0.24rem 0;text-align:center;}
.cancle_collection{background: #f39800;}
.cancle_back{background: #f15a24;}
/*任务单管理*/
.task_management_wrapper{background: #f2f2f2;padding:0 0 0.15rem 0;}
.task_management_head{background: #ffcccc;padding:0.30rem 0.45rem;}
.task_management_head img{float:left;width: 1rem;height: 1rem;}
.task_management_head .task_manage_text{margin:0 0 0 1.5rem;}
.task_management_head span{display: block;}
.Recruitment_hand{color:#ff9933;font-size:0.28rem;}
.task_order_m{color:#ff6633;font-size:0.36rem;}
.message_list_module{padding:0 0.45rem;background: #fff;}
.message_list_module .message_list{color:#333;display:block;position:relative;padding:0.30rem 0 0.15rem 0;border-bottom:1px solid #d9d9d9;}
.my_message_list .message_list{border-bottom:none;}
.message_list span{width:0.45rem;text-align:center;display:inline-block;color:#fff;border-radius:100%;}
.message_list .my_message{background: #ff1d25;}
.message_list .completed_task{background:#39b54a;}
.message_list .cancle_task{background:#999;}
.message_list::after{
z-index:2;
content:'';
display:inline-block; 
position:absolute;
top:40%;
right:.2em;
width:0.15rem;
height:0.15rem;
border-bottom:.12em solid #333;
border-left:.12em solid #333;
-webkit-transform:translate(-70%) rotateZ(-136deg);
-moz-transform:translate(-70%) rotateZ(-136deg);
-ms-transform:translate(-70%) rotateZ(-136deg);
}
.my_message_wrapper .my_message_item{padding:0.30rem 0.52rem;border-bottom:1px solid #d9d9d9;}
.my_message_item div{color:#999;position:relative;}
.my_message_item div span,.my_message_item p{color:#333;}
.my_message_item div .m_c{float:left;color:#999;}
.read_message{position:absolute;left:-0.3rem;top:0.09rem;width:0.20rem;height: 0.20rem;border-radius:100%;background: #ed1c24;display: block;}
.service_record_wrapper{padding:0 0 0 0.35rem;}
.service_record_wrapper .service_record_item{padding:0.15rem 0;}
.report_attention{color:#999;margin:2rem 0 0;}
.perform_report_btn,.service_list_btn{display:flex;display:-webkit-flex;}
.perform_report_btn a{width:50%;padding:0.18rem 0;text-align: center;color:#fff;font-weight:bold;}
.perform_report_btn .report{background: #3fa9f5;}
.perform_report_btn .audit{background: #f39800;}
/*.service_list_btn{position:fixed;left:0;bottom:0;width:100%;}*/
.service_list_btn a{text-align:center;font-size:0.24rem;padding:0.15rem 0;color:#fff;}
.service_list_btn .del{background: #4d4d4d;width:25%;}
.service_list_btn .edit{background: #3fa9f5;width:25%;}
.service_list_btn .manage{background: #f39800;width:50%;}
.service_list_btn .give_up_sign{width:50%;background: #ff1d25;}
.service_list_btn .agree_sign{width:50%;background: #f39800;}
.task_list_nav{background: #f2f2f2;padding:0 0 0.15rem 0;}
.task_list_nav nav{display: flex;display: -webkit-flex;width:100%;background: #fff;padding:0.20rem 0;}
.task_list_nav li{width:25%;text-align:center;font-weight:bold;}
.task_list_nav li span{width:61px;height:60px;margin:0 auto 0.10rem;display:block;background-image:url(../../images/sellerCompany/task_list_default.png);background-repeat:no-repeat;background-size:61px 240px;}
.task_list_nav li.current span{background-image:url(../../images/sellerCompany/task_list_icon.png);}
.task_list_nav li span.not_signed{background-position:0 0;}
.task_list_nav li span.already_signed{background-position:0 -60px;}
.task_list_nav li span.already_completed{background-position:0 -120px;}
.task_list_nav li span.already_cancle{background-position:0 -180px;}
.task_list_nav li.current span.not_signed{background-position:0 0;}
.task_list_nav li.current span.already_signed{background-position:0 -60px;}
.task_list_nav li.current span.already_completed{background-position:0 -120px;}
.task_list_nav li.current span.already_cancle{background-position:0 -180px;}
.tasklist_detail_wrapper.hide{display:none;}


































