<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section>
            <img src="PUBLIC_IMG/common/default/no_pic_1000.jpg" />
        </section>
        <p>招募礼品采购代理商详情页面</p>
    </article>
</block>
<block name="footer">
    <include file="./Application/Business/View/Cart/footerCartMenu.html" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //支付代理商资格款
            $('body').on('click','.pay_agent_fee',function () {
                var url = APP + '/Business/Payment/rechargePayment?payType=agent_fee&returnUrl=' +
                        encodeURIComponent(CONTROLLER + '/seniority');
                location.href = url;
            });
        });
    </script>
</block>
