<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>

<block name="nav">购物车管理</block>

<block name="content">
    <div id="shoppingCartList" class="f24">
        <div class="shoppingCart_form">
            <notempty name="cartList">
            <a href="javascript:void(0);" class="empty_cart"><i></i>清空购物车</a>
            <ul class="shopping_cart_list">
                <volist name="cartList" id="vo">
                <li  data-foreignid="{$vo.foreign_id}" data-cartid="{$vo.id}" data-buytype="{$vo.buy_type}">
                    <input type="checkbox" class="single_select" checked="">
                    <if condition="$vo['type'] eq 1">
                        <a href="{:U('Goods/goodsInfo',array('id'=> $vo['foreign_id']))}" class="shoppingcart_product_img">
                            <notempty name="vo.img">
                                <img src="__ROOT__/Uploads/{$vo.img}" alt="" class="shopping_cart_img">
                                <else />
                                <img src="__PUBLIC__/images/myms/default/goods_default.png" alt="" class="shopping_cart_img">
                            </notempty>
                        </a>
                    </if>
                    <if condition="$vo['type'] eq 2">
                        <a href="{:U('Project/projectInfo',array('id'=> $vo['foreign_id']))}" class="shoppingcart_product_img">
                            <notempty name="vo.img">
                                <img src="__ROOT__/Uploads/{$vo.img}" alt="" class="shopping_cart_img">
                                <else />
                                <img src="__PUBLIC__/images/myms/default/goods_default.png" alt="" class="shopping_cart_img">
                            </notempty>
                        </a>
                    </if>
                    <span class="shop_product_name">{$vo.foreign_name}</span>
                    <span class="shop_product_price">￥{$vo.price}</span>
                    <div class="shop_product_num">
                        <input type="hidden" value="{$vo.goods_id}" class="goodsId">
                        <a href="javascript:void(0);" class="reduce">-</a>
                        <input type="text" value="{$vo.num}" class="shopping_count">
                        <a href="javascript:void(0);" class="plus">+</a>
                    </div>
                    <div class="edit_goods_type">
                        <a href="javascript:void(0);">关注</a>
                        <a href="javascript:void(0);" class="edit_delete">删除</a>
                        <a href="javascript:void(0);" class="edit_finish">完成</a>
                    </div>
                    <a href="javascript:void(0);" class="edit_goods">编辑</a>
                </li>
                </volist>
            </ul>
                <else/>
                <div class='loading f24'>暂无数据</div>
                <div class='loading f24'>超过7天未结算的商品会自动清除</div>
            </notempty>
        </div>
    </div>
    <footer class="f24 shopping_cart_nav">
        <div class="shopping_cart_l">
            <div class="shopping_select">
                <input type="checkbox" class="allCheck" id="shoppingSelect" checked="">
                <label for="shoppingSelect">全选</label>
            </div>
            <div class="s_total_price">总价
                <span class="total_price">￥{$cartInfo.total}</span>
            </div>
        </div>
        <a href="javascript:void(0);" class="payment cartPay"><i class="collect"></i>去结算</a>
    </footer>
</block>
<block name="js-customize">
    <script type="text/javascript" src="__PUBLIC__/js/myms/cart.js"></script>
</block>
