.managepg_nav a span{background-image:url(../img/manage_pg_ico.png)}
#manageProgram,#serivePgContent,#serivcePgPic,#appointTime{display: none;}/*修改*/
.edit_pgt_layer .layui-m-layercont{padding:0 0.15rem 0 0.15rem;text-align:left;}
.layui-m-layer .layui-m-layermain .manage_pg_layer{width:90%;}
.layui-m-layermain .manage_pg_layer h3{height: 45px;line-height:45px;}
.manage_pg_layer .layui-m-layercont form{padding-right:0.25rem;height: 400px;overflow-y:auto;}
.manage_pg_layer .layui-m-layercont .pg_n_t{display: block;margin:0.14rem 0 0.03rem;}
.manage_pg_layer .layui-m-layercont .pg_name,.manage_pg_layer .layui-m-layercont .pg_cr_text{font-size: 0.20rem;border:none;padding:0.14rem 0;text-indent:0.10rem;border:1px solid #d9d9d9;border-radius:0.05rem;-webkit-border-radius:0.05rem;width:100%;}
.manage_pg_layer .layui-m-layercont .pg_item_wrapper{display:flex;width:100%;}
.manage_pg_layer .layui-m-layercont .pg_price_item{width: 50%;margin:0 2% 0 0;border:1px solid #d9d9d9;border-radius:0.03rem;box-sizing: border-box;}
.manage_pg_layer .layui-m-layercont .pg_rate{border-right:1px solid #d9d9d9;display:inline-block;padding:0.08rem 0;width:0.8rem;text-align:center;}
.manage_pg_layer .layui-m-layercont .pg_price{width:1.5rem;font-size: 0.20rem;}
.manage_pg_layer .layui-m-layercont .pg_type{position:relative;color:#39b54a;border-bottom:1px solid #d9d9d9;padding:0 0 0.16rem 0;width:100%;display:block;}
.manage_pg_layer .layui-m-layercont li:last-child .pg_type{border-bottom:none;}
.edit_pgt_layer .layui-m-layercont textarea{width: 100%;border:1px solid #d9d9d9;line-height:24px;padding:0.12rem 0 0 0;text-indent:0.15rem;}
.cs_pg_list{padding:0 0.15rem;}
.cs_pg_list li{padding:0.15rem 0;}
.cs_pg_list .cspg_item{background: #f2f2f2;padding:0.14rem 0.25rem 0.10rem 0.05rem;}
.cs_pg_list .cspg_item_n,.cs_pg_list .cspg_item .pg_status{display: flex;justify-content:space-between;}
.cs_pg_list .cs_pg_img{width:100%;}
.cs_pg_list .cs_pg_img img{width: 100%;height: 100%;vertical-align: middle;}
.cs_pg_list .cspg_item i{width:0.5rem;vertical-align:top;margin-right:0.12rem;border-radius:0.03rem;text-align:center;background: #ff931e;color:#fff;display:inline-block;font-style:normal;}
.cs_pg_list .cspg_item .y_pg_n{display:inline-block;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.cs_pg_list .cspg_item .project_price{color:#ff7bac;}
.cs_pg_list .cspg_item .pg_status{margin:0.08rem 0 0;display:none;}
.cs_pg_list .mod_pg{color:#39b54a;border:1px solid #39b54a;width:1.5rem;text-align:center;display: block;border-radius: 0.05rem;}
.on_off_line,mod_pg{display: none;}
.on_off_line a{width:1.2rem;text-align:center;display: inline-block;border-radius:0.05rem;}
.on_off_line .off_line{color:#ff1d25;border:1px solid #ff1d25;}
.on_off_line .on_line{color:#39b54a;border:1px solid #39b54a;}

.uploadImg_map{position:relative;margin:0.18rem 0 0;}
.upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.uploadImg_map .msy_image_map:after,.uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #999;
    z-index:2;
}
.uploadImg_map .msy_image_map{position:relative;width:100%;height:3.5rem;background:#e5e5e5;}
.uploadImg_map .pg_f_focus{height:4.5rem;}
.uploadImg_map .msy_image_map:before {
    width: 2px;
    height: 39.5px;
    top:35%;

}
.uploadImg_map .msy_image_map.active:before,.uploadImg_map .msy_image_map.active:after,.image_photo .upload_td.active:before,.image_photo .upload_td.active:after{width:0;height: 0;}
.uploadImg_map .msy_image_map:after {
    width: 39.5px;
    height: 2px;
    top:35%;
}
.image_photo .upload_td:before{top:36%;}
.image_photo .upload_td:after{top:36%;}
.msy_image_map .uploadImg,.image_photo .upload_td .uploadImg{z-index:3;}
.msy_image_map .upload_img,.image_photo .upload_td .upload_img{z-index:1;}
.uploadImg_map span{position: absolute;width:1rem ;height:1rem ;left:50%;top:56%;margin:-0.5rem 0 0 -0.5rem;color:#999;z-index:2;}
.serivce_pg_layer .uploadImg_map span{width:2.6rem;text-align: center;margin-left:-1.3rem;}/*修改*/
.serivce_pg_layer .uploadImg_map .pic_specify{top:65%;}
.layui-m-layermain .serivce_pg_layer{width: 90%;}
.serivce_pg_layer .layui-m-layercont{height:6.2rem;overflow-y:auto;}/*修改*/
.uploadImg_map .msy_image_map.active .upload_img{z-index:2;}
.uploadImg_map .msy_image_map.active span{z-index:1;}