
/*机构登记  background:url(../img/sign-ico.png) repeat-x center 8px;*/
.login-items{padding:0.30rem 0.28rem;border-top:1px solid #d9d9d9;}
.msy_sign_title{background-color:#f7f8f8;padding: 0 0 0.15rem;}
.msy_sign_title h2{text-align:center;background:#fff;padding:0.25rem 0;}
.page-bd .status{}
.sign_nav{padding: 0.20rem 0.4rem;}
.weui_cells{border:1px solid #d9d9d9;border-radius:0.06rem;}
.login-items .weui_btn_primary{background-color: #F39800;}
.login-items .weui_input{font-size:0.24rem;}
.login-items .msy_cells:before,.login-items .msy_cells:after{border-top:none;border-bottom:none;}
.page-bd .weui-flex {
 
    align-items: center;
    transition: all 0.3s ease 0s;
    display: -webkit-flex;
     display: -webkit-box;
    display: flex;
}
.page-bd .weui-flex-item {
    position:relative;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    text-align:center;
    color:#808080;
}
.weui_cell-bd {
  -webkit-flex: 1 1 0;
    flex: 1 1 0;
}
.page-bd .status .active{color:#0ccaf7;}
.weui-flex-item span{display:block;height:0.6rem;}
.weui-flex-item .base_info{background:#fff url(../img/base_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_info{background:#fff url(../img/base_s_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_address{background:#fff url(../img/base_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_address{background:#fff url(../img/base_s_address.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_finish{background:#fff url(../img/base_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .base_s_finish{background:#fff url(../img/base_s_finish.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_info{background:#fff url(../img/certify_info.png) no-repeat center 0;background-size:40px auto;}
.weui-flex-item .certify_s_info{background:#fff url(../img/certify_s_info.png) no-repeat center 0;background-size:40px auto;}

.weui-flex-item em{position: absolute;
    background: url(../img/sign-ico.png) repeat-x;
    left: 76%;
    height: 2px;
    display: block;
    width: 48%;
    top: 14px;
    z-index: 999;
}
.weui_cell .pca{flex:1;-webkit-flex:1;box-sizing:border-box;border: 1px solid #d9d9d9;padding:0.22rem 0 0.22rem 0rem;background:none;}
/*.weui_cell select option{text-align:center;}*/
.weui_cell select:nth-of-type(1){border-right:none;}
.weui_cell select:nth-of-type(2){border-right:none;}
.weui_address{padding:0;border:none;}
.weui_address .weui_cell{padding:0;}
.reg_success{text-align:center;padding:0.8rem 0 0.5rem;}

/*机构认证*/
.certify_title{background: #ff7bac;padding:0.20rem 0.28rem;display:flex;display:-webkit-flex;}
.certify_title img{width:1.2rem;height:1.2rem;}
.certify_title span{padding-left:0.35rem;flex:5;color:#fff;align-items: center;display:flex;}
.certify_intro{padding:0 0.25rem;}
.certify_intro h3{padding:0.35rem 0 0.18rem;}
.certify_items{border-top:none;}
.success_ico{margin:.8rem auto .25rem;width:0.85rem;height:0.85rem;display:block;}
.success_tipc{text-align:center;}
.certify_tipc_txt{color:#595757;margin:0.15rem 0 0;}


.uploadImg_cell{width:100%;overflow:hidden;}
.uploadImg_cell .upload_item{float:left;margin:0 0.1rem 0.1rem 0.1rem;}
.uploadImg_cell .upload_td{position:relative;width:1.7rem;height:1.5rem;background:#e5e5e5;}
.uploadImg_cell .upload_td:after, .uploadImg_cell .upload_td:before,.uploadImg_map .msy_image_map:after,.uploadImg_map .msy_image_map:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #999;
}
.uploadImg_cell .upload_td:before {
    width: 2px;
    height: 39.5px;
}
.uploadImg_cell .upload_td:after {
    width: 39.5px;
    height: 2px;
}
.upload_td .uploadImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.upload_img{position:absolute;top:0;left:0;width:100%;height:100%;}

/*机构基本资料和图片*/
#uploadPicture{display:none;}
.uploadImg_map{position:relative;}
.uploadImg_map .msy_image_map{position:relative;width:100%;height:4.5rem;background:#e5e5e5;}
.uploadImg_map .msy_image_map:before {
    width: 2px;
    height: 39.5px;
    top:35%;
}
.uploadImg_map .msy_image_map.active:before,.uploadImg_map .msy_image_map.active:after,.image_photo .upload_td.active:before,.image_photo .upload_td.active:after{width:0;height: 0;}
.uploadImg_map .msy_image_map:after {
    width: 39.5px;
    height: 2px;
    top:35%;
}
.image_photo .upload_td:before{top:36%;}
.image_photo .upload_td:after{top:36%;}
.msy_image_map .uploadImg,.image_photo .upload_td .uploadImg{z-index:2;}
.msy_image_map .upload_img,.image_photo .upload_td .upload_img{z-index:1;}
.uploadImg_map span{position: absolute;width:1rem ;height:1rem ;left:50%;top:56%;margin:-0.5rem 0 0 -0.5rem;color:#999;}
.msy_basis {padding:0 0 0 0.20rem;}
.msy_basis li{border-bottom:1px solid #d9d9d9;}
.msy_basis li input{position:relative;width:100%;display:block;color:#39b54a;}
.msy_basis li .organiz_j::after{z-index:2;content:'';display:inline-block; position:absolute;top:124%;right:0.2rem;width:.5em;height:.5em;border-bottom:.12em solid #39b54a;border-left:.12em solid #39b54a;-webkit-transform:translate(-70%) rotateZ(-140deg);-moz-transform:translate(-70%) rotateZ(-45deg);-ms-transform:translate(-70%) rotateZ(-45deg);}
.msy_basis label,.msy_basis input{display:block;padding:0.12rem 0;position:relative;}
.msy_basis input{width:100%;}
.edit_intro_layer .layui-m-layercont{padding:0 0.15rem 0 0.15rem;text-align:left;max-height:400px;overflow-y:scroll;}
.edit_intro_layer .layui-m-layercont textarea{width: 100%;height: 320px;border:1px solid #d9d9d9;text-indent: 0.10rem;padding: 0.12rem 0 0 0;}
.uploadImg_cell .image_photo{margin:0.18rem 0.10rem;}
.image_photo .upload_td{width:2.4rem;height:2.4rem;}
.image_photo .upload_pic{position: absolute;left:50%;top:50%;margin:0 0 0 -0.7rem;width:1.4rem;display:block;text-align:center;}
















