
<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/registration.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构登记</h2>
    </section>
    <form id="form">
        <input name="name"  type="hidden" value="{$basicInfo.name}">
        <input name="organizajc"  type="hidden" value="{$basicInfo.organizajc}">
        <input name="register_name"  type="hidden" value="{$basicInfo.register_name}">
        <input name="organiza_mobile"  type="hidden" value="{$basicInfo.organiza_mobile}">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item active"><span class="base_address"></span><em></em>收货人地址</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>登记完成</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="consignee" class="weui_input beauty_name" placeholder="收货人姓名" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="consignee_mobile" class="weui_input beauty_phone" placeholder="收货人手机号码" type="tel">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells weui_address">
                        <div class="weui_cell">
                            <select name="province" class="pca">
                                <option value="">省</option>
                            </select>
                            <select name="city" class="pca">
                                <option value="">市</option>
                            </select>
                            <select name="area" class="pca">
                                <option value="">县区</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="address" class="weui_input beauty_phone" placeholder="街道/小区/道/楼/门牌" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="js-customize">
    <script src="__JS__/province_city_area.js"></script>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            var content='';
            $('.weui_btn').on('click',function(){
                var beauty_name=$('.beauty_name').val();
                var beauty_phone=$('.beauty_phone').val();
                var province=$('[name=province]').val();
                var city=$('[name=city]').val();
                var area=$('[name=area]').val();
                var address=$('[name=address]').val();



//                if(!beauty_name){
//                    content='请输入收货人姓名';
//                }else if(!beauty_phone){
//                    content='请输入收货人手机';
//                }else if(!province){
//                    content='请选择省份';
//               }else if(!city){
//                    content='请选择城市';
//                }else if(!area){
//                    content='请选择地区';
//                }else if(!address){
//                    content='请输入具体地址';
//                }

                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }


                $.post('registerAll', $('#form').serialize(), function (result) {
                    if(result.status == 0) {
                        dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        location.href="registerFinish";
                    }

                },'JSON');
            })

        });
    </script>
</block>


