<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>美尚云机构认证</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/layer.js"></script>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="js/need/layer.css">
    <script src="js/public.js"></script>
</head>
<body>
    <section class="certify_title">
        <img src="images/store/logo.png" alt="">
        <span class="f28">美容机构实名认证</span>
    </section>
    <section class="certify_intro f20">
        <img src="images/img/success_ico.png" alt="" class="success_ico">
        <p class="success_tipc f20">已实名认证的美容机构</p>
    </section>   
    
</body>
</html>