<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>美容机构实名认证</title>

    <script src="/public/js/jquery-1.11.3.min.js"></script>
    <script src="/public/js/lrz.min.js"></script>
    <script src="/public/js/layer.js"></script>
    <link rel="stylesheet" href="/public/css/store/public.css">
    <link rel="stylesheet" href="/public/css/store/registration.css">
    <link rel="stylesheet" href="/public/css/store/weui.css">
    <link rel="stylesheet" href="/public/js/need/layer.css">
    <script src="/public/js/public.js"></script>
    <script src="/public/js/scrollable.js"></script>
    <script src="/public/js/dialog.js"></script>
</head>
<body>
<section class="msy_sign_title f20">
    <h2>美容机构免费实名认证</h2>
</section>
<form action="" method="">
    <div id="wizard" class="page-bd">
        <nav class="sign_nav">
            <ul id="status " class="status f24 weui-flex">
                <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                <li class="weui-flex-item active"><span class="certify_info"></span><em></em>认证资料</li>
                <li class="weui-flex-item"><span class="base_s_finish"></span>递交申请</li>
            </ul>
        </nav>
        <div class="login-items">
            <div class="register_info">
                <div class="uploadImg_cell f20">
                    <div class="upload_item">
                        <div class="upload_td">
                            <input type="file" class="uploadImg" name="">
                        </div>
                        <p>美容机构营业执照</p>
                    </div>
                    <div class="upload_item">
                        <div class="upload_td">
                            <input type="file" class="uploadImg" name="">
                        </div>
                        <p>申请人身份证(正面)</p>
                    </div>
                    <div class="upload_item">
                        <div class="upload_td">
                            <input type="file" class="uploadImg" name="">
                        </div>
                        <p>申请人身份证(反面)</p>
                    </div>
                    <div class="upload_item">
                        <div class="upload_td">
                            <input type="file" class="uploadImg" name="">
                        </div>
                        <p>*申请人单位证明信</p>
                    </div>
                </div>

                <p class="f20 certify_tipc_txt">
                    温馨提示：美容机构实名认证需在线递交机构营业执照、申请人身份证正面和反面等认证材料（非法人代表申请人还须递交单位证明信），请提前拍照准备上传照片
                </p>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" href="javascript:;" >下一步</a>
                </div>
            </div>
        </div>
</form>
<script>
    $(function(){

        // 选择图片
        $('.uploadImg').on('change',function(){
            var img = event.target.files[0];
            var obj=$(this).parent();

            // 判断是否图片
            if(!img){
                return ;
            }

            // 判断图片格式
            var imgRegExp=/\.(?:jpg|png|gif)$/;
            if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                return ;
            }
            var reader = new FileReader();
            reader.readAsDataURL(img);
            reader.onload = function(e){
                $(obj).append('<img class="upload_img" src="' + e.target.result + '">');
                //上传图片
                $.post("server.php", { img: e.target.result},function(ret){
                    if(!ret.img){
                        return;
                    }
                    // $(obj).append('<img class="upload_img" src="' + e.target.result + '">');
                },'json');
            }
        })
    })


</script>
</body>
</html>