<extend name="Public:base" />

<block name="title"><title>美尚云</title></block><block name="css-customize">
    <link rel="stylesheet" href="__CSS__/registration.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构免费实名认证</h2>
    </section>
    <form id="form" action="" method="">
        <input name="name" type="hidden" value="{$authInfo.name}">
        <input name="organizajc"  type="hidden" value="{$authInfo.organizajc}">
        <input name="applicants" type="hidden" value="{$authInfo.applicants}">
        <input name="applicants_mobile"  type="hidden" value="{$authInfo.applicants_mobile}">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item active"><span class="certify_info"></span><em></em>认证资料</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>递交申请</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="uploadImg_cell f20">
                        <div class="upload_item">
                            <div class="upload_td">
                                <input  type="file" class="uploadImg" name="license"  >
                                <input  class="file_upload_image" type="hidden"  name="license" value="">

                            </div>
                            <p>美容机构营业执照</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input  type="file" class="uploadImg" name="identity_card1">
                                <input  class="file_upload_image" type="hidden"  name="identity_card1" value="">

                            </div>
                            <p>申请人身份证(正面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="identity_card2">
                                <input  class="file_upload_image" type="hidden"  name="identity_card2" value="">
                            </div>
                            <p>申请人身份证(反面)</p>
                        </div>
                        <div class="upload_item">
                            <div class="upload_td">
                                <input type="file" class="uploadImg" name="certificate">
                                <input  class="file_upload_image" type="hidden"  name="certificate" value="">
                            </div>
                            <p>*申请人单位证明信</p>
                        </div>
                    </div>

                    <p class="f20 certify_tipc_txt">
                        温馨提示：美容机构实名认证需在线递交机构营业执照、申请人身份证正面和反面等认证材料（非法人代表申请人还须递交单位证明信），请提前拍照准备上传照片
                    </p>
                    <div class="weui_btn_area">
                        <a id="next"  class="weui_btn weui_btn_primary" href="javascript:;" >下一步</a>
                    </div>
                </div>
            </div>
    </form>
</block>

<block name="js-customize">

</block>
<block name="script">
    <script>
        $(function(){

            // 选择图片
            $('.uploadImg').on('change',function(){
                var _this=$(this);
                var img = event.target.files[0];
                var obj=$(this).parent();
                var field=$(this).attr("name");

                // 判断是否图片
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    return ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    $(obj).append('<img class="upload_img" src="' + e.target.result + '">');
                    //上传图片
                    $.post("uploadImg", { img: e.target.result,field:field },function(ret){
                        if(ret.status == 1){
                            _this.siblings('.file_upload_image').attr('value',ret.data);
                        }

                    },'JSON');
                }
            })

            $("#next").click(function(){
                $.post('authCommit', $('#form').serialize(), function (result) {
                    if(result.status == 0) {
                        dialog.error(result.message);
                    }
                    if(result.status == 1) {
                        location.href="authComplete";
                    }

                },'JSON');
            });


        })


    </script>
</block>

