<extend name="Public:base" />

<block name="title"><title>美尚云</title></block>
<block name="css-customize">
    <link rel="stylesheet" href="__CSS__/registration.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构登记</h2>
    </section>
    <form id="form" action="{:U('Company/addressRegister')}" method="post">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item active"><span class="base_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item"><span class="base_s_address"></span><em></em>收货人地址</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>登记完成</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="name" class="weui_input organiza_agency" placeholder="美容机构完整名称（与营业执照相同）" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="organizajc" class="weui_input organiza_jc" placeholder="美容机构简称" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="register_name" class="weui_input register_name" placeholder="你的姓名" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="organiza_mobile" class="weui_input organiza_phone" placeholder="你的手机号码" type="tel">
                            </div>
                        </div>
                    </div>
                    <div class="weui_btn_area">
                        <!--<a class="weui_btn weui_btn_primary" href="javascript:;" >下一步</a>-->
                        <input type="submit" class="weui_btn weui_btn_primary" value="下一步">
                    </div>
                </div>
            </div>
    </form>
</block>
<block name="js-customize">

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

            $('.weui_btn').on('click',function(){
                var content='';
                var organizaName=$('.organiza_agency').val();
                var organizaJc=$('.organiza_jc').val();
                var organizaMobile=$('.organiza_phone').val();
                var registerName=$('.register_name').val();

                if(!organizaName){
                    content='请输入机构全称';
                }else if(!organizaJc){
                    content='请输入机构简称';
                }else if(!registerName){
                    content='请输入你的姓名';
                }else if(!organizaMobile){
                    content='请输入正确的手机号码';
                }
                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }

                $('#form').submit();


            })

        });
    </script>
</block>

