{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <section style="display: none" class="tpl_list">
        <li data-goods-id="">
            <a href="javascript:void(0);" class="close-btn">X</a>
            <!--<div>
                <img src="" alt="" class="left">
                <p class="goods_name">aaabbb</p>
            </div>-->
        </li>
    </section>
    <section class="recommendGoods_content">
        <!--推荐产品容器-->
        <div id="recommendGoods">
            <div class="add_layer_content">
                <ul class="scroller-container list" id="list" data-id="{$id}">

                </ul>
            </div>
        </div>
    </section>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>

    <div class="cl pd-5 bg-1 bk-gray mt-20" style="padding-top: 50px;">
        <a href="javascript:void(0);"><input class="button_save_black_4" value="保存" type="button"></a>
    </div>
{/block}

{block name="script"}
    <script type="text/javascript">
        $(function () {
            //加载第一页
            var config = {
                url:module+'scheme/getList'
            };
            var getData = {
                id:$('#list').data('id'),
                pageType:'list_scene_tpl',
                shelf_status:3
            };
            getPagingList(config,getData);

            //翻页
            $('body').on('click','.pager2',function(){
                var curIndex= $(this).parents('ul.pagination').find('li.active span').text();
                var selectedPage=$(this).data('page');
                if(selectedPage=='»'){
                    curIndex++;
                    selectedPage=curIndex;
                }
                if(selectedPage=='«'){
                    curIndex--;
                    selectedPage=curIndex;
                }
                config.currentPage = selectedPage;
                getPagingList(config,getData);
            });

            // 提交选中方案
            $('body').on('click','.button_save_black_4',function(){
                var url = module +'Scene/editSceneScheme';
                var postData={};
                var ids  = [];
                postData.scene_id = $('#list').data('id');

                $("input[name='checkbox']:checked").each(function(){
                    var _thisTr = $(this).parents('tr');
                    ids.push(_thisTr.data('id'));
                });

                postData.ids = ids;

                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        // 提交后关闭，然后刷新父窗口
                        layer.close(layer.index);
                        window.parent.location.reload();
                    });
                });
            })

        });



    </script>
{/block}