<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mobiscroll.css">

</block>
<block name="content">
    <!--店家对课程培训的要求-->
    <div id="courseRequirements">
        <div class="courserequire_wrapper">
            <textarea name="" id="" cols="30" rows="10" placeholder="填写店家对培训课程的要求" class="courserequire_text f24"></textarea>
        </div>
    </div>
    <!--我要指派给已收藏的卖手-->
    <div id="salesAssignhand">
        <ul class="f24 salesassignhand_wrap">
            <include file="Public/sellerList" />
        </ul>
    </div>
    <section class="msy_sign_title f20">
        <h2>找培训高手课程培训任务单</h2>
    </section>
    <article class="seller_sales_wrapper f24">
        <section>
            <form id="form1">
            <nav>
                <li class="seller_sales_item">
                    <span class="s_t"><i class="f28 required">*</i>任务单标题</span>
                    <input type="text" placeholder="填写任务单标题" name="name" class="task_title" value="{$taskOrder.name}"/>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">培训课程要求</span>
                    <a href="javascript:void(0);" data-courserequire="" class="s_task courseRequire">店家对培训课程要求</a>
                </li>
                <li class="seller_sales_item seller_sales_date">
                    <span class="s_t">培训课程日期</span>
                    <input name="expect_date" id="appDate" readonly="" data-salesSchedule="" class="s_task salesschedule f24" type="text" placeholder="培训课程举行日程安排" />
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">培训讲师费用</span>
                    <div>
                        允许讲师自行组团，需要讲师数量
                        <input type="text" name="seller_quantity" class="seller_number lecturer_number f24" placeholder="填写数字">
                    </div>
                </li>
                <li class="seller_sales_item">
                    <div>
                        店家愿意付给培训讲师费用共金额 ￥
                        <input type="text" name="pay_seller_amount" class="seller_number instructor_fees f24" placeholder="填写数字">
                    </div>
                </li>
                <li class="seller_sales_item">
                    <span class="s_t">任务分派模式</span>
                    <div>默认为供卖手公开抢单
                        <a href="javascript:void(0);" data-assignhand="" class="s_task already_collection salesassignhand">我要指派给已收藏的卖手</a>
                    </div>
                </li>
            </nav>
            </form>
        </section>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary seller_orders_btn" href="javascript:void(0);">确定</a>
    </div>
</block>
<block name="mjs-customize">
    <script src="__PUBLIC__/js/mobiscroll.js"></script>

    <script type="text/javascript">
        $(function () {
            var currYear = (new Date()).getFullYear();
            var opt={};
            opt.datetime = {preset : 'datetime'};
            opt.default = {
                theme: 'android-ics light', //皮肤样式
                display: 'modal', //显示方式
                mode: 'scroller', //日期选择模式
                dateFormat: 'yy-mm-dd',
                timeFormat: 'HH:ii',
                lang: 'zh',
                showNow: false,
                nowText: "今天",
                startYear: currYear - 100, //开始年份
                endYear: currYear + 100 //结束年份
            };
            $("#appDate").mobiscroll($.extend(opt['datetime'],opt['default']));
        });
    </script>
    <script type="text/javascript">
        $(function () {
            //初始化页面
            var taskOrder = {:json_encode($taskOrder)};
            if(taskOrder){
                //店家对培训课程要求
                $('.courseRequire').data('courserequire',{training_course_requirements:taskOrder.training_course_requirements});
                //培训课程日期
                $("#appDate").val(taskOrder.expect_date?taskOrder.expect_date:'');
                //允许讲师自行组团，需要讲师数量
                $("[name=seller_quantity]").val(parseInt(taskOrder.seller_quantity)?taskOrder.seller_quantity:'');
                //店家愿意付给培训讲师费用共金额
                $("[name=pay_seller_amount]").val(parseFloat(taskOrder.pay_seller_amount)?taskOrder.pay_seller_amount:'');
                //指派给收藏的卖手
                if(parseInt(taskOrder.seller_id)){
                    $('.salesassignhand').data('assignhand',{seller_id:taskOrder.seller_id});
                }
            }
            //初始化结束

            var storeSalesProject=$('#storeSalesProject').html();
            var salesBothParties=$('#salesBothParties').html();
            var salesAssignHand=$('#salesAssignhand').html();
            var courseRequirements=$('#courseRequirements').html();

            //确定
            $('.seller_orders_btn').on('click',function(){
                var content='';
                var taskTitle=$('.task_title').val();
                if(!taskTitle){
                    content='请填写任务单标题';
                }

                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();
                var courserequire = $('.courseRequire').data('courserequire');
                var assignhand = $('.salesassignhand').data('assignhand');

                postData = $.extend(postData,courserequire,assignhand);
                postData.type = '{$sellerType}';

                if(taskOrder && taskOrder.id){
                    postData = $.extend(postData,{taskOrderId:taskOrder.id});
                }
                $.post(ACTION,postData,function(msg){
                    if(msg.status == 0){
                        layer.open({
                            content: msg.info,
                            skin: 'msg',
                            time: 2
                        });
                        return false;
                    }else if(msg.status == 1){
                        history.go(-1);
                    }
                });
            });

            //店家对培训课程要求弹窗
            $('body').on('click','.courseRequire',function(){
                layer.open({
                    title:['店家对培训课程要求','border-bottom:1px solid #d9d9d9;'],
                    className:'courserequire_layer',
                    content:courseRequirements,
                    btn:['确定','取消'],
                    success:function(){
                        $('.courserequire_text').val($('.courseRequire').data('courserequire').training_course_requirements);
                    },
                    yes:function(index){
                        var salesCourseRequireLayer = $('.courserequire_layer').find('.courserequire_wrapper');
                        var salesCourseRequire = {
                            training_course_requirements:salesCourseRequireLayer.find('.courserequire_text').val()
                        };
                        $('.courseRequire').data('courserequire',salesCourseRequire);
                        layer.close(index);
                    }
                })
            });

            //指派给已收藏的卖手（单选）
            $('body').on('click','.assignhand_list',function(){
                $(this).toggleClass('current').siblings().removeClass('current');
            });
            //我要指派给已收藏的卖手弹窗
            $('body').on('click','.salesassignhand',function(){
                layer.open({
                    title:['我要指派给已收藏的卖手','border-bottom:1px solid #d9d9d9;'],
                    className:'salesassignhand_layer',
                    content:salesAssignHand,
                    btn:['确定','取消'],
                    success:function(){
                        var sellerLi = $('.salesassignhand_layer .assignhand_list');
                        $.each(sellerLi,function(i,o){
                            if($('.salesassignhand').data('assignhand').seller_id == $(this).data('id')){
                                $(this).addClass('current');
                            }
                            //星星评分等级
                            $(this).find('.five_star').setStar($(this).data('grade'));
                        });
                    },
                    yes:function(index){
                        $.each($('.salesassignhand_layer .assignhand_list'),function(i,val){
                            if($(this).hasClass('current')){
                                var salesAssignHandOptions={
                                    seller_id:$(this).data('id')
                                };
                                $('.salesassignhand').data('assignhand',salesAssignHandOptions);
                            }
                        });
                        layer.close(index);
                    }
                });
            });
        });
    </script>
</block>