{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
{/block}
{block name="common"}
<section class="userInfoWrapper">
    <div class="f24 bomb_box">
        <div class="ucenter_logo">
            <img src="public_img/ucenter_logo.png" alt="">
        </div>
        <ul class="loginNav">
            <li >注册</li>
            <li class="current">登录</li>
        </ul>
        <!--注册-->
        <form class="loginTab hide" id="formRegister">
            {include file="template/register_common.html" /}
            <div class="login_item use-item ">
                注册表示同意
                <a href="javascript:void(0);" class="f06c use-attention"><<美尚平台使用须知>></a>
            </div>
            <a href="javascript:void(0);" class="registerBtn entry-button"  data-method="register">注册</a>
        </form>
        <!--登录-->
        <form class="loginTab active" id="formLogin">
            {include file="template/login_common.html" /}
            <a href="javascript:void(0);" class="loginBtn entry-button"  data-method="login">登录</a>
        </form>
    </div>
    {include file="template/attention.html" /}
</section>
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    var send_sms = '{:url("sendSms")}';
</script>
{/block}