
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer.mobile/layer.js"></script>
    <title>在线支付</title>
    <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            var data={$data};
            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest', data,
                    function(res){
                        WeixinJSBridge.log(res.err_msg);
                        if(res.err_msg == "get_brand_wcpay_request:ok"){
                            alert("支付成功!");
                            window.location.href="http://zm.meishangyun.com/index.php/Purchase/Index/index";
                        }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                            alert("用户取消支付!");
                        }else{
                            alert("支付失败!");
                        }
                    }
            );
        }


        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }

        $(function () {
            $('.back').click(function () {
                layer.open({
                    title: [
                        '你确定离开支付？',
                        'background-color:#8DCE16; color:#fff;'
                    ]
                    ,content: '你的订单在24小时内不进行支付将别取消，请尽快支付'
                    ,btn: ['确定离开', '继续支付']
                    ,yes: function(index){
                        history.go(-1);
                        layer.close(index);
                    }
                });
            })
        });

    </script>

</head>
<body>

<br/>
<font color="#9ACD32"><b>该笔订单支付金额为<span style="color:#f00;font-size:50px">{$orderInfo.actually_amount}</span>元</b></font><br/><br/>
<div align="center">
    <button style="width:210px; height:50px; border-radius: 15px;background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >微信支付^_^</button>
</div>
</body>
</html>




