<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="content">
    <include file="Public/sellerInfo"/>
    <div class="dividing_line"></div>
    <section class="seller_skill_wrapper">
        <div class="f24 seller_skill_type">
            <span>卖手简介</span>
            <p class="seller_txt">卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介卖手简介</p>
        </div>
        <div class="f24 seller_skill_type">
            <span>擅长技能</span>
            <p class="seller_txt">擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能擅长技能</p>
        </div>
    </section>
    <section class="personal_image_wrapper">
        <div class="personal_image f24">
            <span>个人形象</span>
            <ul class="personal_item clearfix">
                <li>
                    <empty name="seller.figure_url_0">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_0}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_1">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_1}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_2">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_2}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_3">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_3}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_14">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_4}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_5">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_5}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_6">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_6}" alt="">
                    </empty>
                </li>
                <li>
                    <empty name="seller.figure_url_7">
                        <img src="__PUBLIC__/images/sellerCompany/default/default_seller_head.png" alt="">
                        <else/>
                        <img src="/Uploads/{$seller.figure_url_7}" alt="">
                    </empty>
                </li>
            </ul>
        </div>
    </section>
    <footer class="seller_bottom_menu">
        <a href="javascript:void(0);" class="cancle_collection">取消收藏</a>
        <a href="javascript:void(0);" class="cancle_back">返回</a>
    </footer>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化
            var grade = '{$seller.grade}';
            $('.five_star').setStar(grade);
            //文字缩略
            $(".seller_skill_type").moreText({
                maxLength: 50, //默认最大显示字数，超过...
                mainCell: '.seller_txt' //文字容器
            });

            //取消收藏
            $('.cancle_collection').on('click',function(){
                var postData = {};
                postData.seller_id = '{$seller.id}';
                $.post(CONTROLLER + '/sellerFavoritesCancel',postData,function (msg) {
                    var content='已取消对该卖手的收藏<br/>该卖手不再出现在卖手收藏夹里了';
                    if(msg.status == 0){
                        content = msg.info;
                    }
                    layer.open({
                        title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                        content:content,
                        btn:['确定'],
                        yes:function () {
                            history.go(-1);
                        }
                    });
                });
            });

            //返回
            $('.cancle_back').on('click',function(){
                history.go(-1);
            });
        });
    </script>
</block>