<footer class="bottom-fxied f24">
    <a href="javascript:void(0);" id="joint_purchasing">进入联合采购</a>
</footer>
<script type="text/javascript">
    $(function () {
        //进入联合采购
        $('body').on('click','#joint_purchasing',function(){
            var url = MODULE + '/Cart/jointPurchasing';
            url += '/category_id_1/{$Think.get.category_id_1}';
            url += '/category_id_2/' + $('.purchase_package_nav').find('li.current').data('category_id_2');
            location.href = url;
        });
    });
</script>