<extend name="Public:base" />
<block name="title">联合采购</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <section class="">
            <img src="PUBLIC_IMG/home/purchase_special.jpg" alt="">
        </section>
        <div class="purchase_package_list">
            <ul id="content" class="goods_list"></ul>
        </div>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/purchase/goods.js"></script>
    <script type="text/javascript">
        $(function(){
            //获取单分类下商品-列表形式
            var config = {};
            config.category_id_1 = '{$Think.get.category_id_1}';
            config.category_id_2 = '{$Think.get.category_id_2}';
            config.pageSize = 5;
            getSingleCategoryGoodsList(config);

            //上拉加载更多
            $(window).on('scroll',function(){
                if($(document).scrollTop()+$(window).height()>=$(document).height()){
                    getSingleCategoryGoodsList(config);
                }
            });
        });
    </script>
</block>