<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/cloudstore/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构登记</h2>
    </section>
    <form>
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item"><span class="base_s_address"></span><em></em>收货人地址</li>
                    <li class="weui-flex-item active"><span class="base_finish"></span>登记完成</li>
                </ul>
            </nav>
            <div class="login-items">
                <p class="f20 reg_success">你已是登记的美容机构</p>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" href="javascript:void(0);" >确定</a>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        //确定
        $('.weui_btn_primary').on('click',function(){
            location.href = '{:U("Home/Index/index")}';
        });
    </script>
</block>