<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/cloudstore/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美容机构登记</h2>
    </section>
    <form id="form1">
        <div id="wizard" class="page-bd">
            <nav class="sign_nav">
                <ul id="status " class="status f24 weui-flex">
                    <li class="weui-flex-item"><span class="base_s_info"></span><em></em>基本资料</li>
                    <li class="weui-flex-item active"><span class="base_address"></span><em></em>收货人地址</li>
                    <li class="weui-flex-item"><span class="base_s_finish"></span>登记完成</li>
                </ul>
            </nav>
            <div class="login-items">
                <div class="register_info">
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="consignee" value="{$company.consignee}" class="weui_input beauty_name" placeholder="收货人姓名" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="consignee_mobile" value="{$company.consignee_mobile}" class="weui_input beauty_phone" placeholder="收货人手机号码" type="tel">
                            </div>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells weui_address">
                        <div class="weui_cell">
                            <select name="province" class="pca">
                                <option value="">省</option>
                            </select>
                            <select name="city" class="pca">
                                <option value="">市</option>
                            </select>
                            <select name="area" class="pca">
                                <option value="">县区</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui_cells msy_cells">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <input name="address" value="{$company.address}" class="weui_input beauty_phone" placeholder="街道/小区/道/楼/门牌" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary" href="javascript:void(0);" data-id="{$company.id}">下一步</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</block>
<block name="mjs-customize">
    <script type="text/javascript" src="{$Think.config.PUBLIC_JS}/province_city_area.js"></script>
    <script type="text/javascript">
        //初始化
        var province = '{$company.province}';
        $('[name=province]').val(province);
        $('[name=province]').change();
        var city = '{$company.city}';
        $('[name=city]').val(city);
        $('[name=city]').change();
        var area = '{$company.area}';
        $('[name=area]').val(area);

        //下一步
        $('.weui_btn').on('click',function(){
            var consignee=$('[name=consignee]').val();
            var consignee_mobile=$('[name=consignee_mobile]').val();
            var address=$('[name=address]').val();

            var content='';
            if(!consignee){
                content='请输入收货人姓名';
            }else if(!isMobilePhone(consignee_mobile)){
                content='请输入正确的手机号码';
            }else if(!address){
                content='请输入你收货人地址';
            }

            if(content){
                layer.open({
                    content:content,
                    time: 2
                });
                return false;
            }

            var postData = $('#form1').serializeObject();

            var companyId = $(this).data('id');
            if(companyId){
                postData.companyId = companyId;
            }
            $.post('registerAddress',postData,function(msg){
                if(msg.status == 0){
                    layer.open({
                        content:msg.info,
                        time: 2
                    });
                    return false;
                }else if(msg.status == 1){
                    location.href = 'registerComplete';
                }
            });
        });
    </script>
</block>