<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerPractitioner/selling.css">
</block>
<block name="content">
    <article class="task_management_wrapper">
        <section class="task_management_head f24 clearfix">
            <img src="__PUBLIC__/images/sellerCompany/msy_logo.png" alt="">
            <div class="task_manage_text">
                <span class="task_order_m">我的接单管理</span>
            </div>
        </section>
        <div class="message_list_module my_message_list f28">
            <a href="__CONTROLLER__/myMessage" class="message_list">我的消息列表<span class="my_message">{$count.messageListCount|default='0'}</span></a>
            <a href="javascript:void(0);" class="message_list">查看评分评论<span class="my_message">0</span></a>
        </div>
    </article>
    <article>
        <section class="message_list_module f28">
            <a href="javascript:void(0);" data-sign-status="0" class="message_list task_order">待签约任务单<span class="cancle_task">{$count.taskOrderUnsignedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="1" class="message_list task_order">已签约的任务单<span class="completed_task">{$count.taskOrderSignedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="2" class="message_list task_order">已完成的任务单<span class="completed_task">{$count.taskOrderCompletedCount|default='0'}</span></a>
            <a href="javascript:void(0);" data-sign-status="3" class="message_list task_order">已取消的任务单<span class="cancle_task">{$count.taskOrderCanceledCount|default='0'}</span></a>
            <a href="javascript:void(0);" class="message_list">我收藏的店家<span class="cancle_task">0</span></a>
        </section>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('.message_list_module').find('.task_order').click(function(){
                var signStatus = $(this).data('sign-status');

                var url = CONTROLLER + '/taskOrderList';
                location.href = url + '?signStatus=' + signStatus;
            });
        });
    </script>
</block>