<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="task_list_nav f24">
        <nav class="task_list_menu">
            <li class="current" data-sign-status="0">
                <span class="not_signed"></span>
                待签约
            </li>
            <li class="" data-sign-status="1">
                <span class="already_signed"></span>
                已签约
            </li>
            <li class="" data-sign-status="2">
                <span class="already_completed"></span>
                已完成
            </li>
            <li class="" data-sign-status="3">
                <span class="already_cancle"></span>
                已取消
            </li>
        </nav>
    </section>
    <article class="f24">
        <div class="taskOrderList"><ul></ul></div>
    </article>
</block>

<block name="mjs-customize">
    <script type="text/javascript">
        //初始化
        var signStatus = '{$signStatus}';
        $('.task_list_menu').find('[data-sign-status='+signStatus+']').tab();
        getTaskOrderList(signStatus);

        //选项卡切换
        $('.task_list_menu>li').click(function(){
            var _this = $(this);

            _this.tab();

            var signStatus = _this.data('sign-status');
            getTaskOrderList(signStatus);
        });

        function getTaskOrderList(signStatus){
            var postData = {};
            if($.isNumeric(signStatus)){
                postData.signStatus = signStatus;
            }
            $.post(ACTION,postData,function(msg){
                $('.taskOrderList').find('ul').html(msg);
            });
        }

        //任务单详情
        $('body').on('click','.task_pipeline_detail',function(){
            var taskOrderId = $(this).data('id');
            var signStatus = $('.current').data('sign-status');

            var url = CONTROLLER;
            if(signStatus==0){
                url += '/taskOrderDetail';
            }else if(signStatus==1 || signStatus==2 || signStatus==3){
                url += '/taskOrderWorkbench';
            }else{
                url += '/taskOrderDetail';
            }

            url += '?taskOrderId=' + taskOrderId;

            location.href = url;
        });
    </script>
</block>