<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="content">
    <article class="seller_sales_wrapper f24">
        <section>
            <div class="salescooperation_task">
                <span class="each_clause">任务单名称</span>
                <div class="sales_task_name" data-id="{$taskOrder.id}">{$taskOrder.name}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">下单的店家</span>
                <div class="each_clause_detail">
                    <p class="">机构名称：<span>{$taskOrder.company_name}</span></p>
                    <p class="">地址：
                        <span>{$taskOrder.companyProvinceCityArea|province_city_area}{$taskOrder.address}</span>
                    </p>
                    <p class="">联系人：<span>{$taskOrder.registrant}</span></p>
                    <p class="">手机：<span>{$taskOrder.registrant_mobile}</span></p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">拟开展的项目</span>
                <div class="">{$taskOrder.project}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">计划日程</span>
                <div class="each_clause_detail"><span>{$taskOrder.expect_days}</span>天</div>
                <div>{$taskOrder.scheduleDate}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">本单分成约定</span>
                <div class="each_clause_detail">
                    <p class="">需要卖手（团队）：<span>{$taskOrder.seller_quantity}</span>人</p>
                    <p class="">卖手（团队）出场费：<span>{$taskOrder.seller_appearance_fee}</span>元</p>
                    <p class="">店家对店销现金业绩给卖手（团队）的分成比例 ：<span>{$taskOrder.seller_share_proportion}%</span></p>
                    <p class="">结款方式：<span>{$taskOrder.payment_way|paymentWay}</span></p>
                    <p class="Cooperation_agreement_terms">{$taskOrder.stipulation_instructions}</p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">任务指派方式</span>
                <div class="sales_task_name">{$taskOrder.seller_id|grabOrAssigned}</div>
            </div>
        </section>
    </article>
    <div class="service_list_btn">
        <a href="javascript:void(0);" class="give_up_sign">放弃签约</a>
        <a href="javascript:void(0);" class="agree_sign">同意签约</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function () {
            //放弃签约
            $('.service_list_btn .give_up_sign').on('click',function(){
                var content = '我放弃与店家该任务项目合作签约。放弃后该任务单将不再在待签约任务单栏出现。';
                layer.open({
                    title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                    content:content,
                    btn:['确定','取消'],
                    yes:function(){
                        var taskOrderId = $('.sales_task_name').data('id');
                        var postData = {
                            taskOrderId:taskOrderId
                        };
                        $.post(CONTROLLER + '/giveUpSign',postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin: 'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                history.go(-1);
                            }
                        });
                    }
                });
            });

            //同意签约
            $('.service_list_btn .agree_sign').on('click',function(){
                var content = '我同意与店家该任务项目合作签约。确认后等待店家确认，可在已签约任务单栏中查询签约结果。';
                layer.open({
                    title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                    content:content,
                    btn:['确定','取消'],
                    yes:function(){
                        var taskOrderId = $('.sales_task_name').data('id');
                        var postData = {
                            taskOrderId:taskOrderId
                        };
                        $.post(CONTROLLER + '/agreeSign',postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin: 'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                history.go(-1);
                            }
                        });
                    }
                });
            });
        });
    </script>
</block>