<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>单方面终止合作协议申请</h2>
    </section>
    <article class="f24 termination_agreement_wrapper">
        <include file="Public/taskOrderInfo" />
        <form id="form1">
        <div class="termination_item">
            <span>终止服务协议原因</span>
            <textarea name="reason" cols="30" rows="10" placeholder="请写原因">{$terminateCooperationApply.reason}</textarea>
        </div>
        <div class="termination_item">
            <span>单方违约赔付方案</span>
            <textarea name="compensate_scheme" cols="30" rows="10" placeholder="赔偿建议">{$terminateCooperationApply.compensate_scheme}</textarea>
        </div>
        </form>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary submit_application" href="javascript:void(0);">递交申请</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('.submit_application').on('click',function(){
                var postData = $('#form1').serializeObject();
                postData.taskOrderId = '{$taskOrder.id}';
                postData.to_id = '{$taskOrder.seller_id}';
                postData.terminateCooperationApplyId = '{$terminateCooperationApply.id}';

                $.post(ACTION,postData,function (msg) {
                    if(msg.status == 1){
                        msg.info = '终止协议申请已发给对方<br/>请留意对方的答复并妥善解决';
                    }
                    layer.open({
                        title:['消息提醒','border-bottom:1px solid #d9d9d9;'],
                        content:msg.info,
                        btn:['确定'],
                        yes:function () {
                            history.go(-1);
                        }
                    });
                });
            });
        });
    </script>
</block>