<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="selling_top_title f20">
        <h2>卖手档案</h2>
    </section>
    <section class="f24 store_set_item">
        <div class="store_list">
            <ul>
                <li>
                    <a href="__MODULE__/EditSeller/editSellerInfo" class="edit_seller_base">编辑卖手基本资料</a>
                </li>
                <li>
                    <a href="__MODULE__/EditSeller/editSellerArchiveDetail" class="edit_seller_archives">编辑卖手档案详情</a>
                </li>
                <li>
                    <a href="__MODULE__/EditSeller/sellerArchivePreview" class="preview_archives">我的卖手档案预览</a>
                </li>
            </ul>
        </div>
    </section>
</block>
<block name="mjs-customize">
    <script type="text/javascript">

    </script>
</block>