{notempty name="list"}
{volist name="list" id="info"}
<li data-goods_id="{$info.goods_id}" data-id="{$info.id}">
    <!-- <input type="checkbox" class="item_checkbox checkitem sign_checkitem" > -->
    <a  href="{:url('Goods/detail',['id'=>$info.goods_id])}" class="cart_goods_img">
        <img src="{:show_img_handle($info.thumb_img)}" alt="" class="c_img">
    </a>
    <div class="cart_list_r">
        <p>{$info.headline}</p>
        <div>商品规格：<span>50ml/瓶</span></div>
        <p class="red">￥<price>{$info.franchise_price}</price></p>
        <a href="javascript:void(0);" class="delete goodsDel delete_cart">删除</a>
    </div>
</li>
{/volist}
{else /}
{if $currentPage ==1}
<li class="no_data">
    <img src="public_img/no-collection.png" alt="">
</li>
{/if}
{/notempty}
<style>
    .cart_goods_img{
        min-width: 1.8rem;
        margin-left: 0.3rem;
    }
</style>


  
