{extend name="template/base.html" /}
{block name="css-customize"}
<style type="text/css">
    dl{background: white; margin-bottom: 5px; padding:10px; border-radius:10px;}
    #delivery{background: #ffc6cd;display: none;text-align: center;cursor: pointer;}
</style>
{/block}
{block name="content"}
<article class="f24">
    <section class="top_nav_fixed">
        <div class="top_bar columns_flex">
            <div class="each_column">
                <a class="personal_center">我的</a>
            </div>
            <div class="each_column top_search_module">
                <input type="button" class="search_btn"/>
                <input type="text" class="search_text" placeholder="美尚云搜索"/>
            </div>
            <div class="each_column">
                <a class="home">首页</a>
            </div>
        </div>
    </section>
    <section class="specific_type bottomLine">
        <div class="columns_flex f20 l-r-sides">
            <a href="{:url('CustomerService/beforeSale')}">售前</a>
            <a href="{:url('Order/index')}">打单</a>
            <a href="{:url('Order/out')}">出仓</a>
            <a href="{:url('Order/delivery')}" class="current">发货/完成</a>
            <a href="{:url('Order/bill')}">填单</a>
            <a href="{:url('CustomerService/afterSale')}">售后</a>
        </div>
    </section>
    <section class="f24 account-content-wrapper ">
        <div class="account-top">
            <dl>
                <dt class="role-label"><strong>发货</strong></dt>
                <dd>
                    <section class="top_nav_fixed">
                        <div class="top_bar columns_flex">
                            <div class="each_column top_search_module">
                                <input type="button" class="search_btn"/>
                                <input type="text" id="order" placeholder="手动输入订单号"/>
                            </div>
                        </div>
                    </section>
                </dd>
            </dl>
            <div id="order_detail"></div>
            <div id="delivery" data_order_id="">交付发货</div>
            {:token()}
        </div>
    </section>
</article>

{/block}
{block name="common"}
{include file="template/footer_menu_msy_store.html" /}
{include file="template/right_side_bar.html" /}
{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
    $("#order").keydown(function(e) {
        if (e.keyCode == 13) {
            getOrderDetail();
        }
    });

    $('.search_btn').click(function(){
        getOrderDetail();
    });

    $('#delivery').click(function(){
        var order_id=$('#delivery').attr('data_order_id');
               // token=$("input[name='__token__']").val();
        if(!order_id){
            dialog.error('订单信息有误');
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "{:url('Order/setDelivery')}",
            data:{order_id:order_id},
            dataType:'json',
            success:function(e){
                if(e.status==1){
                    dialog.success(e.info);
                }else{
                    dialog.error(e.info);
                }
            }
        });
    });

    function getOrderDetail()
    {
        var order_sn = $.trim( $('#order').val() );
        if(!order_sn){
            dialog.error('请输入订单号');
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "{:url('Order/isOwnOrder')}",
            data:{order_sn:order_sn},
            dataType:'json',
            success:function(e){
                if(e.status==1){
                    $('#order_detail').empty().append(e.data);
                    $('#delivery').css({'display':'block'}).attr('data_order_id', e.order_id);
                    $('#order').val('');
                }else{
                    dialog.error(e.info);
                }
            }
        });
    }
</script>
{/block}