<extend name="Public:base" />
<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('City/cityManage')}" ><span>管理</span></a></li>
                    <li><a href="{:U('City/cityEdit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height="57">
                    <tbody>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>所属省份：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <select name="province_id" class="selectbox">
                                    <notempty name="provinceList">
                                        <volist name="provinceList" id="vo">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </volist>
                                    </notempty>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>城市名称：</td>
                            <td class=dotted_bottom_gray width="40%" align=left>
                                <input style="width: 200px; " class="inputboxadmin" name="name" value="{$cityInfo.name}">
                            </td>
                        </tr>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>城市类型：</td>
                            <td class=dotted_bottom_gray width="89%" align=left>
                                <select name="type" class="selectbox">
                                    <notempty name="cityType">
                                        <volist name="cityType" id="vo">
                                            <option value="{$vo.key}">{$vo.value}</option>
                                        </volist>
                                    </notempty>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="11%"></td>
                            <td height=60 width="50%" align=center>
                                <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                                <input class="button_save_black" name="add0" value="返回" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //下拉框回显
            var provinceId = '{$cityInfo.province_id}';
            if(provinceId){
                $('[name=province_id]').val(provinceId);
            }
            var type = '{$cityInfo.type}';
            if(type){
                $('[name=type]').val(type);
            }
            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();
                var cityId = '{$cityInfo.id}';
                if(cityId){
                    postData.cityId = cityId;
                }
                $.post(ACTION,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        location.href = CONTROLLER + '/cityEdit';
                    });
                },'JSON');
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = CONTROLLER + '/cityManage';
            });
        });
    </script>
</block>