<extend name="Public:base" />

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('City/cityManage')}" class="current"><span>管理</span></a></li>
                    <li><a href="{:U('City/cityEdit')}"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <form id="form1">
                <table class="search-form search_product_type">
                    <tbody>
                        <tr>
                            <th>城市名：</th>
                            <td class="w160">
                                <input class="text product_management_name" type="text" name="keyword" value="">
                            </td>
                            <td class="w70 tc">
                                <label class="submit-border">
                                    <input type="button" id="searchCity" class="submit product_search_btn" value="搜索">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="content" id="cityList"></div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='PUBLIC_ADMIN_IMG/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        //列表
        function getPage(currentPage) {
            $("#cityList").html($('#loading').html());
            var url = CONTROLLER+'/cityList';
            var postData = $('#form1').serializeObject();
            postData.p = currentPage ? currentPage : 1;
            postData.pageSize = 10;
            $.get(url, postData , function(data){
                $('#cityList').html(data);
            });
        }

        $(function () {
            //加载第一页
            getPage();

            //翻页
            $('body').on('click','.pager a',function(){
                getPage($(this).data('page'));
            });

            //搜索
            $('#searchCity').click(function(){
                getPage();
            });

            //编辑
            $('body').on('click','.editCity',function(){
                var _thisTr = $(this).parents('tr');
                var url =  CONTROLLER + '/cityEdit/cityId/' + _thisTr.data('id');
                location.href = url;
            });

            //删除
            $('body').on('click','.delCity',function(){
                var _thisTr = $(this).parents('tr');
                var postData = {};
                postData.cityId = _thisTr.data('id');
                var url =  CONTROLLER + '/delCity';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function(){
                        _thisTr.remove();
                    });
                });
            });

            //批量删除
            $('body').on('click','.batchDel',function(){
            });
        });
    </script>
</block>