{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray">
                <span class="l">
                    <a href="javascript:void(0);" class="add btn btn-primary radius" data-id="60" title="商品" id="title">
                    <i class="Hui-iconfont"></i> 添加商品</a>
                </span>
            <!-- 先不要 -->
            <!--  <span class="r">共有数据：<strong id="count">4</strong> 条</span>-->
        </div>
        <div class="main-content mt-20" id="mainContent">
            <div class="navbar-default mb-20">
                <form id="form1" >
                    <div class="form-group">
                        {include file="goods_category/linkage_tpl" /}
                    </div>
                    <div class="form-group">
                        <select name="belong_to" class="form-control">
                            <option value="" selected="selected">归属</option>
                            {foreach $Think.config.custom.belong_to as $k => $vo}
                            <option value="{$k}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="shelf_status" class="form-control">
                            <option value="" selected="selected">上下架</option>
                            <option value="3">上架</option>
                            <option value="1">下架</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">关键词</label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="keyword" value="" placeholder="搜索词"  class="form-control input-order-id">
                        </div>
                    </div>
                    <!--排序规则-->
                    <input type="button" id="searchGoods" class="btn btn-primary" value="搜索"><i class="fa fa-search"></i>
                    <input type="hidden" name="pageType" value="manage"/>
                </form>
            </div>
            <div class="content" id="list"></div>
        </div>

    </div>
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>
{/block}
{block name="script"}
    <script type="text/javascript" src="index_admin_js/categoryLinkage.js"></script>
    <script type="text/javascript" src="index_admin_js/commonCrud.js"></script>
    <script type="text/javascript">
        $(function () {
            //加载第一页
            var config = {
                url:controller+'getList'
            };
            var getData = $('#form1').serializeObject();

            getPagingList(config,getData);
            //分类筛选
            $('body').on('change','[name=category_id_1],[name=category_id_2],[name=category_id_3]',function () {
                var getData = $('#form1').serializeObject();
                getPagingList(config,getData);
            });
            //翻页
            $('body').on('click','.pager2',function(){
                var curIndex= $(this).parents('ul.pagination').find('li.active span').text();
                var selectedPage=$(this).data('page');
                if(selectedPage=='»'){
                    curIndex++;
                    selectedPage=curIndex;
                }
                if(selectedPage=='«'){
                    curIndex--;
                    selectedPage=curIndex;
                }
                config.currentPage = selectedPage;

                var getData = $('#form1').serializeObject();
                getPagingList(config,getData);
            });
            //搜索
            $('#searchGoods').click(function(){
                config.currentPage = 0;
                var getData = $('#form1').serializeObject();
                getData.pageType = 'manage';
                getPagingList(config,getData);
            });
            // 预览
            $('body').on('click','.preview',function(){
                var _thisTr = $(this).parents('tr');
                var url =  controller + 'preview/id/' + _thisTr.data('id');
                location.href = url;
            });

            ////设置为精选
            $('body').on('click','.set_selection',function(){
                var _this = $(this);
                var text = _this.text();
                var is_selection = _this.data('is-selection');
                var _thisTr = $(this).parents('tr');
                var postData ={};
                postData.id = _thisTr.data('id');
                postData.is_selection = is_selection;
                var url =  controller + 'setInfo';

                _this.addClass("nodisabled");//防止重复提交
                layer.open({
                    btn: ['确定','取消'],//按钮
                    content:"是否"+text+'?',
                    yes:function (index) {
                        $.post(url,postData,function(msg){
                            _this.removeClass("nodisabled");
                            dialog.msg(msg,'',function(){
                                if(is_selection == 1){
                                    _thisTr.find('.is-selection').text('精选');
                                    _this.text('取消为精选');
                                    _this.data('is-selection',0);
                                }else{
                                    _thisTr.find('.is-selection').text('不为精选');
                                    _this.text('设置为精选');
                                    _this.data('is-selection',1);
                                }
                            });
                        });
                        layer.close(index);
                    }
                });
            });

            //添加推荐商品
            $('body').on('click','.addRecommendGoods',function(){
                var _thisTr = $(this).parents('tr');
                var url =  controller + 'addRecommendGoods/id/' + _thisTr.data('id');
                location.href = url;
            });

            //查看二维码图片
            $('body').on('click','.ckQRcode',function(){
                var imgSrc = $(this).data('img-src');
                if(imgSrc == 'null'){
                    dialog.error('没有生成二维码图片');
                }
                imgSrc=uploads+imgSrc;
                layer.open({
                    content:'<img src='+imgSrc+' />',
                })
            });
            //生成二维码图片
            $('body').on('click','.generateQRcode',function(){
                var _this = $(this);
                var _thisTr = $(this).parents('tr');
                var postData = {};
                var id =  _thisTr.data('id');
                ids = [];
                ids.push(id);
                postData.ids = ids;
                var url =  controller + 'generateGoodsQRcode';
                _this.addClass("nodisabled");//防止重复提交
                $.post(url,postData,function(msg){
                    _this.removeClass("nodisabled");//防止重复提交
                    if(msg.status){
                        var imgSrc=uploads+msg.info;
                        _this.siblings('.ckQRcode').data('img-src',msg.info);
                        layer.open({
                            content:'<img src='+imgSrc+' />',
                        })
                    }else{
                        dialog.error(msg.info);
                    }
                });

            });

            //批量生成二维码图片
            $('body').on('click','.batchCreateQRcode',function(){
                var _this = $(this);
                _this.addClass("disabled");//防止重复提交
                var postData = {};
                ids = [];
                $("input[name='checkbox']").each(function(){
                    var _thisTr = $(this).parents('tr');
                    if($(this).is(':checked')){
                        ids.push(_thisTr.data('id'));
                    }
                });
                postData.ids= ids;
                var url =  controller + 'generateGoodsQRcode';
                if(ids.length==0){
                    layer.tips('你还没有选择任何内容！','.btn',{
                        tips:[4,'#0d7eff'],
                        time:1500
                    });
                    return false;
                }else{
                    layer.confirm('是否批量生成？', {
                        btn: ['确定','取消'],//按钮
                        yes:function (index) {

                            $.post(url,postData,function(msg){
                                _this.removeClass("nodisabled");//防止重复提交
                                if(msg.status){
                                    dialog.success(msg.info,flushPage())
                                }else {
                                    dialog.error(msg.info);
                                }
                            });
                            layer.close(index);
                        }
                    })
                }
            });


        });
    </script>
{/block}