{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <section style="display: none" class="tpl_list">
        <li data-goods-id="">
            <a href="javascript:void(0);" class="close-btn">X</a>           
            <!--<div>
                <img src="" alt="" class="left">
                <p class="goods_name">aaabbb</p>
            </div>-->
        </li>
    </section>
    <section class="recommendGoods_content">
        <!--推荐产品容器-->
        <div id="recommendGoods">
            <ul class="selected_goods_list" id="selected_list">

            </ul>
            <div class="error_tipc"></div>
            <form name="form" id="form1">
                <input type="hidden" name="pageType" value="layer"/>
                <div class="search_bar">
                    <span class="left">产品分类:</span>
                    {include file="goods_category/linkage_tpl" /}
                    <input type="text" class="search-goods keyword" name="keyword"  placeholder="搜索产品">
                    <input type="button" value="搜索" class="layer-search-btn search" id="search">
                </div>
            </form>
            <div class="add_layer_content">
                <div class="scroller-container list" id="list">

                </div>
            </div>
        </div>
    </section>
    
    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='index_admin_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>
{/block}

{block name="script"}
<script type="text/javascript" src="api_common_js/admin/categoryLinkage.js"></script>
    <script type="text/javascript">
        $(function () {
            //加载第一页
            var config = {
                url:module+'goods/getList'
            };
            search();
            //分类筛选
            $('body').on('change','[name=category_id_1],[name=category_id_2],[name=category_id_3]',function () {
                getList();
            });
            //翻页
            $('body').on('click','.pager2',function(){
                config.currentPage = $(this).data('page');
                search();
            });

            // 搜索 STATUS
            $('#search').click(function () {
                search();
            });
            $('.keyword').bind('keypress', function () {
                if (event.keyCode == "13") {
                    search();
                    return false;
                }
            });

            function search(){
                var getData = $('#form1').serializeObject();
                //var ids  = $(window.parent.document).contents().find('input[name="ids"]').val();
                var ids = $(window.parent.document).contents().find("input[name='goods_id']").map(function(){return this.value;}).get().join(",");
                if(ids){
                    getData.ids = ids;
                }
                getPagingList(config,getData);
            }
            // 搜索 END

            // 选择商品
            $('body').on('click','.add-goods',function(){
                var selectedGoodsIds = [];
                $('#selected_list li').each(function(){
                    var selectedGoodsId = $(this).data('goods-id');
                    selectedGoodsIds.push(selectedGoodsId);
                });

                var _this=$(this);
                var goodsId=_this.parents('tr').data('goods-id');
                if($.inArray(goodsId, selectedGoodsIds) !== -1){

                    _this.find('a').addClass('label');
                    layer.msg('此商品已选择过 !');
                    return false;
                }

                var goodsImgSrc= _this.parents('tr').find('img').attr('src');
                var goodsName  = _this.parents('tr').find('.goods_name').html();
                var num        = parseInt(_this.parents('tr').find("input[name='goods_num']").val());
                var shortName  = goodsName.substr(0,20) + '...' ;
                var html =
                        ' <li data-goods-id="'+goodsId+'"><a href="javascript:void(0);" class="close-btn">X</a> <div>'+
                        '<img src="'+goodsImgSrc+'" alt="" class="left">'+
                        '<span class="goods_name" title="'+goodsName+'">'+shortName+'</span>'+
                        '<span>X</span>'+
                        '<span class="goods_num">'+num+'</span>'+
                        '</div> </li>';

                $('.selected_goods_list').append(html);
                _this.find('a').addClass('label');
            });
            //移除商品
            $('body').on('click','.close-btn',function(){
                var _this=$(this);
                var id=_this.parents('li').data('goods-id');
                $.each($('.list li'),function(){
                    var _This=$(this);
                    if(_This.data('id')==id){
                        _This.removeClass('current');
                    }
                });

                $('tbody').find('tr[data-goods-id="'+id+'"]').find('.add-goods a').removeClass('label');

                _this.parent().remove();
            });
        });
    </script>
    <style>
        .selected_goods_list li{
            display: flex;
            align-items: center;
            width: 100px;
        }
         .list_item img, .selected_goods_list img{
            min-width: 100%;
            display: block;
        }
        .list_item img, .selected_goods_list .goods_num{
          float: right; 
        }
        </style>
{/block}
