.foot_nav_bar a span.f_icon{
    background-image: url(../../common/img/icons/public_bottom_icons.png);
}
.foot_nav_bar .current a span.cart{
    background-position:-0.02rem -4.26rem;
}
.customer_list_wrapper{
    padding:0 0.10rem;
    height:1rem;
    background:#fff;
    overflow:hidden;
}

.customer_item span{
    font-size:0.20rem;
}
.count_down_box{
    width:1rem;
    margin:0 auto;
    text-align: center;
}
.friday_end{
    text-align: center;
}
.mid_module_left img{
    max-width:88%;
}

.mid_module_right .d-r{
    margin:0 0 0 0.8rem;
} 
.goods_list li{
    border:none;
}
.scene_wrapper{
    margin:0.12rem 0 0;
}
nav .back_prev_page{
    background-image:none;
    color:#fff;
    top:0.1rem;
    font-size:0.35rem;
}
.news_list_wrapper{
    padding:0 .55rem 0 1.3rem;
}
.scroll_news .news_tit{
    top:.13rem;
}
.close_layer_pop {
    position: absolute;
    left: 0;
    top: 0.06rem;
    width: 0.25rem;
    height: 0.5rem;
    display: block;
    margin-left: 5px;
    background: url(../../common/img/icons/layer_icon.png) no-repeat center;
    background-size: 3.5rem auto;
    background-position: 0 -32px;
}
.cart_goods_list li {
    padding: 0.25rem 0.15rem 0.25rem 0.15rem;
    border:none;
    border-bottom: 1px solid #d9d9d9;
    overflow: hidden;
}
/*加盟店家*/
.franchise_ul li{
    margin:0 0 0.15rem 0;
    border-radius:4px;
}
.franchise_ul li a{
    display: block;
    padding:0.15rem;
    color:#fff;
}
.franchise_ul li:nth-of-type(1){
    background: #3FA9F5;
}
.franchise_ul li:nth-of-type(2){
    background: #FF931E;
}
.franchise_ul li:nth-of-type(3){
    background: #C7AA53;
}
.franchise_ul li a::after{
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.franchise_ul span{
    display:inline-block;
    width:0.85rem;
    height:0.82rem;
    background-image:url(../../common/img/icons/apply-icons.png);
    background-repeat: no-repeat;
    background-size: 0.65rem 2.5rem;
    vertical-align: middle;
}
.franchise_ul span.zh{
    background-position:0 0.08rem;
}
.franchise_ul span.ck{
    background-position:0 -0.80rem;
}
.franchise_ul span.zc{
    background-position:0 -1.72rem;
}
.applay_p_item{
    height:118px;
    padding:0.15rem;
    background: #fff;
    border-radius:4px;
    color:#000;
    background-size:100% auto;
    margin:0 0 15px 0;
}
.gr{
    color:#009a3e;
}

.weui-flex-item .search_city{
    background:#fff url(../../common/img/search_city.png) no-repeat center 0;
    background-size:0.68rem auto;
}
.weui-flex-item.current .search_city{
    background:#fff url(../../common/img/search_s_city.png) no-repeat center 0;
    background-size:0.68rem auto;
}
.once-apply{
    background:#ff7aab;
}
.wy_list li .p_img,
.content_main li .p_img{
    display:block;
    width:auto;
}
.flex_item a span{
    background-image: url(../../common/img/icons/my_center_icons.png);
    background-size: 0.58rem 9.9rem;
}

.flex_item a span.notice{
    background-position:0 -1.9rem;
}

.flex_item a span.charge{
    background-position:0 -3.68rem;
}
.module-navigation .channel_nav, .top_radius{
    border-radius: 0;

}

.flex_item a span.brand{
    width:0.51rem;
    background-position:0 -7.3rem;
}

.flex_item a span.all{
    background-position:0 -7.93rem;
}
.flex_item a span.pur_wallet{
    background-position:0 -8.52rem;
}
.flex_item a span.s_wallet{
    background-position:0 -9.2rem;
}
.detail-nav li.current a{
    color:#ff7aab;
}
.floor_item.project-list{
    padding:0;
}
.floor_item.project-list li{
    border-bottom:6px solid #f2f2f2;
}
.floor_item.project-list li:last-child{
    border-bottom:none;
}
.scroll-menu.top-fixed{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:100;
}
.nav_menu{
    padding:0.6rem 0.6rem 0.6rem 2rem;
    background: #fff;
    border-bottom:8px solid #f2f2f2;
}
.nav_menu li a {
     color:#333;
     font-size:14px;
}
.nav_menu li.current a{
    color:hotpink;
}
.nav_menu li.current a:before{
    background-color:hotpink;
}
.activity_bottom_nav{
    height:40px;
    line-height: 40px;
}
.group_cart_nav .activity{
    width:100%;
    background: #E40012;
    color:#fff;
}
.content-padding{
    padding:15px;
}
.new-retail-wrapper{
    padding-bottom:2rem;
}
.cart_goods_list {
    padding: 0 0 1rem 0;
}
.weiya_item a{
    color:#0066cc;
}
.weiya_item .head{
    margin:0 0 12px 0;
    overflow:hidden;
}
.weiya_item .head img{
    width:15%;
}
.head .h-r{
    margin:0 0 0 58px;
}
.weiya_map{
    height:5.5rem;
}
.activityLayer .input-filed{
    
    margin:0 0 12px 0;
}
.activityLayer .input-filed input{
    width:100%;
}
.activityLayer .layui-m-layercont{
    padding:15px;
}
#activity-menu ul.detail-nav{
    width:auto;
    padding-left:0.55rem;
}
.switch-item.nodisabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
/*城市合伙人*/
.cy-head span.cy-icon{
    display: inline-block;
    width: 0.30rem;
    height: 0.30rem;
    background: url(../../common/img/icons/city_partner_icon.png);
    background-repeat: no-repeat;
    background-size: 0.30rem auto;
    vertical-align: middle;
}
.cash_coupon_wapper{
    background: #f2f2f2;
}
.cash_coupon{
    padding:0.15rem 0;
    overflow:hidden;
}
.cash_coupon a{
    width:50%;
    float:left;
    text-align: center;
}
.cash_coupon a.current{
    color:#EC77A3;
}
.cash_coupon_item{
    margin:0 0.15rem 0 0.15rem;
}
.cash_coupon_item.hide{
    display:none;
}
.cash_coupon_item .big{
    font-size:0.40rem;
}
.cash_coupon_item .item{
    display: block;
}
.cash_coupon_item li{
    padding:0.20rem;
    margin:0 0 0.25rem 0;
    background: #C7AA53;
    color:#fff;
    border-radius:4px;
}
.wallet_item{
    background: #fff;
    margin:0 0.15rem 0 0.15rem;
}
.text_center{
    text-align: center;
    color:#0066cc;
}
.cash_coupon_item li div{
    width:50%;
    text-align:center;
}
.cash_coupon_item .receive{
    padding:0.02rem 0.12rem;
    background: #fff;
    color:#C7AA53;
}
.wallet_balance{
    color:#C7AA53;
    border-bottom:1px solid #d9d9d9;
}
.wallet_balance span{
    font-size:0.30rem;
}
.record_top_item{
    padding:0 0 0.15rem 0;
    border-bottom:1px solid #d9d9d9;
}
.record_top_item span{
    width:25%;
    display:block;
    text-align:center;
}
.record_item li{
    padding:0 0 0.15rem 0;
    border-bottom:1px solid #d9d9d9;
}
.record_item li span{
    width:25%;
    text-align:center;
}
.record_item .audited{
    color:#EB6100;
}

.bank_transfer_item{
    border:1px solid #d9d9d9;
}
.express-area .select-value{
    width:76%;
}
/*会员预登记*/
.memberRegTpl .step{
    background: #00A0E9;
}
.weui-flex-item .base_add {
    background: #fff url(../../common/img/base_add.png) no-repeat center 0;
    background-size: 40px auto;
}
.weui-flex-item.current .base_add {
    background: #fff url(../../common/img/base_f_add.png) no-repeat center 0;
    background-size: 40px auto;
}