<!--添加收货人信息-->
<section class="section-address bg-eae pt-5" style="display:none;">
    <form action='#' method="post" class="bg-fff address_form">
        <input type="hidden" class="" name="address_id" value="" />
        <div class="form-group box-flex clearfixed">
            <label class="form-label">收件人：</label>
            <input type="text" name="consignee" class="input-flex recipient_name " placeholder="请输入姓名" value="">
        </div>
        <div class="form-group box-flex clearfixed">
            <label class="form-label">联系电话：</label>
            <input type="text" name="mobile" class="input-flex recipient_mobile" placeholder="请输入收件人电话" value="">
        </div>
        <div class="express-area ">
            <a id="expressArea" href="javascript:void(0)" class="f24 form-group box-flex">
                <label class="form-label">选择地区：</label>
                {empty name="address"}
                <div class="area_address">省 &gt; 市 &gt; 区/县</div>
                {else /}
                <div class="area_address"></div>
                {/empty}
                <input type="hidden" class="district_address" value="">
            </a>
        </div>
        <div class="form-group box-flex">
            <label class="form-label">详细地址：</label>
            <input type="text" name="detail_address" class="input-flex recipient_detail_address" placeholder="请填写详细地址" value="">
        </div>
        <div class="set_default_item f24">
            <div>
                <span>设为默认地址</span>
                <p>注：每次下单时会使用该地址</p>
            </div>
            <div class="myswitch"  data-off="0"></div>
        </div>
    </form>
</section>