<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>
<block name="nav">主题采购</block>
<block name="content">
    <section class=''>
        <notempty name="firstThemeInfo.img">
        <div class="water_light_banner">
            <img src="__ROOT__/Uploads/{$firstThemeInfo.img}" />
        </div>
        <else/>
        <div class='loading f24'>没有符合条件的记录！</div>
        </notempty>
    </section>
    <section class="f24 ex_gratia_intro">
        <dl>
            <dt>【主题采购】：</dt>
            <dd>{$firstThemeInfo.intro}</dd>
        </dl>
    </section>
    <div class="special_package_wrapper">
        <notempty name="secondThemeList">
            <ul>
                <volist name="secondThemeList" id="vo">
                    <li>
                        <a href="{:U('ThemePurchase/themePurchaseInfo',array('themeId' =>$vo['id']))}" class="">
                            <img src="__ROOT__/Uploads/{$vo.theme_img}" alt="">
                        </a>
                    </li>
                </volist>
            </ul>
            <else/>
            <div class='loading f24' >没有符合条件的记录！</div>
        </notempty>
    </div>
</block>
<block name="js-customize">
</block>
<block name="script">

</block>