<extend name="Public:base" />

<block name="title">美尚云</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/purchase/mall.css">
</block>
<block name="nav">主题采购</block>
<block name="content">
    <section>
        <div class="project_technology_banner">
            <img src="__ROOT__/Uploads/{$secondThemeInfo.theme_img}" alt="">
        </div>
    </section>
    <nav class="f28 beauty_classification_nav">
        <div class="beauty_menu">
            <ul class="beauty_classification">
                <li class="current">项目产品</li>
                <li>技术原理</li>
                <li>项目培训</li>
            </ul>
        </div>
    </nav>

    <div class="beauty_contents">
        <div class="contents-tablist clearfix">
            <div class="contents-tablist-wrap fl active">
                <div class="commodity_category commodity_category_s">
                    <span class="project_products_title f24">项目产品</span>
                    <notempty name='goodsList'>
                    <ul>
                        <volist name="goodsList" id="vo">
                        <li data-num="">
                            <a href="{:U('Goods/goodsInfo',array('id'=> $vo['id']))}">
                                <div class="goods_img">
                                    <img src="__ROOT__/Uploads/{$vo.first_img}" alt="" class="c_img">
                                </div>
                            <p class="f24 commodity_name">{$vo.name}</p>
                            </a>
                            <div class="commodity_price f24">
                                    <span class="price">￥{$vo.price}</span>
                                <a href="javascript:void(0);" class="shopping_cart">购物车</a>
                                <input type="hidden" class="goodsId" value="{$vo.id}">
                            </div>

                        </li>
                        </volist>
                    </ul>
                        <else/>
                        <div class='loading f24'>没有符合条件的记录！</div>
                    </notempty>
                </div>
                <div class="commodity_category commodity_category_s">
                    <span class="project_products_title f24">仪器耗材</span>
                    <notempty name='instrumentList'>
                    <ul>
                        <volist name="instrumentList" id="vo">
                        <li data-num="">
                            <a href="{:U('Goods/goodsInfo',array('id'=> $vo['id']))}">
                             <div class="goods_img">
                                <img src="__ROOT__/Uploads/{$vo.first_img}" alt="" class="c_img">
                             </div>
                            <p class="f24 commodity_name">{$vo.name}</p>
                            </a>
                            <div class="commodity_price f24">
                                    <span class="price">￥{$vo.price}</span>
                                <a href="javascript:void(0);" class="shopping_cart">购物车</a>
                                <input type="hidden" class="goodsId" value="{$vo.id}">
                            </div>

                        </li>
                        </volist>
                    </ul>
                        <else/>
                        <div class='loading f24'>没有符合条件的记录！</div>
                    </notempty>
                </div>
            </div>
            <div class="contents-tablist-wrap fl">
                <div  class="project_water_light">
                    <notempty name='theoryImg1'>
                     <volist name="theoryImg1" id="vo">
                    <p>
                        <img src="__ROOT__/Uploads/{$vo}" alt="">
                    </p>
                     </volist>
                        <else />
                        <div class='loading f24'>没有符合条件的记录！</div>
                    </notempty>
                    <div class="project_technology_vedio"></div>
                    <volist name="theoryImg2" id="vo">
                    <p>
                        <img src="__ROOT__/Uploads/{$vo}" alt="">
                    </p>
                    </volist>
                </div>
            </div>
            <div class="contents-tablist-wrap fl">
                <section>
                    <div class="theme_video">
                        <video src="/Uploads/{$secondThemeInfo.video}"  controls="controls" style="width:100%;"></video>
                    </div>
                    <div class="f24 theme_video_title">
                        <p>纳晶水光培训视频</p>
                        <span></span>
                    </div>
                </section>
                <section class="relevant_video_item">
                <div class="f24 r_v_title">
                    <span></span>相关视频
                </div>
                <ul class="relevant_video_list">
                    <li>
                        <div class="r_v_t">
                            <video controls="controls" poster="__PUBLIC__/images/purchase/mall/bj.png" src="/Uploads/{$secondThemeInfo.video}" width="100%" height="100%" ></video>
                        </div>
                        <div class="f24 r_v_n">
                            <p class="v_n">相关视频名称名称</p>
                            <p class="v_t">2014-7-3 17:41</p>
                        </div> 
                    </li>
                    <li>
                        <div class="r_v_t">
                            <video controls="controls" poster="__PUBLIC__/images/purchase/mall/bj.png" src="/Uploads/{$secondThemeInfo.video}" width="100%" height="100%" ></video>
                        </div>
                        <div class="f24 r_v_n">
                            <p class="v_n">相关视频名称名称</p>
                            <p class="v_t">2017-7-3 17:41</p>
                        </div> 
                    </li>
                </ul>
            </section>
            </div>
        </div>
    </div>

    <footer class="f24 shopping_cart_nav">
        <div class="shopping_cart_l">
            <input type="hidden" class="cartIds" value="{$cartIds}">
            <a href="{:U('Cart/myCart')}" class="shop_cart"><i class="commodity_quantity">{$cartInfo.count}</i></a>
            <div class="s_total_price">
                <span class="total_price">{$cartInfo.total}</span>
                <!--<del class="original_price">￥35</del>-->
            </div>
        </div>
        <a href="{:U('Order/addOrder',array('cartIds' =>$cartIds))}" class="payment"><i class="collect"></i>去结算</a>
    </footer>
</block>
<block name="js-customize">
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){

            var tabLength=$('.contents-tablist-wrap').length;
            //var oLiWidth=$('.beauty_classification li').width();
            var oLiLength=$('.beauty_classification li').length;
            var wWidth=$(window).width();
            var wHeight=$(window).height();
            var bMenuWidth=$('.beauty_menu').width();
            var bNavWidth=$('.beauty_classification_nav').width();

            $('.contents-tablist').css({
                'width':wWidth*tabLength+'px'
            });
            $.each($('.contents-tablist-wrap'),function(i,val){
                $(this).css({
                    'width':wWidth+'px',
                    // 'height':wHeight+'px',
                    'minHeight':wHeight+'px'
                })
            });
            var tabHeight=$('.contents-tablist-wrap').eq(0).height();
            $('.beauty_contents').css({'height':tabHeight+'px'});
            //点击滑动
            $('.beauty_classification li').on('click',function(){
                var _this=$(this).index();
                var tabLeftW=_this*wWidth;
                oLiWidth=$(this).width();

                $(this).addClass('current').siblings().removeClass('current');
                $('.contents-tablist').css({
                    'width':wWidth*tabLength+'px',
                    'transition-duration': '0.5s',
                    'transform':'translate3d(-'+tabLeftW+'px,0,0)'
                });
                var tabHeight=$('.contents-tablist-wrap').eq(_this).height();
                $('.beauty_contents').css({'height':tabHeight+'px'});
                $('.contents-tablist-wrap').eq(_this).addClass('active').siblings().removeClass('active');
                var bAverageWidth = ($(".beauty_classification_nav").width() - oLiWidth) / 2;
                var mLeftValue;
                var oLiCLeft = parseInt($(this).position().left);
                if (oLiCLeft <= bAverageWidth) {
                    mLeftValue = 0;
                } else if (bAverageWidth - oLiCLeft <= bNavWidth - bMenuWidth) {
                    mLeftValue = bNavWidth - bMenuWidth;
                } else {
                    mLeftValue = bAverageWidth - oLiCLeft;
                }
                $(".beauty_menu").animate({
                    "left" : mLeftValue
                }, 300);
            });

            //滑动
            $(".beauty_menu").on('touchstart', function (e) {
                var touch1 = e.originalEvent.targetTouches[0];
                x1 = touch1.pageX;
                y1 = touch1.pageY;
                bm_left = parseInt($(this).css("left"));
            });
            $(".beauty_menu").on('touchmove', function (e) {
                e.preventDefault();
                var touch2 = e.originalEvent.targetTouches[0];
                var x2 = touch2.pageX;
                var y2 = touch2.pageY;
                if(bm_left + x2 - x1>=0){
                    $(this).css("left", 0);
                }else if(bm_left + x2 - x1<=bNavWidth-bMenuWidth){
                    $(this).css("left", bNavWidth-bMenuWidth);
                }else{
                    $(this).css("left", bm_left + x2 - x1);
                }
                if(Math.abs(y2-y1)!==0){
                    e.preventDefault();
                }
            });


            //加入购物车
            $('body').on('click','.shopping_cart',function() {
                var id = $(this).siblings('.goodsId').val();
                $.post(MODULE + '/Cart/addCart', {id: id}, function (msg) {
                    if(msg.status == 0){
                        dialog.confirm(msg.info,msg.url);
                    }
                    if (msg.status == -1) {

                        dialog.error(msg.info);
                    }
                    if (msg.status == 1) {
                        $('.commodity_quantity').text(msg.info.count);
                        $('.total_price').text('￥' + msg.info.total);
                    }
                }, 'json')
            });

        })
    </script>
</block>