{extend name="template/base_pc.html" /}
{block name="css-customize"}
<link type="text/css" rel="stylesheet" href="public_admin_common_css/fenlei.css" />
<link type="text/css" rel="stylesheet" href="public_admin_common_css/skin.css" />
{/block}
{block name="content"}
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:url('Project/manage')}" class="current"><span>管理</span></a></li>
                    <li><a href="{:url('Project/edit')}"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <form id="form1">
                <table class="search-form search_product_type">
                    <tbody>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                            <td class=dotted_bottom_gray width="58%" align=left>
                                {include file="goods_category/linkage_tpl" /}
                            </td>
                            <th>项目名称</th>
                            <td class="w160">
                                <input class="text product_management_name" type="text" name="keyword" value="">
                            </td>
                            <td class="w70 tc">
                                <label class="submit-border">
                                    <input type="button" id="searchProject" class="submit product_search_btn" value="搜索">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="content" id="projectList"></div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='public_admin_common_img/default/loading.gif' alt='loading'></div>
        </div>
    </div>
{/block}

{block name="script"}
    <script type="text/javascript" src="public_admin_common_js/categoryLinkage.js"></script>
    <script type="text/javascript">
        //商品列表
        function getPage(currentPage) {
            $("#projectList").html($('#loading').html());
            var url = controller+'/getList';
            var postData = $('#form1').serializeObject();
            postData.p = currentPage ? currentPage : 1;
            postData.pageSize = 10;

            $.get(url, postData , function(data){
                $('#projectList').html(data);
            });
        }

        $(function () {
            //加载第一页
            getPage();

            //搜索
            $('#searchProject').click(function(){
               getPage();
            });

            //编辑
            $('body').on('click','.editProject',function(){
                var _thisTr = $(this).parents('tr');
                var url =  controller + '/edit/projectId/' + _thisTr.data('id');
                location.href = url;
            });

            //删除
            $('body').on('click','.del',function(){
                var _thisTr = $(this).parents('tr');
                var postData = {};
                postData.id = _thisTr.data('id');
                var url =  controller + '/del';
                $.post(url,postData,function(msg){
                    dialog.ifmsg(msg,'',function(){
                        _thisTr.remove();
                    });
                });
            });

            //批量删除
            $('body').on('click','.batchDel',function(){
                var postData = {};
                ids = [];
                $("input[name='checkbox']").each(function(){
                    var _thisTr = $(this).parents('tr');
                    if($(this).is(':checked')){
                        ids.push(_thisTr.data('id'));
                    }
                });
                postData.ids= ids;
                var url =  controller + '/del';
                if(ids.length==0){
                    layer.tips('你还没有选择任何内容！','.btn',{
                        tips:[2,'#0d7eff'],
                        time:1500
                    });
                    return false;
                }else{
                    parent.layer.confirm('删除你选中的商品吗？', {
                        btn: ['确定','取消'],//按钮
                        yes:function (index) {
                            $.post(url,postData,function(msg){
                                dialog.ifmsg(msg,'',function () {
                                    $("input[name='checkbox']").each(function(){
                                        if($(this).is(':checked')){
                                            $(this).parents('.edit').remove();
                                        }
                                    })
                                });
                            });
                            parent.layer.close(index);
                        }
                    })
                }
            });
        });
    </script>
{/block}