{extend name="template/base_pc.html" /}

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/admin-css/myms/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/admin-css/myms/skin.css?v=1.0" />
</block>
<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('MymsProject/projectManage')}"><span>管理</span></a></li>
                    <li><a href="{:U('MymsProject/projectEdit')}"><span>编辑</span></a></li>
                    <li><a href="{:U('MymsProject/projectOnoffLine')}" class="current"><span>上下架</span></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="mainContent">
            <form id="form1">
                <table class="search-form search_product_type">
                    <tbody>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>所属分类：</td>
                        <td class=dotted_bottom_gray width="58%" align=left>
                            <include file="Public/categoryLinkage"/>
                        </td>
                        <th>商品名称</th>
                        <td class="w160">
                            <input class="text product_management_name" type="text" name="keyword" value="">
                        </td>
                        <td class="w70 tc">
                            <label class="submit-border">
                                <input type="button" id="search" class="submit product_search_btn" value="搜索">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <div class="content" id="projectList"></div>
        </div>
    </div>

    <!-- 隐藏区 -->
    <div style="display:none">
        <div id="loading">
            <div class='loading'><img src='__PUBLIC__/admin-img/common/default/loading.gif' alt='loading'></div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/admin-js/common/categoryLinkage.js"></script>
    <script type="text/javascript">
        //商品列表
        function getPage(currentPage) {
            $("#projectList").html($('#loading').html());
            var url = CONTROLLER+'/projectOnoffLineList';
            var postData = $('#form1').serializeObject();
            postData.p = currentPage ? currentPage : 1;
            postData.pageSize = 10;

            $.get(url, postData , function(data){
                $('#projectList').html(data);
            });
        }

        $(function () {
            //加载第一页
            getPage();

            //翻页
            $('body').on('click','.pager a',function(){
                getPage($(this).data('page'));
            });

            //搜索
            $('#search').click(function(){
                getPage();
            });

            //上架
            $('body').on('click','.online',function(){
                var _thisTr = $(this).parents('tr');
                if(_thisTr.data('online') ==1){
                    return false;
                }
                var postData = {};
                postData.projectId = _thisTr.data('id');
                postData.on_off_line = 1;

                var url =  CONTROLLER + '/projectEdit';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function(){
                        _thisTr.find('.onOff').addClass('up').html('已上架');
                        _thisTr.data('online',1)
                    });
                });
            });

            //下架
            $('body').on('click','.offline',function(){
                var _thisTr = $(this).parents('tr');
                if(_thisTr.data('online') ==2){
                    return false;
                }
                var postData = {};
                postData.projectId = _thisTr.data('id');
                postData.on_off_line = 2;

                var url =  CONTROLLER + '/projectEdit';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function(){
                        _thisTr.find('.onOff').removeClass('up').html('已下架');
                        _thisTr.data('online',2)
                    });
                });
            });

            //批量删除
            $('body').on('click','.batchDel',function(){
            });
        });
    </script>
</block>