<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>推广收益</title>
    <link rel="stylesheet" href="PUBLIC_CSS/common/public.css">
	<link rel="stylesheet" href="PUBLIC_CSS/common/weui.css">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
    <link rel="stylesheet" href="PUBLIC_JS/common/layer.mobile/need/layer.css">
</head>
<body>
<article class=" f24">
    <section class="promotion_income_top">
        <div>可用于提现的余额为<span>￥</span><price>9000.00</price></div>
    </section>
    <section class="promotion_income_top withdrawals_module">
        <div class="withdrawals_item">
            <span class="w_t">提现金额</span>
            <input type="text" class="amount_money" placeholder="填写金额"/>
        </div>
        <div class="withdrawals_item">
            <span class="w_t">转入卡户名</span>
            <input type="text" class="card_name" placeholder="填写户名"/>
        </div>
        <div class="withdrawals_item">
            <span class="w_t">转入卡号码</span>
            <input type="text" class="card_number" placeholder="填写卡号"/>
        </div>
        <div class="withdrawals_item">
            <span class="w_t">转入银行卡</span>
            <input type="text" class="card_bank" placeholder="填写银行名称"/>
        </div>
        <p>提醒：输入金额不得超出收益账户余额；请仔细核对提现
卡号，平台按用户提供的卡号账户办理提现转账，如因提
供的卡号有误出现的汇错账户责任由用户自行承担</p>
    </section>
    <a class="submissionCash">提交提现申请</a>
</article>

<script src="PUBLIC_JS/common/jquery-1.11.3.min.js"></script>
<script src="PUBLIC_JS/common/layer.mobile/layer.js"></script>
<script src="PUBLIC_JS/common/public.js"></script>
<script src="PUBLIC_JS/common/common.js"></script>
<script src="PUBLIC_JS/common/dialog.js"></script>
<script type="text/javascript">
    $(function(){
        $('body').on('click','.submissionCash',function(){
            var amountMoney=$('.amount_money').val();
            var cardNmae=$('.card_name').val();
            var cardNumber=$('.card_number').val().replace(/\s+/g, "");
            var cardBank=$('.card_bank').val();
            var content='';
                if(!isMoney(amountMoney)){
                    content='请输入正确的金额';
                }else if(!cardNmae){
                    content='请输入正确的卡户名';
                }else if(!verifyBankCard(cardNumber)){
                    content='请输入正确的银行卡号码';
                }else if(!cardBank){
                    content='请输入正确的卡银行名称';
                }

                if(content){
                    dialog.error(content);
                    return false;
                }
            layer.open({
                content:'提现申请已递交<br/>7个工作日内审核办理',
                btn:'确定'
            })
        })
    });
</script>
</body>
</html>