<extend name="Public:base" />
<block name="title">微信转账</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="transfer-accounts-box f24">
        <section class="purchase_order_success">
            <div class="transfer_accounts_content">
                <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="">
                <p>向{$Think.config.RECEIVING_UNIT}转账</p>
                <div class="transfer_amount">￥<price>{$orderInfo.actually_amount}</price></div>
            </div>
            <a href="javascript:void(0);" class="order_cofirm_btn dark_green transfer_accounts">转账</a>
        </section>
    </article>
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/common/wxPay.js"></script>
    <script type="text/javascript">
        $(function(){
            var wHeight = $(window).height();
            $('.transfer-accounts-box').css('height',wHeight+'px');

            //离开确认
            $('.back').click(function(){
                layer.open({
                    title: [
                        '你确定离开支付？',
                        'background-color:#8DCE16; color:#fff;'
                    ]
                    ,content: '你的订单在24小时内不进行支付将取消，请尽快支付'
                    ,btn: ['确定离开', '继续支付']
                    ,yes: function(index){
                        history.go(-1);
                        layer.close(index);
                    }
                });
            });

            //转账
            $('body').on('click','.transfer_accounts',function(){
                var data = {$data};
                callPay(data);
            });
        });
    </script>
</block>



