<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>

<block name="nav">购物车管理</block>

<block name="content">
    <div id="shoppingCartList" class="f24">
        <div class="shoppingCart_form">
            <notempty name="cartList">
            <a href="javascript:void(0);" class="empty_cart"><i></i>清空购物车</a>
            <ul class="shopping_cart_list">
                <volist name="cartList" id="vo">
                <li  data-foreignid="{$vo.foreign_id}" data-type="{$vo.type}">
                    <input type="checkbox" class="single_select" checked="">
                    <if condition="$vo['goods_type'] eq 1">
                        <a href="{:U('Goods/goodsInfo',array('goodsId'=> $vo['id']))}" class="shoppingcart_product_img">
                            <notempty name="vo.main_img">
                                <img src="__ROOT__/Uploads/{$vo.main_img}" alt="" class="shopping_cart_img">
                                <else />
                                <img src="PUBLIC_IMG/home/default/goods_default.png" alt="" class="shopping_cart_img">
                            </notempty>
                        </a>
                        <span class="shop_product_name">{$vo.name}</span>
                        <if condition="$vo['buy_type'] eq 1">
                            <span class="shop_product_price">￥{$vo.discount_price}</span>
                        </if>
                        <if condition="$vo['buy_type'] eq 2">
                            <span class="shop_product_price">￥{$vo.special_price}</span>
                        </if>
                        <if condition="$vo['buy_type'] eq 3">
                            <span class="shop_product_price">￥{$vo.group_price}</span>
                        </if>

                    </if>
                    <if condition="$vo['goods_type'] eq 2">
                        <a href="{:U('Project/projectInfo',array('goodsId'=> $vo['id']))}" class="shoppingcart_product_img">
                            <notempty name="vo.img">
                                <img src="__ROOT__/Uploads/{$vo.main_img}" alt="" class="shopping_cart_img">
                                <else />
                                <img src="PUBLIC_IMG/home/default/goods_default.png" alt="" class="shopping_cart_img">
                            </notempty>
                        </a>
                        <span class="shop_product_name">{$vo.name}</span>
                        <span class="shop_product_price">￥{$vo.price}</span>
                    </if>

                    <div class="shop_product_num">
                        <input type="hidden" value="{$vo.id}" class="goodsId">
                        <a href="javascript:void(0);" class="reduce">-</a>
                        <input type="text" value="{$vo.num}" class="shopping_count cart_count">
                        <a href="javascript:void(0);" class="plus">+</a>
                    </div>
                    <div class="edit_goods_type">
                        <a href="javascript:void(0);">关注</a>
                        <a href="javascript:void(0);" class="edit_delete">删除</a>
                        <a href="javascript:void(0);" class="edit_finish">完成</a>
                    </div>
                    <a href="javascript:void(0);" class="edit_goods">编辑</a>
                </li>
                </volist>
            </ul>
                <else/>
                <div class='loading f24'>暂无数据</div>
                <div class='loading f24'>超过7天未结算的商品会自动清除</div>
            </notempty>
        </div>
    </div>

</block>

<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
