<div id="areaMask" class="mask" data-show="0"></div>
<section id="areaLayer" class="express-area-box cart" >
    <div class="purchase_goods_module f24 goodsList">
        <ul class="goods_list">
            <li data-id="{$goodsInfo.id}" data-goods_type="{$goodsInfo.goods_type}">
                <input type="checkbox" checked="true" class="single_select" style="display: none;">
                <if condition="$goodsInfo.buy_type eq 3">
                    <div class="group_members_detail layer_group_members f24">
                        <div class="l_g_top">
                            <span></span>
                            <div>
                                <p>美妍美社.微团购</p>
                                <p>三人成团即亨特惠</p>
                            </div>
                        </div>
                        <div class="group_members">
                            <div class="group_m_list">
                                <empty name="userInfo">
                                    <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="">
                                    <else />
                                    <img src="{$userInfo.headimgurl}" alt="">
                                </empty>
                                <span>团长</span>
                            </div>
                            <div class="group_m_list">
                                <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="">
                                <span>团员</span>
                            </div>
                            <div class="group_m_list">
                                <img src="PUBLIC_IMG/common/default/wechat_header.png" alt="">
                                <span>团员</span>
                            </div>
                        </div>
                    </div>
                </if>
                <div class="purchase_goods_detail">
                    <notempty name="goodsInfo.main_img">
                        <img class="purchase_gs_img" src="UPLOADS_IMG/{$goodsInfo.main_img}" alt=""  />
                        <else />
                        <img class="purchase_gs_img" src="PUBLIC_IMG/common/default/purchase40_default.jpg" alt="">
                    </notempty>
                    <div class="purchase_gs_r concessional_rate">
                        <p>{$goodsInfo.name}</p>
                        <div>
                            <span class="real_price">￥<price>{$goodsInfo.real_price}</price></span>
                            <del>￥<price>{$goodsInfo.price}</price></del>
                        </div>                       
                    </div>
                </div>
                <div class="purchase_goods_detail">
                    <p>产品规格</p>
                    <p class="specification">{$goodsInfo.specification}</p>
                </div>
                <div class="purchase_goods_detail purchase_goods_num">
                    <span>购买数量</span>
                    <div class="quantity_wrapper">
                        <a href="javascript:void(0);" class="greduce">-</a>
                        <input type="text" value="1" class="f24 gshopping_count">
                        <a href="javascript:void(0);" class="gplus">+</a>
                    </div>
                </div>
                <a href="javascript:void(0);" class="closeBtn">X</a>
            </li>
        </ul>
    </div>
    <block name="footer">
        <include file="Cart/footerCartMenu" />
    </block>
</section>
