<extend name="Public:base" />

<block name="css-customize">
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/fenlei.css" />
    <link type="text/css" rel="stylesheet" href="PUBLIC_ADMIN_CSS/common/skin.css" />
</block>

<block name="content">
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base">
                    <li><a href="{:U('Province/provinceManage')}" ><span>管理</span></a></li>
                    <li><a href="{:U('Province/provinceEdit')}" class="current"><span>编辑</span></a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top:15px;">
            <form id="form1">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                        <tr>
                            <td class=dotted_bottom_gray height=40 width="11%" align=right><font color="#FF0000">*</font>省份名：</td>
                            <td class=dotted_bottom_gray width="40%" align=left>
                                <input style="width: 200px; " class="inputboxadmin" name="name" value="{$provinceInfo.name}">
                            </td>
                        </tr>
                        <tr>
                            <td width="11%"></td>
                            <td height=60 width="50%" align=center>
                                <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                                <input class="button_save_black" name="add0" value="返回" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //确定
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();
                var provinceId = '{$provinceInfo.id}';
                if(provinceId){
                    postData.provinceId = provinceId;
                }
                $.post(ACTION,postData,function(msg){
                    dialog.msg(msg,'',function () {
                        location.href = CONTROLLER + '/provinceEdit';
                    });
                },'JSON');
            });

            //返回
            $('.button_save_black').click(function(){
                location.href = CONTROLLER + '/provinceManage';
            });
        });
    </script>
</block>