{extend name="template/base.html" /}
{block name="css-customize"}
<link rel="stylesheet" href="store_css/main.css">{/block}
{block name="content"}
<article class="f24">
	<div class="top_header">
		<section class="specific_type store_deploy_nav">
			<div class="columns_flex f20 l-r-sides store_deploy_bar">
				<a href="{:url('manage')}">线上店铺店长管理</a>
				<a href="javascript:void(0);">020门店店长管理</a>
			</div>
		</section>
	</div>
	<section class="f24 account-content-wrapper">
		<div class="content-top content-mg-top">
			<div class="">
				<p>欢迎来到店长管理中心！</p>
				<p>美尚云平台支持美容机构多店铺/多门店运营管理。</p>
				<p>线上店铺店长管理：管理线上机构/品牌店铺运营部门的员工账号。</p>
				<p>O2O门店店长管理：管理O2O门店的员工账号、设置门店经营地
					址、收货人地址手机号码信息等。</p>
			</div>
		</div>
	</section>
</article>
{/block}
{block name="common"}{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript">
	$(function(){
	});
</script>
{/block}