{extend name="template/admin_pc/base.html" /}
{block name="content"}
    <div class="page">
        <div style="margin-top:15px;">
            <form id="form1">
                <input type="hidden" name="id" value="{$info.id}">
                <table id=table18 class="add_new_merchandise" border=0 cellspacing=1 width="100%" height=57>
                    <tbody>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right><span class="c-red">*</span>方案名称：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <div class= width="89%" align=left>
                                <textarea class="project_description" name="name" >{$info.name}</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>备注：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <div class= width="89%" align=left>
                                <textarea class="project_description" name="remark" >{$info.remark}</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>排序：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <input style="width: 100px; " class="inputboxadmin" name="sort" value="{$info.sort|default=0}">
                        </td>
                    </tr>
                    <tr>
                        <td class=dotted_bottom_gray height=40 width="11%" align=right>简介图：</td>
                        <td class=dotted_bottom_gray width="89%" align=left>
                            <p class="f20 picture-tipc-box"><span class="c-red">*</span>：图片格式为(jpg、jpeg、png、gif)</p>
                                <div class="upload-picture-module f24">
                                    <div>
                                        <div class="picture-module">
                                            <input type="file" class="uploadImg uploadSingleImg" name="">
                                             {empty name="info.thumb_img"}
                                            <img class="upload_img" src="">
                                            {else /}
                                            <img class="upload_img " src="public_uploads/{$info.thumb_img}" />
                                            {/empty}
                                            <input type="hidden" class="layer-thumbnail-picture img"  value="{$info.thumb_img}" name="thumb_img"/>
                                        </div>
                                    </div>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="11%"></td>
                        <td height=60 width="50%" align=center>
                            <a href='javascript:void(0);'><input class="button_save_black_4" value="确定" type="button"></a>
                            &nbsp;&nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{/block}

{block name="script"}
<script type="text/javascript" src="index_admin_js/uploadSingleImg.js"></script>
<script type="text/javascript">
        $(function(){
            //项目主图
   /*         main_img.ready(function() {
                main_img.setContent($('#mainImg').val());
            });*/

            // 提交信息
            $('.button_save_black_4').on('click',function(){
                var postData = $('#form1').serializeObject();

                if(!postData.name){
                    content='方案名称不能为空';
                    dialog.error(content);
                    return false;
                }

                var url = module +'Scheme/edit';
                $.post(url,postData,function(msg){
                    dialog.msg(msg,'',function () {

                        if(msg.status){
                            // 提交后关闭，然后刷新父窗口
                            layer.close(layer.index);
                            window.parent.location.reload();
                        }

                    });
                });
            });

        });
    </script>
{/block}