<notempty name="cartInfo">
    <footer class="f24 group_cart_nav">
        <div class="group_btn50 group_btn30 bfff">
            <span>￥50.00</span>
        </div>
        <a href="javascript:void(0);" class="bff6482 group_btn50">支付并发起闺蜜行</a>
        <!--<a href="javascript:void(0);" class="bff6482 group_btn100">将本页转发闺蜜好友</a>-->
        <a href="javascript:void(0);" class="group_btn30 bff1d25"><i class="collect"></i>立即购买</a>
    </footer>
    <div class="mcover">
        <img src="{$Think.config.PUBLIC_IMG}/common/weixin_share.png" alt="">
    </div>
    <script>
        $('body').on('click','.forward_weChat',function(){
                $('.mcover').show();
        });
        $('.weixinShare_btn').on('click',function(){
            $('.mcover').hide();
        })
    </script>
</notempty>


