<!--对话框列表模板-->
<section id="chatListTpl" style="display:none;">
    <li class="me">
        <div class="avatar">
            <img src="public_img/default/no_pic_40.jpg">
        </div>
        <div class="content">
            <p class="author">(小猫咪)</p>
            <div class="msg"></div>
        </div>
    </li>
</section><!--对话框列表模板-->
<section id="chatListOtherTpl" style="display:none;">
    <li class="others">
        <div class="avatar">
            <img src="public_img/default/no_pic_40.jpg">
        </div>
        <div class="content">
            <p class="author">(小猫咪)</p>
            <div class="msg"></div>
        </div>
    </li>
</section>
<!--对话框弹窗-->
<section id="chatLayerContainer" style="display:none;">
    <div class="ws_chatMsg-panel flex1">
        <div class="chatMsg-ct">
            <ul class="clearfix chat_item"></ul>
        </div>
    </div>
    <div class="bottom_nav_fixed">
        <div class="bottom_flex">
            <input class="send_out_text" type="text" name="" value="">
            <input class="send_btn" type="button" value="发送">
        </div>
    </div>
</section>
<script type="text/javascript">
    // 服务端主动推送消息时会触发这里的onmessage
    ws = new WebSocket("ws://msy.meishangyun.com:8282");
    ws.onopen = function(e){
        console.log('open');
    };
    ws.onmessage = function(e){
        var data =  JSON.parse(e.data);
        var type = data.type || '';
        switch(type){
            case 'init':
                // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
                // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                var postData = {client_id: data.client_id};
                var url = module + 'CustomerService/bindUid';
                $.ajax({
                    url: url,
                    data: postData,
                    type: 'post',
                    beforeSend: function(xhr){
                        $('.loading').show();
                    },
                    error:function(xhr){
                        $('.loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success: function(msg){
                        $('.loading').hide();
                        if(msg.status==0){
                            dialog.error(msg.info);
                        }else if(msg.code==1 && msg.data=='no_login'){
                            loginDialog();
                        }else if(msg.status==1){
                        }
                    }
                });
                break;
            case 'msg':
                var _li = $('#chatListOtherTpl');
                _li.find('.msg').text(data.msg);
                $('#chatLayerContainer .chat_item').append(_li.html());
                break;
            default :
                console.log('default');
        }
    };
    ws.onerror = function (e) {
        console.log('error');
    };
    ws.onclose = function(e){
        console.log('close');
    };
    $(function () {
        //聊天对话框弹窗
        var chatListId;
        $('body').on('click','.customer_btn',function(){
            var _this=$(this);
            chatListId=$(this).data('id');
            layer.open({
                className:'chatLayer',
                content:$('#chatLayerContainer').html(),
                type:1,
                anim:'up',
                btn:['','关闭'],
                success:function(){
                    var winH=$(document).height();
                    $('.chatLayer .chat_item').css('height',winH+'px');
                    $('.chatLayer .chat_item').html($('#chatLayerContainer .chat_item').html());
                },
                no:function(){
                    var chatLayerList=$('.chatLayer .chat_item').html();
                    $('#chatLayerContainer .chat_item').html(chatLayerList);
                }
            });
        });
        //发送聊天内容
        var chatListTpl=$('#chatListTpl').html();
        $('body').on('click','.send_btn',function(){
            var _this=$(this).prev();
            if(!_this.val()){
                dialog.error('不能发送空内容！');
                return false;
            }
            var to_user_id = 17;
            var postData = {to_user_id:to_user_id,msg:text};
            var url = module + 'CustomerService/sendMessage';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(xhr){
                    $('.loading').show();
                },
                error:function(xhr){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    if(data.status==0){
                        dialog.error(data.info);
                    }else if(data.status==1){
                        console.log(2222);
                        chatListTpl.find('.msg').text(data.info);
                        $('.chatLayer .chat_item').append(chatListTpl);
                        _this.val('');
                    }else {
                        //发送未成功
                    }
                }
            });
        });
    });
</script>