<extend name="Public:base" />
<block name="title">联合采购</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class=" f24">
        <section class="purchaser_member_module">
            <div>我的采购账户余额为 <span>￥</span><price>100000.00</price></div>
            <a href="javascript:void(0);" class="account_details">查看我的采购账户明细</a>
        </section>

        <section class="purchaser_member_module">
            <p class="recharge_title">账户充值</p>
            <ul class="recharge_grade">
                <li><span>1000</span>元</li>
                <li><span>2000</span>元</li>
                <li><span>3000</span>元</li>
                <li><span>5000</span>元</li>
                <li><span>8000</span>元</li>
                <li><span>10000</span>元</li>
            </ul>
           
        </section>
        <form action="/index.php/Purchase/Payment/getCode" method="post">
            <section class="purchaser_member_module">
                <div class="purchase_weixin_icon">
                    <span class="wx"></span>微信支付
                </div>
                <input type="hidden" name="pay_code" value="weixin" />
                <input type="hidden" class="pay_info" name="order_id" value="" />
                <input type="button" class="balance_pay weixin_pay" data-paycode="weixin" value="微信支付充值">
            </section>
        </form>
        <form action="/index.php/Purchase/Payment/getCode2" method="post">
            <section class="purchaser_member_module zfb_pay_module">
                <div class="purchase_weixin_icon">
                    <span class="zfb"></span>支付宝支付
                </div>
                <input type="hidden" name="pay_code" value="alipayMobile" />
                <input type="hidden"  class="pay_info" name="order_id" value="" />
                <input type="button" class="balance_pay weixin_pay" data-paycode="zfb" value="支付宝支付">
            </section>
        </form>
        <form action="/index.php/Purchase/Payment/getCode2" method="post">
            <section class="purchaser_member_module">
                <div class="purchase_weixin_icon">
                    <span class="bank"></span>在线支付
                </div>
                <input type="hidden" name="pay_code" value="unionpay" />
                <input type="hidden" class="pay_info" name="order_id" value="" />
                <input type="button" class="balance_pay weixin_pay" data-paycode="online" value="银联在线支付充值">
            </section>
        </form>

        <section class="purchaser_member_module">
            <div>
                <p>[银行转账方式]</p>
                <div>收款单位：<span>广东美尚网络科技</span></div>
                <div>开户银行：<span>广州市华景新城支行</span></div>
                <div>银行账户：<span>XXXXXXXX</span></div>
                <a href="javascript:void(0);" class="bank_transfer_recharge right-arrow">银行转账支付后将凭证发给平台客服通知账户充值</a>
            </div>
        </section>
    </article>

</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //判断微信浏览器
            if(isWeiXin()){
                $('.zfb_pay_module').hide();
            }
            function isWeiXin(){
                var ua = window.navigator.userAgent.toLowerCase();
                if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                    return true;
                }else{
                    return false;
                }
            }

            $('.recharge_grade li').on('click',function(){
                var rechargePrice=$(this).find('span').text();
                    $(this).addClass('active').siblings().removeClass('active');
                    $('input[class="pay_info"]').val(rechargePrice);
            })
            //验证表单
            $('input[type="button"]').on('click',function(){
                var oLi=$('.recharge_grade li');
                var _This=$(this);
                $.each(oLi,function(){
                    var isActive=$(this).hasClass('active');
                        if(isActive){
                            _This.prop("type","submit");
                            return false;
                        }
                        dialog.error('请选择充值金额');
                        
                })
            })

        });
    </script>
</block>