<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>美尚卖手平台使用帮助</h2>
    </section>
    <article class="seller_help_wrapper">
        <p class="f24">美尚卖手平台是店家和卖手之间的服务对接平台，实现美业优秀人才服务供应侧的创新改革。</p>
        <div class="seller_service_help">
            <img src="__PUBLIC__/images/sellerCompany/seller-help.jpg" alt="">
        </div>
        <section class="f24 seller_rule">
            <dl>
                <dt>店家：</dt>
                <dd>1、负责准备项目开展的产品、仪器、耗材、配送等；</dd>
                <dd>2、负责准备布置活动必须的X展架等布置，铺垫提供合适的店内项目顾客；</dd>
                <dd>3、负责卖手的往返旅程费、活动举办地住宿费用。</dd>
            </dl>
            <dl>
                <dt>卖手：</dt>
                <dd>1、负责对顾客进行项目销售收现（业绩经双方确认）；</dd>
                <dd>2、协助店家美容师进行必要的顾客护理操作;</dd>
                <dd>3、协助店家美容师对顾客进行必要的售后服务。</dd>
            </dl>
        </section>
    </article>

</block>
<block name="mjs-customize">
    <script type="text/javascript">

    </script>
</block>