<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <nav class="selling_nav f24">
        <a href="help">使用帮助</a>
        <a href="storeArchive">店家档案</a>
        <a href="{:U('UserCenter/CompanyAuthorise/index')}">机构认证</a>
    </nav>
    <section class="selling_content f24">
        <div class="selling_img">
            <img src="__PUBLIC__/images/sellerCompany/msy_logo.png" alt="" class="msy_logo">
        </div>
        <p class="agency">卖手平台免中介费帮助店家</p>
        <h2 class="f36">找卖手做店销活动</h2>
        <div class="sales_plan">
            <p>7x24小时在线对接全国卖手资源</p>
            <div>
                <span>销售分成<i></i></span>
                <span>操作分成<i></i></span>
                <span>课程培训</span>
            </div>
        </div>
        <div class="selling_orders"><a href="placeAnTaskOrder">滴滴卖手下任务单</a></div>
        <div class="selling_m_category">
            <a href="__MODULE__/TaskManage/index">任务管理</a>
            <a href="javascript:void(0);">推荐项目</a>
            <a href="javascript:void(0);">推荐卖手</a>
            <a href="__MODULE__/SellerFavorites/index">卖手收藏夹</a>
        </div>
    </section>
    <footer>
        <p class="f24 official_copyright">Copyright 2014-2017 美尚网络</p>
    </footer>
</block>
<block name="mjs-customize">
    <script type="text/javascript">

    </script>
</block>