<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sellerCompany/selling.css">
</block>
<block name="personal_center"></block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>下任务单</h2>
    </section>
    <article class="seller_sales_wrapper f24">
        <span class="seller_type">我要找的卖手类型</span>
        <ul>
            <li>
                <h2>销售高手</h2>
                <p>水光类、光电类、养生类、医美类、口服类等 </p>
                <a href="javascript:void(0);" class="split_mode" data-seller-type="1">找店销高手销售分成</a>
            </li>
            <li>
                <h2>技术高手</h2>
                <p>文饰类、水光类、光电类、养生类、医美类等 </p>
                <a href="javascript:void(0);" class="split_mode" data-seller-type="2">找技术高手操作分成</a>
            </li>
            <li>
                <h2>培训高手</h2>
                <p>项目培训、技术培训、营销培训、店务培训等</p>
                <a href="javascript:void(0);" class="split_mode" data-seller-type="3">找培训高手课程培训</a>
            </li>
        </ul>
    </article>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $('.split_mode').click(function(){
            var sellerType = $(this).data('seller-type');

            location.href = MODULE + '/PlaceTaskOrder/taskOrder?sellerType=' + sellerType;
        });
    </script>
</block>