<footer class="f24 group_cart_nav">
    <div class="group_btn50 group_btn30 bfff">
        <span class="goods_total_price">￥<price>0.00</price></span>
    </div>
    <if condition="$cartType eq 'withAdd' ">
        <a href="javascript:void(0);" class="bff6482 group_btn50 add_cart">加入购物车</a>
        <a href="javascript:void(0);" class="group_btn30 bff1d25 buy_now"><i class="collect"></i>立即结算</a>
    <else />
        <a href="javascript:void(0);" class="group_btn50 bff1d25 buy_now"><i class="collect"></i>立即结算</a>
    </if>
</footer>
<script type="text/javascript" src="PUBLIC_JS/purchase/settlement.js"></script>
<script type="text/javascript">
    $(function () {
        //加入购物车
        $('body').on('click','.add_cart',function(){
            var postData = assemblyData();
            if(!postData.goodsList.length){
                dialog.error('请选择商品');
                return false;
            }
            var url = MODULE + '/Cart/addGoodsToCart';
            $.ajax({
                url: url,
                data: postData,
                type: 'post',
                beforeSend: function(){$('.loading').show();},
                error:function(){$('.loading').hide();dialog.error('AJAX错误');},
                success: function(data){
                    $('.loading').hide();
                    if(data.status==0){
                        dialog.error(data.info);
                    }else {
                        dialog.success(data.info);
                    }
                }
            });
        });
    });
</script>