<div id="slider">
    <div class='swipe-wrap'>
        <div><img src="PUBLIC_IMG/home/slide/banner.jpg" /></div>
        <div><img src="PUBLIC_IMG/home/slide/red_wine.jpg" /></div>
        <div><img src="PUBLIC_IMG/home/slide/diamond_watches.jpg" /></div>
    </div>
    <ul class="position">
        <li class="on"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script type="text/javascript" src="PUBLIC_JS/common/swipe.js"></script>
<script type="text/javascript">
    $(function () {
        //滑动轮播
        var elem = document.getElementById('slider');
        mySwipe = Swipe(elem, {
            auto: 2500,
            callback: function(index,element){
                //回调函数
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
            function () {
                mySwipe.slide($(this).index());
            }
        );
    });
</script>