<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <title>{$Think.config.WEB_NAME}</title>
    <link href="{$Think.config.PUBLIC_ADMIN_CSS}/common/index.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div class="mainbg">
    <block name="personal-center">
        <!-- 用户栏 -->
        <div class="topbg">
            <div class="title"><a href="javascript:void(0);"><img src="{$Think.config.PUBLIC_ADMIN_IMG}/common/logo.png" /></a></div>
            <div id="topnav" class="top-nav">
                <ul>
                    <li class="adminid" title="您好:boayang">您好&nbsp;:&nbsp;<strong>boayang</strong></li>
                    <li><a href="" target="workspace"><span>修改密码</span></a></li>
                    <li><a href="" title="安全退出"><span>安全退出</span></a></li>
                </ul>
            </div>
        </div>
        <div class="leftbg"></div>
    </block>

    <notempty name="Think.config.MENU">
        <div class="demo">
            <div class="tabs">
                <ul class="tabs-list top">
                    <foreach  name="Think.config.MENU" item="vo" key="k">
                        <li class="menu"><a data-relevance="{$k}" href="javascript:void(0);">{$vo.name}</a></li>
                    </foreach>
                </ul>
                <div class="tabs-container">
                    <foreach name="Think.config.MENU" item="vo"  key="k">
                        <div class="tab-content" data-relevance="{$k}">
                            <div class="tabs tabs-vertical-left">
                                <ul class="tabs-list left">
                                    <foreach  name="vo.sub_menu" item="vv">
                                        <li class="menu">
                                            <a href="javascript:void(0);" data-act="{$vv.act}" data-op="{$vv.op}">{$vv.name}</a>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </foreach>
                </div>
            </div>
            <div class="main">
                <iframe src="" width="100%" frameborder="0" scrolling="no" id="childFrame" ></iframe>
            </div>
        </div>
    </notempty>
</div>

<script type="text/javascript" src="{$Think.config.PUBLIC_ADMIN_JS}/common/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$Think.config.PUBLIC_ADMIN_JS}/common/responsive.tabs.js"></script>
<script type="text/javascript" src="{$Think.config.PUBLIC_ADMIN_JS}/common/layer/layer.js"></script>
<script type="text/javascript">
    //定义全局变量
    var MODULE = '__MODULE__';
    var ACTION = '__ACTION__';
    var CONTROLLER = '__CONTROLLER__';
    var APP = '__APP__';
    var PUBLIC = '__PUBLIC__';
    var ROOT = '__ROOT__';
    var UPLOAD = ROOT+'/Uploads/';

    //设置iframe高度  
    function reinitIframe(){  
        var iframe = document.getElementById("childFrame");  
        try{  
            var bHeight = iframe.contentWindow.document.body.scrollHeight;  
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;  
            var height = Math.max(bHeight, dHeight);  
            iframe.height = height;  
        }catch (ex){console.log('设置iframe高度异常');}  
    }   
    var timer1 = window.setInterval("reinitIframe()", 200); //定时调用开始  

    //设置iframe src
    function setIframeSrc(act,op) {
        var url = '{:U("'+act+'/'+op+'")}';
        $('#childFrame').attr('src',url);
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        //菜单切换
        $('.tabs').respTabs();

        //一级菜单点击
        $('.tabs-list.top').find('a').on('click',function(){
            var _thatRelevance = $(this).data('relevance');
            var container = $('.tabs-container');
            $.each(container.find('.tab-content'),function(){
                var _thisRelevance = $(this).data('relevance');
                if(_thatRelevance === _thisRelevance){
                    var firstA = $(this).find('.tabs-list.left').find('li.active').find('a');
                    setIframeSrc(firstA.data('act'),firstA.data('op'));
                }
            });
        });

        //二级菜单点击
        $('.tabs-list.left').find('a').on('click',function(){
            var _this = $(this);
            var act = _this.data('act');
            var op = _this.data('op');

            setIframeSrc(act,op);
        });

        //初始化iframe src
        var firstA = $('.tabs-list.left').find('li:first').find('a');
        setIframeSrc(firstA.data('act'),firstA.data('op'));
    });
</script>

</body></html>
