<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!-- 美悦会商城首页 -->
    <section>
        <img src=""/>
    </section>
    <nav class="mall_function_menu f24">
        <a href="">
            <span class="project_class"></span>
            商城首页
        </a>
        <a href="">
            <span class="purchaser_register"></span>
            微团购
        </a>
        <a href="">
            <span class="vip"></span>
            推客分享
        </a>
        <a href="">
            <span class="recharge"></span>
            购物车
        </a>
        <a href="">
            <span class="order_manage"></span>
            个人中心
        </a>
    </nav>
    <section class="f24">
        <ul class="business_product_module goodsListContent"></ul>
    </section>
    <!-- 美悦会商城首页-end -->
</block>
<block name="footer">
    <include file="Cart/footerCartSingle" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/mall/goods.js"></script>
    <script type="text/javascript">
        $(function(){
            var config = {
                pageSize:4
            };
            //初始化
            getGoodsList(config);
            //上拉加载更多
            $(window).on('scroll',function(){
                if($(document).scrollTop()+$(window).height()>=$(document).height()){
                    getGoodsList(config);
                }
            });
        });
    </script>
</block>