<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!-- 美悦会商城首页 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="PUBLIC_IMG/common/banner/home-banner.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner1.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner2.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner3.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="mall_function_menu navigation_module f24">
        <a href="">
            <span class="mall_home"></span>
            商城首页
        </a>
        <a href="{:U('groupBuyIndex')}">
            <span class="wt_purchase"></span>
            微团购
        </a>
        <a href="{:U('Referrer/index')}">
            <span class="twitter_share"></span>
            推客分享
        </a>
        <a href="{:U('Cart/index')}">
            <span class="buy_cart"></span>
            购物车
        </a>
        <a href="{:U('PersonalCenter/index')}">
            <span class="person_center"></span>
            个人中心
        </a>
    </nav>
    <section class="f24">
        <ul class="business_product_module goodsListContent">
            <volist name="goodsList" id="vo">
                <include file="goodsListTpl" />
            </volist>
        </ul>
    </section>
    <!-- 美悦会商城首页-end -->
</block>
<block name="backTop">
    <include file="Public/rightSideBar" />
</block>
<block name="load">
    <include file="Public/load" />
</block>
<block name="footer">
    <include file="Cart/footerCartSingle" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/common/swipe.js"></script>
    <script type="text/javascript" src="PUBLIC_JS/__MODULE__/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:4,
            buyType:1,
            templateType:'photo'
        };
        $(function(){
            //初始化
            getGoodsList(config);
             //滑动轮播
            var elem = document.getElementById('slider');
                swipe(elem);
        });
    </script>
</block>