<extend name="Public:base" />
<block name="title">联合采购</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="purchase_order_success">
            <div>
                <span></span>
                <p>充值成功</p>
                <p>可在个人中心，账户充值查询</p>
            </div>
            <a href="{:U('Index/index')}" class="order_cofirm_btn">确定</a>
        </section>
    </article>
</block>