<extend name="Public:base" />
<block name="title">{$Think.get.pay_status|getPayStatusCN}的采购单</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="bottomLine">
            <h2 class="header_title">订单明细</h2>
        </section>
        <section>
            <div class="order_detail_item">
                <div class="order_flex_single">
                    <p>收货人姓名：<span>阿森纳</span></p>
                    <p>收货人手机号：<span>13430393458</span></p>
                    <p>收货人地址：<span>广州市</span></p>
                </div>
                <a href="javascript:void(0);" class="select_address">选择收货人地址</a>
                <ul class="orderDetail_list">
                    <li>
                        <a>
                            <img src="/Public/img/common/default/no_pic_100.jpg" alt="">
                            <div class="orderDetail_r">
                                <p>XXXXXXXXXXXXXXXX</p>
                                <div>单品规格：<span>12g*20条/盒</span></div>
                                <div>采购包装：<span>10盒/箱(整箱采购)</span></div>
                                <div>采购单价(元/盒)：<span>￥198</span><del>￥980</del></div>
                            </div>
                            <div class="order_purchase_count">采购数量(单位:盒)：<span>100</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            countDown("2017/11/29 15:25:00",$(".countDownBox"));
            $('body').on('click','.notice_platform',function(){
                layer.open({
                    content:'通知平台<br/>我已收到订单货品',
                    btn:'确定'
                });
            });
        });
    </script>
</block>