<extend name="Public:base" />
<block name="title">我的订单管理</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="order_search_bar">
            <div>
                <input type="text" class="order_search_text" placeholder="商品名称/订单号" name="" value="">
                <input type="button" class="order_search_btn" name="">
            </div>
        </section>
        <nav>
            <ul class="my_order_nav">
                <li class="<if condition='$Think.get.s eq 1'>active</if>">
                    <a href="javascript:void(0);" ><i class="w_pay"></i>待付款<span class="count">2</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 2'>active</if>">
                    <a href="javascript:void(0);"><i class="w_receipt"></i>待收货<span class="count">2</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 3'>active</if>">
                    <a href="javascript:void(0);"><i class="w_commit"></i>待评价<span class="count">1</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 4'>active</if>">
                    <a href="javascript:void(0);"><i class="w_finish"></i>已完成<span></span></a>
                </li>
                <li><a href="javascript:void(0);"><i class="w_service"></i>客服</a></li>
                <li><a href="javascript:void(0);"><i class="home"></i>首页</a></li>
            </ul>
        </nav>
        <section class="order_list">
            <div class="order_pay_tipc">
                提示：请尽快支付，超过3天未支付订单将被自动取消
            </div>
            <include file="orderListTpl" />
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            countDown("2017/11/29 15:25:00",$(".countDownBox"));
            $('.my_order_nav li').on('click',function(){
                $(this).addClass('active').siblings().removeClass('active');
            });
        });
    </script>
</block>