<extend name="Public:base" />
<block name="title">我的订单管理</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section class="order_search_bar">
            <div>
                <input type="text" class="order_search_text" placeholder="商品名称/订单号" name="" value="">
                <input type="button" class="order_search_btn" name="">
            </div>
        </section>
        <nav>
            <ul class="my_order_nav">
                <li class="<if condition='$Think.get.s eq 1'>active</if>">
                    <a href="{:U('Order/orderManage',array('s'=>1))}" ><i class="w_pay"></i>待付款
                        <span class="count">{$orderStatusCount['1']}</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 2'>active</if>">
                    <a href="{:U('Order/orderManage',array('s'=>2))}"><i class="w_receipt"></i>待收货
                        <span class="count">{$orderStatusCount['2']}</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 3'>active</if>">
                    <a href="{:U('Order/orderManage',array('s'=>3))}"><i class="w_commit"></i>待评价
                        <span class="count">{$orderStatusCount['3']}</span></a>
                </li>
                <li class="<if condition='$Think.get.s eq 4'>active</if>">
                    <a href="{:U('Order/orderManage',array('s'=>4))}"><i class="w_finish"></i>已完成
                        <span class="count">{$orderStatusCount['4']}</span></a>
                </li>
                <li><a href="javascript:void(0);"><i class="w_service"></i>客服</a></li>
                <li><a href="{:U('Index/index')}"><i class="home"></i>首页</a></li>
            </ul>
        </nav>
        <section class="order_list">
            <if condition="$Think.get.s eq 1">
                <div class="order_pay_tipc">
                    提示：请尽快支付，超过3天未支付订单将被自动取消
                </div>
            </if>
            <include file="orderListTpl" />
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){

            //订单收货人地址初始化
            $('div.consignee_address').each(function(){
                var _this = $(this);
                var province = _this.data('province');
                var city = _this.data('city');
                var area = _this.data('area');
                var arr = [];
                if( province && city && area ){
                    arr.push(province);
                    arr.push(city);
                    arr.push(area);
                    _this.find('span.consignee_address').setArea(arr);
                }
            });
        });
    </script>
    <!--<script src="PUBLIC_JS/__MODULE__/order.js"></script>-->
</block>