<notempty name="orderInfo">
    <div class="order_detail_item">
        <div class="order_flex_single consignee_address" data-province="{$orderInfo.province}"
             data-city="{$orderInfo.city}"  data-area="{$orderInfo.area}">
            <p>收货人姓名：<span class="consignee_name">{$orderInfo.consignee_name}</span></p>
            <p>收货人手机号：<span class="consignee_phone">{$orderInfo.consignee_mobile}</span></p>
            <p>收货人地址：<span class="consignee_address"></span>{$orderInfo.detailed_address}</p>
        </div>
        <if condition="$addAddress eq 'true' ">
            <a class="select_address">收货人地址</a>
        </if>
        <ul class="orderDetail_list goods_list">
            <volist name="orderInfo['goodsList']" id="vo">
                <include file="Goods/goodsListTpl" />
            </volist>
        </ul>
    </div>
</notempty>