<extend name="Public:base" />

<block name="title">{$Think.get.pay_status|getPayStatusCN}的采购单</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section id="orderInfo">
            <div class="order_detail_item">
                <div class="order_flex_single">
                    <p>收货人姓名：<span>{$orderInfo.consignee_name}</span></p>
                    <p>收货人手机号：<span>{$orderInfo.consignee_mobile}</span></p>
                    <p>收货人地址：<span>{$orderInfo.province}{$orderInfo.city}{$orderInfo.area}{$orderInfo.detailed_address}</span></p>
                </div>
                <a href="javascript:void(0);" class="select_address">收货人地址</a>
                <ul class="orderDetail_list">
                    <include file="Goods/goodsListTpl" />
                </ul>
            </div>
        </section>
    </article>
</block>
<block name="footer"></block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){
            //页面初始化
            var arr = [];
            var province = '{$orderInfo.province}';
            var city = '{$orderInfo.city}';
            var area = '{$orderInfo.area}';
            arr.push(province);
            arr.push(city);
            arr.push(area);
            if(arr['province'] && arr['city'] && arr['area']){
                $('li.orderInfo').find('.detailConsigneeAddress').setArea(arr);
            }

            var consigneeInfoList=$('#consigneeInfoList').html();
            $('body').on('click','.modify',function(){
                var consigneeInfoObject={};
                layer.open({
                    btn:['确定','取消'],
                    title:['指定收货人','border-bottom:1px solid #d9d9d9;'],
                    className:'consigneeInfoList_layer',
                    content:consigneeInfoList,
                    success:function(){
                        $('.consigneeList li').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');
                            consigneeInfoObject={
                                consigneeName:$(this).find('.consigneeName').text(),
                                consigneePhone:$(this).find('.consigneePhone').text(),
                                consigneeAddress:$(this).find('.consigneeAddress').text()
                            };
                            $(this).data('address',consigneeInfoObject);
                            console.log(consigneeInfoObject);
                        });
                        $.each($('.consigneeList li'), function(i,val){
                            // if(tBranchText==$(this).text()){
                            //     $(this).addClass('current');
                            //     $(this).parent().siblings().find('.branch_n_inpt').removeClass('current');
                            //     return false;
                            // }
                        });
                    },
                    yes:function(index){
                        $('.detailConsigneeName').text(consigneeInfoObject.consigneeName);
                        $('.detailConsigneePhone').text(consigneeInfoObject.consigneePhone);
                        $('.detailConsigneeAddress').text(consigneeInfoObject.consigneeAddress);
                        layer.close(index);
                    }
                });
            });
        });
    </script>
</block>