<notempty name="orderList">
    <input type="hidden" value="{$current_time}" class="current_time"/>
    <input type="hidden" value="{$current_time1}" class="current_time1"/>
    <volist name="orderList" id="orderInfo">
        <div class="order_detail_item order_info_list" data-group_buy_overdue_time="{$orderInfo.group_buy_overdue_time}"
             data-order_overdue_time="{$orderInfo.order_overdue_time}" data-goods_id="{$orderInfo.goods_id}"
             data-group_buy_id="{$orderInfo.group_buy_id}" data-logistics_status="{$orderInfo.logistics_status}"
             data-orderid="{$orderInfo.id}" data-order_overdue_time1="{$orderInfo.order_overdue_time1}">
            <div class="order_flex">
                <div class="">订单号：<span>{$orderInfo.sn|substr=0,15}</span></div>
            </div>
            <if condition="$orderInfo.logistics_status eq 1">
                <div class="pay_order_time"><i></i>支付剩余：
                    <if condition="$orderInfo.order_overdue_time gt $current_time">
                         <span class="count_down_box" id="{$orderInfo.id}" data-key="1">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </span>
                        <else />
                         <span class="count_down_box">已取消</span>
                    </if>
                </div>
            </if>
            <div class="order_flex order_flex_item">
                <div>
                    <if condition="$orderInfo.logistics_status eq 1">
                        <p>状态：<span class="pay_tag">待支付</span></p>
                        <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                        <if condition="$orderInfo.type eq 1 ">
                            <div class="group_flex group_flex_item">
                                <p>订单类型：<span class="order_type">团购订单</span></p>
                            </div>
                        </if>
                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                        <if condition="$orderInfo.deliver_status eq 0 ">
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item">
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <elseif condition="$orderInfo.deliver_status eq 1"/>
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item" >
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <p>状态：<span class="pay_tag pay_finish">已发货</span></p>
                            <else />
                        </if>
                        <!--<p>状态：<span class="pay_tag">已发货</span></p>-->
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                        <p>状态：<span class="pay_tag">待评价</span></p>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <p>状态：<span class="pay_tag pay_finish">已完成</span></p>
                    <else />
                    </if>
                   
                </div>
                <if condition="$orderInfo.logistics_status eq 1">
                    <if condition="$orderInfo.order_overdue_time gt $current_time">
                        <a class="order_pay_btn" href="javascript:void(0);">去支付</a>
                        <else />
                        <a class="order_cancle" href="javascript:void(0);">订单已取消</a>
                    </if>

                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                    <a class="order_pay_btn edit_address" href="">修改收货人地址</a>
                    <if condition="$orderInfo.type eq 1 ">
                        <div class="group_flex group_flex_item">
                            <a class="order_pay_btn edit_address invite_group_buy"  href="javascript:void(0);">去邀请朋友参团 </a>
                        </div>
                    </if>
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                    <a class="order_pay_btn edit_address" href="{:U('Comment/CommentEdit',array('orderId'=>$orderInfo['id']))}">去评分评论</a>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <a class="order_pay_btn edit_address" href="">再次采购</a>
                    <else />
                    <a class="order_pay_btn edit_address" href="">已取消</a>
                </if>
            </div>
            <include file="orderInfoTpl" />
        </div>
    </volist>
</notempty>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/mall/order.js"></script>
    <script type="text/javascript">

    </script>
</block>