<extend name="Public:base" />

<block name="title">{$Think.get.pay_status|getPayStatusCN}的采购单</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="f24">
        <section id="orderInfo">
            <div class="order_detail_item">
                <div class="order_flex_single">
                    <p>收货人姓名：<span class="consignee_name">{$orderInfo.consignee_name}</span></p>
                    <p>收货人手机号：<span class="consignee_phone">{$orderInfo.consignee_mobile}</span></p>
                    <p>收货人地址：<span class="consignee_address"></span></p>
                </div>
                <a href="javascript:void(0);" class="select_address">收货人地址</a>
                <ul class="orderDetail_list goods_list">
                    <include file="Goods/goodsListTpl" />
                </ul>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script src="PUBLIC_JS/common/jquery.area.js"></script>
    <script type="text/javascript">
        $(function(){
            //页面初始化
            var arr = [];
            var province = '{$orderInfo.province}';
            var city = '{$orderInfo.city}';
            var area = '{$orderInfo.area}';
            if( province && city && area){
                arr.push(province);
                arr.push(city);
                arr.push(area);
                $('.consignee_address').setArea(arr);
            }
        });

        $('body').on('click','.determine_order',function(){
            var consigneeName=$('.consignee_name').text();
            var consigneePhone=$('.consignee_phone').text(); 
            var consigneeAddress=$('.consignee_address').text();
            var totalPrice=$('.amount price').text();
            var content='';
                if(!consigneeName){
                    content="请选择收货人姓名";
                }else if(!consigneePhone){
                     content="请选择收货人手机号码";
                }else if(!consigneeAddress){
                    content="请选择收货人地址";
                }else if(!totalPrice){
                     content="总价不能为0";
                }
                if(content){
                    dialog.error(content);
                    return false;
                }
        })
    </script>
</block>