<notemtpy name="orderList">
    <volist name="orderList" id="orderInfo">
        <div class="order_detail_item">
            <div class="order_flex">
                <div class="">订单号：<span>{$orderInfo.sn|substr=0,15}</span></div>
            </div>
            <if condition="$orderInfo.logistics_status eq 1">
                <div class="pay_order_time"><i></i>支付剩余：
                    <span class="count_down_box">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </span>
                </div>
            </if>
            <div class="order_flex order_flex_item">
                <div>
                    <if condition="$orderInfo.logistics_status eq 1">
                        <p>状态：<span class="pay_tag">待支付</span></p>
                        <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                        <if condition="$orderInfo.type eq 1 ">
                            <div class="group_flex group_flex_item">
                                <p>订单类型：<span class="order_type">团购订单</span></p>
                            </div>
                        </if>
                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                        <if condition="$orderInfo.deliver_status eq 0 ">
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item">
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <elseif condition="$orderInfo.deliver_status eq 1"/>
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item" >
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <p>状态：<span class="pay_tag pay_finish">已发货</span></p>
                            <else />
                        </if>
                        <!--<p>状态：<span class="pay_tag">已发货</span></p>-->
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                        <p>状态：<span class="pay_tag">待评价</span></p>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <p>状态：<span class="pay_tag pay_finish">已完成</span></p>
                    <else />
                    </if>
                   
                </div>
                <if condition="$orderInfo.logistics_status eq 1">
                    <a class="order_pay_btn" href="">去支付</a>
                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                    <a class="order_pay_btn edit_address" href="">修改收货人地址</a>
                    <if condition="$orderInfo.type eq 1 ">
                        <div class="group_flex group_flex_item">
                            <a class="order_pay_btn edit_address invite_group_buy"  href="javascript:void(0);">去邀请朋友参团 </a>
                        </div>
                    </if>
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                    <a class="order_pay_btn edit_address" href="{:U('Comment/CommentEdit',array('orderId'=>$orderInfo['id']))}">去评分评论</a>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <a class="order_pay_btn edit_address" href="">再次采购</a>
                    <else />
                    <a class="order_pay_btn edit_address" href="">已取消</a>
                </if>
            </div>
            <include file="orderInfoTpl" />
        </div>
    </volist>
</notemtpy>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //邀请朋友
            var current_time = "{$current_time}";
            var overdue_time = "{$orderInfo.overdue_time}";
            if((overdue_time - current_time)>0){
                $('body').on('click','.invite_group_buy',function(){
                    location.href = MODULE + '/Goods/goodsDetail/goodsId/'
                            + "{$orderInfo.goods_id}"+'/groupBuyId/'+ "{$orderInfo.goods_id}"+'/shareType/groupBuy';
                });
            }else{
                $('.invite_group_buy').text('本次团购已结束').addClass('group_buy_end');
                $('body').on('click','.invite_group_buy',function(){
                    var url = MODULE + '/Goods/goodsDetail/goodsId/' + "{$orderInfo.goods_id}";
                    dialog.confirm('此次团购已结束，是否重新开团',url)
                });
            }

        });
    </script>
</block>