<notempty name="orderList">
    <volist name="orderList" id="orderInfo">
        <div class="order_detail_item order_info_list" data-group_buy_overdue_time="{$orderInfo.group_buy_overdue_time}"
             data-order_overdue_time="{$orderInfo.order_overdue_time}" data-goods_id="{$orderInfo.goods_id}"
             data-group_buy_id="{$orderInfo.group_buy_id}" data-logistics_status="{$orderInfo.logistics_status}"
             data-orderid="{$orderInfo.id}">
            <div class="order_flex">
                <div class="">订单号：<span>{$orderInfo.sn|substr=0,15}</span></div>
            </div>
            <if condition="$orderInfo.logistics_status eq 1">
                <div class="pay_order_time"><i></i>支付剩余：
                    <span class="count_down_box">
                        <span class="day"></span>天
                        <span class="hour"></span>小时
                        <span class="minute"></span>分
                        <span class="second"></span>秒
                    </span>
                </div>
            </if>
            <div class="order_flex order_flex_item">
                <div>
                    <if condition="$orderInfo.logistics_status eq 1">
                        <p>状态：<span class="pay_tag">待支付</span></p>
                        <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                        <if condition="$orderInfo.type eq 1 ">
                            <div class="group_flex group_flex_item">
                                <p>订单类型：<span class="order_type">团购订单</span></p>
                            </div>
                        </if>
                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                        <if condition="$orderInfo.deliver_status eq 0 ">
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item">
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <elseif condition="$orderInfo.deliver_status eq 1"/>
                            <p>状态：<span class="pay_tag">备货中</span></p>
                            <p>总价：<span class="pay_tag">￥</span><price class="pay_tag">{$orderInfo.amount}</price></p>
                            <if condition="$orderInfo.type eq 1 ">
                                <div class="group_flex group_flex_item" >
                                    <p>订单类型：<span class="order_type">团购订单</span></p>
                                </div>
                            </if>
                            <p>状态：<span class="pay_tag pay_finish">已发货</span></p>
                            <else />
                        </if>
                        <!--<p>状态：<span class="pay_tag">已发货</span></p>-->
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                        <p>状态：<span class="pay_tag">待评价</span></p>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <p>状态：<span class="pay_tag pay_finish">已完成</span></p>
                    <else />
                    </if>
                   
                </div>
                <if condition="$orderInfo.logistics_status eq 1">
                    <a class="order_pay_btn" href="javascript:void(0);">去支付</a>
                    <elseif condition="$orderInfo.logistics_status eq 2"/>
                    <a class="order_pay_btn edit_address" href="">修改收货人地址</a>
                    <if condition="$orderInfo.type eq 1 ">
                        <div class="group_flex group_flex_item">
                            <a class="order_pay_btn edit_address invite_group_buy"  href="javascript:void(0);">去邀请朋友参团 </a>
                        </div>
                    </if>
                    <elseif condition="$orderInfo.logistics_status eq 3"/>
                    <a class="order_pay_btn edit_address" href="{:U('Comment/CommentEdit',array('orderId'=>$orderInfo['id']))}">去评分评论</a>
                    <elseif condition="$orderInfo.logistics_status eq 4"/>
                        <a class="order_pay_btn edit_address" href="">再次采购</a>
                    <else />
                    <a class="order_pay_btn edit_address" href="">已取消</a>
                </if>
            </div>
            <include file="orderInfoTpl" />
        </div>
    </volist>
</notempty>
<block name="script">
    <script type="text/javascript">
        $(window).load(function() {
            var current_time = "{$current_time}";
            $(".order_info_list").each(function(){
                var _this =$(this);
                var group_buy_overdue_time = _this.data('group_buy_overdue_time');
                var order_overdue_time =  _this.data('order_overdue_time');
                var goods_id =  _this.data('goods_id');
                var group_buy_id =  _this.data('group_buy_id');
                var logistics_status = _this.data('logistics_status');
                var orderid = _this.data('orderid');
                if(group_buy_overdue_time){
                    if((group_buy_overdue_time - current_time)>0){
                        _this.find('.invite_group_buy').on('click',function(){
                            location.href = MODULE + '/Goods/goodsDetail/goodsId/'
                                    + goods_id+'/groupBuyId/'+ group_buy_id+'/shareType/groupBuy';
                        });
                    }else{
                        _this.find('.invite_group_buy').text('本次团购已结束').addClass('group_buy_end');
                        _this.find('.invite_group_buy').on('click',function(){
                            var url = MODULE + '/Goods/goodsDetail/goodsId/' + goods_id;
                            dialog.confirm('此次团购已结束，是否重新开团',url)
                        });
                    }
                }
                if(logistics_status == 1){
                    countDown2(order_overdue_time,current_time,$(".countDownBox"));
                    if((order_overdue_time - current_time)>0){
                        _this.find('.order_pay_btn').on('click',function(){
                            location.href = MODULE + '/Order/settlement/orderId/' + orderid;
                        });
                    }else{
                        _this.find('.order_pay_btn').text('已取消');
                        _this.find('.order_pay_btn').on('click',function(){
                            var url = MODULE + '/Goods/goodsDetail/goodsId/' + goods_id;
                            dialog.confirm('重新购买',url)
                        });
                    }
                }
            });
        });
    </script>
</block>