<extend name="Public:base" />

<block name="title">订单结算</block>
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!--代金券模板-->
    <div id="vouchersUseList" style="display:none;">
        <section class="purchase_voucher">
            <p>使用规则：一次只能用一张；请在有效日期前使用</p>
            <include file="Public/couponsList" />
        </section>
    </div>
    <article class="msh_product_picture f24">
        <section class="purchase_head_title">
            <h2>订单金额</h2>
        </section>
        <section class="purchase_voucher_option" >
            <div class="order_amount_item">订单金额：<i>￥</i><span><price>{$orderInfo.amount}</price></span></div>
            <div class="purchase_v_item">
                <a href="javascript:void(0);" class="voucher_number" data-id="">可使用的代金券<span>(现有{$couponsNum}张)</span></a>
            </div>
            <div class="purchase_v_item purchase_v_discount">
                <span>可抵扣金额：</span>
                <span class="voucherListValue">-￥<price>0</price></span>
            </div>
            <div class="purchase_v_item">使用采购充值账户自动扣除
                <span>(余额￥<price class="purchase_balance">{$wallet.amount}</price>)</span>
            </div>
            <div class="purchase_v_item purchase_v_discount">
                <span>可扣除金额：</span>
                <span>-￥<price class="deduction_purchase_money">0</price></span>
            </div>
        </section>
        <section class="purchase_v_pay">
            <div class="amount_pay">需支付金额：
                <span>￥<price>0</price></span>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <footer class="f24 group_cart_nav">
        <a href="javascript:void(0);" class="bff6482 group_btn100 settlement">结算支付</a>
    </footer>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            var vouchersUseList=$('#vouchersUseList').html();
            $('body').on('click','.voucher_number',function(){
                var voucherLayerValue;
                var voucherId;
                var voucherNumber;
                layer.open({
                    btn:['确定','取消'],
                    title:['可用的代金券','border-bottom:1px solid #d9d9d9;'],
                    className:'purchase_voucher_layer',
                    content:vouchersUseList,
                    success:function(){
                        $('.purchase_voucher_layer .purchase_voucher_item').on('click',function(){
                            $(this).addClass('current').siblings().removeClass('current');
                            voucherLayerValue=$(this).find('.p_voucher').find('price').text();
                        });
                        $.each($('.purchase_voucher_layer .purchase_voucher_item'), function(i,val){
                            var layerVoucherId=$(this).data('id');
                                voucherNumberId=$('.voucher_number').data('id');
                            if(layerVoucherId==voucherNumberId){   
                                $(this).unbind("click").css({backgroundColor:'#999',color:'#333'});
                                $(this).addClass('current').siblings().removeClass('current');
                            }
                        });
                    },
                    yes:function(index){
                        voucherId=$('.purchase_voucher_item.current').data('id');
                        $('.voucher_number').data('id',voucherId);
                        $('.voucherListValue').find('price').text(voucherLayerValue);
                        var voucherValueObj=parseInt(voucherLayerValue);
                        calculateOrderAmount(parseInt(voucherValueObj));
                        layer.close(index);
                    }
                });
            });

            //结算支付
            $('body').on('click','.settlement',function(){
                var postData = {};
                postData.orderId = '{$Think.get.orderId}';
                postData.couponsId = $('.voucher_number').data('id');
                $.ajax({
                    type:'post',
                    url:ACTION,
                    data:postData,
                    beforeSend:function (xhr) {
                        $('#loading').show();
                    },
                    error:function(){
                        $('#loading').hide();
                        dialog.error('AJAX错误');
                    },
                    success:function(data){
                        $('#loading').hide();
                        if(data.status==0){
                            dialog.error(data.info);
                        }else if(data.status==1){
                            //去支付
                            if(data.wxPay){
                                location.href = MODULE + '/WxPay/orderPayment/orderId/' + postData.orderId;
                            }else{
                                location.href = CONTROLLER + '/payComplete';
                            }
                        }
                    }
                });
            });
        });

        calculateOrderAmount();
        //计算订单金额
        function calculateOrderAmount(voucherAmount){
            var order_amount = $('.order_amount_item').find('price').text();
            if(!isMoney(order_amount)){
                dialog.error('订单金额不是金额');
                return false;
            }
            var allAmount=0;
            var purchaseBalance=$('.purchase_balance').text();
            $.each($('.purchase_v_discount'),function(){
                var _this=$(this);
                var total=parseFloat(_this.find('price').text());
                allAmount +=total;
                if(order_amount-allAmount>0){
                    if(order_amount-allAmount-purchaseBalance>0){
                        $('.deduction_purchase_money').text(purchaseBalance);
                        $('.amount_pay price').text(order_amount-allAmount-purchaseBalance);
                        return false;
                    }else{
                        $('.deduction_purchase_money').text(order_amount-allAmount);
                        return false;
                    }
                    $('.amount_pay price').text(order_amount-allAmount);
                }else{
                    $('.voucherListValue price').text(order_amount);
                    $('.amount_pay price,.deduction_purchase_money').text(0);
                    return false;
                }
            });
        }
    </script>
</block>