<script type="text/javascript" src="PUBLIC_JS/mall/footerCart.js"></script>
<footer class="f24 group_cart_nav">
    <volist name="unlockingFooterCart" id="vo">
        <notempty name="vo.share">
            <!--分享-->
            <div class="group_btn25 bfff">
                <a href="javascript:void(0);" class="share_column share"><span class="s_i"></span>分享</a>
            </div>
        </notempty>
        <notempty name="vo.shopping_basket">
            <!--购物篮-->
            <div class="group_btn25 bfff">
                <a href="javascript:void(0);" class="share_column shopping_cart_column shopping_basket"><span class="s_c"><i>5</i></span></a>
            </div>
        </notempty>
        <notempty name="vo.amount">
            <!--总价-->
            <div class="group_btn50 bfff">
                <span class="goods_total_price amount">￥<price>0.00</price></span>
            </div>
        </notempty>
        <notempty name="vo.add_cart">
            <!--加入购物车-->
            <a href="javascript:void(0);" class="bff6482 group_btn50 add_cart">加入购物车</a>
        </notempty>
        <notempty name="vo.clearing_now">
            <!--立即结算-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 clearing_now"><i class="collect"></i>立即结算</a>
        </notempty>
        <notempty name="vo.buy_now">
            <!--立即购买-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 buy_now"><i class="collect"></i>立即购买</a>
        </notempty>
        <notempty name="vo.determine_order">
            <!--确定订单-->
            <a href="javascript:void(0);" class="group_btn50 bff1d25 determine_order"><i class="collect"></i>确定订单</a>
        </notempty>
        <notempty name="vo.pay_now">
            <!--立即支付-->
            <a href="javascript:void(0);" class="group_btn100 bff1d25 pay_now"><i class="collect"></i>立即支付</a>
        </notempty>
    </volist>
</footer>