<section id="areaLayer" class="express-area-box cart" style="display:none;">
    <div class="purchase_goods_module f24 goodsInfo">
        <ul class="goods_list"></ul>
    </div>
    <include file="Cart/footerCartMenuSingle" />
</section>
<div id="areaMask" class="mask" data-show="0"></div>
<script type="text/javascript">
    $(function () {
        //购物车点击
        $('body').on('click','.shopping_cart',function(){
            if(!$('.mask').data('show')){
                $('html,body').css({"height":"100%","overflow":"hidden"});//动态阻止body页面滚动
                $('.mask').show().css({position:'fixed'});
                $('.mask').on('touchstart',function(e){
                    alert(1);
                    e.preventDefault(); 
                })
                $('.mask').data('show',1);
                $('.group_cart_toggle').css({display:'flex',zIndex:21});
                $('.express-area-box').css({bottom:0+'px',display:'block',position:'fixed',zIndex:19});
                if($('.shoppingCart_form ul').height()>420){
                    $('.shoppingCart_form ul').css({"max-height":4.5+'rem'});
                }
            }else{
                $('html,body').css({"overflow":"auto"});
                $('.mask').hide();
                $('.express-area-box').css({bottom:'-100%',display:'none'});
                $('.mask').data('show',0);
                $('.group_cart_toggle').hide();
            }
            //先清空
            $('.gshopping_count').val(0);
            $('.goods_total_price').find('price').text(0);
            var _li = $(this).parents('li');
            var url = MODULE + '/Goods/goodsInfo';
            var postData = {};
            postData.goodsId = _li.data('id');
            $.ajax({
                url: url,
                data: postData,
                type: 'get',
                beforeSend: function(){
                    $('.loading').show();
                },
                error:function(){
                    $('.loading').hide();
                    dialog.error('AJAX错误');
                },
                success: function(data){
                    $('.loading').hide();
                    if(data){
                        $('ul.goods_list').html(data);
                    }
                }
            });
        });
        //弹框关闭
        $('body').on('click','.mask,.closeBtn',function(){
            $('html,body').css({"overflow":"auto"});
            $('.mask').hide();
            $('.group_cart_toggle').hide();
            $('.express-area-box').css({bottom:'-100%',display:'none'});
            $('.mask').data('show',0);
        });
    });
</script>