.studio_wrapper{background: #f2f2f2;}
.studio_banner_img{width:100%;}
.studio_banner_img img{width: 100%;height: 100%;vertical-align: middle;}
.studio_wrapper .studio_module{background: #fff;padding:0 0 0 0.20rem;margin:0 0 0.15rem 0;}
.studio_info_item{padding:0.15rem 0;border-bottom:1px solid #d9d9d9;}
.slide_banner{background: #fff;}
.studio_distance{
    display: -webkit-flex;
    justify-content: space-between;
    margin:0 0.25rem 0 0;
}
.studio_distance i,.studio_distance_info i{
    display: inline-block;
    vertical-align: middle;
    width:18px;
    height:22px;
    background-image:url(../../img/common/studio_icon.png);
    background-repeat: no-repeat;
    background-size: 24px 70px;
}
.studio_distance i.binding{
    width:22px;
    height:24px;
    background-position:0 -25px;
}
.studio_wrapper .studio_title{
    background: #fff;
    text-align:center;
    padding:0.15rem 0;
    margin:0 0 0.15rem 0;
}
.skin_studio{
    background: #fff;
    padding:0.15rem 0;
    margin:0 0 0.15rem 0;
}
.skin_studio_title{
    padding:0.15rem 0 0.15rem 0;
    border-bottom:1px solid #d9d9d9;
}
.studio_info_list li{padding:0.15rem 0;border-bottom:1px solid #d9d9d9;}
.studio_info_r{margin:0 0 0 1.8rem;}
.studio_info_list img{max-width:1.5rem;float:left;}
.studio_distance_info{
    display:-webkit-flex;
    justify-content: space-between;
}
.view_studio{display: block;text-align: center;margin:0.15rem 0 0;color:#22ac38;}
.set_default{margin:0 0.12rem 0 0;color:#22ac38;border:1px solid #22ac38;border-radius: 0.05rem;}
/*员工搜索*/
.search_employee_part{display: flex;display: -webkit-flex;background:#fff;border:1px solid #d9d9d9;margin:0 0.18rem;border-radius:0.05rem;-webkit-border-radius:0.05rem;}
.search_employee_part .search_epy{flex:4;padding:0.18rem 0 0.18rem 0.15rem;background:none;}
.search_employee_part .search_btn{flex:1;border-left:1px solid #d9d9d9;border-radius:0;background:none;background-image:url(../../img/common/search.png);background-repeat: no-repeat;background-position:center;background-size:30px 29px;}
.check_n_person{display:block;padding:0.25rem 0 0 0.32rem;}
.change_city,.nearby_studio{
    display: block;
    padding:0.15rem 0 0.15rem 0.18rem;
    border-bottom:1px solid #d9d9d9;
    position:relative;
    color:#333;
}
.change_city::after,.nearby_studio::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:35%;
    right:0rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #999;
    border-left:.12em solid #999;
    -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
/*城市切换*/
.showLetter{
    position: fixed;
    color:#00C7C7;
    width: 50px;
    height:50px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    border: #00C7C7 1px solid;
    text-align: center;
    display: none;
}
.showLetter span{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}
/*城市弹层*/
.studio_city_container{position:fixed;top:0;left:0;width:100%;background: #fff;display: none;}
.container{width:90%;overflow-y:auto;overflow-x:hidden;}
.letter{width:auto;position:fixed;top:6%;right:10px;text-align:center;}
.letter ul{list-style-type:none;}
.letter ul li a{text-decoration:none;color:#00C7C7;font-size: 18px;display: block;}
.city{width:90%;overflow:hidden;padding:0 20px;}
.city-list{width:100%;}
.city-list .city-letter{font-size:20px;display:inline-block;padding-top:15px;padding-bottom:5px;border-bottom:1px solid #e8ecf1;width:100%;}
.city-list p{color:#afafaf;width:95%;height:50px;line-height:50px;border-bottom:1px solid #e8ecf1;cursor:pointer;}
.UISelect{margin-top:5px}
/*项目详情页*/
.studio_project_img{width:100%;height:100%;}
.studio_project_img img{width:100%;vertical-align: middle;}
.studio_project_item{background: #fff;margin:0 0 0.15rem 0;padding:0 0 0 0.18rem;}
.project_minutes,.studio_project_item .s_p_address{padding:0.18rem 0;display: -webkit-flex;display:flex;justify-content: space-between;}
.studio_project_name .s_p_n{padding:0.15rem 0 0.08rem;}
.studio_project_name .s_price{padding:0 0 0.12rem 0;}
.studio_project_name .s_price span{color:#ff7bac;}
.studio_project_name .s_p_intro{padding:0.15rem 0 0;border-top:1px solid #d9d9d9;}
.s_p_address{padding:0 0 0.15rem 0;border-bottom:1px solid #d9d9d9;}
.s_p_address a{color:#333;}
.change_studio,.select_date{position:relative;}
.change_studio::after,.select_date::after{
    content:'';
    display:inline-block;
    position:absolute;
    top:35%;
    right:0rem;
    width:.5em;
    height:.5em;
    border-bottom:.12em solid #999;
    border-left:.12em solid #999;
    -webkit-transform:translate(-70%) rotateZ(-133deg);-moz-transform:translate(-70%) rotateZ(-45deg);
    -ms-transform:translate(-70%) rotateZ(-45deg);
}
.change_studio{padding:0 0.25rem 0 0;}
.select_date{display: block;width:100%;}
.studioInfoLayer .layui-m-layercont,.studioDateLayer .layui-m-layercont{padding:0.15rem;text-align:left;}
.binding_studio{border-bottom:1px solid #d9d9d9;padding:0 0 0.12rem 0;}
.studioInfoLayer .studio_info_list li.current,
.studio_date li.current,
.studio_time li.current{background:#22ac38;color:#fff;}
.studio_date ,.studio_time{overflow:hidden;}
.studioDateLayer span,
.studioDateLayer span{display:inline-block;margin:0 0 0.12rem 0;}
.studio_date li,.studio_time li{margin:0 0.20rem 0.18rem 0;padding:0.05rem 0.10rem;width:1rem;text-align: center;float:left;border:1px solid #22ac38;color:#22ac38;border-radius:0.08rem;}
.studio_date li{}
.studio_time li{}
.layui-m-layercont .date-item,.layui-m-layercont .time-item{color:#ff0000;margin:0 0 0 0.12rem;}