<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <include file="Public/shopAddress" />
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary inhi bit_btn">完成</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            var storeAddress = $('#storeAddress');
            storeAddress.show().addClass('store_ad_layer');

            var form = storeAddress.find('#form1');
            var headShop={:json_encode($headShop)};

            form.find('[name=name]').val(headShop.name);
            form.find('[name=receptionist_mobile]').val(headShop.receptionist_mobile);
            form.find('[name=address]').val(headShop.address);
            form.find('[name=fixed_phone]').val(headShop.fixed_phone);
            form.find('[name=shopId]').val(headShop.id);
            form.find('[name=shopType]').val(headShop.type);

            //完成点击
            $('body').on('click','.weui_btn_primary',function(){
                var content = '';
                if(!form.find('[name=name]').val()){
                    content = '请填写门店名称！';
                }else if(!isMobilePhone(form.find('[name=receptionist_mobile]').val())){
                    content = '请输入正确的手机号码';
                }
                if(content){
                    layer.open({
                        content: content,
                        skin:'msg',
                        time: 2
                    });
                    return false;
                }

                $.post('smallShop',form.serialize(),function(msg){
                    layer.open({
                        content: msg.info,
                        skin:'msg',
                        time: 2
                    });
                });
            });
        });
    </script>
</block>