<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <include file="Public/shopEdit" />
    <section class="msy_sign_title f20">
        <h2>编辑分公司({$companyName})的门店地址</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f20 edit_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加门店地址
            </a>
            <a href="javascript:void(0);" class="del_a">
                <span class="del_ad"></span>
                删除门店地址
            </a>
            <a href="javascript:void(0);" class="up_a">
                <span class="up_ad"></span>
                修改门店地址
            </a>
        </nav>
    </section>
    <!--编辑地址动态追加列表-->
    <ul class="f24 store_ad_list" >
        <include file="Public/shopList" />
    </ul>

    <p class="f24 edit_ad_tipc">注：编辑完所有门店地址后再按完成</p>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:location.href='previewOrganizationArchive';">完成</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            var shopEdit=$('#shopEdit').html();
            var companyId = '{$companyId}';

            //添加门店地址
            $('body').on('click','.add_a',function(){
                layer.open({
                    type:1,
                    btn:['确定','取消'],
                    title:['增加门店地址','border-bottom:1px solid #d9d9d9;'],
                    className:'store_ad_layer',
                    content:shopEdit,
                    success:function(){
                        $('.mod_btn').css('display','none');
                        $('.del_btn').css('display','none');
                    },
                    yes: function(index){
                        var layerForm = $('.store_ad_layer').find('#form1');
                        var addStoreJson={
                            storeName:layerForm.find('.store_name').val(),
                            storeAddress:layerForm.find('.store_address').val(),
                            storeFixed:layerForm.find('.store_fixed').val(),
                            storePhone:layerForm.find('.store_phone').val()
                        };
                        var content = '';
                        if(!addStoreJson.storeName){
                            content = '请输入门店名称';
                        }else if(!isMobilePhone(addStoreJson.storePhone)){
                            content = '请输入正确的美容预约对接人手机号码';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }

                        var postData = layerForm.serializeObject();
                        postData.companyId = companyId;
                        var logo = layerForm.find('img').attr('src');
                        if(logo){
                            postData.logo = logo;
                        }

                        $.post(ACTION,postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else{
                                var shopUl = $('.store_ad_list');
                                shopUl.find('li.empty').remove();
                                shopUl.prepend(msg);
                                $('.del_btn,.mod_btn').css('display','none');
                                layer.close(index);
                            }
                        });
                    }
                });
            });

            //修改门店地址
            $('.up_a').on('click',function(){
                $('.mod_btn').css('display','block');
                $('.del_btn').css('display','none');
            });
            $('body').on('click','.mod_btn',function(){
                var _thisUl = $(this).parents('ul');
                var _thisLi = $(this).parents('li');
                layer.open({
                    type:1,
                    title:'修改门店地址',
                    className:'store_ad_layer',
                    btn:['确定','取消'],
                    content:shopEdit,
                    success:function(){
                        //赋值
                        var layerForm=$('.store_ad_layer').find('#form1');
                        copyDataByName(_thisLi,layerForm);
                        var logo = _thisLi.find('[name=logo]').val();
                        if(logo){
                            layerForm.find('img').attr('src',UPLOAD + logo);
                        }
                        var identified = _thisLi.find('[name=identified]').val();
                        if(identified==1){
                            layerForm.find('.location_identify').find('i').attr('class','already_marked').text('已标识');
                        }
                    },
                    yes:function(index){
                        var layerForm = $('.store_ad_layer').find('#form1');
                        var addStoreJson={
                            storeName:layerForm.find('.store_name').val(),
                            storeAddress:layerForm.find('.store_address').val(),
                            storeFixed:layerForm.find('.store_fixed').val(),
                            storePhone:layerForm.find('.store_phone').val()
                        };

                        var content = '';
                        if(!addStoreJson.storeName){
                            content = '请输入门店名称';
                        }else if(!isMobilePhone(addStoreJson.storePhone)){
                            content = '请输入正确的美容预约对接人手机号码';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }

                        var postData = layerForm.serializeObject();
                        postData.companyId = companyId;
                        var logo = layerForm.find('img').attr('src');
                        if(logo){
                            postData.logo = logo;
                        }

                        $.post(ACTION,postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else{
                                var shopId = $(msg).find('[name=shopId]').val();
                                $.each(_thisUl.find('li'),function(){
                                    if($(this).find('[name=shopId]').val() == shopId){
                                        $(this).replaceWith(msg);
                                        $('.mod_btn').css('display','block');
                                    }
                                });
                                layer.close(index);
                            }
                        });
                    }
                });
            });

            //删除门店地址
            $('.del_a').on('click',function(){
                $('.del_btn').css('display','block');
                $('.mod_btn').css('display','none');
            });
            $('body').on('click','.del_btn',function(){
                var _thisLi = $(this).parents('li');
                var id = _thisLi.find('[name=shopId]').val();
                var companyId =_thisLi.find('[name=company_id]').val();
                var content = _thisLi.find('.s_n_val').text();

                layer.open({
                    content:'确定删除选定的门店'+content+'？',
                    btn:['确定','取消'],
                    yes:function(index){
                        var postData = {'shopId':id,'companyId':companyId};
                        $.post('delShop',postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                _thisLi.remove();
                                layer.close(index);
                            }
                        });
                    }
                });
            });

            // 上传门店形象图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();

                // 判断是否图片
                if(!img){
                    return false;
                }
                // 判断图片格式
                var imgRegExp=/\.(?:jpg|jpeg|png|gif)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、jpeg、png、gif格式图片',
                        time:2
                    }) ;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    var postData = {img: e.target.result};
                    postData.imgWidth = 145;
                    postData.imgHeight = 100;
                    $.post("uploadImgToTemp", postData,function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else{
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                        }
                    },'json');
                }
            });

            //对门店地址进行人工地图标位
            $('body').on('click','.store_map',function () {
                var _thisUl = $(this).parents('ul');
                var addr = _thisUl.find('.store_address').val();
                var shopId = _thisUl.find('[name=shopId]').val();

                location.href = 'baiduMap?addr=' + addr + '&shopId=' + shopId;
            });
        });
    </script>
</block>