
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <include file="Public/editCompany" />
    <section class="msy_sign_title f20">
        <h2>编辑美容机构分公司</h2>
    </section>
    <section class="edit_store_address">
        <nav class="f20 edit_nav">
            <a href="javascript:void(0);" class="add_a">
                <span class="add_ad"></span>
                增加分公司
            </a>
            <a href="javascript:void(0);" class="del_a">
                <span class="del_ad"></span>
                删除分公司
            </a>
            <a href="javascript:void(0);" class="up_a">
                <span class="up_ad"></span>
                修改分公司
            </a>
        </nav>
    </section>
    <!--编辑地址动态追加列表-->
    <ul class="f24 store_ad_list" >
        <include file="Public:companyList"/>
    </ul>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //添加公司地址
            var branchAdd=$('#storeBranch').html();
            $('body').on('click','.add_a',function(){
                $('.del_btn,.mod_btn').css('display','none');
                $('.edit_store_ad').show();
                var addLayer = layer.open({
                    btn:['确定','取消'],
                    title:['增加分公司','border-bottom:1px solid #d9d9d9;'],
                    className:'store_ad_layer',
                    content:branchAdd,
                    yes: function(index){
                        var layerForm=$('div[index='+index+']').find('#form1');
                        var addStoreJson={
                            storeCompany:layerForm.find('.store_name').val()
                        };

                        var content = '';
                        if(!addStoreJson.storeCompany){
                            content = '请填写公司名称！';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }

                        var postData = layerForm.serializeObject();
                        $.post(ACTION,postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                var branchList=$('#storeBranchList');
                                branchList.find('.b_n_val').text(addStoreJson.storeCompany);
                                branchList.find('[name=companyId]').val(msg.id);
                                branchList.find('[name=companyType]').val('1');

                                var store_ad_list = $('.store_ad_list');
                                store_ad_list.find('li.empty').remove();
                                store_ad_list.prepend(branchList.html());
                                layer.close(addLayer);
                            }
                        });
                    }
                });
            });

            //修改公司地址
            $('.up_a').on('click',function(){
                $('.mod_btn').css('display','block');
                $('.del_btn').css('display','none');
                $('.edit_store_ad').hide();
            });
            $('body').on('click','.mod_btn',function(){
                var _this=$(this);
                var modLayer = layer.open({
                    title:'修改公司地址',
                    className:'store_ad_layer',
                    btn:['确定','取消'],
                    content:branchAdd,
                    yes:function(index){
                        var layerForm=$('div[index="'+index+'"]').find('#form1');
                        var addStoreJson={
                            name:layerForm.find('.store_name').val()
                        };

                        var content = '';
                        if(!addStoreJson.name){
                            content = '请填写分公司名称！';
                        }
                        if(content){
                            layer.open({
                                content: content,
                                skin:'msg',
                                time: 2
                            });
                            return false;
                        }

                        var postData = {};
                        $.post(ACTION,postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                _this.parent().find('.b_n_val').text(addStoreJson.name);
                                layer.close(modLayer);
                            }
                        });
                    }
                });
                //列表值赋值给弹层对应的值
                $('.store_name').val(_this.parent().find('.b_n_val').text());
                $('[name=companyId]').val(_this.parent().find('[name=companyId]').val());
                $('[name=companyType]').val(_this.parent().find('[name=companyType]').val());
            });

            //删除公司地址
            $('.del_a').on('click',function(){
                $('.del_btn').css('display','block');
                $('.mod_btn').css('display','none');
                $('.edit_store_ad').hide();
            });
            $('body').on('click','.del_btn',function(){
                var _this=$(this);
                var id=_this.parent().find('[name=companyId]').val();
                var type=_this.parent().find('[name=companyType]').val();
                var content = _this.parent().find('.b_n_val').text();

                layer.open({
                    content:'确定删除选定的分公司：'+content+'？',
                    btn:['确定','取消'],
                    yes:function(index){
                        var postData = {companyId:id,companyType:type};
                        $.post('delCompany',postData,function(msg){
                            if(msg.status == 0){
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time: 2
                                });
                                return false;
                            }else if(msg.status == 1){
                                _this.parent().remove();
                                layer.close(index);
                            }
                        });
                    }
                });
            });
            //编辑分公司门店
            $('body').on('click','.edit_store_ad',function(){
                var companyId = $(this).parent().find('[name=companyId]').val();
                var companyName = $(this).parent().find('.b_n_val').text();
                location.href = 'editShopList?companyId='+companyId+'&companyName='+companyName;
            });
        });
    </script>
</block>