
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <div id="uploadPicture">
        <div class="uploadImg_cell f20">
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_0">
                    <empty name="company.figure_url_0">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_0}"/>
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_1">
                    <empty name="company.figure_url_1">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_1}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_2">
                    <empty name="company.figure_url_2">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_2}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_3">
                    <empty name="company.figure_url_3">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_3}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_4">
                    <empty name="company.figure_url_4">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_4}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_5">
                    <empty name="company.figure_url_5">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_5}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_6">
                    <empty name="company.figure_url_6">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_6}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
            <div class="upload_item image_photo">
                <div class="upload_td ">
                    <input type="file" class="uploadImg" name="figure_url_7">
                    <empty name="company.figure_url_7">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.figure_url_7}" />
                    </empty>
                    <span class="upload_pic">点击上传图片</span>
                </div>
            </div>
        </div>
    </div>
    <form id="form1">
        <div class="register_info">
            <div class="uploadImg_map f20">
                <div class="upload_td msy_image_map">
                    <input type="file" class="uploadImg" name="logo">
                    <empty name="company.logo">
                        <img class="upload_img" src="">
                        <else />
                        <img class="upload_img" src="__ROOT__/Uploads/{$company.logo}" />
                    </empty>
                    <span class="replace_tips">点击可更换机构形象图</span>
                </div>
            </div>
            <section class="f24 msy_basis">
                <ul>
                    <li>
                        <label>美容机构全称</label>
                        <input type="text" name="name" value="{$company.name}" placeholder="美容机构全称" class="organiza_name">
                    </li>
                    <li>
                        <label>美容机构简称</label>
                        <input type="text" name="shorten_name" value="{$company.shorten_name}" placeholder="美容机构简称" class="organiza_jc">
                    </li>
                    <li>
                        <label>美容机构简介</label>
                        <input type="text" name="intro" value="{$company.intro}" class="base_intro" placeholder="编辑美容机构简介"/>
                    </li>
                    <li>
                        <label>美容机构形象</label>
                        <a href="javascript:" class="base_img">上传美容机构形象照片（最多8张）</a>
                    </li>
                </ul>
            </section>
            <div class="weui_btn_area">
                <a class="weui_btn weui_btn_primary upload_comfirm" href="javascript:void(0);" data-id="{$company.id}">确定</a>
            </div>
        </div>
    </form>
</block>
<block name="js-customize">
    <!--编辑简介弹窗-->
    <script type="text/javascript">
        $(function(){
            // 上传图片
            $('body').on('change','.uploadImg',function(){
                var img = event.target.files[0];
                var obj=$(this).parent();
                var name = $(this).attr('name');

                // 判断是否图片
                if(!img){
                    return ;
                }

                // 判断图片格式
                var imgRegExp=/\.(?:jpg|png|gif|jpeg)$/;
                if(!(img.type.indexOf('image')==0 && img.type && imgRegExp.test(img.name)) ){
                    layer.open({
                        content:'请上传：jpg、png、gif格式图片',
                        time:2
                    }) ;
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(img);
                reader.onload = function(e){
                    var imgUrl=e.target.result;
                    $(obj).addClass('active');
                    $.post("uploadCompanyFigure", { img: e.target.result,uploadType : name},function(msg){
                        if(msg.status == 0){
                            layer.open({
                                content:msg.info,
                                time:2
                            });
                            return false;
                        }else {
                            $(obj).find('img').attr('src',UPLOAD + msg.info);
                        }
                    },'json');
                }
            });

            //编辑简介
            $('.base_intro').on('click',function(){
                var editIntro=$(this).val();
                layer.open({
                    title:['编辑美容机构简介','border-bottom:1px soild #d9d9d9;'],
                    className:'edit_intro_layer',
                    content:'<textarea placeholder="美容机构简介..." value="" class="edit_content">'+editIntro+'</textarea>',
                    btn:'确定',
                    yes: function(index){
                        $('.base_intro').val($('.edit_content').val());
                        layer.close(index);
                    }
                });
            });

            //上传图片弹窗
            $('.base_img').on('click',function(){
                var uploadPic=$('#uploadPicture').html();
                layer.open({
                    title:['上传美容机构形象照片（最多8张）','border-bottom:1px solid #d9d9d9;'],
                    className:'edit_intro_layer',
                    content:uploadPic,
                    btn:['确定','取消'],
                    success:function (index) {
                        var urlArr = $('.base_intro').data('urlArr');
                        if(urlArr){
                            $.each($('.upload_td'),function (i,o) {
                                var name = $(this).find('input').attr('name');
                                $(this).find('img').attr('src',urlArr[name]);
                            });
                        }
                    },
                    yes:function(index){
                        var urlArr = [];
                        $('.upload_td').each(function () {
                            var name = $(this).find('input').attr('name');
                            var src = $(this).find('img').attr('src');
                            if(src){
                                urlArr[name] = src;
                            }
                        });
                        $('.base_intro').data('urlArr',urlArr);
                        layer.close(index);
                    }
                })
            });

            //确定
            $('.upload_comfirm').on('click',function(){
                var organizaName=$('.organiza_name').val();
                var organizaJc=$('.organiza_jc').val();
                var jcTextarea=$('.base_intro').val();

                var content='';
                if(!organizaName){
                    content="请输入机构全称";
                }else if(!organizaJc){
                    content="请输入机构简称";
                }else if(!jcTextarea){
                    content="请编辑机构简介";
                }

                if(content){
                    layer.open({
                        content:content,
                        time: 2
                    });
                    return false;
                }

                var postData = $('#form1').serializeObject();

                var companyId = $(this).data('id');
                if(companyId){
                    postData.companyId = companyId;
                }
                $.post(CONTROLLER + '/editOrganization',postData,function (msg) {
                    if(msg.status == 1){
                        layer.open({
                            type: 0,
                            title: '提示',
                            area : ['800px' , '480px'],
                            btn: ['确定', '取消'],
                            yes: function(index){
                                location.href = CONTROLLER+'/previewOrganization';
                                layer.close(index);
                            },
                            content: '编辑完成，可在预览栏查看资料'
                        });
                    }else{
                        layer.open({
                            content:msg.info,
                            time: 2
                        });
                    }
                });
            });
        });
    </script>
</block>