<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <h2>我的企业组织架构与岗位模型说明</h2>
    </section>
    <section class="organization_model">
        <span class="organ_title f24">组织架构</span>
        <div class="organz_level f24">
            <ul>
                <volist name="scale" id="vo"><li>{$vo.structure}</li></volist>
            </ul>
        </div>
        <span class="organ_title f24">岗位设置</span>
        <div class="post_set f24">
            <volist name="scale" id="vo">
                <span class="post_title">{$vo.explain}</span>
                <ul>
                    <volist name="vo.position" id="position">
                        <li>{$position}</li>
                    </volist>
                </ul>
            </volist>
        </div>
    </section>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary inhi bit_btn" href="javascript:void(0);" >下一步</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            $('body').on('click','.weui_btn_primary',function(){
                var scaleType = '{$scaleType}';
                var companyId = '{$companyId}';

                var url = '';
                if(scaleType == 1 || scaleType == 2){
                    url = 'singleShop';
                }else if(scaleType == 3){
                    url = 'editShopList?companyId='+companyId;
                }else if(scaleType == 4){
                    url = 'editCompanyList';
                }

                location.href = url;
            });
        });
    </script>
</block>