
<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <section class="beauty_agency_name">
        <div class="beauty_image">
            <empty name="companyInfo.logo">
                <img src="{$Think.config.PUBLIC_IMG}/home/default/organizationLogo.png" alt=""/>
                <else />
                <img src="__ROOT__/Uploads/{$companyInfo.logo}" alt=""/>
            </empty>
        </div>
        <div class="agency_name f24">
            <div><span>机构名称：</span>{$companyInfo.name}</div>
            <div><span>简称：</span>{$companyInfo.shorten_name}</div>
        </div>
    </section>
    <section class="agency_profile">
        <div class="agency_p_m f24">
            <span>美容机构简介</span>
            <p class="f20 agency_txt">{$companyInfo.intro}</p>
        </div>
    </section>
    <section class="beauty_agency_slider">
        <span class="f24">机构形象</span>
        <div id="slider">
            <div class='swipe-wrap'>
                <notempty name="companyInfo.figure_url_0">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_0}" /></div>
                </notempty >
                <notempty  name="companyInfo.figure_url_1">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_1}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_2">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_2}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_3">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_3}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_4">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_4}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_5">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_5}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_6">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_6}" /></div>
                </notempty >
                <notempty name="companyInfo.figure_url_7">
                    <div><img src="__ROOT__/Uploads/{$companyInfo.figure_url_7}" /></div>
                </notempty >
                <notempty name="companyInfo.figureSign">
                    <div><img src="{$Think.config.PUBLIC_IMG}/home/default/organizationFigure.png" /></div>
                </notempty>
            </div>
            <ul class="position">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</block>
<block name="js-customize">
    <script type="text/javascript">
        var elem = document.getElementById('slider');
        window.mySwipe = Swipe(elem, {
             auto: 3000,
            callback: function(index,element){
                //回调函数
                $(".position li").eq(index).addClass("on").siblings().removeClass("on");
            }
        });
        $(".position li").click(
            function () {
                mySwipe.slide($(this).index());
            }
        )

        $(function(){
            $(".agency_p_m").moreText({
                maxLength: 100, //默认最大显示字数，超过...
                mainCell: '.agency_txt' //文字容器
            });
        })
    </script>
</block>