<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/home/storeSettings.css">
</block>
<block name="content">
    <section class="msy_sign_title f20">
        <a href=""></a>
        <h2>我的美容机构属于单店或连锁店？</h2>
    </section>
    <section class="msy_sign_title f20">
        <div class="store_type_module store_type_init">
            <span class="store_title f28">你已初始化类型：</span>
            <notempty name="scaleType">
                <a scaleType="{$scaleType}" class="weui_btn weui_btn_plain_primary n_set_store scaleTypeOriginal">
                    <!--不设立部门的中小型·单店-->
                    <switch name="scaleType">
                        <case value="1">不设立部门的中小型·单店</case>
                        <case value="2">有设立部门的大型·单店</case>
                        <case value="3">不设立分公司的中小型·连锁店</case>
                        <case value="4">有设立分公司的大中型·连锁店</case>
                    </switch>
                </a>
            </notempty>
        </div>
    </section>
    <section class="f20">
        <div class="store_type_module store_type_init">
            <span class="store_title f28">是否需要调整为？</span>
            <volist name="list" id="vo">
                <a scaleType="{$vo}" class="weui_btn weui_btn_plain_primary scaleTypeSet">
                    <switch name="vo">
                        <case value="1">不设立部门的中小型·单店</case>
                        <case value="2">有设立部门的大型·单店</case>
                        <case value="3">不设立分公司的中小型·连锁店</case>
                        <case value="4">有设立分公司的大型·连锁店</case>
                    </switch>
                </a>
            </volist>
        </div>
    </section>
    <p class="f20 store_type_tipc">注：调整组织架构将导致原有机构门店数据的转移/删除，请慎重选择最适合你美容机构目前的组织架构</p>
</block>
<block name="js-customize">
    <!--编辑简介弹窗-->
    <script type="text/javascript">
        $(function(){
            //原来的类型
            $('body').on('click','.scaleTypeOriginal',function(){
                var scaleType = $(this).attr('scaleType');
                location.href = 'positionIllustrate?scaleType=' + scaleType;
            });

            //调整的类型
            $('body').on('click','.scaleTypeSet',function(){
                var scaleType = $(this).attr('scaleType');
                layer.open({
                    content:'确定需要调整企业组织结构吗？',
                    btn:['确定','取消'],
                    yes:function (index) {
                        $.post('scaleType',{scaleType:scaleType},function (msg) {
                            if(msg.status == 0){
                                layer.open({
                                    content:msg.info,
                                    time:2,
                                    skin:'msg'
                                });
                                return false;
                            }else{
                                location.href = 'positionIllustrate?scaleType='+scaleType;
                            }
                        });
                        layer.close(index);
                    }
                });
            });
        });
    </script>
</block>