<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <include file="PersonalCenter/agentLoginTpl" />
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <span class="my_business icon"></span>
                <a href="{:U('Agent/completeArchive')}" class="agent right-arrow">完善我的商务档案</a>
            </div>
            <div class="person_center_item">
                <span class="see_service icon"></span>
                <a href="{:U('Agent/viewPartner')}" class="agent right-arrow">查看所在城市美悦会服务中心</a>
            </div>
        </section>
        <section>
            <div class="agent_purchase_list ">
                <div class="agent_head_bar">
                    <span>优选适合礼品采购商的采购专供</span>
                    <a><i></i>采购车</a>
                </div>
                <div class="readme_tipc">
                    <div class="r_t">
                        <i class="ag"></i>
                        <span>按代理商采购价结算</span>
                    </div>
                    <div class="r_t">
                        <span class="th_r">3000+</span>
                        <span>每次采购额折后3000元起</span>
                    </div>
                    <div class="r_t">
                        <span class="th_p">产品赋码</span>
                        <span>每款产品赋码专属二维码标签</span>
                    </div>
                    <div class="r_t">
                        <i class="am"></i>
                        <span>享受代理商待遇推广返点</span>
                    </div>
                </div>
                <ul class="agent_list_wrapper goods_list"></ul>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/business/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:4,
            buyType:7,
            templateType:'photo'
        };
        var agentType = '{$agentType}';
        if(agentType==1){
            config.buyType = 6;
        }else if(agentType==2){
            config.buyType = 5;
        }else if(agentType==3){
            config.buyType = 4;
        }
        $(function(){
            //初始化
            getGoodsList(config);
        });
    </script>
</block>