<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <!-- 美悦会商城首页 -->
    <div id="slider">
        <div class='swipe-wrap'>
            <div><img src="PUBLIC_IMG/common/banner/home-banner.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner1.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner2.jpg" /></div>
            <div><img src="PUBLIC_IMG/common/banner/home-banner3.jpg" /></div>
        </div>
        <ul class="position">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <nav class="mall_function_menu navigation_module f24">
        <a href="{:U('GiftPurchase/index',array('agentType'=>3))}">
            <span class="mall_home"></span>
            礼品采购
        </a>
        <a href="{:U('Partner/index')}">
            <span class="wt_purchase"></span>
            城市合伙人
        </a>
        <a href="{:U('GiftPurchase/index',array('agentType'=>1))}">
            <span class="twitter_share"></span>
            实体店代理
        </a>
        <a href="{:U('GiftPurchase/index',array('agentType'=>2))}">
            <span class="buy_cart"></span>
            微商代理
        </a>
        <a href="{:U('PersonalCenter/index')}">
            <span class="person_center"></span>
            个人中心
        </a>
    </nav>
    <section class="f24">
        <ul class="business_product_module instructionContent"></ul>
    </section>
    <!-- 美悦会商城首页-end -->
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/common/swipe.js"></script>
    <script type="text/javascript">
        $(function(){
             //滑动轮播
            var elem = document.getElementById('slider');
                swipe(elem);
             smartScroll($('.loginLayer'), $('.loginTab'));
        });
    </script>
</block>