<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <article class="msh_product_picture f24">
        <include file="PersonalCenter/loginTpl" />
        <section class="person_center_list bottomLine">
            <div class="person_center_item">
                <span class="my_business icon"></span>
                <a href="{:U('Partner/completeArchive')}" class="agent right-arrow">完善我的商务档案</a>
            </div>
            <div class="person_center_item">
                <span class="author_agent icon"></span>
                <a href="{:U('Partner/authoriseAgent')}" class="agent right-arrow">授权我的代理商</a>
            </div>
            <div class="person_center_item">
                <span class="view_agent icon"></span>
                <a href="{:U('Partner/viewAgent')}" class="agent right-arrow">查看我的代理商</a>
            </div>
        </section>
        <section>
            <div class="agent_purchase_list ">
                <div class="agent_head_bar">
                    <span>城市合伙人进货采购专供</span>
                    <a href="{:U('Cart/index')}"><i></i>采购车</a>
                </div>
                <ul class="agent_list_wrapper goods_list"></ul>
            </div>
        </section>
    </article>
</block>
<block name="footer">
    <include file="Cart/footerCartMenu" />
</block>
<block name="script">
    <script type="text/javascript" src="PUBLIC_JS/business/goods.js"></script>
    <script type="text/javascript">
        var config = {
            pageSize:4,
            buyType:7,
            templateType:'photo'
        };
        $(function(){
            //初始化
            getGoodsList(config);
        });
    </script>
</block>