<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<block name="title"><title>{$Think.config.WEB_NAME}</title></block>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/public.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/weui.css">
	<link rel="stylesheet" type="text/css" href="__JS__/need/layer.css">

	<block name="css-customize"></block>
</head>

<body>
	<!-- 基础导航模块，子页面可覆盖 -->
	<block name="nav">
		<div class="header">
			<a class="back" href="javascript:history.go(-1)"></a>
			{$Think.config.WEB_NAME}
			<a href="{:U('index')}" class="set"></a>
		</div>
	</block>

	<div class="top_space"></div>

	<!-- 基础内容模块，子页面可覆盖 -->
	<block name="content"></block>

	<!-- 基础页脚模块，子页面可覆盖 -->
	<block name="footer">
		<!--<footer>
			<p class="f24 official_copyright">Copyright 2014-2017 美尚网络</p>
		</footer>-->
		<footer class="f24">
			<span class="icp_icon">Copyright 2017 美尚网络 粤ICP备14021421号</span>
		</footer>
	</block>

	<!--js基本插件-->
	<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__JS__/layer.js"></script>
	<script type="text/javascript" src="__JS__/swipe.js"></script>
	<script type="text/javascript" src="__JS__/public.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<script type="text/javascript" src="__JS__/dialog.js"></script>



	<script type="text/javascript">
        var MODULE = '__MODULE__';
        var ACTION = '__ACTION__';
        var CONTROLLER = '__CONTROLLER__';
        var APP = '__APP__';
        var PUBLIC = '__PUBLIC__';
	</script>


	<block name="js-customize"></block>

	<block name="script"></block>

</body></html>
