<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/selling.css">
</block>
<block name="content">
    <article class="task_list_wrapper f24">
        <section class="task_list_search">
            <div class="task_pipeline">
                <img src="__PUBLIC__/images/sellerPractitioner/msy_logo.png" alt="">
                <p>7X24小时对接店销任务</p>
                <p>免中介费助卖手服务创业</p>
            </div>
            <div class="search_employee_part clearfix">
                <input type="text" placeholder="项目名称/机构名称/门店所在城市/任务单" class="search_epy f24" value="">
                <input type="button" class="search_btn">
            </div>
        </section>
    </article>
    <article class="f24">
        <div class="taskOrderList"><ul></ul></div>
    </article>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary task_next_batch" href="javascript:void(0);">下一批</a>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function(){
            //初始化
            getTaskOrderList(postData1,taskOrderType);

            //下一批
            $('.task_next_batch').on('click',function(){
                getTaskOrderList(postData1,taskOrderType);
            });

            //搜索
            $('.search_btn').on('click',function(){
                var postData2 = {
                    keyword:$('.search_epy').val()
                };

                getTaskOrderList(postData2,taskOrderType);
            });
            
            //任务单详情
            $('body').on('click','.task_pipeline_detail',function () {
                var taskOrderId = $(this).data('id');
                location.href = CONTROLLER + '/taskOrderDetail?taskOrderId=' + taskOrderId;
            });
        });

        var taskOrderType = '{$taskOrderType}';
        var keyword = '';
        var postData1 = {
            p:1,
            pageSize:3
        };
        var isEnd = false;
        function getTaskOrderList(postData,taskOrderType){
            if(isEnd){
                layer.open({
                    content: '没有了。。。',
                    skin:'msg',
                    time: 2
                });
                return false;
            }
            if($.isNumeric(taskOrderType)){
                postData.taskOrderType = taskOrderType;
            }
            var loadLayer = 0;
            $.ajax({
                type: 'get',
                url: CONTROLLER + '/getTaskOrderList',
                dataType: 'html',
                data:postData,
                beforeSend:function(xhr){
                    loadLayer = layer.open({
                        type: 2
                    });
                },
                error:function (xhr, type){
                    layer.close(loadLayer);
                    layer.open({
                        content: 'ajax 错误！',
                        skin:'msg',
                        time: 2
                    });
                    return false;
                },
                success: function (msg){
                    layer.close(loadLayer);
                    var ul = $('.taskOrderList').find('ul').html(msg);
                    var len = ul.find('li').length;

                    if(!keyword){
                        postData.p++;
                        if(len < postData.pageSize){
                            isEnd = true;
                        }
                    }
                }
            });
        }
    </script>
</block>