<extend name="Public:base" />
<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="{$Think.config.PUBLIC_CSS}/common/sellerCompany/selling.css">
</block>
<block name="content">
    <article class="seller_sales_wrapper f24">
        <section>
            <div class="salescooperation_task">
                <span class="each_clause">任务单名称</span>
                <div class="sales_task_name">{$taskOrder.name}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">下单的店家</span>
                <div class="each_clause_detail">
                    <p class="">机构名称：<span>{$taskOrder.company_name}</span></p>
                    <p class="">地址：
                        <span>{$taskOrder.companyProvinceCityArea|province_city_area}{$taskOrder.address}</span>
                    </p>
                    <p class="">联系人：<span>{$taskOrder.registrant}</span></p>
                    <p class="">手机：<span>{$taskOrder.registrant_mobile}</span></p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">拟开展的项目</span>
                <div class="">{$taskOrder.project}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">计划日程</span>
                <div class="each_clause_detail"><span>{$taskOrder.expect_days}</span>天</div>
                <div>{$taskOrder.scheduleDate}</div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">本单分成约定</span>
                <div class="each_clause_detail">
                    <p class="">需要卖手（团队）：<span>{$taskOrder.seller_quantity}</span>人</p>
                    <p class="">卖手（团队）出场费：<span>{$taskOrder.seller_appearance_fee}</span>元</p>
                    <p class="">店家对店销现金业绩给卖手（团队）的分成比例 ：<span>{$taskOrder.seller_share_proportion}%</span></p>
                    <p class="">结款方式：<span>{$taskOrder.payment_way|paymentWay}</span></p>
                    <p class="Cooperation_agreement_terms">{$taskOrder.stipulation_instructions}</p>
                </div>
            </div>
            <div class="salescooperation_task">
                <span class="each_clause">任务指派方式</span>
                <div class="sales_task_name">{$taskOrder.seller_id|grabOrAssigned}</div>
            </div>
        </section>
    </article>
    <div class="weui_btn_area">
        <if condition="$enlistStatus neq 1">
            <a class="weui_btn weui_btn_primary seller_orders_btn" href="javascript:void(0);">我要应征</a>
        </if>
    </div>
</block>
<block name="mjs-customize">
    <script type="text/javascript">
        $(function () {
            //应征
            $('.seller_orders_btn').on('click',function(){
                var _this = $(this);
                var content='按确定即向店家递交该任务单的应征申请，<br/>然后在待签约任务单栏查看签约结果。';
                if(content){
                    layer.open({
                        title:['确定应征？','border-bottom:1px solid #d9d9d9;'],
                        content:content,
                        btn:['确定'],
                        yes:function (index) {
                            var taskOrderId = '{$taskOrder.id}';
                            var postData = {};
                            postData.taskOrderId = taskOrderId;
                            $.post(CONTROLLER + '/enlist',postData,function (msg) {
                                layer.open({
                                    content: msg.info,
                                    skin:'msg',
                                    time:2
                                });
                                if(msg.status ==1){
                                    _this.remove();
                                }
                            });
                        }
                    });
                }
            });
        });
    </script>
</block>