{extend name="template/base.html" /}
{block name="css-customize"}
{/block}
{block name="content"}
<div class="f24">
    <section class="top_cols columns_flex l-r-sides">
		<span>机构名称<span></span>XXXXXXXX</span>
		<span>
			<a href="javascript:void(0);">黑森森 ></a>
		</span>
    </section>
	<nav>
		<ul>
			<li>
				<a href="javascript:void(0);">门店创客</a>
			</li>
			<li>
				<a href="javascript:void(0);">已解除创客</a>
			</li>
			<li>
				<a href="javascript:void(0);">门店创客</a>
			</li>
		</ul>
	</nav>
	<section>
		<a href="javascript:void(0);" class="right-arrow">门店新零售创客资格授权</a>
		<div>
			<span>创客名单</span>
			<span>100人</span>
		</div>
		<ul>
			<li></li> 
		</ul>
	</section>
</div>
{/block}
{block name="common"}

{/block}
{block name="footer"}{/block}
{block name="script"}
<script type="text/javascript" src="api_common_js/swipe.js"></script>
<script type="text/javascript" src="public_js/jquery.area.js"></script>
<script type="text/javascript" src="index_js/franchise.js"></script>
{/block} 