{extend name="template/base.html" /}
{block name="content"}
<!--增加创客资格授权-->
<section id="makersQualificationSection" style="display:none;">
	<form class="makersQualificationForm">
		<div class="account-field">
			<span class="content-label">姓名</span>
			<input type="text" class="" placeholder="姓名" name="name">
		</div>
		<div class="account-field">
			<span class="content-label">手机号码</span>
			<input type="tel" class="" placeholder="手机号码" name="mobile_phone">
		</div>
		<p>说明：加盟店仅对关注其自媒体公众号的用户有授权创客资格的管理权</p>
	</form> 
</section>
<div class="f24">
    <section class="top_cols columns_flex l-r-sides">
		<span>机构名称<span></span>XXXXXXXX</span>
		<span>
			<a href="javascript:void(0);">黑森森 ></a>
		</span>
    </section>
	<nav class="top_ul">
		<ul class="columns_flex l-r-sides">
			<li class="current">
				<a href="javascript:void(0);">门店创客</a>
			</li>
			<li>
				<a href="javascript:void(0);">已解除创客</a>
			</li>
			<li>
				<a href="javascript:void(0);">门店创客</a>
			</li>
		</ul>
	</nav>
	<section class="content-padding">
		<a href="javascript:void(0);" class="maker_qualifications right-arrow">门店新零售创客资格授权</a>
		<form class="">
			<div class="search_module_bar">
				<input type="button" class="search_btn left">
				<input type="text" class="search_text left" placeholder="输入姓名/岗位/手机号搜索账号">
			</div>
		</form>
		<div class="columns_flex l-r-sides">
			<span>创客名单</span>
			<span>100人</span>
		</div>
		<ul class="list">
			<li></li> 
		</ul>
	</section>
</div>
{/block}
{block name="common"}
{/block}
{block name="footer"}{/block}
{block name="script"}
{/block} 