<extend name="Public:base" />

<block name="css-customize">
    <link rel="stylesheet" type="text/css" href="PUBLIC_CSS/home/mall.css">
</block>
<block name="content">
    <input type="button" value="测试立即购买" class="aa" />
</block>
<block name="footer">
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            //立即结算
            $('body').on('click','.aa',function(){
                var postData = {};
                var url = MODULE + '/Order/generate';
                $.ajax({
                    url: url,
                    data: postData,
                    type: 'post',
                    beforeSend: function(){
                        $('.loading').show();
                    },
                    error:function(){
                        dialog.error('AJAX错误');
                    },
                    success: function(data){
                        $('.loading').hide();
                        if(data.status == 0){
                            if(data.url){
                                location.href = data.url;
                            }else{
                                dialog.error(data.info);
                            }
                        }else if(data.status == 1){
                            if(data.info=='isAjax'){
                                loginDialog();
                            }else{
                                location.href = MODULE + '/Payment/settlement/orderId/' + data.id;
                            }
                        }
                    }
                });
            });
        });
    </script>
</block>